nav-fim-tssws-organisasjon-v4-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/fellesregistre/tssws_organisasjon/v4/meldinger/meldinger.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/meldinger" xmlns="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/meldinger" xmlns:informasjon="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
	<xs:complexType name="finnOrganisasjonsendringerListeRequest">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="finnEndringerFOM" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="finnOrganisasjonsendringerListeResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="organisasjonsnummerListe" type="informasjon:Organisasjonsnummer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HentOrganisasjonRequest">
		<xs:sequence>
			<xs:element maxOccurs="1" name="orgnummer" type="informasjon:Organisasjonsnummer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HentOrganisasjonResponse">
		<xs:sequence>
			<xs:element name="organisasjon" type="informasjon:Organisasjon"/>
		</xs:sequence>
	</xs:complexType>	
</xs:schema>