dokumentproduksjon-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dokumentproduksjon/v3/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3" location="./dokumentproduksjon.wsdl">
    </wsdl:import>
  <wsdl:binding name="Dokumentproduksjon_v3Binding" type="wsdl_1:Dokumentproduksjon_v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="produserIkkeredigerbartDokument">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/produserIkkeredigerbartDokumentRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="dokumentErVedlegg">
        <soap:fault name="dokumentErVedlegg" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentErRedigerbart">
        <soap:fault name="dokumentErRedigerbart" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="brevdataValideringFeilet">
        <soap:fault name="brevdataValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="joarkForretningsmessigUnntak">
        <soap:fault name="joarkForretningsmessigUnntak" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="produserDokumentutkast">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/produserDokumentutkastRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="brevdataValideringFeilet">
        <soap:fault name="brevdataValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="produserRedigerbartDokument">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/produserRedigerbartDokumentRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="dokumentErVedlegg">
        <soap:fault name="dokumentErVedlegg" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeRedigerbart">
        <soap:fault name="dokumentIkkeRedigerbart" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="brevdataValideringFeilet">
        <soap:fault name="brevdataValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="joarkForretningsmessigUnntak">
        <soap:fault name="joarkForretningsmessigUnntak" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="avbrytForsendelse">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/avbrytForsendelseRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="journalpostAlleredeAvbrutt">
        <soap:fault name="journalpostAlleredeAvbrutt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="avbrytelseIkkeTillatt">
        <soap:fault name="avbrytelseIkkeTillatt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="redigerDokument">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/redigerDokumentRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="redigeringIkkeTillatt">
        <soap:fault name="redigeringIkkeTillatt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="pessimistiskLaasing">
        <soap:fault name="pessimistiskLaasing" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet">
        <soap:fault name="dokumentIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="metaforceInstanceClosed">
        <soap:fault name="metaforceInstanceClosed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="avbrytVedlegg">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/avbrytVedleggRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="dokumentIkkeVedlegg">
        <soap:fault name="dokumentIkkeVedlegg" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentAlleredeAvbrutt">
        <soap:fault name="dokumentAlleredeAvbrutt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet">
        <soap:fault name="dokumentIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="produserIkkeredigerbartVedlegg">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/produserIkkeredigerbartVedleggRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="forsendelseIkkeFunnet">
        <soap:fault name="forsendelseIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentErRedigerbart">
        <soap:fault name="dokumentErRedigerbart" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="vedleggIkkeTillatt">
        <soap:fault name="vedleggIkkeTillatt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="brevdataValideringFeilet">
        <soap:fault name="brevdataValideringFeilet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="endreDokumentTilRedigerbart">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/endreDokumentTilRedigerbartRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DokumentIkkeRedigerbart">
        <soap:fault name="DokumentIkkeRedigerbart" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentAlleredeRedigerbart">
        <soap:fault name="dokumentAlleredeRedigerbart" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentErAvbrutt">
        <soap:fault name="dokumentErAvbrutt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet">
        <soap:fault name="dokumentIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ferdigstillForsendelse">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/ferdigstillForsendelseRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="dokumentUnderRedigering">
        <soap:fault name="dokumentUnderRedigering" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="knyttVedleggTilForsendelse">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/Dokumentproduksjon_v3/knyttVedleggTilForsendelseRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="eksterntVedleggIkkeTillatt">
        <soap:fault name="eksterntVedleggIkkeTillatt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentTillatesIkkeGjenbrukt">
        <soap:fault name="dokumentTillatesIkkeGjenbrukt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFerdigstilt">
        <soap:fault name="journalpostIkkeFerdigstilt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet">
        <soap:fault name="journalpostIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ulikeFagomraader">
        <soap:fault name="ulikeFagomraader" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid">
        <soap:fault name="journalpostIkkeUnderArbeid" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet">
        <soap:fault name="dokumentIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="inputValideringFeilet">
        <soap:fault name="inputValideringFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dokumentproduksjon_v3">
    <wsdl:port name="Dokumentproduksjon_v3Port" binding="tns:Dokumentproduksjon_v3Binding">
      <soap:address location="http://localhost:9080/virksomhet/dokumentproduksjon_v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
