arena-vedtakhendelser/src/main/xsd/vedtakHendelser.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/vedtakHendelser/v1/vedtakHendelser" xmlns:vedtakHendelser="http://nav.no/melding/virksomhet/vedtakHendelser/v1/vedtakHendelser">
    <xsd:element name="vedtakHendelser" type="vedtakHendelser:VedtakHendelser"/>
    <xsd:complexType name="VedtakHendelser">
        <xsd:sequence>
            <xsd:element name="aktoerID" type="vedtakHendelser:AktoerID"/>
            <xsd:element name="avslutningsstatus" type="vedtakHendelser:Avslutningsstatuser">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kode som sier hvordan behandlingen er avsluttet.&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="behandlingstema" type="vedtakHendelser:Behandlingstema">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kode som identifiserer hvilket tema (hvilken ytelse) som skal behandles&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hendelsesprodusentREF" type="vedtakHendelser:Applikasjoner"/>
            <xsd:element minOccurs="0" name="applikasjonSakREF" type="vedtakHendelser:Identifikator"/>
            <xsd:element name="hendelsesTidspunkt" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Behandlingstema">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="vedtakHendelser:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Behandlingstema" name="kodeverksRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Avslutningsstatuser">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="vedtakHendelser:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser" name="kodeverksRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="AktoerID">
        <xsd:restriction base="vedtakHendelser:Identifikator"/>
    </xsd:simpleType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Applikasjoner">
        <xsd:simpleContent>
            <xsd:extension base="vedtakHendelser:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Applikasjoner" name="kodeverkRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>