nav-fim-personsok-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/personsoek/v1/Personsoek.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Personsok" targetNamespace="http://nav.no/tjeneste/virksomhet/personsoek/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/personsoek/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/personsoek/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/personsoek/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/personsoek/v1/meldinger" xmlns:feil="http://nav.no/tjeneste/virksomhet/personsoek/v1/feil">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/personsoek/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/personsoek/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="finnPerson">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnPersonRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnPersonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnPersonResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnPersonforMangeForekomster" type="feil:ForMangeForekomster"/>
			<xs:element name="finnPersonugyldigInput" type="feil:UgyldigInput"/>		
			<xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="finnPersonRequest">
		<wsdl:part name="parameters" element="tns:finnPerson"/>
	</wsdl:message>
	<wsdl:message name="finnPersonResponse">
		<wsdl:part name="parameters" element="tns:finnPersonResponse"/>
	</wsdl:message>
	<wsdl:message name="finnPersonFault">
		<wsdl:part name="forMangeForekomster" element="tns:finnPersonforMangeForekomster"/>
	</wsdl:message>
	<wsdl:message name="finnPersonFault1">
		<wsdl:part name="ugyldigInput" element="tns:finnPersonugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="PersonsokPortType">
		<wsdl:operation name="finnPerson">
			<wsdl:input name="finnPersonRequest" message="tns:finnPersonRequest"/>
			<wsdl:output name="finnPersonResponse" message="tns:finnPersonResponse"/>
			<wsdl:fault name="forMangeForekomster" message="tns:finnPersonFault"/>
			<wsdl:fault name="ugyldigInput" message="tns:finnPersonFault1"/>
		</wsdl:operation>
		 <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonsokBinding" type="tns:PersonsokPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="finnPerson">
			<soap:operation style="document"/>
			<wsdl:input name="finnPersonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnPersonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="forMangeForekomster">
				<soap:fault name="forMangeForekomster" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
            <soap:operation style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Personsok_v1">
		<wsdl:port name="Personsok_v1" binding="tns:PersonsokBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
