arena-maalgruppe_v1/src/main/wsdl/no/nav/tjeneste/virksomhet/maalgruppe/v1/maalgruppe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="maalgruppe" targetNamespace="http://nav.no/tjeneste/virksomhet/maalgruppe/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/maalgruppe/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/maalgruppe/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/maalgruppe/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/maalgruppe/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/maalgruppe/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/maalgruppe/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnMaalgruppeinformasjonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnMaalgruppeinformasjonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnMaalgruppeinformasjonListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnMaalgruppeinformasjonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnMaalgruppeinformasjonListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnMaalgruppeinformasjonListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="pingParameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMaalgruppeinformasjonListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnMaalgruppeinformasjonListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMaalgruppeinformasjonListeResponse">
    <wsdl:part name="parameters" element="tns:finnMaalgruppeinformasjonListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMaalgruppeinformasjonListeRequest">
    <wsdl:part name="parameters" element="tns:finnMaalgruppeinformasjonListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMaalgruppeinformasjonListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnMaalgruppeinformasjonListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="maalgruppe_v1">
    <wsdl:operation name="finnMaalgruppeinformasjonListe">
      <wsdl:input message="tns:finnMaalgruppeinformasjonListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnMaalgruppeinformasjonListeResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnMaalgruppeinformasjonListe_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnMaalgruppeinformasjonListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
