sakogbehandling-tjenestespesifikasjon/src/main/wsdl/sakOgBehandling/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/sakOgBehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sakOgBehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnSakOgBehandlingskjedeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnSakOgBehandlingskjedeListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakOgBehandlingskjedeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnSakOgBehandlingskjedeListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBehandling">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentBehandlingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBehandlingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentBehandlingResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBehandlingbehandlingIkkeFunnet" type="feil:BehandlingIkkeFunnet"/>
      <xsd:element name="hentBehandlingskjedensBehandlinger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentBehandlingskjedensBehandlingerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBehandlingskjedensBehandlingerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentBehandlingskjedensBehandlingerResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBehandlingskjedensBehandlingerbehandlingskjedeIkkeFunnet" type="feil:BehandlingskjedeIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentBehandlingskjedensBehandlingerResponse">
    <wsdl:part name="parameters" element="tns:hentBehandlingskjedensBehandlingerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingskjedensBehandlingerRequest">
    <wsdl:part name="parameters" element="tns:hentBehandlingskjedensBehandlinger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingskjedensBehandlinger_behandlingskjedeIkkeFunnet">
    <wsdl:part name="behandlingskjedeIkkeFunnet" element="tns:hentBehandlingskjedensBehandlingerbehandlingskjedeIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingRequest">
    <wsdl:part name="parameters" element="tns:hentBehandling">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandling_behandlingIkkeFunnet">
    <wsdl:part name="behandlingIkkeFunnet" element="tns:hentBehandlingbehandlingIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingResponse">
    <wsdl:part name="parameters" element="tns:hentBehandlingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakOgBehandlingskjedeListeRequest">
    <wsdl:part name="parameters" element="tns:finnSakOgBehandlingskjedeListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakOgBehandlingskjedeListeResponse">
    <wsdl:part name="parameters" element="tns:finnSakOgBehandlingskjedeListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SakOgBehandling_v1">
    <wsdl:operation name="finnSakOgBehandlingskjedeListe">
<wsdl:documentation>Operasjonen tilbyr å søke opp saker og behandlingskjeder for en aktør. Det er mulig å filtrere søket på ulike parametere som bl.a. tema, behandlingskjedetyper og om behandlingskjeden fortsatt er åpent. Operasjonen er inngangsporten for å hente ut en aktørs saker og behandlingskjeder. De øvrige operasjonene i tjenesten tilbyr å hente detaljer om behandlinger, men er avhengig av at man først har kalt denne operasjonen for å skaffe nødvendig data for å gjøre kall til de andre operasjonene. Operasjonen tilbyr å søke opp saker og behandlingskjeder for en aktør. Det er mulig å filtrere søket på ulike parametere som bl.a. tema, behandlingskjedetyper og om behandlingskjeden fortsatt er åpent. Operasjonen er inngangsporten for å hente ut en aktørs saker og behandlingskjeder. De øvrige operasjonene i tjenesten tilbyr å hente detaljer om behandlinger, men er avhengig av at man først har kalt denne operasjonen for å skaffe nødvendig data for å gjøre kall til de andre operasjonene. </wsdl:documentation>
      <wsdl:input message="tns:finnSakOgBehandlingskjedeListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnSakOgBehandlingskjedeListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentBehandling">
<wsdl:documentation>Operasjonen tilbyr å hente ut en konkret behandling.  Operasjonen tilbyr å hente ut en konkret behandling.   </wsdl:documentation>
      <wsdl:input message="tns:hentBehandlingRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentBehandlingResponse">
    </wsdl:output>
      <wsdl:fault name="behandlingIkkeFunnet" message="tns:hentBehandling_behandlingIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentBehandlingskjedensBehandlinger">
<wsdl:documentation>Operasjonen tilbyr å hente ut alle behandlinger på en gitt behandlingskjede. Operasjonen tilbyr å hente ut alle behandlinger på en gitt behandlingskjede. </wsdl:documentation>
      <wsdl:input message="tns:hentBehandlingskjedensBehandlingerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentBehandlingskjedensBehandlingerResponse">
    </wsdl:output>
      <wsdl:fault name="behandlingskjedeIkkeFunnet" message="tns:hentBehandlingskjedensBehandlinger_behandlingskjedeIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
