cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/navansatt/ASBOGOSYSHentNAVAnsattFagomradeListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="no.nav.gosys.asbo.navansatt">
	<xsd:complexType
		name="ASBOGOSYSHentNAVAnsattFagomradeListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ansattId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="enhetsId"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
