pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag/grunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag" xmlns:grunnlag="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag">
  <xsd:complexType name="PersondetaljerAvdod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Grunnlagsrolle" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Land">
    <xsd:sequence>
      <xsd:element name="BostedslandErAvtaleland" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis Vedtak.gjelderPerson.bostedsland != NOR og Vedtak.gjelderPerson.bostedsland finnes i kodeverk K_AVTALE_T Sett &lt;BostedslandErAvtaleland&gt; = true Ellers Sett &lt;BostedslandErAvtaleland&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BostedslandErEOSLand" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidsgrunnlagEOS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TrygdetidEOSLand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Land trygdetiden er opptjent i.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TrygdetidFomEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TrygdetidTomEOS" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidsgrunnlagBilateral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TrygdetidBilateralLand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Land trygdetiden er opptjent i.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TrygdetidFomBilateral" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TrygdetidTomBilateral" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Inntektsgrunnlag">
    <xsd:sequence>
      <xsd:element name="Belop" type="xsd:int"/>
      <xsd:element name="InntektType" type="xsd:string"/>
      <xsd:element name="FomDato" type="xsd:string"/>
      <xsd:element name="TomDato" type="xsd:string"/>
      <xsd:element name="GrunnIkkeReduksjon" type="xsd:string"/>
      <xsd:element name="RegisterKilde" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trygdetidsgrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TrygdetidFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TrygdetidTom" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidsgrunnlagListeBilateral">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TrygdetidsgrunnlagBilateral" type="grunnlag:TrygdetidsgrunnlagBilateral"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Persondetaljer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PersonDetaljId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om persondetalj brukes som grunnlag på kravet eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PersondetaljFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato PersonDetalj-objektet er gyldig til og med.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PersondetaljTom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken rolle persongrunnlaget har på kravet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PersondetaljBrukes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Dato PersonDetalj-objektet er gyldig fra og med.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Grunnlagsrolle" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik identifikasjon av objektet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InntektListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Inntektsgrunnlag" type="grunnlag:Inntektsgrunnlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InngangOgEksportGrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Minst20ArBotid" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="OppfyltVedSammenlegging" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Eksportforbud" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Eksportunntak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MinstEttArFMNorge" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="MinstTreArsFMNorge" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="OppfyltEtterGamleRegler" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Minst3ArTrygdetid" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InngangOgEksportGrunnlagAvdod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Minst20ArBotid" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Eksportforbud" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Eksportunntak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MinstEttArFMNorge" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="MinstTreArsFMNorge" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="OppfyltVedSammenlegging" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaTTArMndDag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AntallAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AntallMnd" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AntallDager" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstOpphFasteUtgifterperiode">
    <xsd:sequence>
      <xsd:element name="FomDato" type="xsd:string"/>
      <xsd:element name="TomDato" type="xsd:string"/>
      <xsd:element name="FasteUtgifter" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fradragsgrunnlag">
    <xsd:sequence>
      <xsd:element name="Belop" type="xsd:int"/>
      <xsd:element name="InntektType" type="xsd:string"/>
      <xsd:element name="FomDato" type="xsd:string"/>
      <xsd:element name="TomDato" type="xsd:string"/>
      <xsd:element name="GrunnIkkeReduksjon" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndretOpptjeningsarListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Opptjeningsar" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>År opptjening er endret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FratrekkListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Inntektsgrunnlag" type="grunnlag:Inntektsgrunnlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FradragListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Fradragsgrunnlag" type="grunnlag:Fradragsgrunnlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trygdeavtaler">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AvtaleType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva slags type avtale som er inngått.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Avtaleland" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dekode til AvtaleType ved oppslag i kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BostedslandBeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis Vedtak.kravhode.Persongrunnlag.Trygdeavtale.bostedsland != null Sett  &lt;BostedslandBeskrivelse&gt; = Dekode til Vedtak.kravhode.Persongrunnlag.Trygdeavtale.bosdtedsland bed oppslag i kodeverk Ellers Sett &lt;BostedslandBeskrivelse&gt; = Dekode tilVedtak.kravhode.Persongrunnlag.bostedslanf ved oppslag i kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Bostedsland" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis Vedtak.kravhode.Persongrunnlag.Trygdeavtale.bostedsland = null Sett &lt;Bostedsland&gt; = NOR Ellers sett &lt;Bostedsland&gt; = Vedtak.kravhode.Persongrunnlag.Trygdeavtale.bostedsland</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AvtalelandNavn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstOpphReduksjonsperiode">
    <xsd:sequence>
      <xsd:element name="FomDato" type="xsd:string"/>
      <xsd:element name="TomDato" type="xsd:string"/>
      <xsd:element name="ReduksjonGrunnetVarighet" type="xsd:boolean"/>
      <xsd:element name="JustertPeriodeType" type="xsd:string"/>
      <xsd:element name="Friperiode" type="xsd:boolean"/>
      <xsd:element name="Forsorgeransvar" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidsgrunnlagListeEOS">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TrygdetidsgrunnlagEOS" type="grunnlag:TrygdetidsgrunnlagEOS"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TTUtlandTrygdeAvtale">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TTTellerBilateral" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTNevnerBilateral" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FaTTBilateral" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigTTAvtaleland" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UforetrygdEtteroppgjorDetaljBruker">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SumInntekterUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumInntekterBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumOrdinareFratrekkUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumSpesielleFratrekkUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumOrdinareFratrekkBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektListe" type="grunnlag:InntektListe"/>
      <xsd:element minOccurs="0" name="FratrekkListe" type="grunnlag:FratrekkListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersongrunnlagAvdod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BrukerFlyktning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Persondetaljer" type="grunnlag:PersondetaljerAvdod"/>
      <xsd:element minOccurs="0" name="InngangOgEksportGrunnlag" type="grunnlag:InngangOgEksportGrunnlagAvdod"/>
      <xsd:element minOccurs="0" name="Trygdeavtaler" type="grunnlag:Trygdeavtaler"/>
      <xsd:element minOccurs="0" name="Trygdetid" type="grunnlag:Trygdetid"/>
      <xsd:element minOccurs="0" name="TTUtlandTrygdeAvtale" type="grunnlag:TTUtlandTrygdeAvtale"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeNor" type="grunnlag:TrygdetidsgrunnlagListeNor"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeEOS" type="grunnlag:TrygdetidsgrunnlagListeEOS"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeBilateral" type="grunnlag:TrygdetidsgrunnlagListeBilateral"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeNorPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeEOSPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeBilateralPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TrygdetidKap20" type="grunnlag:Trygdetid"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersongrunnlagslisteAvdod">
    <xsd:complexContent>
      <xsd:extension base="grunnlag:PersongrunnlagAvdod"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Grunnlag">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Persongrunnlagsliste" type="grunnlag:Persongrunnlagsliste"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersongrunnlagslisteAvdod" type="grunnlag:PersongrunnlagslisteAvdod"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersongrunnlagAvdod" type="grunnlag:PersongrunnlagAvdod"/>
      <xsd:element minOccurs="0" name="Land" type="grunnlag:Land"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trygdetid">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FaTTNorge" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigTTNorsk" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FaTTEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTTellerEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTNevnerEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigTTEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTNordisk" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTTellerNordisk" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TTNevnerNordisk" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FaTT_A10_netto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FaTTArMndDag" type="grunnlag:FaTTArMndDag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidsgrunnlagListeNor">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Trygdetidsgrunnlag" type="grunnlag:Trygdetidsgrunnlag">
        <xsd:annotation>
          <xsd:documentation>Land trygdetiden er opptjent i = NOR</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Persongrunnlagsliste">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Fodselsnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer eller D-nummer til en person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndretOpptjeningsarListe" type="grunnlag:EndretOpptjeningsarListe">
        <xsd:annotation>
          <xsd:documentation>Liste av år der opptjeningen til AP2011/AP2016/AP2025 er endret.

Listen fylles kun ut der et vedtak omregnes grunnet korrigering av opptjening.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PersonBostedsland" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Den relaterte personens bostedsland.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Overkomp" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir at personens ytelse skal beregnes med overkompensasjonsregler.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AntallBarn" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Antall barn i barnekullet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UforehistorikkGarantigrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Uføregraden pensjonen er blitt fryst fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BrukerFlyktning" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om personen regnes som flyktning eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Persondetaljer" type="grunnlag:Persondetaljer"/>
      <xsd:element minOccurs="0" name="InngangOgEksportGrunnlag" type="grunnlag:InngangOgEksportGrunnlag"/>
      <xsd:element minOccurs="0" name="Trygdeavtaler" type="grunnlag:Trygdeavtaler"/>
      <xsd:element minOccurs="0" name="Trygdetid" type="grunnlag:Trygdetid"/>
      <xsd:element minOccurs="0" name="TTUtlandTrygdeAvtale" type="grunnlag:TTUtlandTrygdeAvtale"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeNor" type="grunnlag:TrygdetidsgrunnlagListeNor"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeEOS" type="grunnlag:TrygdetidsgrunnlagListeEOS"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeBilateral" type="grunnlag:TrygdetidsgrunnlagListeBilateral"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeNorPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeEOSPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TrygdetidsgrunnlagListeBilateralPopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="InstOpphReduksjonsperiodeListe" type="grunnlag:InstOpphReduksjonsperiodeListe"/>
      <xsd:element minOccurs="0" name="InstOpphFasteUtgifterperiodeListe" type="grunnlag:InstOpphFasteUtgifterperiodeListe"/>
      <xsd:element minOccurs="0" name="UforetrygdEtteroppgjor" type="grunnlag:UforetrygdEtteroppgjor"/>
      <xsd:element minOccurs="0" name="PensjonsbeholdningForEndring" type="xsd:double"/>
      <xsd:element minOccurs="0" name="TrygdetidKap20" type="grunnlag:Trygdetid"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstOpphReduksjonsperiodeListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="InstOpphReduksjonsperiode" type="grunnlag:InstOpphReduksjonsperiode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UforetrygdEtteroppgjor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PeriodeFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PeriodeTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Arbeidsforsok" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="ArbeidsforsokFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ArbeidsforsokTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BarnetilleggSB" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BarnetilleggFB" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Inntektstak" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AntallHvilendeAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektOverInntektstak" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="UforetrygdEtteroppgjorDetaljBruker" type="grunnlag:UforetrygdEtteroppgjorDetaljBruker"/>
      <xsd:element minOccurs="0" name="UforetrygdEtteroppgjorDetaljEPS" type="grunnlag:UforetrygdEtteroppgjorDetaljEPS"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UforetrygdEtteroppgjorDetaljEPS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SumInntekterBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektListe" type="grunnlag:InntektListe"/>
      <xsd:element minOccurs="0" name="FratrekkListe" type="grunnlag:FratrekkListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstOpphFasteUtgifterperiodeListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="InstOpphFasteUtgifterperiode" type="grunnlag:InstOpphFasteUtgifterperiode"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>