arenaSakVedtakService/src/main/wsdl/arenaSakVedtakService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://arena.nav.no/services/sakvedtakservice" xmlns:faults="http://arena.nav.no/services/lib/fault" xmlns:ns="http://arena.nav.no/services/lib/sakvedtak" targetNamespace="http://arena.nav.no/services/sakvedtakservice">
    <wsdl:types>
        <xs:schema xmlns:tns="http://arena.nav.no/services/sakvedtakservice" targetNamespace="http://arena.nav.no/services/sakvedtakservice">
            <!--Skjemaer for request/response-typer for HentVedtak.-->
            <xs:include schemaLocation="HentVedtakRequest.xsd"/>
            <xs:include schemaLocation="HentVedtakResponse.xsd"/>
            <xs:include schemaLocation="HentVedtakListeRequest.xsd"/>
            <xs:include schemaLocation="HentVedtakListeResponse.xsd"/>
            <!--Skjemaer for request/response-typer for hentSaksInfoListe -->
            <xs:include schemaLocation="HentSaksInfoListeRequest.xsd"/>
            <xs:include schemaLocation="HentSaksInfoListeResponse.xsd"/>
            <!--Skjemaer for request/response-typer for hentSaksInfoListe_v2 -->
            <xs:include schemaLocation="HentSaksInfoListeRequest_v2.xsd"/>
            <xs:include schemaLocation="HentSaksInfoListeResponse_v2.xsd"/>
            <!--Navnerom for generelle feil.-->
            <xs:import namespace="http://arena.nav.no/services/lib/fault" schemaLocation="feil/faults.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hentVedtakRequestMsg">
        <wsdl:part name="hentVedtakParameters" element="tns:hentVedtak"/>
    </wsdl:message>
    <wsdl:message name="hentVedtakResponseMsg">
        <wsdl:part name="hentVedtakResult" element="tns:hentVedtakResult"/>
    </wsdl:message>
    <wsdl:message name="hentVedtakListeRequestMsg">
        <wsdl:part name="hentVedtakListeParameters" element="tns:hentVedtakListe"/>
    </wsdl:message>
    <wsdl:message name="hentVedtakListeResponseMsg">
        <wsdl:part name="hentVedtakListeResult" element="tns:hentVedtakListeResult"/>
    </wsdl:message>
    <wsdl:message name="hentSaksInfoListeRequestMsg">
        <wsdl:part name="hentSaksInfoListeParameters" element="tns:hentSaksInfoListe"/>
    </wsdl:message>
    <wsdl:message name="hentSaksInfoListeResponseMsg">
        <wsdl:part name="hentSaksInfoListeResult" element="tns:hentSaksInfoListeResult"/>
    </wsdl:message>
    <wsdl:message name="hentSaksInfoListe_v2RequestMsg">
        <wsdl:part name="hentSaksInfoListe_v2Parameters" element="tns:hentSaksInfoListe_v2"/>
    </wsdl:message>
    <wsdl:message name="hentSaksInfoListe_v2ResponseMsg">
        <wsdl:part name="hentSaksInfoListe_v2Result" element="tns:hentSaksInfoListe_v2Result"/>
    </wsdl:message>
    <wsdl:message name="faultGeneriskMsg">
        <wsdl:part name="faultGenerisk" element="faults:faultGenerisk"/>
    </wsdl:message>
    <wsdl:message name="faultFeilIInputMsg">
        <wsdl:part name="faultFeilIInput" element="faults:faultFeilIInput"/>
    </wsdl:message>
    <wsdl:portType name="SakVedtakPortType">
        <wsdl:operation name="hentVedtak">
            <wsdl:input name="hentVedtakRequest" message="tns:hentVedtakRequestMsg"/>
            <wsdl:output name="hentVedtakResponse" message="tns:hentVedtakResponseMsg"/>
            <wsdl:fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
        </wsdl:operation>
        <wsdl:operation name="hentVedtakListe">
            <wsdl:input name="hentVedtakListeRequest" message="tns:hentVedtakListeRequestMsg"/>
            <wsdl:output name="hentVedtakListeResponse" message="tns:hentVedtakListeResponseMsg"/>
            <wsdl:fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
        </wsdl:operation>
        <wsdl:operation name="hentSaksInfoListe">
            <wsdl:input name="hentSaksInfoListeRequest" message="tns:hentSaksInfoListeRequestMsg"/>
            <wsdl:output name="hentSaksInfoListeResponse" message="tns:hentSaksInfoListeResponseMsg"/>
            <wsdl:fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
            <wsdl:fault name="faultFeilIInput" message="tns:faultFeilIInputMsg"/>
        </wsdl:operation>
        <wsdl:operation name="hentSaksInfoListe_v2">
            <wsdl:input name="hentSaksInfoListe_v2Request" message="tns:hentSaksInfoListe_v2RequestMsg"/>
            <wsdl:output name="hentSaksInfoListe_v2Response" message="tns:hentSaksInfoListe_v2ResponseMsg"/>
            <wsdl:fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
            <wsdl:fault name="faultFeilIInput" message="tns:faultFeilIInputMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArenaSakVedtakServiceBinding" type="tns:SakVedtakPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentVedtak">
            <soap:operation soapAction="hentVedtak" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="faultGenerisk">
                <soap:fault name="faultGenerisk" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hentVedtakListe">
            <soap:operation soapAction="hentVedtakListe" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="faultGenerisk">
                <soap:fault name="faultGenerisk" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hentSaksInfoListe">
            <soap:operation soapAction="hentSaksInfoListe" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="faultGenerisk">
                <soap:fault name="faultGenerisk" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="faultFeilIInput">
                <soap:fault name="faultFeilIInput" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hentSaksInfoListe_v2">
            <soap:operation soapAction="hentSaksInfoListe_v2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="faultGenerisk">
                <soap:fault name="faultGenerisk" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="faultFeilIInput">
                <soap:fault name="faultFeilIInput" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArenaSakVedtakService">
        <wsdl:port name="ArenaSakVedtakServicePort" binding="tns:ArenaSakVedtakServiceBinding">
            <soap:address location="http://localhost:9080/arena_ws/services/ArenaSakVedtakService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
