arenasakvedtakservice/src/main/wsdl/Bruker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by XMLSPY 2006 Enterprise Ed. Release 3, Concurrent for 9 users (with SMP from 2006-06-21 to 2007-06-22) (Aetat Arbeidsdirektoratet) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://arena.nav.no/services/sakvedtakservice" targetNamespace="http://arena.nav.no/services/sakvedtakservice" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Bruker">
		<xs:sequence>
			<xs:element name="brukerId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Person (Fødselsnummer)
Organisasjon (Org-/bedriftnummer)
Samhandler (tss_ekstern_id)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="brukertypeKode" type="xs:string">
				<xs:annotation>
					<xs:documentation>PERSON
ORGANISASJON
SAMHANDLER</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
