arenasakvedtakservice/src/main/wsdl/HentVedtakListeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:arens1="http://arena.nav.no/services/lib/sakvedtak" xmlns:ns1="http://arena.nav.no/services/sakvedtakservice" targetNamespace="http://arena.nav.no/services/sakvedtakservice" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://arena.nav.no/services/lib/sakvedtak" schemaLocation="VedtakListe.xsd"/>
	<xs:complexType name="HentVedtakListeResponse">
		<xs:sequence>
			<xs:element name="vedtakListe" type="arens1:VedtakListe"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="hentVedtakListeResult" type="ns1:HentVedtakListeResponse"/>
</xs:schema>
