varseldittnav-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/varselDittNAV/v2/varselDittNAV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="varselDittNAV" targetNamespace="http://nav.no/tjeneste/virksomhet/varselDittNAV/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/varselDittNAV/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/varselDittNAV/v2" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/varselDittNAV/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/varselDittNAV/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="opprettVarsel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:opprettVarselRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettVarselResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:opprettVarselResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettVarselResponse">
    <wsdl:part name="parameters" element="tns:opprettVarselResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettVarselRequest">
    <wsdl:part name="parameters" element="tns:opprettVarsel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VarselDittNAV_v2">
    <wsdl:operation name="opprettVarsel">
      <wsdl:input message="tns:opprettVarselRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettVarselResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
