nav-fim-kodeverk-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/kodeverk/v1/Kodeverk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Kodeverk" targetNamespace="http://nav.no/tjeneste/virksomhet/kodeverk/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/kodeverk/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/kodeverk/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/kodeverk/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/kodeverk/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/kodeverk/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/kodeverk/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/kodeverk/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentKodeverk">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentKodeverkRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKodeverkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentKodeverkResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKodeverkkodeverkIkkeFunnet" type="feil:KodeverkIkkeFunnet"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnKodeverkListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnKodeverkListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnKodeverkListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnKodeverkListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentKodeverkRequest">
		<wsdl:part name="parameters" element="tns:hentKodeverk"/>
	</wsdl:message>
	<wsdl:message name="hentKodeverkResponse">
		<wsdl:part name="parameters" element="tns:hentKodeverkResponse"/>
	</wsdl:message>
	<wsdl:message name="kodeverkIkkeFunnet">
		<wsdl:part name="kodeverkIkkeFunnet" element="tns:hentKodeverkkodeverkIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="finnKodeverkListeRequest">
		<wsdl:part name="parameters" element="tns:finnKodeverkListe"/>
	</wsdl:message>
	<wsdl:message name="finnKodeverkListeResponse">
		<wsdl:part name="parameters" element="tns:finnKodeverkListeResponse"/>
	</wsdl:message>
	<wsdl:portType name="KodeverkPortType">
		<wsdl:operation name="finnKodeverkListe">
			<wsdl:input name="finnKodeverkListeRequest" message="tns:finnKodeverkListeRequest"/>
			<wsdl:output name="finnKodeverkListeResponse" message="tns:finnKodeverkListeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="hentKodeverk">
			<wsdl:input name="hentKodeverkRequest" message="tns:hentKodeverkRequest"/>
			<wsdl:output name="hentKodeverkResponse" message="tns:hentKodeverkResponse"/>
			<wsdl:fault name="kodeverkIkkeFunnet" message="tns:kodeverkIkkeFunnet"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="KodeverkBinding" type="tns:KodeverkPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="finnKodeverkListe">
			<soap:operation style="document"/>
			<wsdl:input name="finnKodeverkListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnKodeverkListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hentKodeverk">
			<soap:operation style="document"/>
			<wsdl:input name="hentKodeverkRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentKodeverkResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="kodeverkIkkeFunnet">
				<soap:fault name="kodeverkIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Kodeverk_v1">
		<wsdl:port name="Kodeverk_v1" binding="tns:KodeverkBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
