nav-behandlearbeidssoeker-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleArbeidssoeker/v1/behandlearbeidssoeker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleArbeidssoeker" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/feil" schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aktiverBruker">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:AktiverBrukerRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aktiverBrukerResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aktiverBrukerbrukerKanIkkeAktiveres" type="feil:BrukerKanIkkeAktiveres"/>
            <xsd:element name="aktiverBrukerugyldigInput" type="feil:UgyldigInput"/>
            <xsd:element name="aktiverBrukersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
            <xsd:element name="aktiverBrukerbrukerIkkeReaktivert" type="feil:BrukerIkkeReaktivert"/>
            <xsd:element name="aktiverBrukerbrukerManglerArbeidstillatelse" type="feil:BrukerManglerArbeidstillatelse"/>
            <xsd:element name="aktiverBrukerbrukerFinnesIkke" type="feil:BrukerFinnesIkke"/>
            <xsd:element name="reaktiverBrukerForenklet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:ReaktiverBrukerForenkletRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="reaktiverBrukerForenkletResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="reaktiverBrukerForenkletBrukerFinnesIkke" type="feil:BrukerFinnesIkke"/>
            <xsd:element name="reaktiverBrukerForenkletBrukerKanIkkeAktiveres" type="feil:BrukerKanIkkeAktiveres"/>
            <xsd:element name="reaktiverBrukerForenkletBrukerKanIkkeReaktiveresForenklet" type="feil:BrukerKanIkkeReaktiveresForenklet"/>
            <xsd:element name="reaktiverBrukerForenkletBrukerManglerArbeidstillatelse" type="feil:BrukerManglerArbeidstillatelse"/>
            <xsd:element name="reaktiverBrukerForenkletSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
            <xsd:element name="reaktiverBrukerForenkletUgyldigInput" type="feil:UgyldigInput"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="aktiverBrukerResponse">
    <wsdl:part name="parameters" element="tns:aktiverBrukerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_brukerKanIkkeReaktiveresForenklet">
    <wsdl:part name="brukerKanIkkeReaktiveresForenklet" element="tns:reaktiverBrukerForenkletBrukerKanIkkeReaktiveresForenklet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_brukerFinnesIkke">
    <wsdl:part name="brukerFinnesIkke" element="tns:reaktiverBrukerForenkletBrukerFinnesIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:reaktiverBrukerForenkletUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_brukerIkkeReaktivert">
    <wsdl:part name="brukerIkkeReaktivert" element="tns:aktiverBrukerbrukerIkkeReaktivert">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenkletResponse">
    <wsdl:part name="parameters" element="tns:reaktiverBrukerForenkletResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_brukerKanIkkeAktiveres">
    <wsdl:part name="brukerKanIkkeAktiveres" element="tns:reaktiverBrukerForenkletBrukerKanIkkeAktiveres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenkletRequest">
    <wsdl:part name="parameters" element="tns:reaktiverBrukerForenklet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:reaktiverBrukerForenkletSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBrukerRequest">
    <wsdl:part name="parameters" element="tns:aktiverBruker">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:aktiverBrukerugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:aktiverBrukersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_brukerFinnesIkke">
    <wsdl:part name="brukerFinnesIkke" element="tns:aktiverBrukerbrukerFinnesIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_brukerManglerArbeidstillatelse">
    <wsdl:part name="brukerManglerArbeidstillatelse" element="tns:aktiverBrukerbrukerManglerArbeidstillatelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aktiverBruker_brukerKanIkkeAktiveres">
    <wsdl:part name="brukerKanIkkeAktiveres" element="tns:aktiverBrukerbrukerKanIkkeAktiveres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reaktiverBrukerForenklet_brukerManglerArbeidstillatelse">
    <wsdl:part name="brukerManglerArbeidstillatelse" element="tns:reaktiverBrukerForenkletBrukerManglerArbeidstillatelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleArbeidssoeker_v1">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aktiverBruker">
      <wsdl:input message="tns:aktiverBrukerRequest">
    </wsdl:input>
      <wsdl:output message="tns:aktiverBrukerResponse">
    </wsdl:output>
      <wsdl:fault name="brukerFinnesIkke" message="tns:aktiverBruker_brukerFinnesIkke">
    </wsdl:fault>
      <wsdl:fault name="brukerIkkeReaktivert" message="tns:aktiverBruker_brukerIkkeReaktivert">
    </wsdl:fault>
      <wsdl:fault name="brukerKanIkkeAktiveres" message="tns:aktiverBruker_brukerKanIkkeAktiveres">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:aktiverBruker_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="brukerManglerArbeidstillatelse" message="tns:aktiverBruker_brukerManglerArbeidstillatelse">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:aktiverBruker_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reaktiverBrukerForenklet">
      <wsdl:input message="tns:reaktiverBrukerForenkletRequest">
    </wsdl:input>
      <wsdl:output message="tns:reaktiverBrukerForenkletResponse">
    </wsdl:output>
      <wsdl:fault name="brukerFinnesIkke" message="tns:reaktiverBrukerForenklet_brukerFinnesIkke">
    </wsdl:fault>
      <wsdl:fault name="brukerKanIkkeAktiveres" message="tns:reaktiverBrukerForenklet_brukerKanIkkeAktiveres">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:reaktiverBrukerForenklet_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="brukerManglerArbeidstillatelse" message="tns:reaktiverBrukerForenklet_brukerManglerArbeidstillatelse">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:reaktiverBrukerForenklet_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="brukerKanIkkeReaktiveresForenklet" message="tns:reaktiverBrukerForenklet_brukerKanIkkeReaktiveresForenklet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
