brukerdialog-behandleAktivitetsplan-v1-tjenestespesifikasjon/src/main/wsdl/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/informasjon">
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Etikett">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="innkaldtTilIntervju"/>
      <xsd:enumeration value="avslag"/>
      <xsd:enumeration value="jobbtilbud"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Kommentar">
    <xsd:sequence>
      <xsd:element name="kommentar" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukers kommentar til aktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAv" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Bruker som har opprettet aktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato for opprettelse av kommentaren</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AktivitetType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="egenaktivitet"/>
      <xsd:enumeration value="jobbsøking"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Status">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="planlagt"/>
      <xsd:enumeration value="gjennomfoert"/>
      <xsd:enumeration value="fullfoert"/>
      <xsd:enumeration value="brukerErInteressert"/>
      <xsd:enumeration value="avbrutt"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EgenaktivitetTag">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AnbefalteAktiviteter"/>
      <xsd:enumeration value="AvklareAktiviteter"/>
      <xsd:enumeration value="FinneArbeidsmuligheter"/>
      <xsd:enumeration value="AndreAktivitet"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InnsenderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nav"/>
      <xsd:enumeration value="bruker"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Stillingaktivitet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsgiver" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgiver for stillingsaktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingstittel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tittel for stillingsaktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etikett" type="informasjon:Etikett">
        <xsd:annotation>
          <xsd:documentation>Etikett for aktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontaktperson" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kontaktperson for aktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitet" type="informasjon:Aktivitet">
        <xsd:annotation>
          <xsd:documentation>Generell aktivitet for stillingsaktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsender">
    <xsd:sequence>
      <xsd:element name="id" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>d for innsendertype.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="type" type="informasjon:InnsenderType">
        <xsd:annotation>
          <xsd:documentation>Enum som er en av verdiene "nav", "bruker"</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aktivitet">
    <xsd:sequence>
      <xsd:element name="personIdent" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Brukers fødselsnummer        </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id for aktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivelse av aktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lagtInnAv" type="informasjon:Innsender">
        <xsd:annotation>
          <xsd:documentation>Navn på personen som har opprettet aktivteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato aktiviteten gjelder fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato aktiviteten gjelder til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lenke" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Lenke relatert til aktivitet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="delerMedNav" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Beskriver om denne aktiviteten deles med Nav</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="informasjon:AktivitetType">
        <xsd:annotation>
          <xsd:documentation>Beskrivelse av typen aktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="informasjon:Status">
        <xsd:annotation>
          <xsd:documentation>Aktivitetens livssløpsstatus</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kommentarListe" type="informasjon:Kommentar">
        <xsd:annotation>
          <xsd:documentation>Kommentar(er) til aktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for når aktiviteten ble opprettet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aktivitetsplan">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="stillingaktivitetListe" type="informasjon:Stillingaktivitet">
        <xsd:annotation>
          <xsd:documentation>Stillingaktiviteter i aktivitetsplanen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="egenaktivitetListe" type="informasjon:Egenaktivitet">
        <xsd:annotation>
          <xsd:documentation>Egenaktiviteter i aktivitetsplan</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenaktivitet">
    <xsd:sequence>
      <xsd:element name="aktivitet" type="informasjon:Aktivitet">
        <xsd:annotation>
          <xsd:documentation>Generell aktivitet for stillingsaktiviteten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tag" type="informasjon:EgenaktivitetTag">
        <xsd:annotation>
          <xsd:documentation>En tag som beskriver egenaktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>