enhet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/organisering/enhetOgRessurs/enhetOgRessurs.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/virksomhet/organisering/enhetOgRessurs/v1" version="1.1" xmlns:enhetOgRessurs="http://nav.no/virksomhet/organisering/enhetOgRessurs/v1">
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Enhet">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetId" type="enhetOgRessurs:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Ident på NAV-enhet, 4 siffer. Må være gyldig ident i baksystemet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="HentEnhetListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="enhetOgRessurs:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Ressurs">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ressursId" type="enhetOgRessurs:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Identen til NAV-ressurs det skal slås opp på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Det sammensatte navnet til NAV-ressurs det skal slås opp på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fornavnet til NAV-ressurs det skal slås opp på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Etternavnet til NAV-ressurs det skal slås opp på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RessursIkkeFunnetAvvik">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ressursId" type="enhetOgRessurs:Identifikator">
        <xsd:annotation>
          <xsd:documentation>RessursId for søket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentRessursListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="enhetOgRessurs:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>