cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSUtlandskonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
  <xsd:complexType name="ASBOGOSYSUtlandskonto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="banknavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bankadresse1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bankadresse2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bankadresse3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="swiftkode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valuta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="land" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bankkode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="regSaksbehandler" type="xsd:string"/>
      <xsd:element minOccurs="0" name="regSystem" type="xsd:string"/>
      <xsd:element minOccurs="0" name="regTidspunkt" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
