cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSUtbetalingsinformasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSNorskKonto.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSUtlandskonto.xsd"/>
    <xsd:complexType name="ASBOGOSYSUtbetalingsinformasjon">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="utbetalingsType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="norskKonto" type="bons0:ASBOGOSYSNorskKonto"/>
            <xsd:element minOccurs="0" name="utlandsKonto" type="bons0:ASBOGOSYSUtlandskonto"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
