cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSBostedsAdresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSMatrikkelAdresse.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSOffentligAdresse.xsd"/>
    <xsd:complexType name="ASBOGOSYSBostedsAdresse">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="boadresse1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="boadresse2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bolignr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="postnummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="poststed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kommunenr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adresseType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adresseTypeBeskrivelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="tom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="offentligAdresse" type="bons1:ASBOGOSYSOffentligAdresse"/>
            <xsd:element minOccurs="0" name="matrikkelAdresse" type="bons1:ASBOGOSYSMatrikkelAdresse"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
