cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSFodselsdatosokRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="no.nav.gosys.asbo.person">
  <xsd:complexType name="ASBOGOSYSFodselsdatosokRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsdato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kjonn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
