cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSFinnPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSFodselsdatosokRequest.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSNavnesokRequest.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSAdressesokRequest.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSKontonummersokRequest.xsd"/>
    <xsd:complexType name="ASBOGOSYSFinnPersonRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navnesok" type="bons1:ASBOGOSYSNavnesokRequest"/>
      <xsd:element minOccurs="0" name="adressesok" type="bons1:ASBOGOSYSAdressesokRequest"/>
      <xsd:element minOccurs="0" name="fodselsdatosok" type="bons1:ASBOGOSYSFodselsdatosokRequest"/>
      <xsd:element minOccurs="0" name="kontonummersok" type="bons1:ASBOGOSYSKontonummersokRequest"/>
            <xsd:element minOccurs="0" name="buffNr" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
