cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSRelasjonListe.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSBrukerprofil.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSAnnenAdresse.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSSamboer.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSPersonUtland.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSBostedsAdresse.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSHistorikk.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSUtbetalingsinformasjon.xsd"/>
    <xsd:complexType name="ASBOGOSYSPerson">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kortnavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="diskresjonskode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dodsdato" type="xsd:date"/>
            <xsd:element minOccurs="0" name="umyndiggjortDato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date">
            <xsd:pattern value=""/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
            <xsd:element minOccurs="0" name="sivilstand" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sivilstandDato" type="xsd:date"/>
            <xsd:element minOccurs="0" name="tlfPrivat" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfJobb" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfMobil" type="xsd:string"/>
            <xsd:element minOccurs="0" name="epost" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sprakKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sprakBeskrivelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sprakDatoFom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
            <xsd:element minOccurs="0" name="erEgenansatt" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="bostedsAdresse" type="bons0:ASBOGOSYSBostedsAdresse"/>
            <xsd:element minOccurs="0" name="postAdresse" type="bons0:ASBOGOSYSAnnenAdresse"/>
            <xsd:element minOccurs="0" name="tilleggsAdresse" type="bons0:ASBOGOSYSAnnenAdresse"/>
            <xsd:element minOccurs="0" name="utenlandsAdresse" type="bons0:ASBOGOSYSAnnenAdresse"/>
            <xsd:element minOccurs="0" name="utbetalingsinformasjon" type="bons0:ASBOGOSYSUtbetalingsinformasjon"/>
            <xsd:element minOccurs="0" name="personUtland" type="bons0:ASBOGOSYSPersonUtland"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="relasjoner" type="bons0:ASBOGOSYSRelasjonListe"/>
            <xsd:element minOccurs="0" name="historikk" type="bons0:ASBOGOSYSHistorikk"/>
            <xsd:element minOccurs="0" name="brukerprofil" type="bons0:ASBOGOSYSBrukerprofil"/>
            <xsd:element minOccurs="0" name="samboer" type="bons0:ASBOGOSYSSamboer"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
