cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSBrukerprofil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSEnkeltbehov.xsd"/>
    <xsd:complexType name="ASBOGOSYSBrukerprofil">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukerprioritertAdresse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="informasjonskanal" type="xsd:string"/>
            <xsd:element minOccurs="0" name="varsling" type="xsd:string"/>
            <xsd:element minOccurs="0" name="varslingskanal" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoFom" type="xsd:date"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="datoTom" type="xsd:date"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="behov" type="bons0:ASBOGOSYSEnkeltbehov"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
