cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSRelasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSPerson.xsd"/>
    <xsd:complexType name="ASBOGOSYSRelasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="relasjonsType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adresseStatus" type="xsd:string"/>
            <xsd:element minOccurs="0" name="person" type="bons1:ASBOGOSYSPerson"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
