sakogbehandling-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling/sakOgBehandling.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling" version="1.0.0" xmlns:sakOgBehandling="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling">
  <xsd:complexType name="Avslutningsstatuser">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AktoerID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="PrimaerBehandling">
    <xsd:annotation>
      <xsd:documentation>Behandlingsrelasjon som identifiserer den behandling en annen behandling er basert på. Forholdet kan enten være forrige eller eidAv eller basertPå.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="behandlingsREF" type="sakOgBehandling:BehandlingID">
        <xsd:annotation>
          <xsd:documentation>Refererer til den behandling en gitt behandling har et forhold til som spesifisert av type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="sakOgBehandling:PrimaerRelasjonstyper">
        <xsd:annotation>
          <xsd:documentation>Relasjonstype som angir forholdet til en annen behandling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Behandlingstyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Applikasjoner">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Applikasjoner</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Applikasjoner" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Venteaarsaker">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Vente_c3_a5rsaker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Vente_c3_a5rsaker" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sakstemaer">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Sakstemaer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Sakstemaer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingsstatuser">
    <xsd:annotation>
      <xsd:documentation>opprettet, avbrutt, avsluttet http://nav.no/kodeverk/Kodeverk/Behandlingsstatuser</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingsstatuser" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BehandlingskjedeID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="PrimaerRelasjonstyper">
    <xsd:annotation>
      <xsd:documentation>basertPå, eidAv, forrige http://nav.no/kodeverk/Kodeverk/Prim_c3_a6rRelasjonstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Prim_c3_a6rRelasjonstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingstemaer">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingstemaer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingstemaer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingskjedetyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingskjedetype</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingskjedetype" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SakID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="BehandlingsstegID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="BehandlingID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="SekundaerRelasjonstyper">
    <xsd:annotation>
      <xsd:documentation>seOgså, skalVarsles http://nav.no/kodeverk/Kodeverk/Sekund_c3_a6rRelasjonstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Sekund_c3_a6rRelasjonstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SekundaerBehandling">
    <xsd:annotation>
      <xsd:documentation>Behandlingsrelasjon som identifiserer en eller flere behandlinger som en gitt behandling har et forhold til. Forholdet kan enten være seOgså eller skalVarlses.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="behandlingsREF" type="sakOgBehandling:BehandlingID">
        <xsd:annotation>
          <xsd:documentation>Refererer til andre behandlinger en gitt behandling har et forhold til som spesifisert av type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="sakOgBehandling:SekundaerRelasjonstyper">
        <xsd:annotation>
          <xsd:documentation>Relasjonstype som angir forholdet til andre behandlinger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="OrganisasjonsenhetID">
    <xsd:restriction base="sakOgBehandling:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Behandling">
    <xsd:annotation>
      <xsd:documentation>BEGREP-558 Alt som skal behandles med tilknytning til NAV er en saksbehandling. Det kan være bruker som fremmer et krav, bruker som simulerer en ytelse, veiledning, osv Det må avklares når en sak skal opprettes og om alle behandlinger skal være knyttet til en sak.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="behandlingsId" type="sakOgBehandling:BehandlingID">
        <xsd:annotation>
          <xsd:documentation>Identifiserer behandlingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="behandlingstype" type="sakOgBehandling:Behandlingstyper"/>
      <xsd:element name="applikasjon" type="sakOgBehandling:Applikasjoner"/>
      <xsd:element name="behandlingsstatus" type="sakOgBehandling:Behandlingsstatuser"/>
      <xsd:element minOccurs="0" name="primaerBehandling" type="sakOgBehandling:PrimaerBehandling">
        <xsd:annotation>
          <xsd:documentation>Identifiserer den behandling som denne behandling er basert på. Forholdet kan enten være forrige eller eidAv eller basertPå.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sekundaerBehandling" type="sakOgBehandling:SekundaerBehandling">
        <xsd:annotation>
          <xsd:documentation>Identifiserer en eller flere behandlinger som denne behandling har et forhold til. Forholdet kan enten være seOgså eller skalVarlses.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="start" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunktet behandlingen ble påbegynt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sisteOppdatering" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunktet det sist skjedde en endring i status av denne behandling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="slutt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunktet behandlingen ble avsluttet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Behandlingsstegtyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingsstegtyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="sakOgBehandling:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Behandlingsstegtyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BehandlingVS">
    <xsd:annotation>
      <xsd:documentation>Behandlingsentitet som dekker spesifikke behov sett fra Virksomhetsstyring</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sakOgBehandling:Behandling">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sisteBehandlingssteg" type="sakOgBehandling:Behandlingsstegtyper"/>
          <xsd:element minOccurs="0" name="applikasjonSakREF" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Identifiserer i hvilken sak behandlingen inngår, i gjeldende applikasjon (fagsystem) dersom en slik eksisterer.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="applikasjonBehandlingREF" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Refererer til en eventuell mer spesifikk entitet i applikasjonen som svarer til behandlingen i MOD.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ansvarligEnhetREF" type="sakOgBehandling:OrganisasjonsenhetID">
            <xsd:annotation>
              <xsd:documentation>Ansvarlig enhet som har utført/utfører behandlingen.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="avslutningsstatus" type="sakOgBehandling:Avslutningsstatuser">
            <xsd:annotation>
              <xsd:documentation>Den status behandlingen har idet den avsluttes</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="frist" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>Det tidspunkt NAV skal være ferdig med sin behandling.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="sisteBehandlingsstegREF" type="sakOgBehandling:BehandlingsstegID">
            <xsd:annotation>
              <xsd:documentation>Uttrykker status i form av hvilket behandlingssteg kjeden befinner seg på i øyeblikket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="sisteBehandlingsstegtype" type="sakOgBehandling:Behandlingsstegtyper">
            <xsd:annotation>
              <xsd:documentation>Uttrykker status i form av hvilken behandlingsstegtype kjeden behandler i øyeblikket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="sisteVenteaarsak" type="sakOgBehandling:Venteaarsaker">
            <xsd:annotation>
              <xsd:documentation>Uttrykker status i form av hvilken venteårsak som ligger til grunn dersom kjeden i øyeblikket befinner seg i en ventetilstand.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>