nav-virksomhet-paaloepteutgifter-v1-meldingsdefinisjon/src/main/xsd/paaloepteUtgifter.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/paaloepteUtgifter/v1/paaloepteUtgifter" xmlns:paaloepteUtgifter="http://nav.no/melding/virksomhet/paaloepteUtgifter/v1/paaloepteUtgifter">
  <xsd:complexType name="PaaloepteUtgifter">
    <xsd:sequence>
      <xsd:element name="vedtaksId" type="paaloepteUtgifter:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til vedtaket.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="utgiftsperioder" type="paaloepteUtgifter:Utgiftsperioder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utgiftsperioder">
    <xsd:sequence>
      <xsd:element name="betalingsplanId" type="paaloepteUtgifter:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik Id til betalingsplanen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="totaltParkeringsbeloep" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Totalbeløp for parkeringsutgifter i perioden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallDagerKjoert" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tall som angir totalt antall dager kjørt i perioden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="utgiftsdagerMedParkering" type="paaloepteUtgifter:Utgiftsdager"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utgiftsdager">
    <xsd:sequence>
      <xsd:element name="utgiftsdag" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato for parkeringsutgift&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="parkeringsutgift" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløp til parkering på utgiftsdagen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="paaloepteUtgifter" type="paaloepteUtgifter:PaaloepteUtgifter"/>
</xsd:schema>