gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/ruting/no/nav/virksomhet/tjenester/ruting/ruting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ruting" targetNamespace="http://nav.no/virksomhet/tjenester/ruting/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/ruting/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/ruting/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/ruting/meldinger/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/ruting/meldinger/v1" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnAnsvarligEnhetForSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnAnsvarligEnhetForSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAnsvarligEnhetForSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="meldinger:FinnAnsvarligEnhetForSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAnsvarligEnhetForOppgavetype">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnAnsvarligEnhetForOppgavetypeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAnsvarligEnhetForOppgavetypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="meldinger:FinnAnsvarligEnhetForOppgavetypeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnAnsvarligEnhetForSakRequest">
    <wsdl:part name="parameters" element="tns:finnAnsvarligEnhetForSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAnsvarligEnhetForSakResponse">
    <wsdl:part name="parameters" element="tns:finnAnsvarligEnhetForSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAnsvarligEnhetForOppgavetypeRequest">
    <wsdl:part name="parameters" element="tns:finnAnsvarligEnhetForOppgavetype">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAnsvarligEnhetForOppgavetypeResponse">
    <wsdl:part name="parameters" element="tns:finnAnsvarligEnhetForOppgavetypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Ruting">
    <wsdl:operation name="finnAnsvarligEnhetForSak">
      <wsdl:input message="tns:finnAnsvarligEnhetForSakRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnAnsvarligEnhetForSakResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnAnsvarligEnhetForOppgavetype">
      <wsdl:input message="tns:finnAnsvarligEnhetForOppgavetypeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnAnsvarligEnhetForOppgavetypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
