nav-virksomhet-hendelsehandterer-behandlingstatus-v1-meldingsdefinisjon/xsd/hendelseshandtererBehandlingsstatus.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/behandlingsstatus/hendelsehandterer/v1/hendelseshandtererBehandlingsstatus" version="1.0" xmlns:informasjon="http://nav.no/melding/virksomhet/behandlingsstatus/hendelsehandterer/v1/hendelseshandtererBehandlingsstatus">
  <xsd:complexType abstract="true" name="Hendelse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Hendelse er en Abstrakt superklasse og kan ikke instansieres&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="hendelsesId" type="informasjon:HendelseID">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;OBS! Denne identifiserer kun unikt innen hendelsesprodusent. Idé til denne her: hentet fra kap 3.2.1. i "Event Processing in Action av Opher Etzion og Peter Niblett."&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hendelsesprodusentREF" type="informasjon:Applikasjoner">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikator for en hendelsesprodusent.Hendelser produseres fra f.eks. applikasjoner, tjenester etc. Hvorvidt selve identifikatoren hentes fra et kodeverk er ikke valgt her. Kodeverksrelasjon som gir rett kode i rett versjon av rett kodeverk.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hendelsesTidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tidspunktet hendelsen inntraff/oppstod (i produsentsystemet).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BehandlingStatus">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;BehandlingStatus er en Abstrakt superklasse og kan ikke instansieres, BehandlingStatus arver fra Hendelse. Asynkron melding fra fagsystemet til Sak og Behandling når behandling avsluttes.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="behandlingsID" type="informasjon:BehandlingID">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer opprettet behandling.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="behandlingstype" type="informasjon:Behandlingstyper">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilken prosess behandlingen følger.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sakstema" type="informasjon:Sakstemaer">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilket tema (hvilken ytelse) som skal behandles.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="behandlingstema" type="informasjon:Behandlingstemaer"/>
          <xsd:element maxOccurs="unbounded" name="aktoerREF" type="informasjon:Aktoer">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilke(n) aktør(er), person eller organisasjon, som 'eier' saken behandlingen inngår i.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ansvarligEnhetREF" type="informasjon:OrganisasjonID"/>
          <xsd:element minOccurs="0" name="primaerBehandlingREF" type="informasjon:PrimaerBehandling">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilken behandling den nye behandlingen er basert på, om noen.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="sekundaerBehandlingREF" type="informasjon:SekundaerBehandling">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilke behandlinger, om noen, den nye behandlingen har relasjoner til, i tillegg til en eventuell primær relasjon.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="applikasjonSakREF" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer i hvilken sak behandlingen inngår, i gjeldende applikasjon (fagsystem) dersom en slik eksisterer.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="applikasjonBehandlingREF" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Refererer til en eventuell mer spesifikk entitet i applikasjonen som svarer til behandlingen i MOD.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="styringsinformasjonListe" type="informasjon:Parameter">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;StyringsinformasjonListe dekker informasjon om dialogen (statestikk) knyttet til bahandlingstatus. Feltet kan for eksempel inneholde&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Tema (Familie, arbeid, hjelpemiddel, pensjon osv.)&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Tid (år, måned, uke, dag, time)&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Oppgave (besvar henvendelse fra bruker eller skriv henvendlese til bruker)&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;men er ikke begrensett til det.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Aktoer">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aktoerId" type="informasjon:AktoerID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrimaerBehandling">
    <xsd:sequence>
      <xsd:element name="behandlingsREF" type="informasjon:BehandlingID"/>
      <xsd:element name="type" type="informasjon:PrimaerRelasjonstyper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SekundaerBehandling">
    <xsd:sequence>
      <xsd:element name="behandlingsREF" type="informasjon:BehandlingID"/>
      <xsd:element name="type" type="informasjon:SekundaerRelasjonstyper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Behandlingsstegstatus">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Behandlingsstegstatus arver fra Hendelse. Asynkron melding fra fagsystemet til Sak og Behandling når et behandlingssteg endrer status (statr | vent | gjenoppta | avslutt)&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="behandlingsstegID" type="informasjon:BehandlingsstegID">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer gjeldende behandlingssteg.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="behandlingsstegtype" type="informasjon:Behandlingsstegtyper">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilket prosessteg behandlingssteget svarer til.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="behandlingREF" type="informasjon:BehandlingID">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifiserer hvilken behandling behandlingssteget inngår i.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="behandlingsstegstatus" type="informasjon:Behandlingsstegstatuser">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Angir om behadnlingssteget er startet, venter, gjenopptatt eller er avsluttet.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="venterPaa" type="informasjon:Venteaarsaker">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Dersom steget er i en ventetilstand, forteller denne parameteren hva det ventes på.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BehandlingAvsluttet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;BehandlingAvsluttet arver fra BehandlingStatus&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:BehandlingStatus">
        <xsd:sequence>
          <xsd:element name="avslutningsstatus" type="informasjon:Avslutningsstatuser">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Kode som sier hvordan behandlingen er avsluttet.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BehandlingOpprettet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;BehandlingOpprettet arver fra BehandlingStatus. Asynkron melding fra fagsystemet til Sak og Behandling når en behandling opprettes.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:BehandlingStatus"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BehandlingOpprettetOgAvsluttet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;BehandlingOpprettetOgAvsluttet arver fra BehandlingAvsluttet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:BehandlingAvsluttet">
        <xsd:sequence>
          <xsd:element name="opprettelsesTidspunkt" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Tidspunkt hvor behandlingen ble opprettet.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BehandlingID">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="OrganisasjonID">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="BehandlingsstegID">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="AktoerID">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:simpleType name="HendelseID">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Applikasjoner">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/ApplikasjonIDer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Avslutningsstatuser">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingstyper">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Behandlingstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sakstemaer">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Sakstemaer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingstemaer">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Behandlingstemaer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PrimaerRelasjonstyper">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;basertPå, eidAv, forrige&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/PrimaerRelasjonstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SekundaerRelasjonstyper">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;seOgså, skalVarsles&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/SekundaerRelasjonstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingsstegtyper">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Behandlingsstegtyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingsstegstatuser">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;start, vent, gjenoppta, avslutt&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Behandlingsstegstatuser" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Venteaarsaker">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Venteaarsaker" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="behandlingAvsluttet" type="informasjon:BehandlingAvsluttet"/>
  <xsd:element name="behandlingsstegstatus" type="informasjon:Behandlingsstegstatus"/>
  <xsd:element name="behandlingOpprettetOgAvsluttet" type="informasjon:BehandlingOpprettetOgAvsluttet"/>
  <xsd:element name="behandlingOpprettet" type="informasjon:BehandlingOpprettet"/>
  <xsd:complexType name="Parameter">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kan være hva som helst; sted, dato, tid osv.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Forholder seg til hva "Key" verdien er, for eksempel hvis key="sted", så kan value = "Oslo" osv ...&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datatype til "Key" verdien, for eksempel hvis key="sted", så er type = "string", hvis key="dato" så type="dateTime" osv.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>