oppgavebegrenset-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppgaveBegrenset/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/informasjon">
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Personidenter">
    <xsd:annotation>
      <xsd:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ... http://nav.no/kodeverk/Kodeverk/Personidenter

https://modapp.adeo.no/kodeverksklient/viskodeverk/Personidenter/1?3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>https://modapp.adeo.no/kodeverksklient/viskodeverk/Personidenter/1?3</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NorskIdent">
    <xsd:sequence>
      <xsd:element name="type" type="informasjon:Personidenter"/>
      <xsd:element name="ident" type="informasjon:Identifikator"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Fagomraader">
    <xsd:annotation>
      <xsd:documentation>Se: http://stash.devillo.no/projects/FELL/repos/fellessystemer/browse/environment/src/main/resources/xml/fagomrade.xml

Relevante koder har gsak="true".</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Fagomraade" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>http://stash.devillo.no/projects/FELL/repos/fellessystemer/browse/environment/src/main/resources/xml/fagomrade.xml</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>