nav-fim-foreldrepenger-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/foreldrepenger/v1/informasjon/foreldrepenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Adopsjon">
		<xs:annotation>
			<xs:documentation>Foreldrepengerettighet gjelder adopsjon</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Foreldrepengerettighet">
				<xs:sequence>
					<xs:element name="omsorgsovertakelse" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dato for når omsorgen er overtatt er identifikator for rettigheten.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Arbeidsforhold">
		<xs:annotation>
			<xs:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til foreldrepengerettigheten. Kan ha krav på refusjon i en periode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arbeidsgiversNavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="arbeidsgiversKontonummer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kontonummer som brukes for utbetaling til arbeidsgiver.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refusjonTom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refusjonstype" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kodeverk for refusjon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inntektsperiode" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inntekten er gjeldene i denne perioden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inntektForPerioden" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inntekt i perioden</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bruker">
		<xs:annotation>
			<xs:documentation>Personen som har rettighet til å få utbetalt foreldrepenger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personId" type="informasjon:Personidentifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kreditortrekk">
		<xs:annotation>
			<xs:documentation>Navn på kreditor samt beløp trukker per kreditor </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kreditorsNavn" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Navn på kreditor som mottar beløpet som trekkes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Beløp som er trukket fra denne utbetalingen til en navngitt kreditor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Utbetaling" abstract="true">
		<xs:sequence>
			<xs:element name="utbetalingsperiode" type="informasjon:Periode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Den perioden utbetalingen skal dekke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utbetalingsgrad" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prosent av total utbetaling.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kodeliste">
		<xs:sequence>
			<xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="term" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Periode">
		<xs:sequence>
			<xs:element name="fom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Foedselsnummer">
		<xs:restriction base="informasjon:Personidentifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Personidentifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Foreldrepengeperiode">
		<xs:annotation>
			<xs:documentation>En rettighet til foreldrepenger kan inndeles i flere foreldrepengeperioder </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="iddato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dato som identifiserer foreldrepengeperioden.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rettTilMoedrekvote" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode for rettighet til mødrekvote.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="moedrekvote" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flagg for å indikere om dette er av mødrekvoten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rettTilFedrekvote" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode for rettighet til fedrekvote.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fedrekvote" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flagg for å indikere om dette er av fedrekvoten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="morsSituasjon" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode for å avklare mors situasjon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aleneomsorgMor" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flagg for å indikere at mor har omsorgen alene.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aleneomsorgFar" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flagg for å indikere at far har omsorgen alene.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arbeidsprosentMor" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>% for å indikere hvor mye mor arbeider.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forskyvelsesperiode" type="informasjon:Periode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foreldrepenger er forskjøvet en periode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forskyvelsesaarsak" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode som indikerer årsaken til at foreldrepengene er forskjøvet en periode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stansaarsak" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode som indikerer årsken til at forldrepengene er stanset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="midlertidigStansDato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foreldrepengeperioden midlertidig stanset på denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="avslagsaarsak" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode som indikerer årsaken til avslag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="avslagsdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Avslag på søknad om foreldrepengeperiode på denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="disponibelGradering" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gradering som er disponibel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totaltAntallUtbetalinger" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="utbetaling" type="informasjon:Utbetaling" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Foreldrepengerettighet" abstract="true">
		<xs:annotation>
			<xs:documentation>Rett til foreldrepenger får man dersom man føder eller adopterer ett eller flere barn.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="foreldrepengetype" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode for typen foreldrepenger (adopsjon, fedrekvote osv.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="barnetsFoedselsdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dato for når fødsel fant sted.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="andreForeldersFnr" type="informasjon:Foedselsnummer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referanse til den andre foreldren til dette/disse barna.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dekningsgrad" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>80% eller 100% permisjon. Gjelde for alle periodene.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="graderingsdager" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Antall dager med gradering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maksdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rettigheten er maksimalt gyldig til denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="restDager" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Antall dager igjen av denne rettigheten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="moedrekvoteTom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mødrekvote til og med denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fedrekvoteTom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fedrekvote til og med denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arbeidskategori" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kode fo hvilken arbeidskategori bruker tilhører.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="antallBarn" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Antall barn som er født eller adoptert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreldreAvSammeKjoenn" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>«Foreldre av samme kjønn» skal ivareta funksjonalitet i de tilfellene der foreldrene er to kvinner eller to menn. Dersom foreldrene er kvinne og mann vil feltet ikke være fylt ut. 

Kodeliste:

A - mor
B - medmor
C - stebarnsadopsjon mor
D - far
E - stebarnsadopsjon far</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totaltAntallForeldrepengeperioder" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="totaltAntallArbeidsforhold" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="iArbeidsforhold" type="informasjon:Arbeidsforhold" minOccurs="0" maxOccurs="5"/>
			<xs:element name="bruker" type="informasjon:Bruker" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iPeriode" type="informasjon:Foreldrepengeperiode" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Foedsel">
		<xs:annotation>
			<xs:documentation>Foreldrepengerettighet gjelder fødsel og termindato er identifikator.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Foreldrepengerettighet">
				<xs:sequence>
					<xs:element name="termindato" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Termin for fødsel
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HistoriskUtbetaling">
		<xs:annotation>
			<xs:documentation>Utbetalinger som er utbetalt til bruker.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Utbetaling">
				<xs:sequence>
					<xs:element name="utbetalingsDato" type="xs:date" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dato for utbetaling til mottaker.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bruttobeloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Brutto beløp til utbetaling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nettobeloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nettobeløp etter trekk som er utbetalt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skattetrekk" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Skattetrekk.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arbeidsgiversNavn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Arbeidsgiver knyttet til denne utbetalingen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arbeidsgiversKontonummer" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kontonummer for arbeidsgiver knyttet til denne utbetalingen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dagsats" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Beløp pr. dag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totaltAntallKreditortrekk" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="trekk" type="informasjon:Kreditortrekk" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KommendeUtbetaling">
		<xs:annotation>
			<xs:documentation>Utbetalinger som er registrert i Infortrygd og lagt i kø for utbetaling.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Utbetaling">
				<xs:sequence>
					<xs:element name="oppgjoerstype" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kode som indikerer hva slags oppgjør.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
