gsak-oppgave/src/main/wsdl/oppgavebehandling/no/nav/tjeneste/virksomhet/oppgavebehandling/v3/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger" version="3.0" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger">
  <xsd:complexType name="EndreOppgave">
    <xsd:sequence>
      <xsd:element name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppgavens Id&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til brukeren, kan være fnr, orgnr, etc.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type bruker.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgavetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type oppgaven er. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Underkategori til valgt fagområde. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde oppgaven er knyttet til, samt hvilken underkategori den tilhører. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prioritetKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når oppgaven er aktiv fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken frist som er satt for å utføre (lukke) oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken enhet (id), eller gruppe innen enhet, som er ansvarlig for oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken applikasjonsbruker som er ansvarlig for å utføre oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva som må gjøres for å utføre en oppgave av en spesifikk oppgavetype&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken oppfølging som er gjort på oppgaven i form av et beskrivelsesfelt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ID til et dokument&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på Hendelse knyttet til Oppgave&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En sak kan ha mange kravId'er koblet til seg, men det er ingen kobling mellom disse i GSAK.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lest" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Om oppgaven er lest eller ikke. Ved opprettelse, skal vi få false fra skjermbildet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen dokumentet ble mottatt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="normDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato som angir normert behandlingstid, kan ikke endres.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til en Sak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skannetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen dokumentet ble skannet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;SøknadsId&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Mulighet for å registrere hvilken mappe denne oppgaven tilhører.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Felt for optimistisk låsing. Når en oppgave lagres må versjon være likt det som ligger lagret i databasen. For hver gang en oppgave er lagret inkrementeres versjon (+1).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="revurderingstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken revurderingstype oppgaven er.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="endreOppgaveListe" type="meldinger:EndreOppgave">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med EndreOppgave-objekter (objekter er dokumentert under lagreOppgave-operasjonen)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endretAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som endret oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaksjonOk" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilListe" type="meldinger:Bolkfeil"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FerdigstillOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på mappen som ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettMappeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="endreOppgave" type="meldinger:EndreOppgave">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppgaven som skal endres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endretAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som endret oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id-en til den nye oppgaven.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettOppgaveUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="opprettOppgave" type="meldinger:OpprettOppgave">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppsamlingsobjekt for alle attributtene til oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva slags henvendelsetype det gjelder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bolkfeil">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppgaven som feilet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Feilkode som representerer feilen som oppsto under transaksjonen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilBeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tekstlig beskrivelse av feilen som oppsto under transaksjonen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LagreMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til Mappen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mappeNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet på Mappen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til enheten som Mappen hører til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområdet Mappen hører til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Versjon, brukes for optimistisk låsing.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SlettMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id-en på mappen som skal slettes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaksjonOk" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som indikerer om hele transaksjonen ble gjennomført eller om deler av den feilet. Hvis denne er false, vil de elementene som feilet bli populert i feillisten sammen med tilhørende feilkode og feilbeskrivelse.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilListe" type="meldinger:Bolkfeil"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:LagreOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgave">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til brukeren, kan være fnr, orgnr, etc.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type bruker.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgavetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type oppgaven er. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde oppgaven er knyttet til, samt hvilken underkategori den tilhører. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Underkategori til valgt fagområde. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prioritetKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva som må gjøres for å utføre en oppgave av en spesifikk oppgavetype&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken oppfølging som er gjort på oppgaven i form av et beskrivelsesfelt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når oppgaven er aktiv fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken frist som er satt for å utføre (lukke) oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken enhet (id), eller gruppe innen enhet, som er ansvarlig for oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken applikasjonsbruker som er ansvarlig for å utføre oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ID til et dokument&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen dokumentet ble mottatt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="normDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato som angir normert behandlingstid, kan ikke endres.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til en Sak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skannetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen dokumentet ble skannet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;SøknadsId&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på Hendelse knyttet til Oppgave&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En sak kan ha mange kravId'er koblet til seg, men det er ingen kobling mellom disse i GSAK.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lest" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Om opggaven er lest eller ikke. Ved opprettelse, skal vi få false fra skjermbildet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Mulighet for å registrere hvilken mappe denne oppgaven tilhører.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="revurderingstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken revurderingstype oppgaven er.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet på Mappen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til enheten som Mappen hører til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområdet Mappen hører til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="oppgaveIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;b&gt;&lt;/b&gt;Liste med oppgave id-er som er opprettet i GSAK&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="oppgaveIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med oppgaveId som skal slettes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ferdigstiltAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som ferdigstilte oppgavene (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="opprettOppgaveListe" type="meldinger:OpprettOppgave">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med opprettOppgave objekter (objekter er dokumentert under opprettOppgave operasjonen)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva slags henvendelsetype det gjelder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SakInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Oppgavens tilhørende sak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummerKlagesak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksnummer på tilhørende sak hvis det opprettes en klagesak sammen med oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tvingNySak" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvis man ønsker å opprette en sak uansett. Bestillingstjenesten til Arena er utstyrt med logikk som oppretter en sak etter gitte kriterier. Med dette flagget satt brukes ikke denne logikken og man oppretter sak uansett&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FeilregistrerOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på oppgaven som skal feilregistreres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivelse på hvorfor oppgaven skal feilregistreres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Felt for optimistisk låsing. Når en oppgave feilregistreres må versjon være likt det som ligger lagret i databasen på oppgaven.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilregistrertAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på den enheten som feilregistrerte oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)) &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>