sykmelderstatistikk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelderstatistikk/v1/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1" location="sykmelderstatistikk.wsdl">
    </wsdl:import>
  <wsdl:binding name="sykmelderstatistikk_v1Binding" type="wsdl_1:sykmelderstatistikk_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentPasientlistesammensetning">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentPasientlistesammensetningRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDimensjonListe">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentDimensjonListeRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentDiagnoseStatistikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentDiagnoseStatistikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNoekkelInformasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentNoekkelInformasjonRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BrukerIkkeFunnet">
        <soap:fault name="BrukerIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Ugyldiginput">
        <soap:fault name="Ugyldiginput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykefravaerstilfeller">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentVarighetPaaSykefravaerstilfellerRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingPaaSykefravaerstilfeller">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentGraderingPaaSykefravaerstilfellerRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingsspredning">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentGraderingsspredningRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Konfidensialitetsbegrensning">
        <soap:fault name="Konfidensialitetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelSykmeldingerEtterSykmeldingsgrad">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentAndelSykmeldingerEtterSykmeldingsgradRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykmeldinger">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentVarighetPaaSykmeldingerRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelGraderteSykmeldingerHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentAndelGraderteSykmeldingerHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentAndelSykmeldingerEtterSykmeldingsgradHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingPaaSykefravaerstilfellerHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentGraderingPaaSykefravaerstilfellerHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPerSykefravaerstilfelleHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentVarighetPerSykefravaerstilfelleHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykefravaerstilfellerHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentVarighetPaaSykefravaerstilfellerHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykmeldingerHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentVarighetPaaSykmeldingerHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentTilbakemeldingsstatistikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentTilbakemeldingsstatistikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentTilbakemeldingsstatistikkHistorikk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk_v1/hentTilbakemeldingsstatistikkHistorikkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sykmelderstatistikk_v1">
    <wsdl:port name="sykmelderstatistikk_v1Port" binding="tns:sykmelderstatistikk_v1Binding">
      <soap:address location="http://localhost:9080/virksomhet/sykmelderstatistikk_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
