sykmelderstatistikk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelderstatistikk/v1/sykmelderstatistikk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sykmelderstatistikk" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentPasientlistesammensetning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentPasientlistesammensetningRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPasientlistesammensetningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPasientlistesammensetningUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentDimensjonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDimensjonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDimensjonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentDimensjonListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiagnoseStatistikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDiagnoseStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiagnoseStatistikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiagnoseStatistikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentNoekkelInformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentNoekkelInformasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNoekkelInformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentNoekkelInformasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNoekkelInformasjonUgyldiginput" type="feil:UgyldigInput"/>
      <xsd:element name="hentNoekkelInformasjonBrukerIkkeFunnet" type="feil:BrukerIkkeFunnet"/>
      <xsd:element name="hentVarighetPaaSykefravaerstilfeller">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentVarighetPaaSykefravaerstilfellerFellesRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykefravaerstilfellerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykefravaerstilfellerUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentGraderingPaaSykefravaerstilfeller">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentGraderingPaaSykefravaerstilfellerFellesRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingPaaSykefravaerstilfellerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingPaaSykefravaerstilfellerUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentGraderingsspredning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentGraderingsspredningRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingsspredningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentGraderingsspredningResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingsspredningUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentGraderingsspredningKonfidensialitetsbegrensning" type="feil:Konfidensialitetsbegrensning"/>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgrad">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentSykmeldingStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgradResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgradUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentVarighetPaaSykmeldinger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentSykmeldingStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykmeldingerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykmeldingerUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentAndelGraderteSykmeldingerHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentAndelGraderteSykmeldingerHistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelGraderteSykmeldingerHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelGraderteSykmeldingerHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentSykmeldingStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentGraderingPaaSykefravaerstilfellerHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentGraderingPaaSykefravaerstilfellerFellesRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingPaaSykefravaerstilfellerHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGraderingPaaSykefravaerstilfellerHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentVarighetPerSykefravaerstilfelleHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentVarighetPerSykefravaerstilfelleHistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPerSykefravaerstilfelleHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPerSykefravaerstilfelleHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentVarighetPaaSykefravaerstilfellerHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentVarighetPaaSykefravaerstilfellerFellesRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykefravaerstilfellerHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykefravaerstilfellerHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentVarighetPaaSykmeldingerHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentSykmeldingStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykmeldingerHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVarighetPaaSykmeldingerHistorikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentTilbakemeldingsstatistikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentTilbakemeldingsstatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilbakemeldingsstatistikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilbakemeldingsstatistikkUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentTilbakemeldingsstatistikkHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentTilbakemeldingsstatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilbakemeldingsstatistikkHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilbakemeldingsstatistikkHistorikkUgyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentNoekkelInformasjonResponse">
    <wsdl:part name="parameters" element="tns:hentNoekkelInformasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfellerHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentVarighetPaaSykefravaerstilfellerHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingsspredning_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentGraderingsspredningUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgrad_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentAndelSykmeldingerEtterSykmeldingsgradUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiagnoseStatistikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentDiagnoseStatistikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfeller_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentVarighetPaaSykefravaerstilfellerUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingsspredningRequest">
    <wsdl:part name="parameters" element="tns:hentGraderingsspredning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikkRequest">
    <wsdl:part name="parameters" element="tns:hentTilbakemeldingsstatistikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelGraderteSykmeldingerHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentAndelGraderteSykmeldingerHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPerSykefravaerstilfelleHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentVarighetPerSykefravaerstilfelleHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPerSykefravaerstilfelleHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentVarighetPerSykefravaerstilfelleHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfellerHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentGraderingPaaSykefravaerstilfellerHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPerSykefravaerstilfelleHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentVarighetPerSykefravaerstilfelleHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikkHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentTilbakemeldingsstatistikkHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikkHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentTilbakemeldingsstatistikkHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentTilbakemeldingsstatistikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfellerHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentGraderingPaaSykefravaerstilfellerHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfellerRequest">
    <wsdl:part name="parameters" element="tns:hentGraderingPaaSykefravaerstilfeller">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfellerHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykefravaerstilfellerHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNoekkelInformasjon_Ugyldiginput">
    <wsdl:part name="Ugyldiginput" element="tns:hentNoekkelInformasjonUgyldiginput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDimensjonListeRequest">
    <wsdl:part name="parameters" element="tns:hentDimensjonListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNoekkelInformasjon_BrukerIkkeFunnet">
    <wsdl:part name="BrukerIkkeFunnet" element="tns:hentNoekkelInformasjonBrukerIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPasientlistesammensetningResponse">
    <wsdl:part name="parameters" element="tns:hentPasientlistesammensetningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfellerHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentGraderingPaaSykefravaerstilfellerHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingsspredning_Konfidensialitetsbegrensning">
    <wsdl:part name="Konfidensialitetsbegrensning" element="tns:hentGraderingsspredningKonfidensialitetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldingerHistorikk_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentVarighetPaaSykmeldingerHistorikkUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfellerResponse">
    <wsdl:part name="parameters" element="tns:hentGraderingPaaSykefravaerstilfellerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDimensjonListeResponse">
    <wsdl:part name="parameters" element="tns:hentDimensjonListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgradRequest">
    <wsdl:part name="parameters" element="tns:hentAndelSykmeldingerEtterSykmeldingsgrad">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfellerHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykefravaerstilfellerHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikkHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentTilbakemeldingsstatistikkHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNoekkelInformasjonRequest">
    <wsdl:part name="parameters" element="tns:hentNoekkelInformasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelGraderteSykmeldingerHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentAndelGraderteSykmeldingerHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilbakemeldingsstatistikkResponse">
    <wsdl:part name="parameters" element="tns:hentTilbakemeldingsstatistikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfellerResponse">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykefravaerstilfellerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldinger_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentVarighetPaaSykmeldingerUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgradResponse">
    <wsdl:part name="parameters" element="tns:hentAndelSykmeldingerEtterSykmeldingsgradResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykefravaerstilfellerRequest">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykefravaerstilfeller">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPasientlistesammensetningRequest">
    <wsdl:part name="parameters" element="tns:hentPasientlistesammensetning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiagnoseStatistikkResponse">
    <wsdl:part name="parameters" element="tns:hentDiagnoseStatistikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingsspredningResponse">
    <wsdl:part name="parameters" element="tns:hentGraderingsspredningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldingerRequest">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykmeldinger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiagnoseStatistikkRequest">
    <wsdl:part name="parameters" element="tns:hentDiagnoseStatistikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGraderingPaaSykefravaerstilfeller_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentGraderingPaaSykefravaerstilfellerUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAndelGraderteSykmeldingerHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentAndelGraderteSykmeldingerHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldingerResponse">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykmeldingerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPasientlistesammensetning_UgyldigInput">
    <wsdl:part name="UgyldigInput" element="tns:hentPasientlistesammensetningUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldingerHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykmeldingerHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVarighetPaaSykmeldingerHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentVarighetPaaSykmeldingerHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sykmelderstatistikk_v1">
    <wsdl:operation name="hentPasientlistesammensetning">
      <wsdl:input message="tns:hentPasientlistesammensetningRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPasientlistesammensetningResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentPasientlistesammensetning_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDimensjonListe">
<wsdl:documentation>&lt;p&gt;﻿En operasjon som returnerer alle mulige statistikkdimensjoner datavarehus tilbyr, og deres underliggende dimensjoner. Dimensjonene er strukturert etter et hierarkisk prinsipp, enhver dimensjon har mulighet for en underdimensjon.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentDimensjonListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDimensjonListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentDiagnoseStatistikk">
      <wsdl:input message="tns:hentDiagnoseStatistikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDiagnoseStatistikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentDiagnoseStatistikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNoekkelInformasjon">
      <wsdl:input message="tns:hentNoekkelInformasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentNoekkelInformasjonResponse">
    </wsdl:output>
      <wsdl:fault name="BrukerIkkeFunnet" message="tns:hentNoekkelInformasjon_BrukerIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="Ugyldiginput" message="tns:hentNoekkelInformasjon_Ugyldiginput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykefravaerstilfeller">
      <wsdl:input message="tns:hentVarighetPaaSykefravaerstilfellerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentVarighetPaaSykefravaerstilfellerResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentVarighetPaaSykefravaerstilfeller_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingPaaSykefravaerstilfeller">
      <wsdl:input message="tns:hentGraderingPaaSykefravaerstilfellerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentGraderingPaaSykefravaerstilfellerResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentGraderingPaaSykefravaerstilfeller_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingsspredning">
      <wsdl:input message="tns:hentGraderingsspredningRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentGraderingsspredningResponse">
    </wsdl:output>
      <wsdl:fault name="Konfidensialitetsbegrensning" message="tns:hentGraderingsspredning_Konfidensialitetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="UgyldigInput" message="tns:hentGraderingsspredning_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelSykmeldingerEtterSykmeldingsgrad">
      <wsdl:input message="tns:hentAndelSykmeldingerEtterSykmeldingsgradRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentAndelSykmeldingerEtterSykmeldingsgradResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentAndelSykmeldingerEtterSykmeldingsgrad_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykmeldinger">
      <wsdl:input message="tns:hentVarighetPaaSykmeldingerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentVarighetPaaSykmeldingerResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentVarighetPaaSykmeldinger_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelGraderteSykmeldingerHistorikk">
      <wsdl:input message="tns:hentAndelGraderteSykmeldingerHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentAndelGraderteSykmeldingerHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentAndelGraderteSykmeldingerHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentAndelSykmeldingerEtterSykmeldingsgradHistorikk">
      <wsdl:input message="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentAndelSykmeldingerEtterSykmeldingsgradHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGraderingPaaSykefravaerstilfellerHistorikk">
      <wsdl:input message="tns:hentGraderingPaaSykefravaerstilfellerHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentGraderingPaaSykefravaerstilfellerHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentGraderingPaaSykefravaerstilfellerHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPerSykefravaerstilfelleHistorikk">
      <wsdl:input message="tns:hentVarighetPerSykefravaerstilfelleHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentVarighetPerSykefravaerstilfelleHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentVarighetPerSykefravaerstilfelleHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykefravaerstilfellerHistorikk">
      <wsdl:input message="tns:hentVarighetPaaSykefravaerstilfellerHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentVarighetPaaSykefravaerstilfellerHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentVarighetPaaSykefravaerstilfellerHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVarighetPaaSykmeldingerHistorikk">
      <wsdl:input message="tns:hentVarighetPaaSykmeldingerHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentVarighetPaaSykmeldingerHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentVarighetPaaSykmeldingerHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentTilbakemeldingsstatistikk">
      <wsdl:input message="tns:hentTilbakemeldingsstatistikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentTilbakemeldingsstatistikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentTilbakemeldingsstatistikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentTilbakemeldingsstatistikkHistorikk">
      <wsdl:input message="tns:hentTilbakemeldingsstatistikkHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentTilbakemeldingsstatistikkHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigInput" message="tns:hentTilbakemeldingsstatistikkHistorikk_UgyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
