varsler/src/main/resources/Varsler.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:varsler="http://nav.no/melding/domene/brukerdialog/varsler/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="VarslerService"
                  targetNamespace="http://nav.no/melding/domene/brukerdialog/varsler/v1">
    <wsdl:types>
        <xsd:schema
            elementFormDefault="unqualified"
            targetNamespace="http://nav.no/melding/domene/brukerdialog/varsler/v1"
            xmlns:varsler="http://nav.no/melding/domene/brukerdialog/varsler/v1"
            xmlns:meldinger="http://nav.no/melding/domene/brukerdialog/varsler/v1/meldinger">

            <xsd:import namespace="http://nav.no/melding/domene/brukerdialog/varsler/v1/meldinger"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/varsler/v1/meldinger.xsd"/>

            <xsd:element name="hentVarslerRequest" type="meldinger:hentVarslerRequest"/>
            <xsd:element name="hentVarslerResponse" type="meldinger:hentVarslerResponse"/>
            
            <xsd:element name="ping" type="meldinger:pingRequest"/>
            <xsd:element name="pingResponse" type="meldinger:pingResponse"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="hentVarslerRequest">
        <wsdl:part name="request" element="varsler:hentVarslerRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentVarslerResponse">
        <wsdl:part name="response" element="varsler:hentVarslerResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="request" element="varsler:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="response" element="varsler:pingResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="varslerPorttype">
        <wsdl:operation name="ping">
            <wsdl:input message="varsler:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="varsler:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentVarsler">
            <wsdl:input message="varsler:hentVarslerRequest" name="hentVarslerRequest">
            </wsdl:input>
            <wsdl:output message="varsler:hentVarslerResponse" name="hentVarslerResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="varslerBinding" type="varsler:varslerPorttype">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentVarsler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentVarslerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentVarslerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Varsler_v1">
        <wsdl:port binding="varsler:varslerBinding" name="Varsler_v1">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/Varsler_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
