nav-fim-behandleJournal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettUtgaaendeJournalpostMedHoveddokument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettUtgaaendeJournalpostMedHoveddokument" xmlns:oujmh="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettUtgaaendeJournalpostMedHoveddokument" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon" schemaLocation="behandleJournal.xsd"/>
	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="informasjon:Aktoer">
				<xs:sequence>
					<xs:element name="orgnummer" type="oujmh:Organisasjonsidentifikator" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="informasjon:Aktoer">
				<xs:sequence>
					<xs:element name="personnavn" type="oujmh:Personnavn" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ident" type="informasjon:NorskIdent" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsidentifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Personnavn">
		<xs:sequence>
			<xs:element name="sammensattNavn" type="oujmh:Navn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JournalfoertDokumentInfo">
		<xs:complexContent>
			<xs:extension base="oujmh:Dokumentbeskrivelse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Dokumentbeskrivelse">
		<xs:sequence>
			<xs:element name="begrensetPartsInnsyn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tilleggsopplysninger" type="informasjon:NoekkelVerdiSett" minOccurs="0" maxOccurs="1"/>
			<xs:element name="organInternt" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sensitivitet" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dokumentType" type="informasjon:Dokumenttyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="beskriverInnhold" type="informasjon:DokumentInnhold" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Journalpost">
		<xs:sequence>
			<xs:element name="dokumentDato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="kanal" type="informasjon:Kommunikasjonskanaler" minOccurs="1" maxOccurs="1"/>
			<xs:element name="signatur" type="informasjon:Signatur" minOccurs="0" maxOccurs="1"/>
			<xs:element name="arkivtema" type="informasjon:Arkivtemaer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="forBruker" type="informasjon:Aktoer" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="eksternPart" type="informasjon:Aktoer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iBehandling" type="informasjon:Behandling" minOccurs="1" maxOccurs="1"/>
			<xs:element name="gjelderSak" type="informasjon:Sak" minOccurs="1" maxOccurs="1"/>
			<xs:element name="distribusjonAvJournal" type="oujmh:Journaldistribusjon" minOccurs="0" maxOccurs="1"/>
			<xs:element name="journalfoertDokument" type="oujmh:JournalfoertDokumentInfo" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Journaldistribusjon">
		<xs:sequence>
			<xs:element name="elektroniskDistribusjon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="faktiskDistribusjonskanal" type="informasjon:Kommunikasjonskanaler" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lestDato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mottattAdressatDato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sendtPrintDato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
