cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/ASBOGOSYSKonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="no.nav.gosys.asbo" targetNamespace="no.nav.gosys.asbo.samhandler">
	<xsd:import namespace="no.nav.gosys.asbo" schemaLocation="ASBOGOSYSAdresse.xsd">
	</xsd:import>
	<xsd:complexType name="ASBOGOSYSKonto">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kontoType" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontonummer" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="banknavn" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="bankkode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="swiftkode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="valuta" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="bankadresse" type="bons0:ASBOGOSYSAdresse">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
