cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/ASBOGOSYSFagomrade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo">
    <xsd:include schemaLocation="ASBOGOSYSEndringsInfo.xsd"/>
    <xsd:complexType name="ASBOGOSYSFagomrade">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="trekkGruppeKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fagomradeBeskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="gyldig" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOGOSYSEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
