nav-tiltakogaktivitet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/tiltakOgAktivitet/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/informasjon" xmlns:tiltakOgAktivitet="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/informasjon">
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En periode angir et tidsintervall med fra-og-med og til-og-med.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om kodeverdien som blir brukt fra kodeverket&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Referanse til koden som blir brukt&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="termnavn" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Termnavn på koden som blir brukt&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Deltakerstatuser">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Arena internt kodeverk for status deltaker&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tiltakOgAktivitet:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Referanse til kodeverket som blir brukt&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Aktivitetsstatuser">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Arena internt kodeverk for status gjeldende person meldt på aktivitet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tiltakOgAktivitet:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Referanse til kodeverket som blir brukt&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Moeteplan">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om møteplan&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="startDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Møte start dato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="startKlokkeslett" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Møte start tidspunkt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sluttDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Møte slutt dato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sluttKlokkeslett" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Møte slutt tidspunkt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sted" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Møtested&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tiltaksaktivitet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om en tiltaksaktivitet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tiltaksnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på tiltak fra internt kodeverk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetId" type="tiltakOgAktivitet:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik intern Arena ID på tiltaksaktiviteten&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tiltakLokaltNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Lokalt navn som er registrert på tiltaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrangoer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tiltaksarrangør sitt oppgitte navn i arbeidsgiverregisteret i Arena&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bedriftsnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tiltaksarrangør sitt bedriftsnummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="deltakelsePeriode" type="tiltakOgAktivitet:Periode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Perioden bruker skal delta/har deltatt på tiltak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="deltakelseProsent" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Deltakerens prosentvise deltakelse på tiltaksgjennomføringen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallDagerPerUke" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall dager per uke&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deltakerStatus" type="tiltakOgAktivitet:Deltakerstatuser">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Status for tiltaksdeltakelse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="statusSistEndret" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato status ble sist endret&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="begrunnelseInnsoeking" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Begrunnelse for innsøking. Lengden på teksten kan være inntil 2000 tegn.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktivitet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om en aktivitet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aktivitetstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på aktivitetstypen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetId" type="tiltakOgAktivitet:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik intern Arena ID innenfor aktivitetstypen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivelse av aktiviteten&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utdanningsaktivitet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om en utdanningsaktivitet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tiltakOgAktivitet:Aktivitet">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aktivitetPeriode" type="tiltakOgAktivitet:Periode">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Periode for utdanningsaktiviteten&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gruppeaktivitet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Informasjon om en gruppeaktivitet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tiltakOgAktivitet:Aktivitet">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="moeteplanListe" type="tiltakOgAktivitet:Moeteplan">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Informasjon om møteplaner&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="status" type="tiltakOgAktivitet:Aktivitetsstatuser">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Status for personen som er meldt på gruppeaktiviteten&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>