nav-behandleinngaaendejournal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleInngaaendeJournal/v1/behandleinngaaendejournal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleInngaaendeJournal" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleInngaaendeJournal/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillJournalfoering">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FerdigstillJournalfoeringRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillJournalfoeringResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillJournalfoeringsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ferdigstillJournalfoeringobjektIkkeFunnet" type="feil:ObjektIkkeFunnet"/>
      <xsd:element name="ferdigstillJournalfoeringjournalpostIkkeInngaaende" type="feil:JournalpostIkkeInngaeende"/>
      <xsd:element name="ferdigstillJournalfoeringferdigstillingIkkeMulig" type="feil:FerdigstillingIkkeMulig"/>
      <xsd:element name="ferdigstillJournalfoeringugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="oppdaterJournalpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OppdaterJournalpostRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterJournalpostResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterJournalpostsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="oppdaterJournalpostobjektIkkeFunnet" type="feil:ObjektIkkeFunnet"/>
      <xsd:element name="oppdaterJournalpostugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="oppdaterJournalpostjournalpostIkkeInngaaende" type="feil:JournalpostIkkeInngaeende"/>
      <xsd:element name="oppdaterJournalpostoppdateringIkkeMulig" type="feil:OppdateringIkkeMulig"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="oppdaterJournalpost_oppdateringIkkeMulig">
    <wsdl:part name="oppdateringIkkeMulig" element="tns:oppdaterJournalpostoppdateringIkkeMulig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoering_ferdigstillingIkkeMulig">
    <wsdl:part name="ferdigstillingIkkeMulig" element="tns:ferdigstillJournalfoeringferdigstillingIkkeMulig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpost_journalpostIkkeInngaaende">
    <wsdl:part name="journalpostIkkeInngaaende" element="tns:oppdaterJournalpostjournalpostIkkeInngaaende">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoering_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:ferdigstillJournalfoeringsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoeringResponse">
    <wsdl:part name="parameters" element="tns:ferdigstillJournalfoeringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoering_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:ferdigstillJournalfoeringugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpost_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:oppdaterJournalpostsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoering_journalpostIkkeInngaaende">
    <wsdl:part name="journalpostIkkeInngaaende" element="tns:ferdigstillJournalfoeringjournalpostIkkeInngaaende">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpostRequest">
    <wsdl:part name="parameters" element="tns:oppdaterJournalpost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpost_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:oppdaterJournalpostugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoering_objektIkkeFunnet">
    <wsdl:part name="objektIkkeFunnet" element="tns:ferdigstillJournalfoeringobjektIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpost_objektIkkeFunnet">
    <wsdl:part name="objektIkkeFunnet" element="tns:oppdaterJournalpostobjektIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillJournalfoeringRequest">
    <wsdl:part name="parameters" element="tns:ferdigstillJournalfoering">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterJournalpostResponse">
    <wsdl:part name="parameters" element="tns:oppdaterJournalpostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleInngaaendeJournal_v1">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ferdigstillJournalfoering">
      <wsdl:input message="tns:ferdigstillJournalfoeringRequest">
    </wsdl:input>
      <wsdl:output message="tns:ferdigstillJournalfoeringResponse">
    </wsdl:output>
      <wsdl:fault name="objektIkkeFunnet" message="tns:ferdigstillJournalfoering_objektIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:ferdigstillJournalfoering_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ferdigstillingIkkeMulig" message="tns:ferdigstillJournalfoering_ferdigstillingIkkeMulig">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeInngaaende" message="tns:ferdigstillJournalfoering_journalpostIkkeInngaaende">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:ferdigstillJournalfoering_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="oppdaterJournalpost">
      <wsdl:input message="tns:oppdaterJournalpostRequest">
    </wsdl:input>
      <wsdl:output message="tns:oppdaterJournalpostResponse">
    </wsdl:output>
      <wsdl:fault name="oppdateringIkkeMulig" message="tns:oppdaterJournalpost_oppdateringIkkeMulig">
    </wsdl:fault>
      <wsdl:fault name="objektIkkeFunnet" message="tns:oppdaterJournalpost_objektIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:oppdaterJournalpost_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeInngaaende" message="tns:oppdaterJournalpost_journalpostIkkeInngaaende">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:oppdaterJournalpost_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
