henvendelse-meldinger-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/Meldinger.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1"
	xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/meldinger"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="HenvendelseMeldingerService" targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1">

	<wsdl:types>
		<xs:schema
			xmlns:informasjon="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon" schemaLocation="informasjon/informasjon.xsd" />

			<xs:element name="hentMeldingListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fodselsnummer" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="hentMeldingListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="informasjon:melding" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ping">
				<xs:complexType />
			</xs:element>

			<xs:element name="pingResponse">
				<xs:complexType />
			</xs:element>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="hentMeldingListeRequest">
		<wsdl:part element="meldinger:hentMeldingListe" name="parameters" />
	</wsdl:message>
	<wsdl:message name="hentMeldingListeResponse">
		<wsdl:part element="meldinger:hentMeldingListeResponse" name="parameters" />
	</wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="meldinger:ping" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="meldinger:pingResponse" name="parameters" />
    </wsdl:message>

	<wsdl:portType name="HenvendelseMeldingerPortType">
		<wsdl:operation name="hentMeldingListe">
			<wsdl:input message="tns:hentMeldingListeRequest" name="hentMeldingListeRequest" />
			<wsdl:output message="tns:hentMeldingListeResponse" name="hentMeldingListeResponse" />
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest" />
            <wsdl:output message="tns:pingResponse" name="pingResponse" />
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HenvendelseMeldingerBinding" type="tns:HenvendelseMeldingerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="hentMeldingListe">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="hentMeldingListeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="hentMeldingListeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HenvendelseMeldingerService">
		<wsdl:port binding="tns:HenvendelseMeldingerBinding" name="HenvendelseMeldingerPort">
			<soap:address location="http://localhost:8081/domene.Brukerdialog/HenvendelseMeldingerService_v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
