testvarsel-opprettelse/src/main/resources/no/nav/tjeneste/domene/brukerdialog/opprettestvarsel/v1/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1/meldinger"
            xmlns:meldinger="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1/meldinger">
    <xsd:element name="opprettestvarsel" type="meldinger:opprettestvarselRequest"/>

    <xsd:complexType name="opprettestvarselRequest">
        <xsd:sequence>
            <xsd:element name="varselType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Type varsel som skal opprettes&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fnr" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Fnr for bruker som skal varsles&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="meldinger:parameterListe">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Liste med parametere&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element type="xsd:dateTime" name="utlopsdato" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Dato og tidspunkt for når varselet blir ugyldig&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="opprettestvarselResponse">
        <xsd:sequence>
            <xsd:element name="varselId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Id for varsel</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="parameterListe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="parameter" type="meldinger:parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="parameter">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="pingRequest">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pingResponse">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>