send-inn-henvendelse/src/main/resources/SendInnHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="SendInnHenvendelseService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse"
                   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/sendinnhenvendelse/meldinger"
                   schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/meldinger.xsd"/>

            <xs:element name="sendInnHenvendelse" type="meldinger:sendInnHenvendelseRequest"/>
            <xs:element name="sendInnHenvendelseResponse" type="meldinger:sendInnHenvendelseResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="sendInnHenvendelseRequest">
        <wsdl:part element="tns:sendInnHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendInnHenvendelseResponse">
        <wsdl:part element="tns:sendInnHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SendInnHenvendelsePortType">
        <wsdl:operation name="sendInnHenvendelse">
            <wsdl:input message="tns:sendInnHenvendelseRequest" name="sendInnHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:sendInnHenvendelseResponse" name="sendInnHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendInnHenvendelseBinding" type="tns:SendInnHenvendelsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendInnHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendInnHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendInnHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendInnHenvendelseService">
        <wsdl:port binding="tns:SendInnHenvendelseBinding" name="SendInnHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/SendInnHenvendelseService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
