cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/utbetaling/ASBOGOSYSUtbetaling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/utbetaling" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/utbetaling">
    <xsd:include schemaLocation="ASBOGOSYSPosteringsdetaljer.xsd"/>
    <xsd:complexType name="ASBOGOSYSUtbetaling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utbetalingsId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="delNokkel" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utbetalingsAr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bilagsnrSerie" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bilagsnummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoUtbetaling" type="xsd:date"/>
            <xsd:element minOccurs="0" name="statusDato" type="xsd:date"/>
            <xsd:element minOccurs="0" name="kodeYtelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tekstYtelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utbetalingsKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bilagsKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoFOM" type="xsd:date"/>
            <xsd:element minOccurs="0" name="datoTOM" type="xsd:date"/>
            <xsd:element minOccurs="0" name="status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="statusTekst" type="xsd:string"/>
            <xsd:element minOccurs="0" name="gironr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mottakerFnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mottakerNavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="brutto" type="xsd:float"/>
            <xsd:element minOccurs="0" name="trekk" type="xsd:float"/>
            <xsd:element minOccurs="0" name="netto" type="xsd:float"/>
            <xsd:element minOccurs="0" name="valuta" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="posteringsdetaljer" type="bons1:ASBOGOSYSPosteringsdetaljer"/>
            <xsd:element minOccurs="0" name="Melding" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
