ytelseskontrakt-v3-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/ytelseskontrakt/v3/metadata/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/metadata" version="3.0" xmlns:metadata="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/metadata">
  <xsd:simpleType name="Kildetyper">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="intern"/>
      <xsd:enumeration value="samhandler"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KildetyperPerson">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="andre"/>
      <xsd:enumeration value="bruker"/>
      <xsd:enumeration value="medarbeider"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dokumentasjonstype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="arkivertBrev"/>
      <xsd:enumeration value="behandling"/>
      <xsd:enumeration value="elektronisk signatur"/>
      <xsd:enumeration value="fil"/>
      <xsd:enumeration value="telefon"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="Versjon">
    <xsd:attribute name="versjoneringsdato" type="xsd:date"/>
    <xsd:attribute name="versjonsnummer" type="xsd:decimal"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="Bruksperiode">
    <xsd:attribute name="fomBruksperiode" type="xsd:date"/>
    <xsd:attribute name="tomBruksperiode" type="xsd:date"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="Oppbevaringstid">
    <xsd:attribute name="fomOppbevaringsperiode" type="xsd:date"/>
    <xsd:attribute name="tomOppbevaringsperiode" type="xsd:date"/>
  </xsd:attributeGroup>
  <xsd:simpleType name="Endringstyper">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="endret"/>
      <xsd:enumeration value="ny"/>
      <xsd:enumeration value="slettet"/>
      <xsd:enumeration value="utgaatt"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="Endringssporing">
    <xsd:attribute name="endretAv" type="xsd:string"/>
    <xsd:attribute name="endringstidspunkt" type="xsd:dateTime"/>
    <xsd:attribute name="endringstype" type="metadata:Endringstyper"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="Dokumentasjon">
    <xsd:attribute name="dokumentasjonstype" type="metadata:Dokumentasjonstype"/>
    <xsd:attribute name="faktumtype" type="xsd:anyURI"/>
    <xsd:attribute name="fomBruksperiodeDokumentasjon" type="xsd:date"/>
    <xsd:attribute name="navID_Dokumentasjon" type="xsd:string"/>
    <xsd:attribute name="tomBruksperiodeDokumentasjon" type="xsd:date"/>
  </xsd:attributeGroup>
  <xsd:simpleType name="Periodetyper">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bruksperiode"/>
      <xsd:enumeration value="gyldighetsperiode"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="Klassifikasjon">
    <xsd:attribute name="klassifiseringskode" type="metadata:Klassifiseringskoder"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="Systemkilde">
    <xsd:attribute name="kildeIdentifikator" type="xsd:string"/>
    <xsd:attribute name="kildenavn" type="xsd:string"/>
    <xsd:attribute name="referanse" type="xsd:anyURI"/>
    <xsd:attribute name="registrertTidspunktSystemkilde" type="xsd:dateTime"/>
    <xsd:attribute name="systemidentifikator" type="xsd:string"/>
    <xsd:attribute name="systemkildebeskrivelse" type="xsd:string"/>
    <xsd:attribute name="systemkildetype" type="metadata:Kildetyper"/>
    <xsd:attribute name="systemnavn" type="xsd:string"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="Personkilde">
    <xsd:attribute name="iRolle" type="xsd:string"/>
    <xsd:attribute name="personId" type="xsd:string"/>
    <xsd:attribute name="personkildebeskrivelse" type="xsd:string"/>
    <xsd:attribute name="personkildetype" type="metadata:KildetyperPerson"/>
    <xsd:attribute name="registrertTidspunktPersonkilde" type="xsd:dateTime"/>
  </xsd:attributeGroup>
  <xsd:simpleType name="Klassifiseringskoder">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ekstraHoeyt"/>
      <xsd:enumeration value="hoeyt"/>
      <xsd:enumeration value="lavt"/>
      <xsd:enumeration value="middels"/>
      <xsd:enumeration value="moderat"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="Gyldighetsperiode">
    <xsd:attribute name="fomGyldighetsperiode" type="xsd:dateTime"/>
    <xsd:attribute name="tomGyldighetsperiode" type="xsd:dateTime"/>
  </xsd:attributeGroup>
</xsd:schema>