journal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/gjennomforing/arkiv/journal/journal.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/virksomhet/gjennomforing/arkiv/journal/v2" version="2.0" xmlns:journal="http://nav.no/virksomhet/gjennomforing/arkiv/journal/v2">
  <xsd:complexType abstract="true" name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="Kodetabell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dekode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Journalstatus">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Referansetype">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KryssreferanseUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SporingUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SporingsdetaljUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sporingsdetalj">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ident" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Saksbehandler som har registrert inn dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="identnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn til saksbehandler som har registrert inn dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunktet dataene ble lagt inn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kildenavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kilden til dataene (system) – identifiserer systemet dataene kom fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:SporingsdetaljUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sporing">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="endretInfo" type="journal:Sporingsdetalj">
        <xsd:annotation>
          <xsd:documentation>Informasjon om når dataene ble endret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetInfo" type="journal:Sporingsdetalj">
        <xsd:annotation>
          <xsd:documentation>Informasjon om når dataene ble opprettet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:SporingUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kryssreferanse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kryssreferanseId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="referanseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse (intern eller ekstern)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="referansetype" type="journal:Referansetype">
        <xsd:annotation>
          <xsd:documentation>Definerer type referanse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="referanseNr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Sorteringsnummer for journalposter med kryssReferanse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:KryssreferanseUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaktiskDistribusjonskanal">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fagomrade">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Journalposttype">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utsendingskanal">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Mottakskanal">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostDokumentInfoRelasjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TilknyttetJournalpostSom">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Dokumentkategori">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NoekkelVerdiSettUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="NoekkelVerdiPar">
    <xsd:sequence>
      <xsd:element name="noekkel" type="journal:Identifikator"/>
      <xsd:element name="verdi" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoekkelVerdiSett">
    <xsd:sequence>
      <xsd:element name="inneholderNoekkelVerdiPar" type="journal:NoekkelVerdiPar"/>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:NoekkelVerdiSettUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentInfoUtvidelse2">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentInfoUtvidelse1">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tilleggsopplysningerListe" type="journal:NoekkelVerdiSett">
        <xsd:annotation>
          <xsd:documentation>Mulighet for å legge inn tilleggsopplysninger utover journalbehov, eksempelvis brukers tittel på dokumentet eller informasjon om at dokumentet er et eksternt vedlegg.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:DokumentInfoUtvidelse2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SkannetInnholdUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SkannetInnhold">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="skannetInnholdId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vedleggNr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Sorteringsnr for vedlegg</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vedleggInnhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskriver innholdet i dokumentet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:SkannetInnholdUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FildetaljerUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VariantFormat">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Filtype">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fildetaljer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fildetaljerId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filUuid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>UUID til filen i dokumentlageret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filtype" type="journal:Filtype">
        <xsd:annotation>
          <xsd:documentation>Filformat.


Kode

   

Beskrivelse


PDF

   

PDF fil


XML

   

XML fil


RTF

   

RTF fil


AFP

   

AFP fil</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="variantFormat" type="journal:VariantFormat">
        <xsd:annotation>
          <xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="batchNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukes ved skanning av inngående dokumenter.

Angir navnet på batchen dokumentet var en del av. Batchnavn i kombinasjon med skannet dato skal være unik verdi. Feltet brukes også i forbindelse med konvertering.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet på pdf-fila som ble skannet av TS eller TI, før det ble arkivert. Filnavn blir generert av skanning løsning. Feltet brukes også i forbindelse med konvertering.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filstorrelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Størrelsen på fila i antall bytes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:FildetaljerUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dokumentstatus">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dokumentInfoId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Id til dokumentinformasjonen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skannetInnholdListe" type="journal:SkannetInnhold">
        <xsd:annotation>
          <xsd:documentation>SkannetInnhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fildetaljerListe" type="journal:Fildetaljer">
        <xsd:annotation>
          <xsd:documentation>FilDetaljer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kategori" type="journal:Dokumentkategori">
        <xsd:annotation>
          <xsd:documentation>
Kode

   

Beskrivelse


B

   

Brev


VB

   

Vedtaksbrev


IB

   

Infobrev


ES

   

Elektronisk skjema


TS

   

Tolkbart skjema


IS

   

Ikke tolkbart skjema


EP

   

E-post


F

   

Faktura


KS

   

Konverterte data fra system


KD

   

Konvertert fra elektronisk arkiv


KM

   

Konvertert fra papirarkiv (skannet)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentFerdigDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for ferdigstillelse av dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentstatus" type="journal:Dokumentstatus">
        <xsd:annotation>
          <xsd:documentation>Statuskode for å styre dokumentproduksjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tittel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dokumentets tittel/innhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brevkode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kun relevant for utgående brev. Behov dersom det er feil i en brevmal, og man må finne hvilke utgående dok / interne notater det gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brevgruppe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brevgruppe som dokumentet tilhører</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="originalJournalpostId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Referanse til opprinnelig forsendelse som dokumentet var en del av. Skal ikke kunne endres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="konfidensialitet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sikkerhetsklassifisering av dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sensitivt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>2 graderinger (Personsensitivt og Ikke personsensitivt). Skal brukes av selvbetjeningsløsning for å bestemme om bruker kan se dokumentene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="integritet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sikkerhetsklassifisering av dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilgjengelighet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sikkerhetsklassifisering av dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innskrenketPartsinnsyn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om bruker skal få tilgang til dokument skal vurderes i forhold til  Forvaltningsloven § 19 c: (innskrenket adgang til visse slags opplysninger).” som det av hensyn til hans helse eller hans forhold til personer som står ham nær, må anses utilrådelig at han får kjennskap til; likevel slik at opplysningene på anmodning skal gjøres kjent for en representant for parten når ikke særlige grunner taler mot det.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organInternt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om bruker skal få tilgang til dokument skal vurderes i forhold til  Forvaltningsloven § 19 c: (innskrenket adgang til visse slags opplysninger).” som det av hensyn til hans helse eller hans forhold til personer som står ham nær, må anses utilrådelig at han får kjennskap til; likevel slik at opplysningene på anmodning skal gjøres kjent for en representant for parten når ikke særlige grunner taler mot det.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="konvertertFraSystem" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på system som det konverteres data fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:DokumentInfoUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalpostDokumentInfoRelasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalpostDokumentInfoRelasjonId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentInfo" type="journal:DokumentInfo">
        <xsd:annotation>
          <xsd:documentation>DokumentInfo</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilknyttetJournalpostSom" type="journal:TilknyttetJournalpostSom">
        <xsd:annotation>
          <xsd:documentation>Angivelse av om dokumentet er hovedDokument eller vedlegg i forsendelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilknyttetAvNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SaksbehandlerNavn som har knyttet dokumentet til forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:JournalpostDokumentInfoRelasjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReturInfoUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArsakRetur">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReturInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="returInfoId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="returDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for når forsendelsen har kommet i retur</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arsakRetur" type="journal:ArsakRetur">
        <xsd:annotation>
          <xsd:documentation>Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresseSendtIgjen" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angivelse av evt. adresse hvis forsendelsen forsøkes sendt på nytt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtIgjenDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for når forsendelsen evt. forsøkes sendt på nytt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:ReturInfoUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Brukertype">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BrukerUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Bruker">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer /tss id til personen(e) /organisasjon journalposten gjelder. Dersom journalposten gjelder flere personer, legges fødselsnummer inn for disse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukerInfoId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="brukertype" type="journal:Brukertype">
        <xsd:annotation>
          <xsd:documentation>Definerer type gjelderId


Kode

   

Beskrivelse


PERSON

   

Person (Fødselsnummer)


ORGANISASJON

   

Organisasjon (Org.nr)


SAMHANDLER

   

Samhandler (tss_ekstern_id)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:BrukerUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaksrelasjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="journal:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fagsystem">
    <xsd:complexContent>
      <xsd:extension base="journal:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Saksrelasjon">
    <xsd:annotation>
      <xsd:documentation>Saksrelasjonen brukes til å knytte JournalPoster til en saksId. Fordi man skal beholde knytning mellom sak og Journal selv om denne er feilregistrert er relasjonen et eget objekt</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksrelasjonId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Id til saksrelasjonen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id på saken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagsystem" type="journal:Fagsystem">
        <xsd:annotation>
          <xsd:documentation>Hvilket system saken tilhører</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilregistrert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>True hvis knytningen mellom sak og journalpost ikke lenger er gyldig</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:SaksrelasjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Journalpost">
    <xsd:annotation>
      <xsd:documentation>En Journalpost lages per dokument og knyttes til en eller flere saker via en eller flere SaksRelasjoner. En JournalPost inneholder et DokumentInfo objekt</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalpostId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Id for journalposten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksrelasjon" type="journal:Saksrelasjon">
        <xsd:annotation>
          <xsd:documentation>Saksrelasjonen brukes til å knytte JournalPoster til en saksId. Fordi man skal beholde knytning mellom sak og Journal selv om denne er feilregistrert er relasjonen et eget objekt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjelderListe" type="journal:Bruker">
        <xsd:annotation>
          <xsd:documentation>Informasjon om hvem journalen holder på informasjon om</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kryssreferanseListe" type="journal:Kryssreferanse">
        <xsd:annotation>
          <xsd:documentation>Kryssreferanse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="returInfoListe" type="journal:ReturInfo">
        <xsd:annotation>
          <xsd:documentation>ReturInfo</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="journalpostDokumentInfoRelasjonListe" type="journal:JournalpostDokumentInfoRelasjon">
        <xsd:annotation>
          <xsd:documentation>JournalpostDokumentInfoRelasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalposttype" type="journal:Journalposttype">
        <xsd:annotation>
          <xsd:documentation>Angir om forsendelsen er 1) inngående 2) utgående 3) internt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomrade" type="journal:Fagomrade">
        <xsd:annotation>
          <xsd:documentation>Fagområdet journalposten tilhører, for eksempel dagpenger, kontantstøtte og pensjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravtype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Generisk felt på tvers av fagsystem. Kravtype kan være for eksempel søknad, klage, informasjon.  Begrepet kravtype kan brukes av alle, men verdier/ innholdet i feltet er fagspesifikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for journalføring, dvs. når journalstatus er satt til J eller FS/FL.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato på hoveddokument/forsendelse (dato påført dokumentet av avsender, eller av NAV). For inngående brev må denne registreres manuelt av saksbehandler. Hvis dokumentet mangler dato, skal feltet være tomt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalstatus" type="journal:Journalstatus">
        <xsd:annotation>
          <xsd:documentation>Statuskoder for inngående og utgående dokumenter: 


Kode

   

Beskrivelse


MO

   

Mottatt


M

   

Midlertidig journalført / Fordelt


J

   

Journalført


U

   

Utgår før tilknytning til sak


UB

   

Dokument har ukjent bruker


R

   

Reservert 


D

   

Under arbeid


FL

   

Ferdig og klar for lokal print


FS

   

Ferdig og klar for sentral print


E

   

Ekspedert (brukes ikke for fase 2)


A

   

Avbrutt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskriver innhold/tittel i hoveddokumentet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avsenderMottaker" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på dokumentets avsender (ved inngående dokument) eller mottaker (ved utgående dokument)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avsenderMottakerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer eller organisasjonsnr (TSS)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalfortAvNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på saksbehandler/system som har foretatt journalføring.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato dokumentet mottatt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottakskanal" type="journal:Mottakskanal">
        <xsd:annotation>
          <xsd:documentation>Fritekstfelt for å legge inn kommentarer til dokumenthåndtering (Ikke saksbehandling). Krever regler for bruk i forhold til sensitive opplysninger, om feltet vil være tilgjengelig ved partsinnsyn osv.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utsendingskanal" type="journal:Utsendingskanal">
        <xsd:annotation>
          <xsd:documentation>Angivelse av hvilken kanal et dokument har blitt sendt ut gjennom.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalForendeEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Journalførende enhet er sammen med ”fagområde” fordelingsnøkkel for inngående brev.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fordeling" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fagspesifikk fordelingskoder skal sammen med fagomrade brukes for å rute midlertidig journalført dokument videre til saksansvarlig enhet som skal journalføre. (Pensjon vil bruke journalførende enhet – og ikke dette feltet for fordeling)).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="land" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Land det har kommet blankett fra eller som det skal sendes blankett til. Kun e-blanketter som skal til og fra utenlandske myndigheter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="originaltBestilt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Brukes for å markere at det er bestilt original fra papirarkiv. Det er aktuelt i forbindelse med utenlandssaker.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="faktiskDistribusjonskanal" type="journal:FaktiskDistribusjonskanal">
        <xsd:annotation>
          <xsd:documentation>Angir om dokumentet er distribuert via sentral print eller lokal print.

Feltet vil også dekke fremtidig behov for å registrere hva som er distribuert elektronisk via selvbetjeningsløsningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="elektroniskDistribusjon" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som benyttes for å holde tilbake sentral print av brev i Pensjonsløsningen (brev tilgjengeliggjøres kun i selvbetjeningsløsning).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtPrintDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Datoen journalposten ble plukket ut til Sentral Print. Brukes ikke der status = FL</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ekspedertDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for utsendelse gjennom sentral print. Vil først kunne benyttes når sentral print sender tilbakemelding til Journal arkiv med status ekspedert og dato.  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lestDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato som angir om og når bruker har lest den elektroniske forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattAdressatDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunkt for mottak av utgående elektroniske forsendelser</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallRetur" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Antall ganger et utgående brev har kommet i retur</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avsendtReturDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for sist gang brevet har blitt sendt på nytt. Settes manuelt til dagens dato dersom antall retur er oppdatert uten at dato er angitt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="merknad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fritekstfelt for å legge inn kommentarer til dokumenthåndtering (Ikke saksbehandling). Krever regler for bruk i forhold til sensitive opplysninger, om feltet vil være tilgjengelig ved partsinnsyn osv.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="journal:Sporing">
        <xsd:annotation>
          <xsd:documentation>Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Benyttes for optimistisk låsing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="journal:JournalpostUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>