sykefravaersoppfoelgingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykefravaersoppfoelging/v1/sykefravaersoppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sykefravaersoppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentNaermesteLeder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLederRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLederResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLederListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLederListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersAnsattListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLedersAnsattListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersAnsattListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLedersAnsattListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersAnsattListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersAnsattListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersAnsattListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersAnsattListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLeder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sykefravaersoppfoelging_v1">
    <wsdl:operation name="hentNaermesteLeder">
<wsdl:documentation>Hent brukers seneste naermeste leder på requestens orgnummer </wsdl:documentation>
      <wsdl:input message="tns:hentNaermesteLederRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLederResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLederListe">
<wsdl:documentation>Hent brukers nærmeste ledere </wsdl:documentation>
      <wsdl:input message="tns:hentNaermesteLederListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLederListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLedersAnsattListe">
      <wsdl:input message="tns:hentNaermesteLedersAnsattListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLedersAnsattListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
