sykefravaersoppfoelgingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykefravaersoppfoelging/v1/sykefravaersoppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sykefravaersoppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentNaermesteLeder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLederRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLederResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentNaermesteLederListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLederListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLederListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLederListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentNaermesteLedersAnsattListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLedersAnsattListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersAnsattListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLedersAnsattListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersAnsattListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHendelseListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentHendelseListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHendelseListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentHendelseListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHendelseListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentNaermesteLedersHendelseListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLedersHendelseListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersHendelseListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLedersHendelseListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersHendelseListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentSykeforlopperiode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentSykeforlopperiodeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSykeforlopperiodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentSykeforlopperiodeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSykeforlopperiodesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="berikNaermesteLedersAnsattBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:berikNaermesteLedersAnsattBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="berikNaermesteLedersAnsattBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:berikNaermesteLedersAnsattBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="berikNaermesteLedersAnsattBolksikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentNaermesteLeder_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentNaermesteLedersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="berikNaermesteLedersAnsattBolkResponse">
    <wsdl:part name="parameters" element="tns:berikNaermesteLedersAnsattBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="berikNaermesteLedersAnsattBolk_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:berikNaermesteLedersAnsattBolksikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersAnsattListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersAnsattListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykeforlopperiodeResponse">
    <wsdl:part name="parameters" element="tns:hentSykeforlopperiodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykeforlopperiode_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentSykeforlopperiodesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="berikNaermesteLedersAnsattBolkRequest">
    <wsdl:part name="parameters" element="tns:berikNaermesteLedersAnsattBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersHendelseListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentNaermesteLedersHendelseListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentHendelseListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentHendelseListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLeder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentHendelseListeRequest">
    <wsdl:part name="parameters" element="tns:hentHendelseListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersAnsattListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentNaermesteLedersAnsattListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykeforlopperiodeRequest">
    <wsdl:part name="parameters" element="tns:hentSykeforlopperiode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersHendelseListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersHendelseListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentHendelseListeResponse">
    <wsdl:part name="parameters" element="tns:hentHendelseListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersAnsattListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersAnsattListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentNaermesteLederListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersHendelseListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersHendelseListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLederResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLederResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sykefravaersoppfoelging_v1">
    <wsdl:operation name="hentNaermesteLeder">
      <wsdl:documentation>Hent brukers seneste naermeste leder på requestens orgnummer </wsdl:documentation>
      <wsdl:input message="tns:hentNaermesteLederRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLederResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentNaermesteLeder_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLederListe">
      <wsdl:documentation>Hent brukers nærmeste ledere </wsdl:documentation>
      <wsdl:input message="tns:hentNaermesteLederListeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLederListeResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentNaermesteLederListe_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLedersAnsattListe">
      <wsdl:input message="tns:hentNaermesteLedersAnsattListeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLedersAnsattListeResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentNaermesteLedersAnsattListe_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
      </wsdl:input>
      <wsdl:output message="tns:pingResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentHendelseListe">
      <wsdl:documentation>Hent brukers hendelser </wsdl:documentation>
      <wsdl:input message="tns:hentHendelseListeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentHendelseListeResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentHendelseListe_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLedersHendelseListe">
      <wsdl:documentation>Hent brukers hendelser </wsdl:documentation>
      <wsdl:input message="tns:hentNaermesteLedersHendelseListeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLedersHendelseListeResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentNaermesteLedersHendelseListe_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSykeforlopperiode">
      <wsdl:documentation>Hent brukers hendelser </wsdl:documentation>
      <wsdl:input message="tns:hentSykeforlopperiodeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentSykeforlopperiodeResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentSykeforlopperiode_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="berikNaermesteLedersAnsattBolk">
      <wsdl:input message="tns:berikNaermesteLedersAnsattBolkRequest">
      </wsdl:input>
      <wsdl:output message="tns:berikNaermesteLedersAnsattBolkResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:berikNaermesteLedersAnsattBolk_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
