nav-fim-aktoer-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/aktoer/v1/Aktoer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Aktoer" targetNamespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/aktoer/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentAktoerIdForIdent">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentAktoerIdForIdentRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentAktoerIdForIdentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentAktoerIdForIdentResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="personIkkeFunnet"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="hentAktoerIdForIdentRequest">
		<wsdl:part name="parameters" element="tns:hentAktoerIdForIdent"/>
	</wsdl:message>
	<wsdl:message name="hentAktoerIdForIdentResponse">
		<wsdl:part name="parameters" element="tns:hentAktoerIdForIdentResponse"/>
	</wsdl:message>
	<wsdl:message name="personIkkeFunnet">
		<wsdl:part name="personIkkeFunnet" element="tns:personIkkeFunnet"/>
	</wsdl:message>
	<wsdl:portType name="AktoerPortType">
		<wsdl:operation name="hentAktoerIdForIdent">
			<wsdl:input name="hentAktoerIdForIdentRequest" message="tns:hentAktoerIdForIdentRequest"/>
			<wsdl:output name="hentAktoerIdForIdentResponse" message="tns:hentAktoerIdForIdentResponse"/>
			<wsdl:fault name="personIkkeFunnet" message="tns:personIkkeFunnet"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AktoerBinding" type="tns:AktoerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentAktoerIdForIdent">
			<soap:operation style="document"/>
			<wsdl:input name="hentAktoerIdForIdentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentAktoerIdForIdentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="personIkkeFunnet">
				<soap:fault name="personIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Aktoer_v1">
		<wsdl:port name="Aktoer_v1" binding="tns:AktoerBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
