dkif-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/digitalKontaktinformasjon/v1/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1" location="DigitalKontaktinformasjon.wsdl">
    </wsdl:import>
  <wsdl:binding name="DigitalKontaktinformasjon_v1Binding" type="wsdl_1:DigitalKontaktinformasjon_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="HentSikkerDigitalPostadresse">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/HentSikkerDigitalPostadresseRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing">
        <soap:fault name="sikkerhetsbegrensing" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="kontaktinformasjonIkkeFunnet">
        <soap:fault name="kontaktinformasjonIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HentPrintsertifikat">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/HentPrintsertifikatRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentDigitalKontaktinformasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/HentDigitalKontaktinformasjonRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing">
        <soap:fault name="sikkerhetsbegrensing" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="kontaktinformasjonIkkeFunnet">
        <soap:fault name="kontaktinformasjonIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentDigitalKontaktinformasjonBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/HentDigitalKontaktinformasjonBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="forMangeForespoersler">
        <soap:fault name="forMangeForespoersler" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing">
        <soap:fault name="sikkerhetsbegrensing" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HentSikkerDigitalPostadresseBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon_v1/HentSikkerDigitalPostadresseBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="forMangeForespoersler">
        <soap:fault name="forMangeForespoersler" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing">
        <soap:fault name="sikkerhetsbegrensing" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalKontaktinformasjon_v1">
    <wsdl:port name="DigitalKontaktinformasjon_v1Port" binding="tns:DigitalKontaktinformasjon_v1Binding">
      <soap:address location="http://localhost:9080/virksomhet/digitalKontaktinformasjon_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
