dkif-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/digitalKontaktinformasjon/v1/DigitalKontaktinformasjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DigitalKontaktinformasjon" targetNamespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="HentSikkerDigitalPostadresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSikkerDigitalPostadresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentSikkerDigitalPostadresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSikkerDigitalPostadresseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentSikkerDigitalPostadressekontaktinformasjonIkkeFunnet" type="feil:KontaktinformasjonIkkeFunnet"/>
      <xsd:element name="HentSikkerDigitalPostadressesikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
      <xsd:element name="HentSikkerDigitalPostadressepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="HentPrintsertifikat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPrintsertifikatRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentPrintsertifikatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPrintsertifikatResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDigitalKontaktinformasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDigitalKontaktinformasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjonkontaktinformasjonIkkeFunnet" type="feil:KontaktinformasjonIkkeFunnet"/>
      <xsd:element name="HentDigitalKontaktinformasjonsikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
      <xsd:element name="HentDigitalKontaktinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjonBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDigitalKontaktinformasjonBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjonBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDigitalKontaktinformasjonBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentDigitalKontaktinformasjonBolkforMangeForespoersler" type="feil:ForMangeForespoersler"/>
      <xsd:element name="HentDigitalKontaktinformasjonBolksikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
      <xsd:element name="HentSikkerDigitalPostadresseBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSikkerDigitalPostadresseBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentSikkerDigitalPostadresseBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSikkerDigitalPostadresseBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentSikkerDigitalPostadresseBolkforMangeForespoersler" type="feil:ForMangeForespoersler"/>
      <xsd:element name="HentSikkerDigitalPostadresseBolksikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HentSikkerDigitalPostadresse_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:HentSikkerDigitalPostadressesikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseBolk_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:HentSikkerDigitalPostadresseBolksikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonBolkRequest">
    <wsdl:part name="parameters" element="tns:HentDigitalKontaktinformasjonBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonRequest">
    <wsdl:part name="parameters" element="tns:HentDigitalKontaktinformasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresse_kontaktinformasjonIkkeFunnet">
    <wsdl:part name="kontaktinformasjonIkkeFunnet" element="tns:HentSikkerDigitalPostadressekontaktinformasjonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjon_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:HentDigitalKontaktinformasjonsikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjon_kontaktinformasjonIkkeFunnet">
    <wsdl:part name="kontaktinformasjonIkkeFunnet" element="tns:HentDigitalKontaktinformasjonkontaktinformasjonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresse_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:HentSikkerDigitalPostadressepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentPrintsertifikatResponse">
    <wsdl:part name="parameters" element="tns:HentPrintsertifikatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseBolk_forMangeForespoersler">
    <wsdl:part name="forMangeForespoersler" element="tns:HentSikkerDigitalPostadresseBolkforMangeForespoersler">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonBolk_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:HentDigitalKontaktinformasjonBolksikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentPrintsertifikatRequest">
    <wsdl:part name="parameters" element="tns:HentPrintsertifikat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonResponse">
    <wsdl:part name="parameters" element="tns:HentDigitalKontaktinformasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseBolkRequest">
    <wsdl:part name="parameters" element="tns:HentSikkerDigitalPostadresseBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjon_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:HentDigitalKontaktinformasjonpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseBolkResponse">
    <wsdl:part name="parameters" element="tns:HentSikkerDigitalPostadresseBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonBolk_forMangeForespoersler">
    <wsdl:part name="forMangeForespoersler" element="tns:HentDigitalKontaktinformasjonBolkforMangeForespoersler">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseRequest">
    <wsdl:part name="parameters" element="tns:HentSikkerDigitalPostadresse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentDigitalKontaktinformasjonBolkResponse">
    <wsdl:part name="parameters" element="tns:HentDigitalKontaktinformasjonBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentSikkerDigitalPostadresseResponse">
    <wsdl:part name="parameters" element="tns:HentSikkerDigitalPostadresseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DigitalKontaktinformasjon_v1">
    <wsdl:operation name="HentSikkerDigitalPostadresse">
      <wsdl:input message="tns:HentSikkerDigitalPostadresseRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentSikkerDigitalPostadresseResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:HentSikkerDigitalPostadresse_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:HentSikkerDigitalPostadresse_sikkerhetsbegrensing">
    </wsdl:fault>
      <wsdl:fault name="kontaktinformasjonIkkeFunnet" message="tns:HentSikkerDigitalPostadresse_kontaktinformasjonIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HentPrintsertifikat">
      <wsdl:input message="tns:HentPrintsertifikatRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentPrintsertifikatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentDigitalKontaktinformasjon">
      <wsdl:input message="tns:HentDigitalKontaktinformasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentDigitalKontaktinformasjonResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:HentDigitalKontaktinformasjon_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:HentDigitalKontaktinformasjon_sikkerhetsbegrensing">
    </wsdl:fault>
      <wsdl:fault name="kontaktinformasjonIkkeFunnet" message="tns:HentDigitalKontaktinformasjon_kontaktinformasjonIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentDigitalKontaktinformasjonBolk">
      <wsdl:input message="tns:HentDigitalKontaktinformasjonBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentDigitalKontaktinformasjonBolkResponse">
    </wsdl:output>
      <wsdl:fault name="forMangeForespoersler" message="tns:HentDigitalKontaktinformasjonBolk_forMangeForespoersler">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:HentDigitalKontaktinformasjonBolk_sikkerhetsbegrensing">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HentSikkerDigitalPostadresseBolk">
      <wsdl:input message="tns:HentSikkerDigitalPostadresseBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentSikkerDigitalPostadresseBolkResponse">
    </wsdl:output>
      <wsdl:fault name="forMangeForespoersler" message="tns:HentSikkerDigitalPostadresseBolk_forMangeForespoersler">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:HentSikkerDigitalPostadresseBolk_sikkerhetsbegrensing">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
