brukerprofil-tjenestespesifikasjon/src/main/wsdl/behandleBrukerprofil/no/nav/tjeneste/virksomhet/behandleBrukerprofil/v1/BehandleBrukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleBrukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanser">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:OppdaterKontaktinformasjonOgPreferanserRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserugyldigInput" type="feil:UgyldigInput"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanserResponse">
    <wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanserRequest">
    <wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:oppdaterKontaktinformasjonOgPreferanserugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleBrukerprofilPortType">
    <wsdl:operation name="oppdaterKontaktinformasjonOgPreferanser">
      <wsdl:input name="oppdaterKontaktinformasjonOgPreferanserRequest" message="tns:oppdaterKontaktinformasjonOgPreferanserRequest">
    </wsdl:input>
      <wsdl:output name="oppdaterKontaktinformasjonOgPreferanserResponse" message="tns:oppdaterKontaktinformasjonOgPreferanserResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:oppdaterKontaktinformasjonOgPreferanser_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:oppdaterKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:oppdaterKontaktinformasjonOgPreferanser_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BehandleBrukerprofilBinding" type="tns:BehandleBrukerprofilPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="oppdaterKontaktinformasjonOgPreferanser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="oppdaterKontaktinformasjonOgPreferanserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="oppdaterKontaktinformasjonOgPreferanserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ugyldigInput">
        <soap:fault name="ugyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehandleBrukerprofil_v1">
    <wsdl:port name="BehandleBrukerprofil_v1" binding="tns:BehandleBrukerprofilBinding">
      <soap:address location="http://localhost:9080/virksomhet/BehandleBrukerprofil_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
