henvendelse-arkivering/src/main/resources/no/nav/tjeneste/virksomhet/arkiverHenvendelseBehandling/v1/informasjon/lagreVedleggPaaJournalpost/lagreVedleggPaaJournalpost.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/lagreVedleggPaaJournalpost" version="2.0" xmlns:behandleJournal="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal" xmlns:lagreVedleggPaaJournalpost="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/lagreVedleggPaaJournalpost">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal" schemaLocation="../behandleJournal/behandleJournal.xsd"/>
  <xsd:complexType name="Dokumentbeskrivelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="begrensetPartsInnsyn" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tilleggsopplysninger" type="behandleJournal:NoekkelVerdiSett"/>
      <xsd:element minOccurs="0" name="dokumentType" type="behandleJournal:Dokumenttyper"/>
      <xsd:element maxOccurs="unbounded" name="beskriverInnhold" type="behandleJournal:DokumentInnhold"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalfoertDokumentInfo">
    <xsd:complexContent>
      <xsd:extension base="lagreVedleggPaaJournalpost:Dokumentbeskrivelse"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>