organisasjonenhet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonEnhet/v1/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1" location="organisasjonEnhet.wsdl">
    </wsdl:import>
  <wsdl:binding name="OrganisasjonEnhet_v1Binding" type="wsdl_1:OrganisasjonEnhet_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentEnhetBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/hentEnhetBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ugyldigInput">
        <soap:fault name="ugyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentFullstendigEnhetListe">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/hentFullstendigEnhetListeRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnEnheterForArbeidsfordelingBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/finnEnheterForArbeidsfordelingBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ugyldigInput">
        <soap:fault name="ugyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnNAVKontorForGeografiskNedslagsfeltBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/finnNAVKontorForGeografiskNedslagsfeltBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnArbeidsfordelingBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/finnArbeidsfordelingBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnArbeidsfordelingForEnhetBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/OrganisasjonEnhet_v1/finnArbeidsfordelingForEnhetBolkRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganisasjonEnhet_v1">
    <wsdl:port name="OrganisasjonEnhet_v1Port" binding="tns:OrganisasjonEnhet_v1Binding">
      <soap:address location="http://localhost:9080/virksomhet/organisasjonEnhet_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
