nav-hentsykepengeliste-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykepenger/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v2/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykepenger/v2/informasjon">
  <xsd:complexType name="KommendeVedtak">
    <xsd:annotation>
      <xsd:documentation>Utbetalinger som er registrert i Infortrygd og lagt i kø for utbetaling.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Vedtak">
        <xsd:sequence>
          <xsd:element name="oppgjoerstype" type="informasjon:Oppgjoerstype">
            <xsd:annotation>
              <xsd:documentation>Kode som indikerer hva slags oppgjør.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Arbeidskategori">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Stansaarsak">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Inntektsperiode">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Yrkesskadeart">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Angir periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Fra og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Til og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Forsikring">
    <xsd:annotation>
      <xsd:documentation>Forsikring som gjelder i sykmeldingsperioden er gyldig/ikke gyldig.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="forsikringsordning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Frivillig forsikring som er aktuell i sykmeldingsperioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="premiegrunnlag" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Beløp basert på premiegrunnlag.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erGyldig" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Frivillig forsikring er gyldig/ikke gyldig.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="forsikret" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Frivillig forsikring gyldig i denne perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Vedtak">
    <xsd:annotation>
      <xsd:documentation>Vedtak knyttet til utbetaling av sykepenger.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="vedtak" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Den perioden vedtaket skal dekke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetalingsgrad" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Prosent av total utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsforhold">
    <xsd:annotation>
      <xsd:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til sykmeldingsperioden. Kan ha krav på refusjon i en periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsgiverNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiverKontonr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kontonummer som brukes for utbetaling til arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiverOrgnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Organisasjonsnummeret til arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykepengerFom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Sykepenger fra og med denne datoen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refusjonTom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Siste dato i perioden arbeidsgiver har krav på refusjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refusjonstype" type="informasjon:Refusjonstype">
        <xsd:annotation>
          <xsd:documentation>Kode for refusjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inntektsperiode" type="informasjon:Inntektsperiode">
        <xsd:annotation>
          <xsd:documentation>Inntekten er gjeldene i denne perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inntektForPerioden" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Inntekt i perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Yrkesskade">
    <xsd:annotation>
      <xsd:documentation>Det er registrert en skade knyttet til yrkesutførelse og sykmeldingen gjelder denne skaden.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="yrkesskadeart" type="informasjon:Yrkesskadeart"/>
      <xsd:element name="skadet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for skade.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vedtatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato yrkeskaden ble vedtatt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HistoriskVedtak">
    <xsd:annotation>
      <xsd:documentation>Utbetalinger som er utbetalt til bruker fra tidligere vedtak.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Vedtak">
        <xsd:sequence>
          <xsd:element name="utbetalt" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>Dato for utbetaling til mottaker.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="bruttobeloep" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation>Brutto beløp til utbetaling.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="arbeidsgiverNavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Arbeidsgiver knyttet til dette vedtaket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="arbeidsgiverKontonr" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Kontonummer for arbeidsgiver knyttet til dette vedtaket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="arbeidsgiverOrgnr" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Organisasjonsnummer til arbeidsgiver knyttet til dette vedtaket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dagsats" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation>Beløp pr. dag.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="saksbehandler" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Saksbehandler knyttet til vedtaket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="periodetype" type="informasjon:Periodetype">
            <xsd:annotation>
              <xsd:documentation>Kode for type periode.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UnntakAktivitet">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periodetype">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Gradering">
    <xsd:annotation>
      <xsd:documentation>Grad av sykemeldt i prosent som gjelder for en periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gradert" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode som graderingen gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldingsgrad" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Prosent sykemeldt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Refusjonstype">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sykmeldingsperiode">
    <xsd:annotation>
      <xsd:documentation>En sykemeldingsperiode er den perioden en bruker er syk. En bruker som er syk må levere inn sykmeldinger til NAV. I løpet av en sykemeldingsperiode kan en bruker ha mange sykmeldinger. Dersom det er mer enn 16 dager mellom to sykemeldinger, vil det opprettes en ny sykemeldingsperiode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sykmeldtFom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato som identifiserer sykmeldingsperioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="slutt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Maksimal dato for utbetaling av sykepenger knyttet til dette vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forbrukteDager" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Antall dager man har vært sykmeldt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erArbeidsgiverperiode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Angir om arbeidsgiver har ansvar for å betale ut penger de første 16 dager av sykeforholdet eller ikke. Det angir også noe om når NAV skal begynne å utbetale ytelse enten til bruker eller til arbeidsgiver (alt etter verdien i refusjonsfeltet).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ferie1" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Bruker har ferie i denne perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ferie2" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Andre perioden bruker har ferie.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stansaarsak" type="informasjon:Stansaarsak">
        <xsd:annotation>
          <xsd:documentation>Kode for årsak til stans av sykmeldingsperiode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="midlertidigStanset" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Sykmeldingsperioden midlertidig stanset på denne dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="unntakAktivitet" type="informasjon:UnntakAktivitet">
        <xsd:annotation>
          <xsd:documentation>Kode for unntak fra aktivitet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidskategori" type="informasjon:Arbeidskategori">
        <xsd:annotation>
          <xsd:documentation>Kode for arbeidskategori.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sanksjon" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode det er planlagt sanksjon, og stopp i utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sanksjonsdager" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Antall sanksjonsdager.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erSanksjonBekreftet" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om sanksjonen er bekreftet eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opphoerFom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Avslutningsdato for sykmeldingsperioden. Benyttes til å forkorte en tidligere registrert periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallUtbetalinger" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Totalt antall utbetalinger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallArbeidsforhold" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Totalt antall arbeidsforhold.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallSykmeldinger" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Totalt antall sykemeldinger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="6" minOccurs="0" name="arbeidsforholdListe" type="informasjon:Arbeidsforhold">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til sykmeldingsperioden. Kan ha krav på refusjon i en periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldt" type="informasjon:Bruker">
        <xsd:annotation>
          <xsd:documentation>Bruker som er sykmeldt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjeldendeForsikring" type="informasjon:Forsikring">
        <xsd:annotation>
          <xsd:documentation>Forsikring som gjelder i sykmeldingsperioden er gyldig/ikke gyldig.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="30" minOccurs="0" name="sykmeldingListe" type="informasjon:Sykmelding">
        <xsd:annotation>
          <xsd:documentation>Person med rettighet til å sykmelde sender inn sykmelding. Bruker må selv sende inn egenerklæring.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="50" minOccurs="0" name="vedtakListe" type="informasjon:Vedtak">
        <xsd:annotation>
          <xsd:documentation>Liste over vedtak tatt i denne sykmeldingsperioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:annotation>
      <xsd:documentation>Representasjon av kodeverk.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kode" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Representasjon av kode.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="termnavn" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Representasjon av term som forklarer kode.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Bruker">
    <xsd:annotation>
      <xsd:documentation>Bruker som vedtaket om sykmeldingsperiode gjelder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Identifikator som gir unik identifikasjon av bruker.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallSykmeldingsperioder" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Totalt antall sykemeldingsperioder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sykmelding">
    <xsd:annotation>
      <xsd:documentation>Person med rettighet til å sykmelde sender inn sykmelding. Bruker må selv sende inn egenerklæring.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sykmelder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Aktør i rollen som for eksempel lege eller kiropraktor med rett til å sykmelde.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="behandlet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for behandling av sykmelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldt" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Peerioden sykmeldingen gjelder for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totaltAntallGraderinger" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Totalt antall graderinger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="10" name="gradAvSykmeldingListe" type="informasjon:Gradering">
        <xsd:annotation>
          <xsd:documentation>Grad av sykemeldt i prosent som gjelder for en periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderYrkesskade" type="informasjon:Yrkesskade">
        <xsd:annotation>
          <xsd:documentation>Det er registrert en skade knyttet til yrkesutførelse og sykmeldingen gjelder denne skaden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppgjoerstype">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT16_SP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT16_SP+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>