cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/oppgave/ASBOGOSYSOppgave.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons2="no.nav.gosys.asbo.henvendelse"
	xmlns:bons3="no.nav.gosys.asbo"
	targetNamespace="no.nav.gosys.asbo.oppgave"
	xmlns:bons0="no.nav.gosys.asbo.oppgave">

	<xsd:import schemaLocation="../ASBOGOSYSBruker.xsd"
		namespace="no.nav.gosys.asbo">
	</xsd:import>
	<xsd:include schemaLocation="ASBOGOSYSMappe.xsd"></xsd:include>
	<xsd:import
		namespace="no.nav.gosys.asbo.henvendelse"
		schemaLocation="../henvendelse/ASBOGOSYSHenvendelse.xsd" />
	<xsd:import namespace="no.nav.gosys.asbo"
		schemaLocation="../ASBOGOSYSEndringsInfo.xsd" />
	<xsd:complexType name="ASBOGOSYSOppgave">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="oppgaveId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="gjelder"
				type="bons3:ASBOGOSYSBruker" />
			<xsd:element minOccurs="0" name="aktivFra" type="xsd:date" />
			<xsd:element minOccurs="0" name="aktivTil" type="xsd:date" />
			<xsd:element minOccurs="0" name="ansvarligId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ansvarligNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ansvarligEnhetId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ansvarligEnhetNavn"
				type="xsd:string" />




			<xsd:element minOccurs="0" name="fagomrade"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="underkategori"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="oppgaveType"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="oppgaveTypeBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="beskrivelse"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="oppfolging"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="prioritet"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="versjon" type="xsd:string" />
			<xsd:element minOccurs="0" name="lest" type="xsd:boolean" />




			<xsd:element minOccurs="0" name="henvendelse"
				type="bons2:ASBOGOSYSHenvendelse" />
			<xsd:element minOccurs="0" name="saksnummer"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="dokumentId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kravId" type="xsd:string" />
			<xsd:element minOccurs="0" name="soknadsId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="skannetDato"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="mottattDato"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="eierKomponentKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons3:ASBOGOSYSEndringsInfo">
			</xsd:element>
			<xsd:element minOccurs="0" name="normDato"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="hendelseId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="mappe"
				type="bons0:ASBOGOSYSMappe" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
