cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/oppgave/ASBOGOSYSFinnMappeListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave">
	<xsd:complexType name="ASBOGOSYSFinnMappeListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="navEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKodeListe"
				type="xsd:string" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
