cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/oppgave/ASBOGOSYSMappe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="no.nav.gosys.asbo.oppgave">
	<xsd:complexType name="ASBOGOSYSMappe">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="mappeId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="mappeNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="navEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="versjon"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
