nav-fim-foreldrepenger-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/foreldrepenger/v1/Foreldrepenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Foreldrepenger" targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentForeldrepengerListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentForeldrepengerListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentForeldrepengerListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentForeldrepengerListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentForeldrepengerListeRequest">
		<wsdl:part name="parameters" element="tns:hentForeldrepengerListe"/>
	</wsdl:message>
	<wsdl:message name="hentForeldrepengerListeResponse">
		<wsdl:part name="parameters" element="tns:hentForeldrepengerListeResponse"/>
	</wsdl:message>
	<wsdl:message name="sikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning"/>
	</wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="ForeldrepengerPortType">
		<wsdl:operation name="hentForeldrepengerListe">
			<wsdl:input name="hentForeldrepengerListeRequest" message="tns:hentForeldrepengerListeRequest"/>
			<wsdl:output name="hentForeldrepengerListeResponse" message="tns:hentForeldrepengerListeResponse"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:sikkerhetsbegrensning"/>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ForeldrepengerBinding" type="tns:ForeldrepengerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentForeldrepengerListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentForeldrepengerListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentForeldrepengerListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Foreldrepenger_v1">
		<wsdl:port name="Foreldrepenger_v1" binding="tns:ForeldrepengerBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
