dial-nav-tjeneste-behandlesak/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleSak/v1/behandleSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleSak" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleSak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleSak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="opprettSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSakugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="opprettSaksakEksistererAllerede" type="feil:SakEksistererAllerede"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="opprettSakRequest">
    <wsdl:part name="parameters" element="tns:opprettSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_sakEksistererAllerede">
    <wsdl:part name="sakEksistererAllerede" element="tns:opprettSaksakEksistererAllerede">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:opprettSakugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSakResponse">
    <wsdl:part name="parameters" element="tns:opprettSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleSak_v1">
    <wsdl:operation name="opprettSak">
      <wsdl:input message="tns:opprettSakRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettSakResponse">
    </wsdl:output>
      <wsdl:fault name="sakEksistererAllerede" message="tns:opprettSak_sakEksistererAllerede">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:opprettSak_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
