pensjon-behandleAutomatiskOmregning-v1-tjenestespesifikasjon/src/main/wsdl/no.nav.tjeneste.domene.pensjon.behandleAutomatiskOmregning.v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="AutomatiskOmregningAvYtelseResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="omregnetYtelseListe" type="informasjon:OmregnetSak">
        <xsd:annotation>
          <xsd:documentation>Omregnede ytelser (se beskrivelse av OmregnetSak-objektet )</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ytelseMedKontrollpunktListe" type="informasjon:SakMedKontrollpunkt">
        <xsd:annotation>
          <xsd:documentation>Ytelser som ikke skal eller kan behandles (se beskrivelse av SakMedKontrollpunkt)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Feilmelding som returneres hvis en teknisk feil har inntruffet i providertjenesten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
	  <xsd:element minOccurs="0" name="funksjonellFeilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Feilmelding som returneres hvis en funksjonell feil har inntruffet i providertjenesten og medført oppgave</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tjenernavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på tjeneren som providertjenesten ble kjørt på</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sorteringsregel" type="xsd:string"/>
	  <xsd:element minOccurs="0" name="status" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Indikerer status for ytelsene gitt i input</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutomatiskOmregningAvYtelseRequest">
    <xsd:sequence>
      <xsd:element name="fomDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Virkningstidspunkt for omregning av ytelser</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="ytelseListe" type="informasjon:SakTilOmregning">
        <xsd:annotation>
          <xsd:documentation>Identifiserer ytelser som skal omregnes (se beskrivelse av SakTilOmregning-objektet)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="behandlingsparametere" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tekststreng som inneholder parametere for hvordan tjenesten skal gjennomføre behandling

eksempel: fullToleransegrenseSjekk:true;toleransegrenseSett:BPEN093;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
	  <xsd:element minOccurs="0" name="status" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Indikerer status for ytelsens gitt i output</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>