nav-fim-utbetaling-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/utbetaling/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1/informasjon" version="1.0.0" xmlns:info="http://nav.no/tjeneste/virksomhet/utbetaling/v1/informasjon">
  <xsd:complexType name="Ytelseskomponent">
    <xsd:annotation>
      <xsd:documentation>En delytelse av ytelsen, feks Grunnpensjon eller særtillegg for en Alderspensjon.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ytelseskomponenttype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva slags delytelse/ytelseskomponent dette er. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="satsbeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Satsbeløp for en gitt sats pr enhet. Feks dagpenger er x kr/dag.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="satstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken sats satsantallet og satsbeløpet gjelder for. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="satsantall" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Antall enheter det gis satsbeløpet for</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ytelseskomponentbeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet berettiget for delytelsen.

Dersom delytelsen er satsstyrt vil beløpet være satsantall*satsbeløp.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trekk">
    <xsd:annotation>
      <xsd:documentation>Informasjon om øvrige trekk som gjøres på en ytelse før utbetaling. 

Merk! Skattetrekk kommer i eget objekt.

Merk! Flere trekk kan forekomme av samme type</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="trekktype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir hva slags trekk som blir trukket. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="trekkbeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet som blir trukket fra utbetalingen av ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvem som krever trekket trukket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>En periode angir et tidsintervall med fra-og-med og til-og-med.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra og med -dato.

Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til og med -dato.

Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skatt">
    <xsd:annotation>
      <xsd:documentation>Informasjon om skattetrekket som gjøres for utbetalingen av ytelsen.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="skattebeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet som trekkes i skatt for ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Unik identifikator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Kodeverdi">
    <xsd:annotation>
      <xsd:documentation>Representasjon av kodeverk</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periodetyper">
    <xsd:annotation>
      <xsd:documentation>Angir om det er utbetalingsperiode eller ytelsesperiode. Se kodeverk for eksakte verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="info:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Identroller">
    <xsd:annotation>
      <xsd:documentation>Angir om det er utbetalingsmottaker eller rettighetshaver. Se kodeverk for eksakte verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="info:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Ytelsestyper">
    <xsd:annotation>
      <xsd:documentation>Hva slags ytelse det gis utbetaling for. Se kodeverk for gyldige verdier</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="info:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktoer">
    <xsd:annotation>
      <xsd:documentation>En aktør er en person, organisasjon eller samhandler som NAV forholder seg til.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aktoerId" type="info:Identifikator">
        <xsd:annotation>
          <xsd:documentation>NAVs interne identifikator for en aktør</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet til en aktør for tilhørende aktoerId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisasjon">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en organisasjon som aktør i utbetalingen.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="info:Aktoer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="info:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Unik identifikasjon av organisasjonen - orgNr.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Personidentifikator">
    <xsd:annotation>
      <xsd:documentation>Unik identifikator for en person.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="info:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="ForespurtPeriode">
    <xsd:annotation>
      <xsd:documentation>Forespurt periode er perioden det ønskes å hente utbetalinger for. Kan angis som enten utbetalingsperiode eller ytelsesperiode

Forespurt periode kan maks være inneværende år + 3 hele år tilbake i tid.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="info:Periode">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="periodeType" type="info:Periodetyper">
            <xsd:annotation>
              <xsd:documentation>Angir om det er en utbetalingsperiode eller ytelsesperiode som det søkes etter. Se kodeverk for eksakte verdier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Bankkonto">
    <xsd:annotation>
      <xsd:documentation>Bankkonto er informasjon om en konto tilhørende en aktør. En bankkonto kan være av forskjellige typer, feks. norsk Bankkonto, SWIFT/IBAN eller lignende</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontonummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nummeret til en bankkonto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontotype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Typen bankkonto som kontonummeret tilhører. Kan feks være norsk bankkonto eller en IBAN/SWIFT.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identtyper">
    <xsd:annotation>
      <xsd:documentation>Angir om det er fnr eller aktoerId det spørres på. Se kodeverk for eksakte verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="info:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Utbetaling">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en utbetaling som er gjort.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="posteringsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen utbetalingen ble postert i NAVs registre og sendt til bank.

Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetaltTil" type="info:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Hvilken aktør som har mottatt utbetalingen.

Ved feks barnetillegg eller verge vil dette gå til den som er myndiggjort for vedkommende, eller ved sykepenger tilbakebetalt til arbeidsgiver vil dette være arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetalingNettobeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet som er utbetalt til utbetalingsmottaker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utbetalingsmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Prioritert rekkefølge, plukker de tre høyest prioriterte bilagsmeldingene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ytelseListe" type="info:Ytelse">
        <xsd:annotation>
          <xsd:documentation>Liste over ytelsene som utbetalingen dekker for den angitte perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utbetalingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen utbetalingen ble effektuert i bank.

Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="forfallsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen angitt fra NAV til bank at utbetalingen skal skje.

Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utbetaltTilKonto" type="info:Bankkonto">
        <xsd:annotation>
          <xsd:documentation>Konto beløpet er utbetalt til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetalingsmetode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Metoden benyttet for utbetaling, feks Bankkontooverføring, utbetalingskort eller lignende.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetalingsstatus" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Status for utbetalingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ident">
    <xsd:annotation>
      <xsd:documentation>Ident for den det søkes etter utbetaling for, enten det er utbetalingsmottaker eller rettighetshaver</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ident" type="info:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik id for identen det søkes utbetalinger for, enten fnr eller aktørId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identType" type="info:Identtyper">
        <xsd:annotation>
          <xsd:documentation>Angir om det er Fnr eller AktørId som ble sendt inn som Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rolle" type="info:Identroller">
        <xsd:annotation>
          <xsd:documentation>Angir om det spørres etter rettighetshaver eller utbetalingsmottakerl.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Samhandler">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en samhandler som aktør i utbetalingen.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="info:Aktoer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="info:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Unik identifikasjon av en samhandler som en aktør i utbetalingen - tss-id.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Ytelse">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en ytelse det er gitt utbetaling for</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ytelsestype" type="info:Ytelsestyper">
        <xsd:annotation>
          <xsd:documentation>Hva slags ytelse det gis utbetaling for. Se kodeverk for gyldige verdier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ytelsesperiode" type="info:Periode">
        <xsd:annotation>
          <xsd:documentation>Perioden ytelsen utbetales for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ytelseskomponentListe" type="info:Ytelseskomponent">
        <xsd:annotation>
          <xsd:documentation>Liste over alle delytelser/ytelseskomponenter som ytelsen består av.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ytelseskomponentersum" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Summen av alle ytelseskomponenter (delytelser) som ytelsen består av.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="trekkListe" type="info:Trekk">
        <xsd:annotation>
          <xsd:documentation>Liste over alle trekk som er trukket fra ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="trekksum" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Summen av alle trekk som er gjort for ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skattListe" type="info:Skatt">
        <xsd:annotation>
          <xsd:documentation>Hvilke skattetrekk som er gjort før utbetaling av ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="skattsum" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Summen av alle skattetrekk for ytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ytelseNettobeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Nettobeløpet som blir utbetalt til bruker for en gitt ytelse.

ytelseNettobeloep = sumYtelsekomponenter - sumTrekk - sumSkatt </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bilagsnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Bilagsnummeret knyttet til ytelsesutbetalingen i økonomisystemene.

UR: Bilagsnummer

A-betal: utbetalingsbilagsnummer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rettighetshaver" type="info:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Hvem som har rettigheten for ytelsen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refundertForOrg" type="info:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Organisasjonen det er refundert for.

Angis dersom utbetalingsmottaker er en samlemottaker for flere organisasjoner.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en person som aktør i utbetalingen.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="info:Aktoer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="info:Personidentifikator">
            <xsd:annotation>
              <xsd:documentation>Unik identifikasjon av en person som en aktør i utbetalingen - fnr.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="diskresjonskode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Angir om det er satt diskresjonskode for personen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>