nav-fim-sakOgBehandling-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling" schemaLocation="../informasjon/sakOgBehandling.xsd"/>
	<xs:complexType name="HentSakListeRequest">
		<xs:sequence>
			<xs:element name="aktoerId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HentSakListeResponse">
		<xs:sequence>
			<xs:element name="sakListe" type="informasjon:Sak" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
