dialog-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dialog/v1/dialog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dialog" targetNamespace="http://nav.no/tjeneste/virksomhet/dialog/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/dialog/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/dialog/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/dialog/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/dialog/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/dialog/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/dialog/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentDialoger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDialogerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDialogerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDialogerResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDialogerpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentDialogerResponse">
    <wsdl:part name="parameters" element="tns:hentDialogerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDialogerRequest">
    <wsdl:part name="parameters" element="tns:hentDialoger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDialoger_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentDialogerpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dialog_v1">
    <wsdl:operation name="hentDialoger">
      <wsdl:input message="tns:hentDialogerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDialogerResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentDialoger_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
