soeknadsskjemaSosialhjelp-v1-meldingsdefinisjon/src/main/resources/xsd/sosialhjelp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1"
           xmlns:soknadsosialhjelp="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1">

    <xs:complexType name="skjema">
        <xs:sequence>
            <xs:element name="Personalia" type="soknadsosialhjelp:Personalia"/>
            <xs:element name="Familiesituasjon" type="soknadsosialhjelp:Familiesituasjon"/>
            <xs:element name="ArbeidUtdanning" type="soknadsosialhjelp:ArbeidUtdanning">
            </xs:element>
            <xs:element name="Begrunnelse" type="soknadsosialhjelp:Begrunnelse"/>
            <xs:element name="Bosituasjon" type="soknadsosialhjelp:Bosituasjon"/>
            <xs:element name="vedleggListe" type="soknadsosialhjelp:VedleggListe">
                <xs:annotation>
                    <xs:documentation>Informasjon om vedleggene som tilhører en søknad</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Personalia">
        <xs:sequence>
            <xs:element name="Person">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PersonIdentifikator" type="soknadsosialhjelp:string"/>
                        <xs:element name="Navn" type="soknadsosialhjelp:string"/>
                        <xs:element name="EpostAdresse" type="soknadsosialhjelp:string"/>
                        <xs:element name="Statsborgerskap" type="soknadsosialhjelp:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Familiesituasjon">
        <xs:sequence>
            <xs:element name="sivilstatus">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="soknadsosialhjelp:Sivilstatus">
                            <xs:attribute name="kilde" type="soknadsosialhjelp:Kilde" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ektefelle" minOccurs="0" type="soknadsosialhjelp:Ektefelle"/>

            <xs:element name="hjemmeboendeBarn" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker har barn som bor sammen med seg</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HjemmeboendeBarnListe" minOccurs="0" type="soknadsosialhjelp:BarnListe"></xs:element>
            <xs:element name="andreHjemmeboendeBarn" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Andre barn i husstanden</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="andreHjemmeboendeBarnListe" minOccurs="0" type="soknadsosialhjelp:BarnListe"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbeidUtdanning">
        <xs:sequence>
            <xs:element name="Arbeidsledig" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker sin situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Jobb" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker sin situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Student" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker sin situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StudererGrad" minOccurs="0" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker sin situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Annet" type="soknadsosialhjelp:boolean">
                <xs:annotation>
                    <xs:documentation>Bruker sin situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:string">
                <xs:annotation>
                    <xs:documentation>Beskrivelse av brukers situasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Begrunnelse">
        <xs:sequence>
            <xs:element name="HvaSokesOm" minOccurs="0" type="soknadsosialhjelp:string">
                <xs:annotation>
                    <xs:documentation>Hva søker bruker om</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HvorforSoke" type="soknadsosialhjelp:string">
                <xs:annotation>
                    <xs:documentation>Hvorfor bruker søker</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Bosituasjon">
        <xs:sequence>
            <xs:element name="bosituasjon" type="soknadsosialhjelp:Botype">
                <xs:annotation><xs:documentation>Hvordan bor bruker</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VedleggListe">
        <xs:annotation>
            <xs:documentation>Informasjon om vedleggene som tilhører en søknad</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vedlegg" type="soknadsosialhjelp:Vedlegg" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vedlegg">
        <xs:annotation>
            <xs:documentation>Informasjon om et enkelt vedlegg</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="skjemanummer" type="xs:string"/>
            <xs:element minOccurs="0" name="navn" type="xs:string"/>
            <xs:element minOccurs="0" name="tittel" type="xs:string"/>
            <xs:element name="innsendingsvalg" type="soknadsosialhjelp:Innsendingsvalg">
                <xs:annotation>
                    <xs:documentation>Hvis vedlegg ikke tilgjengelig</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tilleggsinfo" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Fritekst relatert til vedlegg</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BarnListe">
        <xs:annotation>
            <xs:documentation>Liste over barn</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Barn" type="soknadsosialhjelp:Barn" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Barn">
        <xs:annotation>
            <xs:documentation>Barn</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="navn" type="soknadsosialhjelp:string"/>
            <xs:element name="fodseldato" type="soknadsosialhjelp:integer"/>
            <xs:element name="personnummer" type="soknadsosialhjelp:integer"/>
            <xs:element name="barnetBorMedDeg" type="soknadsosialhjelp:boolean"/>
            <xs:element name="prosent" minOccurs="0" type="soknadsosialhjelp:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Ektefelle">
        <xs:annotation>
            <xs:documentation>Ektefelle</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="navn" type="soknadsosialhjelp:string"/>
            <xs:element name="fodseldato" type="soknadsosialhjelp:integer"/>
            <xs:element name="personnummer" type="soknadsosialhjelp:integer"/>
            <xs:element name="borMedDeg" type="soknadsosialhjelp:boolean"/>
            <xs:element name="begrunnelse" minOccurs="0" type="soknadsosialhjelp:string">
                <xs:annotation>
                    <xs:documentation>Begrunnnelse for hvorfor bruker ikke bor med ektefelle</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="Sivilstatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gift"/>
            <xs:enumeration value="ugift"/>
            <xs:enumeration value="samboer"/>
            <xs:enumeration value="enke">
                <xs:annotation>
                    <xs:documentation>Enke/Enkemann</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="skilt">
                <xs:annotation>
                    <xs:documentation>Skilt/separert</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Botype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eier"/>
            <xs:enumeration value="leier"/>
            <xs:enumeration value="kommunal"/>
            <xs:enumeration value="ingen">
                <xs:annotation>
                    <xs:documentation>Bruker har ikke noe sted å bo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="annen">
                <xs:annotation>
                    <xs:documentation>Annen bosituasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="string">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="kilde" type="soknadsosialhjelp:Kilde" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="boolean">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="kilde" type="soknadsosialhjelp:Kilde" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="integer">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <xs:attribute name="kilde" type="soknadsosialhjelp:Kilde" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="Innsendingsvalg">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LASTET_OPP"/>
            <xs:enumeration value="SEND_SENERE"/>
            <xs:enumeration value="SENDES_IKKE"/>
            <xs:enumeration value="VEDLEGG_SENDES_AV_ANDRE"/>
            <xs:enumeration value="IKKE_VALGT"/>
            <xs:enumeration value="VEDLEGG_ALLEREDE_SENDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Kilde">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRUKER"/>
            <xs:enumeration value="SYSTEM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="soknadsosialhjelp" type="soknadsosialhjelp:skjema"/>
</xs:schema>