getapplicationversion/src/main/wsdl/no/nav/test/asbo/ASBOTestGetApplicationVersionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nav-lib-test/no/nav/test/asbo">
	<xsd:complexType name="ASBOTestGetApplicationVersionResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="status" type="xsd:string" />
			<xsd:element minOccurs="0" name="komponentVersjon"
						 type="xsd:string" />
			<xsd:element minOccurs="0" name="databaseVersjon"
						 type="xsd:string" />
			<xsd:element minOccurs="0" name="stackTrace"
						 type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
