nav-meldekortutbetalingsgrunnlag-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="FinnMeldekortUtbetalingsgrunnlagListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="meldekortUtbetalingsgrunnlagListe" type="informasjon:Sak">
        <xsd:annotation>
          <xsd:documentation>En liste over brukers saker.

Dersom brukeren ikke finnes i Arena, eller ikke har noen ytelser, returneres en tom respons.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnMeldekortUtbetalingsgrunnlagListeRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="informasjon:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Aktør-id til bruker som det spørres på. Aktør-id er en NAV-intern identifikasjon av person, som benyttes på tvers av mange av NAVs systemer. Arena benytter imidlertid ikke Aktør-id, og må derfor gjøre oppslag mot Aktør-tjenesten for oversetting til personens gjeldende fødselsnummer/D-nummer.

Konkrete identtyper støttet av tjenesten:

   · 

AktoerId - NAVs interne aktør ID

   · 

Bruker - fnr/dnr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="periode" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Tidsrommet som spørringen gjelder, spesifisert med fra-og-med og til-og-med datoer.

Følgende fom/tom-kombinasjoner godtas:

   · 

Både fom og tom spesifisert og fom &lt;= tom.

   · 

Kun fom spesifisert.

   · 

Verken fom eller tom spesifisert.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="temaListe" type="informasjon:Tema">
        <xsd:annotation>
          <xsd:documentation>Skal begrense hvilke tema/sakstyper det skal hentes informasjon om. Bare arbeidsavklaringspenger og dagpenger kan foreløpig hentes.

Gyldige verdier er AAP (arbeidsavklaringspenger) og DAG (dagpenger)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>