nav-tiltakOgAktivitet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/tiltakOgAktivitet/v1/tiltakOgAktivitet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="tiltakOgAktivitet" targetNamespace="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/tiltakOgAktivitet/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentTiltakOgAktiviteterForBruker">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentTiltakOgAktiviteterForBrukerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTiltakOgAktiviteterForBrukerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentTiltakOgAktiviteterForBrukerResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTiltakOgAktiviteterForBrukerugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentTiltakOgAktiviteterForBrukerpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentTiltakOgAktiviteterForBrukersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTiltakOgAktiviteterForBruker_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentTiltakOgAktiviteterForBrukersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTiltakOgAktiviteterForBrukerRequest">
    <wsdl:part name="parameters" element="tns:hentTiltakOgAktiviteterForBruker">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTiltakOgAktiviteterForBrukerResponse">
    <wsdl:part name="parameters" element="tns:hentTiltakOgAktiviteterForBrukerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTiltakOgAktiviteterForBruker_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentTiltakOgAktiviteterForBrukerugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTiltakOgAktiviteterForBruker_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentTiltakOgAktiviteterForBrukerpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TiltakOgAktivitet_v1">
    <wsdl:operation name="hentTiltakOgAktiviteterForBruker">
      <wsdl:input message="tns:hentTiltakOgAktiviteterForBrukerRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentTiltakOgAktiviteterForBrukerResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentTiltakOgAktiviteterForBruker_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentTiltakOgAktiviteterForBruker_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentTiltakOgAktiviteterForBruker_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
