nav-oppfoelgingsstatus-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppfoelgingsstatus/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelgingsstatus/v2/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/oppfoelgingsstatus/v2/informasjon">
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Bruker"/>
  <xsd:complexType name="Rettighetsgrupper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ServicegruppeKoder">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Formidlingsgrupper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bruker">
        <xsd:sequence>
          <xsd:element name="ident" type="informasjon:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AktoerId">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bruker">
        <xsd:sequence>
          <xsd:element name="aktoerId" type="informasjon:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>