sak-v2/src/main/resources/sak/v2/wsdl/SakV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sakv2" targetNamespace="http://nav.no/tjeneste/virksomhet/sak/v2"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sak/v2"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/virksomhet/sak/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://nav.no/tjeneste/virksomhet/sak/v2">
            <xs:element name="finnSakerForBruker" type="tns:finnSakerForBruker"/>
            <xs:element name="finnSakerForBrukerResponse" type="tns:finnSakerForBrukerResponse"/>
            <xs:element name="ping" type="tns:ping"/>
            <xs:element name="pingResponse" type="tns:pingResponse"/>
            <xs:complexType name="finnSakerForBruker">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:wsFinnSakerForBrukerRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="wsFinnSakerForBrukerRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="brukerId" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fagomrader" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="finnSakerForBrukerResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:WSFinnSakerForBrukerResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSFinnSakerForBrukerResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="saker" nillable="true" type="tns:WSSak"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSSak">
                <xs:sequence>
                    <xs:element name="sakId" type="xs:string"/>
                    <xs:element name="sakstype" type="xs:string"/>
                    <xs:element name="fagomraade" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="gjelderBrukerListe" type="tns:wsAktor"/>
                </xs:sequence>
                <xs:attribute name="versjonsnummer" type="xs:string"/>
                <xs:attribute name="opprettelsetidspunkt" type="xs:dateTime"/>
                <xs:attribute name="opprettetAv" type="xs:string"/>
                <xs:attribute name="endringstidspunkt" type="xs:dateTime"/>
                <xs:attribute name="endretAv" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="wsAktor">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aktorType" type="tns:wsAktorType"/>
                    <xs:element minOccurs="0" name="ident" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ping">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:simpleType name="wsAktorType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PERSON"/>
                    <xs:enumeration value="ORGANISASJON"/>
                    <xs:enumeration value="UKJENT"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="WSUgyldigInputException" type="tns:WSUgyldigInputException"/>
            <xs:complexType name="WSUgyldigInputException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="WSSikkerhetsbegrensningException" type="tns:WSSikkerhetsbegrensningException"/>
            <xs:complexType name="WSSikkerhetsbegrensningException">
                <xs:sequence>
                    <xs:element name="feilmelding" nillable="true" type="xs:string"/>
                    <xs:element name="feilkilde" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ping">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSSikkerhetsbegrensningException">
        <wsdl:part name="WSSikkerhetsbegrensningException" element="tns:WSSikkerhetsbegrensningException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnSakerForBruker">
        <wsdl:part name="parameters" element="tns:finnSakerForBruker">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnSakerForBrukerResponse">
        <wsdl:part name="parameters" element="tns:finnSakerForBrukerResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSUgyldigInputException">
        <wsdl:part name="WSUgyldigInputException" element="tns:WSUgyldigInputException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SakV2">
        <wsdl:operation name="finnSakerForBruker">
            <wsdl:input name="finnSakerForBruker" message="tns:finnSakerForBruker">
            </wsdl:input>
            <wsdl:output name="finnSakerForBrukerResponse" message="tns:finnSakerForBrukerResponse">
            </wsdl:output>
            <wsdl:fault name="WSUgyldigInputException" message="tns:WSUgyldigInputException">
            </wsdl:fault>
            <wsdl:fault name="WSSikkerhetsbegrensningException" message="tns:WSSikkerhetsbegrensningException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="ping" message="tns:ping">
            </wsdl:input>
            <wsdl:output name="pingResponse" message="tns:pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SakV2SoapBinding" type="tns:SakV2">
        <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="finnSakerForBruker">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sak/v2/Sak_v2/finnSakerForBrukerRequest"/>
            <wsdl:input name="finnSakerForBruker">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="finnSakerForBrukerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSUgyldigInputException">
                <soap:fault name="WSUgyldigInputException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSikkerhetsbegrensningException">
                <soap:fault name="WSSikkerhetsbegrensningException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/sak/v2/Sak_v2/pingRequest"/>
            <wsdl:input name="ping">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Sak_v2">
        <wsdl:port name="SakV2" binding="tns:SakV2SoapBinding">
            <soap:address location="http://localhost:9090/Sak_v2Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
