behandleforsendelse-v1/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleForsendelse/v1/behandleForsendelse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleForsendelse" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="MottaOgFerdigstillForsendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:MottaOgFerdigstillForsendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MottaOgFerdigstillForsendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:MottaOgFerdigstillForsendelseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MottaOgFerdigstillForsendelsedokumentmottakKanIkkeGjennomfoeres" type="feil:DokumentmottakKanIkkeGjennomfoeres"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MottaOgFerdigstillForsendelse_dokumentmottakKanIkkeGjennomfoeres">
    <wsdl:part name="dokumentmottakKanIkkeGjennomfoeres" element="tns:MottaOgFerdigstillForsendelsedokumentmottakKanIkkeGjennomfoeres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MottaOgFerdigstillForsendelseResponse">
    <wsdl:part name="parameters" element="tns:MottaOgFerdigstillForsendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MottaOgFerdigstillForsendelseRequest">
    <wsdl:part name="parameters" element="tns:MottaOgFerdigstillForsendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleForsendelse_v1">
    <wsdl:operation name="MottaOgFerdigstillForsendelse">
      <wsdl:input message="tns:MottaOgFerdigstillForsendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:MottaOgFerdigstillForsendelseResponse">
    </wsdl:output>
      <wsdl:fault name="dokumentmottakKanIkkeGjennomfoeres" message="tns:MottaOgFerdigstillForsendelse_dokumentmottakKanIkkeGjennomfoeres">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
