nav-fim-tssws-organisasjon-v4-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/fellesregistre/tssws_organisasjon/v4/Organisasjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tssws_Organisasjon" targetNamespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4" xmlns:faults="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/feil" xmlns:param="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/feil" schemaLocation="feil/feil.xsd"/>			
			<xs:element name="finnOrganisasjonsendringerListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:finnOrganisasjonsendringerListeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnOrganisasjonsendringerListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:finnOrganisasjonsendringerListeResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<xs:element name="finnOrganisasjonsendringerListeugyldigInput" type="faults:UgyldigInput"/>		
			<xs:element name="hentOrganisasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:HentOrganisasjonRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:HentOrganisasjonResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjon_organisasjonIkkeFunnet" type="faults:OrganisasjonIkkeFunnet"/>
			<xs:element name="hentOrganisasjon_ugyldigInput" type="faults:UgyldigInput"/>
			<xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="hentOrganisasjonRequest">
    <wsdl:part name="parameters" element="tns:hentOrganisasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjon_organisasjonIkkeFunnet">
    <wsdl:part name="organisasjonIkkeFunnet" element="tns:hentOrganisasjon_organisasjonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonResponse">
    <wsdl:part name="parameters" element="tns:hentOrganisasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjon_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentOrganisasjon_ugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListeRequest">
    <wsdl:part name="parameters" element="tns:finnOrganisasjonsendringerListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnOrganisasjonsendringerListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListeResponse">
    <wsdl:part name="parameters" element="tns:finnOrganisasjonsendringerListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TsswsOrganisasjon_v4">
    <wsdl:operation name="finnOrganisasjonsendringerListe">
      <wsdl:input name="finnOrganisasjonsendringerListeRequest" message="tns:finnOrganisasjonsendringerListeRequest">
    </wsdl:input>
      <wsdl:output name="finnOrganisasjonsendringerListeResponse" message="tns:finnOrganisasjonsendringerListeResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:finnOrganisasjonsendringerListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjon">
      <wsdl:input name="hentOrganisasjonRequest" message="tns:hentOrganisasjonRequest">
    </wsdl:input>
      <wsdl:output name="hentOrganisasjonResponse" message="tns:hentOrganisasjonResponse">
    </wsdl:output>
      <wsdl:fault name="organisasjonIkkeFunnet" message="tns:hentOrganisasjon_organisasjonIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentOrganisasjon_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
