sanntidpdfkonverter/src/main/wsdl/sanntidpdfkonverterer/no/nav/tjeneste/domene/brevogarkiv/sanntidpdfkonverterer/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/meldinger"
		   xmlns:inf="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/informasjon">

	<xsd:import namespace="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/informasjon"
				schemaLocation="../informasjon/informasjon.xsd"/>

	<xs:element name="KonverterPdf2BildeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:base64Binary" name="pdf"/>
				<xs:element type="inf:KonverterFra" name="konverterFra" minOccurs="0"/>
				<xs:element type="inf:Opploesning" name="opploesning" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KonverterPdf2BildeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="pages"/>
				<xs:element type="xs:string" name="uid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="KonverterBilde2PdfRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:base64Binary" name="bilde"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KonverterBilde2PdfResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:base64Binary" name="pdf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PingRequest">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PingResponse">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
</xs:schema>
