aktorid-jaxws/src/main/resources/Aktoer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Aktoer" targetNamespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/aktoer/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/aktoer/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentAktoerIdForIdent">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentAktoerIdForIdentRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentAktoerIdForIdentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentAktoerIdForIdentResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="personIkkeFunnet"/>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="hentAktoerIdForIdent_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:personIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAktoerIdForIdentRequest">
    <wsdl:part name="parameters" element="tns:hentAktoerIdForIdent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentAktoerIdForIdentResponse">
    <wsdl:part name="parameters" element="tns:hentAktoerIdForIdentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AktoerPortType">
    <wsdl:operation name="hentAktoerIdForIdent">
      <wsdl:input name="hentAktoerIdForIdentRequest" message="tns:hentAktoerIdForIdentRequest">
    </wsdl:input>
      <wsdl:output name="hentAktoerIdForIdentResponse" message="tns:hentAktoerIdForIdentResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentAktoerIdForIdent_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AktoerBinding" type="tns:AktoerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentAktoerIdForIdent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentAktoerIdForIdentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentAktoerIdForIdentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aktoer_v1">
    <wsdl:port name="Aktoer_v1" binding="tns:AktoerBinding">
      <soap:address location="http://e26apvl091.test.local:9083/aktoerid-was-ws/Aktoer_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
