moetev1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/moete/v1/moete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="moete" targetNamespace="http://nav.no/tjeneste/virksomhet/moete/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/moete/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/moete/v1" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/moete/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/moete/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentMoeteforespoersel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentMoeteforespoerselRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentMoeteforespoerselResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentMoeteforespoerselResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentMoeteforespoerselRequest">
    <wsdl:part name="parameters" element="tns:hentMoeteforespoersel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentMoeteforespoerselResponse">
    <wsdl:part name="parameters" element="tns:hentMoeteforespoerselResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Moete_v1">
    <wsdl:operation name="hentMoeteforespoersel">
<wsdl:documentation>Hent brukers seneste naermeste leder på requestens orgnummer </wsdl:documentation>
      <wsdl:input message="tns:hentMoeteforespoerselRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentMoeteforespoerselResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
