nav-medlemskap-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/medlemskap/v2/MedlemskapV2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2" name="Medlemskap_v2" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://nav.no/tjeneste/virksomhet/medlemskap/v2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">

  <types>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" schemaLocation="informasjon/kodeverk/kodeverk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" schemaLocation="informasjon/informasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2" schemaLocation="MedlemskapV2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/felles/v1/informasjon" schemaLocation="../../../felles/v1/informasjon/informasjon.xsd"/>
    </xsd:schema>
  </types>
  <message name="hentPeriode">
    <part name="parameters" element="tns:hentPeriode"/>
  </message>
  <message name="hentPeriodeResponse">
    <part name="parameters" element="tns:hentPeriodeResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="hentPeriodeListe">
    <part name="parameters" element="tns:hentPeriodeListe"/>
  </message>
  <message name="hentPeriodeListeResponse">
    <part name="parameters" element="tns:hentPeriodeListeResponse"/>
  </message>
  <message name="PersonIkkeFunnet">
    <part name="fault" element="tns:PersonIkkeFunnet"/>
  </message>
  <message name="Sikkerhetsbegrensning">
    <part name="fault" element="tns:Sikkerhetsbegrensning"/>
  </message>
  <portType name="Medlemskap_v2">
    <operation name="hentPeriode">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeRequest" message="tns:hentPeriode"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeResponse" message="tns:hentPeriodeResponse"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriode/Fault/Sikkerhetsbegrensning"/>
    </operation>
    <operation name="ping">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/pingRequest" message="tns:ping"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/pingResponse" message="tns:pingResponse"/>
    </operation>
    <operation name="hentPeriodeListe">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeListeRequest" message="tns:hentPeriodeListe"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeListeResponse" message="tns:hentPeriodeListeResponse"/>
      <fault message="tns:PersonIkkeFunnet" name="PersonIkkeFunnet" wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeListe/Fault/PersonIkkeFunnet"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeListe/Fault/Sikkerhetsbegrensning"/>
    </operation>
  </portType>
  <binding name="Medlemskap_v2PortBinding" type="tns:Medlemskap_v2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsaw:UsingAddressing/>
    <operation name="hentPeriode" >
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/pingRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hentPeriodeListe">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/medlemskap/v2/Medlemskap_v2/hentPeriodeListeRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PersonIkkeFunnet">
        <soap:fault name="PersonIkkeFunnet" use="literal"/>
      </fault>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="Medlemskap_v2">
    <port name="Medlemskap_v2Port" binding="tns:Medlemskap_v2PortBinding">
      <soap:address location="http://localhost:9080/virksomhet/medlemskap_v2"/>
    </port>
  </service>
</definitions>

