person-splittet-v1/src/main/xsd/splittet.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/hendelse/virksomhet/person/splittet/v1" xmlns:splittet="http://nav.no/hendelse/virksomhet/person/splittet/v1">
    <xsd:complexType name="AktivPerson">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="historiskListe" type="splittet:Person">
                <xsd:annotation>
                    <xsd:documentation>Aktoerhistorikken for den aktive personen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aktiv" type="splittet:Person">
                <xsd:annotation>
                    <xsd:documentation>Den aktive personen hendelsen resulterer i.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Person">
        <xsd:sequence>
            <xsd:element name="ident" type="splittet:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Personidentifikasjonsnummeret (Fødsesnummer/dnummer/++ )</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aktoerId" type="splittet:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>AktoerId for den gjeldende personen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="splittet" type="splittet:Splittet">
        <xsd:annotation>
            <xsd:documentation>Resultatet av splittet hendelse</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="Splittet">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="splittetTilListe" type="splittet:AktivPerson">
                <xsd:annotation>
                    <xsd:documentation>Resultatet av splitten er en liste med aktive personer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>