infotrygd-vedtak/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdvedtak/v1/infotrygdVedtak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="infotrygdVedtak" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnInfotrygdVedtaksinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnInfotrygdVedtakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnInfotrygdVedtaksinformasjonugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnInfotrygdVedtaksinformasjonsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnInfotrygdVedtaksinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnInfotrygdVedtakListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnInfotrygdVedtaksinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnInfotrygdVedtaksinformasjonResponse">
    <wsdl:part name="parameters" element="tns:finnInfotrygdVedtaksinformasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnInfotrygdVedtaksinformasjon_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnInfotrygdVedtaksinformasjonugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="pingParameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnInfotrygdVedtaksinformasjon_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnInfotrygdVedtaksinformasjonsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnInfotrygdVedtaksinformasjon_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnInfotrygdVedtaksinformasjonpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnInfotrygdVedtaksinformasjonRequest">
    <wsdl:part name="parameters" element="tns:finnInfotrygdVedtaksinformasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="infotrygdVedtak_v1">
    <wsdl:operation name="finnInfotrygdVedtaksinformasjon">
      <wsdl:input message="tns:finnInfotrygdVedtaksinformasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnInfotrygdVedtaksinformasjonResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnInfotrygdVedtaksinformasjon_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnInfotrygdVedtaksinformasjon_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnInfotrygdVedtaksinformasjon_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
