person-v1-esb-tjenestespesifikasjon/src/main/wsdl/person/no/nav/virksomhet/part/person/person.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/part/person/v1" version="1.2" xmlns:person="http://nav.no/virksomhet/part/person/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType abstract="true" name="Kodeliste">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dekode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidstillatelseskode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Arbeidstillatelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidstillatelse" type="person:Arbeidstillatelseskode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="87"&gt;&lt;/col&gt;&lt;col width="236"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Kode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Dekode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;AROP&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Arbeidstillatelse m/ oppholdstillatelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;MNGL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Opplysninger om arbeidstillatelse mangler&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen arbeidstillatelsen gjelder fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen arbeidstillatelsen gjelder til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sporingsdetalj">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ident" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kildeNavn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sporing">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="endretInfo" type="person:Sporingsdetalj"/>
      <xsd:element minOccurs="0" name="avsluttetInfo" type="person:Sporingsdetalj"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dodsfall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dodsdato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personstatuskode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Navn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kortnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn som er lenger enn 25 tegn, blir forkortet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidligereNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonIdent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ident" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Personens fnr, dnr, hnr.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sivilstandskode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sivilstand">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sivilstand" type="person:Sivilstandskode">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;&lt;/p&gt;&lt;table  border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Kode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Dekode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;ENKE&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Enke/-mann&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;GIFT&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Gift&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;GJPA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Gjenlevende partner&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;NULL&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Uoppgitt&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;REPA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Registrert partner&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SEPA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Separert partner&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SEPR&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Separert&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SKIL&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Skilt&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SKPA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Skilt partner&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UGIF&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Ugift&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Diskresjonskode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Land">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Kode: ISO-kode for land&lt;/p&gt;&lt;p&gt;Dekode: Landet skrevet fullt ut.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvandring">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utvandretDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen personen utvandret&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvandretTilLand" type="person:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode: Landkode fra ISO-standard&lt;/p&gt;&lt;p&gt;Dekode: Navnet på landet personen har utvandret til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innvandring">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="innvandretDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato personen innvandret.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innvandretFraLand" type="person:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode: Landkode fra ISO-standard&lt;/p&gt;&lt;p&gt;Dekode: Navnet på landet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppholdstillatelseskode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Oppholdstillatelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gjelderTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen oppholdstillatelsen gjelder til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppholdstillatelse" type="person:Oppholdstillatelseskode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="94"&gt;&lt;/col&gt;&lt;col width="260"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Kode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Dekode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;BOSE&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Bosettingstillatelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;MNGL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Opplysninger om arbeidstillatelse mangler&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;OPAR&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Oppholdstillatelse m/ arbeidstillatelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;OPEU&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Oppholdstillatelse etter EØS-avtale&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;OPUT&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Oppholdstillatelse u/ arbeidstillatelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen oppholdstillatelse gjelder fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gjelderFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra og med.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing"/>
      <xsd:element minOccurs="0" name="statsborgerskap" type="person:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode: Landkode fra ISO-standard&lt;/p&gt;&lt;p&gt;Dekode: Navnet på landet, skrevet fullt ut, personen har statsborgerskap i.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sivilstand" type="person:Sivilstand"/>
      <xsd:element minOccurs="0" name="umyndiggjortDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personstatus" type="person:Personstatuskode">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;&lt;/p&gt;&lt;table  border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Kode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Dekode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;ABNR&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Aktivt BOSTNR&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;ADNR&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Aktivt&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;BOSA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Bosatt&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;DØD&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Død&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;DØDD&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Død&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;FØDR&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Fødselsregistrert&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;FOSV&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Forsvunnet/Savnet&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UFUL&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Ufullstendig fødselsnummer&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UREG&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Uregistrert person&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UTAN&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Utgått person annullert tilgang Fnr&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UTPE&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Utgått person&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UTVA&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Utvandret&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="diskresjonskode" type="person:Diskresjonskode">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;&lt;/p&gt;&lt;table  border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Kode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;&lt;b&gt;Dekode:&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;KLIE&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Klientadresse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;MILI&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Militær&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;PEND&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Pendler&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SPFO&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Sperret adresse, fortrolig&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SPSF&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Sperret adresse, strengt fortrolig.&lt;/p&gt;&lt;p &gt;Ofte omtalte som kode 06 (i InfoTrygd)&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;SVAL&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Svalbard&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;&lt;p &gt;UFB&lt;/p&gt;&lt;/td&gt;&lt;td &gt;&lt;p &gt;Uten fast bopel&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="person:Navn"/>
      <xsd:element minOccurs="0" name="dodsfall" type="person:Dodsfall"/>
      <xsd:element minOccurs="0" name="personIdent" type="person:PersonIdent">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Personens fnr, dnr, hnr.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppholdstillatelse" type="person:Oppholdstillatelse"/>
      <xsd:element minOccurs="0" name="arbeidstillatelse" type="person:Arbeidstillatelse"/>
      <xsd:element minOccurs="0" name="innvandring" type="person:Innvandring"/>
      <xsd:element minOccurs="0" name="utvandring" type="person:Utvandring"/>
      <xsd:element minOccurs="0" name="statsborgerskap" type="person:Statsborgerskap"/>
      <xsd:element minOccurs="0" name="fodeland" type="person:Land"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskPinUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="person:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskPin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="pin" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identitetsnummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="pinKildeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor UtenlandskPin stammer fra&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="person:UtenlandskPinUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskIdentitetUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="person:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:complexContent>
      <xsd:extension base="person:Kodeliste"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UtvidetDatasettUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="person:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UtvidetDatasett">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodested" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Personens fødested&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="morsFornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fornavnet til personens mor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="morsFamilienavnVedFodsel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Etternavnet ved fødsel (pikenavn) for personens mor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="farsFornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fornavnet til personens far.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="farsFamilienavnVedFodsel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Etternavnet ved fødsel for personens far.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="person:UtvidetDatasettUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskIdentitet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="land" type="person:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Landkode for landet som har oppgitt identifikasjonen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sektorKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sektoren innenfor hvis identifikasjonen er oppgitt. For ikke-EU er dette fagområde.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="institusjonKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Institusjonskode for institusjonen som har oppgitt identifikasjonen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utenlandskPin" type="person:UtenlandskPin">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Det utenlandske identitetsnummeret på personen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="status" type="person:Status">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Status på registreringen. [Aktiv|Utgått|Feilregistrert]&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidetDatasett" type="person:UtvidetDatasett">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder parametre til utvidet datasett&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="person:Sporing">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder informasjon om hvem som har endret og avsluttet informasjonen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="person:UtenlandskIdentitetUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>