samhandler-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/samhandler/v2/Binding/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/samhandler/meldinger/v2" version="2.0"
            xmlns:meldinger="http://nav.no/virksomhet/tjenester/samhandler/meldinger/v2"
            xmlns:samhandler="http://nav.no/virksomhet/part/samhandler/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://nav.no/virksomhet/part/samhandler/v2" schemaLocation="../samhandler/samhandler.xsd"/>
    <xsd:complexType name="SamhandlerSok">
        <xsd:sequence>
            <xsd:element name="samhandlerIdent" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Offisiell identifikasjon av en samhandler f.eks fnr,
                        orgnr&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="samhandlerIdentKode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Dette er en kode som sier hvordan feltet idOff skal
                        forstås. Dette feltet kan f.eks. ha koden FNR, da skal idOff inneholde et fødselsnummer.
                        Dersom koden er ORG, skal idOff inneholde et organisasjonsnummer.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="samhandlerKode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Dette er en kode som angir hvilken type samhandlere
                        forespørselen gjelder og dette kan f.eks. være LE (lege), TL (tannlege), ..&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TssEksternIdSok">
        <xsd:sequence>
            <xsd:element name="tssEksternId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Dette er en identifikasjon generert av TSS og
                        knyttet til en samhandlers avdeling&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentAutorisasjonOgRettighetListeRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="tssEksternIdSok" type="meldinger:TssEksternIdSok">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Brukes ved søk på ekstern TSS id:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Hvis
                        ikke samhandlerSok er satt så må dette objektet være satt.&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Hvis
                        samhandlerSok er satt så må dette objektet ikke være satt.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandlerSok" type="meldinger:SamhandlerSok">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Dette objektet brukes ved søk på samhandler:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Hvis
                        ikke tssSEksternIdSok er satt så må dette objektet være satt.&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Hvis
                        tssSEksternIdSok er satt så må dette objektet ikke være satt.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="aktuellDato" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Dersom dette feltet ikke er utfylt, hentes data som
                        gjelder for dagens dato&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Dersom feltet inneholder en
                        gyldig dato, hentes data som var gyldige på den aktuelle datoen.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AutorisasjonOgSamhandlerUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AutorisasjonOgSamhandler">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="autorisasjonListe" type="samhandler:Autorisasjon">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;autorisasjon170&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandler" type="samhandler:Samhandler">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandler110&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="meldinger:AutorisasjonOgSamhandlerUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentAutorisasjonOgRettighetListeUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HentAutorisasjonOgRettighetListeResponse">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="autorisasjonOgSamhandlerListe"
                         type="meldinger:AutorisasjonOgSamhandler"/>
            <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentAutorisasjonOgRettighetListeUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerNavnRequest">
        <xsd:sequence>
            <xsd:element name="tssEksternId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Unik id for samhandler&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerNavnUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerNavnResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="samhandler" type="samhandler:Samhandler">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Returnere et Samhandler-objekt med kun følgende felter satt:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;navn&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;samhandlerIdent.ident&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;samhandlerIdent.identKode.kode&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentSamhandlerNavnUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerPrioritertAdresseRequest">
        <xsd:sequence>
            <xsd:element name="ident" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Unik id for samhandler&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identKode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerPrioritertAdresseUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HentSamhandlerPrioritertAdresseResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="navn" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens navn&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandlerIdent" type="samhandler:SamhandlerIdent">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Offisiell identifikasjon av en samhandler f.eks fnr,
                        orgnr&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Kode som sier hva idOff er, f.eks FNR sier at
                        nummert i feltet idOff er et fnr.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandlerKode" type="samhandler:Samhandlerkode">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode som angir samhandlertypen, f.eks LE for
                        lege, SP for sykepleier...&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Beskrivelse av kodeSamhType&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sprak" type="samhandler:Sprak">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens spåk angitt ved ISO-standarden ISO 639-1 (alpha 2)&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="telefon" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Telefonnummeret til samhandlerens avdeling 01 hvis dette er satt.&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="postadresse" type="samhandler:Adresse">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens prioriterte postadresse&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="besoksadresse" type="samhandler:Adresse">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens prioriterte besøksadresse (arbeidsadresse)&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sporing" type="samhandler:Sporing">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Sporing av endringer gjort på samhandleren.&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentSamhandlerPrioritertAdresseUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
