nav-fim-journal-v1-tjenestespesifikasjon/src/main/wsdl/journal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Journal" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/journal/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/journal/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/journal/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/journal/v1/meldinger/meldinger.xsd"/>
			<xs:element name="finnBrukersJournalposter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnBrukersJournalposterRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnBrukersJournalposterResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnBrukersJournalposterResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentDokument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentDokumentRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentDokumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentDokumentResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnMineJournalposter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnMineJournalposterRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnMineJournalposterResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnMineJournalposterResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="finnBrukersJournalposterRequest">
		<wsdl:part name="parameters" element="tns:finnBrukersJournalposter"/>
	</wsdl:message>
	<wsdl:message name="finnBrukersJournalposterResponse">
		<wsdl:part name="parameters" element="tns:finnBrukersJournalposterResponse"/>
	</wsdl:message>
	<wsdl:message name="hentDokumentRequest">
		<wsdl:part name="parameters" element="tns:hentDokument"/>
	</wsdl:message>
	<wsdl:message name="hentDokumentResponse">
		<wsdl:part name="parameters" element="tns:hentDokumentResponse"/>
	</wsdl:message>
	<wsdl:message name="finnMineJournalposterRequest">
		<wsdl:part name="parameters" element="tns:finnMineJournalposter"/>
	</wsdl:message>
	<wsdl:message name="finnMineJournalposterResponse">
		<wsdl:part name="parameters" element="tns:finnMineJournalposterResponse"/>
	</wsdl:message>
	<wsdl:portType name="JournalPortType">
		<wsdl:operation name="finnMineJournalposter">
			<wsdl:input name="finnMineJournalposterRequest" message="tns:finnMineJournalposterRequest"/>
			<wsdl:output name="finnMineJournalposterResponse" message="tns:finnMineJournalposterResponse"/>
		</wsdl:operation>
		<wsdl:operation name="hentDokument">
			<wsdl:input name="hentDokumentRequest" message="tns:hentDokumentRequest"/>
			<wsdl:output name="hentDokumentResponse" message="tns:hentDokumentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="finnBrukersJournalposter">
			<wsdl:input name="finnBrukersJournalposterRequest" message="tns:finnBrukersJournalposterRequest"/>
			<wsdl:output name="finnBrukersJournalposterResponse" message="tns:finnBrukersJournalposterResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="JournalBinding" type="tns:JournalPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="finnMineJournalposter">
			<soap:operation style="document"/>
			<wsdl:input name="finnMineJournalposterRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnMineJournalposterResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hentDokument">
			<soap:operation style="document"/>
			<wsdl:input name="hentDokumentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentDokumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="finnBrukersJournalposter">
			<soap:operation style="document"/>
			<wsdl:input name="finnBrukersJournalposterRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnBrukersJournalposterResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Journal">
		<wsdl:port name="Journal" binding="tns:JournalBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
