sanntidpdfkonverter/src/main/wsdl/sanntidpdfkonverterer/no/nav/tjeneste/domene/brevogarkiv/sanntidpdfkonverterer/v1/sanntidPdfKonverterer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:meldinger="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/meldinger"
		xmlns:feil="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/feil"
		xmlns:tns="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1"
		targetNamespace="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/meldinger"
						schemaLocation="meldinger/meldinger.xsd"/>
			<xsd:import namespace="http://nav.no/tjeneste/domene/brevogarkiv/sanntidPdfKonverterer/v1/feil"
						schemaLocation="feil/feil.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="KonverterPdf2BildeRequest">
		<wsdl:part name="parameters" element="meldinger:KonverterPdf2BildeRequest"/>
	</wsdl:message>
	<wsdl:message name="KonverterPdf2BildeResponse">
		<wsdl:part name="parameters" element="meldinger:KonverterPdf2BildeResponse"/>
	</wsdl:message>
	<wsdl:message name="KonverterBilde2PdfRequest">
		<wsdl:part name="parameters" element="meldinger:KonverterBilde2PdfRequest"/>
	</wsdl:message>
	<wsdl:message name="KonverterBilde2PdfResponse">
		<wsdl:part name="parameters" element="meldinger:KonverterBilde2PdfResponse"/>
	</wsdl:message>
	<wsdl:message name="PingRequest">
		<wsdl:part name="parameters" element="meldinger:PingRequest"/>
	</wsdl:message>
	<wsdl:message name="PingResponse">
		<wsdl:part name="parameters" element="meldinger:PingResponse"/>
	</wsdl:message>

	<wsdl:message name="PdfErKorruptFault">
		<wsdl:part name="fault" element="feil:PdfErKorrupt"/>
	</wsdl:message>
	<wsdl:message name="BildeErKorruptFault">
		<wsdl:part name="fault" element="feil:BildeErKorrupt"/>
	</wsdl:message>

	<wsdl:portType name="sanntidPdfKonverterer_v1">
		<wsdl:operation name="konverterPdf2Bilde">
			<wsdl:input message="tns:KonverterPdf2BildeRequest"/>
			<wsdl:output message="tns:KonverterPdf2BildeResponse"/>
			<wsdl:fault name="pdfErKorrupt" message="tns:PdfErKorruptFault"/>
		</wsdl:operation>
		<wsdl:operation name="konverterBilde2Pdf">
			<wsdl:input message="tns:KonverterBilde2PdfRequest"/>
			<wsdl:output message="tns:KonverterBilde2PdfResponse"/>
			<wsdl:fault name="bildeErKorrupt" message="tns:BildeErKorruptFault"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:PingRequest"/>
			<wsdl:output message="tns:PingResponse"/>
		</wsdl:operation>
	</wsdl:portType>

</wsdl:definitions>
