arena-arbeid-og-aktivitet/src/main/wsdl/no/nav/virksomhet/tjenester/sak/arbeidogaktivitet/arbeidogaktivitet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/sak/arbeidogaktivitet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="arbeidogaktivitet" targetNamespace="http://nav.no/virksomhet/tjenester/sak/arbeidogaktivitet/v1">
  <wsdl:types>
    <xsd:schema xmlns:meldinger="http://nav.no/virksomhet/tjenester/sak/meldinger/v1" targetNamespace="http://nav.no/virksomhet/tjenester/sak/arbeidogaktivitet/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/sak/meldinger/v1" schemaLocation="meldinger/meldinger.xsd" />
      <xsd:element name="ArbeidOgAktivitethentSakListeRequest1" type="meldinger:HentSakListeRequest" />
      <xsd:element name="ArbeidOgAktivitethentSakListeResponse1" type="meldinger:HentSakListeResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ArbeidOgAktivitethentSakListeRequest">
    <wsdl:part name="request" element="tns:ArbeidOgAktivitethentSakListeRequest1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ArbeidOgAktivitethentSakListeResponse">
    <wsdl:part name="response" element="tns:ArbeidOgAktivitethentSakListeResponse1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArbeidOgAktivitet">
    <wsdl:operation name="hentSakListe">
<wsdl:documentation>&lt;p class="MsoNormal"&gt;&lt;span&gt;Tjenesten skal tilby å hente en liste med arbeids og aktivitetssaker med tilhørende vedtaksinformasjon fra Arena basert på angitte søkekriterier. &lt;/span&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:ArbeidOgAktivitethentSakListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:ArbeidOgAktivitethentSakListeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
