oppgavebehandling-tjenestespesifikasjon/src/main/wsdl/Oppgavebehandling.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="OppgavebehandlingService"
	targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1">
	<wsdl:types>
		<xs:schema
			xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1"
			elementFormDefault="unqualified"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1"
			xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1/meldinger">
			<xs:import
				namespace="http://nav.no/tjeneste/domene/brukerdialog/oppgavebehandling/v1/meldinger"
				schemaLocation="no/nav/tjeneste/domene/brukerdialog/oppgavebehandling/v1/meldinger/meldinger.xsd" />
			<xs:element name="plukkOppgave" type="meldinger:plukkOppgaveRequest" />
			<xs:element name="plukkOppgaveResponse" type="meldinger:plukkOppgaveResponse" />
            <xs:element name="leggTilbakeOppgave" type="meldinger:leggTilbakeOppgaveRequest"/>
            <xs:element name="leggTilbakeOppgaveResponse" type="meldinger:leggTilbakeOppgaveResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="plukkOppgaveRequest">
		<wsdl:part element="tns:plukkOppgave" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="plukkOppgaveResponse">
		<wsdl:part element="tns:plukkOppgaveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="leggTilbakeOppgaveRequest">
        <wsdl:part element="tns:leggTilbakeOppgave" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="leggTilbakeOppgaveResponse">
        <wsdl:part element="tns:leggTilbakeOppgaveResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

	<wsdl:portType name="OppgavebehandlingPortType">
		<wsdl:operation name="plukkOppgave">
			<wsdl:input message="tns:plukkOppgaveRequest" name="plukkOppgaveRequest" />
			<wsdl:output message="tns:plukkOppgaveResponse" name="plukkOppgaveResponse" />
		</wsdl:operation>
        <wsdl:operation name="leggTilbakeOppgave">
            <wsdl:input message="tns:leggTilbakeOppgaveRequest" name="leggTilbakeOppgaveRequest"/>
            <wsdl:output message="tns:leggTilbakeOppgaveResponse" name="leggTilbakeOppgaveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest"/>
            <wsdl:output message="tns:pingResponse" name="pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OppgavebehandlingBinding" type="tns:OppgavebehandlingPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="plukkOppgave">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="plukkOppgaveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="plukkOppgaveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="leggTilbakeOppgave">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="leggTilbakeOppgaveRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="leggTilbakeOppgaveResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OppgavebehandlingService">
		<wsdl:port binding="tns:OppgavebehandlingBinding"
			name="OppgavebehandlingPort">
			<soap:address
				location="http://localhost:8081/domene.Brukerdialog/OppgavebehandlingService_v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
