pensjon-behandleAutomatiskOmregning-v1-tjenestespesifikasjon/src/main/wsdl/no.nav.tjeneste.domene.pensjon.behandleAutomatiskOmregning.v1/behandleAutomatiskOmregning.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="behandleAutomatiskOmregning" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="automatiskOmregningAvYtelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:AutomatiskOmregningAvYtelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="automatiskOmregningAvYtelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:AutomatiskOmregningAvYtelseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="plassholder" type="xsd:anyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="plassholder" type="xsd:anyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="automatiskOmregningAvYtelseRequest">
    <wsdl:part element="tns:automatiskOmregningAvYtelse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="automatiskOmregningAvYtelseResponse">
    <wsdl:part element="tns:automatiskOmregningAvYtelseResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BehandleAutomatiskOmregning_v1">
    <wsdl:operation name="automatiskOmregningAvYtelse">
      <wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:automatiskOmregningAvYtelseRequest"/>
      <wsdl:output message="tns:automatiskOmregningAvYtelseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>