behandledokumentforsendelse-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleDokumentforsendelse/v1/behandleDokumentforsendelse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleDokumentforsendelse" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleDokumentforsendelse/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="oppdaterOgFerdigstillJournalfoering">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OppdaterOgFerdigstillJournalfoeringRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterOgFerdigstillJournalfoeringResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterOgFerdigstillJournalfoeringsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="oppdaterOgFerdigstillJournalfoeringugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="oppdaterOgFerdigstillJournalfoeringjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="oppdaterOgFerdigstillJournalfoering_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:oppdaterOgFerdigstillJournalfoeringjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterOgFerdigstillJournalfoeringRequest">
    <wsdl:part name="parameters" element="tns:oppdaterOgFerdigstillJournalfoering">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterOgFerdigstillJournalfoering_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:oppdaterOgFerdigstillJournalfoeringsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterOgFerdigstillJournalfoering_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:oppdaterOgFerdigstillJournalfoeringugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterOgFerdigstillJournalfoeringResponse">
    <wsdl:part name="parameters" element="tns:oppdaterOgFerdigstillJournalfoeringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleDokumentforsendelse_v1">
    <wsdl:operation name="oppdaterOgFerdigstillJournalfoering">
      <wsdl:input message="tns:oppdaterOgFerdigstillJournalfoeringRequest">
    </wsdl:input>
      <wsdl:output message="tns:oppdaterOgFerdigstillJournalfoeringResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:oppdaterOgFerdigstillJournalfoering_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:oppdaterOgFerdigstillJournalfoering_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:oppdaterOgFerdigstillJournalfoering_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
