organisasjonenhet-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonEnhet/v2/organisasjonEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="organisasjonEnhet" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/" xmlns:feil="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnNAVKontor">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnNAVKontorRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVKontorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnNAVKontorResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVKontorugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentEnhetBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentEnhetBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentEnhetBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentFullstendigEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentFullstendigEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentFullstendigEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentFullstendigEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOverordnetEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOverordnetEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOverordnetEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOverordnetEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOverordnetEnhetListeenhetIkkeFunnet" type="feil:EnhetIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentEnhetBolkRequest">
    <wsdl:part name="parameters" element="tns:hentEnhetBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOverordnetEnhetListeRequest">
    <wsdl:part name="parameters" element="tns:hentOverordnetEnhetListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetBolkResponse">
    <wsdl:part name="parameters" element="tns:hentEnhetBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNAVKontorResponse">
    <wsdl:part name="parameters" element="tns:finnNAVKontorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOverordnetEnhetListeResponse">
    <wsdl:part name="parameters" element="tns:hentOverordnetEnhetListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentFullstendigEnhetListeRequest">
    <wsdl:part name="parameters" element="tns:hentFullstendigEnhetListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentFullstendigEnhetListeResponse">
    <wsdl:part name="parameters" element="tns:hentFullstendigEnhetListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNAVKontorRequest">
    <wsdl:part name="parameters" element="tns:finnNAVKontor">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOverordnetEnhetListe_enhetIkkeFunnet">
    <wsdl:part name="enhetIkkeFunnet" element="tns:hentOverordnetEnhetListeenhetIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNAVKontor_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnNAVKontorugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganisasjonEnhet_v2">
    <wsdl:operation name="finnNAVKontor">
      <wsdl:input message="tns:finnNAVKontorRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnNAVKontorResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:finnNAVKontor_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentEnhetBolk">
      <wsdl:input message="tns:hentEnhetBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentEnhetBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentFullstendigEnhetListe">
      <wsdl:input message="tns:hentFullstendigEnhetListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentFullstendigEnhetListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOverordnetEnhetListe">
      <wsdl:input message="tns:hentOverordnetEnhetListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOverordnetEnhetListeResponse">
    </wsdl:output>
      <wsdl:fault name="enhetIkkeFunnet" message="tns:hentOverordnetEnhetListe_enhetIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
