behandleforeldrepengesak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleForeldrepengesak/v1/behandleForeldrepengesak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleForeldrepengesak" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettSakSakEksistererAllerede" type="feil:SakEksistererAllerede"/>
      <xsd:element name="OpprettSakugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="OpprettSaksikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettSak_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:OpprettSakugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettSak_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:OpprettSaksikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettSakRequest">
    <wsdl:part name="parameters" element="tns:OpprettSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettSak_SakEksistererAllerede">
    <wsdl:part name="SakEksistererAllerede" element="tns:OpprettSakSakEksistererAllerede">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettSakResponse">
    <wsdl:part name="parameters" element="tns:OpprettSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleForeldrepengesak_v1">
    <wsdl:operation name="ping">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpprettSak">
      <wsdl:input message="tns:OpprettSakRequest">
    </wsdl:input>
      <wsdl:output message="tns:OpprettSakResponse">
    </wsdl:output>
      <wsdl:fault name="SakEksistererAllerede" message="tns:OpprettSak_SakEksistererAllerede">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:OpprettSak_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:OpprettSak_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
