notat/src/main/resources/notat.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="notat" targetNamespace="http://nav.no/tjeneste/virksomhet/notat/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/notat/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/notat/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/notat/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/notat/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/notat/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/notat/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnNotatListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnNotatListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNotatListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnNotatListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNotatListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnNotatListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnNotatListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnNotatListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNotatListeRequest">
    <wsdl:part name="parameters" element="tns:finnNotatListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNotatListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnNotatListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnNotatListeResponse">
    <wsdl:part name="parameters" element="tns:finnNotatListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="notat_v1">
    <wsdl:operation name="finnNotatListe">
      <wsdl:input message="tns:finnNotatListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnNotatListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnNotatListe_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnNotatListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
