cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/nav-cons-sak-gosys-3.0.0_GOSYSPersonWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GOSYSPersonWSEXP_GOSYSPersonHttp_Service" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person/Binding" xmlns:Port_0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person/Binding">
  <wsdl:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person" location="no/nav/inf/GOSYSPerson.wsdl">
    </wsdl:import>
  <wsdl:binding name="GOSYSPersonWSEXP_GOSYSPersonHttpBinding" type="Port_0:GOSYSPerson">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentKontoinformasjon">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentKontoinformasjonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentKontoinformasjonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentHistorikk">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentHistorikkRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentHistorikkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentBrukerprofil">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentBrukerprofilRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentBrukerprofilResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSBrukerprofilIkkeFunnet">
        <soap:fault name="faultGOSYSBrukerprofilIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreEpost">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreEpostRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreEpostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreTelefonnumre">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreTelefonnumreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreTelefonnumreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreSprak">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreSprakRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreSprakResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreAdresse">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreAdresseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreAdresseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreKontoinformasjon">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreKontoinformasjonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreKontoinformasjonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreBrukerprofil">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreBrukerprofilRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreBrukerprofilResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="erEgenansatt">
      <soap:operation soapAction=""/>
      <wsdl:input name="erEgenansattRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="erEgenansattResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSamboerforhold">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentSamboerforholdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentSamboerforholdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentFamilierelasjoner">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentFamilierelasjonerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentFamilierelasjonerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettAdresse">
      <soap:operation soapAction=""/>
      <wsdl:input name="slettAdresseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="slettAdresseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreNavn">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreNavnRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreNavnResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOSYSPersonWSEXP_GOSYSPersonHttpService">
    <wsdl:port name="GOSYSPersonWSEXP_GOSYSPersonHttpPort" binding="this:GOSYSPersonWSEXP_GOSYSPersonHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-sak-gosys-3.0.0Web/sca/GOSYSPersonWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
