samhandler-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/samhandler/v2/Binding/samhandler/samhandler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav.no/virksomhet/part/samhandler/v2" version="2.0"
            xmlns:samhandler="http://nav.no/virksomhet/part/samhandler/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Kodeliste">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Selve kodeverdien&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="dekode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Tekstlig beskrivelse av koden&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rettighetskode">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="Utvidelse">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <xsd:complexType name="SporingUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Sporing">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="dato" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Tidspunktet dataene ble lagt inn&lt;/p&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ident" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Saksbehandler som har registrert inn dataene&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kildeNavn" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kilden til dataene (system) – identifiserer systemet dataene kom fra&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:SporingUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AutorisasjonsrettighetUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GjelderUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Gjelder">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="gjelderFom" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Dato for gjelder fra&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="gjelderTom" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Dato for gjelder til&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:GjelderUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Autorisasjonsrettighet">
        <xsd:annotation>
            <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Informasjon om hvem som har registrert dataene, når det ble
                registrert og kilden(systemet) til dataene.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="rettighetGjelder" type="samhandler:Gjelder">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Datoen autorisasjonsrettigheten gjelder fra&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Datoen
                        autorisasjonsrettigheten gjelder til&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="rettighetskode" type="samhandler:Rettighetskode">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode som angir type autorisasjon – se kodeverket&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Kode
                        som angir type autorisasjonrettighet – se kodeverket&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sporing" type="samhandler:Sporing">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Informasjon om hvem som har registrert dataene, når det ble registrert
                        og kilden(systemet) til dataene.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="vedtakGjelder" type="samhandler:Gjelder">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Datoen når vedtaket om å gi rettigheten ble fattet&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Datoen
                        når vedtaket om å frata rettigheten ble fattet&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:AutorisasjonsrettighetUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Autorisasjonskode">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AutorisasjonUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Autorisasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="autorisasjonId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Autorisasjonsident&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="autorisasjonsKode" type="samhandler:Autorisasjonskode">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode som angir type autorisasjon – se kodeverket&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Beskrivelse
                        av verdien i feltet kodeAutorType&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="autorisasjonsrettighetListe"
                         type="samhandler:Autorisasjonsrettighet"/>
            <xsd:element minOccurs="0" name="gjelder" type="samhandler:Gjelder">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Datoen autorisasjonen gjelder fra&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Datoen
                        autorisasjonen gjelder til&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sporing" type="samhandler:Sporing">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Informasjon om hvem som har registrert dataene, når det ble registrert
                        og kilden(systemet) til dataene.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:AutorisasjonUtvidelse1">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Identkode">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SamhandlerIdentUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SamhandlerIdent">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ident" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Offisiell identifikasjon av en samhandler f.eks fnr, orgnr&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="identKode" type="samhandler:Identkode">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kode som sier hva idOff er – f.eks FNR sier at nummert i feltet idOff
                        er et fnr.&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:SamhandlerIdentUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SamhandlerUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Samhandlerkode">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Sprak">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Kontrollintervall">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Samhandler">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="navn" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens navn&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandlerIdent" type="samhandler:SamhandlerIdent">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Offisiell identifikasjon av en samhandler f.eks
                        fnr,orgnr,…&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Kode som sier hva idOff er – f.eks FNR
                        sier at nummert i feltet idOff er et fnr.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="samhandlerKode" type="samhandler:Samhandlerkode">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode som angir samhandlertypen – f.eks LE for
                        lege, SP for sykepleier,… &lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Beskrivelse av kodeSamhType&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="gjelder" type="samhandler:Gjelder">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Dato for start som samhandler&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Dato
                        for slutt som samhandler&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kontrollintervall" type="samhandler:Kontrollintervall">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Angir kontrollintensitet pr år – f.eks. kontroll
                        av en leges bruk av takster&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Beskrivelse av feltet
                        kodeKontrInt&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sprak" type="samhandler:Sprak">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandlerens språk angitt ved ISO-standarden ISO 639-1 (alpha 2)&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="status" type="samhandler:Status">
                <xsd:annotation>
                    <xsd:documentation>&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode som beskriver status – se kodeverket for
                        kodeeksempler og kodebeskrivelser &lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Beskrivelse av verdien
                        i feltet kodeStatus&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utbetalingssperre" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kan ha verdien True (sperret for utbetaling til denne samhandler) eller
                        False.&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sporing" type="samhandler:Sporing">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Informasjon om hvem som har registrert dataene, når det ble registrert
                        og kilden(systemet) til dataene.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:SamhandlerUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Land">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Kodeliste"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AdresseUtvidelse1">
        <xsd:complexContent>
            <xsd:extension base="samhandler:Utvidelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Adresse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="adresselinje1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Adresselinje 1&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="adresselinje2" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Adresselinje 2&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="adresselinje3" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Adresselinje 3&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="postnr" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Postnummer, kan være blank ved utenlandske adresser&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="poststed" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Poststed, kan være blank ved utenlandske adresser&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="land" type="samhandler:Land">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Land for adresse&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kommunenr" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kommunenummer hvis adressen er en norsk adresse&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sporing" type="samhandler:Sporing">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Sporing av endringer gjort på denne adressen&lt;/p&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utvidelse" type="samhandler:AdresseUtvidelse1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
