sykmelderstatistikk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelderstatistikk/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentTilbakemeldingsstatistikkRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDiagnoseStatistikkRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (Kvartalbasert)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentVarighetPerSykefravaerstilfelleHistorikkRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kodeverk" type="informasjon:Kodeverk">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ICPC2 kodeverket med tilhørende koder for spesifisert sykefraværstilfelle&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDimensjonListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="dimensjonListe" type="informasjon:Dimensjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En liste med statistikkdimensjoner som tilbys av datavarehus og deres hierarkiske underdimensjoner. Det er mulighet for flere nivåer på dimensjonene, og har et hierarkisk kobling imellom.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentHistorikkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tabell" type="informasjon:Historikktabell">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tabell med statistikk historisk data. Resultatene henter for et spesifikt tidsinterval, basert på perioden oppgitt i input.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentVarighetPaaSykefravaerstilfellerFellesRequest">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Operasjonen returnerer statistikk med to visningsformer, kjønn og diagnose.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kjoennId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for kjønn resultatet begrenses til. Mulighetene er "begge kjønn", "kvinner", "menn"&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alderId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for aldersgruppen resultatet begrenses til. Mulighetene er Alle aldere, Under 25år, Fra 25-34år, Fra 35-49, 50år og over&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naeringId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for næringsgruppe resultatet begrenses til. Id'er for følgende næringsgrupper finnes: Alle næringer, Jordbruk, skogbruk og fiske, Industri og bergverksdrift, Bygge- og anleggsvirksomhet, elektrisitet og renovasjon, Varehandel, transport og lagring, Overnattings- og serveringsvirksomhet, Informasjon, finans, teknisk og forretningsmessig tjenesteyting, Off.adm., forsvar, sosialforsikring, Undervisning, Helse- og sosialtjenester, Private tjenester ellers, Selvstendig næringsdrivende, AAP og dagpengemottakere, Pensjonister under 70 år,Andre (barn, pensjonister over 69 år m.m.)&lt;/p&gt;&lt;p &gt;&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykefravaerstypeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for type sykefraværstilfelle resultatet begrenses til. Mulighetene er "Egne og delte tilfeller", "Egne tilfeller"&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykefravaerstilfellegradId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for hvilken type sykefravaerstilfellegrad det gjelder. Dette tilsvarer verdiId valgt fra Dimensjonslisten for gradering. Det finnes følgende mulige valg: "Gradert og ikke-gradert", "Gradert"&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentGraderingsspredningResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spredningstabell" type="informasjon:Spredning">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Spredning av gradering på sykmeldinger, gir resultater på et sett med prosentinterval, med tilhørende resultat innen for interval. Resultatet innenfor hvert interval er definert etter spesifikasjonene angitt i input til operasjonen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="brukertilhoerighet" type="informasjon:Spredning">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Spredning av gradering på sykmeldinger for pålogget bruker, hvorav resultatene er bruker sine resultater, og verdi for hvilket interval bruker tilhører.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Response">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="statistikktabell" type="informasjon:Tabell"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentGraderingPaaSykefravaerstilfellerFellesRequest">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Operasjonen returnerer statistikk med to visningsformer, kjønn og diagnose.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses til. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kjoennId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for kjønn resultatet begrenses til. Mulighetene er "begge kjønn", "kvinner", "menn"&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alderId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for aldersgruppen resultatet begrenses til. Mulighetene er Alle aldere, Under 25år, Fra 25-34år, Fra 35-49, 50år og over&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naeringId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for næringsgruppe resultatet begrenses til. Id'er for følgende næringsgrupper finnes: Alle næringer, Jordbruk, skogbruk og fiske, Industri og bergverksdrift, Bygge- og anleggsvirksomhet, elektrisitet og renovasjon, Varehandel, transport og lagring, Overnattings- og serveringsvirksomhet, Informasjon, finans, teknisk og forretningsmessig tjenesteyting, Off.adm., forsvar, sosialforsikring, Undervisning, Helse- og sosialtjenester, Private tjenester ellers, Selvstendig næringsdrivende, AAP og dagpengemottakere, Pensjonister under 70 år,Andre (barn, pensjonister over 69 år m.m.)&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykefravaerstypeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for type sykefraværstilfelle resultatet begrenses til. Mulighetene er "Egne og delte tilfeller", "Egne tilfeller"&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykefravaerstilfelleId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for hvilken type sykefraværstilfeller det gjelder. Dette tilsvarer verdiId valgt fra Dimensjonslisten for tilfeller. Det finnes følgende mulige valg: Løpende og avsluttede tilfeller, Avsluttede tilfeller&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentGraderingsspredningRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kjoennId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for kjønn resultatet begrenses til. Mulighetene er "begge kjønn", "kvinner", "menn"&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentNoekkelInformasjonResponse">
    <xsd:sequence>
      <xsd:element name="sykmelderNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet til den innloggede brukeren&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilhoerendeGeografiskOmraade" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet på det geografiske området sykmelder/bruker tilhører&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="geografiskOmraadeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for det geografiske området sykmelder/bruker tilhører&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilhoerendeSykmeldergruppe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sykmeldergruppen (statistikkgruppen) sykmelde/bruker tilhører&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="egneGraderteSykmeldinger" type="informasjon:GraderteSykmeldinger">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Informasjon om egne tall på graderte sykmeldinger for en gitt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="egneSykefravaerstilfeller" type="informasjon:Sykefravaerstilfeller">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Informasjon om egne tall på sykelfraværstilfeller for en gitt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentAndelGraderteSykmeldingerHistorikkRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:MaanedbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (kvartalbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDimensjonListeRequest"/>
  <xsd:complexType name="HentNoekkelInformasjonRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentSykmeldingStatistikkRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kjoennId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for kjønn resultatet begrenses til. Mulighetene er "begge kjønn", "kvinner", "menn"&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alderId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for aldersgruppen resultatet begrenses til. Mulighetene er Alle aldere, Under 25år, Fra 25-34år, Fra 35-49, 50år og over&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naeringId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for næringsgruppe resultatet begrenses til. Id'er for følgende næringsgrupper finnes: Alle næringer, Jordbruk, skogbruk og fiske, Industri og bergverksdrift, Bygge- og anleggsvirksomhet, elektrisitet og renovasjon, Varehandel, transport og lagring, Overnattings- og serveringsvirksomhet, Informasjon, finans, teknisk og forretningsmessig tjenesteyting, Off.adm., forsvar, sosialforsikring, Undervisning, Helse- og sosialtjenester, Private tjenester ellers, Selvstendig næringsdrivende, AAP og dagpengemottakere, Pensjonister under 70 år,Andre (barn, pensjonister over 69 år m.m.)&lt;/p&gt;&lt;p &gt;&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:MaanedbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (månedbasert).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldingsgradId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for hvilken type sykmeldningsgradering det gjelder. Dette tilsvarer verdiId valgt fra Dimensjonslisten for gradering. Det finnes følgende mulige valg: "Gradert og ikke-gradert", "Gradert"&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentPasientlistesammensetningRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den innloggede brukers identifikasjonsnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:MaanedbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for perioden resultatet begrenses till. Dette tilsvarer verdiId valgt fra Dimensjonslisten for Periode (Månedbasert)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kjoennId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Identifikator for kjønn resultatet begrenses til. Mulighetene er "begge kjønn", "kvinner", "menn"&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="geografiskOmraadeIdListe" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator(er) for det geografiske området(ene) resultet begrenses til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>