henvendelse-felles-tjenestespesifikasjon/src/main/wsdl/Henvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="HenvendelseService"
	targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1">
	<wsdl:types>
		<xs:schema
			xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1"
			elementFormDefault="unqualified"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1"
			xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/meldinger">
			<xs:import
				namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/meldinger"
				schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelsefelles/v1/meldinger/meldinger.xsd" />
			<xs:element name="hentHenvendelseListe" type="meldinger:hentHenvendelseListeRequest" />
			<xs:element name="hentHenvendelseListeResponse" type="meldinger:hentHenvendelseListeResponse" />
            <xs:element name="merkMeldingSomLest" type="meldinger:merkMeldingSomLestRequest" />
			<xs:element name="merkMeldingSomLestResponse" type="meldinger:merkMeldingSomLestResponse" />
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="hentHenvendelseListeRequest">
		<wsdl:part element="tns:hentHenvendelseListe" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="hentHenvendelseListeResponse">
		<wsdl:part element="tns:hentHenvendelseListeResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="merkMeldingSomLestRequest">
		<wsdl:part element="tns:merkMeldingSomLest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="merkMeldingSomLestResponse">
		<wsdl:part element="tns:merkMeldingSomLestResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

	<wsdl:portType name="HenvendelsePortType">
		<wsdl:operation name="hentHenvendelseListe">
			<wsdl:input message="tns:hentHenvendelseListeRequest" name="hentHenvendelseListeRequest" />
			<wsdl:output message="tns:hentHenvendelseListeResponse" name="hentHenvendelseListeResponse" />
		</wsdl:operation>
        <wsdl:operation name="merkMeldingSomLest">
			<wsdl:input message="tns:merkMeldingSomLestRequest" name="merkMeldingSomLestRequest" />
			<wsdl:output message="tns:merkMeldingSomLestResponse" name="merkMeldingSomLestResponse" />
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HenvendelseBinding"	type="tns:HenvendelsePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="hentHenvendelseListe">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="hentHenvendelseListeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="hentHenvendelseListeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="merkMeldingSomLest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="merkMeldingSomLestRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="merkMeldingSomLestResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HenvendelseService">
		<wsdl:port binding="tns:HenvendelseBinding"
			name="HenvendelsePort">
			<soap:address
				location="http://localhost:8081/domene.Brukerdialog/HenvendelseService_v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
