joark-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/journal/v2/journal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="journal" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/journal/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/journal/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/journal/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/journal/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/journal/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentJournalpostListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentJournalpostListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentJournalpostListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostListeSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentDokumentdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="hentDokumentURL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDokumentURLRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentDokumentURLResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="hentDokumentURLsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentDokument_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:hentDokumentdokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLRequest">
    <wsdl:part name="parameters" element="tns:hentDokumentURL">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentURLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentDokumentURLsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostListeResponse">
    <wsdl:part name="parameters" element="tns:hentJournalpostListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:hentDokumentURLdokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokument_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentDokumentsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostListe_Sikkerhetsbegrensning">
    <wsdl:part name="Sikkerhetsbegrensning" element="tns:hentJournalpostListeSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostListeRequest">
    <wsdl:part name="parameters" element="tns:hentJournalpostListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentRequest">
    <wsdl:part name="parameters" element="tns:hentDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Journal_v2">
    <wsdl:operation name="hentJournalpostListe">
      <wsdl:input message="tns:hentJournalpostListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentJournalpostListeResponse">
    </wsdl:output>
      <wsdl:fault name="Sikkerhetsbegrensning" message="tns:hentJournalpostListe_Sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDokument">
      <wsdl:input message="tns:hentDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentDokument_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:hentDokument_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDokumentURL">
      <wsdl:input message="tns:hentDokumentURLRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDokumentURLResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentDokumentURL_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:hentDokumentURL_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
