startregistreringstatus-v1-tjenestespesifikasjon/src/main/wsdl/StartRegistreringStatusV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="startRegistreringStatus" targetNamespace="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1"
             xmlns:impl="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1"
                    xmlns:feil="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1/feil"
                    xmlns:meldinger="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1/feil"
                        schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/startRegistreringStatus/v1/meldinger"
                        schemaLocation="meldinger/meldinger.xsd"/>

            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="hentStartRegistreringStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" minOccurs="0" type="meldinger:WSStartRegistreringStatusRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="hentStartRegistreringStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" minOccurs="0" type="meldinger:WSStartRegistreringStatusResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="WSStartRegistreringStatus" type="meldinger:WSStartRegistreringStatus"/>
            <xsd:element name="WSFeilVedHentingAvStatusIArena" type="feil:WSFeilVedHentingAvStatusIArena"/>
            <xsd:element name="WSSikkerhetsbegrensning" type="feil:WSSikkerhetsbegrensning"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="pingResponse">
        <wsdl:part element="impl:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ping">
        <wsdl:part element="impl:ping" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="hentStartRegistreringStatus">
        <wsdl:part name="parameters" element="impl:hentStartRegistreringStatus"/>
    </wsdl:message>

    <wsdl:message name="hentStartRegistreringStatusResponse">
        <wsdl:part name="parameters" element="impl:hentStartRegistreringStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="feilVedHentingAvStatusFraArenaException">
        <wsdl:part name="feilVedHentingAvStatusFraArena" element="impl:WSFeilVedHentingAvStatusIArena"/>
    </wsdl:message>

    <wsdl:message name="sikkerhetsbegrensningException">
        <wsdl:part name="sikkerhetsbegrensning" element="impl:WSSikkerhetsbegrensning"/>
    </wsdl:message>

    <wsdl:portType name="StartRegistreringStatusV1">
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="impl:ping"/>
            <wsdl:output name="pingResponse" message="impl:pingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="hentStartRegistreringStatus">
            <wsdl:input name="hentStartRegistreringRequest" message="impl:hentStartRegistreringStatus"/>
            <wsdl:output name="hentStartRegistreringStatusResponse" message="impl:hentStartRegistreringStatusResponse"/>
            <wsdl:fault name="feilVedHentingAvStatusFraArenaException" message="impl:feilVedHentingAvStatusFraArenaException"/>
            <wsdl:fault name="sikkerhetsbegrensningException" message="impl:sikkerhetsbegrensningException"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="StartRegistreringStatusV1Binding" type="impl:StartRegistreringStatusV1">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ping">
            <wsdlsoap:operation soapAction="http://nav.no/tjenste/virksomhet/startRegistreringStatus/v1/pingRequest"/>
            <wsdl:input name="pingRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="hentStartRegistreringStatus">
            <wsdlsoap:operation soapAction="http://nav.no/tjenste/virksomhet/startRegistreringStatus/v1/hentStartRegistreringStatusRequest"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="StartRegistreringStatus_V1">
        <wsdl:port name="StartRegistreringStatusV1" binding="impl:StartRegistreringStatusV1Binding">
            <wsdlsoap:address location="http://localhost:8080/virksomhet/startregistreringstatus_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

