sykmelding-2013/src/main/xsd/HelseOpplysningerArbeidsuforhet_2013-10-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by XMLSpy 2009 Enterprise Ed., Installed for 30 users (with SMP from 2009-06-19 to 2010-06-20) (NAV ØKONOMITJENESTER) -->
<!--

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns:kith="http://www.kith.no/xmlstds" xmlns:fk1="http://www.kith.no/xmlstds/felleskomponent1" xmlns:ho="http://www.kith.no/xmlstds/HelseOpplysningerArbeidsuforhet/2013-10-01" xmlns:ns1="http://www.kith.no/xmlstds/HelseOpplysningerArbeidsuforhet/2013-10-01" targetNamespace="http://www.kith.no/xmlstds/HelseOpplysningerArbeidsuforhet/2013-10-01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.kith.no/xmlstds" schemaLocation="./kith.xsd"/>
    <import namespace="http://www.kith.no/xmlstds/felleskomponent1" schemaLocation="./felleskomponent1.xsd"/>
    <!-- Class: Vurdering av arbeidsmulighet / sykmelding -->
    <element name="HelseOpplysningerArbeidsuforhet">
        <complexType>
            <sequence>
                <element name="RegelSettVersjon" type="string" minOccurs="0">
                <annotation>
                    <documentation>Versjon av Dynaregler og ledetekster i EPJ systemet da denne sykmeldingen ble generert</documentation>
                </annotation>
            </element>
                <element name="SyketilfelleStartDato" type="date">
                    <annotation>
                        <documentation>Når Startet syketilfellet</documentation>
                    </annotation>
                </element>
                <element name="Pasient">
                    <annotation>
                        <documentation>Pasient</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="Navn" type="ho:NavnType">
                                <annotation>
                                    <documentation>Pasientens navn</documentation>
                                </annotation>
                            </element>
                            <element name="Fodselsnummer" type="fk1:Ident">
                                <annotation>
                                    <documentation>Pasientens fødseslnummer</documentation>
                                </annotation>
                            </element>
                            <element name="KontaktInfo" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded">
                                <annotation>
                                    <documentation>tlf nr</documentation>
                                </annotation>
                            </element>
                            <element name="NavnFastlege" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Navn på fastlege</documentation>
                                </annotation>
                            </element>
                            <element name="NAVKontor" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>NAV-kontor</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="Arbeidsgiver">
                    <complexType>
                        <sequence>
                            <element name="HarArbeidsgiver" type="kith:CS">
                                <annotation>
                                    <documentation>Har pasienten:
                                        o Én arbeidsgiver
                                        o Flere arbeidsgivere
                                        o Ingen arbeidsgiver"
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="NavnArbeidsgiver" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Oppgi arbeidsgiver for DENNE sykmeldingen</documentation>
                                </annotation>
                            </element>
                            <element name="Yrkesbetegnelse" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Angi yrke/ stilling for dette arbeidsforholdet</documentation>
                                </annotation>
                            </element>
                            <element name="Stillingsprosent" type="int" minOccurs="0">
                                <annotation>
                                    <documentation>Stillingsprosent</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MedisinskVurdering">
                    <annotation>
                        <documentation>Medisinsk vurdering</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="HovedDiagnose" minOccurs="0">
                                <annotation>
                                    <documentation>Hoveddiagnoser</documentation>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element name="Diagnosekode" type="kith:CV">
                                            <annotation>
                                                <documentation>En diagnosekode er hoveddiagnose</documentation>
                                            </annotation>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BiDiagnoser" minOccurs="0">
                                <annotation>
                                    <documentation>Bidiagnoser</documentation>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element name="Diagnosekode" type="kith:CV" maxOccurs="unbounded">
                                            <annotation>
                                                <documentation>Ingen eller flere bidiagnoser</documentation>
                                            </annotation>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="AnnenFraversArsak" type="ho:ArsakType" minOccurs="0">
                                <annotation>
                                    <documentation>Andre årsaker - lovfestet fraværsgrunn § 8-4, 3. ledd
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="Svangerskap" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Er sykdommen svangerskapsrelatert?</documentation>
                                </annotation>
                            </element>
                            <element name="Yrkesskade" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Kan sykmeldingen skyldes en yrkesskade/yrkessykdom</documentation>
                                </annotation>
                            </element>
                            <element name="YrkesskadeDato" type="date" minOccurs="0">
                                <annotation>
                                    <documentation>Evt skadedato</documentation>
                                </annotation>
                            </element>
                            <element name="SkjermesForPasient" type="boolean" minOccurs="0"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Aktivitet" minOccurs="0">
                    <annotation>
                        <documentation>Mulighet for aktivitet /arbeidsevne (A)
                        </documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="Periode" maxOccurs="unbounded">
                                <annotation>
                                    <documentation>Perioder for denne sykmeldingen.
                                        Sammenhengende perioder
                                        Ikke overlappende perioder</documentation>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element name="PeriodeFOMDato" type="date">
                                            <annotation>
                                                <documentation>Periodens fra og med dato</documentation>
                                            </annotation>
                                        </element>
                                        <element name="PeriodeTOMDato" type="date">
                                            <annotation>
                                                <documentation>Periodens til og med dato</documentation>
                                            </annotation>
                                        </element>
                                        <choice>
                                            <annotation>
                                                <documentation>Er arbeidsrelatert aktivitet  mulig i perioden?</documentation>
                                            </annotation>
                                            <element name="AvventendeSykmelding">
                                                <annotation>
                                                    <documentation>Pasienten kan benytte avventende sykmelding</documentation>
                                                </annotation>
                                                <complexType>
                                                    <sequence>
                                                        <element name="InnspillTilArbeidsgiver" type="string">
                                                            <annotation>
                                                                <documentation>A.1.1.2 Innspill til arbeidsgiver</documentation>
                                                            </annotation>
                                                        </element>
                                                    </sequence>
                                                </complexType>
                                            </element>
                                            <element name="GradertSykmelding">
                                                <annotation>
                                                    <documentation>Pasienten kan være delvis i arbeid (gradert sykmelding)</documentation>
                                                </annotation>
                                                <complexType>
                                                    <sequence>
                                                        <element name="Sykmeldingsgrad" type="int">
                                                            <annotation>
                                                                <documentation>A.1.1.1.1 Hvis JA, gradering: angi GRAD (mulighet for aktivitet)
                                                                </documentation>
                                                            </annotation>
                                                        </element>
                                                        <element name="Reisetilskudd" type="boolean" minOccurs="0">
                                                            <annotation>
                                                                <documentation>Reisetilskudd ved gardert sykmelding</documentation>
                                                            </annotation>
                                                        </element>
                                                    </sequence>
                                                </complexType>
                                            </element>
                                            <element name="AktivitetIkkeMulig">
                                                <annotation>
                                                    <documentation>Pasienten kan ikke være i arbeid (100% Sykmelding)</documentation>
                                                </annotation>
                                                <complexType>
                                                    <all>
                                                        <element name="MedisinskeArsaker" type="ho:ArsakType" minOccurs="0">
                                                            <annotation>
                                                                <documentation>"a) helsetilstanden hindrer pasienten å være i aktivitet
                                                                    b) aktivitet vil forverre helsetilstand
                                                                    c) aktivitet vil hindre/forsinke bedring av helsetilstanden
                                                                    d) Annet"

                                                                    Ikke synlig for arbeidsgiver</documentation>
                                                            </annotation>
                                                        </element>
                                                        <element name="Arbeidsplassen" type="ho:ArsakType" minOccurs="0">
                                                            <annotation>
                                                                <documentation>Arbeidsplassen: Hvis tilrettelegging kunne ha bidratt til økt aktivitet, hvilken gradering kunne ha vært aktuell, eventuelt kunne sykmelding vært unngått? Synlig for arbeidsgiver</documentation>
                                                            </annotation>
                                                        </element>
                                                    </all>
                                                </complexType>
                                            </element>
                                            <element name="Behandlingsdager">
                                                <annotation>
                                                    <documentation>Pasienten kan ikke være i Arbeid på behandlingsdager</documentation>
                                                </annotation>
                                                <complexType>
                                                    <sequence>
                                                        <element name="AntallBehandlingsdagerUke" type="int">
                                                            <annotation>
                                                                <documentation>AngiAntall dager i uken</documentation>
                                                            </annotation>
                                                        </element>
                                                    </sequence>
                                                </complexType>
                                            </element>
                                            <element name="Reisetilskudd" type="boolean">
                                                <annotation>
                                                    <documentation>Pasientenen kan være i fullt arbeid ved bruk av reisetilskudd</documentation>
                                                </annotation>
                                            </element>
                                        </choice>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="Prognose" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="ArbeidsforEtterEndtPeriode" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Arbeidsfør etter denne perioden?</documentation>
                                </annotation>
                            </element>
                            <element name="BeskrivHensynArbeidsplassen" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Hvis arbeidsfør etter denne perioden:
                                        Beskriv eventuelle hensyn som må tas på arbeidsplassen.</documentation>
                                </annotation>
                            </element>
                            <choice minOccurs="0">
                                <element name="ErIArbeid">
                                    <annotation>
                                        <documentation>Gjelder de MED arbeidsgiver</documentation>
                                    </annotation>
                                    <complexType>
                                        <sequence>
                                            <element name="EgetArbeidPaSikt" type="boolean" minOccurs="0">
                                                <annotation>
                                                    <documentation>Antar du at pasienten på sikt kan komme tilbake i eget/arbeid/på egen arbeidsplass (helt/deltvis) oppgi dato</documentation>
                                                </annotation>
                                            </element>
                                            <element name="ArbeidFraDato" type="date" minOccurs="0">
                                                <annotation>
                                                    <documentation>Fra når
                                                    </documentation>
                                                </annotation>
                                            </element>
                                            <element name="AnnetArbeidPaSikt" type="boolean" minOccurs="0">
                                                <annotation>
                                                    <documentation>Antar du at pasienten på sikt kan komme i annet arbeid?</documentation>
                                                </annotation>
                                            </element>
                                            <element name="VurderingDato" type="date" minOccurs="0">
                                                <annotation>
                                                    <documentation>Hvis usikker: Når antar du å kunne gi tilbakemelding på dette?
                                                    </documentation>
                                                </annotation>
                                            </element>
                                        </sequence>
                                    </complexType>
                                </element>
                                <element name="ErIkkeIArbeid">
                                    <annotation>
                                        <documentation>Gjelder de UTEN arbeidsgiver</documentation>
                                    </annotation>
                                    <complexType>
                                        <sequence>
                                            <element name="ArbeidsforPaSikt" type="boolean" minOccurs="0">
                                                <annotation>
                                                    <documentation>Antar du at pasienten på sikt kan bli arbeidsfør? </documentation>
                                                </annotation>
                                            </element>
                                            <element name="ArbeidsforFraDato" type="date" minOccurs="0">
                                                <annotation>
                                                    <documentation>Hvis arbeidsfør på sikt,  fra når
                                                    </documentation>
                                                </annotation>
                                            </element>
                                            <element name="VurderingDato" type="date" minOccurs="0">
                                                <annotation>
                                                    <documentation>Hvis uavklart: Når antar du å kunne gi tilbakemelding på dette?</documentation>
                                                </annotation>
                                            </element>
                                        </sequence>
                                    </complexType>
                                </element>
                            </choice>
                        </sequence>
                    </complexType>
                </element>
                <element name="UtdypendeOpplysninger" minOccurs="0">
                    <annotation>
                        <documentation>Beskriv utdypende opplysninger</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <sequence>
                                <element name="SpmGruppe" maxOccurs="unbounded">
                                    <annotation>
                                        <documentation>Dynamiske spørsmål er gruppert i DynaGruppe</documentation>
                                    </annotation>
                                    <complexType>
                                        <sequence>
                                            <element name="SpmGruppeId" type="string">
                                                <annotation>
                                                    <documentation>Id til dynamisk spørsmålgruppe</documentation>
                                                </annotation>
                                            </element>
                                            <element name="SpmGruppeTekst" type="string">
                                                <annotation>
                                                    <documentation>Gruppens overskriftstekst</documentation>
                                                </annotation>
                                            </element>
                                            <element name="SpmSvar" type="ho:DynaSvarType" maxOccurs="unbounded"/>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </sequence>
                    </complexType>
                </element>
                <element name="Tiltak" minOccurs="0">
                    <annotation>
                        <documentation>Innspill til tiltak som kan bedre arbeidsevnen
                        </documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="TiltakArbeidsplassen" type="string" minOccurs="0"/>
                            <element name="TiltakNAV" type="string" minOccurs="0"/>
                            <element name="AndreTiltak" type="string" minOccurs="0"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Oppfolgingsplan" minOccurs="0">
                    <annotation>
                        <documentation>Ooppfølgingsplan og dialog med arbeidsgiver</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="MottattOppfolgingsplan" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Mottatt oppfølgingsplan
                                        før vurdering av
                                        aktivitetskravet ved 8
                                        uker?</documentation>
                                </annotation>
                            </element>
                            <element name="InnkaltDialogmote1" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Innkalt til dialogmote 1</documentation>
                                </annotation>
                            </element>
                            <element name="DeltattDialogmote1" type="boolean" minOccurs="0">
                                <annotation>
                                    <documentation>Hvis Ja, deltok du?</documentation>
                                </annotation>
                            </element>
                            <element name="ArsakIkkeDeltatt" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Hvis Nei, angi årsak:</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MeldingTilNav" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="BistandNAVUmiddelbart" type="boolean">
                                <annotation>
                                    <documentation>Bør NAV ta fatt i saken umiddelbart?</documentation>
                                </annotation>
                            </element>
                            <element name="BeskrivBistandNAV" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Utdype/begrunne hvorfor NAV skal ta opp saken</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MeldingTilArbeidsgiver" type="string" minOccurs="0">
                    <annotation>
                        <documentation>Øvrige kommentarer: kontakt mellom lege/arbeidsgiver - melding fra behandler
                        </documentation>
                    </annotation>
                </element>
                <element name="KontaktMedPasient">
                    <complexType>
                        <sequence>
                            <element name="BehandletDato" type="dateTime">
                                <annotation>
                                    <documentation>DATO
                                        Ved å oppgi informasjonen nedenfor bekreftes at personen er kjent eller har vist legitimasjon</documentation>
                                </annotation>
                            </element>
                            <element name="KontaktDato" type="date" minOccurs="0">
                                <annotation>
                                    <documentation>Har det vært kontakt med pasient fra sykmeldingsdato? </documentation>
                                </annotation>
                            </element>
                            <element name="BegrunnIkkeKontakt" type="string" minOccurs="0">
                                <annotation>
                                    <documentation>Dokumentere hvorfor det ev. ikke er samsvar (eks kontakt tidligere) dersom sykmelding starter tidligere enn dato den skrives ut.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="Behandler">
                    <complexType>
                        <sequence>
                            <element name="Navn" type="ho:NavnType">
                                <annotation>
                                    <documentation>Behandlers navn</documentation>
                                </annotation>
                            </element>
                            <element name="Id" type="fk1:Ident" maxOccurs="unbounded">
                                <annotation>
                                    <documentation>Behandlers fødselsnummer er obligatorisk.
                                        Kan legge inn HPR og HER i tillegg</documentation>
                                </annotation>
                            </element>
                            <element name="Adresse" type="fk1:Address">
                                <annotation>
                                    <documentation>adresse</documentation>
                                </annotation>
                            </element>
                            <element name="KontaktInfo" type="fk1:TeleCom" maxOccurs="unbounded">
                                <annotation>
                                    <documentation>tlf</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="AvsenderSystem">
                    <annotation>
                        <documentation>For å identifisere avsender system</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="SystemNavn" type="string" nillable="true"/>
                            <element name="SystemVersjon" type="string" nillable="true"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Strekkode" type="string"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="NavnType">
        <sequence>
            <element name="Etternavn" type="string"/>
            <element name="Mellomnavn" type="string" minOccurs="0"/>
            <element name="Fornavn" type="string"/>
        </sequence>
    </complexType>
    <complexType name="DynaSvarType">
        <sequence>
            <element name="SpmId" type="string">
                <annotation>
                    <documentation>Id til spørsmål</documentation>
                </annotation>
            </element>
            <element name="SpmTekst" type="string">
                <annotation>
                    <documentation>Spørsmålstekst</documentation>
                </annotation>
            </element>
            <element name="Restriksjon" minOccurs="0">
                <annotation>
                    <documentation>Restriksjon for visning
                        Ikke vis arbeidsgiver
                        Ikke vis pasient
                        Ikke vis NAV</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="Restriksjonskode" type="kith:CS" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SvarTekst" type="string">
                <annotation>
                    <documentation>Svar på dynamisk spørsmål</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ArsakType">
        <sequence minOccurs="0">
            <element name="Arsakskode" type="kith:CS" maxOccurs="unbounded">
                <annotation>
                    <documentation>Velg en årsakskode</documentation>
                </annotation>
            </element>
            <element name="Beskriv" type="string" minOccurs="0">
                <annotation>
                    <documentation>Evt. Beskriv årsaker
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>