behandleoppgave-v1/src/main/resources/behandleoppgave/wsdl/BehandleOppgaveV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleoppgave" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1"
                  xmlns:impl="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1"
                    xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/feil"
                    xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/feil"
                        schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/meldinger"
                        schemaLocation="meldinger/meldinger.xsd"/>

            <xsd:element name="opprettOppgaveResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" minOccurs="0" type="meldinger:OpprettOppgaveResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ferdigstillOppgave">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" minOccurs="0" type="meldinger:FerdigstillOppgaveRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ferdigstillOppgaveResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" minOccurs="0" type="meldinger:FerdigstillOppgaveResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="wsFerdigstillOppgaveFeilet" type="feil:WSFerdigstillOppgaveFeilet"/>

            <xsd:element name="wsSikkerhetsbegrensning" type="feil:WSSikkerhetsbegrensning"/>

            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="opprettOppgave">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" minOccurs="0" type="meldinger:OpprettOppgaveRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ferdigstillOppgaveRequest">
        <wsdl:part element="impl:ferdigstillOppgave" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="wsFerdigstillOppgaveFeilet">
        <wsdl:part element="impl:wsFerdigstillOppgaveFeilet" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="wsSikkerhetsbegrensning">
        <wsdl:part element="impl:wsSikkerhetsbegrensning" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="pingResponse">
        <wsdl:part element="impl:pingResponse" name="parameters">
        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="ferdigstillOppgaveResponse">
        <wsdl:part element="impl:ferdigstillOppgaveResponse" name="parameters">
        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="opprettOppgaveRequest">
        <wsdl:part element="impl:opprettOppgave" name="parameters">
        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="impl:ping" name="parameters">
        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="opprettOppgaveResponse">
        <wsdl:part element="impl:opprettOppgaveResponse" name="parameters">
        </wsdl:part>

    </wsdl:message>

    <wsdl:portType name="BehandleOppgaveV1">
        <wsdl:operation name="opprettOppgave">
            <wsdl:input message="impl:opprettOppgaveRequest" name="opprettOppgaveRequest">
            </wsdl:input>
            <wsdl:output message="impl:opprettOppgaveResponse" name="opprettOppgaveResponse">
            </wsdl:output>
            <wsdl:fault message="impl:wsSikkerhetsbegrensning" name="wsSikkerhetsbegrensning">
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ferdigstillOppgave">
            <wsdl:input message="impl:ferdigstillOppgaveRequest" name="ferdigstillOppgaveRequest">
            </wsdl:input>
            <wsdl:output message="impl:ferdigstillOppgaveResponse" name="ferdigstillOppgaveResponse">
            </wsdl:output>
            <wsdl:fault message="impl:wsFerdigstillOppgaveFeilet" name="wsFerdigstillOppgaveFeilet">
            </wsdl:fault>
            <wsdl:fault message="impl:wsSikkerhetsbegrensning" name="wsSikkerhetsbegrensning">
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ping">
            <wsdl:input message="impl:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="impl:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="BehandleOppgaveV1SoapBinding" type="impl:BehandleOppgaveV1">
        <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="opprettOppgave">
            <wsdlsoap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/BehandleOppgave_v1/opprettOppgaveRequest"/>

            <wsdl:input name="opprettOppgaveRequest">
                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="opprettOppgaveResponse">
                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="ferdigstillOppgave">
            <wsdlsoap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/BehandleOppgave_v1/ferdigstillOppgaveRequest"/>

            <wsdl:input name="ferdigstillOppgaveRequest">
                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="ferdigstillOppgaveResponse">
                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="ping">
            <wsdlsoap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/BehandleOppgave_v1/pingRequest"/>

            <wsdl:input name="pingRequest">
                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="pingResponse">
                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="BehandleOppgave_v1">
        <wsdl:port binding="impl:BehandleOppgaveV1SoapBinding" name="BehandleOppgaveV1">
            <wsdlsoap:address
                    location="http://localhost:8080/virksomhet/behandleoppgave_v1"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
