behandleoppgave-v1/src/main/resources/behandleoppgave/wsdl/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/meldinger" version="1.0"
            xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleoppgave/v1/meldinger">

    <xsd:complexType name="FerdigstillOppgaveRequest">
        <xsd:sequence>
            <xsd:element name="oppgaveId" type="xsd:string"/>
            <xsd:element name="ferdigstiltAvEnhetId" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FerdigstillOppgaveResponse">
        <xsd:sequence/>
    </xsd:complexType>

    <xsd:complexType name="OpprettOppgaveRequest">
        <xsd:sequence>
            <xsd:element name="wsOpprettOppgave" type="meldinger:WSOpprettOppgave"/>
            <xsd:element name="opprettetAvEnhetId" type="xsd:int"/>
            <xsd:element name="henvendelsetypeKode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WSOpprettOppgave">
        <xsd:sequence>
            <xsd:element name="brukerId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="brukertypeKode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="oppgavetypeKode" type="xsd:string"/>
            <xsd:element name="fagomradeKode" type="xsd:string"/>
            <xsd:element name="underkategoriKode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="prioritetKode" type="xsd:string"/>
            <xsd:element name="beskrivelse" type="xsd:string"/>
            <xsd:element name="oppfolging" type="xsd:string" minOccurs="0"/>
            <xsd:element name="aktivFra" type="xsd:date"/>
            <xsd:element name="aktivTil" type="xsd:date" minOccurs="0"/>
            <xsd:element name="ansvarligEnhetId" type="xsd:string"/>
            <xsd:element name="ansvarligId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dokumentId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="mottattDato" type="xsd:date" minOccurs="0"/>
            <xsd:element name="normDato" type="xsd:date" minOccurs="0"/>
            <xsd:element name="saksnummer" type="xsd:string" minOccurs="0"/>
            <xsd:element name="skannetDato" type="xsd:date" minOccurs="0"/>
            <xsd:element name="soknadsId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="henvendelseId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="kravId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="lest" type="xsd:boolean"/>
            <xsd:element name="mappeId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="revurderingstype" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpprettOppgaveResponse">
        <xsd:sequence>
            <xsd:element name="oppgaveId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>