getapplicationversion/src/main/wsdl/no/nav/inf/TESTGetApplicationVersion.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="TESTGetApplicationVersion" targetNamespace="http://nav-lib-test/no/nav/inf" xmlns:bons0="http://nav-ent-test-getapplicationversion/no/nav/inf" xmlns:bons2="http://nav-lib-test/no/nav/test/asbo" xmlns:tns="http://nav-lib-test/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-test/no/nav/inf" xmlns:bons0="http://nav-lib-test/no/nav/inf" xmlns:tns="http://nav-ent-test-getapplicationversion/no/nav/inf">
      <xsd:import namespace="http://nav-lib-test/no/nav/test/asbo" schemaLocation="../test/asbo/ASBOTestGetApplicationVersionRequest.xsd"/>
      <xsd:import namespace="http://nav-lib-test/no/nav/test/asbo" schemaLocation="../test/asbo/ASBOTestGetApplicationVersionResponse.xsd"/>
      <xsd:element name="joarkGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="joarkGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="joarkGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="joarkGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="aaGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="aaGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="aaGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="aaGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inntGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inntGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inntGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inntGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="instGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="instGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="instGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="instGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="medlGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="medlGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="medlGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="medlGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="norgGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="norgGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="norgGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="norgGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sfeGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sfeGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sfeGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sfeGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpsGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpsGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tpsGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tpsGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tssGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tssGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tssGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tssGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="osGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="osGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="trekkGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="trekkGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="trekkGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="trekkGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="urGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="urGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="urGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="urGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="penGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="penGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="penGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="penGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="poppGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="poppGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="poppGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="poppGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaInternGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaInternGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaInternGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaInternGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bisysGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bisysGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bisysGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bisysGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bprofGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bprofGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bprofGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bprofGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gsakGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gsakGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gsakGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gsakGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="adGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="adGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="adGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="adGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="samGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="samGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="samGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="samGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaOppgaveGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaOppgaveGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaOppgaveGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaOppgaveGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaOrganisasjonGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaOrganisasjonGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaOrganisasjonGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaOrganisasjonGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaSakVedtakGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaSakVedtakGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="arenaSakVedtakGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arenaSakVedtakGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakGetApplicationVersion1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakVedtakGetApplicationVersionRequest" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakGetApplicationVersion1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakVedtakGetApplicationVersionResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakVedtakGetApplicationVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakVedtakGetApplicationVersionRequest" nillable="true" type="bons2:ASBOTestGetApplicationVersionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infotSakVedtakGetApplicationVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="infotSakVedtakGetApplicationVersionResponse" nillable="true" type="bons2:ASBOTestGetApplicationVersionResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="joarkGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:joarkGetApplicationVersion" name="joarkGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="joarkGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:joarkGetApplicationVersionResponse" name="joarkGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="aaGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:aaGetApplicationVersion" name="aaGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="aaGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:aaGetApplicationVersionResponse" name="aaGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="inntGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:inntGetApplicationVersion" name="inntGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="inntGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:inntGetApplicationVersionResponse" name="inntGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="instGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:instGetApplicationVersion" name="instGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="instGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:instGetApplicationVersionResponse" name="instGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="medlGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:medlGetApplicationVersion" name="medlGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="medlGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:medlGetApplicationVersionResponse" name="medlGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="norgGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:norgGetApplicationVersion" name="norgGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="norgGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:norgGetApplicationVersionResponse" name="norgGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="sfeGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:sfeGetApplicationVersion" name="sfeGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="sfeGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:sfeGetApplicationVersionResponse" name="sfeGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="tpGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:tpGetApplicationVersion" name="tpGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="tpGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:tpGetApplicationVersionResponse" name="tpGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="tpsGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:tpsGetApplicationVersion" name="tpsGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="tpsGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:tpsGetApplicationVersionResponse" name="tpsGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="tssGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:tssGetApplicationVersion" name="tssGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="tssGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:tssGetApplicationVersionResponse" name="tssGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="osGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:osGetApplicationVersion" name="osGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="osGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:osGetApplicationVersionResponse" name="osGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="trekkGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:trekkGetApplicationVersion" name="trekkGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="trekkGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:trekkGetApplicationVersionResponse" name="trekkGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="urGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:urGetApplicationVersion" name="urGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="urGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:urGetApplicationVersionResponse" name="urGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="penGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:penGetApplicationVersion" name="penGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="penGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:penGetApplicationVersionResponse" name="penGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="poppGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:poppGetApplicationVersion" name="poppGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="poppGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:poppGetApplicationVersionResponse" name="poppGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="arenaInternGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:arenaInternGetApplicationVersion" name="arenaInternGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="arenaInternGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:arenaInternGetApplicationVersionResponse" name="arenaInternGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="bisysGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:bisysGetApplicationVersion" name="bisysGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="bisysGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:bisysGetApplicationVersionResponse" name="bisysGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="bprofGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:bprofGetApplicationVersion" name="bprofGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="bprofGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:bprofGetApplicationVersionResponse" name="bprofGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="gsakGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:gsakGetApplicationVersion" name="gsakGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="gsakGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:gsakGetApplicationVersionResponse" name="gsakGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="infotGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:infotGetApplicationVersion" name="infotGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="infotGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:infotGetApplicationVersionResponse" name="infotGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="adGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:adGetApplicationVersion" name="adGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="adGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:adGetApplicationVersionResponse" name="adGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="samGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:samGetApplicationVersion" name="samGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="samGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:samGetApplicationVersionResponse" name="samGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="arenaOppgaveGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:arenaOppgaveGetApplicationVersion" name="arenaOppgaveGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="arenaOppgaveGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:arenaOppgaveGetApplicationVersionResponse" name="arenaOppgaveGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="arenaOrganisasjonGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:arenaOrganisasjonGetApplicationVersion" name="arenaOrganisasjonGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="arenaOrganisasjonGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:arenaOrganisasjonGetApplicationVersionResponse" name="arenaOrganisasjonGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="arenaSakVedtakGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:arenaSakVedtakGetApplicationVersion" name="arenaSakVedtakGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="arenaSakVedtakGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:arenaSakVedtakGetApplicationVersionResponse" name="arenaSakVedtakGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="infotSakGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:infotSakGetApplicationVersion" name="infotSakGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="infotSakGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:infotSakGetApplicationVersionResponse" name="infotSakGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:message name="infotSakVedtakGetApplicationVersionRequestMsg">
    <wsdl:part element="tns:infotSakVedtakGetApplicationVersion" name="infotSakVedtakGetApplicationVersionParameters"/>
  </wsdl:message>
  <wsdl:message name="infotSakVedtakGetApplicationVersionResponseMsg">
    <wsdl:part element="tns:infotSakVedtakGetApplicationVersionResponse" name="infotSakVedtakGetApplicationVersionResult"/>
  </wsdl:message>
  <wsdl:portType name="TESTGetApplicationVersion">
    <wsdl:operation name="joarkGetApplicationVersion">
      <wsdl:input message="tns:joarkGetApplicationVersionRequestMsg" name="joarkGetApplicationVersionRequest"/>
      <wsdl:output message="tns:joarkGetApplicationVersionResponseMsg" name="joarkGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="aaGetApplicationVersion">
      <wsdl:input message="tns:aaGetApplicationVersionRequestMsg" name="aaGetApplicationVersionRequest"/>
      <wsdl:output message="tns:aaGetApplicationVersionResponseMsg" name="aaGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="inntGetApplicationVersion">
      <wsdl:input message="tns:inntGetApplicationVersionRequestMsg" name="inntGetApplicationVersionRequest"/>
      <wsdl:output message="tns:inntGetApplicationVersionResponseMsg" name="inntGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="instGetApplicationVersion">
      <wsdl:input message="tns:instGetApplicationVersionRequestMsg" name="instGetApplicationVersionRequest"/>
      <wsdl:output message="tns:instGetApplicationVersionResponseMsg" name="instGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="medlGetApplicationVersion">
      <wsdl:input message="tns:medlGetApplicationVersionRequestMsg" name="medlGetApplicationVersionRequest"/>
      <wsdl:output message="tns:medlGetApplicationVersionResponseMsg" name="medlGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="norgGetApplicationVersion">
      <wsdl:input message="tns:norgGetApplicationVersionRequestMsg" name="norgGetApplicationVersionRequest"/>
      <wsdl:output message="tns:norgGetApplicationVersionResponseMsg" name="norgGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sfeGetApplicationVersion">
      <wsdl:input message="tns:sfeGetApplicationVersionRequestMsg" name="sfeGetApplicationVersionRequest"/>
      <wsdl:output message="tns:sfeGetApplicationVersionResponseMsg" name="sfeGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="tpGetApplicationVersion">
      <wsdl:input message="tns:tpGetApplicationVersionRequestMsg" name="tpGetApplicationVersionRequest"/>
      <wsdl:output message="tns:tpGetApplicationVersionResponseMsg" name="tpGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="tpsGetApplicationVersion">
      <wsdl:input message="tns:tpsGetApplicationVersionRequestMsg" name="tpsGetApplicationVersionRequest"/>
      <wsdl:output message="tns:tpsGetApplicationVersionResponseMsg" name="tpsGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="tssGetApplicationVersion">
      <wsdl:input message="tns:tssGetApplicationVersionRequestMsg" name="tssGetApplicationVersionRequest"/>
      <wsdl:output message="tns:tssGetApplicationVersionResponseMsg" name="tssGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="osGetApplicationVersion">
      <wsdl:input message="tns:osGetApplicationVersionRequestMsg" name="osGetApplicationVersionRequest"/>
      <wsdl:output message="tns:osGetApplicationVersionResponseMsg" name="osGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="trekkGetApplicationVersion">
      <wsdl:input message="tns:trekkGetApplicationVersionRequestMsg" name="trekkGetApplicationVersionRequest"/>
      <wsdl:output message="tns:trekkGetApplicationVersionResponseMsg" name="trekkGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="urGetApplicationVersion">
      <wsdl:input message="tns:urGetApplicationVersionRequestMsg" name="urGetApplicationVersionRequest"/>
      <wsdl:output message="tns:urGetApplicationVersionResponseMsg" name="urGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="penGetApplicationVersion">
      <wsdl:input message="tns:penGetApplicationVersionRequestMsg" name="penGetApplicationVersionRequest"/>
      <wsdl:output message="tns:penGetApplicationVersionResponseMsg" name="penGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="poppGetApplicationVersion">
      <wsdl:input message="tns:poppGetApplicationVersionRequestMsg" name="poppGetApplicationVersionRequest"/>
      <wsdl:output message="tns:poppGetApplicationVersionResponseMsg" name="poppGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="arenaInternGetApplicationVersion">
      <wsdl:input message="tns:arenaInternGetApplicationVersionRequestMsg" name="arenaInternGetApplicationVersionRequest"/>
      <wsdl:output message="tns:arenaInternGetApplicationVersionResponseMsg" name="arenaInternGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="bisysGetApplicationVersion">
      <wsdl:input message="tns:bisysGetApplicationVersionRequestMsg" name="bisysGetApplicationVersionRequest"/>
      <wsdl:output message="tns:bisysGetApplicationVersionResponseMsg" name="bisysGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="bprofGetApplicationVersion">
      <wsdl:input message="tns:bprofGetApplicationVersionRequestMsg" name="bprofGetApplicationVersionRequest"/>
      <wsdl:output message="tns:bprofGetApplicationVersionResponseMsg" name="bprofGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="gsakGetApplicationVersion">
      <wsdl:input message="tns:gsakGetApplicationVersionRequestMsg" name="gsakGetApplicationVersionRequest"/>
      <wsdl:output message="tns:gsakGetApplicationVersionResponseMsg" name="gsakGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="infotGetApplicationVersion">
      <wsdl:input message="tns:infotGetApplicationVersionRequestMsg" name="infotGetApplicationVersionRequest"/>
      <wsdl:output message="tns:infotGetApplicationVersionResponseMsg" name="infotGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="adGetApplicationVersion">
      <wsdl:input message="tns:adGetApplicationVersionRequestMsg" name="adGetApplicationVersionRequest"/>
      <wsdl:output message="tns:adGetApplicationVersionResponseMsg" name="adGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="samGetApplicationVersion">
      <wsdl:input message="tns:samGetApplicationVersionRequestMsg" name="samGetApplicationVersionRequest"/>
      <wsdl:output message="tns:samGetApplicationVersionResponseMsg" name="samGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="arenaOppgaveGetApplicationVersion">
      <wsdl:input message="tns:arenaOppgaveGetApplicationVersionRequestMsg" name="arenaOppgaveGetApplicationVersionRequest"/>
      <wsdl:output message="tns:arenaOppgaveGetApplicationVersionResponseMsg" name="arenaOppgaveGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="arenaOrganisasjonGetApplicationVersion">
      <wsdl:input message="tns:arenaOrganisasjonGetApplicationVersionRequestMsg" name="arenaOrganisasjonGetApplicationVersionRequest"/>
      <wsdl:output message="tns:arenaOrganisasjonGetApplicationVersionResponseMsg" name="arenaOrganisasjonGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="arenaSakVedtakGetApplicationVersion">
      <wsdl:input message="tns:arenaSakVedtakGetApplicationVersionRequestMsg" name="arenaSakVedtakGetApplicationVersionRequest"/>
      <wsdl:output message="tns:arenaSakVedtakGetApplicationVersionResponseMsg" name="arenaSakVedtakGetApplicationVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="infotSakGetApplicationVersion">
      <wsdl:input message="tns:infotSakGetApplicationVersionRequestMsg" name="infotSakGetApplicationVersionRequest"/>
      <wsdl:output message="tns:infotSakGetApplicationVersionResponseMsg" name="infotSakGetApplicationVersion1Msg1"/>
    </wsdl:operation>
    <wsdl:operation name="infotSakVedtakGetApplicationVersion">
      <wsdl:input message="tns:infotSakVedtakGetApplicationVersionRequestMsg" name="infotSakVedtakGetApplicationVersionRequest"/>
      <wsdl:output message="tns:infotSakVedtakGetApplicationVersionResponseMsg" name="infotSakVedtakGetApplicationVersionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>