nav-virksomhet-soeknadsskjema-v1-meldingsdefinisjon/src/main/xsd/soeknadsskjema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/soeknadsskjema/v1/soeknadsskjema" xmlns:soeknadsskjema="http://nav.no/melding/virksomhet/soeknadsskjema/v1/soeknadsskjema">
  <xsd:complexType name="Tilleggsstoenadsskjema">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;span style="font-size:14pt;color:#000000;background-color:#000000;font-family:Arial, sans-serif;font-weight:normal;"&gt;&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aktivitetsinformasjon" type="soeknadsskjema:Aktivitetsinformasjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Aktiviteten det søkes stønad for&lt;span style="font-size:14pt;color:#000000;background-color:#000000;font-family:Arial, sans-serif;font-weight:normal;"&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personidentifikator" type="soeknadsskjema:Identifikator"/>
      <xsd:element minOccurs="0" name="maalgruppeinformasjon" type="soeknadsskjema:Maalgruppeinformasjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Informasjon knyttet til brukerens målgruppe&lt;/p&gt;&lt;p&gt;&lt;span style="font-size:14pt;color:#000000;background-color:#000000;font-family:Arial, sans-serif;font-weight:normal;"&gt;&lt;span style="color:#000000;background-color:#00ff40;"&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rettighetstype" type="soeknadsskjema:Rettighetstype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:14pt;color:#000000;background-color:#000000;font-family:Arial, sans-serif;font-weight:normal;"&gt;&lt;span style="font-size:8pt;color:#000000;background-color:#ffffff;"&gt;Rettighetstyper det søkes stønad for&lt;span style="background-color:#000000;"&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style="font-size:8pt;"&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aktivitetsinformasjon">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;span style="font-size:14pt;color:#000000;background-color:#000000;font-family:Arial, sans-serif;font-weight:normal;"&gt;&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aktivitetsId" type="soeknadsskjema:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikator til aktivitet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Maalgruppeinformasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="soeknadsskjema:Periode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Perioden til brukers målgruppe&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kilde" type="xsd:string"/>
      <xsd:element name="maalgruppetype" type="soeknadsskjema:Maalgruppetyper">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Arena-spesifikt kodeverk for målgruppen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rettighetstype">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reiseutgifter" type="soeknadsskjema:Reiseutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksopplysninger for å søke om ytelser vedrørende reiseutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="flytteutgifter" type="soeknadsskjema:Flytteutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksopplysninger for å søke om ytelser vedrørende flytteutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boutgifter" type="soeknadsskjema:Boutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksopplysninger for å søke om ytelser vedrørende boutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="laeremiddelutgifter" type="soeknadsskjema:Laeremiddelutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksopplysninger for å søke om ytelser vedrørende læremiddelutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilsynsutgifter" type="soeknadsskjema:Tilsynsutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksopplysninger for å søke om ytelser vedrørende tilsynsutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Maalgruppetyper">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Reiseutgifter">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dagligReise" type="soeknadsskjema:DagligReise">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Daglig reise&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reiseObligatoriskSamling" type="soeknadsskjema:ReiseObligatoriskSamling">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reise til obligatorisk samling&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reiseVedOppstartOgAvsluttetAktivitet" type="soeknadsskjema:ReiseOppstartOgAvsluttetAktivitet">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reise ved oppstart og avslutning av aktivitet og hjemreiser&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reisestoenadForArbeidssoeker" type="soeknadsskjema:ReisestoenadForArbeidssoeker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reisestønader til arbeidssøkere&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Flytteutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="flyttingPgaAktivitet" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om flytting skjer pga aktivitetsgjennomføring&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erUtgifterTilFlyttingDekketAvAndreEnnNAV" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="valgtFlyttebyraa" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på valgt flyttefirma&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="flytterSelv" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker ordner flytting selv, eller søker bistand til dette. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="flyttingPgaNyStilling" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om flytting skjer pga ny stilling på nytt sted&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="flyttedato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato for flytting&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tiltredelsesdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tiltredelsesdato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilflyttingsadresse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tilflyttingsadreesse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avstand" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avstand mellom sted som det flyttes fra og til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sumTilleggsutgifter" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tilleggsutgifter når bruker har flyttet selv&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="anbud" type="soeknadsskjema:Anbud"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Boutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element minOccurs="0" name="harFasteBoutgifter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker har faste boutgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harBoutgifterVedSamling" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker har boutgifter ifm samling&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boutgifterAktivitetsted" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Boutgifter på aktivitetsstedet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boutgifterHjemstedAktuell" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Aktuelle boutgifter på hjemstedet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boutgifterHjemstedOpphoert" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Opphørte boutgifter på hjemstedet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boutgifterPgaFunksjonshemminger" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Bruker har høyere boutgifter enn andre pga funksjonshemming&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottarBostoette" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker mottar bostøtte&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bostoetteBeloep" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløp per måned som brukeren mottar i bostøtte fra kommunen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="samlingsperiode" type="soeknadsskjema:Periode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over samlingsperioder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Laeremiddelutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element minOccurs="0" name="hvorMyeDekkesAvAnnenAktoer" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir hvor mye av utgiftene som dekkes av annen aktør.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hvorMyeDekkesAvNAV" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir hvor mye av utgiftene som dekkes av NAV&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skolenivaa" type="soeknadsskjema:Skolenivaaer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Nivå på skole&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="prosentandelForUtdanning" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Prosentandel for utdanningen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beloep" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløp ved krav om dekning av faktiske utgifter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erUtgifterDekket" type="soeknadsskjema:ErUtgifterDekket">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om utgiftene blir dekket på annen måte (ja/nai/delvis)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilsynsutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tilsynsutgifterBarn" type="soeknadsskjema:TilsynsutgifterBarn"/>
      <xsd:element minOccurs="0" name="tilsynsutgifterFamilie" type="soeknadsskjema:TilsynsutgifterFamilie"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DagligReise">
    <xsd:sequence>
      <xsd:element name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element minOccurs="0" name="harMedisinskeAarsakerTilTransport" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker av medisinske årsaker har behov for å benytte transportmiddel uavhengig av reisens lengde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harParkeringsutgift" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker har utgifter til parkering&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivitetsadresse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresse på aktivitetssted (feltet er konkatenert adresse+postnummer fra skjema&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avstand" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avstand fra bosted i kilometer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="parkeringsutgiftBeloep" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Forventede utgifter - daglig&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innsendingsintervall" type="soeknadsskjema:Innsendingsintervaller">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor ofte bruker vil sende inn opplysninger om bruk av egen bil&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alternativeTransportutgifter" type="soeknadsskjema:AlternativeTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksopplysninger ifm forskjellige transportalternativer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReiseObligatoriskSamling">
    <xsd:sequence>
      <xsd:element name="periode" type="soeknadsskjema:Periode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søknadsperiode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reiseadresser" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilke adresser brukeren reiser mellom&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avstand" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avstand i kilometer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="samlingsperiode" type="soeknadsskjema:Periode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over samlingsperioder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alternativeTransportutgifter" type="soeknadsskjema:AlternativeTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksopplysninger ifm forskjellige transportalternativer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReiseOppstartOgAvsluttetAktivitet">
    <xsd:sequence>
      <xsd:element name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element minOccurs="0" name="harSaerskilteBehov" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker har særskilte behov.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivitetsstedAdresse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresse på aktivitetsstedet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avstand" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avstand i kilometer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallReiser" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall reiser for bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harBarnUnderFemteklasse" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ANgir om bruker har barn under femteklasse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harBarnUnderAtten" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="alternativeTransportutgifter" type="soeknadsskjema:AlternativeTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksopplysninger ifm forskjellige transportalternativer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReisestoenadForArbeidssoeker">
    <xsd:sequence>
      <xsd:element name="reisedato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Reisedato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harMottattDagpengerSisteSeksMaaneder" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="formaal" type="soeknadsskjema:Formaal">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Formål ved reise.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresse for hvor bruker skal reise til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avstand" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avstand fra bosted i kilometer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erUtgifterDekketAvAndre" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om utgiftene blir dekket på annen måte&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erVentetidForlenget" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om det har vært forventet ventetid siste åtte uker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="finnesTidsbegrensetbortfall" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om det finnes tidsbegrenset bortfall siste åtte uker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alternativeTransportutgifter" type="soeknadsskjema:AlternativeTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksopplysninger ifm forskjellige transportalternativer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsendingsintervaller">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AlternativeTransportutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kanOffentligTransportBrukes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om kollektiv transport kan benyttes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kanEgenBilBrukes" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om egen bil kan benyttes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kollektivTransportutgifter" type="soeknadsskjema:KollektivTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Utgifter ifm kollektiv transport&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="drosjeTransportutgifter" type="soeknadsskjema:DrosjeTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Utgifter ifm drosje&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="egenBilTransportutgifter" type="soeknadsskjema:EgenBilTransportutgifter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Utgifter ifm egen bil&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aarsakTilIkkeOffentligTransport" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hovedårsak til at offentlig transport ikke kan benyttes. Bruker kan velge flere predefinerte årsaker, der noen alternativer utløser vedleggsbehov&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aarsakTilIkkeEgenBil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsaken til at egen bil ikke kan benyttes. Bruker kan velge flere predefinerte årsaker, der noen alternativer utløser vedleggsbehov&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aarsakTilIkkeDrosje" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsaken til at bruker ikke kan benytte drosje - begrunnelse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Formaal">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="KollektivTransportutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beloepPerMaaned" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløp per måned for billigste reisemåte med rutegående transport&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DrosjeTransportutgifter">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Utgifter til drosje&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beloep" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Utgifter til drosje&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EgenBilTransportutgifter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumAndreUtgifter" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Nødvendige utgifter ved kjøring med egen bil (bompenger etc)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Anbud">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="firmanavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tilbudsbeloep" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErUtgifterDekket">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TilsynsutgifterBarn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="barn" type="soeknadsskjema:Barn">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Barna det er tilhørende tilsynsutgifter på&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="annenForsoergerperson" type="soeknadsskjema:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødelsnummer på annen forsørgerperson&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TilsynsutgifterFamilie">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="soeknadsskjema:Periode"/>
      <xsd:element minOccurs="0" name="deltTilsyn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om bruker deler tilsynet med en annen person&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="annenTilsynsperson" type="soeknadsskjema:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer på annen tilsynsperson&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilsynForetasAv" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kategori på den tilsynet foretas av&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilsynsmottaker" type="soeknadsskjema:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer på familiemedlem&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Barn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="personidentifikator" type="soeknadsskjema:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummeret på barnet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilsynskategori" type="soeknadsskjema:Tilsynskategorier">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tilsyn foretas av: dagmamma eller dagpappa; barnehage eller SFO; privat barnepass&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet på barnet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harFullfoertFjerdeSkoleaar" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om barnet har fullført fjerde skoleår&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aarsakTilBarnepass" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsaken til at barnet trenger barnepass. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilsynskategorier">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Utgiftsinformasjon">
    <xsd:sequence>
      <xsd:element name="utgiftstype" type="soeknadsskjema:Utgiftstyper"/>
      <xsd:element minOccurs="0" name="utgiftsdato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="beloep" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utgiftstyper">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Skolenivaaer">
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjema:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="tilleggsstoenadsskjema" type="soeknadsskjema:Tilleggsstoenadsskjema"/>
</xsd:schema>