melding-virksomhet-dokumentproduksjon/src/main/resources/no/nav/meldinger/virksomhet/dokumentproduksjon/xsd/produserikkeredigerbartdokument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/dokumentproduksjon"
		   xmlns:dokumentproduksjon="http://nav.no/melding/virksomhet/dokumentproduksjon">

	<xs:element name="produserIkkeRedigerbartDokument" type="dokumentproduksjon:ProduserIkkeRedigerbartDokument"/>

	<xs:complexType name="ProduserIkkeRedigerbartDokument">
		<xs:sequence>
			<xs:element name="dokumentbestillingsinformasjon" type="dokumentproduksjon:Dokumentbestillingsinformasjon"/>
			<xs:any processContents="lax">
				<xs:annotation>
					<xs:documentation>Brevdata</xs:documentation>
				</xs:annotation>
			</xs:any>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="vedleggListe" type="dokumentproduksjon:Vedleggbestillingsinformasjon"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Dokumentbestillingsinformasjon">
		<xs:sequence>
			<xs:element name="batchId" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiserer batch dokumentet inngår i. Lar bestiller identifisere dokumenter som hører
						sammen. Fritekst, og konsument må selv vurdere hva som er hensiktsmessige verdier.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bestillingsId" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Unik identifisering av dokumentbestilling. Må være globalt unik, og bruk av GUID
						anbefales. Kan ikke inneholde blank eller space.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utledRegisterInfo" type="xs:boolean" minOccurs="0" default="false">
				<xs:annotation>
					<xs:documentation>Feltet er deprekert og blir ikke hensyntatt. DokumenttypeId for dokumentet bestemmer om informasjon fra registrene skal flettes inn i dokumentet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ustrukturertTittel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Skal kun benyttes ved behov for "fritekst" tittel (når det ikke er mulig å
						forhåndsklassifisere tittel på dokumenttypeId som bestilles, bør kun være unntaksvis eksempelvis for
						InfoTrygd-dokumenter).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dokumenttypeId" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Definerer DokumentTypeId. Benyttes for å hente tilknyttede metadata fra
						Dokumentkatalogen.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bestillendeFagsystemkode" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Fagsystem som bestiller dokumentet. Gyldige koder: AO01 (Arena), IT01 (Infotrygd), FS36
						(VLFP), OB30 (RAY), AT05 (PEN) og FS22 (Gosys).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bruker" type="dokumentproduksjon:Aktoer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Objekt som inneholder fødselsnummer/orgnummer og navn til personen/organisasjonen som er
						sakspart. Kan være forskjellig fra mottaker. Påkrevd hvis dokumentet skal arkiveres (utledes fra
						Dokkat).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mottaker" type="dokumentproduksjon:Aktoer">
				<xs:annotation>
					<xs:documentation>Objekt som inneholder fødselsnummer/orgnummer og navn til personen/organisasjonen som er
						mottaker.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arkivsak" type="dokumentproduksjon:ArkivSak" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Objekt som inneholder unik nøkkel, saksnummer som forsendelse skal journalføres mot +
						hvilket system saksnummeret tilhører. Påkrevd hvis dokumentet skal arkiveres (utledes fra Dokkat).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dokumenttilhoerendeFagomraadekode" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Fagområdet som dokumentet tilhører.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="journalfoerendeEnhet" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Saksbehandlers enhet. Påkrevd hvis dokumentet skal arkiveres (utledes fra Dokkat).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saksbehandlernavn" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Navn på saksbehandler som bestiller dokument.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adresse" type="dokumentproduksjon:Adresse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Struktur for å beskrive adresse, se egen tabell. Inneholder enten norskPostadresse eller
						utenlandskPostadresse. Ikke påkrevd hvis UtledRegisterInfo = true.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType abstract="true" name="Adresse"/>
	<xs:complexType abstract="true" name="Aktoer">
		<xs:annotation>
			<xs:documentation>Abstrakt type for mottakerType og brukerType</xs:documentation>
		</xs:annotation>
		<xs:attribute name="berik" type="xs:boolean" default="true" />
	</xs:complexType>

	<xs:complexType name="NorskPostadresse">
		<xs:annotation>
			<xs:documentation>Postadresse i Norge.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dokumentproduksjon:Adresse">
				<xs:sequence>
					<xs:element name="adresselinje1" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje2" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje3" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postnummer" type="dokumentproduksjon:nonEmptyStringNoBlanks">
						<xs:annotation>
							<xs:documentation>Gyldig norsk postnummer</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="poststed" type="dokumentproduksjon:nonEmptyStringNoBlanks">
						<xs:annotation>
							<xs:documentation>Gyldig norsk poststed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="land" type="dokumentproduksjon:ISO3166-1-alpha-2">
						<xs:annotation>
							<xs:documentation>Gyldig ISO 3166-1 alpha-2 kode. To bokstavs landkode. Eks: NO for Norge
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UtenlandskPostadresse">
		<xs:annotation>
			<xs:documentation>Postadresse i utlandet.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dokumentproduksjon:Adresse">
				<xs:sequence>
					<xs:element name="adresselinje1" type="dokumentproduksjon:nonEmptyStringNoBlanks">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje2" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje3" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Inneholder del av adresse som skal presenteres på egen linje</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="land" type="dokumentproduksjon:ISO3166-1-alpha-2">
						<xs:annotation>
							<xs:documentation>Gyldig ISO 3166-1 alpha-2 kode. To bokstavs landkode. Eks: NO for Norge
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="dokumentproduksjon:Aktoer">
				<xs:sequence>
					<xs:element name="orgnummer">
						<xs:annotation>
							<xs:documentation>For Bruker: tss id/ org.nr. til organisasjonen som er sakspart. Kan være
								forskjellig fra mottaker. For Mottaker: tss id/ org.nr. til organisasjonen som er mottaker av
								dokumentet.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:pattern value="\d{9}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="navn" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>For Bruker: Navn på organisasjon som er sakspart. Kan være forskjellig fra
								mottaker. (mappes ikke videre) For Mottaker: Navn på organisasjon som er mottaker av dokumentet.
								Ikke påkrevd hvis utledRegisterInfo = true.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="dokumentproduksjon:Aktoer">
				<xs:sequence>
					<xs:element name="personidentifikator">
						<xs:annotation>
							<xs:documentation>For Bruker: Fødselsnummer til personen som er sakspart. Kan være forskjellig fra
								mottaker. For Mottaker: Fødselsnummer til personen som er mottaker av dokumentet.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="navn" type="dokumentproduksjon:nonEmptyStringNoBlanks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>For Bruker: Navn på personen som er sakspart. Kan være forskjellig fra mottaker.
								(mappes ikke videre) For Mottaker: Navn på personen som er mottaker av dokumentet. Ikke påkrevd
								hvis utledRegisterInfo = true.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ArkivSak">
		<xs:sequence>
			<xs:element name="journalsakId" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Obligatorisk dersom det skal arkiveres. Saksnummer som dokument skal journalføres mot. Kan
						være forskjellig fra fagsaksnummer
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sakstilhoerendeFagsystemkode" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Fagsystem som saken tilhører.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Vedleggbestillingsinformasjon">
		<xs:sequence>
			<xs:element name="dokumenttypeId" type="dokumentproduksjon:nonEmptyStringNoBlanks">
				<xs:annotation>
					<xs:documentation>Definerer DokumenttypeId. Benyttes for å hente tilknyttede metadata fra Dokumentkatalogen.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax">
				<xs:annotation>
					<xs:documentation>Vedlegg brevdata</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="nonEmptyStringNoBlanks">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO3166-1-alpha-2">
		<xs:restriction base="xs:token">
			<xs:pattern value="([A-Z]{2})|(\?\?\?)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>