nav-fim-sykepenger-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykepenger/v1/informasjon/sykepenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykepenger/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Arbeidsforhold">
		<xs:annotation>
			<xs:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til sykmeldingsperioden. Kan ha krav på refusjon i en periode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arbeidsgiversNavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="arbeidsgiversKontonummer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kontonummer som brukes for utbetaling til arbeidsgiver.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sykepengerFom" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refusjonTom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refusjonstype" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inntektsperiode" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inntekten er gjeldene i denne perioden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inntektForPerioden" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inntekt i perioden</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bruker">
		<xs:annotation>
			<xs:documentation>Personen som vedtaket om sykmeldingsperiode gjelder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personId" type="informasjon:Personidentifikator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifikator som gir unik identifikasjon av bruker.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totaltAntallSykmeldingsperioder" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Forsikring">
		<xs:annotation>
			<xs:documentation>Forsikring som gjelder i sykmeldingsperioden er gyldig/ikke gyldig.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="forsikringsordning" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frivillig forsikring som er aktuell i sykmeldingsperioden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="premiegrunnlag" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Beløp basert på premiegrunnlag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyldig" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frivillig forsikring er gyldig/ikke gyldig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periode" type="informasjon:Periode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frivillig forsikring gyldig i denne perioden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Gradering">
		<xs:annotation>
			<xs:documentation>Grad av sykemeldt i prosent som gjelder for en periode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periode" type="informasjon:Periode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Periode som graderingen gjelder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grad" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prosent sykemeldt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistoriskUtbetaling">
		<xs:annotation>
			<xs:documentation>Utbetalinger som er utbetalt til bruker.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Utbetaling">
				<xs:sequence>
					<xs:element name="utbetalingsDato" type="xs:date" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dato for utbetaling til mottaker.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bruttobeloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Brutto beløp til utbetaling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nettobeloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nettobeløp etter trekk som er utbetalt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skattetrekk" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Skattetrekk.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arbeidsgiversNavn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Arbeidsgiver knyttet til denne utbetalingen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arbeidsgiversKontonummer" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kontonummer for arbeidsgiver knyttet til denne utbetalingen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dagsats" type="xs:decimal" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Beløp pr. dag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totaltAntallKreditortrekk" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="trekk" type="informasjon:Kreditortrekk" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KommendeUtbetaling">
		<xs:annotation>
			<xs:documentation>Utbetalinger som er registrert i Infortrygd og lagt i kø for utbetaling.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Utbetaling">
				<xs:sequence>
					<xs:element name="oppgjoerstype" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kode som indikerer hva slags oppgjør.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kreditortrekk">
		<xs:annotation>
			<xs:documentation>Navn på kreditor samt beløp trukker per kreditor </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kreditorsNavn" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Navn på kreditor som mottar beløpet som trekkes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beloep" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Beløp som er trukket fra denne utbetalingen til en navngitt kreditor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sykmelding">
		<xs:annotation>
			<xs:documentation>Person med rettighet til å sykmelde sender inn sykmelding. Bruker må selv sende inn egenerklæring</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sykmelder" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aktør i rollen som for eksempel lege eller kiropraktor med rett til å sykmelde.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingsdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dato for behandling av sykmelder.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periode" type="informasjon:Periode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Peerioden sykmeldingen gjelder for.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totaltAntallGraderinger" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gradAvSykmelding" type="informasjon:Gradering" minOccurs="1" maxOccurs="10"/>
			<xs:element name="gjelderYrkesskade" type="informasjon:Yrkesskade" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sykmeldingsperiode">
		<xs:annotation>
			<xs:documentation>En sykemeldingsperiode er den perioden en bruker er syk. En bruker som er syk må levere inn sykmeldinger til NAV. I løpet av en sykemeldingsperiode kan en bruker ha mange sykmeldinger. Dersom det er mer enn 16 dager mellom to sykemeldinger, vil det opprettes en ny sykemeldingsperiode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="iddato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dato som identifiserer sykmeldingsperioden.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maksdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maksimal dato for utbetaling av sykepenger knyttet til dette vedtaket.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forbrukteDager" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Antall dager man har vært sykmeldt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arbeidsgiverperiode" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angir om arbeidsgiver har ansvar for å betale ut penger de første 16 dager av sykeforholdet eller ikke. Det angir også noe om når NAV skal begynne å utbetale ytelse enten til bruker eller til arbeidsgiver (alt etter verdien i refusjonsfeltet).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ferieperiode" type="informasjon:Periode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bruker har ferie i denne perioden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stansaarsak" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Årsak til stans av sykmeldingsperiode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="midlertidigStansDato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sykmeldingsperioden midlertidig stanset på denne dato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unntakAktivitet" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>M, H eller S</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arbeidskategori" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kodeverk for arbeid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sykmeldtFom" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dato for første sykmelding i perioden.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totaltAntallUtbetalinger" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="totaltAntallArbeidsforhold" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="totaltAntallSykmeldinger" type="xs:integer" minOccurs="0" maxOccurs="1"/>		
			<xs:element name="arbeidsforhold" type="informasjon:Arbeidsforhold" minOccurs="0" maxOccurs="5"/>
			<xs:element name="sykmeldt" type="informasjon:Bruker" minOccurs="1" maxOccurs="1"/>
			<xs:element name="gjeldendeForsikring" type="informasjon:Forsikring" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sykmelding" type="informasjon:Sykmelding" minOccurs="1" maxOccurs="30"/>
			<xs:element name="utbetaling" type="informasjon:Utbetaling" minOccurs="0" maxOccurs="50"/>
			<xs:element name="avslagsaarsak" type="informasjon:Kodeliste" minOccurs="0" maxOccurs="1"/>
			<xs:element name="avslagsdatoTom" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Utbetaling" abstract="true">
		<xs:sequence>
			<xs:element name="utbetalingsperiode" type="informasjon:Periode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Den perioden utbetalingen skal dekke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utbetalingsgrad" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prosent av total utbetaling.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Yrkesskade">
		<xs:annotation>
			<xs:documentation>Det er registrert en skade knyttet til yrkesutførelse og sykmeldingen gjelder denne skaden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yrkesskadeart" type="informasjon:Kodeliste" minOccurs="1" maxOccurs="1"/>
			<xs:element name="skadetdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vedtaksdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kodeliste">
		<xs:sequence>
			<xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="term" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Periode">
		<xs:sequence>
			<xs:element name="fom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tom" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Personidentifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
