kodeverk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/kodeverk/v2/Kodeverk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Kodeverk" targetNamespace="http://nav.no/tjeneste/virksomhet/kodeverk/v2/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/kodeverk/v2/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/kodeverk/v2/" xmlns:feil="http://nav.no/tjeneste/virksomhet/kodeverk/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/kodeverk/v2/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/kodeverk/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/kodeverk/v2/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKodeverk">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentKodeverkRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKodeverkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentKodeverkResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKodeverkKodeverkIkkeFunnet" type="feil:KodeverkIkkeFunnet"/>
			<xs:element name="finnKodeverkListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:FinnKodeverkListeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnKodeverkListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:FinnKodeverkListeResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="finnKodeverkListeResponse">
    <wsdl:part name="parameters" element="tns:finnKodeverkListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKodeverk_hentKodeverkKodeverkIkkeFunnet">
    <wsdl:part name="hentKodeverkKodeverkIkkeFunnet" element="tns:hentKodeverkKodeverkIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKodeverkRequest">
    <wsdl:part name="parameters" element="tns:hentKodeverk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnKodeverkListeRequest">
    <wsdl:part name="parameters" element="tns:finnKodeverkListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKodeverkResponse">
    <wsdl:part name="parameters" element="tns:hentKodeverkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KodeverkPortType">
    <wsdl:operation name="finnKodeverkListe">
      <wsdl:input name="finnKodeverkListeRequest" message="tns:finnKodeverkListeRequest">
    </wsdl:input>
      <wsdl:output name="finnKodeverkListeResponse" message="tns:finnKodeverkListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentKodeverk">
      <wsdl:input name="hentKodeverkRequest" message="tns:hentKodeverkRequest">
    </wsdl:input>
      <wsdl:output name="hentKodeverkResponse" message="tns:hentKodeverkResponse">
    </wsdl:output>
      <wsdl:fault name="hentKodeverkKodeverkIkkeFunnet" message="tns:hentKodeverk_hentKodeverkKodeverkIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KodeverkBinding" type="tns:KodeverkPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="finnKodeverkListe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finnKodeverkListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnKodeverkListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentKodeverk">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentKodeverkRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentKodeverkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hentKodeverkKodeverkIkkeFunnet">
        <soap:fault name="hentKodeverkKodeverkIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kodeverk_v2">
    <wsdl:port name="Kodeverk_v2" binding="tns:KodeverkBinding">
      <soap:address location="http://localhost:9080/virksomhet/Kodeverk_v2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
