nav-fim-oppfolging-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppfolging/v1/oppfolging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Oppfolging" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfolging/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfolging/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfolging/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfolging/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfolging/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/oppfolging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="hentOppfolgingskontraktListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentOppfolgingskontraktListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOppfolgingskontraktListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentOppfolgingskontraktListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentOppfolgingskontraktListeRequest">
		<wsdl:part name="parameters" element="tns:hentOppfolgingskontraktListe"/>
	</wsdl:message>
	<wsdl:message name="hentOppfolgingskontraktListeResponse">
		<wsdl:part name="parameters" element="tns:hentOppfolgingskontraktListeResponse"/>
	</wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="OppfolgingPortType">
		<wsdl:operation name="hentOppfolgingskontraktListe">
			<wsdl:input name="hentOppfolgingskontraktListeRequest" message="tns:hentOppfolgingskontraktListeRequest"/>
			<wsdl:output name="hentOppfolgingskontraktListeResponse" message="tns:hentOppfolgingskontraktListeResponse"/>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OppfolgingBinding" type="tns:OppfolgingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentOppfolgingskontraktListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentOppfolgingskontraktListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentOppfolgingskontraktListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Oppfolging_v1">
		<wsdl:port name="Oppfolging_v1" binding="tns:OppfolgingBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
