sykefravaersoppfoelgingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykefravaersoppfoelging/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykefravaersoppfoelging/v1/informasjon">
  <xsd:simpleType name="Enumkonstant">
    <xsd:annotation>
      <xsd:documentation>Enum-string som kun tillater A-Z og _</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z_]{1,50}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NaermesteLederStatus">
    <xsd:annotation>
      <xsd:documentation>Nærmeste leders kontaktinformasjon</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="erAktiv" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om nærmeste leder er aktiv</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når denne nærmeste lederen ble opprettet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når dette ikke er nærmeste leder lenger</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Felles identifikator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="HendelseAktivitetskrav">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="sykmeldingUuid" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Unik id på sykmeldingen som opprettet denne aktivitetskravhendelsen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NaermesteLeder">
    <xsd:annotation>
      <xsd:documentation>Nærmeste leders kontaktinformasjon</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="naermesteLederId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Nærmeste leder-objektets unike id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naermesteLederAktoerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Nærmeste leders aktørId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orgnummer" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Orgnummer til bedriften som nærmeste leder representerer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naermesteLederStatus" type="informasjon:NaermesteLederStatus">
        <xsd:annotation>
          <xsd:documentation>Statusen til den nærmeste lederen. Aktiv/ikke aktiv i tillegg til fra- og eventuelt tildato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nærmeste leders navn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mobil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nærmeste leders mobiltelefonnummer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="epost" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nærmeste leders epostadresse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiverForskuttererLoenn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om arbeidsgiver forskutterer lønn under sykefraværet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ansatt">
    <xsd:annotation>
      <xsd:documentation>Ansatt som den nærmeste lederen har ansvar for</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aktoerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>AktørId for å identifisere den ansatte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orgnummer" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Orgnummer til bedriften som nærmeste leder representerer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naermesteLederId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Id som identifiserer koblingen mellom nærmeste leder og bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet til den ansatte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harNySykmelding" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>true hvis den ansatte har en eller flere sykmeldinger som næremeste leder ikke har lest, false ellers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="naermesteLederStatus" type="informasjon:NaermesteLederStatus">
        <xsd:annotation>
          <xsd:documentation>Statusen til den nærmeste lederen. Aktiv/ikke aktiv i tillegg til fra- og eventuelt tildato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HendelseNyNaermesteLeder">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="naermesteLederId" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>Nærmeste leder id som ble opprettet når denne hendelsen inntraff</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HendelseAktivitetskravBekreftet">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="aktivitetskravId" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>Id på hendelsen som denne hendelsen bekrefter</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sykeforlopperiode">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fom for perioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Tom for perioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="grad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Graden i perioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitet" type="informasjon:Enumkonstant">
        <xsd:annotation>
          <xsd:documentation>Aktivitet i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeriketAnsatt">
    <xsd:annotation>
      <xsd:documentation>Ansatt som den nærmeste lederen har ansvar for</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="naermesteLederId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Id som identifiserer koblingen mellom nærmeste leder og bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktoerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>AktørId for å identifisere den ansatte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fnr" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer for å identifisere den ansatte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet til den ansatte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfoelgingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når gjeldende sykefravær begynte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Hendelse">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Unik id på hendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunkt for når hendelsen inntraff</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="informasjon:Enumkonstant">
        <xsd:annotation>
          <xsd:documentation>Hvilken type hendelse det er</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktoerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Brukers aktørId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>