soeknadsskjemaSosialhjelp-v1-meldingsdefinisjon/src/main/xsd/datatyper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1"
           xmlns:soknadsosialhjelp="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1">

    <xs:complexType name="KildeString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="kilde" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="KildeInteger">
        <xs:simpleContent>
            <xs:extension base="soknadsosialhjelp:NullableInt">
                <xs:attribute name="kilde" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="NullableInt">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\-+]?[0-9]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Kilde">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bruker"/>
            <xs:enumeration value="system"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element name="Fornavn" type="xs:string"/>
            <xs:element name="Mellomnavn" type="xs:string"/>
            <xs:element name="Etternavn" type="xs:string"/>
            <xs:element name="Fodselsdato" type="xs:string"/>
            <xs:element name="Personnummer" type="xs:string"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
        <xs:attribute name="kilde" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:complexType name="Adresse">
        <xs:attribute name="kilde" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="GateAdresse">
        <xs:complexContent>
            <xs:extension base="soknadsosialhjelp:Adresse">
                <xs:sequence>
                    <xs:element name="Landkode" type="xs:string"/>
                    <xs:element name="Poststed" type="xs:string"/>
                    <xs:element name="Kommunenummer" type="xs:string"/>
                    <xs:element name="Gatenavn" type="xs:string"/>
                    <xs:element name="Husnummer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelAdresse">
        <xs:complexContent>
            <xs:extension base="soknadsosialhjelp:Adresse">
                <xs:sequence>
                    <xs:element name="Landkode" type="xs:string"/><!-- TODO mer på adresser -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>