soeknadsskjemasosialhjelp-v1-meldingsdefinisjon/src/main/xsd/sosialhjelp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1"
           xmlns:soknadsosialhjelp="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1">

    <xs:include schemaLocation="datatyper.xsd" />
    <xs:import schemaLocation="kodeverk.xsd" namespace="http://nav.no/melding/domene/brukerdialog/soeknadsskjemasosialhjelp/v1/kodeverk" />

    <xs:element name="soknadsosialhjelp" type="soknadsosialhjelp:skjema"/>

    <xs:complexType name="skjema">
        <xs:sequence>
            <xs:element name="Mottaker" type="soknadsosialhjelp:Mottaker"/>
            <xs:element name="Personalia" type="soknadsosialhjelp:Personalia"/>
            <xs:element name="ArbeidUtdanning" type="soknadsosialhjelp:ArbeidUtdanning"/>
            <xs:element name="Familiesituasjon" type="soknadsosialhjelp:Familiesituasjon"/>
            <xs:element name="Begrunnelse" type="soknadsosialhjelp:Begrunnelse"/>
            <xs:element name="Bosituasjon" type="soknadsosialhjelp:Bosituasjon"/>
            <xs:element name="InntektFormue" type="soknadsosialhjelp:InntektFormue"/>
            <xs:element name="UtgifterGjeld" type="soknadsosialhjelp:UtgifterGjeld"/>
            <xs:element name="Inntekter" type="soknadsosialhjelp:Inntekter"/>
            <xs:element name="Utgifter" type="soknadsosialhjelp:Utgifter"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Mottaker">
        <xs:sequence>
            <xs:element name="Navn" type="xs:string"/>
            <xs:element name="Postnr" type="xs:string"/>
            <xs:element name="Poststed" type="xs:string"/>
            <xs:element name="Orgnr" type="xs:string"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Personalia">
        <xs:sequence>
            <!-- TODO gjenbruker Person? Men kan vi splite fnr? -->
            <xs:element name="PersonIdentifikator" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="Fornavn" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="Mellomnavn" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="Etternavn" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="Statsborgerskap" type="soknadsosialhjelp:KildeString"/>

            <xs:element name="Telefonnr" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="HarIkkeKontonr" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="Kontonr" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="FolkeregistrertAdresse" type="soknadsosialhjelp:Adresse"/>
            <!-- TODO muligens oppholdsadresse, men det dekkes av mottaker i første omgang? -->
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArbeidUtdanning">
        <xs:sequence>
            <xs:element name="ErIJobb" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="JobbGrad" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="ErStudent" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="StudentGrad" type="soknadsosialhjelp:KildeString"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Familiesituasjon">
        <xs:sequence>
            <xs:element name="Sivilstatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="soknadsosialhjelp:KildeString"/>
                        <xs:element name="Ektefelle" type="soknadsosialhjelp:Person" minOccurs="0"/>
                        <xs:element name="BorSammenMedEktefelle" type="soknadsosialhjelp:KildeString"/>
                        <xs:element name="BorIkkeSammenMedEktefelleBegrunnelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"
                                processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ForsorgerAnsvar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarForsorgerAnsvar" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Ansvarliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Ansvar" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Barn" type="soknadsosialhjelp:Person"/>
                                                <xs:element name="BorSammen" type="soknadsosialhjelp:KildeString"/>
                                                <xs:element name="Samvarsgrad" type="soknadsosialhjelp:KildeInteger" nillable="true"/>
                                                <xs:any namespace="##targetNamespace" minOccurs="0"
                                                        maxOccurs="unbounded" processContents="lax"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Barnebidrag" type="soknadsosialhjelp:KildeString" />
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"
                                processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Begrunnelse">
        <xs:sequence>
            <xs:element name="HvorforSoke" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="HvaSokesOm" type="soknadsosialhjelp:KildeString"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Bosituasjon">
        <xs:sequence>
            <xs:element name="BoType" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="AnnenSituasjon" type="soknadsosialhjelp:KildeString"/>
            <xs:element name="AntallPersoner" type="soknadsosialhjelp:KildeInteger"/>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InntektFormue">
        <xs:sequence>
            <xs:element name="Bostotte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MottarBostotte" type="soknadsosialhjelp:KildeString" />
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Verdier">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarVerdier" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Verdierliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Verdi" type="soknadsosialhjelp:KildeString" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Bankinnskudd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarBankinnskudd" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Bankinnskuddliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Bankinnskudd" type="soknadsosialhjelp:KildeString" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Utbetalinger">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarUtbetalinger" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Utbetalingerliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Utbetaling" type="soknadsosialhjelp:KildeString" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UtgifterGjeld">
        <xs:sequence>

            <xs:element name="Boutgifter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarBoutgifter" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Boutgifterliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Boutgift" type="soknadsosialhjelp:KildeString" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Barnutgifter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="HarBarneutgifter" type="soknadsosialhjelp:KildeString" />
                        <xs:element name="Barnutgifterliste">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Barnutgift" type="soknadsosialhjelp:KildeString" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnetBeskrivelse" type="soknadsosialhjelp:KildeString"/>
                        <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Inntekter">
        <xs:sequence>
            <xs:element name="Inntektliste">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Inntekt" type="soknadsosialhjelp:Opplysning" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Utgifter">
        <xs:sequence>
            <xs:element name="Utgiftliste">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Utgift" type="soknadsosialhjelp:Opplysning" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Opplysning">
        <xs:sequence>
            <xs:element name="Verdi" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string" use="required"/>
                            <xs:anyAttribute processContents="lax"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="kilde" type="xs:string" use="required"/>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>


</xs:schema>