nav-organisasjonEndringer-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/felles/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://nav.no/tjeneste/felles/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="kodeverdi">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="forretningsmessigUnntaksdetaljer">
    <xs:sequence>
      <xs:element name="feilkilde" type="xs:string"/>
      <xs:element name="feilaarsak" type="xs:string"/>
      <xs:element name="tidspunkt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>