nav-pip-pipegenansatt-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/pip/pipEgenAnsatt/v1/pipegenansatt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PipEgenAnsatt" targetNamespace="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/" xmlns:tns="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/" xmlns:meldinger="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/pip/pipEgenAnsatt/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="erEgenAnsattEllerIFamilieMedEgenAnsatt">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:ErEgenAnsattEllerIFamilieMedEgenAnsattRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="erEgenAnsattEllerIFamilieMedEgenAnsattResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:ErEgenAnsattEllerIFamilieMedEgenAnsattResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="erEgenAnsattEllerIFamilieMedEgenAnsattRequest">
		<wsdl:part name="parameters" element="tns:erEgenAnsattEllerIFamilieMedEgenAnsatt"/>
	</wsdl:message>
	<wsdl:message name="erEgenAnsattEllerIFamilieMedEgenAnsattResponse">
		<wsdl:part name="parameters" element="tns:erEgenAnsattEllerIFamilieMedEgenAnsattResponse"/>
	</wsdl:message>
	<wsdl:portType name="PipEgenAnsattPortType">
		<wsdl:operation name="erEgenAnsattEllerIFamilieMedEgenAnsatt">
			<wsdl:input name="erEgenAnsattEllerIFamilieMedEgenAnsattRequest" message="tns:erEgenAnsattEllerIFamilieMedEgenAnsattRequest"/>
			<wsdl:output name="erEgenAnsattEllerIFamilieMedEgenAnsattResponse" message="tns:erEgenAnsattEllerIFamilieMedEgenAnsattResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PipEgenAnsattBinding" type="tns:PipEgenAnsattPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="erEgenAnsattEllerIFamilieMedEgenAnsatt">
			<soap:operation style="document"/>
			<wsdl:input name="erEgenAnsattEllerIFamilieMedEgenAnsattRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="erEgenAnsattEllerIFamilieMedEgenAnsattResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PipEgenAnsatt_v1">
		<wsdl:port name="PipEgenAnsatt_v1" binding="tns:PipEgenAnsattBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
