send-ut-henvendelse/src/main/resources/SendUtHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="SendSoknadService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse"
                    elementFormDefault="unqualified"
                    targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse"
                    xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/senduthenvendelse/meldinger"
                    schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/meldinger.xsd"/>

            <xs:element name="sendUtHenvendelse" type="meldinger:sendUtHenvendelseRequest"/>
            <xs:element name="sendUtHenvendelseResponse" type="meldinger:sendUtHenvendelseResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="sendUtHenvendelseRequest">
        <wsdl:part element="tns:sendUtHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendUtHenvendelseResponse">
        <wsdl:part element="tns:sendUtHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SendUtHenvendelsePortType">
        <wsdl:operation name="sendUtHenvendelse">
            <wsdl:input message="tns:sendUtHenvendelseRequest" name="sendUtHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:sendUtHenvendelseResponse" name="sendUtHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendUtHenvendelseBinding" type="tns:SendUtHenvendelsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendUtHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendUtHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendUtHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendUtHenvendelseService">
        <wsdl:port binding="tns:SendUtHenvendelseBinding" name="SendUtHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/SendUtHenvendelseService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
