nav-inngaaendeJournal-v1-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/inngaaendeJournal/v1/inngaaendeJournal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="inngaaendeJournal" targetNamespace="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentJournalpostRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentJournalpostResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentJournalpostjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="hentJournalpostjournalpostIkkeInngaaende" type="feil:JournalpostIkkeInngaeende"/>
      <xsd:element name="hentJournalpostugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="utledJournalfoeringsbehov">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:UtledJournalfoeringsbehovRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="utledJournalfoeringsbehovResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:UtledJournalfoeringsbehovResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="utledJournalfoeringsbehovsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="utledJournalfoeringsbehovjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="utledJournalfoeringsbehovjournalpostIkkeInngaaende" type="feil:JournalpostIkkeInngaeende"/>
      <xsd:element name="utledJournalfoeringsbehovjournalpostKanIkkeBehandles" type="feil:JournalpostKanIkkeBehandles"/>
      <xsd:element name="utledJournalfoeringsbehovugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostRequest">
    <wsdl:part name="parameters" element="tns:hentJournalpost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehovRequest">
    <wsdl:part name="parameters" element="tns:utledJournalfoeringsbehov">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehov_journalpostIkkeInngaaende">
    <wsdl:part name="journalpostIkkeInngaaende" element="tns:utledJournalfoeringsbehovjournalpostIkkeInngaaende">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpost_journalpostIkkeInngaaende">
    <wsdl:part name="journalpostIkkeInngaaende" element="tns:hentJournalpostjournalpostIkkeInngaaende">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehovResponse">
    <wsdl:part name="parameters" element="tns:utledJournalfoeringsbehovResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostResponse">
    <wsdl:part name="parameters" element="tns:hentJournalpostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpost_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:hentJournalpostjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehov_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:utledJournalfoeringsbehovugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehov_journalpostKanIkkeBehandles">
    <wsdl:part name="journalpostKanIkkeBehandles" element="tns:utledJournalfoeringsbehovjournalpostKanIkkeBehandles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehov_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:utledJournalfoeringsbehovjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="utledJournalfoeringsbehov_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:utledJournalfoeringsbehovsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpost_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentJournalpostugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpost_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentJournalpostsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InngaaendeJournal_v1">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentJournalpost">
      <wsdl:input message="tns:hentJournalpostRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentJournalpostResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentJournalpost_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:hentJournalpost_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentJournalpost_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeInngaaende" message="tns:hentJournalpost_journalpostIkkeInngaaende">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="utledJournalfoeringsbehov">
      <wsdl:input message="tns:utledJournalfoeringsbehovRequest">
    </wsdl:input>
      <wsdl:output message="tns:utledJournalfoeringsbehovResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:utledJournalfoeringsbehov_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:utledJournalfoeringsbehov_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeInngaaende" message="tns:utledJournalfoeringsbehov_journalpostIkkeInngaaende">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:utledJournalfoeringsbehov_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="journalpostKanIkkeBehandles" message="tns:utledJournalfoeringsbehov_journalpostKanIkkeBehandles">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
