gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/oppgavebehandling/no/nav/tjeneste/virksomhet/oppgavebehandling/v3/oppgavebehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="oppgavebehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="feilregistrerOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FeilregistrerOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="feilregistrerOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="feilregistrerOppgaveoppgaveIkkeFunnet" type="feil:OppgaveIkkeFunnet"/>
      <xsd:element name="feilregistrerOppgaveulovligStatusOvergang" type="feil:UlovligStatusOvergang"/>
      <xsd:element name="lagreOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveoppgaveIkkeFunnet" type="feil:OppgaveIkkeFunnet"/>
      <xsd:element name="lagreOppgaveoptimistiskLasing" type="feil:OptimistiskLasing"/>
      <xsd:element name="opprettOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettOppgaveResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgaveBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettOppgaveBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgaveBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettOppgaveBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillOppgaveBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FerdigstillOppgaveBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillOppgaveBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FerdigstillOppgaveBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettMappeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettMappeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreMappeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMappemappeIkkeFunnet" type="feil:MappeIkkeFunnet"/>
      <xsd:element name="slettMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:SlettMappeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettMappemappeIkkeTom" type="feil:MappeIkkeTom"/>
      <xsd:element name="slettMappemappeIkkeFunnet" type="feil:MappeIkkeFunnet"/>
      <xsd:element name="lagreOppgaveBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreOppgaveBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:LagreOppgaveBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tildelOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:TildelOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tildelOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:TildelOppgaveResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tildelOppgaveugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="tildelOppgaveResponse">
    <wsdl:part name="parameters" element="tns:tildelOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettOppgaveResponse">
    <wsdl:part name="parameters" element="tns:opprettOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettOppgaveBolkResponse">
    <wsdl:part name="parameters" element="tns:opprettOppgaveBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreMappeResponse">
    <wsdl:part name="parameters" element="tns:lagreMappeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgave_oppgaveIkkeFunnet">
    <wsdl:part name="oppgaveIkkeFunnet" element="tns:lagreOppgaveoppgaveIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillOppgaveBolkRequest">
    <wsdl:part name="parameters" element="tns:ferdigstillOppgaveBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgaveBolkResponse">
    <wsdl:part name="parameters" element="tns:lagreOppgaveBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettMappeResponse">
    <wsdl:part name="parameters" element="tns:opprettMappeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerOppgave_oppgaveIkkeFunnet">
    <wsdl:part name="oppgaveIkkeFunnet" element="tns:feilregistrerOppgaveoppgaveIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgaveBolkRequest">
    <wsdl:part name="parameters" element="tns:lagreOppgaveBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tildelOppgaveRequest">
    <wsdl:part name="parameters" element="tns:tildelOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettMappeRequest">
    <wsdl:part name="parameters" element="tns:slettMappe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerOppgaveRequest">
    <wsdl:part name="parameters" element="tns:feilregistrerOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgave_optimistiskLasing">
    <wsdl:part name="optimistiskLasing" element="tns:lagreOppgaveoptimistiskLasing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreMappe_mappeIkkeFunnet">
    <wsdl:part name="mappeIkkeFunnet" element="tns:lagreMappemappeIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettMappe_mappeIkkeTom">
    <wsdl:part name="mappeIkkeTom" element="tns:slettMappemappeIkkeTom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgaveRequest">
    <wsdl:part name="parameters" element="tns:lagreOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettMappeResponse">
    <wsdl:part name="parameters" element="tns:slettMappeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettOppgaveRequest">
    <wsdl:part name="parameters" element="tns:opprettOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerOppgaveResponse">
    <wsdl:part name="parameters" element="tns:feilregistrerOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettMappeRequest">
    <wsdl:part name="parameters" element="tns:opprettMappe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOppgaveResponse">
    <wsdl:part name="parameters" element="tns:lagreOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettMappe_mappeIkkeFunnet">
    <wsdl:part name="mappeIkkeFunnet" element="tns:slettMappemappeIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettOppgaveBolkRequest">
    <wsdl:part name="parameters" element="tns:opprettOppgaveBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerOppgave_ulovligStatusOvergang">
    <wsdl:part name="ulovligStatusOvergang" element="tns:feilregistrerOppgaveulovligStatusOvergang">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tildelOppgave_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:tildelOppgaveugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillOppgaveBolkResponse">
    <wsdl:part name="parameters" element="tns:ferdigstillOppgaveBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreMappeRequest">
    <wsdl:part name="parameters" element="tns:lagreMappe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Oppgavebehandling_v3">
    <wsdl:operation name="feilregistrerOppgave">
<wsdl:documentation>Tilbyr funksjonalitet for å feilregistrere en oppgave. </wsdl:documentation>
      <wsdl:input message="tns:feilregistrerOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:feilregistrerOppgaveResponse">
    </wsdl:output>
      <wsdl:fault name="oppgaveIkkeFunnet" message="tns:feilregistrerOppgave_oppgaveIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ulovligStatusOvergang" message="tns:feilregistrerOppgave_ulovligStatusOvergang">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgave">
<wsdl:documentation>Operasjon som tilbyr endring av en oppgave. </wsdl:documentation>
      <wsdl:input message="tns:lagreOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreOppgaveResponse">
    </wsdl:output>
      <wsdl:fault name="oppgaveIkkeFunnet" message="tns:lagreOppgave_oppgaveIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="optimistiskLasing" message="tns:lagreOppgave_optimistiskLasing">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgave">
<wsdl:documentation>Operasjonen som tilbyr å opprette en oppgave. </wsdl:documentation>
      <wsdl:input message="tns:opprettOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettOppgaveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgaveBolk">
<wsdl:documentation>Tjenesten opprettOppgaveBolk leveres av FGSAK.

   · 

Tilbyr å masseopprette oppgaver, for bruk i batcher

   · 

Operasjonen lagrer alt eller ingen ting, hvis en oppgaveopprettelse feiler vil de som eventuelt allerede er opprettet bli rullet tilbake </wsdl:documentation>
      <wsdl:input message="tns:opprettOppgaveBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettOppgaveBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ferdigstillOppgaveBolk">
<wsdl:documentation>Tjenesten ferdigstillOppgaveBolk leveres av FGSAK.

   · 

Operasjon som tilbyr sletting av oppgaver, tilpasset for batch-bruk

   · 

Operasjonen vil ferdigstille de oppgavene den klarer, de som ikke er mulig å ferdigstille vil bli samlet opp og det returneres en liste av disse med tilhørende feilkode og beskrivelse. Det vil ikke bli returnert feil (faults) bortsett fra hvis systemene er nede </wsdl:documentation>
      <wsdl:input message="tns:ferdigstillOppgaveBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:ferdigstillOppgaveBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettMappe">
<wsdl:documentation>Operasjon for å opprette en oppgavemappe. </wsdl:documentation>
      <wsdl:input message="tns:opprettMappeRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettMappeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lagreMappe">
<wsdl:documentation>Operasjon for å endre en mappe </wsdl:documentation>
      <wsdl:input message="tns:lagreMappeRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreMappeResponse">
    </wsdl:output>
      <wsdl:fault name="mappeIkkeFunnet" message="tns:lagreMappe_mappeIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettMappe">
<wsdl:documentation>Operasjon som tilbyr sletting av en oppgavemappe. </wsdl:documentation>
      <wsdl:input message="tns:slettMappeRequest">
    </wsdl:input>
      <wsdl:output message="tns:slettMappeResponse">
    </wsdl:output>
      <wsdl:fault name="mappeIkkeFunnet" message="tns:slettMappe_mappeIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="mappeIkkeTom" message="tns:slettMappe_mappeIkkeTom">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgaveBolk">
<wsdl:documentation>Tjenesten lagreOppgaveBolk leveres av FGSAK.

   · 

Tilbyr å masseendre oppgaver, for bruk i batcher

   · 

Operasjonen vil ferdigstille de oppgavene den klarer, de som ikke er mulig å ferdigstille vil bli samlet opp og det returneres en liste av disse med tilhørende feilkode og beskrivelse. Det vil ikke bli returnert feil (faults) bortsett fra generiske feil hvis systemene er nede </wsdl:documentation>
      <wsdl:input message="tns:lagreOppgaveBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreOppgaveBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tildelOppgave">
<wsdl:documentation>Operasjon som lar konsumenter tildele én oppgave til én saksbehandler. Ulike filtere kan bli satt for å gjøre spesifikke søk. </wsdl:documentation>
      <wsdl:input message="tns:tildelOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:tildelOppgaveResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:tildelOppgave_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
