behandle-medlemskap-v1/src/main/resources/behandlemedlemskap/wsdl/no/nav/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskapV2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2" name="BehandleMedlemskap_v2" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2" xmlns:ns1="http://nav.no/tjeneste/felles/v1/informasjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon/kodeverk" schemaLocation="informasjon/kodeverk/kodeverk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon" schemaLocation="informasjon/informasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2" schemaLocation="BehandleMedlemskapV2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/felles/v1/informasjon" schemaLocation="../../../felles/v1/informasjon/informasjon.xsd"/>
    </xsd:schema>
  </types>
  <message name="opprettPeriode">
    <part name="parameters" element="tns:opprettPeriode"/>
  </message>
  <message name="opprettPeriodeResponse">
    <part name="parameters" element="tns:opprettPeriodeResponse"/>
  </message>
  <message name="oppdaterPeriode">
    <part name="parameters" element="tns:oppdaterPeriode"/>
  </message>
  <message name="oppdaterPeriodeResponse">
    <part name="parameters" element="tns:oppdaterPeriodeResponse"/>
  </message>
  <message name="avvisPeriode">
    <part name="parameters" element="tns:avvisPeriode"/>
  </message>
  <message name="avvisPeriodeResponse">
    <part name="parameters" element="tns:avvisPeriodeResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="UgyldigInput">
    <part name="fault" element="tns:UgyldigInput"/>
  </message>
  <message name="PeriodeUtdatert">
    <part name="fault" element="tns:PeriodeUtdatert"/>
  </message>
  <message name="PeriodeIkkeFunnet">
    <part name="fault" element="tns:PeriodeIkkeFunnet"/>
  </message>
  <message name="PersonIkkeFunnet">
    <part name="fault" element="tns:PersonIkkeFunnet"/>
  </message>
  <message name="Sikkerhetsbegrensning">
    <part name="fault" element="tns:Sikkerhetsbegrensning"/>
  </message>
  <portType name="BehandleMedlemskap_v2">
    <operation name="opprettPeriode">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriodeRequest" message="tns:opprettPeriode"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriodeResponse" message="tns:opprettPeriodeResponse"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriode/Fault/Sikkerhetsbegrensning"/>
      <fault message="tns:UgyldigInput" name="UgyldigInput" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriode/Fault/UgyldigInput"/>
      <fault message="tns:PersonIkkeFunnet" name="PersonIkkeFunnet" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriode/Fault/PersonIkkeFunnet"/>
    </operation>
    <operation name="oppdaterPeriode">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriodeRequest" message="tns:oppdaterPeriode"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriodeResponse" message="tns:oppdaterPeriodeResponse"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriode/Fault/Sikkerhetsbegrensning"/>
      <fault message="tns:UgyldigInput" name="UgyldigInput" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriode/Fault/UgyldigInput"/>
      <fault message="tns:PeriodeIkkeFunnet" name="PeriodeIkkeFunnet" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriode/Fault/PeriodeIkkeFunnet"/>
      <fault message="tns:PeriodeUtdatert" name="PeriodeUtdatert" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriode/Fault/PeriodeUtdatert"/>
    </operation>
    <operation name="avvisPeriode">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/avvisPeriodeRequest" message="tns:avvisPeriode"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/avvisPeriodeResponse" message="tns:avvisPeriodeResponse"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/avvisPeriode/Fault/Sikkerhetsbegrensning"/>
      <fault message="tns:PeriodeIkkeFunnet" name="PeriodeIkkeFunnet" wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/avvisPeriode/Fault/PeriodeIkkeFunnet"/>
    </operation>
    <operation name="ping">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/pingRequest" message="tns:ping"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/pingResponse" message="tns:pingResponse"/>
    </operation>
  </portType>
  <binding name="BehandleMedlemskap_v2PortBinding" type="tns:BehandleMedlemskap_v2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsaw:UsingAddressing/>
    <operation name="opprettPeriode">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/opprettPeriodeRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
      <fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </fault>
      <fault name="PersonIkkeFunnet">
        <soap:fault name="PersonIkkeFunnet" use="literal"/>
      </fault>
    </operation>
    <operation name="oppdaterPeriode">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/oppdaterPeriodeRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
      <fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </fault>
      <fault name="PeriodeIkkeFunnet">
        <soap:fault name="PeriodeIkkeFunnet" use="literal"/>
      </fault>
      <fault name="PeriodeUtdatert">
        <soap:fault name="PeriodeUtdatert" use="literal"/>
      </fault>
    </operation>
    <operation name="avvisPeriode">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/avvisPeriodeRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
      <fault name="PeriodeIkkeFunnet">
        <soap:fault name="PeriodeIkkeFunnet" use="literal"/>
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/BehandleMedlemskap_v2/pingRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BehandleMedlemskap_v2">
    <port name="BehandleMedlemskap_v2Port" binding="tns:BehandleMedlemskap_v2PortBinding">
      <soap:address location="http://localhost:9080/virksomhet/behandleMedlemskap_v2"/>
    </port>
  </service>
</definitions>

