fillager-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/fillager/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1/meldinger"
           xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1/meldinger"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

    <xs:complexType name="empty" />

    <xs:complexType name="behandlingsId">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uuid">
        <xs:sequence>
            <xs:element name="uuid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uuidOgAktorId">
        <xs:sequence>
            <xs:element name="uuid" type="xs:string"/>
            <xs:element name="aktorId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vedlegg">
        <xs:annotation>
            <xs:documentation>
                Et vedlegg inneholder all informasjon om dokumentet. En trenger en kobling mot henvendelse via behandlingsId, en unik uid, fødselsnummeret som det skal lagres på, og innholde som binærstrøm
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Behandlingsid på henvendelsen dokumentet er knyttet mot
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uuid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unik id for dokumentet. Skal være en unik guid.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fnr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Eier av dokumentet. For brukere sjekkes dette opp mot sikkerhetskontekst. For systembruker brukes dette direkte.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="innhold" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream">
                <xs:annotation>
                    <xs:documentation>
                        Binærstrøm av innholdet i fila. Kan være inneholde hva som helst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vedleggListe">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="innhold" type="meldinger:innhold"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="innhold">
        <xs:sequence>
            <xs:element name="uuid" type="xs:string"/>
            <xs:element name="innhold" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>