arbeidsevnevurdering-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsevnevurdering/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/meldinger" version="1.0" xmlns:arbeidsevnevurdering="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/informasjon/arbeidsevnevurdering" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/informasjon/arbeidsevnevurdering" schemaLocation="../informasjon/arbeidsevnevurdering/arbeidsevnevurdering.xsd"/>
  <xsd:complexType name="finnArbeidsevnevurderingResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsevnevurdering" type="arbeidsevnevurdering:Arbeidsevnevurdering">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Objekt med informasjonsfelter om AEV knyttet til en bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="foreliggerArbeidsevnevurdering" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dersom det foreligger en arbeidsevnevurdering på bruker settes verdien "true", ellers settes verdien "false".&lt;/p&gt;&lt;p&gt;Kriterie for at arbeidsevnevurdering foreligger:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;ARBEIDSEVNE_VURDERING.ANVENDELSESKODE må være utfylt og verdien må være en av følgende to verdier: "Generell vurdering" eller "Arbeidsavklaringspenger".&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;span&gt;ARBEIDSEVNE_VURDERING.STATUS er utfylt&lt;span style="color:#000000;"&gt; og ulik verdien "A" (Avbrutt).&lt;/span&gt;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="finnArbeidsevnevurderingRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="arbeidsevnevurdering:Personidentifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id (fnr/dnr) til en bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>