nav-innsynjournal-v2-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/innsynJournal/v2/innsynjournal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="innsynJournal" targetNamespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/innsynJournal/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilgjengeligJournalpostListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentTilgjengeligJournalpostListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilgjengeligJournalpostListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentTilgjengeligJournalpostListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="identifiserJournalpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:IdentifiserJournalpostRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="identifiserJournalpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:IdentifiserJournalpostResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTilgjengeligJournalpostListesikkerhetsbegrensning" type="feil:FunctionalFault"/>
      <xsd:element name="identifiserJournalpostUgyldingInput" type="feil:TechnicalFault"/>
      <xsd:element name="identifiserJournalpostObjektIkkeFunnet" type="feil:FunctionalFault"/>
      <xsd:element name="identifiserJournalpostUgyldigAntallJournalposter" type="feil:FunctionalFault"/>
      <xsd:element name="identifiserJournalpostJournalpostIkkeInngaaende" type="feil:FunctionalFault"/>
      <xsd:element name="hentDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentsikkerhetsbegrensning" type="feil:FunctionalFault"/>
      <xsd:element name="hentDokumentdokumentIkkeFunnet" type="feil:FunctionalFault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentDokument_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:hentDokumentdokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilgjengeligJournalpostListeResponse">
    <wsdl:part name="parameters" element="tns:hentTilgjengeligJournalpostListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpostResponse">
    <wsdl:part name="parameters" element="tns:identifiserJournalpostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokument_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentDokumentsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilgjengeligJournalpostListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentTilgjengeligJournalpostListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentTilgjengeligJournalpostListeRequest">
    <wsdl:part name="parameters" element="tns:hentTilgjengeligJournalpostListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpostRequest">
    <wsdl:part name="parameters" element="tns:identifiserJournalpost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpost_ugyldingInput">
    <wsdl:part name="parameters" element="tns:identifiserJournalpostUgyldingInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpost_objektIkkeFunnet">
    <wsdl:part name="parameters" element="tns:identifiserJournalpostObjektIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpost_ugyldigAntallJournalposter">
    <wsdl:part name="parameters" element="tns:identifiserJournalpostUgyldigAntallJournalposter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserJournalpost_journalpostIkkeInngaaende">
    <wsdl:part name="parameters" element="tns:identifiserJournalpostJournalpostIkkeInngaaende">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentRequest">
    <wsdl:part name="parameters" element="tns:hentDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InnsynJournal_v2">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentTilgjengeligJournalpostListe">
      <wsdl:input message="tns:hentTilgjengeligJournalpostListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentTilgjengeligJournalpostListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentTilgjengeligJournalpostListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="identifiserJournalpost">
      <wsdl:input message="tns:identifiserJournalpostRequest">
      </wsdl:input>
      <wsdl:output message="tns:identifiserJournalpostResponse">
      </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:identifiserJournalpost_ugyldingInput">
      </wsdl:fault>
      <wsdl:fault name="objektIkkeFunnet" message="tns:identifiserJournalpost_objektIkkeFunnet">
      </wsdl:fault>
      <wsdl:fault name="gyldigAntallJournalposter" message="tns:identifiserJournalpost_ugyldigAntallJournalposter">
      </wsdl:fault>
      <wsdl:fault name="journalpostIkkeInngaaende" message="tns:identifiserJournalpost_journalpostIkkeInngaaende">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDokument">
      <wsdl:input message="tns:hentDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentDokument_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:hentDokument_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
