besvarehenvendelse/src/main/resources/v1/BesvareHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="BesvareHenvendelseService"
	targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1">
	<wsdl:types>
		<xs:schema
			xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1"
			elementFormDefault="unqualified"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1"
			xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1/meldinger">
			<xs:import
				namespace="http://nav.no/tjeneste/domene/brukerdialog/besvare/v1/meldinger"
				schemaLocation="../no/nav/tjeneste/domene/brukerdialog/besvare/v1/meldinger/meldinger.xsd" />
            <xs:element name="hentSporsmalOgSvar" type="meldinger:hentSporsmalOgSvarRequest" />
            <xs:element name="hentSporsmalOgSvarResponse" type="meldinger:hentSporsmalOgSvarResponse" />
            <xs:element name="hentSakerRequest" type="meldinger:hentSakerRequest" />
            <xs:element name="hentSakerResponse" type="meldinger:hentSakerResponse" />
			<xs:element name="besvarSporsmal" type="meldinger:besvarSporsmalRequest" />
			<xs:element name="besvarSporsmalResponse" type="meldinger:besvarSporsmalResponse" />
			<xs:element name="journalforMeldinger" type="meldinger:journalforMeldingerRequest" />
			<xs:element name="journalforMeldingerResponse" type="meldinger:journalforMeldingerResponse" />
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
		</xs:schema>
	</wsdl:types>

    <wsdl:message name="hentSporsmalOgSvarRequest">
        <wsdl:part element="tns:hentSporsmalOgSvar" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSporsmalOgSvarResponse">
        <wsdl:part element="tns:hentSporsmalOgSvarResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="hentSakerRequest">
        <wsdl:part element="tns:hentSakerRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSakerResponse">
        <wsdl:part element="tns:hentSakerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

	<wsdl:message name="besvarSporsmalRequest">
		<wsdl:part element="tns:besvarSporsmal" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="besvarSporsmalResponse">
		<wsdl:part element="tns:besvarSporsmalResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="journalforMeldingerRequest">
        <wsdl:part element="tns:journalforMeldinger" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalforMeldingerResponse">
        <wsdl:part element="tns:journalforMeldingerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BesvareHenvendelsePortType">
        <wsdl:operation name="hentSporsmalOgSvar">
            <wsdl:input message="tns:hentSporsmalOgSvarRequest" name="hentSporsmalOgSvarRequest" />
            <wsdl:output message="tns:hentSporsmalOgSvarResponse" name="hentSporsmalOgSvarResponse" />
        </wsdl:operation>
		<wsdl:operation name="besvarSporsmal">
			<wsdl:input message="tns:besvarSporsmalRequest" name="besvarSporsmalRequest" />
			<wsdl:output message="tns:besvarSporsmalResponse" name="besvarSporsmalResponse" />
		</wsdl:operation>

        <wsdl:operation name="hentSaker">
            <wsdl:input message="tns:hentSakerRequest" name="hentSakerRequest" />
            <wsdl:output message="tns:hentSakerResponse" name="hentSakerResponse" />
        </wsdl:operation>

        <wsdl:operation name="journalforMeldinger">
            <wsdl:input message="tns:journalforMeldingerRequest" name="journalforMeldingerRequest" />
            <wsdl:output message="tns:journalforMeldingerResponse" name="journalforMeldingerResponse" />
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

	<wsdl:binding name="BesvareHenvendelseBinding"
		type="tns:BesvareHenvendelsePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="hentSporsmalOgSvar">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="hentSporsmalOgSvarRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="hentSporsmalOgSvarResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="besvarSporsmal">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="besvarSporsmalRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="besvarSporsmalResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="hentSaker">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="hentSakerRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="hentSakerResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="journalforMeldinger">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="journalforMeldingerRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="journalforMeldingerResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="BesvareHenvendelseService">
		<wsdl:port binding="tns:BesvareHenvendelseBinding"
			name="BesvareHenvendelsePort">
			<soap:address
				location="http://localhost:8686/domene.Brukerdialog/BesvareHenvendelseService_v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
