oppgavebegrenset-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppgaveBegrenset/v1/oppgaveBegrenset.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="oppgaveBegrenset" targetNamespace="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/feil" schemaLocation="Feil/Feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppgaveBegrenset/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnOppgaveIdListeForPersonident">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnOppgaveIdListeForPersonidentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOppgaveIdListeForPersonidentugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnOppgaveIdListeForPersonidentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnOppgaveIdListeForPersonidentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOppgaveIdListeForSakId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnOppgaveIdListeForSakIdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOppgaveIdListeForSakIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnOppgaveIdListeForSakIdResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOppgaveIdListeForSakIdugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnOppgaveIdListeForPersonidentResponse">
    <wsdl:part name="parameters" element="tns:finnOppgaveIdListeForPersonidentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOppgaveIdListeForPersonidentRequest">
    <wsdl:part name="parameters" element="tns:finnOppgaveIdListeForPersonident">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOppgaveIdListeForSakIdRequest">
    <wsdl:part name="parameters" element="tns:finnOppgaveIdListeForSakId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOppgaveIdListeForSakIdResponse">
    <wsdl:part name="parameters" element="tns:finnOppgaveIdListeForSakIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOppgaveIdListeForPersonident_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnOppgaveIdListeForPersonidentugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnOppgaveIdListeForSakId_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnOppgaveIdListeForSakIdugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OppgaveBegrenset_v1">
    <wsdl:operation name="finnOppgaveIdListeForPersonident">
      <wsdl:input message="tns:finnOppgaveIdListeForPersonidentRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnOppgaveIdListeForPersonidentResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:finnOppgaveIdListeForPersonident_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnOppgaveIdListeForSakId">
      <wsdl:input message="tns:finnOppgaveIdListeForSakIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnOppgaveIdListeForSakIdResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:finnOppgaveIdListeForSakId_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
