nav-organisasjonEndringer-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonendringer/v1/OrganisasjonEndringerV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1" name="OrganisasjonEndringer_v1"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/informasjon" schemaLocation="informasjon/informasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1" schemaLocation="OrganisasjonEndringerV1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/felles/v1/informasjon" schemaLocation="../../../felles/v1/informasjon/informasjon.xsd"/>
    </xsd:schema>
  </types>

  <message name="hentKonkurser">
    <part name="parameters" element="tns:hentKonkurser"/>
  </message>
  <message name="hentKonkurserResponse">
    <part name="parameters" element="tns:hentKonkurserResponse"/>
  </message>
  <message name="hentOpphoer">
    <part name="parameters" element="tns:hentOpphoer"/>
  </message>
  <message name="hentOpphoerResponse">
    <part name="parameters" element="tns:hentOpphoerResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="UgyldigInput">
    <part name="fault" element="tns:UgyldigInput"/>
  </message>

  <portType name="OrganisasjonEndringer_v1">
    <operation name="hentKonkurser">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentKonkurserRequest" message="tns:hentKonkurser"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentKonkurserResponse" message="tns:hentKonkurserResponse"/>
      <fault message="tns:UgyldigInput" name="UgyldigInput" wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentKonkurser/Fault/UgyldigInput"/>
    </operation>
    <operation name="hentOpphoer">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentOpphoerRequest" message="tns:hentOpphoer"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentOpphoerResponse" message="tns:hentOpphoerResponse"/>
      <fault message="tns:UgyldigInput" name="UgyldigInput" wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/hentOpphoer/Fault/UgyldigInput"/>
    </operation>
    <operation name="ping">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/pingRequest" message="tns:ping"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/OrganisasjonEndringer_v1/pingResponse" message="tns:pingResponse"/>
    </operation>
  </portType>

  <binding name="OrganisasjonEndringer_v1PortBinding" type="tns:OrganisasjonEndringer_v1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hentKonkurser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal" />
      </fault>
    </operation>
    <operation name="hentOpphoer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal" />
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrganisasjonEndringer_v1">
    <port name="OrganisasjonEndringer_v1Port" binding="tns:OrganisasjonEndringer_v1PortBinding">
      <soap:address location="http://localhost:9080/virksomhet/organisasjonEndringer_v1"/>
    </port>
  </service>
</definitions>