pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.BrukersBarn.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/brukersBarn"
           version="1.0">

  <xs:complexType name="v1.BrukersBarn">
      <xs:sequence>
         <xs:element form="qualified" name="fnr" type="xs:string"/>
         <xs:element form="qualified" name="aktorId" type="xs:string"/>
         <xs:element form="qualified" name="type" type="xs:string"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>