pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.InngangOgEksport.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/inngangOgEksport"
           version="1.0">

   <xs:complexType name="v1.InngangOgEksport">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="unntakForutgaendeMedlemskap"
                     type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="unntakForutgaendeMedlemskapAvdod"
                     type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="unntakForutgaendeMedlemskapMor"
                     type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="unntakForutgaendeMedlemskapFar"
                     type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArsFMNorgeAvdod" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArsFMNorge" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstEtArFMNorge94Virk90Avdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstEtArFMNorge94Virk90"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="forutgaendeMedlemskapAvdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="forutgaendeMedlemskap" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="oppfyltEtterGamleReglerAvdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="oppfyltEtterGamleRegler" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="oppfyltVedSammenleggingAvdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="oppfyltVedSammenlegging" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArTrygdetidNorgeKap19"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArTrygdetidNorgeKap19Avdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArTrygdetidNorgeKap20"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="minstTreArTrygdetidNorgeKap20Avdod"
                     type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="forutgaendeTrygdetid" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>