pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.KravHistorikk.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/KravHistorikk"
           version="1.0">

  <xs:complexType name="v1.KravHistorikk">
      <xs:sequence>
         <xs:element form="qualified" name="kravType" type="xs:string"/>
         <xs:element form="qualified" name="mottattDato" type="xs:dateTime"/>
         <xs:element form="qualified" name="virkningstidspunkt" type="xs:dateTime"/>
         <xs:element form="qualified" name="status" type="xs:string"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>