pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.SakAlder.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/sakAlder"
           version="1.0">

  <xs:complexType name="v1.SakAlder">
      <xs:sequence>
         <xs:element form="qualified" name="sakType" type="xs:string"/>
         <xs:element form="qualified" name="uttakFor67" type="xs:boolean"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>