pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.Trygdeavtale.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/trygdeavtale"
           version="1.0">

  <xs:complexType name="v1.Trygdeavtale">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktGP" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktTP" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktGPAvdod" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktTPAvdod" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktGPMor" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktTPMor" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktGPFar" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="erArt10BruktTPFar" type="xs:boolean"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>