pensjonsinformasjon-v1-tjenestespesifikasjon/src/main/resources/pensjonsinformasjon/v1/v1.Ytelseskomponent.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/pensjon/v1/ytelseskomponent"
           version="1.0">

  <xs:complexType name="v1.Ytelseskomponent">
      <xs:sequence>
         <xs:element form="qualified" name="ytelsesKomponentType" type="xs:string"/>
         <xs:element form="qualified" name="belopTilUtbetaling" type="xs:int"/>
         <xs:element form="qualified" name="belopUtenAvkorting" type="xs:int"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>