tildeloppgave-v1/src/main/resources/tildeloppgave/v1/wsdl/TildelOppgaveV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="tildeloppgavev1" targetNamespace="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1">

            <xs:element name="tildelFlereOppgaver" type="tns:tildelFlereOppgaver"/>
            <xs:element name="tildelFlereOppgaverResponse" type="tns:tildelFlereOppgaverResponse"/>
            <xs:element name="ping" type="tns:ping"/>
            <xs:element name="pingResponse" type="tns:pingResponse"/>

            <!--Klasser-->
            <xs:complexType name="ping">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="tildelFlereOppgaver">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tildelFlereOppgaverRequest" type="tns:WSTildelFlereOppgaverRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSTildelFlereOppgaverRequest">
                <xs:sequence>
                    <xs:element name="fagomrade" type="xs:string"/>
                    <xs:element name="underkategori" minOccurs="0" type="xs:string"/>
                    <xs:element name="oppgavetype" type="xs:string"/>
                    <xs:element name="tildelesSaksbehandlerId" type="xs:string"/>
                    <xs:element name="tildeltAvEnhetId" type="xs:int"/>
                    <xs:element name="ikkeTidligereTildeltSaksbehandlerId" minOccurs="0" type="xs:string"/>
                    <xs:element name="maksAntallOppgaver" minOccurs="0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tildelFlereOppgaverResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="tns:WSTildelFlereOppgaverResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSTildelFlereOppgaverResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="oppgaveIder" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ping">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="tildelFlereOppgaver">
        <wsdl:part name="parameters" element="tns:tildelFlereOppgaver">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="tildelFlereOppgaverResponse">
        <wsdl:part name="parameters" element="tns:tildelFlereOppgaverResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="TildelOppgaveV1">
        <wsdl:operation name="tildelFlereOppgaver">
            <wsdl:input name="tildelFlereOppgaver" message="tns:tildelFlereOppgaver">
            </wsdl:input>
            <wsdl:output name="tildelFlereOppgaverResponse" message="tns:tildelFlereOppgaverResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="ping" message="tns:ping">
            </wsdl:input>
            <wsdl:output name="pingResponse" message="tns:pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TildelOppgaveV1SoapBinding" type="tns:TildelOppgaveV1">
        <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="tildelFlereOppgaver">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1/TildelOppgave_v1/tildelFlereOppgaverRequest"/>
            <wsdl:input name="tildelFlereOppgaver">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="tildelFlereOppgaverResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/tildeloppgave/v1/TildelOppgave_v1/pingRequest"/>
            <wsdl:input name="ping">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TildelOppgave_v1">
        <wsdl:port name="TildelOppgaveV1" binding="tns:TildelOppgaveV1SoapBinding">
            <soap:address location="http://localhost:9090/TildelOppgave_v1Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
