cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/utbetaling/ASBOGOSYSUtbetalingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/utbetaling">
  <xsd:complexType name="ASBOGOSYSUtbetalingRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnrOrgnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fomDato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="tomDato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="kodeYtelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="visHistorikk" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
