cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/samhandler/ASBOGOSYSSamhandler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler">
    <xsd:include schemaLocation="ASBOGOSYSAlternativId.xsd"/>
	<xsd:include schemaLocation="ASBOGOSYSAvdeling.xsd"/>
	<xsd:complexType name="ASBOGOSYSSamhandler">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="navn" type="xsd:string"/>
			<xsd:element minOccurs="0" name="sprak" type="xsd:string"/>
			<xsd:element minOccurs="0" name="samhandlerType" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="offentligId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="idType" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="avdelinger" type="bons0:ASBOGOSYSAvdeling">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="alternativeIder" type="bons0:ASBOGOSYSAlternativId">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
