cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/samhandler/ASBOGOSYSAvdeling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler"
	xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler">
	<xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
		schemaLocation="../ASBOGOSYSAdresse.xsd">
	</xsd:import>
	<xsd:include schemaLocation="../ASBOGOSYSKonto.xsd" />
	<xsd:complexType name="ASBOGOSYSAvdeling">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idTSSEkstern"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="avdelingNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="avdelingType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="avdelingsnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontaktperson"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="epost" type="xsd:string" />
			<xsd:element minOccurs="0" name="telefon"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="mobil" type="xsd:string" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="kontoer" type="bons0:ASBOGOSYSKonto">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="aAdresse"
				type="bons1:ASBOGOSYSAdresse">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="pAdresse"
				type="bons1:ASBOGOSYSAdresse">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="tAdresse"
				type="bons1:ASBOGOSYSAdresse">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="uAdresse"
				type="bons1:ASBOGOSYSAdresse">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
