cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Sak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSSak" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Sak">
    <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Sak" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Sak" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak" schemaLocation="../asbo/sak/ASBOGOSYSHentSakListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak" schemaLocation="../asbo/sak/ASBOGOSYSSakListe.xsd"/>
      <xsd:element name="hentSakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakListeRequest" nillable="true" type="bons0:ASBOGOSYSHentSakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakListeResponse" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons1:FaultGOSYSGenerisk"/>
            <xsd:element name="opprettSakBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSakBolkRequest" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSakBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSakBolkResponse" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreSakBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSakBolkRequest" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreSakBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSakBolkResponse" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettEllerHentSakBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettEllerHentSakBolkRequest" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettEllerHentSakBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettEllerHentSakBolkResponse" nillable="true" type="bons0:ASBOGOSYSSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSakListeRequestMsg">
    <wsdl:part element="tns:hentSakListe" name="hentSakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSakListeResponseMsg">
    <wsdl:part element="tns:hentSakListeResponse" name="hentSakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentSakListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettSakBolkRequestMsg">
    <wsdl:part element="tns:opprettSakBolk" name="opprettSakBolkParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSakBolkResponseMsg">
    <wsdl:part element="tns:opprettSakBolkResponse" name="opprettSakBolkResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSakBolk_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreSakBolkRequestMsg">
    <wsdl:part element="tns:lagreSakBolk" name="lagreSakBolkParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSakBolkResponseMsg">
    <wsdl:part element="tns:lagreSakBolkResponse" name="lagreSakBolkResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSakBolk_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettEllerHentSakBolkRequestMsg">
    <wsdl:part element="tns:opprettEllerHentSakBolk" name="opprettEllerHentSakBolkParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettEllerHentSakBolkResponseMsg">
    <wsdl:part element="tns:opprettEllerHentSakBolkResponse" name="opprettEllerHentSakBolkResult"/>
  </wsdl:message>
    <wsdl:message name="opprettEllerHentSakBolk_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSSak">
    <wsdl:operation name="hentSakListe">
      <wsdl:input message="tns:hentSakListeRequestMsg" name="hentSakListeRequest"/>
      <wsdl:output message="tns:hentSakListeResponseMsg" name="hentSakListeResponse"/>
            <wsdl:fault message="tns:hentSakListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
        <wsdl:operation name="opprettSakBolk">
      <wsdl:input message="tns:opprettSakBolkRequestMsg" name="opprettSakBolkRequest"/>
      <wsdl:output message="tns:opprettSakBolkResponseMsg" name="opprettSakBolkResponse"/>
      <wsdl:fault message="tns:opprettSakBolk_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="lagreSakBolk">
      <wsdl:input message="tns:lagreSakBolkRequestMsg" name="lagreSakBolkRequest"/>
      <wsdl:output message="tns:lagreSakBolkResponseMsg" name="lagreSakBolkResponse"/>
      <wsdl:fault message="tns:lagreSakBolk_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="opprettEllerHentSakBolk">
      <wsdl:input message="tns:opprettEllerHentSakBolkRequestMsg" name="opprettEllerHentSakBolkRequest"/>
      <wsdl:output message="tns:opprettEllerHentSakBolkResponseMsg" name="opprettEllerHentSakBolkResponse"/>
      <wsdl:fault message="tns:opprettEllerHentSakBolk_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
