cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSNAVOrgEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSNAVOrgEnhet" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet">
  <wsdl:types>
    <xsd:schema xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navorgenhet" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navorgenhet" schemaLocation="../fault/navorgenhet/FaultGOSYSNAVOrgEnhetIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSHentSpesialEnhetTilPersonRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSHentNAVEnhetListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSFinnArenaNAVEnhetListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSNAVEnhetListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSFinnNAVEnhetRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSNavEnhet.xsd"/>
      <xsd:element name="hentNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetRequest" nillable="true" type="bons2:ASBOGOSYSNavEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetResponse" nillable="true" type="bons2:ASBOGOSYSNavEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhet_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentNAVEnhet_faultGOSYSNAVEnhetIkkeFunneta" type="bons4:FaultGOSYSNAVOrgEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeRequest" nillable="true" type="bons2:ASBOGOSYSHentNAVEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeResponse" nillable="true" type="bons2:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentNAVEnhetListe_faultGOSYSNAVEnhetIkkeFunnet" type="bons4:FaultGOSYSNAVOrgEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhetGruppeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeRequest" nillable="true" type="bons2:ASBOGOSYSNavEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetGruppeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeResponse" nillable="true" type="bons2:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetGruppeListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentNAVEnhetGruppeListe_faultGOSYSNAVEnhetIkkeFunnet" type="bons4:FaultGOSYSNAVOrgEnhetIkkeFunnet"/>
      <xsd:element name="finnNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetRequest" nillable="true" type="bons2:ASBOGOSYSFinnNAVEnhetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetResponse" nillable="true" type="bons2:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVEnhet_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentSpesialEnhetTilPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialEnhetTilPersonRequest" nillable="true" type="bons2:ASBOGOSYSHentSpesialEnhetTilPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialEnhetTilPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialEnhetTilPersonResponse" nillable="true" type="bons2:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialEnhetTilPerson_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentSpesialEnhetTilPerson_faultGOSYSPersonIkkeFunnet" type="bons3:FaultGOSYSPersonIkkeFunnet"/>
      <xsd:element name="hentSpesialEnhetTilPerson_faultGOSYSNAVEnhetIkkeFunnet" type="bons4:FaultGOSYSNAVOrgEnhetIkkeFunnet"/>
            <xsd:element name="finnArenaNAVEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVEnhetListeRequest" nillable="true" type="bons2:ASBOGOSYSFinnArenaNAVEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnArenaNAVEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVEnhetListeResponse" nillable="true" type="bons2:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentNAVEnhetRequestMsg">
    <wsdl:part element="bons0:hentNAVEnhet" name="hentNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetResponseMsg">
    <wsdl:part element="bons0:hentNAVEnhetResponse" name="hentNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhet_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVEnhet_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhet_faultGOSYSNAVEnhetIkkeFunnetaMsg">
    <wsdl:part element="bons0:hentNAVEnhet_faultGOSYSNAVEnhetIkkeFunneta" name="faultGOSYSNAVEnhetIkkeFunneta"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeRequestMsg">
    <wsdl:part element="bons0:hentNAVEnhetListe" name="hentNAVEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeResponseMsg">
    <wsdl:part element="bons0:hentNAVEnhetListeResponse" name="hentNAVEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVEnhetListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListe_faultGOSYSNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVEnhetListe_faultGOSYSNAVEnhetIkkeFunnet" name="faultGOSYSNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeRequestMsg">
    <wsdl:part element="bons0:hentNAVEnhetGruppeListe" name="hentNAVEnhetGruppeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeResponseMsg">
    <wsdl:part element="bons0:hentNAVEnhetGruppeListeResponse" name="hentNAVEnhetGruppeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVEnhetGruppeListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListe_faultGOSYSNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVEnhetGruppeListe_faultGOSYSNAVEnhetIkkeFunnet" name="faultGOSYSNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetRequestMsg">
    <wsdl:part element="bons0:finnNAVEnhet" name="finnNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetResponseMsg">
    <wsdl:part element="bons0:finnNAVEnhetResponse" name="finnNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhet_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:finnNAVEnhet_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialEnhetTilPersonRequestMsg">
    <wsdl:part element="bons0:hentSpesialEnhetTilPerson" name="hentSpesialEnhetTilPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialEnhetTilPersonResponseMsg">
    <wsdl:part element="bons0:hentSpesialEnhetTilPersonResponse" name="hentSpesialEnhetTilPersonResult"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialEnhetTilPerson_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentSpesialEnhetTilPerson_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialEnhetTilPerson_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentSpesialEnhetTilPerson_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialEnhetTilPerson_faultGOSYSNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="bons0:hentSpesialEnhetTilPerson_faultGOSYSNAVEnhetIkkeFunnet" name="faultGOSYSNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListeRequestMsg">
    <wsdl:part element="bons0:finnArenaNAVEnhetListe" name="finnArenaNAVEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListeResponseMsg">
    <wsdl:part element="bons0:finnArenaNAVEnhetListeResponse" name="finnArenaNAVEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVEnhet_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSNAVOrgEnhet">
    <wsdl:operation name="hentNAVEnhet">
      <wsdl:input message="bons0:hentNAVEnhetRequestMsg" name="hentNAVEnhetRequest"/>
      <wsdl:output message="bons0:hentNAVEnhetResponseMsg" name="hentNAVEnhetResponse"/>
      <wsdl:fault message="bons0:hentNAVEnhet_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:hentNAVEnhet_faultGOSYSNAVEnhetIkkeFunnetaMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetListe">
      <wsdl:input message="bons0:hentNAVEnhetListeRequestMsg" name="hentNAVEnhetListeRequest"/>
      <wsdl:output message="bons0:hentNAVEnhetListeResponseMsg" name="hentNAVEnhetListeResponse"/>
      <wsdl:fault message="bons0:hentNAVEnhetListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:hentNAVEnhetListe_faultGOSYSNAVEnhetIkkeFunnetMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetGruppeListe">
      <wsdl:input message="bons0:hentNAVEnhetGruppeListeRequestMsg" name="hentNAVEnhetGruppeListeRequest"/>
      <wsdl:output message="bons0:hentNAVEnhetGruppeListeResponseMsg" name="hentNAVEnhetGruppeListeResponse"/>
      <wsdl:fault message="bons0:hentNAVEnhetGruppeListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:hentNAVEnhetGruppeListe_faultGOSYSNAVEnhetIkkeFunnetMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="finnNAVEnhet">
      <wsdl:input message="bons0:finnNAVEnhetRequestMsg" name="finnNAVEnhetRequest"/>
      <wsdl:output message="bons0:finnNAVEnhetResponseMsg" name="finnNAVEnhetResponse"/>
      <wsdl:fault message="bons0:finnNAVEnhet_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="hentSpesialEnhetTilPerson">
      <wsdl:input message="bons0:hentSpesialEnhetTilPersonRequestMsg" name="hentSpesialEnhetTilPersonRequest"/>
      <wsdl:output message="bons0:hentSpesialEnhetTilPersonResponseMsg" name="hentSpesialEnhetTilPersonResponse"/>
      <wsdl:fault message="bons0:hentSpesialEnhetTilPerson_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:hentSpesialEnhetTilPerson_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
      <wsdl:fault message="bons0:hentSpesialEnhetTilPerson_faultGOSYSNAVEnhetIkkeFunnetMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="finnArenaNAVEnhetListe">
      <wsdl:input message="bons0:finnArenaNAVEnhetListeRequestMsg" name="finnArenaNAVEnhetListeRequest"/>
      <wsdl:output message="bons0:finnArenaNAVEnhetListeResponseMsg" name="finnArenaNAVEnhetListe3Msg1"/>
            <wsdl:fault message="bons0:finnArenaNAVEnhetListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
