cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSInfotrygdVedtak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="no.nav.inf" xmlns:bons1="no.nav.gosys.asbo.infotrygdvedtak" xmlns:bons2="no.nav.gosys.fault" xmlns:tns="no.nav.inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSInfotrygdVedtak" targetNamespace="no.nav.inf">
    <wsdl:types>
    <xsd:schema xmlns:bons0="no.nav.inf" xmlns:tns="no.nav.inf" targetNamespace="no.nav.inf" xmlns:bons1="no.nav.gosys.asbo.infotrygdvedtak" xmlns:bons2="no.nav.gosys.fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="no.nav.gosys.asbo.infotrygdvedtak" schemaLocation="../asbo/infotrygdvedtak/ASBOGOSYSInfotrygdVedtakListe.xsd"/>
            <xsd:import namespace="no.nav.gosys.fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="no.nav.gosys.asbo.infotrygdvedtak" schemaLocation="../asbo/infotrygdvedtak/ASBOGOSYSHentInfotrygdVedtakListeRequest.xsd"/>
      <xsd:element name="hentVedtakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakListeRequest" nillable="true" type="bons1:ASBOGOSYSHentInfotrygdVedtakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVedtakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakListeResponse" nillable="true" type="bons1:ASBOGOSYSInfotrygdVedtakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons2:FaultGOSYSGenerisk"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentVedtakListeRequestMsg">
    <wsdl:part element="tns:hentVedtakListe" name="hentVedtakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentVedtakListeResponseMsg">
    <wsdl:part element="tns:hentVedtakListeResponse" name="hentVedtakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentVedtakListe_faultGosysGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGosysGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSInfotrygdVedtak">
    <wsdl:operation name="hentVedtakListe">
      <wsdl:input message="tns:hentVedtakListeRequestMsg" name="hentVedtakListeRequest"/>
      <wsdl:output message="tns:hentVedtakListeResponseMsg" name="hentVedtakListeResponse"/>
            <wsdl:fault message="tns:hentVedtakListe_faultGosysGeneriskMsg" name="faultGosysGenerisk"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
