cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSPerson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKPerson" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person">
  <wsdl:types>
    <xsd:schema xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Person" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/person" schemaLocation="../fault/person/FaultGOSYSBrukerprofilIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSSlettAdresseRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSHentHistorikkRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSHentSamboerforholdRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSLagreTelefonummerRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSTomRespons.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSLagreAdresseRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSHentPersonRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSPerson.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSHentFamilierelasjonerRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSFinnPersonResponse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" schemaLocation="../asbo/person/ASBOGOSYSFinnPersonRequest.xsd"/>
            <xsd:element name="hentPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonRequest" nillable="true" type="bons3:ASBOGOSYSHentPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPerson_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="hentKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonsResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontoinformasjon_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="hentHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHistorikkRequest" nillable="true" type="bons3:ASBOGOSYSHentHistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHistorikkResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHistorikk_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="hentBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrukerprofil_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreEpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreEpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreEpost_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreTelefonnumre">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreRequest" nillable="true" type="bons3:ASBOGOSYSLagreTelefonummerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTelefonnumreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTelefonnumre_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreSprak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSprakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSprak_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseRequest" nillable="true" type="bons3:ASBOGOSYSLagreAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreAdresse_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKontoinformasjonRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagrekontoinformasjonResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreKontoinformasjon_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreBrukerprofil_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="finnPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnPersonRequest" nillable="true" type="bons3:ASBOGOSYSFinnPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnPersonResponse" nillable="true" type="bons3:ASBOGOSYSFinnPersonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnPerson_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
      <xsd:element name="erEgenansatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="erEgenansattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattResponse" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="erEgenansatt_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
            <xsd:element name="hentSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdRequest" nillable="true" type="bons3:ASBOGOSYSHentSamboerforholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforhold_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
            <xsd:element name="hentPerson_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="hentKontoinformasjon_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="hentHistorikk_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="hentBrukerprofil_faultGOSYSBrukerprofilIkkeFunnet" type="bons1:FaultGOSYSBrukerprofilIkkeFunnet"/>
            <xsd:element name="lagreEpost_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreTelefonnumre_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreSprak_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreAdresse_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreKontoinformasjon_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreBrukerprofil_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="erEgenansatt_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="hentSamboerforhold_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="hentFamilierelasjoner">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerRequest" nillable="true" type="bons3:ASBOGOSYSHentFamilierelasjonerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjonerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerResponse" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjoner_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
            <xsd:element name="hentFamilierelasjoner_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="slettAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseRequest" nillable="true" type="bons3:ASBOGOSYSSlettAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresse_faultGOSYSGenerisk" type="bons4:FaultGOSYSGenerisk"/>
            <xsd:element name="slettAdresse_faultGOSYSPersonIkkeFunnet" type="bons4:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="lagreNavn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreNavnRequest" nillable="true" type="bons3:ASBOGOSYSPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreNavnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreNavnResponse" nillable="true" type="bons3:ASBOGOSYSTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPersonRequestMsg">
    <wsdl:part element="bons0:hentPerson" name="hentPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonResponseMsg">
    <wsdl:part element="bons0:hentPersonResponse" name="hentPersonResult"/>
  </wsdl:message>
    <wsdl:message name="hentPerson_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentPerson_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonRequestMsg">
    <wsdl:part element="bons0:hentKontoinformasjon" name="hentKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonResponseMsg">
    <wsdl:part element="bons0:hentKontoinformasjonResponse" name="hentKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjon_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentKontoinformasjon_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikkRequestMsg">
    <wsdl:part element="bons0:hentHistorikk" name="hentHistorikkParameters"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikkResponseMsg">
    <wsdl:part element="bons0:hentHistorikkResponse" name="hentHistorikkResult"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikk_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentHistorikk_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilRequestMsg">
    <wsdl:part element="bons0:hentBrukerprofil" name="hentBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilResponseMsg">
    <wsdl:part element="bons0:hentBrukerprofilResponse" name="hentBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofil_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentBrukerprofil_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostRequestMsg">
    <wsdl:part element="bons0:lagreEpost" name="lagreEpostParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostResponseMsg">
    <wsdl:part element="bons0:lagreEpostResponse" name="lagreEpostResult"/>
  </wsdl:message>
    <wsdl:message name="lagreEpost_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreEpost_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreRequestMsg">
    <wsdl:part element="bons0:lagreTelefonnumre" name="lagreTelefonnumreParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreResponseMsg">
    <wsdl:part element="bons0:lagreTelefonnumreResponse" name="lagreTelefonnumreResult"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumre_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreTelefonnumre_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakRequestMsg">
    <wsdl:part element="bons0:lagreSprak" name="lagreSprakParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakResponseMsg">
    <wsdl:part element="bons0:lagreSprakResponse" name="lagreSprakResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSprak_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreSprak_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseRequestMsg">
    <wsdl:part element="bons0:lagreAdresse" name="lagreAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseResponseMsg">
    <wsdl:part element="bons0:lagreAdresseResponse" name="lagreAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresse_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreAdresse_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonRequestMsg">
    <wsdl:part element="bons0:lagreKontoinformasjon" name="lagreKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonResponseMsg">
    <wsdl:part element="bons0:lagreKontoinformasjonResponse" name="lagreKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjon_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreKontoinformasjon_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilRequestMsg">
    <wsdl:part element="bons0:lagreBrukerprofil" name="lagreBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilResponseMsg">
    <wsdl:part element="bons0:lagreBrukerprofilResponse" name="lagreBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofil_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreBrukerprofil_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="finnPersonRequestMsg">
    <wsdl:part element="bons0:finnPerson" name="finnPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="finnPersonResponseMsg">
    <wsdl:part element="bons0:finnPersonResponse" name="finnPersonResult"/>
  </wsdl:message>
    <wsdl:message name="finnPerson_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:finnPerson_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattRequestMsg">
    <wsdl:part element="bons0:erEgenansatt" name="erEgenansattParameters"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattResponseMsg">
    <wsdl:part element="bons0:erEgenansattResponse" name="erEgenansattResult"/>
  </wsdl:message>
    <wsdl:message name="erEgenansatt_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:erEgenansatt_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdRequestMsg">
    <wsdl:part element="bons0:hentSamboerforhold" name="hentSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdResponseMsg">
    <wsdl:part element="bons0:hentSamboerforholdResponse" name="hentSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforhold_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentSamboerforhold_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentPerson_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentPerson_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjon_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentKontoinformasjon_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikk_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentHistorikk_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofil_faultGOSYSBrukerprofilIkkeFunnetMsg">
    <wsdl:part element="bons0:hentBrukerprofil_faultGOSYSBrukerprofilIkkeFunnet" name="faultGOSYSBrukerprofilIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreEpost_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreEpost_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumre_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreTelefonnumre_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSprak_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreSprak_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresse_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreAdresse_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjon_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreKontoinformasjon_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofil_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:lagreBrukerprofil_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="erEgenansatt_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:erEgenansatt_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforhold_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentSamboerforhold_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerRequestMsg">
    <wsdl:part element="bons0:hentFamilierelasjoner" name="hentFamilierelasjonerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerResponseMsg">
    <wsdl:part element="bons0:hentFamilierelasjonerResponse" name="hentFamilierelasjonerResult"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjoner_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentFamilierelasjoner_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjoner_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentFamilierelasjoner_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseRequestMsg">
    <wsdl:part element="bons0:slettAdresse" name="slettAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseResponseMsg">
    <wsdl:part element="bons0:slettAdresseResponse" name="slettAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="slettAdresse_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:slettAdresse_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettAdresse_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:slettAdresse_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreNavnRequestMsg">
    <wsdl:part element="bons0:lagreNavn" name="lagreNavnParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreNavnResponseMsg">
    <wsdl:part element="bons0:lagreNavnResponse" name="lagreNavnResult"/>
  </wsdl:message>
    <wsdl:message name="lagreNavn_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentPerson_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreNavn_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:hentPerson_faultGOSYSPersonIkkeFunnet" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSPerson">
    <wsdl:operation name="hentPerson">
      <wsdl:input message="bons0:hentPersonRequestMsg" name="hentPersonRequest"/>
      <wsdl:output message="bons0:hentPersonResponseMsg" name="hentPersonResponse"/>
      <wsdl:fault message="bons0:hentPerson_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentPerson_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentKontoinformasjon">
      <wsdl:input message="bons0:hentKontoinformasjonRequestMsg" name="hentKontoinformasjonRequest"/>
      <wsdl:output message="bons0:hentKontoinformasjonResponseMsg" name="hentKontoinformasjonResponse"/>
      <wsdl:fault message="bons0:hentKontoinformasjon_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentKontoinformasjon_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentHistorikk">
      <wsdl:input message="bons0:hentHistorikkRequestMsg" name="hentHistorikkRequest"/>
      <wsdl:output message="bons0:hentHistorikkResponseMsg" name="hentHistorikkResponse"/>
      <wsdl:fault message="bons0:hentHistorikk_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentHistorikk_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentBrukerprofil">
      <wsdl:input message="bons0:hentBrukerprofilRequestMsg" name="hentBrukerprofilRequest"/>
      <wsdl:output message="bons0:hentBrukerprofilResponseMsg" name="hentBrukerprofilResponse"/>
      <wsdl:fault message="bons0:hentBrukerprofil_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentBrukerprofil_faultGOSYSBrukerprofilIkkeFunnetMsg" name="faultGOSYSBrukerprofilIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreEpost">
      <wsdl:input message="bons0:lagreEpostRequestMsg" name="lagreEpostRequest"/>
      <wsdl:output message="bons0:lagreEpostResponseMsg" name="lagreEpostResponse"/>
      <wsdl:fault message="bons0:lagreEpost_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreEpost_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreTelefonnumre">
      <wsdl:input message="bons0:lagreTelefonnumreRequestMsg" name="lagreTelefonnumreRequest"/>
      <wsdl:output message="bons0:lagreTelefonnumreResponseMsg" name="lagreTelefonnumreResponse"/>
      <wsdl:fault message="bons0:lagreTelefonnumre_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreTelefonnumre_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreSprak">
      <wsdl:input message="bons0:lagreSprakRequestMsg" name="lagreSprakRequest"/>
      <wsdl:output message="bons0:lagreSprakResponseMsg" name="lagreSprakResponse"/>
      <wsdl:fault message="bons0:lagreSprak_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreSprak_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreAdresse">
      <wsdl:input message="bons0:lagreAdresseRequestMsg" name="lagreAdresseRequest"/>
      <wsdl:output message="bons0:lagreAdresseResponseMsg" name="lagreAdresseResponse"/>
      <wsdl:fault message="bons0:lagreAdresse_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreAdresse_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreKontoinformasjon">
      <wsdl:input message="bons0:lagreKontoinformasjonRequestMsg" name="lagreKontoinformasjonRequest"/>
      <wsdl:output message="bons0:lagreKontoinformasjonResponseMsg" name="lagreKontoinformasjonResponse"/>
      <wsdl:fault message="bons0:lagreKontoinformasjon_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreKontoinformasjon_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreBrukerprofil">
      <wsdl:input message="bons0:lagreBrukerprofilRequestMsg" name="lagreBrukerprofilRequest"/>
      <wsdl:output message="bons0:lagreBrukerprofilResponseMsg" name="lagreBrukerprofilResponse"/>
      <wsdl:fault message="bons0:lagreBrukerprofil_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:lagreBrukerprofil_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="finnPerson">
      <wsdl:input message="bons0:finnPersonRequestMsg" name="finnPersonRequest"/>
      <wsdl:output message="bons0:finnPersonResponseMsg" name="finnPersonResponse"/>
      <wsdl:fault message="bons0:finnPerson_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="erEgenansatt">
      <wsdl:input message="bons0:erEgenansattRequestMsg" name="erEgenansattRequest"/>
      <wsdl:output message="bons0:erEgenansattResponseMsg" name="erEgenansattResponse"/>
      <wsdl:fault message="bons0:erEgenansatt_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:erEgenansatt_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentSamboerforhold">
      <wsdl:input message="bons0:hentSamboerforholdRequestMsg" name="hentSamboerforholdRequest"/>
      <wsdl:output message="bons0:hentSamboerforholdResponseMsg" name="hentSamboerforholdResponse"/>
      <wsdl:fault message="bons0:hentSamboerforhold_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentSamboerforhold_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentFamilierelasjoner">
      <wsdl:input message="bons0:hentFamilierelasjonerRequestMsg" name="hentFamilierelasjonerRequest"/>
      <wsdl:output message="bons0:hentFamilierelasjonerResponseMsg" name="hentFamilierelasjonerResponse"/>
            <wsdl:fault message="bons0:hentFamilierelasjoner_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentFamilierelasjoner_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="slettAdresse">
      <wsdl:input message="bons0:slettAdresseRequestMsg" name="slettAdresseRequest"/>
      <wsdl:output message="bons0:slettAdresseResponseMsg" name="slettAdresseResponse"/>
      <wsdl:fault message="bons0:slettAdresse_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:slettAdresse_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreNavn">
      <wsdl:input message="bons0:lagreNavnRequestMsg" name="lagreNavnRequest"/>
      <wsdl:output message="bons0:lagreNavnResponseMsg" name="lagreNavnResponse"/>
      <wsdl:fault message="bons0:lagreNavn_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:lagreNavn_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
