cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSInfotrygdSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/InfotrygdSak" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSInfotrygdSak" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/InfotrygdSak">
    <wsdl:types>
    <xsd:schema xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/infotrygdsak" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/InfotrygdSak" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/InfotrygdSak" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" schemaLocation="../asbo/infotrygdsak/ASBOGOSYSInfotrygdSakListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" schemaLocation="../asbo/infotrygdsak/ASBOGOSYSHentInfotrygdSakListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/infotrygdsak" schemaLocation="../fault/infotrygdsak/FaultGOSYSUgyldigEnhet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" schemaLocation="../asbo/infotrygdsak/ASBOGOSYSBestillInfotrygdSakResponse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak" schemaLocation="../asbo/infotrygdsak/ASBOGOSYSBestillInfotrygdSakRequest.xsd"/>
      <xsd:element name="bestillInfotrygdSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillSakRequest" nillable="true" type="bons4:ASBOGOSYSBestillInfotrygdSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillInfotrygdSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillSakResponse" nillable="true" type="bons4:ASBOGOSYSBestillInfotrygdSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons2:FaultGOSYSGenerisk"/>
            <xsd:element name="FaultGOSYSUgyldigEnhet_element" nillable="true" type="bons3:FaultGOSYSUgyldigEnhet"/>
            <xsd:element name="hentSakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakListeRequest" nillable="true" type="bons4:ASBOGOSYSHentInfotrygdSakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakListeResponse" nillable="true" type="bons4:ASBOGOSYSInfotrygdSakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="bestillInfotrygdSakRequestMsg">
    <wsdl:part element="bons1:bestillInfotrygdSak" name="bestillInfotrygdSakParameters"/>
  </wsdl:message>
    <wsdl:message name="bestillInfotrygdSakResponseMsg">
    <wsdl:part element="bons1:bestillInfotrygdSakResponse" name="bestillInfotrygdSakResult"/>
  </wsdl:message>
    <wsdl:message name="bestillInfotrygdSak_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons1:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="bestillInfotrygdSak_faultGOSYSUgyldigEnhetMsg">
    <wsdl:part element="bons1:FaultGOSYSUgyldigEnhet_element" name="faultGOSYSUgyldigEnhet"/>
  </wsdl:message>
    <wsdl:message name="hentSakListeRequestMsg">
    <wsdl:part element="bons1:hentSakListe" name="hentSakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSakListeResponseMsg">
    <wsdl:part element="bons1:hentSakListeResponse" name="hentSakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentSakListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons1:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSInfotrygdSak">
    <wsdl:operation name="bestillInfotrygdSak">
      <wsdl:input message="bons1:bestillInfotrygdSakRequestMsg" name="bestillInfotrygdSakRequest"/>
      <wsdl:output message="bons1:bestillInfotrygdSakResponseMsg" name="bestillInfotrygdSakResponse"/>
            <wsdl:fault message="bons1:bestillInfotrygdSak_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons1:bestillInfotrygdSak_faultGOSYSUgyldigEnhetMsg" name="faultGOSYSUgyldigEnhet"/>
        </wsdl:operation>
        <wsdl:operation name="hentSakListe">
      <wsdl:input message="bons1:hentSakListeRequestMsg" name="hentSakListeRequest"/>
      <wsdl:output message="bons1:hentSakListeResponseMsg" name="hentSakListeResponse"/>
      <wsdl:fault message="bons1:hentSakListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
