cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSUtbetaling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="no.nav.inf" xmlns:bons1="no.nav.inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSUtbetaling" targetNamespace="no.nav.inf">
  <wsdl:types>
    <xsd:schema xmlns:bons1="no.nav.gosys.fault" xmlns:bons4="no.nav.gosys.asbo.utbetaling" targetNamespace="no.nav.inf" xmlns:bons0="no.nav.inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="no.nav.gosys.fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="no.nav.gosys.asbo.utbetaling" schemaLocation="../asbo/utbetaling/ASBOGOSYSUtbetalingRequest.xsd"/>
            <xsd:import namespace="no.nav.gosys.asbo.utbetaling" schemaLocation="../asbo/utbetaling/ASBOGOSYSUtbetalingResponse.xsd"/>
            <xsd:element name="hentUtbetalingListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentUtbetalingListeRequest" nillable="true" type="bons4:ASBOGOSYSUtbetalingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentUtbetalingListeResponse" nillable="true" type="bons4:ASBOGOSYSUtbetalingResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingListe_faultGOSYSGeneriskg" type="bons1:FaultGOSYSGenerisk"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentUtbetalingListeRequestMsg">
    <wsdl:part element="bons0:hentUtbetalingListe" name="hentUtbetalingListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentUtbetalingListeResponseMsg">
    <wsdl:part element="bons0:hentUtbetalingListeResponse" name="hentUtbetalingListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentUtbetalingListe_faultGOSYSGeneriskgMsg">
    <wsdl:part element="bons0:hentUtbetalingListe_faultGOSYSGeneriskg" name="faultGOSYSGeneriskg"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSUtbetaling">
    <wsdl:operation name="hentUtbetalingListe">
      <wsdl:input message="bons0:hentUtbetalingListeRequestMsg" name="hentUtbetalingListeRequest"/>
      <wsdl:output message="bons0:hentUtbetalingListeResponseMsg" name="hentUtbetalingListeResponse"/>
      <wsdl:fault message="bons0:hentUtbetalingListe_faultGOSYSGeneriskgMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
