organisasjonEnhet-v1/src/main/resources/organisasjonEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="organisasjonEnhet" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1"
                    xmlns:feil="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/feil"
                    xmlns:meldinger="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/feil"
                        schemaLocation="no/nav/tjeneste/virksomhet/organisasjonEnhet/v1/feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhet/v1/meldinger"
                        schemaLocation="no/nav/tjeneste/virksomhet/organisasjonEnhet/v1/meldinger/meldinger.xsd"/>
            <xsd:element name="hentEnhetBolk">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:HentEnhetBolkRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentEnhetBolkResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:HentEnhetBolkResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentEnhetBolkugyldigInput" type="feil:UgyldigInput"/>
            <xsd:element name="hentFullstendigEnhetListe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:HentFullstendigEnhetListeRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentFullstendigEnhetListeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:HentFullstendigEnhetListeResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnEnheterForArbeidsfordelingBolk">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:FinnEnheterForArbeidsfordelingBolkRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnEnheterForArbeidsfordelingBolkResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response"
                                     type="meldinger:FinnEnheterForArbeidsfordelingBolkResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnEnheterForArbeidsfordelingBolkugyldigInput" type="feil:UgyldigInput"/>
            <xsd:element name="finnNAVKontorForGeografiskNedslagsfeltBolk">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:FinnNAVKontorForGeografiskNedslagsfeltBolkRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnNAVKontorForGeografiskNedslagsfeltBolkResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response"
                                     type="meldinger:FinnNAVKontorForGeografiskNedslagsfeltBolkResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnNAVKontorForGeografiskNedslagsfeltBolkUgyldigInput" type="feil:UgyldigInput"/>
            <xsd:element name="finnArbeidsfordelingBolk">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:FinnArbeidsfordelingBolkRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnArbeidsfordelingBolkResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:FinnArbeidsfordelingBolkResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnArbeidsfordelingBolkUgyldigInput" type="feil:UgyldigInput"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="finnArbeidsfordelingBolkResponse">
        <wsdl:part name="parameters" element="tns:finnArbeidsfordelingBolkResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentEnhetBolkRequest">
        <wsdl:part name="parameters" element="tns:hentEnhetBolk">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnNAVKontorForGeografiskNedslagsfeltBolk_UgyldigInput">
        <wsdl:part name="UgyldigInput" element="tns:finnNAVKontorForGeografiskNedslagsfeltBolkUgyldigInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnEnheterForArbeidsfordelingBolk_ugyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:finnEnheterForArbeidsfordelingBolkugyldigInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentEnhetBolk_ugyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:hentEnhetBolkugyldigInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnArbeidsfordelingBolkRequest">
        <wsdl:part name="parameters" element="tns:finnArbeidsfordelingBolk">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnEnheterForArbeidsfordelingBolkRequest">
        <wsdl:part name="parameters" element="tns:finnEnheterForArbeidsfordelingBolk">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnEnheterForArbeidsfordelingBolkResponse">
        <wsdl:part name="parameters" element="tns:finnEnheterForArbeidsfordelingBolkResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentEnhetBolkResponse">
        <wsdl:part name="parameters" element="tns:hentEnhetBolkResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentFullstendigEnhetListeResponse">
        <wsdl:part name="parameters" element="tns:hentFullstendigEnhetListeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnNAVKontorForGeografiskNedslagsfeltBolkRequest">
        <wsdl:part name="parameters" element="tns:finnNAVKontorForGeografiskNedslagsfeltBolk">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentFullstendigEnhetListeRequest">
        <wsdl:part name="parameters" element="tns:hentFullstendigEnhetListe">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnArbeidsfordelingBolk_UgyldigInput">
        <wsdl:part name="UgyldigInput" element="tns:finnArbeidsfordelingBolkUgyldigInput">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnNAVKontorForGeografiskNedslagsfeltBolkResponse">
        <wsdl:part name="parameters" element="tns:finnNAVKontorForGeografiskNedslagsfeltBolkResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrganisasjonEnhet_v1">
        <wsdl:operation name="hentEnhetBolk">
            <wsdl:input message="tns:hentEnhetBolkRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentEnhetBolkResponse">
            </wsdl:output>
            <wsdl:fault name="ugyldigInput" message="tns:hentEnhetBolk_ugyldigInput">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hentFullstendigEnhetListe">
            <wsdl:input message="tns:hentFullstendigEnhetListeRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentFullstendigEnhetListeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="finnEnheterForArbeidsfordelingBolk">
            <wsdl:input message="tns:finnEnheterForArbeidsfordelingBolkRequest">
            </wsdl:input>
            <wsdl:output message="tns:finnEnheterForArbeidsfordelingBolkResponse">
            </wsdl:output>
            <wsdl:fault name="ugyldigInput" message="tns:finnEnheterForArbeidsfordelingBolk_ugyldigInput">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finnNAVKontorForGeografiskNedslagsfeltBolk">
            <wsdl:input message="tns:finnNAVKontorForGeografiskNedslagsfeltBolkRequest">
            </wsdl:input>
            <wsdl:output message="tns:finnNAVKontorForGeografiskNedslagsfeltBolkResponse">
            </wsdl:output>
            <wsdl:fault name="UgyldigInput" message="tns:finnNAVKontorForGeografiskNedslagsfeltBolk_UgyldigInput">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finnArbeidsfordelingBolk">
            <wsdl:input message="tns:finnArbeidsfordelingBolkRequest">
            </wsdl:input>
            <wsdl:output message="tns:finnArbeidsfordelingBolkResponse">
            </wsdl:output>
            <wsdl:fault name="UgyldigInput" message="tns:finnArbeidsfordelingBolk_UgyldigInput">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
