behandle-person-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleperson/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           targetNamespace="http://nav.no/tjeneste/virksomhet/behandleperson/v1/meldinger"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleperson/v1/meldinger">

    <xs:complexType name="StelvioFault">
        <xs:sequence>
            <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
            <xs:element minOccurs="0" name="errorSource" type="xs:string"/>
            <xs:element minOccurs="0" name="errorType" type="xs:string"/>
            <xs:element minOccurs="0" name="rootCause" type="xs:string"/>
            <xs:element minOccurs="0" name="dateTimeStamp" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UtenlandskPin">
        <xs:sequence>
            <xs:element name="pin" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;span style="font-size:12pt;font-family:"Times New Roman";"&gt;Identitetsnummer&lt;/span&gt;&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pinKildeKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;span style="font-size:12pt;font-family:"Times New Roman";"&gt;Hvor UtenlandskPin stammer fra&lt;/span&gt;&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UtvidetDatasett">
        <xs:sequence>
            <xs:element name="fodested" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Personens fødested. Del av utvidet datasett.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="morsFornavn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fornavnet til personens mor. Del av utvidet datasett.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="morsFamilienavnVedFodsel" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Etternavnet ved fødsel (pikenavn) for personens mor. Del av utvidet datasett.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farsFornavn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fornavnet til personens far. Del av utvidet datasett.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farsFamilienavnVedFodsel" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Etternavnet ved fødsel for personens far. Del av utvidet datasett.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="endreNavnRequest">
        <xs:sequence>
            <xs:element name="fnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fornavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="mellomnavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="etternavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="kortnavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Periode">
        <xs:sequence>
            <xs:element name="fom" type="xs:date"/>
            <xs:element minOccurs="0" name="tom" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpprettUtenlandskIdentitetRequest">
        <xs:sequence>
            <xs:element name="fnr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fnr/dnr til personen det skal registreres UtenlandskIdentitet til&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="landKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Landkode for landet som har oppgitt identifikasjonen.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sektorKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Sektoren innenfor hvis identifikasjonen er oppgitt. For ikke-EU er dette fagområde.&lt;br&gt;&lt;/i&gt;Påkrevd hvis pinKildeKode er forskjellig fra E501, E502,
                        E511 og E512.&lt;/p&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="institusjonKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Institusjonskode for institusjonen som har oppgitt identifikasjonen.&lt;br&gt;&lt;/i&gt;Påkrevd hvis pinKildeKode er forskjellig fra E501, E502, E511 og E512.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="erNasjonalId" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;For å angi om ident er en nasjonal id i opprinnelsesland. (Nillable)&lt;/i&gt;&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="institusjonNavn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Navnet på institusjon, hvis institusjon utenfor EU.&lt;/i&gt;&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="utenlandskPin" type="meldinger:UtenlandskPin">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Det utenlandske identitetsnummeret på personen.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;Påkrevd hvis ikke utvidet datasett er satt. Kan også kombineres med utvidet
                        datasett.&lt;/p&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="utvidetDatasett" type="meldinger:UtvidetDatasett">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Annen relevant informasjon rundt UtenlandskIdentitet som skal registreres.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;Påkrevd hvis ikke utenlandskPin er satt. Kan også
                        kombineres med utenlandskPin&lt;/p&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OppdaterUtenlandskIdentitetRequest">
        <xs:sequence>
            <xs:element name="fnr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fnr/dnr til personen det skal endres UtenlandsIdentitet til.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="landKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Landkode for landet som har oppgitt identifikasjonen.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sektorKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Sektoren innenfor hvis identifikasjonen er oppgitt. For ikke-EU er dette fagområde.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="institusjonKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Institusjonskode for institusjonen som har oppgitt identifikasjonen.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="erNasjonalId" nillable="true" type="xs:boolean"/>
            <xs:element minOccurs="0" name="institusjonNavn" type="xs:string"/>
            <xs:element minOccurs="0" name="utenlandskPin" type="meldinger:UtenlandskPin">
                <xs:annotation>
                    <xs:documentation>&lt;p &gt;Påkrevd hvis ikke utvidet datasett er satt. Kan også kombineres med utvidet datasett.&lt;/p&gt;&lt;p &gt;&lt;/p&gt;&lt;p &gt;Det utenlandske identitetsnummeret på
                        personen.&lt;/p&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="utvidetDatasett" type="meldinger:UtvidetDatasett">
                <xs:annotation>
                    <xs:documentation>&lt;p &gt;Påkrevd hvis ikke utenlandskId er satt. Kan også kombineres med utenlandsId.&lt;/p&gt;&lt;p &gt;&lt;/p&gt;&lt;p &gt;Annen relevant informasjon rundt UtenlandskIdentitet
                        som skal registreres.&lt;/p&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpphorUtenlandskIdentitetRequest">
        <xs:sequence>
            <xs:element name="fnr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fnr/dnr til personen det skal endres UtenlandsIdentitet til.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="landKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Landkode for landet som har oppgitt identifikasjonen.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sektorKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Sektoren innenfor hvis identifikasjonen er oppgitt. For ikke-EU er dette fagområde.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="institusjonKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Institusjonskode for institusjonen som har oppgitt identifikasjonen.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="utenlandskPin" type="meldinger:UtenlandskPin">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;i&gt;Det utenlandske identitetsnummeret på personen.&lt;br&gt;&lt;/i&gt;Påkrevd hvis ikke sektorKode og institusjonKode er satt.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpprettSikkerhetstiltakRequest">
        <xs:sequence>
            <xs:element name="ident" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fnr til personen det skal registreres tiltak på.&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sikkerhetstiltakstypeKode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Type sikkehetstiltak med kode&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sikkerhetstiltakstypeBeskrivelse" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Type sikkehetstiltak med dekode&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="periode" type="meldinger:Periode">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;&lt;span&gt;Tidsrom når tiltaket skal gjelde (fom - tom)&lt;/span&gt;&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpphorSikkerhetstiltakRequest">
        <xs:sequence>
            <xs:element name="ident" type="xs:string">
                <xs:annotation>
                    <xs:documentation>&lt;p&gt;Fnr til personen det skal registreres tiltak på&lt;/p&gt;</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>