sakogbehandling-tjenestespesifikasjon/sakogbehandling-jaxws/src/main/resources/SakOgBehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SakOgBehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnSakOgBehandlingskjedeListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:FinnSakOgBehandlingskjedeListeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnSakOgBehandlingskjedeListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:FinnSakOgBehandlingskjedeListeResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBehandlingskjedensBehandlinger">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentBehandlingskjedensBehandlingerRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBehandlingskjedensBehandlingerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentBehandlingskjedensBehandlingerResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBehandling">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentBehandlingRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBehandlingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentBehandlingResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakOgBehandlingskjedeListeRequest">
    <wsdl:part name="parameters" element="tns:finnSakOgBehandlingskjedeListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakOgBehandlingskjedeListeResponse">
    <wsdl:part name="parameters" element="tns:finnSakOgBehandlingskjedeListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingResponse">
    <wsdl:part name="parameters" element="tns:hentBehandlingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingRequest">
    <wsdl:part name="parameters" element="tns:hentBehandling">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingskjedensBehandlingerRequest">
    <wsdl:part name="parameters" element="tns:hentBehandlingskjedensBehandlinger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBehandlingskjedensBehandlingerResponse">
    <wsdl:part name="parameters" element="tns:hentBehandlingskjedensBehandlingerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SakOgBehandlingPortType">
    <wsdl:operation name="hentBehandling">
      <wsdl:input name="hentBehandlingRequest" message="tns:hentBehandlingRequest">
    </wsdl:input>
      <wsdl:output name="hentBehandlingResponse" message="tns:hentBehandlingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentBehandlingskjedensBehandlinger">
      <wsdl:input name="hentBehandlingskjedensBehandlingerRequest" message="tns:hentBehandlingskjedensBehandlingerRequest">
    </wsdl:input>
      <wsdl:output name="hentBehandlingskjedensBehandlingerResponse" message="tns:hentBehandlingskjedensBehandlingerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnSakOgBehandlingskjedeListe">
      <wsdl:input name="finnSakOgBehandlingskjedeListeRequest" message="tns:finnSakOgBehandlingskjedeListeRequest">
    </wsdl:input>
      <wsdl:output name="finnSakOgBehandlingskjedeListeResponse" message="tns:finnSakOgBehandlingskjedeListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SakOgBehandlingBinding" type="tns:SakOgBehandlingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentBehandling">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentBehandlingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentBehandlingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentBehandlingskjedensBehandlinger">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentBehandlingskjedensBehandlingerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentBehandlingskjedensBehandlingerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnSakOgBehandlingskjedeListe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finnSakOgBehandlingskjedeListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnSakOgBehandlingskjedeListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SakOgBehandling_v1">
    <wsdl:port name="SakOgBehandling_v1" binding="tns:SakOgBehandlingBinding">
      <soap:address location="http://localhost:9080"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
