behandle-person-v1/src/main/resources/behandleperson/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/behandleperson/v1/BehandlePersonV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://nav.no/tjeneste/virksomhet/behandleperson/v1" name="BehandlePerson_v1"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleperson/v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2006/05/addressing/wsdl">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleperson/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleperson/v1" schemaLocation="BehandlePersonV1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://nav.no/tjeneste/felles/v1/informasjon" schemaLocation="../../../felles/v1/informasjon/informasjon.xsd"/>
    </xsd:schema>
  </types>

  <message name="endreNavn">
    <part name="parameters" element="tns:endreNavn"/>
  </message>
  <message name="endreNavnResponse">
    <part name="parameters" element="tns:endreNavnResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="Sikkerhetsbegrensning">
    <part name="fault" element="tns:Sikkerhetsbegrensning"/>
  </message>
  <message name="UgyldigInput">
    <part name="fault" element="tns:UgyldigInput"/>
  </message>
  <message name="PersonIkkeFunnet">
    <part name="fault" element="tns:PersonIkkeFunnet"/>
  </message>
  <message name="PersonIkkeUtvandret">
    <part name="fault" element="tns:PersonIkkeUtvandret"/>
  </message>
  <message name="BehandlePersonUnntak">
    <part name="fault" element="tns:BehandlePersonUnntak"/>
  </message>
  <message name="opprettUtenlandskIdentitetRequest">
    <part name="parameters" element="tns:opprettUtenlandskIdentitet">
    </part>
  </message>
  <message name="opprettUtenlandskIdentitetResponse">
    <part name="parameters" element="tns:opprettUtenlandskIdentitetResponse">
    </part>
  </message>
  <message name="oppdaterUtenlandskIdentitetRequest">
    <part name="parameters" element="tns:oppdaterUtenlandskIdentitet"/>
  </message>
  <message name="oppdaterUtenlandskIdentitetResponse">
    <part name="parameters" element="tns:oppdaterUtenlandskIdentitetResponse"/>
  </message>
  <message name="opphorUtenlandskIdentitetRequest">
    <part name="parameters" element="tns:opphorUtenlandskIdentitet"/>
  </message>
  <message name="opphorUtenlandskIdentitetResponse">
    <part name="parameters" element="tns:opphorUtenlandskIdentitetResponse"/>
  </message>
  <message name="opprettSikkerhetstiltakRequest">
    <part name="parameters" element="tns:opprettSikkerhetstiltak"/>
  </message>
  <message name="opprettSikkerhetstiltakResponse">
    <part name="parameters" element="tns:opprettSikkerhetstiltakResponse"/>
  </message>
  <message name="opphorSikkerhetstiltakRequest">
    <part name="parameters" element="tns:opphorSikkerhetstiltak"/>
  </message>
  <message name="opphorSikkerhetstiltakResponse">
    <part name="parameters" element="tns:opphorSikkerhetstiltakResponse"/>
  </message>

  <portType name="BehandlePerson_v1">
    <operation name="endreNavn">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavnRequest" message="tns:endreNavn"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavnResponse" message="tns:endreNavnResponse"/>
      <fault message="tns:Sikkerhetsbegrensning" name="Sikkerhetsbegrensning" wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavn/Fault/Sikkerhetsbegrensning"/>
      <fault message="tns:UgyldigInput" name="UgyldigInput" wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavn/Fault/UgyldigInput"/>
      <fault message="tns:PersonIkkeFunnet" name="PersonIkkeFunnet" wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavn/Fault/PersonIkkeFunnet"/>
      <fault message="tns:PersonIkkeUtvandret" name="PersonIkkeUtvandret" wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavn/Fault/PersonIkkeUtvandret"/>
    </operation>
    <operation name="opprettUtenlandskIdentitet">
      <documentation>&lt;p&gt;Operasjonen tilbyr å registrere UtenlandsIdentitet tilknyttet en person.&lt;/p&gt;</documentation>
      <input message="tns:opprettUtenlandskIdentitetRequest"/>
      <output message="tns:opprettUtenlandskIdentitetResponse"/>
      <fault message="tns:BehandlePersonUnntak" name="BehandlePersonUnntak"/>
    </operation>
    <operation name="oppdaterUtenlandskIdentitet">
      <documentation>&lt;p&gt;Operasjonen tilbyr å endre det utvidede datasettet tilhørende en UtenlandskIdentitet tilnyttet en person.&lt;/p&gt;&lt;p&gt;NB! fnr, landkode, sektorKode og institusjonsKode
        er alle nøkkelverdier (funksjonell nøkkel) og kan ikke endres. Skal disse endres må man annullere eksisterende innslag og registrere dette på nytt.&lt;/p&gt;
      </documentation>
      <input message="tns:oppdaterUtenlandskIdentitetRequest"/>
      <output message="tns:oppdaterUtenlandskIdentitetResponse"/>
      <fault message="tns:BehandlePersonUnntak" name="BehandlePersonUnntak"/>
    </operation>
    <operation name="opphorUtenlandskIdentitet">
      <documentation>&lt;p&gt;Operasjonen tilbyr å opphøre en UtenlandskIdentitet tilknyttet en person, innslaget blir da en del av historikken for denne personen&lt;/p&gt;</documentation>
      <input message="tns:opphorUtenlandskIdentitetRequest"/>
      <output message="tns:opphorUtenlandskIdentitetResponse"/>
      <fault message="tns:BehandlePersonUnntak" name="BehandlePersonUnntak"/>
    </operation>
    <operation name="opprettSikkerhetstiltak">
      <documentation>&lt;p&gt;&lt;/p&gt;</documentation>
      <input message="tns:opprettSikkerhetstiltakRequest"/>
      <output message="tns:opprettSikkerhetstiltakResponse"/>
      <fault message="tns:BehandlePersonUnntak" name="BehandlePersonUnntak"/>
    </operation>
    <operation name="opphorSikkerhetstiltak">
      <documentation><p></p></documentation>
      <input message="tns:opphorSikkerhetstiltakRequest"/>
      <output message="tns:opphorSikkerhetstiltakResponse"/>
      <fault message="tns:BehandlePersonUnntak" name="BehandlePersonUnntak"/>
    </operation>
    <operation name="ping">
      <input wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/pingRequest" message="tns:ping"/>
      <output wsam:Action="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/pingResponse" message="tns:pingResponse"/>
    </operation>
  </portType>

  <binding name="BehandlePerson_v1PortBinding" type="tns:BehandlePerson_v1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="endreNavn">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/endreNavnRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Sikkerhetsbegrensning">
        <soap:fault name="Sikkerhetsbegrensning" use="literal"/>
      </fault>
      <fault name="UgyldigInput">
        <soap:fault name="UgyldigInput" use="literal"/>
      </fault>
      <fault name="PersonIkkeFunnet">
        <soap:fault name="PersonIkkeFunnet" use="literal"/>
      </fault>
      <fault name="PersonIkkeUtvandret">
        <soap:fault name="PersonIkkeUtvandret" use="literal"/>
      </fault>
    </operation>
    <operation name="opprettUtenlandskIdentitet">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/opprettUtenlandskIdentitetRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BehandlePersonUnntak">
        <soap:fault name="BehandlePersonUnntak" use="literal"/>
      </fault>
    </operation>
    <operation name="oppdaterUtenlandskIdentitet">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/oppdaterUtenlandskIdentitetRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BehandlePersonUnntak">
        <soap:fault name="BehandlePersonUnntak" use="literal"/>
      </fault>
    </operation>
    <operation name="opphorUtenlandskIdentitet">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/opphorUtenlandskIdentitetRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BehandlePersonUnntak">
        <soap:fault name="BehandlePersonUnntak" use="literal"/>
      </fault>
    </operation>
    <operation name="opprettSikkerhetstiltak">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/opprettSikkerhetstiltakRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BehandlePersonUnntak">
        <soap:fault name="BehandlePersonUnntak" use="literal"/>
      </fault>
    </operation>
    <operation name="opphorSikkerhetstiltak">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/opphorSikkerhetstiltakRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BehandlePersonUnntak">
        <soap:fault name="BehandlePersonUnntak" use="literal"/>
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleperson/v1/BehandlePerson_v1/pingRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BehandlePerson_v1">
    <port name="BehandlePerson_v1Port" binding="tns:BehandlePerson_v1PortBinding">
      <soap:address location="http://localhost:9080/virksomhet/behandleperson_v1"/>
    </port>
  </service>
</definitions>