arbeidsforholdv3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsforhold/v3/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/meldinger" xmlns:arbeidsforhold="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/arbeidsforhold" xmlns:finnArbeidsforholdPrArbeidsgiver="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/finnArbeidsforholdPrArbeidsgiver" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/finnArbeidsforholdPrArbeidsgiver" schemaLocation="../informasjon/finnArbeidsforholdPrArbeidsgiver/finnArbeidsforholdPrArbeidsgiver.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/arbeidsforhold" schemaLocation="../informasjon/arbeidsforhold/arbeidsforhold.xsd"/>
  <xsd:complexType name="FinnArbeidstakerePrArbeidsgiverResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidstaker" type="arbeidsforhold:Person">
        <xsd:annotation>
          <xsd:documentation>Alle arbeidstakere (BEGREP-179) som har aktive arbeidsforhold hos arbeidsgiveren (BEGREP-193)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnArbeidsforholdPrArbeidstakerRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="arbeidsforhold:NorskIdent">
        <xsd:annotation>
          <xsd:documentation>Identen som arbeidsforholden tillhør</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsforholdIPeriode" type="arbeidsforhold:Periode">
        <xsd:annotation>
          <xsd:documentation>Filter for å filtrere ut de arbeidsforhold i en spesifikk periode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rapportertSomRegelverk" type="arbeidsforhold:Regelverker">
        <xsd:annotation>
          <xsd:documentation>Filter som angir hvis det skal hentes arbeidsforhold som er rapportert i hht nytt, gammelt, eller både nytt og gammelt regelverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentArbeidsforholdHistorikkResponse">
    <xsd:sequence>
      <xsd:element name="arbeidsforhold" type="arbeidsforhold:Arbeidsforhold">
        <xsd:annotation>
          <xsd:documentation>Et avtaleforhold hvor den ene part (arbeidstakeren, BEGREP-179) forplikter seg til å utføre arbeid for den annen part (arbeidsgiveren, BEGREP-193) i henhold til dennes ledelse, og hvor arbeidsgiveren har risikoen for at arbeidsinnsatsen resulterer i et arbeidsresultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnArbeidsforholdPrArbeidsgiverResponse">
    <xsd:sequence>
      <xsd:element name="erFiltrert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indikator for om responsen er filtrert eller ei.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsforhold" type="arbeidsforhold:Arbeidsforhold">
        <xsd:annotation>
          <xsd:documentation>Et avtaleforhold hvor den ene part (arbeidstakeren, BEGREP-179) forplikter seg til å utføre arbeid for den annen part (arbeidsgiveren, BEGREP-193) i henhold til dennes ledelse, og hvor arbeidsgiveren har risikoen for at arbeidsinnsatsen resulterer i et arbeidsresultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentArbeidsforholdHistorikkRequest">
    <xsd:sequence>
      <xsd:element name="arbeidsforholdId" type="arbeidsforhold:ArbeidsforholdsID">
        <xsd:annotation>
          <xsd:documentation>Unikt ID til et arbeidsforhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnArbeidstakerePrArbeidsgiverRequest">
    <xsd:sequence>
      <xsd:element name="aktoer" type="finnArbeidsforholdPrArbeidsgiver:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder en unik identifikator for arbeidsgiveren i arbeidsforholdet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnArbeidsforholdPrArbeidstakerResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsforhold" type="arbeidsforhold:Arbeidsforhold">
        <xsd:annotation>
          <xsd:documentation>Et avtaleforhold hvor den ene part (arbeidstakeren, BEGREP-179) forplikter seg til å utføre arbeid for den annen part (arbeidsgiveren, BEGREP-193) i henhold til dennes ledelse, og hvor arbeidsgiveren har risikoen for at arbeidsinnsatsen resulterer i et arbeidsresultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnArbeidsforholdPrArbeidsgiverRequest">
    <xsd:sequence>
      <xsd:element name="aktoer" type="finnArbeidsforholdPrArbeidsgiver:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder en unik identifikator for arbeidsgiveren i arbeidsforholdet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsforholdStatusFilter" type="finnArbeidsforholdPrArbeidsgiver:ArbeidsforholdStatusFilter">
        <xsd:annotation>
          <xsd:documentation>Filteret på om det er FOER_A_ORDNINGEN, A_ORDNINGEN, ALLE arbeidsforhold som skal vises. (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rapportertSomRegelverk" type="arbeidsforhold:Regelverker">
        <xsd:annotation>
          <xsd:documentation>Filter som angir hvis det skal hentes arbeidsforhold som er rapportert i hht nytt, gammelt, eller både nytt og gammelt regelverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>