person-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/person/v3/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="person" targetNamespace="http://nav.no/tjeneste/virksomhet/person/v3" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/person/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/person/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/person/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/person/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/person/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/person/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentPersonsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonnavnBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonnavnBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonnavnBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonnavnBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSikkerhetstiltakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSikkerhetstiltakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltakpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentGeografiskTilknytning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentGeografiskTilknytningRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGeografiskTilknytningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentGeografiskTilknytningResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGeografiskTilknytningsikkerhetsbegrensing" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentGeografiskTilknytningpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentEkteskapshistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentEkteskapshistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEkteskapshistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentEkteskapshistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEkteskapshistorikkIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentEkteskapshistorikkSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentPersonerMedSammeAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonerMedSammeAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonerMedSammeAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonerMedSammeAdresseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonerMedSammeAdresseIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentPersonerMedSammeAdresseSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentPersonhistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonhistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonhistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonhistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonhistorikkIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentPersonhistorikkSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentVerge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentVergeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVergeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentVergeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVergeIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentVergesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentGeografiskTilknytningResponse">
    <wsdl:part name="parameters" element="tns:hentGeografiskTilknytningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonResponse">
    <wsdl:part name="parameters" element="tns:hentPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltakResponse">
    <wsdl:part name="parameters" element="tns:hentSikkerhetstiltakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonnavnBolkResponse">
    <wsdl:part name="parameters" element="tns:hentPersonnavnBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVergeRequest">
    <wsdl:part name="parameters" element="tns:hentVerge">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVergeResponse">
    <wsdl:part name="parameters" element="tns:hentVergeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVerge_personIkkeFunnet">
    <wsdl:part name="vergeIkkeFunnet" element="tns:hentVergeIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentVerge_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentVergesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGeografiskTilknytning_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentGeografiskTilknytningpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGeografiskTilknytning_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:hentGeografiskTilknytningsikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltak_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentSikkerhetstiltakpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentGeografiskTilknytningRequest">
    <wsdl:part name="parameters" element="tns:hentGeografiskTilknytning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPerson_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentPersonpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltakRequest">
    <wsdl:part name="parameters" element="tns:hentSikkerhetstiltak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPerson_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentPersonsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonRequest">
    <wsdl:part name="parameters" element="tns:hentPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonnavnBolkRequest">
    <wsdl:part name="parameters" element="tns:hentPersonnavnBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEkteskapshistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentEkteskapshistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEkteskapshistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentEkteskapshistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEkteskapshistorikk_personIkkeFunnet">
    <wsdl:part name="ekteskapshistorikkIkkeFunnet" element="tns:hentEkteskapshistorikkIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEkteskapshistorikk_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentEkteskapshistorikkSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonerMedSammeAdresseRequest">
    <wsdl:part name="parameters" element="tns:hentPersonerMedSammeAdresse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonerMedSammeAdresseResponse">
    <wsdl:part name="parameters" element="tns:hentPersonerMedSammeAdresseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonerMedSammeAdresse_ikkeFunnet">
    <wsdl:part name="personerMedSammeAdresseIkkeFunnet" element="tns:hentPersonerMedSammeAdresseIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonerMedSammeAdresse_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentPersonerMedSammeAdresseSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonhistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentPersonhistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonhistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentPersonhistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonhistorikk_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentPersonhistorikkIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonhistorikk_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentPersonhistorikkSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Person_v3">
    <wsdl:operation name="hentPerson">
      <wsdl:input message="tns:hentPersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPersonResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentPerson_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentPerson_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentPersonnavnBolk">
      <wsdl:input message="tns:hentPersonnavnBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPersonnavnBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentSikkerhetstiltak">
      <wsdl:input message="tns:hentSikkerhetstiltakRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSikkerhetstiltakResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentSikkerhetstiltak_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentGeografiskTilknytning">
      <wsdl:input message="tns:hentGeografiskTilknytningRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentGeografiskTilknytningResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentGeografiskTilknytning_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:hentGeografiskTilknytning_sikkerhetsbegrensing">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVerge">
      <wsdl:input message="tns:hentVergeRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentVergeResponse">
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentVerge_personIkkeFunnet">
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentVerge_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentEkteskapshistorikk">
      <wsdl:input message="tns:hentEkteskapshistorikkRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentEkteskapshistorikkResponse">
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentEkteskapshistorikk_personIkkeFunnet">
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentEkteskapshistorikk_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentPersonerMedSammeAdresse">
      <wsdl:input message="tns:hentPersonerMedSammeAdresseRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentPersonerMedSammeAdresseResponse">
      </wsdl:output>
      <wsdl:fault name="ikkeFunnet" message="tns:hentPersonerMedSammeAdresse_ikkeFunnet">
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentPersonerMedSammeAdresse_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentPersonhistorikk">
      <wsdl:input message="tns:hentPersonhistorikkRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentPersonhistorikkResponse">
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentPersonhistorikk_personIkkeFunnet">
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentPersonhistorikk_sikkerhetsbegrensning">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
