svarut-ks-forsendelsesservice/src/main/resources/ForsendelsesServiceV8.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ks.no/svarut/servicesV8" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ForsendelsesServiceV8" targetNamespace="http://www.ks.no/svarut/servicesV8">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://www.ks.no/svarut/servicesV8" elementFormDefault="unqualified" targetNamespace="http://www.ks.no/svarut/servicesV8" version="1.0">

            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="retreiveForsendelseTyper" type="tns:retreiveForsendelseTyper"/>

            <xs:element name="retreiveForsendelseTyperResponse" type="tns:retreiveForsendelseTyperResponse"/>

            <xs:element name="retrieveForsendelseHistorikk" type="tns:retrieveForsendelseHistorikk"/>

            <xs:element name="retrieveForsendelseHistorikkResponse" type="tns:retrieveForsendelseHistorikkResponse"/>

            <xs:element name="retrieveForsendelseIdByEksternRef" type="tns:retrieveForsendelseIdByEksternRef"/>

            <xs:element name="retrieveForsendelseIdByEksternRefResponse" type="tns:retrieveForsendelseIdByEksternRefResponse"/>

            <xs:element name="retrieveForsendelseStatus" type="tns:retrieveForsendelseStatus"/>

            <xs:element name="retrieveForsendelseStatusResponse" type="tns:retrieveForsendelseStatusResponse"/>

            <xs:element name="retrieveForsendelseStatuser" type="tns:retrieveForsendelseStatuser"/>

            <xs:element name="retrieveForsendelseStatuserResponse" type="tns:retrieveForsendelseStatuserResponse"/>

            <xs:element name="retrieveMottakerSystemForOrgnr" type="tns:retrieveMottakerSystemForOrgnr"/>

            <xs:element name="retrieveMottakerSystemForOrgnrResponse" type="tns:retrieveMottakerSystemForOrgnrResponse"/>

            <xs:element name="sendForsendelse" type="tns:sendForsendelse"/>

            <xs:element name="sendForsendelseMedId" type="tns:sendForsendelseMedId"/>

            <xs:element name="sendForsendelseMedIdResponse" type="tns:sendForsendelseMedIdResponse"/>

            <xs:element name="sendForsendelseResponse" type="tns:sendForsendelseResponse"/>

            <xs:element name="setForsendelseLestAvEksterntSystem" type="tns:setForsendelseLestAvEksterntSystem"/>

            <xs:element name="setForsendelseLestAvEksterntSystemResponse" type="tns:setForsendelseLestAvEksterntSystemResponse"/>

            <xs:element name="startNyForsendelse" type="tns:startNyForsendelse"/>

            <xs:element name="startNyForsendelseResponse" type="tns:startNyForsendelseResponse"/>

            <xs:complexType name="sendForsendelse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forsendelse" type="tns:forsendelse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="forsendelse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="avgivendeSystem" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dokumenter" nillable="true" type="tns:dokument"/>
                    <xs:element minOccurs="0" name="eksternref" type="xs:string"/>
                    <xs:element minOccurs="0" name="forsendelseType" type="xs:string"/>
                    <xs:element minOccurs="0" name="konteringskode" type="xs:string"/>
                    <xs:element name="krevNiva4Innlogging" type="xs:boolean"/>
                    <xs:element name="kryptert" type="xs:boolean"/>
                    <xs:element name="kunDigitalLevering" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lenker" nillable="true" type="tns:lenke"/>
                    <xs:element minOccurs="0" name="metadataForImport" type="tns:noarkMetadataForImport"/>
                    <xs:element minOccurs="0" name="metadataFraAvleverendeSystem" type="tns:noarkMetadataFraAvleverendeSakssystem"/>
                    <xs:element minOccurs="0" name="mottaker" type="tns:adresse"/>
                    <xs:element minOccurs="0" name="printkonfigurasjon" type="tns:printkonfigurasjon"/>
                    <xs:element name="signaturtype" nillable="true" type="tns:signaturType"/>
                    <xs:element name="signeringUtloper" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="svarPaForsendelse" type="xs:string"/>
                    <xs:element name="svarPaForsendelseLink" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="svarSendesTil" type="tns:adresse"/>
                    <xs:element name="tittel" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="dokument">
                <xs:sequence>
                    <xs:element name="data" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element minOccurs="0" name="dokumentType" type="xs:string"/>
                    <xs:element name="filnavn" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="giroarkSider" nillable="true" type="xs:int"/>
                    <xs:element name="mimetype" type="xs:string"/>
                    <xs:element name="skalSigneres" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="lenke">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ledetekst" type="xs:string"/>
                    <xs:element minOccurs="0" name="urlLenke" type="xs:string"/>
                    <xs:element minOccurs="0" name="urlTekst" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="noarkMetadataForImport">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dokumentetsDato" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="journalposttype" type="xs:string"/>
                    <xs:element minOccurs="0" name="journalstatus" type="xs:string"/>
                    <xs:element name="saksaar" type="xs:int"/>
                    <xs:element name="sakssekvensnummer" type="xs:int"/>
                    <xs:element minOccurs="0" name="tittel" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="noarkMetadataFraAvleverendeSakssystem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dokumentetsDato" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ekstraMetadata" nillable="true" type="tns:entry"/>
                    <xs:element name="journalaar" type="xs:int"/>
                    <xs:element minOccurs="0" name="journaldato" type="xs:dateTime"/>
                    <xs:element name="journalpostnummer" type="xs:int"/>
                    <xs:element minOccurs="0" name="journalposttype" type="xs:string"/>
                    <xs:element name="journalsekvensnummer" type="xs:int"/>
                    <xs:element minOccurs="0" name="journalstatus" type="xs:string"/>
                    <xs:element name="saksaar" type="xs:int"/>
                    <xs:element minOccurs="0" name="saksbehandler" type="xs:string"/>
                    <xs:element name="sakssekvensnummer" type="xs:int"/>
                    <xs:element minOccurs="0" name="tittel" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="adresse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="digitalAdresse" type="tns:digitalAdresse"/>
                    <xs:element minOccurs="0" name="postAdresse" type="tns:postAdresse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType abstract="true" name="digitalAdresse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="organisasjonDigitalAdresse">
                <xs:complexContent>
                    <xs:extension base="tns:digitalAdresse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="orgnr" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="personDigitalAdresse">
                <xs:complexContent>
                    <xs:extension base="tns:digitalAdresse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="fnr" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="postAdresse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresse1" type="xs:string"/>
                    <xs:element minOccurs="0" name="adresse2" type="xs:string"/>
                    <xs:element minOccurs="0" name="adresse3" type="xs:string"/>
                    <xs:element minOccurs="0" name="land" type="xs:string"/>
                    <xs:element minOccurs="0" name="navn" type="xs:string"/>
                    <xs:element minOccurs="0" name="postnr" type="xs:string"/>
                    <xs:element minOccurs="0" name="poststed" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="printkonfigurasjon">
                <xs:sequence>
                    <xs:element minOccurs="0" name="brevtype" type="tns:brevtype"/>
                    <xs:element name="fargePrint" type="xs:boolean"/>
                    <xs:element name="tosidig" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendForsendelseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseStatuser">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="forsendelseider" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseStatuserResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:statusResult"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="statusResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forsendelseStatus" type="tns:forsendelseStatus"/>
                    <xs:element minOccurs="0" name="forsendelsesid" type="xs:string"/>
                    <xs:element minOccurs="0" name="sisteStatusEndring" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseIdByEksternRef">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eksternRef" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseIdByEksternRefResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retreiveForsendelseTyper">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="retreiveForsendelseTyperResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="startNyForsendelse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="startNyForsendelseResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseHistorikk">
                <xs:sequence>
                    <xs:element name="forsendelsesid" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseHistorikkResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:forsendelseHistorikk"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="forsendelseHistorikk">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="hendelsesLogg" nillable="true" type="tns:hendelsesLogg"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="hendelsesLogg">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hendelse" type="xs:string"/>
                    <xs:element minOccurs="0" name="tidspunkt" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseStatus">
                <xs:sequence>
                    <xs:element name="forsendelsesid" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveForsendelseStatusResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:forsendelseStatus"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="setForsendelseLestAvEksterntSystem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forsendelsesid" type="xs:string"/>
                    <xs:element minOccurs="0" name="lestAvFodselsnummer" type="xs:string"/>
                    <xs:element minOccurs="0" name="navnPaEksterntSystem" type="xs:string"/>
                    <xs:element minOccurs="0" name="datoLest" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="setForsendelseLestAvEksterntSystemResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="retrieveMottakerSystemForOrgnr">
                <xs:sequence>
                    <xs:element minOccurs="0" name="organisasjonsnr" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveMottakerSystemForOrgnrResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:mottakerForsendelseTyper"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="mottakerForsendelseTyper">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forsendelseType" type="xs:string"/>
                    <xs:element minOccurs="0" name="mottakerid" type="xs:string"/>
                    <xs:element minOccurs="0" name="mottakersystem" type="xs:string"/>
                    <xs:element name="niva" type="xs:int"/>
                    <xs:element minOccurs="0" name="orgnr" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendForsendelseMedId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forsendelse" type="tns:forsendelse"/>
                    <xs:element minOccurs="0" name="forsendelsesid" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendForsendelseMedIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="brevtype">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="APOST"/>
                    <xs:enumeration value="BPOST"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="signaturType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AUTENTISERT_SIGNATUR"/>
                    <xs:enumeration value="AVANSERT_SIGNATUR"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="forsendelseStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MOTTATT"/>
                    <xs:enumeration value="AKSEPTERT"/>
                    <xs:enumeration value="AVVIST"/>
                    <xs:enumeration value="VARSLET"/>
                    <xs:enumeration value="LEST"/>
                    <xs:enumeration value="SENDT_PRINT"/>
                    <xs:enumeration value="PRINTET"/>
                    <xs:enumeration value="MANUELT_HANDTERT"/>
                    <xs:enumeration value="SENDT_DIGITALT"/>
                    <xs:enumeration value="SENDT_SDP"/>
                    <xs:enumeration value="LEVERT_SDP"/>
                    <xs:enumeration value="KLAR_FOR_MOTTAK"/>
                    <xs:enumeration value="IKKE_LEVERT"/>
                </xs:restriction>
            </xs:simpleType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendForsendelse">
        <wsdl:part element="tns:sendForsendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseStatuser">
        <wsdl:part element="tns:retrieveForsendelseStatuser" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseHistorikkResponse">
        <wsdl:part element="tns:retrieveForsendelseHistorikkResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseIdByEksternRefResponse">
        <wsdl:part element="tns:retrieveForsendelseIdByEksternRefResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseIdByEksternRef">
        <wsdl:part element="tns:retrieveForsendelseIdByEksternRef" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseStatusResponse">
        <wsdl:part element="tns:retrieveForsendelseStatusResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendForsendelseMedIdResponse">
        <wsdl:part element="tns:sendForsendelseMedIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retreiveForsendelseTyper">
        <wsdl:part element="tns:retreiveForsendelseTyper" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseHistorikk">
        <wsdl:part element="tns:retrieveForsendelseHistorikk" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveMottakerSystemForOrgnr">
        <wsdl:part element="tns:retrieveMottakerSystemForOrgnr" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendForsendelseMedId">
        <wsdl:part element="tns:sendForsendelseMedId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveMottakerSystemForOrgnrResponse">
        <wsdl:part element="tns:retrieveMottakerSystemForOrgnrResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="startNyForsendelseResponse">
        <wsdl:part element="tns:startNyForsendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retreiveForsendelseTyperResponse">
        <wsdl:part element="tns:retreiveForsendelseTyperResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendForsendelseResponse">
        <wsdl:part element="tns:sendForsendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseStatuserResponse">
        <wsdl:part element="tns:retrieveForsendelseStatuserResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setForsendelseLestAvEksterntSystemResponse">
        <wsdl:part element="tns:setForsendelseLestAvEksterntSystemResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="startNyForsendelse">
        <wsdl:part element="tns:startNyForsendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveForsendelseStatus">
        <wsdl:part element="tns:retrieveForsendelseStatus" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setForsendelseLestAvEksterntSystem">
        <wsdl:part element="tns:setForsendelseLestAvEksterntSystem" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ForsendelsesServiceV8">
        <wsdl:operation name="sendForsendelse">
            <wsdl:input message="tns:sendForsendelse" name="sendForsendelse">
            </wsdl:input>
            <wsdl:output message="tns:sendForsendelseResponse" name="sendForsendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseStatuser">
            <wsdl:input message="tns:retrieveForsendelseStatuser" name="retrieveForsendelseStatuser">
            </wsdl:input>
            <wsdl:output message="tns:retrieveForsendelseStatuserResponse" name="retrieveForsendelseStatuserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseIdByEksternRef">
            <wsdl:input message="tns:retrieveForsendelseIdByEksternRef" name="retrieveForsendelseIdByEksternRef">
            </wsdl:input>
            <wsdl:output message="tns:retrieveForsendelseIdByEksternRefResponse" name="retrieveForsendelseIdByEksternRefResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retreiveForsendelseTyper">
            <wsdl:input message="tns:retreiveForsendelseTyper" name="retreiveForsendelseTyper">
            </wsdl:input>
            <wsdl:output message="tns:retreiveForsendelseTyperResponse" name="retreiveForsendelseTyperResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startNyForsendelse">
            <wsdl:input message="tns:startNyForsendelse" name="startNyForsendelse">
            </wsdl:input>
            <wsdl:output message="tns:startNyForsendelseResponse" name="startNyForsendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseHistorikk">
            <wsdl:input message="tns:retrieveForsendelseHistorikk" name="retrieveForsendelseHistorikk">
            </wsdl:input>
            <wsdl:output message="tns:retrieveForsendelseHistorikkResponse" name="retrieveForsendelseHistorikkResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseStatus">
            <wsdl:input message="tns:retrieveForsendelseStatus" name="retrieveForsendelseStatus">
            </wsdl:input>
            <wsdl:output message="tns:retrieveForsendelseStatusResponse" name="retrieveForsendelseStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setForsendelseLestAvEksterntSystem">
            <wsdl:input message="tns:setForsendelseLestAvEksterntSystem" name="setForsendelseLestAvEksterntSystem">
            </wsdl:input>
            <wsdl:output message="tns:setForsendelseLestAvEksterntSystemResponse" name="setForsendelseLestAvEksterntSystemResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveMottakerSystemForOrgnr">
            <wsdl:input message="tns:retrieveMottakerSystemForOrgnr" name="retrieveMottakerSystemForOrgnr">
            </wsdl:input>
            <wsdl:output message="tns:retrieveMottakerSystemForOrgnrResponse" name="retrieveMottakerSystemForOrgnrResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendForsendelseMedId">
            <wsdl:input message="tns:sendForsendelseMedId" name="sendForsendelseMedId">
            </wsdl:input>
            <wsdl:output message="tns:sendForsendelseMedIdResponse" name="sendForsendelseMedIdResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ForsendelsesServiceV8SoapBinding" type="tns:ForsendelsesServiceV8">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendForsendelse">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendForsendelse">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendForsendelseResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseStatuser">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retrieveForsendelseStatuser">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveForsendelseStatuserResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseIdByEksternRef">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retrieveForsendelseIdByEksternRef">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveForsendelseIdByEksternRefResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retreiveForsendelseTyper">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retreiveForsendelseTyper">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retreiveForsendelseTyperResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startNyForsendelse">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="startNyForsendelse">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startNyForsendelseResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseHistorikk">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retrieveForsendelseHistorikk">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveForsendelseHistorikkResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveForsendelseStatus">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retrieveForsendelseStatus">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveForsendelseStatusResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setForsendelseLestAvEksterntSystem">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="setForsendelseLestAvEksterntSystem">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setForsendelseLestAvEksterntSystemResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveMottakerSystemForOrgnr">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="retrieveMottakerSystemForOrgnr">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveMottakerSystemForOrgnrResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendForsendelseMedId">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendForsendelseMedId">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendForsendelseMedIdResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ForsendelsesServiceV8">
        <wsdl:port binding="tns:ForsendelsesServiceV8SoapBinding" name="ForsendelsesServiceV8">
            <soap12:address location="https://svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV8"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>