nav-fim-arbeidsforhold-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsforhold/v1/Arbeidsforhold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Arbeidsforhold" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnArbeidsforholdPrArbeidsgiver">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnArbeidsforholdPrArbeidsgiverRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnArbeidsforholdPrArbeidsgiverResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnArbeidsforholdPrArbeidsgiverResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnArbeidsforholdPrArbeidstaker">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FinnArbeidsforholdPrArbeidstakerRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnArbeidsforholdPrArbeidstakerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:FinnArbeidsforholdPrArbeidstakerResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ugyldigInput" type="feil:UgyldigInput"/>
			<xs:element name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
			<xs:element name="hentArbeidsforholdHistorikk">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentArbeidsforholdHistorikkRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentArbeidsforholdHistorikkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentArbeidsforholdHistorikkResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="arbeidsforholdIkkeFunnet" type="feil:ArbeidsforholdIkkeFunnet"/>
			<xs:element name="forMangeForekomster" type="feil:ForMangeForekomster"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidsgiverRequest">
		<wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidsgiver"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidsgiverResponse">
		<wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidsgiverResponse"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidsgiverFault">
		<wsdl:part name="ugyldigInput" element="tns:ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidsgiverFault1">
		<wsdl:part name="forMangeForekomster" element="tns:forMangeForekomster"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidstakerRequest">
		<wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidstaker"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidstakerResponse">
		<wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidstakerResponse"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidstakerFault">
		<wsdl:part name="ugyldigInput" element="tns:ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="finnArbeidsforholdPrArbeidstakerFault1">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:message name="hentArbeidsforholdHistorikkRequest">
		<wsdl:part name="parameters" element="tns:hentArbeidsforholdHistorikk"/>
	</wsdl:message>
	<wsdl:message name="hentArbeidsforholdHistorikkResponse">
		<wsdl:part name="parameters" element="tns:hentArbeidsforholdHistorikkResponse"/>
	</wsdl:message>
	<wsdl:message name="arbeidsforholdIkkeFunnet">
		<wsdl:part name="arbeidsforholdIkkeFunnet" element="tns:arbeidsforholdIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="hentArbeidsforholdHistorikkFault">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:portType name="ArbeidsforholdPortType">
		<wsdl:operation name="hentArbeidsforholdHistorikk">
			<wsdl:input name="hentArbeidsforholdHistorikkRequest" message="tns:hentArbeidsforholdHistorikkRequest"/>
			<wsdl:output name="hentArbeidsforholdHistorikkResponse" message="tns:hentArbeidsforholdHistorikkResponse"/>
			<wsdl:fault name="arbeidsforholdIkkeFunnet" message="tns:arbeidsforholdIkkeFunnet"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:hentArbeidsforholdHistorikkFault"/>
		</wsdl:operation>
		<wsdl:operation name="finnArbeidsforholdPrArbeidstaker">
			<wsdl:input name="finnArbeidsforholdPrArbeidstakerRequest" message="tns:finnArbeidsforholdPrArbeidstakerRequest"/>
			<wsdl:output name="finnArbeidsforholdPrArbeidstakerResponse" message="tns:finnArbeidsforholdPrArbeidstakerResponse"/>
			<wsdl:fault name="ugyldigInput" message="tns:finnArbeidsforholdPrArbeidstakerFault"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:finnArbeidsforholdPrArbeidstakerFault1"/>
		</wsdl:operation>
		<wsdl:operation name="finnArbeidsforholdPrArbeidsgiver">
			<wsdl:input name="finnArbeidsforholdPrArbeidsgiverRequest" message="tns:finnArbeidsforholdPrArbeidsgiverRequest"/>
			<wsdl:output name="finnArbeidsforholdPrArbeidsgiverResponse" message="tns:finnArbeidsforholdPrArbeidsgiverResponse"/>
			<wsdl:fault name="ugyldigInput" message="tns:finnArbeidsforholdPrArbeidsgiverFault"/>
			<wsdl:fault name="forMangeForekomster" message="tns:finnArbeidsforholdPrArbeidsgiverFault1"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArbeidsforholdBinding" type="tns:ArbeidsforholdPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentArbeidsforholdHistorikk">
			<soap:operation style="document"/>
			<wsdl:input name="hentArbeidsforholdHistorikkRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentArbeidsforholdHistorikkResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="arbeidsforholdIkkeFunnet">
				<soap:fault name="arbeidsforholdIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="finnArbeidsforholdPrArbeidstaker">
			<soap:operation style="document"/>
			<wsdl:input name="finnArbeidsforholdPrArbeidstakerRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnArbeidsforholdPrArbeidstakerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="finnArbeidsforholdPrArbeidsgiver">
			<soap:operation style="document"/>
			<wsdl:input name="finnArbeidsforholdPrArbeidsgiverRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnArbeidsforholdPrArbeidsgiverResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="forMangeForekomster">
				<soap:fault name="forMangeForekomster" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Arbeidsforhold_v1">
		<wsdl:port name="Arbeidsforhold_v1" binding="tns:ArbeidsforholdBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
