journal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/arkiv/journal/journal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="journal" targetNamespace="http://nav.no/virksomhet/tjenester/arkiv/journal/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/arkiv/journal/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/arkiv/journal/v2" xmlns:feil="http://nav.no/virksomhet/tjenester/arkiv/journal/feil/v2" xmlns:meldinger="http://nav.no/virksomhet/tjenester/arkiv/journal/meldinger/v2">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/arkiv/journal/feil/v2" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/arkiv/journal/meldinger/v2" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnJournalpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnJournalpostRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnJournalpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnJournalpostResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDokumentURLRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDokumentURLResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="hentDokumentURLfilUuidFinnesIkke" type="feil:FilUuidFinnesIkke"/>
      <xsd:element name="hentDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="hentDokumentfilUuidFinnesIkke" type="feil:FilUuidFinnesIkke"/>
      <xsd:element name="hentJournalpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentJournalpostRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentJournalpostResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentJournalpostjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="identifiserBrevgruppe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:IdentifiserBrevgruppeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="identifiserBrevgruppeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:IdentifiserBrevgruppeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="identifiserBrevgruppeResponse">
    <wsdl:part name="parameters" element="tns:identifiserBrevgruppeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnJournalpostResponse">
    <wsdl:part name="parameters" element="tns:finnJournalpostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnJournalpostRequest">
    <wsdl:part name="parameters" element="tns:finnJournalpost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentURLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentRequest">
    <wsdl:part name="parameters" element="tns:hentDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostResponse">
    <wsdl:part name="parameters" element="tns:hentJournalpostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpost_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:hentJournalpostjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="identifiserBrevgruppeRequest">
    <wsdl:part name="parameters" element="tns:identifiserBrevgruppe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokument_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:hentDokumentjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:hentDokumentURLjournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_filUuidFinnesIkke">
    <wsdl:part name="filUuidFinnesIkke" element="tns:hentDokumentURLfilUuidFinnesIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokument_filUuidFinnesIkke">
    <wsdl:part name="filUuidFinnesIkke" element="tns:hentDokumentfilUuidFinnesIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentJournalpostRequest">
    <wsdl:part name="parameters" element="tns:hentJournalpost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLRequest">
    <wsdl:part name="parameters" element="tns:hentDokumentURL">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Journal">
    <wsdl:operation name="finnJournalpost">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:finnJournalpostRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnJournalpostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentDokumentURL">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:hentDokumentURLRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDokumentURLResponse">
    </wsdl:output>
      <wsdl:fault name="filUuidFinnesIkke" message="tns:hentDokumentURL_filUuidFinnesIkke">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:hentDokumentURL_journalpostIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentDokument">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:hentDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="filUuidFinnesIkke" message="tns:hentDokument_filUuidFinnesIkke">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:hentDokument_journalpostIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentJournalpost">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:hentJournalpostRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentJournalpostResponse">
    </wsdl:output>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:hentJournalpost_journalpostIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="identifiserBrevgruppe">
<wsdl:documentation>Operasjon for å identifisere og hente brevgruppeKode for en gitt brevkodeId. </wsdl:documentation>
      <wsdl:input message="tns:identifiserBrevgruppeRequest">
    </wsdl:input>
      <wsdl:output message="tns:identifiserBrevgruppeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
