nav-fim-person-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/person/v1/Person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Person" targetNamespace="http://nav.no/tjeneste/virksomhet/person/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/person/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/person/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/person/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/person/v1/meldinger" xmlns:feil="http://nav.no/tjeneste/virksomhet/person/v1/feil">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/person/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/person/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentKjerneinformasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentKjerneinformasjonRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKjerneinformasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentKjerneinformasjonResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKjerneinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
			<xs:element name="hentKjerneinformasjonsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentKjerneinformasjonRequest">
		<wsdl:part name="parameters" element="tns:hentKjerneinformasjon"/>
	</wsdl:message>
	<wsdl:message name="hentKjerneinformasjonResponse">
		<wsdl:part name="parameters" element="tns:hentKjerneinformasjonResponse"/>
	</wsdl:message>
	<wsdl:message name="hentKjerneinformasjon_personIkkeFunnet">
		<wsdl:part name="personIkkeFunnet" element="tns:hentKjerneinformasjonpersonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="hentKjerneinformasjon_sikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:hentKjerneinformasjonsikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:portType name="PersonPortType">
		<wsdl:operation name="hentKjerneinformasjon">
			<wsdl:input name="hentKjerneinformasjonRequest" message="tns:hentKjerneinformasjonRequest"/>
			<wsdl:output name="hentKjerneinformasjonResponse" message="tns:hentKjerneinformasjonResponse"/>
			<wsdl:fault name="personIkkeFunnet" message="tns:hentKjerneinformasjon_personIkkeFunnet"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:hentKjerneinformasjon_sikkerhetsbegrensning"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonBinding" type="tns:PersonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentKjerneinformasjon">
			<soap:operation style="document"/>
			<wsdl:input name="hentKjerneinformasjonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentKjerneinformasjonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="personIkkeFunnet">
				<soap:fault name="personIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Person_v1">
		<wsdl:port name="Person_v1" binding="tns:PersonBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
