gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/henvendelsebehandling/no/nav/tjeneste/virksomhet/henvendelsebehandling/v3/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/feil" version="3.0" xmlns:feil="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/feil">
  <xsd:complexType name="StelvioFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorSource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rootCause" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dateTimeStamp" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HenvendelseIkkeFunnet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Henvendelsen finnes ikke&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:StelvioFault"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UlovligStatusOvergang">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;span style="font-size:10pt;font-family:Calibri;"&gt;Ulovlig statusovergang&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:StelvioFault"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>