pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltUttak/beregning/beregning.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregning" xmlns:beregning="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregning" xmlns:info="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="BeregningBeregningsInformasjonKapittel19">
    <xsd:complexContent>
      <xsd:extension base="info:BeregningsInformasjonKapittel19">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Yug" type="xsd:float"/>
          <xsd:element minOccurs="0" name="ETOpphort" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="BTOpphort" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="BelopOkt" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="YPT" type="info:YPT"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Beregning">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TotalPensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BeregningSivilstandAnvendt" type="xsd:string"/>
      <xsd:element name="BeregningsInformasjonKapittel19" type="beregning:BeregningBeregningsInformasjonKapittel19"/>
      <xsd:element name="BeregningsInformasjonAvdod" type="info:BeregningsInformasjonAvdod"/>
      <xsd:element minOccurs="0" name="AvdodTTBest" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="AnvendtGjenlevenderett" type="xsd:boolean"/>
      <xsd:element name="BeregningYtelsesKomp" type="info:BeregningYtelsesKomp"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>