sykmelderstatistikk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelderstatistikk/v1/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/feil" xmlns:feil="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/feil">
  <xsd:complexType abstract="true" name="ForretningsmessigUnntak">
    <xsd:sequence>
      <xsd:element name="feilkilde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kilden der feilet oppsto: applikasjonsnavn, tjenestenavn, operasjonsnavn&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilaarsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsaken til feilet oppstå: System/applikasjons id (hvis tilgjenglig), exception navn, melding&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivende feilmelding returnert fra kilden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato og tidspunkt feilet oppsto&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Konfidensialitetsbegrensning">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BrukerIkkeFunnet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UgyldigInput">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>