kodeverk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/kodeverk/v2/informasjon/kodeverk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/kodeverk/v2/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/kodeverk/v2/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Kodeverkselement" abstract="true">
		<xs:annotation>
			<xs:documentation>Et kodeverkselement er en globalt unikt identifiserbart element innen en kodeverksløsning som kan være annotert til et begrep og som har en gyldighetsperide(r)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:IdentifiserbarEntitet">
				<xs:sequence>
					<xs:element name="begrepsannotering" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
					<xs:element name="gyldighetsperiode" type="informasjon:Periode" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kodeverkskilde">
		<xs:annotation>
			<xs:documentation>Et kodeverk kan være hentet fra en gitt, autoritativ kilde. Da skal denne kilden refereres til.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="gyldighetsperiodeKodeverk" type="informasjon:Periode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Node">
		<xs:annotation>
			<xs:documentation>En node re representerer en kodes plassering i en gitt kodekombinasjon i et sammensatt kodeverk. En kode kan opptre i flere lovlige kodekombinasjoner og vil da være representert ved en node i hver av dem. 

En kodekombinasjon er representert som en nodesti fra node1 som peker på en kode i den første kodelisten i det sammesatte kodeverket, node2 som refererer til en kode i kodeliste 2 osv.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:IdentifiserbarEntitet">
				<xs:sequence>
					<xs:element name="inneholderKode" type="informasjon:Kode" minOccurs="1" maxOccurs="1"/>
					<xs:element name="undernode" type="informasjon:Node" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SammensattKodeverk">
		<xs:annotation>
			<xs:documentation>Et sammensatt kodeverk refererer til et ordnet sett av forskjellige, enkle kodeverk.
Det opprettes en nodeliste som refererer til hver sin kodeliste, og de følger samme rekkefølge kodelistene. Noder i en gitt nodeliste kan kun referere til koder i en kodelisten dens nodeliste refererer til.
Noder i nodeliste #1 har ingen forrige node. Noder i påfølgende nodelister SKAL ha en forrige node. 
Alle noder kan ha en eller flere neste node.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Kodeverk">
				<xs:sequence>
					<xs:element name="brukerKodeverk" type="informasjon:EnkeltKodeverk" minOccurs="2" maxOccurs="unbounded"/>
					<xs:element name="inneholderNode" type="informasjon:Node" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Tekst">
		<xs:annotation>
			<xs:documentation>En tekst uttrykt i et gitt språk</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:IdentifiserbarEntitet">
				<xs:sequence>
					<xs:element name="tekst" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="spraak" type="xs:language" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Tekstobjekt">
		<xs:annotation>
			<xs:documentation>Samling av tekster med samme semantisk innhold uttrykt i forskjellige språk</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:IdentifiserbarEntitet">
				<xs:sequence>
					<xs:element name="tekst" type="informasjon:Tekst" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Tekstsamling">
		<xs:annotation>
			<xs:documentation>Brukes ikke av kodeverksutveksling pr. d.d.
Kan brukes dersom man ønske å tilgjengeliggjøre gjenbrukbare tekster for bruk i løsninger - uavhengig av kodeverk.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:IdentifiserbarEntitet">
				<xs:sequence>
					<xs:element name="tekster" type="informasjon:Tekstobjekt" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Term">
		<xs:annotation>
			<xs:documentation>En term er faglig, kodetform av forklaring på en gitt kode. Den bidrar til rett fortolkning av koden og kan uttrykkes i flere språk.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Kodeverkselement">
				<xs:sequence>
					<xs:element name="spraak" type="xs:language" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Språk angit i hvilket språk termen er uttrykt. For enkelte koder kan det forekomme eksempler på at kodens term er uttrykt på norks, mens teksten er uttrykt på opprinnelig språk. For eksempel dersom kodens opprinnelse er basert på en EU-standard/EU-regelverk.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beskrivelse" type="informasjon:Tekstobjekt" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Kodeverktype">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Periode">
		<xs:annotation>
			<xs:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen.

Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fom" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tom" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="EnkeltKodeverk">
		<xs:annotation>
			<xs:documentation>Et enkelt kodeverk er et sett med koder. 
Et enkelt kodeverk kan inngå i ett eller flere sammensatte kodeverk.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Kodeverk">
				<xs:sequence>
					<xs:element name="kode" type="informasjon:Kode" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifiserbarEntitet" abstract="true">
		<xs:annotation>
			<xs:documentation>En unikt identifiserbar entitet i kodeverksløsningen.
Merk! Identifikatoren for kodeverkselementer settes når 1) det enkle kodeverket de  er/tilhører når tilstand standard, eller 2) for sammensatt kodeverk får det sammensatte kodeverket og dets noder og nodelister urier når det sammensatte kodeverket når tilstand standard (de enkle kodeverkene det bruker får uri som nevnt under pkt 1). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uri" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kode">
		<xs:annotation>
			<xs:documentation>(fortegnelse over) ord, bokstavkombinasjoner, tall el. andre symboler som brukes i skriftlige og muntlige meddelelser for å gjøre innholdet uforståelig for uvedkommende el. for å spare plass </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Kodeverkselement">
				<xs:sequence>
					<xs:element name="term" type="informasjon:Term" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="overkode" type="informasjon:Kode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kodeverk" abstract="true">
		<xs:annotation>
			<xs:documentation>Et kodeverk er et navngitt sett av koder for et gitt interesseområde. De brukes for å klassifisere "individer" individer innen interesseområdet. 
Kun kodeverk som har tilstand "Standard" (i kodeverksløsningen) tilgjengeliggjøres for bruk i løsninger. 
Over tid kan kodeverket utgis i flere versjoner. Koder som er gyldige på versjoneringstidspunktet inngår i versjonen.
I en gitt kodeverkversjon skal kodene som inngår i den aktuelle versjonen ha unike navn innen Enkeltkodeverket de inngår i.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Kodeverkselement">
				<xs:sequence>
					<xs:element name="type" type="informasjon:Kodeverktype" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Angir type på kodeverket. Angitt type avgjør krav til innhold i kodeverket og kan avgjøre valideringskriterier for kodeverkets kompletthet mhp. innhold</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versjonsnummer" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unik versjonid for et gitt kodeverk.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versjoneringsdato" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dato for versjonen.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kilde" type="informasjon:Kodeverkskilde" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kilde er en referanse til "master" for kodeverket. For eksempel til en ekstern forvalter av kodeverket.
F.eks. "SSBs landkoder utenrikshandel 2008" vs. "ISO 3166-1"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eier" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Alle kodeverk skal ha en kodeverkseier. Dette er den organisasjonsenheten i NAV som har faglig ansvar for innholdet i kodeverket.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
