joark-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/journal/v2/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v2/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/journal/v2/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/journal/v2/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/journal/v2/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentDokumentURLRequest">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id som unikt identifiserer et journalpostobjekt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id som unikt identifiserer et dokumentobjekt (med underliggende variant(er) av et dokument)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="variantformat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDokumentRequest">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av journalposten (forsendelsenivå) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av DokumentInfo/Dokumentbeskrivelse (dokumentnivå)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="variantformat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation>Variantformat av dokument. DokumentId + VariantFormat vil unikt identifisere ett fysiske dokument (variantFormat er unikt innenfor en DokumentInfo/Dokumentbeskrivelse)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentJournalpostListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="journalpostListe" type="informasjon:Journalpost">
        <xsd:annotation>
          <xsd:documentation>En liste med journalpost</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDokumentResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dokument" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Dokument (rådata) i et bytearray</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDokumentURLResponse">
    <xsd:sequence>
      <xsd:element name="dokumentURL" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Link som peker på JOARKs HentDokumentServlet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentJournalpostListeRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="sakListe" type="informasjon:Sak">
        <xsd:annotation>
          <xsd:documentation>En liste med saker en vil ha tilgjengelige journalposter for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="soekeFilter" type="informasjon:SoekeFilter"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>