pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/meldinger" xmlns:fleksibeltUttak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/fleksibeltUttak" xmlns:grunnlag="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/meldinger" xmlns:sak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/sak" xmlns:ufoere="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/ufoere" xmlns:vedtak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/vedtak">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/vedtak" schemaLocation="../informasjon/vedtak/vedtak.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/ufoere" schemaLocation="../informasjon/ufoere/ufoere.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/fleksibeltUttak" schemaLocation="../informasjon/fleksibeltUttak/fleksibeltUttak/fleksibeltUttak.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag" schemaLocation="../informasjon/grunnlag/grunnlag.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/sak" schemaLocation="../informasjon/sak/sak.xsd"/>
  <xsd:complexType name="BestillAutomatiskBrevResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalpostId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse til journalpost som inneholder det produserte brevet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BestillAutomatiskBrevRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse til vedtak som brev opplyser om. Må være med dersom sakId ikke oppgis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="internBatchBrevkode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse til internt kodeverk som har informasjon om brev som skal bestilles</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse til krav som brev opplyser om.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Referanse til sak, dersom den finnes. Hvis sakId ikke finnes, må vedtakId finnes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Person som brev omhandler.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottaker" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Person/Institusjon som er mottaker av brev.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saksbehandlerNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tekst som forteller hvilken automatisk prosess, eller batch som har bestilt brevet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentBrevgruppeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SaksData" type="sak:SaksData"/>
      <xsd:element minOccurs="0" name="Grunnlag" type="grunnlag:Grunnlag"/>
      <xsd:element minOccurs="0" name="Vedtaksliste" type="fleksibeltUttak:Vedtakliste"/>
      <xsd:element minOccurs="0" name="Vedtaksbrev" type="ufoere:Vedtaksbrev"/>
      <xsd:element minOccurs="0" name="Vedtaksdata" type="vedtak:Vedtaksdata"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentBrevgruppeRequest">
    <xsd:sequence>
      <xsd:element name="vedtakId" type="xsd:string"/>
      <xsd:element name="brevkode" type="xsd:string"/>
      <xsd:element name="spraakkode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>