institusjon-v1/src/main/resources/institusjon/wsdl/Institusjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InstitutionService" targetNamespace="http://ds.eessi.nav.no/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ds.eessi.nav.no/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema targetNamespace="http://ds.eessi.nav.no/" version="1.0" xmlns:tns="http://ds.eessi.nav.no/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="getInstitutionInfo" type="tns:getInstitutionInfo"/>
            <xs:element name="getInstitutionInfoResponse" type="tns:getInstitutionInfoResponse"/>
            <xs:complexType name="getInstitutionInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getInstitutionInfoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="institutionInfo" type="tns:InstitutionInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InstitutionInfo">
                <xs:sequence>
                    <xs:element name="fullName" type="xs:string"/>
                    <xs:element name="institutionId" type="xs:string"/>
                    <xs:element name="postalStreet" type="xs:string"/>
                    <xs:element name="town" type="xs:string"/>
                    <xs:element name="countryName" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInstitutionInfo">
        <wsdl:part element="tns:getInstitutionInfo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getInstitutionInfoResponse">
        <wsdl:part element="tns:getInstitutionInfoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InstitutionService">
        <wsdl:operation name="getInstitutionInfo">
            <wsdl:input message="tns:getInstitutionInfo" name="getInstitutionInfo">
            </wsdl:input>
            <wsdl:output message="tns:getInstitutionInfoResponse" name="getInstitutionInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InstitutionServiceSoapBinding" type="tns:InstitutionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInstitutionInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getInstitutionInfo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getInstitutionInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InstitutionService">
        <wsdl:port binding="tns:InstitutionServiceSoapBinding" name="InstitutionServiceImplPort">
            <soap:address location="http://e26apvl014.test.local:8180/nav-ds-service-ws/dsWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>