cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/nav-cons-sak-gosys-3.0.0_GOSYSNAVOrgEnhetWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GOSYSNAVOrgEnhetWSEXP_GOSYSNAVOrgEnhetHttp_Service" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet/Binding" xmlns:Port_0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet/Binding">
  <wsdl:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVOrgEnhet" location="no/nav/inf/GOSYSNAVOrgEnhet.wsdl">
    </wsdl:import>
  <wsdl:binding name="GOSYSNAVOrgEnhetWSEXP_GOSYSNAVOrgEnhetHttpBinding" type="Port_0:GOSYSNAVOrgEnhet">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentNAVEnhet">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSNAVEnhetIkkeFunnet">
        <soap:fault name="faultGOSYSNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSNAVEnhetIkkeFunnet">
        <soap:fault name="faultGOSYSNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetGruppeListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetGruppeListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetGruppeListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSNAVEnhetIkkeFunnet">
        <soap:fault name="faultGOSYSNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnNAVEnhet">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnNAVEnhetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnNAVEnhetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSpesialEnhetTilPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentSpesialEnhetTilPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentSpesialEnhetTilPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSNAVEnhetIkkeFunnet">
        <soap:fault name="faultGOSYSNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnArenaNAVEnhetListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnArenaNAVEnhetListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnArenaNAVEnhetListe3Msg1">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOSYSNAVOrgEnhetWSEXP_GOSYSNAVOrgEnhetHttpService">
    <wsdl:port name="GOSYSNAVOrgEnhetWSEXP_GOSYSNAVOrgEnhetHttpPort" binding="this:GOSYSNAVOrgEnhetWSEXP_GOSYSNAVOrgEnhetHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-sak-gosys-3.0.0Web/sca/GOSYSNAVOrgEnhetWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
