cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/nav-cons-sak-gosys-3.0.0_GOSYSOppgaveWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GOSYSOppgaveWSEXP_GOSYSOppgaveHttp_Service" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave/Binding" xmlns:Port_0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave/Binding">
  <wsdl:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave" location="no/nav/inf/GOSYSOppgave.wsdl">
    </wsdl:import>
  <wsdl:binding name="GOSYSOppgaveWSEXP_GOSYSOppgaveHttpBinding" type="Port_0:GOSYSOppgave">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentOppgave">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentOppgaveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentOppgaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSOppgaveIkkeFunnet">
        <soap:fault name="faultGOSYSOppgaveIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOppgaveListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentOppgaveListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentOppgaveListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgave">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreOppgaveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreOppgaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgaveListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreOppgaveListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreOppgaveListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgave">
      <soap:operation soapAction=""/>
      <wsdl:input name="opprettOppgaveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="opprettOppgaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettOppgaveListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="slettOppgaveListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="slettOppgaveListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentFerdigstiltOppgave">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentFerdigstiltOppgaveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentFerdigstiltOppgaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSOppgaveIkkeFunnet">
        <soap:fault name="faultGOSYSOppgaveIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bestillOppgave">
      <soap:operation soapAction=""/>
      <wsdl:input name="bestillOppgaveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bestillOppgaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSPersonIkkeFunnet">
        <soap:fault name="faultGOSYSPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSIkkeEntydigSaksopprettelse">
        <soap:fault name="faultGOSYSIkkeEntydigSaksopprettelse" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSPersonInaktiv">
        <soap:fault name="faultGOSYSPersonInaktiv" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSFeilInput">
        <soap:fault name="faultGOSYSFeilInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSUkjentArbgiver">
        <soap:fault name="faultGOSYSUkjentArbgiver" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnOppgaveListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnOppgaveListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnOppgaveListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnMappeListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnMappeListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnMappeListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettMappe">
      <soap:operation soapAction=""/>
      <wsdl:input name="opprettMappeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="opprettMappeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreMappe">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreMappeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreMappeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettMappe">
      <soap:operation soapAction=""/>
      <wsdl:input name="slettMappeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="slettMappeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSMappeIkkeTom">
        <soap:fault name="faultGOSYSMappeIkkeTom" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOSYSOppgaveWSEXP_GOSYSOppgaveHttpService">
    <wsdl:port name="GOSYSOppgaveWSEXP_GOSYSOppgaveHttpPort" binding="this:GOSYSOppgaveWSEXP_GOSYSOppgaveHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-sak-gosys-3.0.0Web/sca/GOSYSOppgaveWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
