cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/navorgenhet/ASBOGOSYSFinnArenaNAVEnhetListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet">
	<xsd:complexType name="ASBOGOSYSFinnArenaNAVEnhetListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="enhetNavnSokeStreng" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="enhetIdSokeStreng" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="maxantall" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
