cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/navorgenhet/ASBOGOSYSHentSpesialEnhetTilPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="no.nav.gosys.asbo.navorgenhet">
  <xsd:complexType name="ASBOGOSYSHentSpesialEnhetTilPersonRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
