cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/navorgenhet/ASBOGOSYSHentNAVEnhetListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet">
   
    <xsd:include schemaLocation="ASBOGOSYSNavEnhet.xsd"/>
    <xsd:complexType name="ASBOGOSYSHentNAVEnhetListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NAVEnhet" type="bons0:ASBOGOSYSNavEnhet"/>
      <xsd:element minOccurs="0" name="typeOrganiserer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="typeOrganisertUnder" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
