henvendelse-dokumentinnsending-tjenestespesifikasjon/henvendelse-jaxws/src/main/resources/Oppdaterehenvendelsesbehandling.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/oppdaterehenvendelsesbehandling/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="OppdatereHenvendelsesBehandlingService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/oppdaterehenvendelsesbehandling/v1">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/oppdaterehenvendelsesbehandling/v1"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/oppdaterehenvendelsesbehandling/v1"
				   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger" schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/aktivitetsmeldinger.xsd"/>

            <xs:element name="identifiserAktor" type="meldinger:identifiserAktorRequest"/>
            <xs:element name="identifiserAktorResponse" type="meldinger:identifiserAktorResponse"/>
            <xs:element name="opprettDokumentBehandling" type="meldinger:opprettDokumentBehandlingRequest"/>
            <xs:element name="opprettDokumentBehandlingResponse" type="meldinger:opprettDokumentBehandlingResponse"/>

            <xs:element name="opprettDokument" type="meldinger:opprettDokumentRequest"/>
            <xs:element name="opprettDokumentResponse" type="meldinger:opprettDokumentResponse"/>
            <xs:element name="slettDokument" type="meldinger:slettDokumentRequest"/>
            <xs:element name="slettDokumentResponse" type="meldinger:slettDokumentResponse"/>

            <xs:element name="oppdaterDokumentForventning" type="meldinger:oppdaterDokumentForventningRequest"/>
            <xs:element name="oppdaterDokumentForventningResponse" type="meldinger:oppdaterDokumentForventningResponse"/>
            <xs:element name="opprettDokumentForventning" type="meldinger:opprettDokumentForventningRequest"/>
            <xs:element name="opprettDokumentForventningResponse" type="meldinger:opprettDokumentForventningResponse"/>
            <xs:element name="slettDokumentForventning" type="meldinger:slettDokumentForventningRequest"/>
            <xs:element name="slettDokumentForventningResponse" type="meldinger:slettDokumentForventningResponse"/>

            <xs:element name="opprettElektroniskSamtykke" type="meldinger:opprettElektroniskSamtykkeRequest"/>
            <xs:element name="opprettElektroniskSamtykkeResponse" type="meldinger:opprettElektroniskSamtykkeResponse"/>

            <xs:element name="sendHenvendelse" type="meldinger:sendHenvendelseRequest"/>
            <xs:element name="sendHenvendelseResponse" type="meldinger:sendHenvendelseResponse"/>

            <xs:element name="avbrytHenvendelse" type="meldinger:avbrytHenvendelseRequest"/>
            <xs:element name="avbrytHenvendelseResponse" type="meldinger:avbrytHenvendelseResponse"/>

            <xs:element name="oppdaterDokumentForventningBeskrivelse" type="meldinger:oppdaterDokumentForventningBeskrivelseRequest"/>
            <xs:element name="oppdaterDokumentForventningBeskrivelseResponse" type="meldinger:oppdaterDokumentForventningBeskrivelseResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="identifiserAktorRequest">
        <wsdl:part element="tns:identifiserAktor" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettDokumentBehandlingRequest">
        <wsdl:part element="tns:opprettDokumentBehandling" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettDokumentBehandlingResponse">
        <wsdl:part element="tns:opprettDokumentBehandlingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="identifiserAktorResponse">
        <wsdl:part element="tns:identifiserAktorResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="slettDokumentResponse">
        <wsdl:part element="tns:slettDokumentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="slettDokumentRequest">
        <wsdl:part element="tns:slettDokument" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="opprettDokumentRequest">
        <wsdl:part element="tns:opprettDokument" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettDokumentResponse">
        <wsdl:part element="tns:opprettDokumentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="slettDokumentForventningResponse">
        <wsdl:part element="tns:slettDokumentForventningResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="slettDokumentForventningRequest">
        <wsdl:part element="tns:slettDokumentForventning" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettDokumentForventningResponse">
        <wsdl:part element="tns:opprettDokumentForventningResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettDokumentForventningRequest">
        <wsdl:part element="tns:opprettDokumentForventning" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterDokumentForventningResponse">
        <wsdl:part element="tns:oppdaterDokumentForventningResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterDokumentForventningRequest">
        <wsdl:part element="tns:oppdaterDokumentForventning" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettElektroniskSamtykkeRequest">
        <wsdl:part element="tns:opprettElektroniskSamtykke" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="opprettElektroniskSamtykkeResponse">
        <wsdl:part element="tns:opprettElektroniskSamtykkeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sendHenvendelseRequest">
        <wsdl:part element="tns:sendHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendHenvendelseResponse">
        <wsdl:part element="tns:sendHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="avbrytHenvendelseRequest">
        <wsdl:part element="tns:avbrytHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="avbrytHenvendelseResponse">
        <wsdl:part element="tns:avbrytHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="oppdaterDokumentForventningBeskrivelseRequest">
        <wsdl:part element="tns:oppdaterDokumentForventningBeskrivelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterDokumentForventningBeskrivelseResponse">
        <wsdl:part element="tns:oppdaterDokumentForventningBeskrivelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="oppdaterBrukerBehandlingFault">
        <wsdl:part name="parameters" element="tns:oppdaterBrukerBehandlingFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OppdatereHenvendelsesBehandlingPortType">
        <wsdl:operation name="opprettDokumentBehandling">
            <wsdl:input message="tns:opprettDokumentBehandlingRequest" name="opprettDokumentBehandlingRequest">
            </wsdl:input>
            <wsdl:output message="tns:opprettDokumentBehandlingResponse" name="opprettDokumentBehandlingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="identifiserAktor">
            <wsdl:input message="tns:identifiserAktorRequest" name="identifiserAktorRequest">
            </wsdl:input>
            <wsdl:output message="tns:identifiserAktorResponse" name="identifiserAktorResponse">
            </wsdl:output>
            <!-- <<wsdl:fault name="fault" message="tns:oppdaterBrukerBehandlingFault"></wsdl:fault> -->
        </wsdl:operation>
        <wsdl:operation name="slettDokument">
            <wsdl:input message="tns:slettDokumentRequest" name="slettDokumentRequest">
            </wsdl:input>
            <wsdl:output message="tns:slettDokumentResponse" name="slettDokumentResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettDokument">
            <wsdl:input message="tns:opprettDokumentRequest" name="opprettDokumentRequest">
            </wsdl:input>
            <wsdl:output message="tns:opprettDokumentResponse" name="opprettDokumentResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slettDokumentForventning">
            <wsdl:input message="tns:slettDokumentForventningRequest" name="slettDokumentForventningRequest">
            </wsdl:input>
            <wsdl:output message="tns:slettDokumentForventningResponse" name="slettDokumentForventningResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterDokumentForventning">
            <wsdl:input message="tns:oppdaterDokumentForventningRequest" name="oppdaterDokumentForventningRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterDokumentForventningResponse" name="oppdaterDokumentForventningResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettDokumentForventning">
            <wsdl:input message="tns:opprettDokumentForventningRequest" name="opprettDokumentForventningRequest">
            </wsdl:input>
            <wsdl:output message="tns:opprettDokumentForventningResponse" name="opprettDokumentForventningResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettElektroniskSamtykke">
            <wsdl:input message="tns:opprettElektroniskSamtykkeRequest" name="opprettElektroniskSamtykkeRequest"/>
            <wsdl:output message="tns:opprettElektroniskSamtykkeResponse" name="opprettElektroniskSamtykkeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendHenvendelse">
            <wsdl:input message="tns:sendHenvendelseRequest" name="sendHenvendelseRequest"/>
            <wsdl:output message="tns:sendHenvendelseResponse" name="sendHenvendelseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="avbrytHenvendelse">
            <wsdl:input message="tns:avbrytHenvendelseRequest" name="avbrytHenvendelseRequest"/>
            <wsdl:output message="tns:avbrytHenvendelseResponse" name="avbrytHenvendelseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="oppdaterDokumentForventningBeskrivelse">
            <wsdl:input message="tns:oppdaterDokumentForventningBeskrivelseRequest" name="oppdaterDokumentForventningBeskrivelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterDokumentForventningBeskrivelseResponse" name="oppdaterDokumentForventningBeskrivelseResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OppdatereHenvendelsesBehandlingBinding" type="tns:OppdatereHenvendelsesBehandlingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="identifiserAktor">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="identifiserAktorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="identifiserAktorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettDokumentBehandling">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="opprettDokumentBehandlingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettDokumentBehandlingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettDokument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="opprettDokumentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettDokumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slettDokument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="slettDokumentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="slettDokumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterDokumentForventning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterDokumentForventningRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterDokumentForventningResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="slettDokumentForventning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="slettDokumentForventningRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="slettDokumentForventningResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettDokumentForventning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="opprettDokumentForventningRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettDokumentForventningResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettElektroniskSamtykke">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="opprettElektroniskSamtykkeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettElektroniskSamtykkeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="avbrytHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="avbrytHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="avbrytHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="oppdaterDokumentForventningBeskrivelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterDokumentForventningBeskrivelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterDokumentForventningBeskrivelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OppdatereHenvendelsesBehandlingService">
        <wsdl:port binding="tns:OppdatereHenvendelsesBehandlingBinding" name="OppdatereHenvendelsesBehandlingPort">
			<soap:address location="http://localhost:8081/domene.Brukerdialog/OppdatereHenvendelsesBehandlingService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
