arbeidsfordeling-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsfordeling/v1/arbeidsfordeling.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="arbeidsfordeling" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsfordeling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnBehandlendeEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnBehandlendeEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnBehandlendeEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnBehandlendeEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnBehandlendeEnhetListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAlleBehandlendeEnheterListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnAlleBehandlendeEnheterListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAlleBehandlendeEnheterListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnAlleBehandlendeEnheterListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAlleBehandlendeEnheterListeugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnBehandlendeEnhetListeRequest">
    <wsdl:part element="tns:finnBehandlendeEnhetListe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnBehandlendeEnhetListeResponse">
    <wsdl:part element="tns:finnBehandlendeEnhetListeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnBehandlendeEnhetListeUgyldigInput">
    <wsdl:part element="tns:finnBehandlendeEnhetListeugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnAlleBehandlendeEnheterListeRequest">
    <wsdl:part element="tns:finnAlleBehandlendeEnheterListe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnAlleBehandlendeEnheterListeResponse">
    <wsdl:part element="tns:finnAlleBehandlendeEnheterListeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnAlleBehandlendeEnheterListeUgyldigInput">
    <wsdl:part element="tns:finnAlleBehandlendeEnheterListeugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:portType name="Arbeidsfordeling_v1">
    <wsdl:operation name="finnBehandlendeEnhetListe">
      <wsdl:input message="tns:finnBehandlendeEnhetListeRequest"/>
      <wsdl:output message="tns:finnBehandlendeEnhetListeResponse"/>
      <wsdl:fault message="tns:finnBehandlendeEnhetListeUgyldigInput" name="finnBehandlendeEnhetListeFault"/>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="finnAlleBehandlendeEnheterListe">
      <wsdl:input message="tns:finnAlleBehandlendeEnheterListeRequest"/>
      <wsdl:output message="tns:finnAlleBehandlendeEnheterListeResponse"/>
      <wsdl:fault message="tns:finnAlleBehandlendeEnheterListeUgyldigInput" name="finnAlleBehandlendeEnheterListeFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>