medlemskap-v1/src/main/resources/medlemskap/wsdl/no/nav/tjeneste/virksomhet/medlemskap/v2/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" xmlns:ns1="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon">

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" schemaLocation="../informasjon/kodeverk/kodeverk.xsd"/>

  <xs:complexType name="hentPeriodeListeRequest">
    <xs:sequence>
      <xs:element name="ident" type="ns1:personidentifikator"/>
      <xs:element name="inkluderStatuskodeListe" type="ns2:statuskode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="inkluderPerioderFraOgMed" type="xs:date" minOccurs="0"/>
      <xs:element name="inkluderPerioderTilOgMed" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriodeListeResponse">
    <xs:sequence>
      <xs:element name="periodeListe" type="ns1:medlemsperiode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriodeRequest">
    <xs:sequence>
      <xs:element name="periodeId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriodeResponse">
    <xs:sequence>
      <xs:element name="periode" type="ns1:medlemsperiode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

