behandle-sykmeldingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleSykmelding/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/meldinger" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/meldinger">
  <xsd:complexType name="lagreStatusRequest">
    <xsd:sequence>
      <xsd:element name="meldingId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Meldingid for å identifisere melding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="meldinger:Status">
        <xsd:annotation>
          <xsd:documentation>Ny status for sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilaktigOpplysningListe" type="meldinger:FeilaktigOpplysning">
        <xsd:annotation>
          <xsd:documentation>Liste over hvilke elementer i sykmeldingen som inneholder feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreArbeidssituasjonRequest">
    <xsd:sequence>
      <xsd:element name="meldingId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Meldingid for å identifisere melding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidssituasjon" type="meldinger:Arbeidssituasjon">
        <xsd:annotation>
          <xsd:documentation>Ny arbeidssituasjon for sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Arbeidssituasjon">
    <xsd:annotation>
      <xsd:documentation>Brukers registrerte arbeidssituasjon</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARBEIDSTAKER"/>
      <xsd:enumeration value="SELVSTENDIG"/>
      <xsd:enumeration value="NAERINGSDRIVENDE"/>
      <xsd:enumeration value="FRILANSER"/>
      <xsd:enumeration value="ARBEIDSLEDIG"/>
      <xsd:enumeration value="ANNET"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Status">
    <xsd:annotation>
      <xsd:documentation>Status for sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NY"/>
      <xsd:enumeration value="AVBRUTT"/>
      <xsd:enumeration value="AVVIST"/>
      <xsd:enumeration value="BEKREFTET"/>
      <xsd:enumeration value="SENDT"/>
      <xsd:enumeration value="UTGAATT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Felles identifikator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FeilaktigOpplysning">
    <xsd:annotation>
      <xsd:documentation>Feilaktige opplysninger i sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PERIODE"/>
      <xsd:enumeration value="SYKMELDINGSGRAD"/>
      <xsd:enumeration value="ARBEIDSGIVER"/>
      <xsd:enumeration value="DIAGNOSE"/>
      <xsd:enumeration value="ANDRE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="sendSykmeldingTilArbeidsgiverRequest">
    <xsd:sequence>
      <xsd:element name="meldingId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Meldingid for å identifisere melding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orgnummer" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgivers orgnummer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beOmNyNaermesteLeder" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Angir om arbeidsgiver må sende inn ny nærmeste leder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilaktigOpplysningListe" type="meldinger:FeilaktigOpplysning">
        <xsd:annotation>
          <xsd:documentation>Liste over hvilke elementer i sykmeldingen som inneholder feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>