nav-infotrygdSak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdSak/v1/infotrygdSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="infotrygdSak" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnSakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnSakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnSakListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnSakListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnSakListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnSakListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnSakListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakListeRequest">
    <wsdl:part name="parameters" element="tns:finnSakListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnSakListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakListeResponse">
    <wsdl:part name="parameters" element="tns:finnSakListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnSakListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="infotrygdSak_v1">
    <wsdl:operation name="finnSakListe">
      <wsdl:input message="tns:finnSakListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnSakListeResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnSakListe_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnSakListe_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnSakListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
