vedlikehold-inntektsabonnement-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/vedlikeholdInntektsabonnement/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/feil" version="1.0" xmlns:feil="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/feil" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Sikkerhetsbegrensning">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Forretningsmessige unntak:&lt;/p&gt;&lt;p&gt;&lt;b&gt;For både opprettAbonnement og opphoerAbonnement:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Siden Inntektskomponenten tilbyr tjenester til applikasjoner på modernisert plattform, benytter de en standard tilgangskontroll for alle tjenestene de tilbyr.&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;En viktig policy her er at applikasjoner med skallsikring ikke har noen sikkerhetsbegrensninger.&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Abonnement skal alltid opprettes ihht Pesys-skallsikring (Uføre har frikort).&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;For kall fra moderniserte applikasjoner vil det være policyer for brukere med diskresjonskoder og for behandling av NAV-ansatte eller deres familie&lt;/p&gt;&lt;/li&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode 6 (strengt fortrolig adresse)&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Kode 7 (fortrolig adresse)&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Egen ansatt&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;li&gt;&lt;p&gt;- Operasjoner returnerer ikke hvilken policy som er brutt. &lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensninger"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ForretningsmessigUnntak">
    <xsd:sequence>
      <xsd:element name="feilaarsak" type="xsd:string"/>
      <xsd:element name="feilkilde" type="xsd:string"/>
      <xsd:element name="feilmelding" type="xsd:string"/>
      <xsd:element name="tidspunkt" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsbegrensninger">
    <xsd:simpleContent>
      <xsd:extension base="feil:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Sikkerhetsbegrensninger" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="UgyldigInput">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Forretningsmessige unntak&lt;/p&gt;&lt;p&gt;&lt;b&gt;For opprettAbonnement:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;både aktoerId og ident er satt&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;tomMaanedObservasjon &lt; fomMaanedObservasjon&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;tomGyldigAbonnement &lt; opprettelsestidpunkt for abonnement&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b&gt;For opphoerAbonnement:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;ugyldig abonnementsidentifikator&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonIkkeFunnet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Forretningsmessige feil&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;når ident/aktoerId ikke finnes i Inntektskomponenten eller i AktørID-komponenten/TPS&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;når ident/aktoerId ikke har gyldig format&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>