henvendelse-felles-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelsefelles/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/informasjon"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="henvendelse" type="tns:Henvendelse" />

	<xs:complexType name="Henvendelse">
		<xs:sequence>
			<xs:element name="behandlingsId" type="xs:string" />
			<xs:element name="behandlingskjedeId" type="xs:string" minOccurs="0" />
			<xs:element name="aktor" type="xs:string" minOccurs="0" />
			<xs:element name="henvendelseType" type="xs:string" minOccurs="0" />
			<xs:element name="behandlingsType" type="xs:string" minOccurs="0" />
			<xs:element name="tema" type="xs:string" minOccurs="0" />
			<xs:element name="traad" type="xs:string" minOccurs="0" />
			<xs:element name="status" type="xs:dateTime" minOccurs="0" />
			<xs:element name="lestDato" type="xs:dateTime" minOccurs="0" />
			<xs:element name="sistEndretDato" type="xs:dateTime" minOccurs="0" />
			<xs:element name="opprettetDato" type="xs:dateTime" minOccurs="0" />
			<xs:element name="sensitiv" type="xs:boolean" minOccurs="0" />
			<xs:element name="behandlingsresultat" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ping" />
	<xs:annotation>
		<xs:documentation>Retur-objekt for ping.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="pingResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
