nav-ytelsevedtak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/ytelseVedtak/v1/YtelseVedtakV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YtelseVedtakV1"
    targetNamespace="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1">
    <wsdl:types>
        <schema targetNamespace="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:feil="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/feil" xmlns:meld="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/meldinger">
            <import schemaLocation="feil/feil.xsd" namespace="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/feil"></import>
            <import schemaLocation="meldinger/meldinger.xsd" namespace="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/meldinger"></import>
            <element name="ping">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="pingResponse">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="finnYtelseVedtakListeResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="meld:FinnYtelseVedtakListeResponse" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="finnYtelseVedtakListe">
                <complexType>
                    <sequence>
                        <element name="request" type="meld:FinnYtelseVedtakListeRequest"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="finnYtelseVedtakListeSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"></element>
            <element name="finnYtelseVedtakListeUgyldigInput" type="feil:UgyldigInput"></element>
        </schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="finnYtelseVedtakListeRequest">
        <wsdl:part name="parameters" element="tns:finnYtelseVedtakListe"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnYtelseVedtakListeResponse">
        <wsdl:part name="parameters" element="tns:finnYtelseVedtakListeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnYtelseVedtakListeSikkerhetsbegrensning">
        <wsdl:part name="sikkerhetsbegrensning" element="tns:finnYtelseVedtakListeSikkerhetsbegrensning"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="finnYtelseVedtakListeUgyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:finnYtelseVedtakListeUgyldigInput"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="YtelseVedtak_v1">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="ping" />
            <wsdl:output message="tns:pingResponse" name="pingResponse" />
        </wsdl:operation>
        <wsdl:operation name="finnYtelseVedtakListe">
            <wsdl:input message="tns:finnYtelseVedtakListeRequest" name="finnYtelseVedtakListe"></wsdl:input>
            <wsdl:output message="tns:finnYtelseVedtakListeResponse" name="finnYtelseVedtakListeResponse"></wsdl:output>
            <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnYtelseVedtakListeSikkerhetsbegrensning"></wsdl:fault>
            <wsdl:fault name="ugyldigInput" message="tns:finnYtelseVedtakListeUgyldigInput"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="YtelseVedtak_v1Binding" type="tns:YtelseVedtak_v1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/ping" />
            <wsdl:input name="ping">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="finnYtelseVedtakListe">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/ytelseVedtak/v1/finnYtelseVedtakListe" />
            <wsdl:input name="finnYtelseVedtakListe">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="finnYtelseVedtakListeResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="sikkerhetsbegrensning">
                <soap:fault use="literal" name="sikkerhetsbegrensning" />
            </wsdl:fault>
            <wsdl:fault name="ugyldigInput">
                <soap:fault use="literal" name="ugyldigInput" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="YtelseVedtak_v1">
        <wsdl:port binding="tns:YtelseVedtak_v1Binding" name="YtelseVedtak_v1Port">
            <soap:address location="https://arena.adeo.no/ail_ws/YtelseVedtak_v1" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
