nav-fim-oppfoelging-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppfoelging/v1/oppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Oppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="hentOppfoelgingskontraktListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentOppfoelgingskontraktListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOppfoelgingskontraktListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentOppfoelgingskontraktListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sikkerhetsbegrensning"/>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentOppfoelgingskontraktListeRequest">
		<wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListe"/>
	</wsdl:message>
	<wsdl:message name="hentOppfoelgingskontraktListeResponse">
		<wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListeResponse"/>
	</wsdl:message>
	<wsdl:message name="sikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning"/>
	</wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="OppfoelgingPortType">
		<wsdl:operation name="hentOppfoelgingskontraktListe">
			<wsdl:input name="hentOppfoelgingskontraktListeRequest" message="tns:hentOppfoelgingskontraktListeRequest"/>
			<wsdl:output name="hentOppfoelgingskontraktListeResponse" message="tns:hentOppfoelgingskontraktListeResponse"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:sikkerhetsbegrensning"/>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OppfoelgingBinding" type="tns:OppfoelgingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentOppfoelgingskontraktListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentOppfoelgingskontraktListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentOppfoelgingskontraktListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Oppfoelging_v1">
		<wsdl:port name="Oppfoelging_v1" binding="tns:OppfoelgingBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
