pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltUttak/fleksibeltUttak/fleksibeltUttak.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/fleksibeltUttak" xmlns:bap2016="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016" xmlns:bap2016p="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016Periode" xmlns:beregning="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregning" xmlns:beregningPeriode="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningPeriode" xmlns:fleksibeltUttak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/fleksibeltUttak" xmlns:vedtak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/vedtak">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016Periode" schemaLocation="../beregningAP2016Periode/beregningAP2016Periode.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016" schemaLocation="../beregningAP2016/beregningAP2016.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningPeriode" schemaLocation="../beregningPeriode/beregningPeriode.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregning" schemaLocation="../beregning/beregning.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/vedtak" schemaLocation="../../vedtak/vedtak.xsd"/>
  <xsd:complexType name="KravLinje">
    <xsd:sequence>
      <xsd:element name="Kravlinjetype" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VilkarsVedtak">
    <xsd:sequence>
      <xsd:element name="VilkarsvedtakID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id for et vilkårsvedtak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarVirkningFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato vilkårsvedtaket har virkning fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarKravlinjeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken type kravlinje vilkårsvedtaket relaterer seg til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarVedtakResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir det resultatet til vilkårsvedtaket. Settes av konsumenten av tjenesten, eventuelt basert på anbefaltResultat. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarGjelderPerson" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer eller D-nummer til personen vilkårsvedtaket gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarAnvendtVurdering" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken vurdering saksbehandler har lagt til grunn for resultatvurderingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Begrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Endelig begrunnelse for vilkårsvedtakresultatet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalPensjon67Ar" type="xsd:double"/>
      <xsd:element minOccurs="0" name="MPN67Ar" type="xsd:double"/>
      <xsd:element minOccurs="0" name="TotalPensjon67ArAFP" type="xsd:double"/>
      <xsd:element minOccurs="0" name="GarantipensjonsnivaVed67ar" type="xsd:double"/>
      <xsd:element minOccurs="0" name="VektetPensjonsnivaVed67ar" type="xsd:double"/>
      <xsd:element minOccurs="0" name="VektetPensjonsnivaVed67arProrata" type="xsd:double"/>
      <xsd:element minOccurs="0" name="MPN67ArProrata" type="xsd:double"/>
      <xsd:element minOccurs="0" name="GarantipensjonsnivaVed67arProrata" type="xsd:double"/>
      <xsd:element minOccurs="0" name="Uttaksgrad" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RelatertAFPPrivat">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AnvendtAFPPrivat" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtakliste">
    <xsd:sequence>
      <xsd:element name="VedtakApOgUp" type="xsd:boolean"/>
      <xsd:element name="LopendeUTVedVirk" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsRelasjoner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AvdodFornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AvdodMellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AvdodEtternavn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kravhode">
    <xsd:sequence>
      <xsd:element name="KravGjelder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hva (kravtype) kravet gjelder. Kravtypen angir hvilken type saksbehandling man ønsker å utføre og angir kategorier av funksjonalitetsstyring  for saksbehandling. Feil valg av kravtype kan føre til feil ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KravMottatDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato kravet ble mottatt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravVelgType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken detaljering av kravet som skal vises/lagres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravArsakType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Type årsak til at kravet er opprettet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VurdereTrygdeavtale" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om trygdeavtale skal vurderes for personen kravet gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SokerBT" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis det finnes en KravLinje i Vedtak.Kravhode.Kravlinjeliste Hvor KravLinje.KravlinjeType = BT Sett &lt;SokerBT&gt; = true Ellers Sett &lt;SokerBT&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SokerET" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis det finnes en KravLinje i Vedtak.Kravhode.Kravlinjeliste Hvor KravLinje.KravlinjeType = ET Sett &lt;SokerET&gt; = true Ellers Sett &lt;SokerET&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SokerAFPPrivat" type="xsd:boolean"/>
      <xsd:element name="AlderVedUttak" type="xsd:int"/>
      <xsd:element minOccurs="0" name="NorgeBehandlendeLand" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om Norge er behandlende land.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravlinjeListe" type="fleksibeltUttak:KravlinjeListe"/>
      <xsd:element name="Regelverktype" type="xsd:string"/>
      <xsd:element name="BerortSakBegrunnelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BrukerHarReduksjonsperiode" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FleksibeltVedtak">
    <xsd:complexContent>
      <xsd:extension base="vedtak:Vedtaksdata">
        <xsd:sequence>
          <xsd:element name="VedtaksID" type="xsd:string"/>
          <xsd:element name="VirkningFom" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Virkningsdatoen, fra og med, vedtaket gjelder fra.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Etterbetaling" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Angir hvilken saksbehandler som har behandlet vedtaket</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Vedtakstype" type="xsd:string"/>
          <xsd:element name="BrukerAlder" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Unik Id for vedtaket.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="VilkarsVedtakList" type="fleksibeltUttak:VilkarsVedtakList"/>
          <xsd:element minOccurs="0" name="RelatertAFPPrivat" type="fleksibeltUttak:RelatertAFPPrivat"/>
          <xsd:element minOccurs="0" name="AnsvarligSaksbehandler" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Attesterer" type="xsd:string"/>
          <xsd:element name="Kravhode" type="fleksibeltUttak:Kravhode"/>
          <xsd:element name="Sakskode" type="xsd:string"/>
          <xsd:element name="BeregningsData" type="fleksibeltUttak:BeregningsData"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KravlinjeListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="KravLinje" type="fleksibeltUttak:KravLinje"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VilkarsVedtakList">
    <xsd:sequence>
      <xsd:element name="BTAvslAntall" type="xsd:int"/>
      <xsd:element name="ETAvslAntall" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VilkarsVedtak" type="fleksibeltUttak:VilkarsVedtak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BeregningsRelasjoner" type="fleksibeltUttak:BeregningsRelasjoner"/>
      <xsd:element name="BeregningAntallPerioder" type="xsd:int"/>
      <xsd:element name="Beregning" type="beregning:Beregning"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BeregningPeriode" type="beregningPeriode:BeregningPeriode"/>
      <xsd:element minOccurs="0" name="BeregningAP2016" type="bap2016:BeregningAP2016"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BeregningAP2016Periode" type="bap2016p:BeregningAP2016Periode"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>