nav-fim-journal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/journal/v1/informasjon/gjennomforing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/gjennomforing" xmlns:gjennomforing="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/gjennomforing" xmlns:part="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/part" xmlns:fakta="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/fakta" xmlns:virkemiddel="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/virkemiddel" xmlns:generelleTyper="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/generelleTyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kodeverk="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/kodeverk" xmlns:multippel="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/multippel">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/multippel" schemaLocation="multippel.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/kodeverk" schemaLocation="kodeverk.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/generelleTyper" schemaLocation="generelleTyper.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/virkemiddel" schemaLocation="virkemiddel.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/fakta" schemaLocation="fakta.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/journal/v1/informasjon/part" schemaLocation="part.xsd"/>
	<xs:complexType name="Henvendelse">
		<xs:sequence>
			<xs:element name="henvendelsesid" type="generelleTyper:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="opprettetdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="kanal" type="kodeverk:Kommunikasjonskanal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="merknad" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="kommunikasjonsretning" type="kodeverk:Kommunikasjonsretning" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tittel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lestdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="henvendelsestype" type="kodeverk:Henvendelsestype" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatur" type="multippel:Signatur" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dokumentdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sendtdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sensitivitet" type="kodeverk:Sensitivitet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gjelderBruker" type="part:Part" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="avsender" type="part:Part" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mottaker" type="part:Part" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="gjelderSak" type="gjennomforing:Sak" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tema" type="virkemiddel:Tema" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JournalfoertDokumentInfo">
		<xs:complexContent>
			<xs:extension base="fakta:DokumentBeskrivelse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Journalpost">
		<xs:complexContent>
			<xs:extension base="gjennomforing:Registrering">
				<xs:sequence>
					<xs:element name="journalpostid" type="generelleTyper:Identifikator" minOccurs="1" maxOccurs="1"/>
					<xs:element name="journalstatus" type="kodeverk:Journalstatus" minOccurs="0" maxOccurs="1"/>
					<xs:element name="journaldato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="elektroniskdistribusjon" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="faktiskdistribusjonskanal" type="kodeverk:Kommunikasjonskanal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="mottattaddresatdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="sendtprintdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="opprettetAv" type="part:Medarbeider" minOccurs="0" maxOccurs="1"/>
					<xs:element name="returInfo" type="gjennomforing:ReturInfo" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="journalpostDokumentinfoRelasjon" type="gjennomforing:JournalpostDokumentInfoRelasjon" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="journalfoertAv" type="part:Medarbeider" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JournalpostDokumentInfoRelasjon">
		<xs:sequence>
			<xs:element name="journalpostdokumentrelasjonid" type="generelleTyper:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tilknyttetavnavn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tilknyttetjournalpostsom" type="kodeverk:TilknyttetJournalPostSom" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tilknyttetAv" type="part:Medarbeider" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dokument" type="gjennomforing:JournalfoertDokumentInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Registrering">
		<xs:complexContent>
			<xs:extension base="gjennomforing:Henvendelse">
				<xs:sequence>
					<xs:element name="mottattdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReturInfo">
		<xs:sequence>
			<xs:element name="adressesendtigjen" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="aarsakretur" type="kodeverk:AarsakRetur" minOccurs="0" maxOccurs="1"/>
			<xs:element name="returdato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="returinfoid" type="generelleTyper:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sendtigjendato" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sak">
		<xs:sequence>
			<xs:element name="sakid_fagsystem" type="generelleTyper:Identifikator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fagssystem" type="kodeverk:Fagsystem" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
