testvarsel-opprettelse/src/main/resources/Opprettestvarsel.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:varsel="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="OpprettTestvarselService"
                  targetNamespace="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1">
    <wsdl:types>
        <xsd:schema
            elementFormDefault="unqualified"
            targetNamespace="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1"
            xmlns:varsel="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1">

            <xsd:import namespace="http://nav.no/melding/domene/brukerdialog/opprettestvarsel/v1"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/opprettestvarsel/v1/meldinger.xsd"/>

            <xsd:element name="opprettestvarselRequest" type="varsel:opprettestvarselRequest"/>
            <xsd:element name="opprettestvarselResponse" type="varsel:opprettestvarselResponse"/>
            <xsd:element name="ping" type="varsel:pingRequest"/>
            <xsd:element name="pingResponse" type="varsel:pingResponse"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="opprettestvarselRequest">
        <wsdl:part name="request" element="varsel:opprettestvarselRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettestvarselResponse">
        <wsdl:part name="response" element="varsel:opprettestvarselResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="request" element="varsel:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="response" element="varsel:pingResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="OpprettestvarselPorttype">
        <wsdl:operation name="ping">
            <wsdl:input message="varsel:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="varsel:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettestvarsel">
            <wsdl:input message="varsel:opprettestvarselRequest" name="opprettestvarselRequest">
            </wsdl:input>
            <wsdl:output message="varsel:opprettestvarselResponse" name="opprettestvarselResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OpprettestvarselBinding" type="varsel:OpprettestvarselPorttype">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opprettestvarsel">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/opprettestvarsel/v1/opprettestvarselRequest" style="document"/>
            <wsdl:input name="opprettestvarselRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettestvarselResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/opprettestvarsel/v1/pingRequest" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Opprettestvarsel_v1">
        <wsdl:port binding="varsel:OpprettestvarselBinding" name="Opprettestvarsel_v1">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/Opprettestvarsel_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
