nav-fim-person-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/person/v1/informasjon/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/person/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:metadata="http://nav.no/tjeneste/virksomhet/person/v1/metadata" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/person/v1/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/person/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
	<xs:complexType name="Gyldighetsperiode">
		<xs:annotation>
			<xs:documentation>Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden.

fom er pålagt attributt for instanser av gyldighetsperiode.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Periode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Periode">
		<xs:annotation>
			<xs:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen.

Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fom" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tom" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Bruker">
		<xs:annotation>
			<xs:documentation>Person i rollen bruker

(Andre forslag: Kunde, klient, interessent )</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Person">
				<xs:sequence>
					<xs:element name="foedested" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="gjeldendePostadresseType" type="informasjon:Postadressetyper" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Prioritert adressetype for utsending av post til bruker. Settes av produsenten basert på forretningsregler i gjeldene adressepolicy. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="harAnsvarligEnhet" type="informasjon:AnsvarligEnhet" minOccurs="1" maxOccurs="1"/>
					<xs:element name="midlertidigPostadresse" type="informasjon:MidlertidigPostadresse" minOccurs="0" maxOccurs="1"/>
					<xs:element name="umyndiggjort" type="informasjon:Umyndiggjort" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="diskresjonskode" type="informasjon:Diskresjonskoder" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Er det registrert en diskresjonskode på personen? "Ja/Nei" 
Det kan være aktuelt å registrere hvilken periode dette gjaldt - enten som bruksperiode og/eller gyldighetsperiode. Dette må avklares.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bankkonto" type="informasjon:Bankkonto" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bostedsadresse" type="informasjon:Bostedsadresse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sivilstand" type="informasjon:Sivilstand" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statsborgerskap" type="informasjon:Statsborgerskap" minOccurs="0" maxOccurs="1"/>
			<xs:element name="harFraRolleI" type="informasjon:Familierelasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ident" type="informasjon:NorskIdent" minOccurs="0" maxOccurs="1"/>
			<xs:element name="kjoenn" type="informasjon:Kjoenn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="personnavn" type="informasjon:Personnavn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="personstatus" type="informasjon:Personstatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="postadresse" type="informasjon:Postadresse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="doedsdato" type="informasjon:Doedsdato" minOccurs="0" maxOccurs="1"/>
			<xs:element name="foedselsdato" type="informasjon:Foedselsdato" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Diskresjonskoder">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Diskresjonskoder

Koder:
0
1
2
3
4
5
6
7
8</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Diskresjonskoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Familierelasjoner">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Familierelasjoner</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Familierelasjoner" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Kjoennstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Kj_c3_b8nnstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Kj_c3_b8nnstyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Landkoder">
		<xs:annotation>
			<xs:documentation>Sett med unike koder for land.
http://nav.no/kodeverk/Kodeverk/Landkoder</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Personidenter">
		<xs:annotation>
			<xs:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ...
http://nav.no/kodeverk/Kodeverk/Personidenter</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Personidenter" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Personstatuser">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Personstatuser

Fra TPS. F.eks. Død, Utvandret, Bosatt</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Personstatuser" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Postadressetyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Postadressetyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Postadressetyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Postnummer">
		<xs:annotation>
			<xs:documentation>Poststed angir et postadministrativt område med
en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder

http://nav.no/kodeverk/Kodeverk/Postnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Postnummer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Sivilstander">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Sivilstander</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Sivilstander" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Valutaer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Valutaer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Valutaer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Organisasjonselement">
		<xs:annotation>
			<xs:documentation>Et OrganisasjonsElement grupperer personressurser som jobber for NAV og poensielt flere OrganisasjonsElementer som hører inn under det aktuelle OrganisasjonsElementet.
Et OrganisasjonsElement er videre superklasse for formelle organisasjonsenheter (Organisasjonsenhet). Et OrganisasjonsElement kan være et prosjekt, et team eller noe annet.
OrganisasjonsElementer kan være relatert til andre OrganisasjonsElementer.

Denne entiteten vil det være behov for metadata på:
- endringssporing
- kilde
- gyldighetsperiode
- bruksperiode (kanskje)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organisasjonselementID" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unik identifikator innenfor eller på tvers av organisasjonsstrukturer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisasjonsenhet">
		<xs:annotation>
			<xs:documentation>En Organisasjonsenhet er en enhet som er formell i en organisasjon (f.eks. har en leder og resultatansvar).

http://jira.adeo.no/browse/BEGREP-137 Enhet (Organisasjonsenhet)

http://jira.adeo.no/browse/BEGREP-207 Organisasjonsenhet</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Organisasjonselement">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnsvarligEnhet">
		<xs:sequence>
			<xs:element name="enhet" type="informasjon:Organisasjonsenhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Foedselsdato">
		<xs:sequence>
			<xs:element name="foedselsdato" type="xs:date" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Bankkonto" abstract="true">
		<xs:sequence/>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="BankkontoNorge">
		<xs:annotation>
			<xs:documentation>Temporalitet: Historikk på bruksperiode</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkonto">
				<xs:sequence>
					<xs:element name="bankkonto" type="informasjon:Bankkontonummer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BankkontoUtland">
		<xs:annotation>
			<xs:documentation>Temporalitet: Historikk på bruksperiode</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkonto">
				<xs:sequence>
					<xs:element name="bankkontoUtland" type="informasjon:BankkontonummerUtland" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Bostedsadresse">
		<xs:annotation>
			<xs:documentation>En geografisk adresse som er knyttet til en fysisk person. Adressen angir hvor den gitte personen oppholder seg. Brukes om adresser i Norge

Synonymt med arena begrep "Folkeregisteradresse" - Adresse til det stedet brukeren er bosatt etter folkeregisterloven. Kommer fra TPS og er alltid BOAD
Hentes fra DSF.
Fås kun om man er bosatt i Norge. Betydning for ytelsesberegninger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="strukturertAdresse" type="informasjon:StrukturertAdresse" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Doedsdato">
		<xs:annotation>
			<xs:documentation>Dato for når en gitt person døde.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="doedsdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Registrert dødsdato.
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Familierelasjon">
		<xs:sequence>
			<xs:element name="harSammeBosted" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tilRolle" type="informasjon:Familierelasjoner" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tilPerson" type="informasjon:Person" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Kjoenn">
		<xs:sequence>
			<xs:element name="kjoenn" type="informasjon:Kjoennstyper" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MidlertidigPostadresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Angir en adresse hvor bruker oppholder seg i en gitt periode og / eller kan motta post i en gitt periode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postleveringsPeriode" type="informasjon:Gyldighetsperiode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="MidlertidigPostadresseNorge">
		<xs:annotation>
			<xs:documentation>En midlertidig geografisk adresse som skal brukes for utsendelser av post i en viss periode. Adressen vil være oppgitt av bruker, som også må angi tidsrommet for når denne adressen skal brukes til utsendelser.
Kun en midlertidig adresse kan gjelde av gangen (gyldighetsperiode).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:MidlertidigPostadresse">
				<xs:sequence>
					<xs:element name="strukturertAdresse" type="informasjon:StrukturertAdresse" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MidlertidigPostadresseUtland">
		<xs:annotation>
			<xs:documentation>Midlertidig postadresse i utlandet. Brukes til å sende ut post..</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:MidlertidigPostadresse">
				<xs:sequence>
					<xs:element name="ustrukturertAdresse" type="informasjon:UstrukturertAdresse" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NorskIdent">
		<xs:annotation>
			<xs:documentation>Fødselsnr, SSN, ...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ident" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="informasjon:Personidenter" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Personnavn">
		<xs:annotation>
			<xs:documentation>Skal inneholde navn på person.

	- Fornavn
	- Mellomnavn
	- Etternavn
	- Kortnavn</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="etternavn" type="informasjon:Navn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fornavn" type="informasjon:Navn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mellomnavn" type="informasjon:Navn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sammensattNavn" type="informasjon:Navn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Personstatus">
		<xs:annotation>
			<xs:documentation>I TPS er følgende brukt:
ABNR	Aktivt BOSTNR
ADNR	Aktivt
BOSA	Bosatt
DØD	Død
DØDD	Død
FØDR	Fødselsregistrert
FOSV	Forsvunnet/Savnet
UFUL	Ufullstendig fødselsnummer
UREG	Uregistrert person
UTAN	Utgått person annullert tilgang Fnr
UTPE	Utgått person
UTVA	Utvandret</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personstatus" type="informasjon:Personstatuser" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Sivilstand">
		<xs:sequence>
			<xs:element name="Sivilstand" type="informasjon:Sivilstander" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Statsborgerskap">
		<xs:sequence>
			<xs:element name="land" type="informasjon:Landkoder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Umyndiggjort">
		<xs:sequence>
			<xs:element name="umyndiggjort" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode" minOcccurs="0"/>
	</xs:complexType>
	<xs:complexType name="Postadresse">
		<xs:annotation>
			<xs:documentation>En geografisk adresse som angir hvor brev skal  sendes dersom denne inneholder data. En postadresse kan være en postboks eller det kan være en annen person som skal motta post på vegne av den gitte personen. 

Hentes fra DSF
Kan være både norsk og utenlandsk.
Brukes for utsendelse av post på papirform.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UstrukturertAdresse" type="informasjon:UstrukturertAdresse" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Bankkontonummer">
		<xs:annotation>
			<xs:documentation>Begrep-142
Et bankkontonummer er et nummer bestående av 11 siffer som identifiserer bank, kontoform og konto.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bankkontonummer" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tallkombinasjon som unikt dentifiserer en bankkonto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="banknavn" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Navn på banken som forvalter den aktuelle bankkontoen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankkontonummerUtland">
		<xs:annotation>
			<xs:documentation>Utenlandsk bankkontonummer, se bankkontonummer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkontonummer">
				<xs:sequence>
					<xs:element name="swift" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Når du skal motta en betaling fra utlandet, må du oppgi en SWIFT-adresse. Den forteller hvilken bank du er kunde i. SWIFT-adressen er det samme som BIC (Bank Identifier Code), ABA-nummer eller Routing-nummer. Det er ikke det samme som IBAN-nummeret. 


Forkortelsen SWIFT: SWIFT står for Society for Worldwide Interbank Financial Telecommunication. Det er et datanettverk som utveksler betalingsdata mellom flere tusen finansforetak i drøyt 200 land.
Kilde: Forenklet fremstilling fra Den danske bank</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Landet bankkontoen forvaltes i. Avledes fra bankens land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankkode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bankkoden har i mange land utviklet seg til å være en viktig nøkkel som gjør det mulig for banken å sørge for rask utførelse av utbetalinger til utlandet.
Bankkoden kan brukes sammen med SWIFT-adresse. Kodens format og lengde varierer mellom ulike land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankadresse" type="informasjon:UstrukturertAdresse" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kontaktadresse for en utenlandsk bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valuta" type="informasjon:Valutaer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Et lands myntsort.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Gateadresse">
		<xs:annotation>
			<xs:documentation>En geografisk adresse som angir geografisk plassering i veiadresse form. Vil brukes om adresser i Norge.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:StedsadresseNorge">
				<xs:sequence>
					<xs:element name="gatenummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nummerering av alle gater/veger, som sammen med kommunenummer danner en gateident som er en unik ident for gater. Se: http://www.kartverket.no/Documents/Standard/SOSI%20kap3%20Produktspesifikasjoner/FKB%204.02%202011-12-01/16-Vegnett-2011-12-01.pdf?si=F70448E07081040EBE926B848977BF4E&amp;rid=635723058&amp;sn=Statkart</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gatenavn" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adressenavn er definert i matrikkelforskriften § 2 bokstav  e, som navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen. Et adressenavn skal være entydig innenfor samme kommune. To gater kan således ikke ha samme navn i samme kommune.

Dersom to eller flere kommuner har et felles adresseringsområde skal navnet være entydig innenfor alle de aktuelle kommunene. 
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="husnummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hvilket nummer i en gateadresse bygningen eller eiendommen har. Adressenummer er definert i matrikkelforskriften § 2 bokstav f som et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område.
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="husbokstav" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Husbokstav brukes i tillegg til gatenavn og -nummer for å skille seksjoner med samme adresse fra hverandre. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeografiskAdresse">
		<xs:sequence>
			<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Matrikkeladresse">
		<xs:annotation>
			<xs:documentation>Begrep 463:
"Adresse som ikke er gitt offisiell adresse, og hvor matrikkelnummer brukes. Identifiseres ved help av gårdsnummer,
bruksnummer og eventuelt festenummer og undernummer. Undernummer kan brukes selv om festenummer
mangler (er null)."
Statens kartverk, SOSI standard - generell objektkatalog versjon 4.0

Den offisielle benevnelse for hver enkel matrikkelenhet. Unikt nummer innenfor kommune som brukes til å identifisere de enkelte matrikkelenhetene. For at nummereringen skal være entydig må kommunenummeret være en del av matrikkelnummeret.
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:StedsadresseNorge">
				<xs:sequence>
					<xs:element name="eiendomsnavn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Navn på eiendom eller sted.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="matrikkelnummer" type="informasjon:Matrikkelnummer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>sammensatt egenskap som inneholder kombinasjonen gårdsnummer'/'bruksnummer.
Merknad: Dette attributtet ønskes splittet i gårdsnummer og bruksnummer slik at dette blir eksplisitt.
bruksnummer, festenummer, og seksjonsnummer</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Matrikkelnummer">
		<xs:sequence>
			<xs:element name="gaardsnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bruksnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="festenummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="seksjonsnummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="undernummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Postboksadresse" abstract="true">
		<xs:complexContent>
			<xs:extension base="informasjon:StrukturertAdresse">
				<xs:sequence>
					<xs:element name="postboksnummer" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unik identifikator for postboks innen et postadministrativt område.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PostboksadresseNorsk">
		<xs:complexContent>
			<xs:extension base="informasjon:Postboksadresse">
				<xs:sequence>
					<xs:element name="poststed" type="informasjon:Postnummer" minOccurs="1" maxOccurs="1"/>
					<xs:element name="postboksanlegg" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Stedsadresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Felles supertype til ulike fysiske adresser i norge/utland
 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:StrukturertAdresse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StedsadresseNorge">
		<xs:annotation>
			<xs:documentation>Fysiske adresser i Norge.
Landkoden settes lik Norge for disse adresseforekomstene.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Stedsadresse">
				<xs:sequence>
					<xs:element name="poststed" type="informasjon:Postnummer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Poststed angir et postadministrativt område med
en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bolignummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="kommunenummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StrukturertAdresse" abstract="true">
		<xs:complexContent>
			<xs:extension base="informasjon:GeografiskAdresse">
				<xs:sequence>
					<xs:element name="tilleggsadresse" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Navn på sted, f.eks. "Meskumski" i Re kommune.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tilleggsadresseType" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UstrukturertAdresse">
		<xs:annotation>
			<xs:documentation>Svært generisk adresseentitet for å dekke behov i løsninger som ikke har modellert adresse presist.
Adresselinje 1 bør inneholde gatenavn, nummer og ev. bokstav, 
(Kan inneholde suiteid og etasjeid for utenlandske adresser).
Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed
Adresselinje 3 bør inneholde navn på land.

Merknad: Denne generelle adressestrukturen ønskes faset ut på sikt da den gir liten mulighet for å tolke/validere innholdet da det er ukjent format og innhold..</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:GeografiskAdresse">
				<xs:sequence>
					<xs:element name="adresselinje1" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adresselinje 1 bør inneholde ev. co-navn, gatenavn med nummer, samt ev. bokstav, suiteid, etasjeid, eller "P.O.Box" og postboksnr  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje2" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje3" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed
		Adresselinje 3 bør inneholde navn på land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adresselinje4" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kodeverdi">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="kodeRef" use="optional" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
