arbeidsevnevurdering-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsevnevurdering/v1/arbeidsevnevurdering.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="arbeidsevnevurdering" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsevnevurdering/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnArbeidsevnevurdering">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:finnArbeidsevnevurderingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsevnevurderingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:finnArbeidsevnevurderingResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsevnevurderingpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="finnArbeidsevnevurderingugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnArbeidsevnevurderingsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnArbeidsevnevurdering_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnArbeidsevnevurderingpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsevnevurdering_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnArbeidsevnevurderingsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsevnevurdering_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnArbeidsevnevurderingugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsevnevurderingRequest">
    <wsdl:part name="parameters" element="tns:finnArbeidsevnevurdering">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsevnevurderingResponse">
    <wsdl:part name="parameters" element="tns:finnArbeidsevnevurderingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Arbeidsevnevurdering_v1">
    <wsdl:operation name="finnArbeidsevnevurdering">
      <wsdl:input message="tns:finnArbeidsevnevurderingRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnArbeidsevnevurderingResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnArbeidsevnevurdering_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnArbeidsevnevurdering_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnArbeidsevnevurdering_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
