nav-journal-v3-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/journal/v3/informasjon/hentkjernejournalpostliste/hentkjernejournalpostliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v3/informasjon/hentkjernejournalpostliste"
	xmlns:informasjon="http://nav.no/tjeneste/virksomhet/journal/v3/informasjon" xmlns:hentkjernejournalpostliste="http://nav.no/tjeneste/virksomhet/journal/v3/informasjon/hentkjernejournalpostliste">

	<xsd:complexType name="ArkivSak">
		<xsd:sequence>
			<xsd:element name="arkivSakId" type="informasjon:Identifikator">
				<xsd:annotation>
					<xsd:documentation>Unik identifikator av et saksobjekt. SaksId vil
						for enkelte fagsystemer tilsvare fagsaksnummer
						(eks. PESYS), mens
						kan for andre fagsystemer være en peker (eks. fagsystemer som
						inngår i GOSYS)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="arkivSakSystem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Angivelse av hvilket fagsystem saken tilhører.
						Se kodeverk for relevante verdier
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="erFeilregistrert" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Brukes i response. True hvis knytningen mellom
						sak og journalpost ikke lenger er gyldig
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Soekefilter">
		<xsd:sequence>
			<xsd:element name="journalposttype" type="informasjon:Journalposttyper" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Filtrere søket på Inngående, Utgående eller
						Notat
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tema" type="informasjon:Tema" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Filtrere søket på tema/fagområde
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journalFom" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Filtrerer søket på journalpost.opprettetDato fra
						og med gitt dato
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journalTom" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Filtrerer søket på journalpost.opprettetDato til
						og med gitt dato
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Journalpost">
		<xsd:sequence>
			<xsd:element name="journalpostId" type="informasjon:Identifikator">
				<xsd:annotation>
					<xsd:documentation>Primærnøkkel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gjelderArkivSak" type="hentkjernejournalpostliste:ArkivSak" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Objekt som inneholder metadata om sakstilknytning</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kryssreferanseListe" type="hentkjernejournalpostliste:Kryssreferanse" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Objekt med referanse til annen forsendelse (journalpost)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="korrespondansePart" type="hentkjernejournalpostliste:KorrespendansePart" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Filtrere sølet på Inngående, Utgående eller Notat</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hoveddokument" type="hentkjernejournalpostliste:DetaljertDokumentinformasjon">
				<xsd:annotation>
					<xsd:documentation>Objekt med hovveddokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vedleggListe" type="hentkjernejournalpostliste:DetaljertDokumentinformasjon" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Liste med objekt av vedlegg</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="brukerListe" type="informasjon:Aktoer" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Liste med Brukerobjekter	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journaltilstand" type="informasjon:Journaltilstand">
				<xsd:annotation>
					<xsd:documentation>Statuskoder for forsendelse</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journalposttype" type="informasjon:Journalposttyper">
				<xsd:annotation>
					<xsd:documentation>Inngående, Utgående eller Notat</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tema" type="informasjon:Tema" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon. Se kodeverk for relevante verdier.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mottakskanal" type="informasjon:Mottakskanaler" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mottakskanal/utsendingskanal for forsendelse. Se kodeverk for relevante verdier.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="utsendingskanal" type="informasjon:Utsendingskanaler" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Utsendingskanal for forsendelsen. Se kodeverk for relevante verdier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="innhold" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Beskriver innholdet i forsendelsen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forsendelseJournalfoert" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dato for journalføring, dvs. når journalstatus er satt til J eller FS/FL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forsendelseMottatt" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dato for mottak av forsendelsen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:complexType name="DetaljertDokumentinformasjon">
		<xsd:sequence>
			<xsd:element name="dokumentId" type="informasjon:Identifikator">
				<xsd:annotation>
					<xsd:documentation>Primærnøkkel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumentInnholdListe" type="hentkjernejournalpostliste:DokumentInnhold" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Informasjon knyttet til fysisk fil</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumentTypeId" type="informasjon:DokumenttypeIder" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unik identifikator av dokumenttype på tvers av fagsystemer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tittel" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dokumentets tittel/innhold</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumentkategori" type="informasjon:Dokumentkategorier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dokumentkategori. Se kodeverk for relevante verdier.	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumenttilstand" type="informasjon:Dokumenttilstand" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statuskode for å styre dokumentproduksjon (utgående dokumenter og notater)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="skannetInnholdListe" type="hentkjernejournalpostliste:SkannetInnhold" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Objekt som inneholder tittel på logiske vedlegg i forsendelsen (i bruk for inngående forsendelser som skannes hvor hoveddokument og evt. vedlegg skannes som èn fil). 	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- DokumentInnhold -->
	<xsd:complexType name="Kryssreferanse">
		<xsd:sequence>
			<xsd:element name="referanseId" type="informasjon:Identifikator">
				<xsd:annotation>
					<xsd:documentation>Referanse (intern eller ekstern)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="referanse" type="informasjon:Referanser">
				<xsd:annotation>
					<xsd:documentation>Definerer type referanse</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="KorrespendansePart">
		<xsd:sequence>
			<xsd:element name="korrespondansepartType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Avsender eller Mottaker</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="korrespondansepartNavn" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Navn på avsenderMottaker	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="korrespondansepartId" type="informasjon:Identifikator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Id på avsenderMottaker	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SkannetInnhold">
		<xsd:sequence>
			<xsd:element name="vedleggInnhold" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Beskriver innholdet i dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumenttypeId" type="informasjon:DokumenttypeIder" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DokumenttypeId for dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DokumentInnhold">
		<xsd:sequence>
			<xsd:element name="arkivfiltype" type="informasjon:Arkivfiltyper">
				<xsd:annotation>
					<xsd:documentation>Filtypen til dokumentet. Se kodeverk for relevante verdier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="variantformat" type="informasjon:Variantformater">
				<xsd:annotation>
					<xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	

</xsd:schema>