pleiepenger-v1-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/pleiepenger/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/informasjon">
  <xsd:complexType name="Kodeverdi">
    <xsd:annotation>
      <xsd:documentation>Representasjon av kodeverk.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kode" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Representasjon av kode.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="termnavn" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Representasjon av term som forklarer kode.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Refusjonstype">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Arbeidskategori">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periodetype">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Inntektsperiode">
    <xsd:annotation>
      <xsd:documentation>http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://confluence.adeo.no/display/INFOTRYGD/IT20_FA+MOD+-+Informasjonsmodell" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Angir periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsforhold">
    <xsd:annotation>
      <xsd:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til pleiepengerettigheten for perioden. Kan ha krav på refusjon i en periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsgiverKontonr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kontonummer som brukes for utbetaling til arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsgiverOrgnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Organisasjonsnummeret til arbeidsgiver.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refusjonTom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Siste dato i perioden arbeidsgiver har krav på refusjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refusjonstype" type="informasjon:Refusjonstype">
        <xsd:annotation>
          <xsd:documentation>Kode for refusjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektsperiode" type="informasjon:Inntektsperiode">
        <xsd:annotation>
          <xsd:documentation>Inntekten er gjeldene i denne perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektForPerioden" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Inntekt i perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation>Personen som har rettighet til å få utbetalt foreldrepenger.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>fnr/dnr til personen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pleiepengerettighet">
    <xsd:annotation>
      <xsd:documentation>Pleiepenger skal erstatte arbeidsinntekt for pleie av et sykt barn i en begrenset periode</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="barnet" type="informasjon:Person">
        <xsd:annotation>
          <xsd:documentation>fnr/dnr/++ for barnet som pleiepengetilfellet gjelder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="omsorgsperson" type="informasjon:Person">
        <xsd:annotation>
          <xsd:documentation>Personen som har rettighet til å få utbetalt pleiepenger</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="andreOmsorgsperson" type="informasjon:Person">
        <xsd:annotation>
          <xsd:documentation>Et barn kan maksimalt ha to omsorgspersoner knyttet til seg. Dette feltet representerer den andre omsorgspersonen til barnet hvis personen har aktiv ytelse i dag, eller er registrert med ytelse i en framtidig/anvist periode. Ingen verdi hvis denne personen har diskresjonskode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forbrukteDagerTOMIDag" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Totalt antall forbruke pleiepengedager til og med idag ("døgnfersk" oppdatering av kontoen). Viser totalt antall dager, også dager brukt av andre omsorgspersoner.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pleiepengedager" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Totalt antall invilget dager med pleiepenger.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="restDagerFOMIMorgen" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Antall dager igjen av denne rettigheten. Beregnes fra og med imorgen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="restDagerAnvist" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Antall dager igjen av denne rettigheten. Beregnes fra anvist tom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erDatagrunnlagManglende" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg om manglende datagrunnlag ved delvis nedetid i Infotrygd sine databaser.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="pleiepengeperiodeListe" type="informasjon:Pleiepengeperiode">
        <xsd:annotation>
          <xsd:documentation>Liste med pleiepengeperioder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pleiepengeperiode">
    <xsd:annotation>
      <xsd:documentation>En rettighet til pleiepenger kan inndeles i flere pleiepengeperioder.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pleiepengerFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato som identifiserer pleiepengeperioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedtakListe" type="informasjon:Vedtak">
        <xsd:annotation>
          <xsd:documentation>Liste over vedtak tatt i denne pleiepengeperioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="antallPleiepengedager" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Totalt antall pleiepengedager for perioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsforholdListe" type="informasjon:Arbeidsforhold">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgiver i brukers arbeidsforhold knyttet til foreldrepengerettigheten. Kan ha krav på refusjon i en periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidskategori" type="informasjon:Arbeidskategori">
        <xsd:annotation>
          <xsd:documentation>Kode for hvilken arbeidskategori bruker tilhører.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtak">
    <xsd:annotation>
      <xsd:documentation>Vedtak knyttet til utbetaling av pleiepenger.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="vedtak" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Den perioden som gjelder for vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utbetalingsgrad" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Prosent av total utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="anvistUtbetaling" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for utbetaling til mottaker.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruttobeloep" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Brutto beløp til utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiverKontonr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kontonummer for arbeidsgiver knyttet til dette vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiverOrgnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Organisasjonsnummer til arbeidsgiver knyttet til dette vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dagsats" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Beløp pr. dag.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksbehandler" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Saksbehandler knyttet til vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periodetype" type="informasjon:Periodetype">
        <xsd:annotation>
          <xsd:documentation>Kode for type periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kompensasjonsgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Kompensasjonsgrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opphoerFom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Avslutningsdato for vedtaket. Benyttes til å forkorte en tidligere registrert periode.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="pleiepengegrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Hvis barnet trenger tilsyn og pleie hele døgnet og det også er andre enn foreldrene som har tilsyn med barnet, skal pleiepenger graderes ut fra hvor mye tilsyn barnet har.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>