nav-organisasjonEndringer-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonendringer/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/informasjon"
           xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEndringer/v1/informasjon"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="OrganisasjonMedSluttdato">
        <xs:sequence>
            <xs:element name="juridiskEnhet" type="xs:string" minOccurs="0"/>
            <xs:element name="virksomhet" type="xs:string" minOccurs="0"/>
            <xs:element name="sluttdato" type="xs:date" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>