cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/henvendelse/ASBOGOSYSHenvendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
	xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse">
	<xsd:import schemaLocation="../ASBOGOSYSBruker.xsd"
		namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo">
	</xsd:import>
	<xsd:import
		namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave"
		schemaLocation="../oppgave/ASBOGOSYSOppgave.xsd" />
	<xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
		schemaLocation="../ASBOGOSYSEndringsInfo.xsd" />
	<xsd:complexType name="ASBOGOSYSHenvendelse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="henvendelsesId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="gjelder"
				type="bons0:ASBOGOSYSBruker" />
			<xsd:element minOccurs="0" name="saksnummer"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="fagomradeKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="underkategori"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="henvendelsesType"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kanal" type="xsd:string" />
			<xsd:element minOccurs="0" name="beskrivelse"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="oppfolging"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="tidsbruk"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="versjon" type="xsd:string" />






			<xsd:element minOccurs="0" name="journalpostIdSendt"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="regKundesenter"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="avslattKundesenter"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="notatBidrag"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="journalpostIdMottatt"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="journalpostIdNotat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="simuleringsId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ferdigstiltDato"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="ferdigstiltAv"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:ASBOGOSYSEndringsInfo">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppgave"
				type="bons2:ASBOGOSYSOppgave" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
