cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSNAVansatt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVansatt" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" xmlns:bons7="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSNAVansatt" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVansatt">
  <wsdl:types>
    <xsd:schema xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navansatt" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navorgenhet" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons5="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" xmlns:bons8="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVansatt" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/NAVansatt" xmlns:bons7="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" schemaLocation="../asbo/navansatt/ASBOGOSYSHentNAVAnsattFagomradeListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navorgenhet" schemaLocation="../fault/navorgenhet/FaultGOSYSNAVOrgEnhetIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/navansatt" schemaLocation="../fault/navansatt/FaultGOSYSNAVAnsattIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSNAVEnhetListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" schemaLocation="../asbo/navorgenhet/ASBOGOSYSNavEnhet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" schemaLocation="../asbo/navansatt/ASBOGOSYSNAVAnsattListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" schemaLocation="../asbo/navansatt/ASBOGOSYSFinnArenaNAVAnsattListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navansatt" schemaLocation="../asbo/navansatt/ASBOGOSYSNAVAnsatt.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../asbo/ASBOGOSYSFagomradeListe.xsd"/>
            <xsd:element name="hentNAVAnsatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattRequest" nillable="true" type="bons7:ASBOGOSYSNAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattResponse" nillable="true" type="bons7:ASBOGOSYSNAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattEnhetListeRequest" nillable="true" type="bons7:ASBOGOSYSNAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattEnhetListeResponse" nillable="true" type="bons5:ASBOGOSYSNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsattFagomradeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattFagomradeListeRequest" nillable="true" type="bons7:ASBOGOSYSHentNAVAnsattFagomradeListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsattFagomradeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattFagomradeListeResponse" nillable="true" type="bons8:ASBOGOSYSFagomradeListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsattListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattListeRequest" nillable="true" type="bons5:ASBOGOSYSNavEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsattListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattListeResponse" nillable="true" type="bons7:ASBOGOSYSNAVAnsattListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsatt_faultGOSYSGeneriskf" type="bons3:FaultGOSYSGenerisk"/>
            <xsd:element name="hentNAVAnsatt_faultGOSYSNAVAnsattIkkeFunnet" type="bons1:FaultGOSYSNAVAnsattIkkeFunnet"/>
            <xsd:element name="hentNAVAnsattEnhetListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
            <xsd:element name="hentNAVAnsattEnhetListe_faultGOSYSNAVAnsattIkkeFunnet" type="bons1:FaultGOSYSNAVAnsattIkkeFunnet"/>
            <xsd:element name="hentNAVAnsattFagomradeListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
            <xsd:element name="hentNAVAnsattFagomradeListe_faultGOSYSNAVAnsattIkkeFunnet" type="bons1:FaultGOSYSNAVAnsattIkkeFunnet"/>
            <xsd:element name="hentNAVAnsattListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
            <xsd:element name="hentNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnet" type="bons2:FaultGOSYSNAVOrgEnhetIkkeFunnet"/>
            <xsd:element name="finnArenaNAVAnsattListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVAnsattListeRequest" nillable="true" type="bons7:ASBOGOSYSFinnArenaNAVAnsattListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnArenaNAVAnsattListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVAnsattListeResponse" nillable="true" type="bons7:ASBOGOSYSNAVAnsattListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentNAVAnsattRequestMsg">
    <wsdl:part element="bons0:hentNAVAnsatt" name="hentNAVAnsattParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattResponseMsg">
    <wsdl:part element="bons0:hentNAVAnsattResponse" name="hentNAVAnsattResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListeRequestMsg">
    <wsdl:part element="bons0:hentNAVAnsattEnhetListe" name="hentNAVAnsattEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListeResponseMsg">
    <wsdl:part element="bons0:hentNAVAnsattEnhetListeResponse" name="hentNAVAnsattEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListeRequestMsg">
    <wsdl:part element="bons0:hentNAVAnsattFagomradeListe" name="hentNAVAnsattFagomradeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListeResponseMsg">
    <wsdl:part element="bons0:hentNAVAnsattFagomradeListeResponse" name="hentNAVAnsattFagomradeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListeRequestMsg">
    <wsdl:part element="bons0:hentNAVAnsattListe" name="hentNAVAnsattListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListeResponseMsg">
    <wsdl:part element="bons0:hentNAVAnsattListeResponse" name="hentNAVAnsattListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsatt_faultGOSYSGeneriskfMsg">
    <wsdl:part element="bons0:hentNAVAnsatt_faultGOSYSGeneriskf" name="faultGOSYSGeneriskf"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsatt_faultGOSYSNAVAnsattIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVAnsatt_faultGOSYSNAVAnsattIkkeFunnet" name="faultGOSYSNAVAnsattIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVAnsattEnhetListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListe_faultGOSYSNAVAnsattIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVAnsattEnhetListe_faultGOSYSNAVAnsattIkkeFunnet" name="faultGOSYSNAVAnsattIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVAnsattFagomradeListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListe_faultGOSYSNAVAnsattIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVAnsattFagomradeListe_faultGOSYSNAVAnsattIkkeFunnet" name="faultGOSYSNAVAnsattIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVAnsattListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnet" name="faultGOSYSNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattListeRequestMsg">
    <wsdl:part element="bons0:finnArenaNAVAnsattListe" name="finnArenaNAVAnsattListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattListeResponseMsg">
    <wsdl:part element="bons0:finnArenaNAVAnsattListeResponse" name="finnArenaNAVAnsattListeResult"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="bons0:hentNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnet" name="faultGOSYSNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentNAVAnsatt_faultGOSYSGeneriskf" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSNAVansatt">
    <wsdl:operation name="hentNAVAnsatt">
      <wsdl:input message="bons0:hentNAVAnsattRequestMsg" name="hentNAVAnsattRequest"/>
      <wsdl:output message="bons0:hentNAVAnsattResponseMsg" name="hentNAVAnsattResponse"/>
            <wsdl:fault message="bons0:hentNAVAnsatt_faultGOSYSGeneriskfMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentNAVAnsatt_faultGOSYSNAVAnsattIkkeFunnetMsg" name="faultGOSYSNAVAnsattIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentNAVAnsattEnhetListe">
      <wsdl:input message="bons0:hentNAVAnsattEnhetListeRequestMsg" name="hentNAVAnsattEnhetListeRequest"/>
      <wsdl:output message="bons0:hentNAVAnsattEnhetListeResponseMsg" name="hentNAVAnsattEnhetListeResponse"/>
            <wsdl:fault message="bons0:hentNAVAnsattEnhetListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentNAVAnsattEnhetListe_faultGOSYSNAVAnsattIkkeFunnetMsg" name="faultGOSYSNAVAnsattIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentNAVAnsattFagomradeListe">
      <wsdl:input message="bons0:hentNAVAnsattFagomradeListeRequestMsg" name="hentNAVAnsattFagomradeListeRequest"/>
      <wsdl:output message="bons0:hentNAVAnsattFagomradeListeResponseMsg" name="hentNAVAnsattFagomradeListeResponse"/>
            <wsdl:fault message="bons0:hentNAVAnsattFagomradeListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentNAVAnsattFagomradeListe_faultGOSYSNAVAnsattIkkeFunnetMsg" name="faultGOSYSNAVAnsattIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentNAVAnsattListe">
      <wsdl:input message="bons0:hentNAVAnsattListeRequestMsg" name="hentNAVAnsattListeRequest"/>
      <wsdl:output message="bons0:hentNAVAnsattListeResponseMsg" name="hentNAVAnsattListeResponse"/>
            <wsdl:fault message="bons0:hentNAVAnsattListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:hentNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnetMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="finnArenaNAVAnsattListe">
      <wsdl:input message="bons0:finnArenaNAVAnsattListeRequestMsg" name="finnArenaNAVAnsattListeRequest"/>
      <wsdl:output message="bons0:finnArenaNAVAnsattListeResponseMsg" name="finnArenaNAVAnsattListeResponse"/>
      <wsdl:fault message="bons0:finnArenaNAVAnsattListe_faultGOSYSNAVEnhetIkkeFunnetMsg" name="faultGOSYSNAVEnhetIkkeFunnet"/>
            <wsdl:fault message="bons0:finnArenaNAVAnsattListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
