cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/inf/GOSYSDokBrev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/DokBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DokBrev" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/DokBrev">
    <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/dokbrev" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/DokBrev" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/DokBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/dokbrev" schemaLocation="../asbo/dokbrev/ASBOGOSYSHentBrevklientURLResponse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/dokbrev" schemaLocation="../asbo/dokbrev/ASBOGOSYSHentBrevklientURLRequest.xsd"/>
      <xsd:element name="hentBrevklientURL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrevklientURLRequest" nillable="true" type="bons0:ASBOGOSYSHentBrevklientURLRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrevklientURLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrevklientURLResponse" nillable="true" type="bons0:ASBOGOSYSHentBrevklientURLResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons1:FaultGOSYSGenerisk"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentBrevklientURLRequestMsg">
    <wsdl:part element="tns:hentBrevklientURL" name="hentBrevklientURLParameters"/>
  </wsdl:message>
    <wsdl:message name="hentBrevklientURLResponseMsg">
    <wsdl:part element="tns:hentBrevklientURLResponse" name="hentBrevklientURLResult"/>
  </wsdl:message>
    <wsdl:message name="hentBrevklientURL_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSDokBrev">
    <wsdl:operation name="hentBrevklientURL">
      <wsdl:input message="tns:hentBrevklientURLRequestMsg" name="hentBrevklientURLRequest"/>
      <wsdl:output message="tns:hentBrevklientURLResponseMsg" name="hentBrevklientURLResponse"/>
            <wsdl:fault message="tns:hentBrevklientURL_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
