brukerprofil-tjenestespesifikasjon/src/main/wsdl/brukerprofil/no/nav/tjeneste/virksomhet/brukerprofil/v1/metadata/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:metadata="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/metadata">
	<xs:simpleType name="base64Binary">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsnummer">
		<xs:restriction base="metadata:Organisasjonsidentifikator"/>
	</xs:simpleType>
	<xs:attributeGroup name="Gyldighetsperiode">
		<xs:annotation>
			<xs:documentation>Er en periode som angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen.

Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="fomGyldighetsperiode" use="required" type="xs:dateTime"/>
		<xs:attribute name="tomGyldighetsperiode" use="optional" type="xs:dateTime"/>
	</xs:attributeGroup>
	<xs:simpleType name="Endringstyper">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ny"/>
			<xs:enumeration value="endret"/>
			<xs:enumeration value="slettet">
				<xs:annotation>
					<xs:documentation>logisk slettet (setter bruksperiode tom)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utgaatt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Kontonummer">
		<xs:restriction base="metadata:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="decimal">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:attributeGroup name="Dokumentasjon">
		<xs:attribute name="fomBruksperiodeDokumentasjon" use="required" type="xs:dateTime"/>
		<xs:attribute name="tomBruksperiodeDokumentasjon" use="required" type="xs:dateTime"/>
		<xs:attribute name="faktumtype" use="required" type="xs:anyURI"/>
		<xs:attribute name="navID_Dokumentasjon" use="required" type="metadata:Identifikator"/>
		<xs:attribute name="dokumentasjonstype" use="required" type="metadata:Dokumentasjonstype"/>
	</xs:attributeGroup>
	<xs:simpleType name="KildetyperPerson">
		<xs:annotation>
			<xs:documentation>Merk! En saksbehandler er aldri kilde</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="bruker"/>
			<xs:enumeration value="lege"/>
			<xs:enumeration value="advokat"/>
			<xs:enumeration value="saksbehandler">
				<xs:annotation>
					<xs:documentation>der saksbehandler produserer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="andre"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FaktumtypeID">
		<xs:restriction base="metadata:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Dokumentasjonstype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="arkivertBrev"/>
			<xs:enumeration value="behandling"/>
			<xs:enumeration value="elektronisk signatur"/>
			<xs:enumeration value="fil"/>
			<xs:enumeration value="telefon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="Klassifikasjon">
		<xs:annotation>
			<xs:documentation>Modelleringen er basert på følgende kilde:
http://navet.adeo.no/ansatt/Systemsider/sok/solrDokumenterAlle/_attachment/261834?_ts=12d03174608</xs:documentation>
		</xs:annotation>
		<xs:attribute name="klassifiseringskode" use="required" type="metadata:Klassifiseringskoder"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="Personkilde">
		<xs:attribute name="personkildebeskrivelse" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>(Fri-)tekst, tilleggsopplysninger om personkilden.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="personId" use="optional" type="metadata:Personidentifikator">
			<xs:annotation>
				<xs:documentation>Pålagt for Bruker , valgfri for andre</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lisensnr" use="optional" type="metadata:Identifikator">
			<xs:annotation>
				<xs:documentation>Lisensnummer for lege eller advokat.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="personkildetype" use="required" type="metadata:KildetyperPerson"/>
	</xs:attributeGroup>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:attributeGroup name="Endringssporing">
		<xs:annotation>
			<xs:documentation>Endringssporing brukes til å representere data om hvilke endringer som er utført på en entitet, av hvem og når.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="endringstidspunkt" use="optional" type="xs:dateTime"/>
		<xs:attribute name="endretAv" use="optional" type="metadata:Identifikator"/>
		<xs:attribute name="endringstype" use="optional" type="metadata:Endringstyper"/>
	</xs:attributeGroup>
	<xs:simpleType name="NAV-identifikator">
		<xs:restriction base="metadata:Personidentifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Klassifiseringskoder">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ekstraHoeyt"/>
			<xs:enumeration value="hoeyt"/>
			<xs:enumeration value="middels"/>
			<xs:enumeration value="moderat"/>
			<xs:enumeration value="lavt"/>
			<xs:enumeration value="ikkeSatt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsidentifikator">
		<xs:restriction base="metadata:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="KildetyperSystem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="intern"/>
			<xs:enumeration value="samhandler"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Foedselsnummer">
		<xs:restriction base="metadata:Personidentifikator"/>
	</xs:simpleType>
	<xs:attributeGroup name="Bruksperiode">
		<xs:attribute name="fomBruksperiode" use="required" type="xs:dateTime"/>
		<xs:attribute name="tomBruksperiode" use="optional" type="xs:dateTime"/>
	</xs:attributeGroup>
	<xs:simpleType name="Personidentifikator">
		<xs:restriction base="metadata:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:attributeGroup name="Oppbevaringstid">
		<xs:annotation>
			<xs:documentation>Er en periode som angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="fomOppbevaringsperiode" use="required" type="xs:dateTime"/>
		<xs:attribute name="tomOppbevaringsperiode" use="required" type="xs:dateTime"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="Versjon">
		<xs:annotation>
			<xs:documentation>Brukes for å tilordne versjonsinformasjon til en "entitet".</xs:documentation>
		</xs:annotation>
		<xs:attribute name="versjonsnummer" use="required" type="xs:string"/>
		<xs:attribute name="versjoneringsdato" use="required" type="xs:dateTime"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="Systemkilde">
		<xs:attribute name="opprinneligKilde" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Data i NAV kan ha en opprinnelig kilde (master) i eller utenfor NAV. F.eks. POPP, DSF</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="kilde" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Kilde i NAV (kan være lik opprinnelig kilde der opprinnelig kilde er i NAV og master for dataene). F.eks. POPP</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="registrertTidspunktKilde" use="required" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>Når ble data(-ene) registrert .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="applikasjonsId" use="optional" type="metadata:ApplikasjonID">
			<xs:annotation>
				<xs:documentation>Identifikator for applikasjonen som opptrer som konsument av en tjeneste (f.eks. aktivitets- eller informasjonstjeneste)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="systemkildetype" use="required" type="metadata:KildetyperSystem">
			<xs:annotation>
				<xs:documentation>I hvilken systemkilde er dataattributeet/-ene hentet fra /eller skal de lagres til</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="D-nummer">
		<xs:restriction base="metadata:Personidentifikator"/>
	</xs:simpleType>
	<xs:simpleType name="ApplikasjonID">
		<xs:restriction base="metadata:Identifikator"/>
	</xs:simpleType>
</xs:schema>
