utbetaling-tjenestespesifikasjon/src/main/wsdl/utbetaling/no/nav/tjeneste/virksomhet/utbetaling/v1/utbetaling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="utbetaling" targetNamespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/utbetaling/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/utbetaling/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentUtbetalingsinformasjonRequest" type="meldinger:HentUtbetalingsinformasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="hentUtbetalingsinformasjonResponse" type="meldinger:HentUtbetalingsinformasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjonperiodeIkkeGyldig" type="feil:PeriodeIkkeGyldig"/>
      <xsd:element name="hentUtbetalingsinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentUtbetalingsinformasjonikkeTilgang" type="feil:IkkeTilgang"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonRequest">
    <wsdl:part name="parameters" element="tns:hentUtbetalingsinformasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjon_periodeIkkeGyldig">
    <wsdl:part name="periodeIkkeGyldig" element="tns:hentUtbetalingsinformasjonperiodeIkkeGyldig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonResponse">
    <wsdl:part name="parameters" element="tns:hentUtbetalingsinformasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjon_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentUtbetalingsinformasjonpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjon_ikkeTilgang">
    <wsdl:part name="ikkeTilgang" element="tns:hentUtbetalingsinformasjonikkeTilgang">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Utbetaling_v1">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentUtbetalingsinformasjon">
<wsdl:documentation>Henter utbetalingsinformasjon fra utbetalingskomponenten. Denne henter sine data fra UR og Abetal.

Utbetalinger kan enten hentes på rettighetshaver eller utbetalingsmottaker. 
Dette vil i de fleste tilfeller være samme person, men kan avvik ved feks barnepensjon, verge, institusjonsopphold eller sykepenger.

Utbetalinger kan enten hentes ut i fra utbetalingsperiode eller ytelsesperiode. Maksimalt kan utbetalinger hentes for inneværende år + 3 år tilbake i tid </wsdl:documentation>
      <wsdl:input message="tns:hentUtbetalingsinformasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentUtbetalingsinformasjonResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentUtbetalingsinformasjon_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="periodeIkkeGyldig" message="tns:hentUtbetalingsinformasjon_periodeIkkeGyldig">
    </wsdl:fault>
      <wsdl:fault name="ikkeTilgang" message="tns:hentUtbetalingsinformasjon_ikkeTilgang">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
