henvendelse-arkivering/informasjon/src/main/resources/arkivertHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2/informasjon"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="ArkivertHenvendelseService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2/informasjon">
    <wsdl:types>
        <xsd:schema
                xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2/informasjon"
                elementFormDefault="unqualified"
                targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2/informasjon"
                xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2">
            <xsd:import
                    namespace="http://nav.no/tjeneste/domene/brukerdialog/arkivtjenester/v2/typer"
                    schemaLocation="no/nav/tjeneste/domene/brukerdialog/arkivtjenester/v2/typer/typer.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/arkiverthenvendelse/v2/meldinger.xsd"/>

            <xsd:element name="hentArkivertHenvendelse" type="meldinger:hentArkivertHenvendelseRequest"/>
            <xsd:element name="hentArkivertHenvendelseResponse" type="meldinger:hentArkivertHenvendelseResponse"/>
            <xsd:element name="hentArkiverteHenvendelser" type="meldinger:hentArkiverteHenvendelserRequest"/>
            <xsd:element name="hentArkiverteHenvendelserResponse" type="meldinger:hentArkiverteHenvendelserResponse"/>
            <xsd:element name="hentArkiverteTemagrupper" type="meldinger:hentArkivertTemagrupperRequest"/>
            <xsd:element name="hentArkiverteTemagrupperResponse" type="meldinger:hentArkivertTemagrupperResponse"/>
            <xsd:element name="ping" type="meldinger:pingRequest"/>
            <xsd:element name="pingResponse" type="meldinger:pingResponse"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="hentArkivertHenvendelseResponse">
        <wsdl:part name="parameters" element="tns:hentArkivertHenvendelseResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentArkivertHenvendelseRequest">
        <wsdl:part name="parameters" element="tns:hentArkivertHenvendelse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentArkiverteHenvendelserResponse">
        <wsdl:part name="parameters" element="tns:hentArkiverteHenvendelserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentArkiverteHenvendelserRequest">
        <wsdl:part name="parameters" element="tns:hentArkiverteHenvendelser">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentArkiverteTemagrupperRequest">
        <wsdl:part name="parameters" element="tns:hentArkiverteTemagrupper">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentArkiverteTemagrupperResponse">
        <wsdl:part name="parameters" element="tns:hentArkiverteTemagrupperResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ArkivertHenvendelseV2">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentArkivertHenvendelse">
            <wsdl:input message="tns:hentArkivertHenvendelseRequest" name="hentArkivertHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentArkivertHenvendelseResponse" name="hentArkivertHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentArkiverteHenvendelser">
            <wsdl:input message="tns:hentArkiverteHenvendelserRequest" name="hentArkiverteHenvendelserRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentArkiverteHenvendelserResponse" name="hentArkiverteHenvendelserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentArkiverteTemagrupper">
            <wsdl:input message="tns:hentArkiverteTemagrupperRequest" name="hentArkiverteTemagrupperRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentArkiverteTemagrupperResponse" name="hentArkiverteTemagrupperResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ArkivertHenvendelseBinding" type="tns:ArkivertHenvendelseV2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentArkivertHenvendelse">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v2/informasjon/hentArkivertHenvendelseRequest" style="document"/>
            <wsdl:input name="hentArkivertHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentArkivertHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentArkiverteHenvendelser">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v2/informasjon/hentArkiverteHenvendelserRequest" style="document"/>
            <wsdl:input name="hentArkiverteHenvendelserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentArkiverteHenvendelserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentArkiverteTemagrupper">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v2/informasjon/hentArkiverteTemagrupperRequest" style="document" />
            <wsdl:input name="hentArkiverteTemagrupperRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="hentArkiverteTemagrupperResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v2/informasjon/pingRequest" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ArkivertHenvendelseService">
        <wsdl:port binding="tns:ArkivertHenvendelseBinding" name="ArkivertHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/ArkivertHenvendelseService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
