nav-innsynJournal-v2-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/innsynJournal/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/informasjon">
  <xsd:complexType name="Kommunikasjonsretninger">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arkivfiltyper">
    <xsd:annotation>
      <xsd:documentation> Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon.  Se kodeverk for relevante verdier.  http://nav.no/kodeverk/Kodeverk/Arkivtemaer </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SkannetInnhold">
    <xsd:sequence>
      <xsd:element name="skannetInnholdId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Unik identifikasjonsnøkkel for det gjeldende vedlegget </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vedleggInnhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Beskriver innholdet i dokumentet </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TilknyttetJournalpostSom">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Dokumentbeskrivelse">
    <xsd:sequence>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Unik identifikator av DokumentInfo/Dokumentbeskrivelse (dokumentnivå) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="innsynDokument" type="informasjon:InnsynDokument">
        <xsd:annotation>
          <xsd:documentation> 3 relevante verdier: Ja, Nei, KanIkkeAvgjoeres </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tittel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Dokumentets tittel/innhold </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beskriverInnhold" type="informasjon:DokumentInnhold">
        <xsd:annotation>
          <xsd:documentation> Beskriver innhold i hoveddokumentet. Innholdsfeltet må brukes av alle, men verdier/ innholdet i feltet er fagspesifikt. Ved fritekstbrev kan dokumentKategoriene f.eks være: Informasjon, vedtak, forespørsel. Dette feltet skal også benyttes til å angi beskrivelse av konverterte grunnblanketter. Bidrag vil benytte dette feltet i stedet for sin gamle tjeneste. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skannetInnholdListe" type="informasjon:SkannetInnhold">
        <xsd:annotation>
          <xsd:documentation> Objekt som inneholder tittel på logiske vedlegg i forsendelsen (i bruk for inngående forsendelser som skannes hvor hoveddokument og evt. vedlegg skannes som èn fil). </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="JournalfoertDokumentInfo">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Dokumentbeskrivelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentinfoRelasjon">
    <xsd:sequence>
      <xsd:element name="dokumentinfoRelasjonId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Primærnøkkel </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentTilknyttetJournalpost" type="informasjon:TilknyttetJournalpostSom">
        <xsd:annotation>
          <xsd:documentation> Angivelse av om dokumentet er hoveddokument eller vedlegg i forsendelsen. Se kodeverk for relevante verdier. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalfoertDokument" type="informasjon:JournalfoertDokumentInfo">
        <xsd:annotation>
          <xsd:documentation> Objekt som inneholder metadata om hvert enkelt dokument i forsendelsen (samt fysisk dokument (er)) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dokument">
    <xsd:sequence>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Primærnøkkel </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tittel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Dokumentets tittel/innhold </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="innsynDokument" type="informasjon:InnsynDokument">
        <xsd:annotation>
          <xsd:documentation> 3 relevante verdier: Ja, Nei, KanIkkeAvgjoeres </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="DokumentInnhold">
    <xsd:sequence>
      <xsd:element name="filtype" type="informasjon:Arkivfiltyper">
        <xsd:annotation>
          <xsd:documentation> Filtypen til dokumentet. Se kodeverk for relevante verdier. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="variantformat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation> Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AvsenderMottaker">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja"/>
      <xsd:enumeration value="nei"/>
      <xsd:enumeration value="kanIkkeAvgjøres"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Sak">
    <xsd:sequence>
      <xsd:element name="sakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Id som unikt identifiserer et saksobjekt. SaksId vil for enkelte fagsystemer tilsvare fagsaksnummer (eks. PESYS), mens kan for andre fagsystemer være en peker (eks. fagsystemer som inngår i GOSYS). </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagsystem" type="informasjon:Fagsystemer">
        <xsd:annotation>
          <xsd:documentation> Angivelse av hvilket fagsystem saken tilhører. Se kodeverk for relevante verdier </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="InnsynDokument">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja"/>
      <xsd:enumeration value="nei"/>
      <xsd:enumeration value="kanIkkeAvgjoeres"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Arkivtemaer">
    <xsd:annotation>
      <xsd:documentation> Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon.  Se kodeverk for relevante verdier.  http://nav.no/kodeverk/Kodeverk/Arkivtemaer </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Variantformater">
    <xsd:annotation>
      <xsd:documentation> Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon.  Se kodeverk for relevante verdier.  http://nav.no/kodeverk/Kodeverk/Arkivtemaer </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Fagsystemer">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Journalpost">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Unik identifikator av journalposten (forsendelsenivå) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kommunikasjonsretning" type="informasjon:Kommunikasjonsretninger">
        <xsd:annotation>
          <xsd:documentation> Angir om forsendelsen er inngående, utgående eller intern </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arkivtema" type="informasjon:Arkivtemaer">
        <xsd:annotation>
          <xsd:documentation>  Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon. Se kodeverk for relevante verdier </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="eksternPart" type="informasjon:Navn">
        <xsd:annotation>
          <xsd:documentation> Dette er avsender eller mottaker av dokumentet/henvendelsen. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderSak" type="informasjon:Sak">
        <xsd:annotation>
          <xsd:documentation> Inneholder metadata om sakstilknytning </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dokumentinfoRelasjonListe" type="informasjon:DokumentinfoRelasjon">
        <xsd:annotation>
          <xsd:documentation>  Objekt som inneholder metadata om hvert enkelt dokument i forsendelsen </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation> Dato for mottak av forsendelsen, benyttes for journalpostType I (inngående) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation> Dato forsendelsen er sendt, benyttes for journalpostType U (utgående) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ferdigstilt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation> Dato for journalføring, dvs. når journalstatus er satt til J eller FS/FL. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>  Dato for når journalposten er opprettet </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukerErAvsenderMottaker" type="informasjon:AvsenderMottaker">
        <xsd:annotation>
          <xsd:documentation> Informasjon om Bruker er Avstender eller Mottaker </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kanalReferanseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Referanse i eksternt fagystem </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommunikasjonskanal" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Kommunikasjonskanal </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>