dialog-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dialog/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/dialog/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/dialog/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/dialog/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/dialog/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentDialogerResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dialogListe" type="informasjon:Dialog">
        <xsd:annotation>
          <xsd:documentation>Liste over henvendelser/dialog som returneres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDialogerRequest">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personIdent" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Identifikasjonsnummer for person, kan enten være fødselsnummer eller gyldig D-nummer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antall" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Hvis feltet er satt, vil tjenesten returnere maks &lt;Antall&gt; av brukers siste dialoger i returlisten. Feltet siste dato benyttes for å avgjøre hvilke dialoger som er de siste</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>