nav-fim-arbeidsforhold-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsforhold/v1/informasjon/arbeidsforhold.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/informasjon" xmlns:metadata="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
	<xs:complexType abstract="true" name="Aktoer">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="aktoerId" type="informasjon:AktoerID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisasjon">
		<xs:complexContent>
			<xs:extension base="informasjon:Aktoer">
				<xs:sequence>
					<xs:element maxOccurs="1" name="orgnummer" type="informasjon:Organisasjonsnummer"/>
					<xs:element maxOccurs="1" name="navn" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="informasjon:Aktoer">
				<xs:sequence>
					<xs:element maxOccurs="1" name="ident" type="informasjon:NorskIdent"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AntallTimerIPerioden">
		<xs:sequence>
			<xs:element maxOccurs="1" name="periode" type="informasjon:Gyldighetsperiode"/>
			<xs:element maxOccurs="1" name="antallTimer" type="xs:decimal"/>
			<xs:element maxOccurs="1" name="rapporteringsperiode" type="xs:gYearMonth"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Gyldighetsperiode">
		<xs:annotation>
			<xs:documentation>Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden.&#10;&#10;fom er pålagt attributt for instanser av gyldighetsperiode.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Periode">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Periode">
		<xs:annotation>
			<xs:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. &quot;oppløsning&quot;/granularitet på tidsangivelsen.&#10;&#10;Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="fom" type="xs:dateTime"/>
			<xs:element maxOccurs="1" minOccurs="0" name="tom" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ArbeidsforholdsID">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsidentifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PermisjonsID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Arbeidstidsordninger">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Arbeidstidsordninger</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arbeidstidsordninger" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Avloenningstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Avloenningstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Avloenningstyper" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Fartsomraader">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Fartsomraader</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Fartsomraader" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Landkoder">
		<xs:annotation>
			<xs:documentation>Sett med unike koder for land.&#10;http://nav.no/kodeverk/Kodeverk/Landkoder&#10;&#10;(fra TPS)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Personidenter">
		<xs:annotation>
			<xs:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ...&#10;http://nav.no/kodeverk/Kodeverk/Personidenter</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Skipsregistre">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Skipsregistre</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Skipsregistre" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Skipstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Skipstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Skipstyper" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Yrker">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Yrker</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Yrker" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Arbeidsforholdstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Arbeidsforholdstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arbeidsforholdstyper" name="kodeverksRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Arbeidsavtale">
		<xs:sequence>
			<xs:element maxOccurs="1" name="arbeidstidsordning" type="informasjon:Arbeidstidsordninger"/>
			<xs:element maxOccurs="1" name="avloenningstype" type="informasjon:Avloenningstyper"/>
			<xs:element maxOccurs="1" name="yrke" type="informasjon:Yrker"/>
			<xs:element maxOccurs="1" minOccurs="0" name="avtaltArbeidstimerPerUke" type="xs:decimal"/>
			<xs:element maxOccurs="1" minOccurs="0" name="stillingsprosent" type="xs:decimal"/>
			<xs:element maxOccurs="1" minOccurs="0" name="sisteLoennsendringsdato" type="xs:date">
				<xs:annotation>
					<xs:documentation>&#10; Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="beregnetStillingsprosent" type="xs:decimal"/>
			<xs:element maxOccurs="1" minOccurs="0" name="beregnetAntallTimerPrUke" type="xs:decimal"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="NorskIdent">
		<xs:annotation>
			<xs:documentation>Fødselsnr, SSN, ...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" name="ident" type="informasjon:Identifikator"/>
			<xs:element maxOccurs="1" name="type" type="informasjon:Personidenter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Permisjon">
		<xs:sequence>
			<xs:element maxOccurs="1" name="permisjonsId" type="informasjon:PermisjonsID"/>
			<xs:element maxOccurs="1" name="permisjonsPeriode" type="informasjon:Gyldighetsperiode"/>
			<xs:element maxOccurs="1" name="permisjonsprosent" type="xs:decimal"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Utenlandsopphold">
		<xs:sequence>
			<xs:element maxOccurs="1" name="periode" type="informasjon:Gyldighetsperiode"/>
			<xs:element maxOccurs="1" name="land" type="informasjon:Landkoder"/>
			<xs:element maxOccurs="1" name="rapporteringsperiode" type="xs:gYearMonth"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="Arbeidsforhold">
		<xs:annotation>
			<xs:documentation>Et avtaleforhold hvor den ene part (arbeidstakeren, BEGREP-179) forplikter seg til å utføre arbeid for den annen part (arbeidsgiveren, BEGREP-193) i henhold til dennes ledelse, og hvor arbeidsgiveren har risikoen for at arbeidsinnsatsen resulterer i et arbeidsresultat.&#10;I EDAGsmeldingen behandles frilansere som en &quot;arbeidsforholdstype&quot; sammen med pensjons- og ytelsesmottakere.&#10;Freelancere skal filtreres i EDAG fellesforvaltning før det sendes til Aa-registeret. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="arbeidsforholdID" type="informasjon:Identifikator"/>
			<xs:element maxOccurs="1" name="arbeidsforholdIDnav" type="informasjon:ArbeidsforholdsID"/>
			<xs:element maxOccurs="1" name="ansettelsesPeriode" type="informasjon:AnsettelsesPeriode"/>
			<xs:element maxOccurs="1" name="arbeidsforholdstype" type="informasjon:Arbeidsforholdstyper"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="antallTimerForTimeloennet" type="informasjon:AntallTimerIPerioden"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="arbeidsavtale" type="informasjon:Arbeidsavtale"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="permisjon" type="informasjon:Permisjon"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="utenlandsopphold" type="informasjon:Utenlandsopphold"/>
			<xs:element maxOccurs="1" minOccurs="0" name="arbeidsgiver" type="informasjon:Aktoer"/>
			<xs:element maxOccurs="1" minOccurs="0" name="arbeidstaker" type="informasjon:Person"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Tidspunkter"/>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="MaritimArbeidsavtale">
		<xs:complexContent>
			<xs:extension base="informasjon:Arbeidsavtale">
				<xs:sequence>
					<xs:element maxOccurs="1" name="fartsomraade" type="informasjon:Fartsomraader"/>
					<xs:element maxOccurs="1" name="skipsregister" type="informasjon:Skipsregistre"/>
					<xs:element maxOccurs="1" name="skipstype" type="informasjon:Skipstyper"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kodeverdi">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="kodeRef" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AktoerID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsnummer">
		<xs:restriction base="informasjon:Organisasjonsidentifikator"/>
	</xs:simpleType>
	<xs:complexType name="AnsettelsesPeriode">
		<xs:sequence>
			<xs:element name="periode" type="informasjon:Gyldighetsperiode"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
</xs:schema>