nav-hentsykepengeliste-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykepenger/v2/sykepenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sykepenger" targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykepenger/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/sykepenger/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykepenger/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykepenger/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykepenger/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentSykepengerListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSykepengerListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSykepengerListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSykepengerListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSykepengerListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentSykepengerListeResponse">
    <wsdl:part name="parameters" element="tns:hentSykepengerListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykepengerListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentSykepengerListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykepengerListeRequest">
    <wsdl:part name="parameters" element="tns:hentSykepengerListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sykepenger_v2">
    <wsdl:operation name="hentSykepengerListe">
      <wsdl:input message="tns:hentSykepengerListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSykepengerListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentSykepengerListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
