cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/navorgenhet/ASBOGOSYSNavEnhet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/navorgenhet">
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSUnderkategori.xsd"/>
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSAdresse.xsd"/>
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSFagomrade.xsd"/>
    <xsd:complexType name="ASBOGOSYSNavEnhet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enhetsNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgEnhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgNivaKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="adresser" type="bons0:ASBOGOSYSAdresse"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomrader" type="bons0:ASBOGOSYSFagomrade"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="underkategorier" type="bons0:ASBOGOSYSUnderkategori"/>
            <xsd:element minOccurs="0" name="organisertUnder" type="bons2:ASBOGOSYSNavEnhet"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
