nav-pip-diskresjonskode-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/pip/diskresjonskode/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/pip/diskresjonskode/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:meldinger="http://nav.no/tjeneste/pip/diskresjonskode/meldinger">
	<xs:simpleType name="Diskresjonskoder">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="HentDiskresjonskodeRequest">
		<xs:sequence>
			<xs:element name="ident" type="meldinger:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HentDiskresjonskodeResponse">
		<xs:sequence>
			<xs:element name="diskresjonskode" type="meldinger:Diskresjonskoder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
