henvendelse-arkivering/aktivitet/src/main/resources/arkiverHenvendelseBehandling.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="ArkiverHenvendelseService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet">
    <wsdl:types>
        <xsd:schema
                xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet"
                elementFormDefault="unqualified"
                targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet"
                xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1">
            <xsd:import
                    namespace="http://nav.no/tjeneste/domene/brukerdialog/arkivtjenester/v1/typer"
                    schemaLocation="no/nav/tjeneste/domene/brukerdialog/arkivtjenester/v1/typer/typer.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/meldinger.xsd"/>

            <xsd:element name="arkiverHenvendelse" type="meldinger:arkiverHenvendelseRequest"/>
            <xsd:element name="arkiverHenvendelseResponse" type="meldinger:arkiverHenvendelseResponse"/>
            <xsd:element name="settUtgaarDato" type="meldinger:settUtgaarDatoRequest"/>
            <xsd:element name="settUtgaarDatoResponse" type="meldinger:settUtgaarDatoResponse"/>
            <xsd:element name="ping" type="meldinger:pingRequest"/>
            <xsd:element name="pingResponse" type="meldinger:pingResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="arkiverHenvendelseResponse">
        <wsdl:part name="parameters" element="tns:arkiverHenvendelseResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arkiverHenvendelseRequest">
        <wsdl:part name="parameters" element="tns:arkiverHenvendelse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="settUtgaarDatoResponse">
        <wsdl:part name="parameters" element="tns:settUtgaarDatoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="settUtgaarDatoRequest">
        <wsdl:part name="parameters" element="tns:settUtgaarDato">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ArkiverHenvendelseBehandling_v1">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arkiverHenvendelse">
            <wsdl:input message="tns:arkiverHenvendelseRequest" name="arkiverHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:arkiverHenvendelseResponse" name="arkiverHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="settUtgaarDato">
            <wsdl:input message="tns:settUtgaarDatoRequest" name="settUtgaarDatoRequest">
            </wsdl:input>
            <wsdl:output message="tns:settUtgaarDatoResponse" name="settUtgaarDatoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ArkivHenvendelseBinding" type="tns:ArkiverHenvendelseBehandling_v1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="arkiverHenvendelse">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet/arkiverHenvendelseRequest" style="document"/>
            <wsdl:input name="arkiverHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="arkiverHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>
        <wsdl:operation name="settUtgaarDato">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet/settUtgaarDatoRequest" style="document"/>
            <wsdl:input name="settUtgaarDatoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="settUtgaarDatoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
       <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/arkiverhenvendelsebehandling/v1/aktivitet/pingRequest" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ArkiverHenvendelseService_v1">
        <wsdl:port binding="tns:ArkivHenvendelseBinding" name="ArkiverHenvendelsePort_v1">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/ArkiverHenvendelseService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
