cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/infotrygdsak/ASBOGOSYSInfotrygdSak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo">
	<xsd:import schemaLocation="../ASBOGOSYSEndringsInfo.xsd"
		namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo">
	</xsd:import>
	<xsd:complexType name="ASBOGOSYSInfotrygdSak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="gjelderId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="registrertDato"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="underkategoriKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="underkategoriBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstypeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstypeBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="registrertNavEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="behandlendeNavEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksabehandlerId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="vedtaksDato"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="iverksattDato"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="eksternReferanse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:ASBOGOSYSEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
