nav-fim-henvendelsesbehandling-tjenestespesifikasjon/src/main/wsdl/henvendelsesbehandling/kodeverk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/informasjon/kodeverk" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kodeverk="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/informasjon/kodeverk">
	<xs:simpleType name="BehandlingsstatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="venterpådokumentasjon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BehandlingsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kravdialog"/>
			<xs:enumeration value="kravomytelse"/>
			<xs:enumeration value="vedtakomytelse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Henvendelsestype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="melding"/>
			<xs:enumeration value="strukturerteopplysninger"/>
			<xs:enumeration value="sjekkliste"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Kommunikasjonskanal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="elektronisk"/>
			<xs:enumeration value="scanning"/>
			<xs:enumeration value="fysiskoppmøte"/>
			<xs:enumeration value="brev"/>
			<xs:enumeration value="sms"/>
			<xs:enumeration value="e-post"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
