nav-fim-oppfoelging-v1.2.0-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppfoelging/v1/oppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Oppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentOppfoelgingskontraktListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOppfoelgingskontraktListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingskontraktListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOppfoelgingskontraktListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingskontraktListesikkerhetsbegrensning" type="xsd:anyType"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingsstatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOppfoelgingsstatusRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingsstatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOppfoelgingsstatusResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingsstatussikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentOppfoelgingsstatuspersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentOppfoelgingsstatusugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingsstatus_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentOppfoelgingsstatussikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListeRequest">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingsstatus_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentOppfoelgingsstatusugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingsstatusRequest">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingsstatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingsstatusResponse">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingsstatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListeResponse">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentOppfoelgingskontraktListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingsstatus_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentOppfoelgingsstatuspersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OppfoelgingPortType">
    <wsdl:operation name="hentOppfoelgingskontraktListe">
      <wsdl:input message="tns:hentOppfoelgingskontraktListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOppfoelgingskontraktListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentOppfoelgingskontraktListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOppfoelgingsstatus">
      <wsdl:input message="tns:hentOppfoelgingsstatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOppfoelgingsstatusResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentOppfoelgingsstatus_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentOppfoelgingsstatus_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentOppfoelgingsstatus_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
