enhet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/enhet/v1/enhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="enhet" targetNamespace="http://nav.no/virksomhet/tjenester/enhet/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/enhet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/enhet/v1" xmlns:feil="http://nav.no/virksomhet/tjenester/enhet/feil/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/enhet/meldinger/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/enhet/feil/v1" schemaLocation="../feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/enhet/meldinger/v1" schemaLocation="../meldinger/meldinger.xsd"/>
      <xsd:element name="finnEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetListeressursIkkeFunnet" type="feil:RessursIkkeFunnet"/>
      <xsd:element name="hentEnhetListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentRessursListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentRessursListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRessursListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentRessursListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRessursListeenhetikkefunnet" type="feil:EnhetIkkeFunnet"/>
      <xsd:element name="hentRessursListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnEnhetListeResponse">
    <wsdl:part name="parameters" element="tns:finnEnhetListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListe_ressursIkkeFunnet">
    <wsdl:part name="ressursIkkeFunnet" element="tns:hentEnhetListeressursIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursListeRequest">
    <wsdl:part name="parameters" element="tns:hentRessursListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentEnhetListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListeRequest">
    <wsdl:part name="parameters" element="tns:hentEnhetListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursListe_enhetikkefunnet">
    <wsdl:part name="enhetikkefunnet" element="tns:hentRessursListeenhetikkefunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListeResponse">
    <wsdl:part name="parameters" element="tns:hentEnhetListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnEnhetListeRequest">
    <wsdl:part name="parameters" element="tns:finnEnhetListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentRessursListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursListeResponse">
    <wsdl:part name="parameters" element="tns:hentRessursListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Enhet">
    <wsdl:operation name="finnEnhetListe">
      <wsdl:input message="tns:finnEnhetListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnEnhetListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentEnhetListe">
      <wsdl:input message="tns:hentEnhetListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentEnhetListeResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:hentEnhetListe_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="ressursIkkeFunnet" message="tns:hentEnhetListe_ressursIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentRessursListe">
      <wsdl:input message="tns:hentRessursListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentRessursListeResponse">
    </wsdl:output>
      <wsdl:fault name="enhetikkefunnet" message="tns:hentRessursListe_enhetikkefunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentRessursListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
