gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/henvendelsebehandling/no/nav/tjeneste/virksomhet/henvendelsebehandling/v3/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/meldinger" version="3.0" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/meldinger">
  <xsd:complexType name="OpprettHenvendelseMedOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="henvendelse" type="meldinger:OpprettHenvendelse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Henvendelsen som skal opprettes.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgave" type="meldinger:OpprettHenvendelseOppgave">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Nøkkeldata til å opprette en tilhørende oppgave&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="henvendelse" type="meldinger:EndreHenvendelse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Henvendelsen som skal endres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endretAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som endret henvendelsen (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseOppgave">
    <xsd:sequence>
      <xsd:element name="aktivFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når oppgaven er aktiv fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken frist som er satt for å utføre (lukke)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgavetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type oppgaven er&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prioritetKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Prioritet til oppgaven&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ansvarlig enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseMedOppgaveUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="henvendelse" type="meldinger:OpprettHenvendelse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Henvendelsen som skal opprettes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelse">
    <xsd:sequence>
      <xsd:element name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik til id brukeren, kan være fnr, orgnr, etc.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type bruker.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;type&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;beskrivelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;PERSON&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Person&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ORGANISASJON&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Organisasjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;SAMHANDLER&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Samhandler&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;APPBRUKER&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Applikasjonsbruker&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde henvendelsen gjelder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva slags type henvendelse det er&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken underkategori den eventuelt tilhører&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Henvendelsen beskrevet i et eget tekstfelt av bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdMottatt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til mottatt brev som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdNotat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til notat som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdSendt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til sendt brev som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kanalKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken kanal henvendelsen er fremmet gjennom&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notatBidrag" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om det finnes et notat i bisys som hører til henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken oppfølging som er gjort på henvendelsen i form av et beskrivelsesfelt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regKundesenter" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til saken tilknyttet henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simuleringId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til en utført simulering&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tidsbruk" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor mye tid som er brukt på henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avslattKundesenter" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="eksternHenvendelseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;aktive oppgave knyttet til en Gsak-henvendelse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identen til den henvendelsen som ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettHenvendelseUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettHenvendelseMedOppgaveResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identen til den henvendelsen som ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identen til den oppgaven som ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettHenvendelseMedOppgaveUtvidelse1">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndreHenvendelse">
    <xsd:sequence>
      <xsd:element name="henvendelseId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik til id brukeren, kan være fnr, orgnr, etc.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type bruker.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;type&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;beskrivelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;PERSON&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Person&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ORGANISASJON&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Organisasjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;SAMHANDLER&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Samhandler&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;APPBRUKER&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Applikasjonsbruker&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde henvendelsen gjelder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hva slags type henvendelse det er&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken underkategori den eventuelt tilhører&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Henvendelsen beskrevet i et eget tekstfelt av bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdMottatt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til mottatt brev som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdNotat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til notat som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostIdSendt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til sendt brev som ligger i JoArk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kanalKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken kanal henvendelsen er fremmet gjennom&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notatBidrag" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om det finnes et notat i bisys som hører til henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken oppfølging som er gjort på henvendelsen i form av et beskrivelsesfelt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regKundesenter" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til saken tilknyttet henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simuleringId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til en utført simulering&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tidsbruk" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor mye tid som er brukt på henvendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avslattKundesenter" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ident referanse til en oppgave&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brukes for optimistisk låsing&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeilregistrerHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="henvendelseId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Id på henvendelsen som skal feilregistreres&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Beskrivelse på hvorfor henvendelsen skal feilregistreres&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Felt for optimistisk låsing. Når en henvendelse feilregistreres må versjon være likt det som ligger lagret i databasen på henvendelsen.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilregistrertAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Id på den enheten som feilregistrere henvendelsen (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>