arena-personinfo-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/personstatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Eivind Lund (Aetat Arbeidsdirektoratet) -->
<xs:schema xmlns:xdb="http://xmlns.oracle.com/xdb" xmlns:aol="http://www.aetat.no/arena/personstatus.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aetat.no/arena/personstatus.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Personstatus" xdb:defaultTable="XIN_PERSONSTATUS">
		<xs:annotation>
			<xs:documentation>personstatus inneholder informasjon om status som arbeidssøker og ytelse, eventuelt en valideringsfeil.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="aol:PersonstatusType">
					<xs:attribute name="Id" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PersonstatusType">
		<xs:choice>
			<xs:element name="PersonData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusArbeidsoker">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="5"/>
									<xs:enumeration value="ARBS"/>
									<xs:enumeration value="IARBS"/>
									<xs:enumeration value="PARBS"/>
									<xs:enumeration value="RARBS"/>
									<xs:enumeration value="ISERV"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="StatusYtelse">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="INDS"/>
									<xs:enumeration value="DAGP"/>
									<xs:enumeration value="IYT"/>
									<xs:enumeration value="ATTF"/>
									<xs:enumeration value="VENT"/>
									<xs:enumeration value="AAP"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Valideringsfeil" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
						<xs:enumeration value="-20807"> 
						   <xs:annotation>
								<xs:documentation>Person identifisert ved fødselsnummer er ikke registrert i ARENA.</xs:documentation>
							</xs:annotation>
						</xs:enumeration> 	
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
