nav-fim-henvendelsesbehandling-tjenestespesifikasjon/src/main/wsdl/Henvendelsesbehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Henvendelsesbehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/henvendelsesbehandling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="hentHenvendelsesbehandling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentHenvendelsesbehandlingRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentHenvendelsesbehandlingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentHenvendelsesbehandlingResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentHenvendelsesbehandlingRequest">
		<wsdl:part name="parameters" element="tns:hentHenvendelsesbehandling"/>
	</wsdl:message>
	<wsdl:message name="hentHenvendelsesbehandlingResponse">
		<wsdl:part name="parameters" element="tns:hentHenvendelsesbehandlingResponse"/>
	</wsdl:message>
	<wsdl:portType name="HenvendelsesbehandlingPortType">
		<wsdl:operation name="hentHenvendelsesbehandling">
			<wsdl:input name="hentHenvendelsesbehandlingRequest" message="tns:hentHenvendelsesbehandlingRequest"/>
			<wsdl:output name="hentHenvendelsesbehandlingResponse" message="tns:hentHenvendelsesbehandlingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HenvendelsesbehandlingBinding" type="tns:HenvendelsesbehandlingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentHenvendelsesbehandling">
			<soap:operation style="document"/>
			<wsdl:input name="hentHenvendelsesbehandlingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentHenvendelsesbehandlingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Henvendelsesbehandling">
		<wsdl:port name="Henvendelsesbehandling" binding="tns:HenvendelsesbehandlingBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
