nav-fim-brukerprofil-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/brukerprofil/v1/Brukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Brukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/meldinger" xmlns:feil="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/feil">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentKontaktinformasjonOgPreferanser">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentKontaktinformasjonOgPreferanserRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKontaktinformasjonOgPreferanserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentKontaktinformasjonOgPreferanserResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
			<xs:element name="hentKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>		
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentKontaktinformasjonOgPreferanserRequest">
		<wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanser"/>
	</wsdl:message>
	<wsdl:message name="hentKontaktinformasjonOgPreferanserResponse">
		<wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanserResponse"/>
	</wsdl:message>
	<wsdl:message name="hentKontaktinformasjonOgPreferanserFault">
		<wsdl:part name="personIkkeFunnet" element="tns:hentKontaktinformasjonOgPreferanserpersonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="hentKontaktinformasjonOgPreferanserFault1">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:hentKontaktinformasjonOgPreferansersikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:portType name="BrukerprofilPortType">
		<wsdl:operation name="hentKontaktinformasjonOgPreferanser">
			<wsdl:input name="hentKontaktinformasjonOgPreferanserRequest" message="tns:hentKontaktinformasjonOgPreferanserRequest"/>
			<wsdl:output name="hentKontaktinformasjonOgPreferanserResponse" message="tns:hentKontaktinformasjonOgPreferanserResponse"/>
			<wsdl:fault name="hentKontaktinformasjonOgPreferanserFault" message="tns:hentKontaktinformasjonOgPreferanserFault"/>
			<wsdl:fault name="hentKontaktinformasjonOgPreferanserFault1" message="tns:hentKontaktinformasjonOgPreferanserFault1"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BrukerprofilBinding" type="tns:BrukerprofilPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentKontaktinformasjonOgPreferanser">
			<soap:operation style="document"/>
			<wsdl:input name="hentKontaktinformasjonOgPreferanserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentKontaktinformasjonOgPreferanserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="hentKontaktinformasjonOgPreferanserFault">
				<soap:fault name="hentKontaktinformasjonOgPreferanserFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="hentKontaktinformasjonOgPreferanserFault1">
				<soap:fault name="hentKontaktinformasjonOgPreferanserFault1" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Brukerprofil_v1">
		<wsdl:port name="Brukerprofil_v1" binding="tns:BrukerprofilBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
