nav-fim-behandlejournal-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v2/behandlejournal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleJournal" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleJournal/v2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2"
                    xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/feil"
                    xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/feil"
                        schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/meldinger"
                        schemaLocation="meldinger/meldinger.xsd"/>
            <xsd:element name="arkiverUstrukturertKrav">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arkiverUstrukturertKravRequest"
                                     type="meldinger:ArkiverUstrukturertKravRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="arkiverUstrukturertKravResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arkiverUstrukturertKravResponse"
                                     type="meldinger:ArkiverUstrukturertKravResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="lagreVedleggPaaJournalpost">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="lagreVedleggPaaJournalpostRequest"
                                     type="meldinger:LagreVedleggPaaJournalpostRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="lagreVedleggPaaJournalpostResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="lagreVedleggPaaJournalpostResponse"
                                     type="meldinger:LagreVedleggPaaJournalpostResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="lagreVedleggPaaJournalpostlagreVedleggPaaJournalpostjournalpostIkkeFunnet"
                         type="feil:JournalpostIkkeFunnet"/>
            <xsd:element name="ferdigstillDokumentopplasting">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ferdigstillDokumentopplastingRequest"
                                     type="meldinger:FerdigstillDokumentopplastingRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ferdigstillDokumentopplastingResponse">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ferdigstillDokumentopplastingferdigstillDokumentopplastingjournalpostIkkeFunnet"
                         type="feil:JournalpostIkkeFunnet"/>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerNotat">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="journalfoerNotatRequest" type="meldinger:JournalfoerNotatRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerNotatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="journalfoerNotatResponse"
                                     type="meldinger:JournalfoerNotatResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerUtgaaendeHenvendelse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="journalfoerUtgaaendeHenvendelseRequest"
                                     type="meldinger:JournalfoerUtgaaendeHenvendelseRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerUtgaaendeHenvendelseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="journalfoerUtgaaendeHenvendelseResponse"
                                     type="meldinger:JournalfoerUtgaaendeHenvendelseResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerInngaaendeHenvendelse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="journalfoerInngaaendeHenvendelseRequest"
                                     type="meldinger:JournalfoerInngaaendeHenvendelseRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="journalfoerInngaaendeHenvendelseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="journalfoerInngaaendeHenvendelseResponse"
                                     type="meldinger:JournalfoerInngaaendeHenvendelseResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="journalfoerInngaaendeHenvendelseResponse">
        <wsdl:part name="parameters" element="tns:journalfoerInngaaendeHenvendelseResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arkiverUstrukturertKravResponse">
        <wsdl:part name="parameters" element="tns:arkiverUstrukturertKravResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="lagreVedleggPaaJournalpostRequest">
        <wsdl:part name="parameters" element="tns:lagreVedleggPaaJournalpost">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalfoerInngaaendeHenvendelseRequest">
        <wsdl:part name="parameters" element="tns:journalfoerInngaaendeHenvendelse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arkiverUstrukturertKravRequest">
        <wsdl:part name="parameters" element="tns:arkiverUstrukturertKrav">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalfoerNotatResponse">
        <wsdl:part name="parameters" element="tns:journalfoerNotatResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalfoerUtgaaendeHenvendelseResponse">
        <wsdl:part name="parameters" element="tns:journalfoerUtgaaendeHenvendelseResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ferdigstillDokumentopplasting_ferdigstillDokumentopplastingjournalpostIkkeFunnet">
        <wsdl:part name="ferdigstillDokumentopplastingjournalpostIkkeFunnet"
                   element="tns:ferdigstillDokumentopplastingferdigstillDokumentopplastingjournalpostIkkeFunnet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ferdigstillDokumentopplastingRequest">
        <wsdl:part name="parameters" element="tns:ferdigstillDokumentopplasting">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ferdigstillDokumentopplastingResponse">
        <wsdl:part name="parameters" element="tns:ferdigstillDokumentopplastingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalfoerNotatRequest">
        <wsdl:part name="parameters" element="tns:journalfoerNotat">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="journalfoerUtgaaendeHenvendelseRequest">
        <wsdl:part name="parameters" element="tns:journalfoerUtgaaendeHenvendelse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="lagreVedleggPaaJournalpost_lagreVedleggPaaJournalpostjournalpostIkkeFunnet">
        <wsdl:part name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet"
                   element="tns:lagreVedleggPaaJournalpostlagreVedleggPaaJournalpostjournalpostIkkeFunnet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="lagreVedleggPaaJournalpostResponse">
        <wsdl:part name="parameters" element="tns:lagreVedleggPaaJournalpostResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="behandleJournal_v2">
        <wsdl:operation name="arkiverUstrukturertKrav">
            <wsdl:documentation>Operasjonen oppretter en journalpost og lagrer et dokument på denne journalposten.
            </wsdl:documentation>
            <wsdl:input message="tns:arkiverUstrukturertKravRequest">
            </wsdl:input>
            <wsdl:output message="tns:arkiverUstrukturertKravResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lagreVedleggPaaJournalpost">
            <wsdl:documentation>Operasjon for å lagre vedlegg og tilhørende metadata på en journalpost
            </wsdl:documentation>
            <wsdl:input message="tns:lagreVedleggPaaJournalpostRequest">
            </wsdl:input>
            <wsdl:output message="tns:lagreVedleggPaaJournalpostResponse">
            </wsdl:output>
            <wsdl:fault name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet"
                        message="tns:lagreVedleggPaaJournalpost_lagreVedleggPaaJournalpostjournalpostIkkeFunnet">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ferdigstillDokumentopplasting">
            <wsdl:documentation>Operasjonen markerer en journalpost som ferdigstilt etter at dokumentopplasting er
                ferdig.
            </wsdl:documentation>
            <wsdl:input message="tns:ferdigstillDokumentopplastingRequest">
            </wsdl:input>
            <wsdl:output message="tns:ferdigstillDokumentopplastingResponse">
            </wsdl:output>
            <wsdl:fault name="ferdigstillDokumentopplastingjournalpostIkkeFunnet"
                        message="tns:ferdigstillDokumentopplasting_ferdigstillDokumentopplastingjournalpostIkkeFunnet">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerNotat">
            <wsdl:documentation>Operasjon for å endelig journalføre notat henvendelser, støtte for hoveddokument og
                vedlegg.
            </wsdl:documentation>
            <wsdl:input message="tns:journalfoerNotatRequest">
            </wsdl:input>
            <wsdl:output message="tns:journalfoerNotatResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerUtgaaendeHenvendelse">
            <wsdl:documentation>Operasjon for å endelig journalføre utgående henvendelser, støtte for hoveddokument og
                vedlegg.
            </wsdl:documentation>
            <wsdl:input message="tns:journalfoerUtgaaendeHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:journalfoerUtgaaendeHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerInngaaendeHenvendelse">
            <wsdl:documentation>Operasjon for å endelig journalføre inngående henvendelser, støtte for hoveddokument og
                vedlegg.
            </wsdl:documentation>
            <wsdl:input message="tns:journalfoerInngaaendeHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:journalfoerInngaaendeHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
