nav-fim-behandleJournal-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v2/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/Binding"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/Binding"
                  xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/behandleJournal/v2"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2" location="behandleJournal.wsdl">
    </wsdl:import>
    <wsdl:binding name="behandleJournal_v2Binding" type="wsdl_1:behandleJournal_v2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsaw:UsingAddressing/>
        <wsdl:operation name="arkiverUstrukturertKrav">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/arkiverUstrukturertKravRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lagreVedleggPaaJournalpost">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/lagreVedleggPaaJournalpostRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet">
                <soap:fault name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ferdigstillDokumentopplasting">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/ferdigstillDokumentopplastingRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ferdigstillDokumentopplastingjournalpostIkkeFunnet">
                <soap:fault name="ferdigstillDokumentopplastingjournalpostIkkeFunnet" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/pingRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerNotat">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/journalfoerNotatRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerUtgaaendeHenvendelse">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/journalfoerUtgaaendeHenvendelseRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="journalfoerInngaaendeHenvendelse">
            <soap:operation
                    soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/behandleJournal_v2/journalfoerInngaaendeHenvendelseRequest"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BehandleJournal_v2">
        <wsdl:port name="behandleJournal_v2Port" binding="tns:behandleJournal_v2Binding">
            <soap:address location="http://localhost:9080/virksomhet/BehandleJournal_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
