brukerprofil-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/brukerprofil/v2/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentKontaktinformasjonOgPreferanserResponse">
    <xsd:sequence>
      <xsd:element name="person" type="informasjon:Person"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKontaktinformasjonOgPreferanserRequest">
    <xsd:sequence>
      <xsd:element name="personIdent" type="informasjon:Identifikator"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>