henvendelse-soknadsinnsending/src/main/resources/SendSoknad.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="SendSoknadService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1"
                   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger" schemaLocation="no/nav/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger/meldinger.xsd"/>

            <xs:element name="startSoknad" type="meldinger:startSoknadRequest"/>
            <xs:element name="startSoknadResponse" type="meldinger:behandlingsId"/>
            <xs:element name="sendSoknad" type="meldinger:soknadsdata"/>
            <xs:element name="sendSoknadResponse" type="meldinger:empty"/>
            <xs:element name="mellomlagreSoknad" type="meldinger:soknadsdata"/>
            <xs:element name="mellomlagreSoknadResponse" type="meldinger:empty"/>
            <xs:element name="hentSoknad" type="meldinger:behandlingsId"/>
            <xs:element name="hentSoknadResponse" type="meldinger:hentSoknadResponse"/>
            <xs:element name="avbrytSoknad" type="meldinger:behandlingsId"/>
            <xs:element name="avbrytSoknadResponse" type="meldinger:empty"/>
            <xs:element name="hentSisteBehandlingIBehandlingsKjede" type="meldinger:behandlingsId"/>
            <xs:element name="hentSisteBehandlingIBehandlingsKjedeResponse" type="meldinger:hentSoknadResponse"/>

            <xs:element name="ping" type="meldinger:empty"/>
            <xs:element name="pingResponse" type="meldinger:empty"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="startSoknadRequest">
        <wsdl:part element="tns:startSoknad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="startSoknadResponse">
        <wsdl:part element="tns:startSoknadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendSoknadRequest">
        <wsdl:part element="tns:sendSoknad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendSoknadResponse">
        <wsdl:part element="tns:sendSoknadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="mellomlagreSoknadRequest">
        <wsdl:part element="tns:mellomlagreSoknad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mellomlagreSoknadResponse">
        <wsdl:part element="tns:mellomlagreSoknadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSoknadRequest">
        <wsdl:part element="tns:hentSoknad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSoknadResponse">
        <wsdl:part element="tns:hentSoknadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSisteBehandlingIBehandlingsKjedeRequest">
        <wsdl:part element="tns:hentSisteBehandlingIBehandlingsKjede" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="avbrytSoknadRequest">
        <wsdl:part element="tns:avbrytSoknad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="avbrytSoknadResponse">
        <wsdl:part element="tns:avbrytSoknadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SendSoknadPortType">
        <wsdl:operation name="startSoknad">
            <wsdl:input message="tns:startSoknadRequest" name="startSoknadRequest">
            </wsdl:input>
            <wsdl:output message="tns:startSoknadResponse" name="startSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendSoknad">
            <wsdl:input message="tns:sendSoknadRequest" name="sendSoknadRequest">
            </wsdl:input>
            <wsdl:output message="tns:sendSoknadResponse" name="sendSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="mellomlagreSoknad">
            <wsdl:input message="tns:mellomlagreSoknadRequest" name="mellomlagreSoknadRequest">
            </wsdl:input>
            <wsdl:output message="tns:mellomlagreSoknadResponse" name="mellomlagreSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentSoknad">
            <wsdl:input message="tns:hentSoknadRequest" name="hentSoknadRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentSoknadResponse" name="hentSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentSisteBehandlingIBehandlingsKjede">
            <wsdl:input message="tns:hentSisteBehandlingIBehandlingsKjedeRequest" name="hentSisteBehandlingIBehandlingsKjedeRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentSoknadResponse" name="hentSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="avbrytSoknad">
            <wsdl:input message="tns:avbrytSoknadRequest" name="avbrytSoknadRequest">
            </wsdl:input>
            <wsdl:output message="tns:avbrytSoknadResponse" name="avbrytSoknadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendSoknadBinding" type="tns:SendSoknadPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="startSoknad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startSoknadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendSoknad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendSoknadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hentSoknad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentSoknadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentSisteBehandlingIBehandlingsKjede">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentSisteBehandlingIBehandlingsKjedeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="mellomlagreSoknad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mellomlagreSoknadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="mellomlagreSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="avbrytSoknad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="avbrytSoknadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="avbrytSoknadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendSoknadService">
        <wsdl:port binding="tns:SendSoknadBinding" name="SendSoknadPort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/SendSoknadService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
