medlemskap-v1/src/main/resources/medlemskap/wsdl/no/nav/tjeneste/virksomhet/medlemskap/v2/MedlemskapV2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2" xmlns:tns="http://nav.no/tjeneste/virksomhet/medlemskap/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" xmlns:ns1="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" xmlns:ns4="http://nav.no/tjeneste/felles/v1/informasjon" xmlns:ns3="http://nav.no/tjeneste/virksomhet/medlemskap/v2/meldinger">

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" schemaLocation="informasjon/informasjon.xsd"/>

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" schemaLocation="informasjon/kodeverk/kodeverk.xsd"/>

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>

  <xs:import namespace="http://nav.no/tjeneste/felles/v1/informasjon" schemaLocation="../../../felles/v1/informasjon/informasjon.xsd"/>

  <xs:element name="PersonIkkeFunnet" nillable="true" type="ns4:forretningsmessigUnntaksdetaljer"/>

  <xs:element name="Sikkerhetsbegrensning" nillable="true" type="ns4:forretningsmessigUnntaksdetaljer"/>

  <xs:element name="hentPeriode" type="tns:hentPeriode"/>

  <xs:element name="hentPeriodeListe" type="tns:hentPeriodeListe"/>

  <xs:element name="hentPeriodeListeResponse" type="tns:hentPeriodeListeResponse"/>

  <xs:element name="hentPeriodeResponse" type="tns:hentPeriodeResponse"/>

  <xs:element name="ping" type="tns:ping"/>

  <xs:element name="pingResponse" type="tns:pingResponse"/>

  <xs:complexType name="hentPeriodeListe">
    <xs:sequence>
      <xs:element name="request" type="ns3:hentPeriodeListeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriodeListeResponse">
    <xs:sequence>
      <xs:element name="response" type="ns3:hentPeriodeListeResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriode">
    <xs:sequence>
      <xs:element name="request" type="ns3:hentPeriodeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hentPeriodeResponse">
    <xs:sequence>
      <xs:element name="response" type="ns3:hentPeriodeResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ping">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="pingResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

