fillager/src/main/resources/FilLager.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="FilLagerService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1"
                   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/fillager/v1/meldinger" schemaLocation="no/nav/tjeneste/domene/brukerdialog/fillager/v1/meldinger/meldinger.xsd"/>

            <xs:element name="lagre" type="meldinger:vedlegg"/>
            <xs:element name="lagreResponse" type="meldinger:empty"/>
			<xs:element name="hent" type="meldinger:vedleggsinfo"/>
            <xs:element name="hentResponse" type="meldinger:vedlegg"/>
            <xs:element name="slett" type="meldinger:vedleggsinfo"/>
            <xs:element name="slettResponse" type="meldinger:empty"/>

            <xs:element name="ping" type="meldinger:empty"/>
            <xs:element name="pingResponse" type="meldinger:empty"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="lagreRequest">
        <wsdl:part element="tns:lagre" name="parameters" />
    </wsdl:message>
    <wsdl:message name="lagreResponse">
        <wsdl:part element="tns:lagreResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="hentRequest">
        <wsdl:part element="tns:hent" name="parameters" />
    </wsdl:message>
    <wsdl:message name="hentResponse">
        <wsdl:part element="tns:hentResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="slettRequest">
        <wsdl:part element="tns:slett" name="parameters" />
    </wsdl:message>
    <wsdl:message name="slettResponse">
        <wsdl:part element="tns:slettResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="FilLagerPortType">
		<wsdl:operation name="lagre">
            <wsdl:input message="tns:lagreRequest" name="lagreRequest" />
            <wsdl:output message="tns:lagreResponse" name="lagreResponse" />
        </wsdl:operation>
        <wsdl:operation name="hent">
            <wsdl:input message="tns:hentRequest" name="hentRequest" />
            <wsdl:output message="tns:hentResponse" name="hentResponse" />
        </wsdl:operation>
		<wsdl:operation name="slett">
            <wsdl:input message="tns:slettRequest" name="slettRequest" />
            <wsdl:output message="tns:slettResponse" name="slettResponse" />
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest" />
            <wsdl:output message="tns:pingResponse" name="pingResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="FilLagerBinding" type="tns:FilLagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="lagre">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="lagreRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="lagreResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hent">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="slett">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="slettRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="slettResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FilLagerService">
        <wsdl:port binding="tns:FilLagerBinding" name="FilLagerPort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/FilLagerService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
