pensjon-sak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/pensjonSak/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentSakSammendragListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sakSammendragListe" type="informasjon:SakSammendrag">
        <xsd:annotation>
          <xsd:documentation>Liste over alle saker bruker har i PESYS</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentPensjonsinfoListeBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="personinformasjonListe" type="informasjon:Personinformasjon">
        <xsd:annotation>
          <xsd:documentation>Liste med en eller flere unike identifikasjonsnummere til personer, ved enten fnr eller dnr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ytelsetypeListe" type="informasjon:Ytelsetyper">
        <xsd:annotation>
          <xsd:documentation>Spesifiserer hvilke ytelsestyper som det ønskes returnert.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentPensjonsinfoListeBolkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="personinformasjonListe" type="informasjon:Personinformasjon">
        <xsd:annotation>
          <xsd:documentation>Liste med returnert pensjonsinformasjon sortert på person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="avvikListe" type="informasjon:Personinformasjon">
        <xsd:annotation>
          <xsd:documentation>Liste med personer som ikke kunne bli funnet i pesys.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentSakSammendragListeRequest">
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikasjon for en person, ved enten fnr eller dnr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>