innsyn-henvendelse/src/main/wsdl/InnsynHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="InnsynHenvendelseService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse"
                    elementFormDefault="unqualified"
                    targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse"
                    xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/innsynhenvendelse/meldinger"
                    schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/meldinger.xsd"/>

            <xs:element name="merkSomLest" type="meldinger:merkSomLestRequest"/>
            <xs:element name="merkSomLestResponse" type="meldinger:merkSomLestResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="merkSomLestRequest">
        <wsdl:part element="tns:merkSomLest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="merkSomLestResponse">
        <wsdl:part element="tns:merkSomLestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="InnsynHenvendelsePortType">
        <wsdl:operation name="merkSomLest">
            <wsdl:input message="tns:merkSomLestRequest" name="merkSomLestRequest">
            </wsdl:input>
            <wsdl:output message="tns:merkSomLestResponse" name="merkSomLestResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="InnsynHenvendelseBinding" type="tns:InnsynHenvendelsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="merkSomLest">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="merkSomLestRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="merkSomLestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InnsynHenvendelseService">
        <wsdl:port binding="tns:InnsynHenvendelseBinding" name="InnsynHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/InnsynHenvendelseService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
