nav-behandledagpengevedtak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/BehandleDagpengevedtakV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="BehandleDagpengevedtakV1" 
    targetNamespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1">
    <wsdl:types>
        <schema targetNamespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1" 
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:feil="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/feil" 
            xmlns:meld="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/meldinger">
            <import schemaLocation="feil/feil.xsd" namespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/feil"></import>
            <import schemaLocation="meldinger/meldinger.xsd" namespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/meldinger"></import>
            <element name="ping">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="pingResponse">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettVedtak">
                <complexType>
                    <sequence>
                        <element name="request" type="meld:OpprettVedtakRequest"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettVedtakResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="meld:OpprettVedtakResponse" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettVedtakSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"></element>
            <element name="opprettVedtakUgyldigInput" type="feil:UgyldigInput"></element>
            <element name="opprettVedtakOpprettVedtakIkkeMulig" type="feil:OpprettVedtakIkkeMulig"></element>
        </schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="opprettVedtakRequest">
        <wsdl:part name="parameters" element="tns:opprettVedtak"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettVedtakResponse">
        <wsdl:part name="parameters" element="tns:opprettVedtakResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettVedtakUgyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:opprettVedtakUgyldigInput"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettVedtakSikkerhetsbegrensning">
        <wsdl:part name="sikkerhetsbegrensning" element="tns:opprettVedtakSikkerhetsbegrensning"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettVedtakOpprettVedtakIkkeMulig">
        <wsdl:part name="opprettVedtakIkkeMulig" element="tns:opprettVedtakOpprettVedtakIkkeMulig"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BehandleDagpengevedtak_v1">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="ping"/>
            <wsdl:output message="tns:pingResponse" name="pingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="opprettVedtak">
            <wsdl:input message="tns:opprettVedtakRequest" name="opprettVedtak"></wsdl:input>
            <wsdl:output message="tns:opprettVedtakResponse" name="opprettVedtakResponse"></wsdl:output>
            <wsdl:fault name="ugyldigInput" message="tns:opprettVedtakUgyldigInput"></wsdl:fault>
            <wsdl:fault name="sikkerhetsbegrensning" message="tns:opprettVedtakSikkerhetsbegrensning"></wsdl:fault>
            <wsdl:fault name="opprettVedtakIkkeMulig" message="tns:opprettVedtakOpprettVedtakIkkeMulig"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BehandleDagpengevedtak_v1Binding" type="tns:BehandleDagpengevedtak_v1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/ping"/>
            <wsdl:input name="ping">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettVedtak">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/opprettVedtak"/>
            <wsdl:input name="opprettVedtak">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="opprettVedtakResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="sikkerhetsbegrensning">
                <soap:fault use="literal" name="sikkerhetsbegrensning" />
            </wsdl:fault>
            <wsdl:fault name="ugyldigInput">
                <soap:fault use="literal" name="ugyldigInput" />
            </wsdl:fault>
            <wsdl:fault name="opprettVedtakIkkeMulig">
                <soap:fault use="literal" name="opprettVedtakIkkeMulig" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BehandleDagpengevedtak_v1">
        <wsdl:port binding="tns:BehandleDagpengevedtak_v1Binding" name="BehandleDagpengevedtak_v1Port">
            <soap:address location="https://arena.adeo.no/ail_ws/BehandleDagpengevedtak_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
