behandleJournal-jaxws/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal/behandleJournal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal"
            version="2.1"
            xmlns:behandleJournal="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal">
    <xsd:complexType name="Personidenter">
        <xsd:annotation>
            <xsd:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ...
                http://nav.no/kodeverk/Kodeverk/Personidenter
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Signatur">
        <xsd:sequence>
            <xsd:element name="signert" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SakID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Kommunikasjonskanaler">
        <xsd:annotation>
            <xsd:documentation>Mottakskanal/utsendingskanal for forsendelse
                http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="UstrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="behandleJournal:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary">
                        <xsd:annotation>
                            <xsd:documentation>Selve dokumentet</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DokumentInnhold">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="filnavn" type="behandleJournal:Navn">
                <xsd:annotation>
                    <xsd:documentation>Filnavn på dokumentet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filtype" type="behandleJournal:Arkivfiltyper">
                <xsd:annotation>
                    <xsd:documentation>Filtypen til dokumentet. Se kodeverk for relevante verdier.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="variantformat" type="behandleJournal:Variantformater">
                <xsd:annotation>
                    <xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat,
                        arkivformat og sladdet dokument

                        Se kodeverk for relevante verdier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Organisasjon">
        <xsd:complexContent>
            <xsd:extension base="behandleJournal:Aktoer">
                <xsd:sequence>
                    <xsd:element name="orgnummer" type="behandleJournal:Organisasjonsidentifikator"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Personnavn">
        <xsd:annotation>
            <xsd:documentation>Skal inneholde navn på person.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sammensattNavn" type="behandleJournal:Navn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:complexContent>
            <xsd:extension base="behandleJournal:Aktoer">
                <xsd:sequence>
                    <xsd:element name="ident" type="behandleJournal:NorskIdent"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Journaldistribusjon">
        <xsd:sequence>
            <xsd:element name="sendtPrintDato" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Dato for når forsendelsen ble distribuert for sentral print</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Variantformater">
        <xsd:annotation>
            <xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat,
                arkivformat og sladdet dokument
                http://nav.no/kodeverk/Kodeverk/Variantformater
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Arkivtemaer">
        <xsd:annotation>
            <xsd:documentation>Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon.

                Se kodeverk for relevante verdier.

                http://nav.no/kodeverk/Kodeverk/Arkivtemaer
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivtemaer" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kryssreferanse">
        <xsd:sequence>
            <xsd:element name="referanseId" type="behandleJournal:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Referanse (intern eller ekstern)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referansekode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Definerer type referanse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NoekkelVerdiPar">
        <xsd:sequence>
            <xsd:element name="noekkel" type="behandleJournal:Identifikator"/>
            <xsd:element name="verdi" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Sak">
        <xsd:sequence>
            <xsd:element name="saksId" type="behandleJournal:SakID">
                <xsd:annotation>
                    <xsd:documentation>Id som unikt identifiserer et saksobjekt. SaksId vil for enkelte fagsystemer
                        tilsvare fagsaksnummer (eks. PESYS), mens kan for andre fagsystemer være en peker (eks.
                        fagsystemer som inngår i GOSYS)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fagsystemkode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Angivelse av hvilket fagsystem saken tilhører. Se kodeverk for relevante
                        verdier
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NoekkelVerdiSett">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inneholderNoekkelVerdiPar"
                         type="behandleJournal:NoekkelVerdiPar"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Dokumenttyper">
        <xsd:annotation>
            <xsd:documentation>Finnes ikke i felles kodeverk,. Unik identifikator av dokumenttype på tvers av
                fagsystemer.
                http://nav.no/kodeverk/Kodeverk/Dokumenttyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Dokumenttyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OrganisasjonsenhetID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="KodeverkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType abstract="true" name="Aktoer"/>
    <xsd:complexType name="EksternPart">
        <xsd:sequence>
            <xsd:element name="eksternAktoer" type="behandleJournal:Aktoer">
                <xsd:annotation>
                    <xsd:documentation>AvsenderId (inngående) eller mottakerId (utgående) for ut av forsendelsen
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="navn" type="behandleJournal:Navn">
                <xsd:annotation>
                    <xsd:documentation>Navn på avsender (inngående) eller mottaker (utgående) av forsendelsen
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Arkivfiltyper">
        <xsd:annotation>
            <xsd:documentation>Filtypen til dokumentet. Feks. XML, RTF, AFP, PDF.
                http://nav.no/kodeverk/Kodeverk/Arkivfiltyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="behandleJournal:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsidentifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="StrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="behandleJournal:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary">
                        <xsd:annotation>
                            <xsd:documentation>Selve dokumentet</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NorskIdent">
        <xsd:annotation>
            <xsd:documentation>Fødselsnr, SSN...</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ident" type="behandleJournal:Identifikator"/>
            <xsd:element name="type" type="behandleJournal:Personidenter"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Navn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="JournalpostID">
        <xsd:annotation>
            <xsd:documentation>Id til journalposten på dokumentet som blitt opprettet</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>