arena-personinfo-tjenestespesifikasjon/src/main/wsdl/PersonInfo.wsdl

<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:faults="http://arena.nav.no/services/lib/fault"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://arena.nav.no/tjenester/person/v1" 
	xmlns:fpns="http://www.aetat.no/arena/funnetperson.xsd" 
	xmlns:pns="http://www.aetat.no/arena/person.xsd" 
	xmlns:spns="http://www.aetat.no/arena/sokperson.xsd" 
	xmlns:adns="http://www.aetat.no/arena/adresse.xsd" 
	xmlns:aens="http://www.aetat.no/arena/aetat.xsd" 
    xmlns:psns="http://www.aetat.no/arena/personstatus.xsd"     
	xmlns:fnns="http://www.aetat.no/arena/fodselsnr.xsd" 		
	targetNamespace="http://arena.nav.no/tjenester/person/v1">
	<types>
            <xs:schema targetNamespace="http://arena.nav.no/tjenester/person/v1"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                        elementFormDefault="unqualified" 
                        attributeFormDefault="unqualified">
				<xs:element name="Id" type="xs:int" />				
				<xs:import namespace="http://arena.nav.no/services/lib/fault" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/lib/fault/faults.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/funnetperson.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/funnetperson.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/person.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/person.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/sokperson.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/sokperson.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/adresse.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/adresse.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/aetat.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/aetat.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/personstatus.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/personstatus.xsd"/>
				<xs:import namespace="http://www.aetat.no/arena/fodselsnr.xsd" schemaLocation="no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/fodselsnr.xsd"/>
            </xs:schema>
	</types>
	<message name="HentPersonIn">
		<part name="Id" element="tns:Id"/>
	</message>
	<message name="HentPersonOut">
		<part name="Person" element="pns:Person"/>
	</message>	
	<message name="HentPersonStatusIn">
		<part name="Fodselsnr" element="fnns:Fodselsnr"/>
	</message>
	<message name="HentPersonStatusOut">
		<part name="Personstatus" element="psns:Personstatus"/>
	</message>	
	<message name="SokPersonIn">
		<part name="SokPerson" element="spns:SokPerson"/>
	</message>
	<message name="SokPersonOut">
		<part name="FunnetPersonListe" element="fpns:FunnetPersonListe"/>
	</message>		
	<message name="HentAetatKontorIn">
		<part name="Adresse" element="adns:Adresse"/>
	</message>
	<message name="HentAetatKontorOut">
		<part name="Aetat" element="aens:Aetat"/>
	</message>		
	<message name="faultGeneriskMsg">
		<part name="faultGenerisk" element="faults:faultGenerisk"/>
	</message> 
	<portType name="PersonInfoServiceSoap">
		<operation name="HentPerson">
			<input message="tns:HentPersonIn"/>
			<output message="tns:HentPersonOut"/>
			<fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
		</operation>
		<operation name="SokPerson">
			<input message="tns:SokPersonIn"/>
			<output message="tns:SokPersonOut"/>
			<fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
		</operation>
		<operation name="HentAetatKontor">
			<input message="tns:HentAetatKontorIn"/>
			<output message="tns:HentAetatKontorOut"/>
			<fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
		</operation>		
		<operation name="HentPersonStatus">
			<input message="tns:HentPersonStatusIn"/>
			<output message="tns:HentPersonStatusOut"/>
			<fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
		</operation>
	</portType>
	<binding name="PersonInfoBinding" type="tns:PersonInfoServiceSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="HentPerson">
			<soap:operation soapAction="HentPerson"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="faultGenerisk">
				<soap:fault name="faultGenerisk" use="literal"/>
			</fault>			
		</operation>
		<operation name="SokPerson">
			<soap:operation soapAction="SokPerson"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="faultGenerisk">
				<soap:fault name="faultGenerisk" use="literal"/>
			</fault>			
		</operation>
		<operation name="HentAetatKontor">
			<soap:operation soapAction="HentAetatKontor"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="faultGenerisk">
				<soap:fault name="faultGenerisk" use="literal"/>
			</fault>			
		</operation>
		<operation name="HentPersonStatus">
			<soap:operation soapAction="HentPersonStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="faultGenerisk">
				<soap:fault name="faultGenerisk" use="literal"/>
			</fault>			
		</operation>		
	</binding>
	<service name="PersonInfoService">
		<port name="PersonInfoServicePort" binding="tns:PersonInfoBinding">
			<soap:address location="http://localhost:8084/domene.Brukerdialog/PersonInfoService_v1"/>
		</port>
	</service>
</definitions>
