behandle-sykmeldingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleSykmelding/v1/behandleSykmelding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleSykmelding" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSykmelding/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="sendSykmeldingTilArbeidsgiver">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:sendSykmeldingTilArbeidsgiverRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendSykmeldingTilArbeidsgiverResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendSykmeldingTilArbeidsgiverarbeidssiuasjonsbegrensning" type="feil:Arbeidssituasjonsbegrensning"/>
      <xsd:element name="sendSykmeldingTilArbeidsgiverstatusbegrensning" type="feil:Statusbegrensning"/>
      <xsd:element name="sendSykmeldingTilArbeidsgiverfeilaktigOpplysningsbegrensning" type="feil:FeilaktigOpplysningsbegrensning"/>
      <xsd:element name="lagreArbeidssituasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreArbeidssituasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreArbeidssituasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreArbeidssituasjonugyldigEndringAvArbeidssituasjon" type="feil:UgyldigEndringAvArbeidssituasjon"/>
      <xsd:element name="lagreStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreStatusRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreStatusugyldigEndringAvStatus" type="feil:UgyldigEndringAvStatus"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendSykmeldingTilArbeidsgiver_feilaktigOpplysningsbegrensning">
    <wsdl:part name="feilaktigOpplysningsbegrensning" element="tns:sendSykmeldingTilArbeidsgiverfeilaktigOpplysningsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreArbeidssituasjonRequest">
    <wsdl:part name="parameters" element="tns:lagreArbeidssituasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendSykmeldingTilArbeidsgiver_statusbegrensning">
    <wsdl:part name="statusbegrensning" element="tns:sendSykmeldingTilArbeidsgiverstatusbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendSykmeldingTilArbeidsgiverRequest">
    <wsdl:part name="parameters" element="tns:sendSykmeldingTilArbeidsgiver">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreArbeidssituasjonResponse">
    <wsdl:part name="parameters" element="tns:lagreArbeidssituasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreArbeidssituasjon_ugyldigEndringAvArbeidssituasjon">
    <wsdl:part name="ugyldigEndringAvArbeidssituasjon" element="tns:lagreArbeidssituasjonugyldigEndringAvArbeidssituasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreStatus_ugyldigEndringAvStatus">
    <wsdl:part name="ugyldigEndringAvStatus" element="tns:lagreStatusugyldigEndringAvStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendSykmeldingTilArbeidsgiverResponse">
    <wsdl:part name="parameters" element="tns:sendSykmeldingTilArbeidsgiverResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendSykmeldingTilArbeidsgiver_arbeidssiuasjonsbegrensning">
    <wsdl:part name="arbeidssiuasjonsbegrensning" element="tns:sendSykmeldingTilArbeidsgiverarbeidssiuasjonsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreStatusResponse">
    <wsdl:part name="parameters" element="tns:lagreStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreStatusRequest">
    <wsdl:part name="parameters" element="tns:lagreStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleSykmelding_v1">
    <wsdl:operation name="sendSykmeldingTilArbeidsgiver">
      <wsdl:input message="tns:sendSykmeldingTilArbeidsgiverRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendSykmeldingTilArbeidsgiverResponse">
    </wsdl:output>
      <wsdl:fault name="arbeidssiuasjonsbegrensning" message="tns:sendSykmeldingTilArbeidsgiver_arbeidssiuasjonsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="statusbegrensning" message="tns:sendSykmeldingTilArbeidsgiver_statusbegrensning">
    </wsdl:fault>
      <wsdl:fault name="feilaktigOpplysningsbegrensning" message="tns:sendSykmeldingTilArbeidsgiver_feilaktigOpplysningsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreArbeidssituasjon">
      <wsdl:input message="tns:lagreArbeidssituasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreArbeidssituasjonResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigEndringAvArbeidssituasjon" message="tns:lagreArbeidssituasjon_ugyldigEndringAvArbeidssituasjon">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreStatus">
      <wsdl:input message="tns:lagreStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreStatusResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigEndringAvStatus" message="tns:lagreStatus_ugyldigEndringAvStatus">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
