pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/vedtaksbrev.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="vedtaksbrev" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev" xmlns:feil="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/feil" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrevgruppe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentBrevgruppeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrevgruppeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentBrevgruppeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillAutomatiskBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:BestillAutomatiskBrevRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillAutomatiskBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:BestillAutomatiskBrevResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillAutomatiskBrevadresseMangler" type="feil:AdresseMangler"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentBrevgruppeRequest">
    <wsdl:part element="tns:hentBrevgruppe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentBrevgruppeResponse">
    <wsdl:part element="tns:hentBrevgruppeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bestillAutomatiskBrevRequest">
    <wsdl:part element="tns:bestillAutomatiskBrev" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bestillAutomatiskBrevResponse">
    <wsdl:part element="tns:bestillAutomatiskBrevResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bestillAutomatiskBrevAdresseMangler">
    <wsdl:part element="tns:bestillAutomatiskBrevadresseMangler" name="adresseMangler"/>
  </wsdl:message>
  <wsdl:portType name="Vedtaksbrev">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentBrevgruppe">
      <wsdl:input message="tns:hentBrevgruppeRequest"/>
      <wsdl:output message="tns:hentBrevgruppeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="bestillAutomatiskBrev">
      <wsdl:input message="tns:bestillAutomatiskBrevRequest"/>
      <wsdl:output message="tns:bestillAutomatiskBrevResponse"/>
      <wsdl:fault message="tns:bestillAutomatiskBrevAdresseMangler" name="bestillAutomatiskBrevFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>