cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/infotrygdvedtak/ASBOGOSYSHentInfotrygdVedtakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="no.nav.gosys.asbo.infotrygdvedtak">
	<xsd:complexType name="ASBOGOSYSHentInfotrygdVedtakListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="gjelderId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="tom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="navEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKodeListe"
				type="xsd:string" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="hentKodebeskrivelser"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
