organisasjonenhetkontaktinformasjon-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/informasjon">
  <xsd:complexType abstract="true" name="StrukturertAdresse">
    <xsd:annotation>
      <xsd:documentation>Strukturert Adresse</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="Postboksadresse">
    <xsd:annotation>
      <xsd:documentation>Postboksadresse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse">
        <xsd:sequence>
          <xsd:element name="postboksnummer" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Nummeret i postboksadressen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="postboksanlegg" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Postboksanlegget tilhørende postboksen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Stedsadresse">
    <xsd:annotation>
      <xsd:documentation>Stedsadresse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Postnummer">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Postnummer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Enhetstyper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Enhetstyper" name="kodeverksRef" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StedsadresseNorge">
    <xsd:annotation>
      <xsd:documentation>Stedsadresse i Norge</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Stedsadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer">
            <xsd:annotation>
              <xsd:documentation>Kode fra felleskodeverk for postnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gateadresse">
    <xsd:annotation>
      <xsd:documentation>Informasjon om gateadresse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StedsadresseNorge">
        <xsd:sequence>
          <xsd:element name="gatenavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på gaten i adressen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husnummer" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Husnummer i gateadressen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husbokstav" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Husbokstav relatert til gateadressen</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Enhetsstatus">
    <xsd:annotation>
      <xsd:documentation>Statuser relatert til enheter</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDER_ETABLERING"/>
      <xsd:enumeration value="AKTIV"/>
      <xsd:enumeration value="UNDER_AVVIKLING"/>
      <xsd:enumeration value="NEDLAGT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FeiletEnhet">
    <xsd:annotation>
      <xsd:documentation>enhetId som det ble søkt etter, men som forårsaket en feil.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="enhetId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>EnhetsId som har vært del av et søk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>en feilmelding som beskriver hvorfor søket på denne enheten feilet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aapningstid">
    <xsd:annotation>
      <xsd:documentation>Informasjon om åpningstid</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aapentFra" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>Markerer starttidspunktet for åpningstiden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aapentTil" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>Markerer sluttidspunktet for åpningstiden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Publikumsmottak">
    <xsd:annotation>
      <xsd:documentation>Informasjon om publikumsmottaket til en organisasjonenhet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aapningstider" type="informasjon:Aapningstider">
        <xsd:annotation>
          <xsd:documentation>En oversikt over åpningstidene for dette publikumsmottaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stedsbeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Et mer utfyllende stedsnavn som brukes dersom publikumsmottaket er på for eksempel et bibliotek som ikke har NAV-logoen utenfor.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="besoeksadresse" type="informasjon:Gateadresse">
        <xsd:annotation>
          <xsd:documentation>Hvor i landet dette publikumsmottaket befinner seg.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisasjonsenhet">
    <xsd:annotation>
      <xsd:documentation>Informasjon om organisasjonsenhet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="enhetId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Enhetsnummeret til enheten. Typisk et 4-sifret nummer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet på enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="informasjon:Enhetsstatus">
        <xsd:annotation>
          <xsd:documentation>Hvilken status denne enheten har.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="informasjon:Enhetstyper">
        <xsd:annotation>
          <xsd:documentation>En felles kodeverksverdi som sier hva slags enhet dette er.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organisasjonsnummer" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Organisasjonsnummeret til denne enheten, dersom den har et eget.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kontaktinformasjon" type="informasjon:KontaktinformasjonForOrganisasjonsenhet">
        <xsd:annotation>
          <xsd:documentation>Denne enhetens kontaktinformasjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aapningstider">
    <xsd:annotation>
      <xsd:documentation>Åpningstider</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mandag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på mandager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tirsdag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på tirsdager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="onsdag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på onsdager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="torsdag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på torsdager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fredag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på fredager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="loerdag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på lørdager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soendag" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Ordinær åpningstid på søndager. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="unntakFraAapningstidListe" type="informasjon:UnntakFraAapningstid">
        <xsd:annotation>
          <xsd:documentation>En liste med unntak for de ordinære åpningstidene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktinformasjonForOrganisasjonsenhet">
    <xsd:annotation>
      <xsd:documentation>Kontaktinformasjonen til organisasjonenheten</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="telefonnummer" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>NAV-internt telefonnummer til denne enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="faksnummer" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Denne enhetens faksnummer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="spesielleOpplysninger" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ustrukturert tilleggsinformasjon som er nyttig å vite for den som skal kontakte enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="besoeksadresse" type="informasjon:Gateadresse">
        <xsd:annotation>
          <xsd:documentation>Hvor NAV-ansatte drar for å gå i møter, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postadresse" type="informasjon:StrukturertAdresse">
        <xsd:annotation>
          <xsd:documentation>Postadressen til denne enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="publikumsmottakListe" type="informasjon:Publikumsmottak">
        <xsd:annotation>
          <xsd:documentation>En liste med publikumsmottak som er tilknyttet denne enheten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnntakFraAapningstid">
    <xsd:annotation>
      <xsd:documentation>Unntak fra åpningstiden</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvilken dato dette unntaket gjelder for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aapningstid" type="informasjon:Aapningstid">
        <xsd:annotation>
          <xsd:documentation>Åpningstiden for den spesifiserte datoen. Ingen verdi betyr stengt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostboksadresseNorsk">
    <xsd:annotation>
      <xsd:documentation>Kode fra felleskodeverk for postnummer</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Postboksadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>