cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/infotrygdsak/ASBOGOSYSBestillInfotrygdSakRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak">
	<xsd:complexType name="ASBOGOSYSBestillInfotrygdSakRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="fagomrade"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="stonadsklassifisering_2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="stonadsklassifisering_3"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="type" type="xsd:string" />
			<xsd:element minOccurs="0" name="opprettetAv"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="opprettetAvOrganisasjonsEnhetsId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="mottakerOrganisasjonsEnhetsId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="motattdato"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="sendBekreftelsesbrev"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="oppgaveOrganisasjonsenhetId" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
