nav-fim-dokumentproduksjon-v2-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/dokumentproduksjon/v2/dokumentproduksjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dokumentproduksjon" targetNamespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="produserIkkeredigerbartDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:ProduserIkkeredigerbartDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserIkkeredigerbartDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:ProduserIkkeredigerbartDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserIkkeredigerbartDokumentdokumentErRedigerbart" type="feil:DokumentErRedigerbart"/>
      <xsd:element name="produserIkkeredigerbartDokumentdokumentErVedlegg" type="feil:DokumentErVedlegg"/>
      <xsd:element name="produserDokumentutkast">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:ProduserDokumentutkastRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserDokumentutkastResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:ProduserDokumentutkastResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserRedigerbartDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:ProduserRedigerbartDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserRedigerbartDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:ProduserRedigerbartDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserRedigerbartDokumentdokumentIkkeRedigerbart" type="feil:DokumentIkkeRedigerbart"/>
      <xsd:element name="produserRedigerbartDokumentdokumentErVedlegg" type="feil:DokumentErVedlegg"/>
      <xsd:element name="avbrytForsendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:AvbrytForsendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avbrytForsendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avbrytForsendelsejournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="avbrytForsendelseavbrytelseIkkeTillatt" type="feil:AvbrytelseIkkeTillatt"/>
      <xsd:element name="avbrytForsendelsejournalpostAlleredeAvbrutt" type="feil:JournalpostAlleredeAvbrutt"/>
      <xsd:element name="avbrytForsendelsejournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="redigerDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:RedigerDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="redigerDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:RedigerDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="redigerDokumentredigeringIkkeTillatt" type="feil:RedigeringIkkeTillatt"/>
      <xsd:element name="redigerDokumentdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="redigerDokumentpessimistiskLaasing" type="feil:PessimistiskLaasing"/>
      <xsd:element name="avbrytVedlegg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:AvbrytVedleggRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avbrytVedleggResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avbrytVedleggjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="avbrytVedleggdokumentAlleredeAvbrutt" type="feil:DokumentAlleredeAvbrutt"/>
      <xsd:element name="avbrytVedleggjournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="avbrytVedleggdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="avbrytVedleggdokumentIkkeVedlegg" type="feil:DokumentIkkeVedlegg"/>
      <xsd:element name="produserIkkeredigerbartVedlegg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:ProduserIkkeredigerbartVedleggRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserIkkeredigerbartVedleggResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:ProduserIkkeredigerbartVedleggResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="produserIkkeredigerbartVedleggjournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="produserIkkeredigerbartVedleggjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="produserIkkeredigerbartVedleggvedleggIkkeTillatt" type="feil:VedleggIkkeTillatt"/>
      <xsd:element name="produserIkkeredigerbartVedleggforsendelseIkkeFunnet" type="feil:ForsendelseIkkeFunnet"/>
      <xsd:element name="produserIkkeredigerbartVedleggdokumentErRedigerbart" type="feil:DokumentErRedigerbart"/>
      <xsd:element name="endreDokumentTilRedigerbart">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:EndreDokumentTilRedigerbartRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endreDokumentTilRedigerbartResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endreDokumentTilRedigerbartjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="endreDokumentTilRedigerbartdokumentErAvbrutt" type="feil:DokumentErAvbrutt"/>
      <xsd:element name="endreDokumentTilRedigerbartjournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="endreDokumentTilRedigerbartdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="endreDokumentTilRedigerbartDokumentIkkeRedigerbart" type="feil:DokumentIkkeRedigerbart"/>
      <xsd:element name="endreDokumentTilRedigerbartdokumentAlleredeRedigerbart" type="feil:DokumentAlleredeRedigerbart"/>
      <xsd:element name="ferdigstillForsendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FerdigstillForsendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillForsendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ferdigstillForsendelsejournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="ferdigstillForsendelsedokumentUnderRedigering" type="feil:DokumentUnderRedigering"/>
      <xsd:element name="ferdigstillForsendelsejournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="knyttVedleggTilForsendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:KnyttVedleggTilForsendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="knyttVedleggTilForsendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="knyttVedleggTilForsendelsejournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
      <xsd:element name="knyttVedleggTilForsendelsedokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="knyttVedleggTilForsendelsejournalpostIkkeUnderArbeid" type="feil:JournalpostIkkeUnderArbeid"/>
      <xsd:element name="knyttVedleggTilForsendelsejournalpostIkkeFerdigstilt" type="feil:JournalpostIkkeFerdigstilt"/>
      <xsd:element name="knyttVedleggTilForsendelseulikeFagomraader" type="feil:UlikeFagomraader"/>
      <xsd:element name="knyttVedleggTilForsendelseeksterntVedleggIkkeTillatt" type="feil:EksterntVedleggIkkeTillatt"/>
      <xsd:element name="knyttVedleggTilForsendelsedokumentTillatesIkkeGjenbrukt" type="feil:DokumentTillatesIkkeGjenbrukt"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="produserIkkeredigerbartDokumentRequest">
    <wsdl:part name="parameters" element="tns:produserIkkeredigerbartDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillForsendelseResponse">
    <wsdl:part name="parameters" element="tns:ferdigstillForsendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartDokumentResponse">
    <wsdl:part name="parameters" element="tns:produserIkkeredigerbartDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_dokumentAlleredeRedigerbart">
    <wsdl:part name="dokumentAlleredeRedigerbart" element="tns:endreDokumentTilRedigerbartdokumentAlleredeRedigerbart">
<wsdl:documentation>&lt;p&gt;Dokument allerede redigerbart&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:endreDokumentTilRedigerbartjournalpostIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Journalpost ikke funnet&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartDokument_dokumentErVedlegg">
    <wsdl:part name="dokumentErVedlegg" element="tns:produserIkkeredigerbartDokumentdokumentErVedlegg">
<wsdl:documentation>&lt;p&gt;Dokumentbestilling refererer til et vedlegg&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:knyttVedleggTilForsendelsedokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelseResponse">
    <wsdl:part name="parameters" element="tns:knyttVedleggTilForsendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedlegg_dokumentAlleredeAvbrutt">
    <wsdl:part name="dokumentAlleredeAvbrutt" element="tns:avbrytVedleggdokumentAlleredeAvbrutt">
<wsdl:documentation>&lt;p&gt;Dokument allerede avbrutt &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbartRequest">
    <wsdl:part name="parameters" element="tns:endreDokumentTilRedigerbart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_dokumentErAvbrutt">
    <wsdl:part name="dokumentErAvbrutt" element="tns:endreDokumentTilRedigerbartdokumentErAvbrutt">
<wsdl:documentation>&lt;p&gt;Dokument er avbrutt&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="redigerDokumentResponse">
    <wsdl:part name="parameters" element="tns:redigerDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:knyttVedleggTilForsendelsejournalpostIkkeUnderArbeid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_journalpostIkkeFerdigstilt">
    <wsdl:part name="journalpostIkkeFerdigstilt" element="tns:knyttVedleggTilForsendelsejournalpostIkkeFerdigstilt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedleggResponse">
    <wsdl:part name="parameters" element="tns:produserIkkeredigerbartVedleggResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelseRequest">
    <wsdl:part name="parameters" element="tns:knyttVedleggTilForsendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserRedigerbartDokument_dokumentErVedlegg">
    <wsdl:part name="dokumentErVedlegg" element="tns:produserRedigerbartDokumentdokumentErVedlegg">
<wsdl:documentation>&lt;p&gt;Dokumentbestilling refererer til et vedlegg&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillForsendelse_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:ferdigstillForsendelsejournalpostIkkeUnderArbeid">
<wsdl:documentation>&lt;p&gt;Journalpost er ikke under arbeid&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelseRequest">
    <wsdl:part name="parameters" element="tns:avbrytForsendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedlegg_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:avbrytVedleggjournalpostIkkeUnderArbeid">
<wsdl:documentation>&lt;p&gt;Journalpost er ikke under arbeid &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartDokument_dokumentErRedigerbart">
    <wsdl:part name="dokumentErRedigerbart" element="tns:produserIkkeredigerbartDokumentdokumentErRedigerbart">
<wsdl:documentation>&lt;p&gt;Dokumentbestilling refererer til et redigerbart dokument&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillForsendelse_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:ferdigstillForsendelsejournalpostIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Journalpost ikke funnet&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedlegg_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:produserIkkeredigerbartVedleggjournalpostIkkeFunnet">
<wsdl:documentation>&lt;p&gt; Journalpost ikke funnet&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="redigerDokument_redigeringIkkeTillatt">
    <wsdl:part name="redigeringIkkeTillatt" element="tns:redigerDokumentredigeringIkkeTillatt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserDokumentutkastResponse">
    <wsdl:part name="parameters" element="tns:produserDokumentutkastResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedlegg_dokumentErRedigerbart">
    <wsdl:part name="dokumentErRedigerbart" element="tns:produserIkkeredigerbartVedleggdokumentErRedigerbart">
<wsdl:documentation>&lt;p&gt;Dokumentbestilling refererer til et redigerbart dokument&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserRedigerbartDokumentResponse">
    <wsdl:part name="parameters" element="tns:produserRedigerbartDokumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_eksterntVedleggIkkeTillatt">
    <wsdl:part name="eksterntVedleggIkkeTillatt" element="tns:knyttVedleggTilForsendelseeksterntVedleggIkkeTillatt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelse_journalpostAlleredeAvbrutt">
    <wsdl:part name="journalpostAlleredeAvbrutt" element="tns:avbrytForsendelsejournalpostAlleredeAvbrutt">
<wsdl:documentation>&lt;p&gt;Journalpost er allerede avbrutt&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedlegg_forsendelseIkkeFunnet">
    <wsdl:part name="forsendelseIkkeFunnet" element="tns:produserIkkeredigerbartVedleggforsendelseIkkeFunnet">
<wsdl:documentation>&lt;p&gt; Forsendelse ikke funnet&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedlegg_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:produserIkkeredigerbartVedleggjournalpostIkkeUnderArbeid">
<wsdl:documentation>&lt;p&gt;Journalpost er ikke under arbeid&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserRedigerbartDokument_dokumentIkkeRedigerbart">
    <wsdl:part name="dokumentIkkeRedigerbart" element="tns:produserRedigerbartDokumentdokumentIkkeRedigerbart">
<wsdl:documentation>&lt;p&gt;Dokumentbestilling refererer til  et ikke-redigerbart dokument&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_ulikeFagomraader">
    <wsdl:part name="ulikeFagomraader" element="tns:knyttVedleggTilForsendelseulikeFagomraader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:knyttVedleggTilForsendelsejournalpostIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedlegg_dokumentIkkeVedlegg">
    <wsdl:part name="dokumentIkkeVedlegg" element="tns:avbrytVedleggdokumentIkkeVedlegg">
<wsdl:documentation>&lt;p&gt;Dokumentet som forsøkes avbrutt er ikke et vedlegg&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserRedigerbartDokumentRequest">
    <wsdl:part name="parameters" element="tns:produserRedigerbartDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_DokumentIkkeRedigerbart">
    <wsdl:part name="DokumentIkkeRedigerbart" element="tns:endreDokumentTilRedigerbartDokumentIkkeRedigerbart">
<wsdl:documentation>&lt;p&gt;Dokumentet som forsøkes endret er ikke et redigerbart dokument &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillForsendelseRequest">
    <wsdl:part name="parameters" element="tns:ferdigstillForsendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedlegg_vedleggIkkeTillatt">
    <wsdl:part name="vedleggIkkeTillatt" element="tns:produserIkkeredigerbartVedleggvedleggIkkeTillatt">
<wsdl:documentation>&lt;p&gt;Vedlegg ikke tillatt på forsendelse&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelseResponse">
    <wsdl:part name="parameters" element="tns:avbrytForsendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedlegg_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:avbrytVedleggjournalpostIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Journalpost ikke funnet &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelse_journalpostIkkeFunnet">
    <wsdl:part name="journalpostIkkeFunnet" element="tns:avbrytForsendelsejournalpostIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Finner ingen journalpost basert på input til operasjonen&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="knyttVedleggTilForsendelse_dokumentTillatesIkkeGjenbrukt">
    <wsdl:part name="dokumentTillatesIkkeGjenbrukt" element="tns:knyttVedleggTilForsendelsedokumentTillatesIkkeGjenbrukt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserDokumentutkastRequest">
    <wsdl:part name="parameters" element="tns:produserDokumentutkast">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="redigerDokument_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:redigerDokumentdokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedleggRequest">
    <wsdl:part name="parameters" element="tns:avbrytVedlegg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedlegg_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:avbrytVedleggdokumentIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Dokument ikke funnet &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelse_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:avbrytForsendelsejournalpostIkkeUnderArbeid">
<wsdl:documentation>&lt;p&gt;JournalStatus er ikke under arbeid, journalposten kan derfor ikke avbrytes&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytVedleggResponse">
    <wsdl:part name="parameters" element="tns:avbrytVedleggResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produserIkkeredigerbartVedleggRequest">
    <wsdl:part name="parameters" element="tns:produserIkkeredigerbartVedlegg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_journalpostIkkeUnderArbeid">
    <wsdl:part name="journalpostIkkeUnderArbeid" element="tns:endreDokumentTilRedigerbartjournalpostIkkeUnderArbeid">
<wsdl:documentation>&lt;p&gt;Journalpost er ikke under arbeid&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbartResponse">
    <wsdl:part name="parameters" element="tns:endreDokumentTilRedigerbartResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="redigerDokument_pessimistiskLaasing">
    <wsdl:part name="pessimistiskLaasing" element="tns:redigerDokumentpessimistiskLaasing">
<wsdl:documentation>&lt;p&gt;Dokumentet er til redigering&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="redigerDokumentRequest">
    <wsdl:part name="parameters" element="tns:redigerDokument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endreDokumentTilRedigerbart_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:endreDokumentTilRedigerbartdokumentIkkeFunnet">
<wsdl:documentation>&lt;p&gt;Dokument ikke funnet &lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ferdigstillForsendelse_dokumentUnderRedigering">
    <wsdl:part name="dokumentUnderRedigering" element="tns:ferdigstillForsendelsedokumentUnderRedigering">
<wsdl:documentation>&lt;p&gt;Journalpost inneholder dokument/er som er under redigering&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="avbrytForsendelse_avbrytelseIkkeTillatt">
    <wsdl:part name="avbrytelseIkkeTillatt" element="tns:avbrytForsendelseavbrytelseIkkeTillatt">
<wsdl:documentation>&lt;p&gt;Kan ikke avbryte en inngående journalpost&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dokumentproduksjon_v2">
    <wsdl:operation name="produserIkkeredigerbartDokument">
      <wsdl:input message="tns:produserIkkeredigerbartDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:produserIkkeredigerbartDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="dokumentErVedlegg" message="tns:produserIkkeredigerbartDokument_dokumentErVedlegg">
    </wsdl:fault>
      <wsdl:fault name="dokumentErRedigerbart" message="tns:produserIkkeredigerbartDokument_dokumentErRedigerbart">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="produserDokumentutkast">
      <wsdl:input message="tns:produserDokumentutkastRequest">
    </wsdl:input>
      <wsdl:output message="tns:produserDokumentutkastResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="produserRedigerbartDokument">
      <wsdl:input message="tns:produserRedigerbartDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:produserRedigerbartDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="dokumentErVedlegg" message="tns:produserRedigerbartDokument_dokumentErVedlegg">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeRedigerbart" message="tns:produserRedigerbartDokument_dokumentIkkeRedigerbart">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="avbrytForsendelse">
      <wsdl:input message="tns:avbrytForsendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:avbrytForsendelseResponse">
    </wsdl:output>
      <wsdl:fault name="journalpostAlleredeAvbrutt" message="tns:avbrytForsendelse_journalpostAlleredeAvbrutt">
    </wsdl:fault>
      <wsdl:fault name="avbrytelseIkkeTillatt" message="tns:avbrytForsendelse_avbrytelseIkkeTillatt">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:avbrytForsendelse_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:avbrytForsendelse_journalpostIkkeUnderArbeid">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="redigerDokument">
      <wsdl:input message="tns:redigerDokumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:redigerDokumentResponse">
    </wsdl:output>
      <wsdl:fault name="redigeringIkkeTillatt" message="tns:redigerDokument_redigeringIkkeTillatt">
    </wsdl:fault>
      <wsdl:fault name="pessimistiskLaasing" message="tns:redigerDokument_pessimistiskLaasing">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:redigerDokument_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="avbrytVedlegg">
      <wsdl:input message="tns:avbrytVedleggRequest">
    </wsdl:input>
      <wsdl:output message="tns:avbrytVedleggResponse">
    </wsdl:output>
      <wsdl:fault name="dokumentIkkeVedlegg" message="tns:avbrytVedlegg_dokumentIkkeVedlegg">
    </wsdl:fault>
      <wsdl:fault name="dokumentAlleredeAvbrutt" message="tns:avbrytVedlegg_dokumentAlleredeAvbrutt">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:avbrytVedlegg_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:avbrytVedlegg_journalpostIkkeUnderArbeid">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:avbrytVedlegg_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="produserIkkeredigerbartVedlegg">
      <wsdl:input message="tns:produserIkkeredigerbartVedleggRequest">
    </wsdl:input>
      <wsdl:output message="tns:produserIkkeredigerbartVedleggResponse">
    </wsdl:output>
      <wsdl:fault name="forsendelseIkkeFunnet" message="tns:produserIkkeredigerbartVedlegg_forsendelseIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="dokumentErRedigerbart" message="tns:produserIkkeredigerbartVedlegg_dokumentErRedigerbart">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:produserIkkeredigerbartVedlegg_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:produserIkkeredigerbartVedlegg_journalpostIkkeUnderArbeid">
    </wsdl:fault>
      <wsdl:fault name="vedleggIkkeTillatt" message="tns:produserIkkeredigerbartVedlegg_vedleggIkkeTillatt">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="endreDokumentTilRedigerbart">
      <wsdl:input message="tns:endreDokumentTilRedigerbartRequest">
    </wsdl:input>
      <wsdl:output message="tns:endreDokumentTilRedigerbartResponse">
    </wsdl:output>
      <wsdl:fault name="DokumentIkkeRedigerbart" message="tns:endreDokumentTilRedigerbart_DokumentIkkeRedigerbart">
    </wsdl:fault>
      <wsdl:fault name="dokumentAlleredeRedigerbart" message="tns:endreDokumentTilRedigerbart_dokumentAlleredeRedigerbart">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:endreDokumentTilRedigerbart_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="dokumentErAvbrutt" message="tns:endreDokumentTilRedigerbart_dokumentErAvbrutt">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:endreDokumentTilRedigerbart_journalpostIkkeUnderArbeid">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:endreDokumentTilRedigerbart_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ferdigstillForsendelse">
      <wsdl:input message="tns:ferdigstillForsendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:ferdigstillForsendelseResponse">
    </wsdl:output>
      <wsdl:fault name="dokumentUnderRedigering" message="tns:ferdigstillForsendelse_dokumentUnderRedigering">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:ferdigstillForsendelse_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:ferdigstillForsendelse_journalpostIkkeUnderArbeid">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="knyttVedleggTilForsendelse">
      <wsdl:input message="tns:knyttVedleggTilForsendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:knyttVedleggTilForsendelseResponse">
    </wsdl:output>
      <wsdl:fault name="eksterntVedleggIkkeTillatt" message="tns:knyttVedleggTilForsendelse_eksterntVedleggIkkeTillatt">
    </wsdl:fault>
      <wsdl:fault name="dokumentTillatesIkkeGjenbrukt" message="tns:knyttVedleggTilForsendelse_dokumentTillatesIkkeGjenbrukt">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFerdigstilt" message="tns:knyttVedleggTilForsendelse_journalpostIkkeFerdigstilt">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeFunnet" message="tns:knyttVedleggTilForsendelse_journalpostIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ulikeFagomraader" message="tns:knyttVedleggTilForsendelse_ulikeFagomraader">
    </wsdl:fault>
      <wsdl:fault name="journalpostIkkeUnderArbeid" message="tns:knyttVedleggTilForsendelse_journalpostIkkeUnderArbeid">
    </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:knyttVedleggTilForsendelse_dokumentIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
