nav-fim-behandleJournal-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v2/metadata/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/metadata" version="2.1"
            xmlns:metadata="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/metadata">
    <xsd:simpleType name="ApplikasjonID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Navn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:attributeGroup name="Endringssporing">
        <xsd:attribute name="personFornavn" type="metadata:Navn"/>
        <xsd:attribute name="personEtternavn" type="metadata:Navn"/>
        <xsd:attribute name="applikasjonsID" type="metadata:ApplikasjonID"/>
    </xsd:attributeGroup>
</xsd:schema>