gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/oppgavebehandling/no/nav/tjeneste/virksomhet/oppgavebehandling/v3/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger" version="3.0" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppgavebehandling/v3/meldinger">
  <xsd:complexType name="LagreOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="endreOppgaveListe" type="meldinger:EndreOppgave">
        <xsd:annotation>
          <xsd:documentation>Liste med EndreOppgave-objekter (objekter er dokumentert under lagreOppgave-operasjonen)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endretAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som endret oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id på mappen som ble opprettet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettMappeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaksjonOk" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilListe" type="meldinger:Bolkfeil"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FerdigstillOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="opprettOppgave" type="meldinger:OpprettOppgave">
        <xsd:annotation>
          <xsd:documentation>Oppsamlingsobjekt for alle attributtene til oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva slags henvendelsetype det gjelder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bolkfeil">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Oppgaven som feilet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Feilkode som representerer feilen som oppsto under transaksjonen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilBeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tekstlig beskrivelse av feilen som oppsto under transaksjonen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SakInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Oppgavens tilhørende sak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummerKlagesak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Saksnummer på tilhørende sak hvis det opprettes en klagesak sammen med oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tvingNySak" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis man ønsker å opprette en sak uansett. Bestillingstjenesten til Arena er utstyrt med logikk som oppretter en sak etter gitte kriterier. Med dette flagget satt brukes ikke denne logikken og man oppretter sak uansett</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="endreOppgave" type="meldinger:EndreOppgave">
        <xsd:annotation>
          <xsd:documentation>Oppgaven som skal endres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endretAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som endret oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SlettMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id-en på mappen som skal slettes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TildelOppgaveResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id til oppgaven som tildeles saksbehandleren.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="oppgaveIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Liste med oppgaveId som skal slettes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ferdigstiltAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som ferdigstilte oppgavene (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId))</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TildelOppgaveRequest">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sok" type="meldinger:TildelOppgaveSok">
        <xsd:annotation>
          <xsd:documentation>Inneholder felter som avgjør hvilken oppgave som skal hentes ut. Minst ett av disse søkefeltene må være satt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filter" type="meldinger:TildelOppgaveFilter">
        <xsd:annotation>
          <xsd:documentation>Begrensende felter (filter) som spesifiserer datautrekket ytterligere.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tildelesSaksbehandlerId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>SaksbehandlerIdent som oppgaven ønskes tildelt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ikkeTidligereTildeltSaksbehandlerId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Saksbehandlerident som ikke ønskes å ha vært tildelt oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tildeltAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som tildelte oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="OpprettOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Angir periode.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Fra og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Til og med dato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id-en til den nye oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettOppgaveUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TildelOppgaveSok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filter på hvilken enhet som er ansvarlig for oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Saksbehandler tilordnet oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvem oppgaven gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SakId for fagområdet oppgaven gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SøknadsId</xsd:documentation>
          <xsd:documentation>Søknads Id.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomradeKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Liste med fagområde koder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="journalpostIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Attributt for å hente ut en oppgave tilknyttet en journalpostId.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetEnhetId" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Feltet tillater å kunne søke eksplisitt på en oppgave opprettet av en enhet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kravIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Attributt for å hente ut en oppgave tilknyttet ett av kravene definert i denne listen. Maksimalt 8000 elementer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet på Mappen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id til enheten som Mappen hører til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fagområdet Mappen hører til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveBolkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="oppgaveIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Liste med oppgave id-er som er opprettet i GSAK</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndreOppgave">
    <xsd:sequence>
      <xsd:element name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Oppgavens Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik id til brukeren, kan være fnr, orgnr, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken type bruker.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgavetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken type oppgaven er. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Underkategori til valgt fagområde. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilket fagområde oppgaven er knyttet til, samt hvilken underkategori den tilhører. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prioritetKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Når oppgaven er aktiv fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvilken frist som er satt for å utføre (lukke) oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken enhet (id), eller gruppe innen enhet, som er ansvarlig for oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken applikasjonsbruker som er ansvarlig for å utføre oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva som må gjøres for å utføre en oppgave av en spesifikk oppgavetype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken oppfølging som er gjort på oppgaven i form av et beskrivelsesfelt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ID til et dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id på Hendelse knyttet til Oppgave</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>En sak kan ha mange kravId'er koblet til seg, men det er ingen kobling mellom disse i GSAK.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lest" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om oppgaven er lest eller ikke. Ved opprettelse, skal vi få false fra skjermbildet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen dokumentet ble mottatt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="normDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato som angir normert behandlingstid, kan ikke endres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id til en Sak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skannetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen dokumentet ble skannet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SøknadsId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Mulighet for å registrere hvilken mappe denne oppgaven tilhører.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Felt for optimistisk låsing. Når en oppgave lagres må versjon være likt det som ligger lagret i databasen. For hver gang en oppgave er lagret inkrementeres versjon (+1).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="revurderingstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken revurderingstype oppgaven er.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="LagreMappeRequest">
    <xsd:sequence>
      <xsd:element name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik id til Mappen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mappeNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navnet på Mappen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id til enheten som Mappen hører til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fagområdet Mappen hører til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Versjon, brukes for optimistisk låsing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgave">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik id til brukeren, kan være fnr, orgnr, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken type bruker.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgavetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken type oppgaven er. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilket fagområde oppgaven er knyttet til, samt hvilken underkategori den tilhører. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Underkategori til valgt fagområde. ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prioritetKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ESB er ikke master for fagområdekoder, se FGSAK for en oppdatert oversikt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva som må gjøres for å utføre en oppgave av en spesifikk oppgavetype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfolging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken oppfølging som er gjort på oppgaven i form av et beskrivelsesfelt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Når oppgaven er aktiv fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvilken frist som er satt for å utføre (lukke) oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken enhet (id), eller gruppe innen enhet, som er ansvarlig for oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken applikasjonsbruker som er ansvarlig for å utføre oppgaven</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ID til et dokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen dokumentet ble mottatt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="normDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato som angir normert behandlingstid, kan ikke endres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksnummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id til en Sak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skannetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datoen dokumentet ble skannet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SøknadsId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id på Hendelse knyttet til Oppgave</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>En sak kan ha mange kravId'er koblet til seg, men det er ingen kobling mellom disse i GSAK.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lest" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om opggaven er lest eller ikke. Ved opprettelse, skal vi få false fra skjermbildet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mappeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Mulighet for å registrere hvilken mappe denne oppgaven tilhører.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="revurderingstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken revurderingstype oppgaven er.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="opprettOppgaveListe" type="meldinger:OpprettOppgave">
        <xsd:annotation>
          <xsd:documentation>Liste med opprettOppgave objekter (objekter er dokumentert under opprettOppgave operasjonen)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opprettetAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Enheten som opprettet oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="henvendelsetypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hva slags henvendelsetype det gjelder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TildelOppgaveFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprettetEnhetNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filtrer på enhetsnavnet som opprettet oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligEnhetNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filter på hvilket enhetsnavn som er ansvarlig for oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Underkategori til fagområde.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erAktiv" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg (true/false) for å kunne tildele en aktiv oppgave. Dvs en oppgave som har aktivFra dato lik eller eldre enn dagens dato. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="frist" type="meldinger:Periode">
        <xsd:annotation>
          <xsd:documentation>Frist fom og tom kan sende inn den ene eller begge.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettet" type="meldinger:Periode">
        <xsd:annotation>
          <xsd:documentation>Filtermulighet på intervall når oppgaven ble opprettet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetAv" type="meldinger:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Mulighet til å filtrere ut en oppgave opprettet av denne brukeren.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="oppgavetypeKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filter på oppgavetyper.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="brukertypeKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filter på brukertyper knyttet til en oppgave.

Gyldige verdier for filtrering:


Kode

   

Beskrivelse


PERSON

   

Person


ORGANISASJON

   

Organisasjon


SAMHANDLER

   

Samhandler


APPBRUKER

   

Applikasjonsbruker


BLANK

   

Ingen brukertype satt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="mappeIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Liste av MappeIder. Avgrenser den returnerte oppgaven til en med en av de spesifiserte mappene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="revurderingstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avgrenser til å returnere en oppgave med en bestemt revurderingstype.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreOppgaveBolkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaksjonOk" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som indikerer om hele transaksjonen ble gjennomført eller om deler av den feilet. Hvis denne er false, vil de elementene som feilet bli populert i feillisten sammen med tilhørende feilkode og feilbeskrivelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilListe" type="meldinger:Bolkfeil"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:LagreOppgaveBolkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettOppgaveUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FeilregistrerOppgaveRequest">
    <xsd:sequence>
      <xsd:element name="oppgaveId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id på oppgaven som skal feilregistreres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivelse på hvorfor oppgaven skal feilregistreres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Felt for optimistisk låsing. Når en oppgave feilregistreres må versjon være likt det som ligger lagret i databasen på oppgaven.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilregistrertAvEnhetId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Id på den enheten som feilregistrerte oppgaven (andre sporingsfelter hentes fra context (saksbehandlerId og kildeId)) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>