varseltekster/src/main/resources/Varseltekster.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:varseltekster="http://nav.no/melding/domene/brukerdialog/varseltekster/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="VarselteksterService"
                  targetNamespace="http://nav.no/melding/domene/brukerdialog/varseltekster/v1">
    <wsdl:types>
        <xsd:schema
            elementFormDefault="unqualified"
            targetNamespace="http://nav.no/melding/domene/brukerdialog/varseltekster/v1"
            xmlns:varseltekster="http://nav.no/melding/domene/brukerdialog/varseltekster/v1"
            xmlns:meldinger="http://nav.no/melding/domene/brukerdialog/varseltekster/v1/meldinger">

            <xsd:import namespace="http://nav.no/melding/domene/brukerdialog/varseltekster/v1/meldinger"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/varseltekster/v1/meldinger.xsd"/>

            <xsd:element name="hentVarselteksterRequest" type="meldinger:hentVarselteksterRequest"/>
            <xsd:element name="hentVarselteksterResponse" type="meldinger:hentVarselteksterResponse"/>
            <xsd:element name="ping" type="meldinger:pingRequest"/>
            <xsd:element name="pingResponse" type="meldinger:pingResponse"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="hentVarselteksterRequest">
        <wsdl:part name="request" element="varseltekster:hentVarselteksterRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentVarselteksterResponse">
        <wsdl:part name="response" element="varseltekster:hentVarselteksterResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="request" element="varseltekster:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="response" element="varseltekster:pingResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="VarselteksterPorttype">
        <wsdl:operation name="ping">
            <wsdl:input message="varseltekster:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="varseltekster:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentVarseltekster">
            <wsdl:input message="varseltekster:hentVarselteksterRequest" name="hentVarselteksterRequest">
            </wsdl:input>
            <wsdl:output message="varseltekster:hentVarselteksterResponse" name="hentVarselteksterResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VarselteksterBinding" type="varseltekster:VarselteksterPorttype">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentVarseltekster">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentVarselteksterRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentVarselteksterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Varseltekster_v1">
        <wsdl:port binding="varseltekster:VarselteksterBinding" name="Varseltekster_v1">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/Varseltekster_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
