nav-fim-organisasjon-v5-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjon/v5/organisasjon.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="organisasjon" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v5" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjon/v5" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v5" xmlns:feil="http://nav.no/tjeneste/virksomhet/organisasjon/v5/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/organisasjon/v5/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v5/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v5/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnOrganisasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnOrganisasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnOrganisasjonforMangeForekomster" type="feil:ForMangeForekomster"/>
      <xsd:element name="hentOrganisasjonsnavnBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOrganisasjonsnavnBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjonsnavnBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOrganisasjonsnavnBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOrganisasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOrganisasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjonugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentOrganisasjonorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
      <xsd:element name="hentNoekkelinfoOrganisasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentNoekkelinfoOrganisasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNoekkelinfoOrganisasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentNoekkelinfoOrganisasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNoekkelinfoOrganisasjonugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentNoekkelinfoOrganisasjonorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
      <xsd:element name="validerOrganisasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:ValiderOrganisasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validerOrganisasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:ValiderOrganisasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validerOrganisasjonugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="validerOrganisasjonorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
      <xsd:element name="hentVirksomhetsOrgnrForJuridiskOrgnrBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentVirksomhetsOrgnrForJuridiskOrgnrBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVirksomhetsOrgnrForJuridiskOrgnrBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentVirksomhetsOrgnrForJuridiskOrgnrBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonsendringerListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnOrganisasjonsendringerListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonsendringerListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnOrganisasjonsendringerListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonsendringerListeugyldigInput" type="feil:UgyldigInput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonRequest">
    <wsdl:part element="tns:finnOrganisasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonResponse">
    <wsdl:part element="tns:finnOrganisasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonUgyldigInput">
    <wsdl:part element="tns:finnOrganisasjonugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonForMangeForekomster">
    <wsdl:part element="tns:finnOrganisasjonforMangeForekomster" name="forMangeForekomster"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonsnavnBolkRequest">
    <wsdl:part element="tns:hentOrganisasjonsnavnBolk" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonsnavnBolkResponse">
    <wsdl:part element="tns:hentOrganisasjonsnavnBolkResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonRequest">
    <wsdl:part element="tns:hentOrganisasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonResponse">
    <wsdl:part element="tns:hentOrganisasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonUgyldigInput">
    <wsdl:part element="tns:hentOrganisasjonugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonOrganisasjonIkkeFunnet">
    <wsdl:part element="tns:hentOrganisasjonorganisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentNoekkelinfoOrganisasjonRequest">
    <wsdl:part element="tns:hentNoekkelinfoOrganisasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentNoekkelinfoOrganisasjonResponse">
    <wsdl:part element="tns:hentNoekkelinfoOrganisasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentNoekkelinfoOrganisasjonUgyldigInput">
    <wsdl:part element="tns:hentNoekkelinfoOrganisasjonugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="hentNoekkelinfoOrganisasjonOrganisasjonIkkeFunnet">
    <wsdl:part element="tns:hentNoekkelinfoOrganisasjonorganisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="validerOrganisasjonRequest">
    <wsdl:part element="tns:validerOrganisasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validerOrganisasjonResponse">
    <wsdl:part element="tns:validerOrganisasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validerOrganisasjonUgyldigInput">
    <wsdl:part element="tns:validerOrganisasjonugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="validerOrganisasjonOrganisasjonIkkeFunnet">
    <wsdl:part element="tns:validerOrganisasjonorganisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentVirksomhetsOrgnrForJuridiskOrgnrBolkRequest">
    <wsdl:part element="tns:hentVirksomhetsOrgnrForJuridiskOrgnrBolk" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentVirksomhetsOrgnrForJuridiskOrgnrBolkResponse">
    <wsdl:part element="tns:hentVirksomhetsOrgnrForJuridiskOrgnrBolkResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListeRequest">
    <wsdl:part element="tns:finnOrganisasjonsendringerListe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListeResponse">
    <wsdl:part element="tns:finnOrganisasjonsendringerListeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsendringerListeUgyldigInput">
    <wsdl:part element="tns:finnOrganisasjonsendringerListeugyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:portType name="Organisasjon_v5">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="finnOrganisasjon">
      <wsdl:input message="tns:finnOrganisasjonRequest"/>
      <wsdl:output message="tns:finnOrganisasjonResponse"/>
      <wsdl:fault message="tns:finnOrganisasjonUgyldigInput" name="finnOrganisasjonFault"/>
      <wsdl:fault message="tns:finnOrganisasjonForMangeForekomster" name="finnOrganisasjonFault1"/>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjonsnavnBolk">
      <wsdl:input message="tns:hentOrganisasjonsnavnBolkRequest"/>
      <wsdl:output message="tns:hentOrganisasjonsnavnBolkResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjon">
      <wsdl:input message="tns:hentOrganisasjonRequest"/>
      <wsdl:output message="tns:hentOrganisasjonResponse"/>
      <wsdl:fault message="tns:hentOrganisasjonUgyldigInput" name="hentOrganisasjonFault"/>
      <wsdl:fault message="tns:hentOrganisasjonOrganisasjonIkkeFunnet" name="hentOrganisasjonFault1"/>
    </wsdl:operation>
    <wsdl:operation name="hentNoekkelinfoOrganisasjon">
      <wsdl:input message="tns:hentNoekkelinfoOrganisasjonRequest"/>
      <wsdl:output message="tns:hentNoekkelinfoOrganisasjonResponse"/>
      <wsdl:fault message="tns:hentNoekkelinfoOrganisasjonUgyldigInput" name="hentNoekkelinfoOrganisasjonFault"/>
      <wsdl:fault message="tns:hentNoekkelinfoOrganisasjonOrganisasjonIkkeFunnet" name="hentNoekkelinfoOrganisasjonFault1"/>
    </wsdl:operation>
    <wsdl:operation name="validerOrganisasjon">
      <wsdl:input message="tns:validerOrganisasjonRequest"/>
      <wsdl:output message="tns:validerOrganisasjonResponse"/>
      <wsdl:fault message="tns:validerOrganisasjonUgyldigInput" name="validerOrganisasjonFault"/>
      <wsdl:fault message="tns:validerOrganisasjonOrganisasjonIkkeFunnet" name="validerOrganisasjonFault1"/>
    </wsdl:operation>
    <wsdl:operation name="hentVirksomhetsOrgnrForJuridiskOrgnrBolk">
      <wsdl:input message="tns:hentVirksomhetsOrgnrForJuridiskOrgnrBolkRequest"/>
      <wsdl:output message="tns:hentVirksomhetsOrgnrForJuridiskOrgnrBolkResponse"/>
    </wsdl:operation>
    <wsdl:operation name="finnOrganisasjonsendringerListe">
      <wsdl:input message="tns:finnOrganisasjonsendringerListeRequest"/>
      <wsdl:output message="tns:finnOrganisasjonsendringerListeResponse"/>
      <wsdl:fault message="tns:finnOrganisasjonsendringerListeUgyldigInput" name="finnOrganisasjonsendringerListeFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>