arena-nav-behandleArbeidsytelseSak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/informasjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/informasjon">

    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
	
	<xsd:complexType abstract="true" name="Aktoer"/>
	<xsd:complexType name="AktoerId">
		<xsd:complexContent>
			<xsd:extension base="tns:Aktoer">
				<xsd:sequence>
					<xsd:element name="aktoerId" type="tns:Identifikator">
						<xsd:annotation>
							<xsd:documentation>NAVs interne aktørId</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Brukerident">
		<xsd:complexContent>
			<xsd:extension base="tns:Aktoer">
				<xsd:sequence>
					<xsd:element name="brukerident" type="tns:Identifikator">
						<xsd:annotation>
							<xsd:documentation>Fnr/dnr</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="Kodeverdi">
        <xsd:annotation>
            <xsd:documentation>Informasjon om kodeverdien som blir brukt fra kodeverket</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI">
                    <xsd:annotation>
                        <xsd:documentation>Referanse til koden som blir brukt</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="termnavn" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Termnavn på koden som blir brukt</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="Tema">
        <xsd:simpleContent>
            <xsd:extension base="tns:Kodeverdi">
                <xsd:attribute name="kodeverksRef" type="xsd:anyURI"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="Sak">
        <xsd:sequence>
            <xsd:element name="ident" type="tns:Aktoer"></xsd:element>
            <xsd:element name="tema" type="tns:Tema"></xsd:element>
			<xsd:element name="behandlendeEnhetId" type="tns:Identifikator"></xsd:element>
			<xsd:element name="arenaAnsattId" type="tns:Identifikator"></xsd:element>
            <xsd:element name="erUtland" type="xsd:boolean" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
