cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSLagreAdresseRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSAnnenAdresse.xsd"/>
    <xsd:complexType name="ASBOGOSYSLagreAdresseRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="adresseType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tilleggsAdresse" type="bons1:ASBOGOSYSAnnenAdresse"/>
            <xsd:element minOccurs="0" name="utenlandsAdresse" type="bons1:ASBOGOSYSAnnenAdresse"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
