cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSEnkeltbehov.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
  <xsd:complexType name="ASBOGOSYSEnkeltbehov">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="behov" type="xsd:string"/>
      <xsd:element minOccurs="0" name="behovsBeskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
