cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSMatrikkelAdresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
  <xsd:complexType name="ASBOGOSYSMatrikkelAdresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mellomAdresse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gardsnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruksnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="festenr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="undernr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
