cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSFinnPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSPersonListe.xsd"/>
    <xsd:complexType name="ASBOGOSYSFinnPersonResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="flereTreff" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="buffNr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="personer" type="bons0:ASBOGOSYSPersonListe"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
