cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSNavnEndring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
  <xsd:complexType name="ASBOGOSYSNavnEndring">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="datoRegistrert" type="xsd:date"/>
      <xsd:element minOccurs="0" name="kortnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidligereNavn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
