pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltUttak/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon" xmlns:info="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon">
  <xsd:complexType name="FamilieTillegg">
    <xsd:sequence>
      <xsd:element name="FamilieTilleggInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="FamilieTilleggNetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggSerkull">
    <xsd:sequence>
      <xsd:element name="BTSBinnvilget" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet BarnetilleggSerkullsbarnUT finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;BTSBinnvilget&gt; = true Ellers Sett &lt;BTSBinnvilget&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBnetto" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBInntektBruktiAvkortning" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Summen av inntektene som kan bli lagt til grunn ved avkorting, selv når det ikke fører til avkorting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PensjonsTillegg">
    <xsd:sequence>
      <xsd:element name="PTinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="PTnetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ar">
    <xsd:sequence>
      <xsd:element name="PensjonsgivendeInntekt" type="xsd:int"/>
      <xsd:element name="Arstall" type="xsd:int"/>
      <xsd:element name="Pensjonspoeng" type="xsd:double"/>
      <xsd:element name="GrunnbelopVeiet" type="xsd:string"/>
      <xsd:element name="Poengtallstype" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BruktiBeregning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="MaksUforegrad" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PoengrekkeYPT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PoengarYrke" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarYrkef92" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarYrkee91" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Garantipensjon">
    <xsd:sequence>
      <xsd:element name="GarantipensjonInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="GarantipensjonNetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Grunnpensjon">
    <xsd:sequence>
      <xsd:element name="GPinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="GPnetto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PSatsGp" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OPT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SluttpoengtallMedOk" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallMedOkEOS" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallMedOkNordisk" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilleggspensjon">
    <xsd:sequence>
      <xsd:element name="TPinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="TPnetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="YPT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SluttpoengtallYrke" type="xsd:double"/>
      <xsd:element minOccurs="0" name="Poengrekke" type="info:PoengrekkeYPT"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Garantitillegg">
    <xsd:sequence>
      <xsd:element name="GarantitilleggInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="GarantitilleggNetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjermingstillegg">
    <xsd:sequence>
      <xsd:element name="SkjermingstilleggInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="SkjermingstilleggNetto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SkjermingstilleggUfg" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Skjermingsgrad" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PoengtallListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Ar" type="info:Ar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjenlevendetilleggAP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="APGJTNetto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="APKap19medGJR" type="xsd:int"/>
      <xsd:element minOccurs="0" name="APKap19utenGJR" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Inntektspensjon">
    <xsd:sequence>
      <xsd:element name="InntektspensjonInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="InntektspensjonBrutto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektspensjonNetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ektefelletillegg">
    <xsd:sequence>
      <xsd:element name="ETinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="ETnetto" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETInntektBruktiAvkortning" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MinstenivatilleggIndividuelt">
    <xsd:sequence>
      <xsd:element name="MNTIinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="MNTInetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MinstenivatilleggPensjonistpar">
    <xsd:sequence>
      <xsd:element name="MNTPPinnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="MNTPPnetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FasteUtgifter">
    <xsd:sequence>
      <xsd:element name="FasteUtgifterInnvilget" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="FasteUtgifterNetto" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggFelles">
    <xsd:sequence>
      <xsd:element name="BTFBinnvilget" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet BarnetilleggFellesbarnUT finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;BTFBinnvilget&gt;= true Ellers Sett &lt;BTFBinnvilget&gt;= false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBnetto" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBInntektBruktiAvkortning" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Summen av inntektene som kan bli lagt til grunn ved avkorting, selv når det ikke fører til avkorting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsInformasjonAvdod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UngUfor" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Flyktning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="AnvendtTrygdetid" type="xsd:int"/>
      <xsd:element minOccurs="0" name="UngUforAnvendt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="YrkesskadeAnvendt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BelopRedusert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Hjemmelsendring" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="UngUforGarantiFrafalt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BeregningsMetode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopOkt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="SPT" type="info:SPT"/>
      <xsd:element minOccurs="0" name="OPT" type="info:OPT"/>
      <xsd:element minOccurs="0" name="YPT" type="info:YPT"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningYtelsesKomp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Grunnpensjon" type="info:Grunnpensjon"/>
      <xsd:element minOccurs="0" name="Tilleggspensjon" type="info:Tilleggspensjon"/>
      <xsd:element minOccurs="0" name="Ektefelletillegg" type="info:Ektefelletillegg"/>
      <xsd:element minOccurs="0" name="BarnetilleggFelles" type="info:BarnetilleggFelles"/>
      <xsd:element minOccurs="0" name="BarnetilleggSerkull" type="info:BarnetilleggSerkull"/>
      <xsd:element minOccurs="0" name="FamilieTillegg" type="info:FamilieTillegg"/>
      <xsd:element minOccurs="0" name="FasteUtgifter" type="info:FasteUtgifter"/>
      <xsd:element minOccurs="0" name="PensjonsTillegg" type="info:PensjonsTillegg"/>
      <xsd:element minOccurs="0" name="MinstenivatilleggPensjonistpar" type="info:MinstenivatilleggPensjonistpar"/>
      <xsd:element minOccurs="0" name="MinstenivatilleggIndividuelt" type="info:MinstenivatilleggIndividuelt"/>
      <xsd:element minOccurs="0" name="Skjermingstillegg" type="info:Skjermingstillegg"/>
      <xsd:element minOccurs="0" name="Inntektspensjon" type="info:Inntektspensjon"/>
      <xsd:element minOccurs="0" name="Garantipensjon" type="info:Garantipensjon"/>
      <xsd:element minOccurs="0" name="Garantitillegg" type="info:Garantitillegg"/>
      <xsd:element minOccurs="0" name="GjenlevendetilleggAP" type="info:GjenlevendetilleggAP"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SPT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SluttpoengtallUtenOk" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallUtenOkEOS" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallUtenOkNordisk" type="xsd:double"/>
      <xsd:element minOccurs="0" name="PoengrekkePopulert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Poengrekke" type="info:PoengrekkeSPT"/>
      <xsd:element minOccurs="0" name="Sluttpoengtall" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallEOS" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SluttpoengtallNordisk" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PoengrekkeSPT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Poengar" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Poengarf92" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Poengare91" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Poengarf92EOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Poengare91EOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarTpi" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarFaktiskNorge" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarFaktiskEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarTeoretiskEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarFaktiskeNorden" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarTellerEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="PoengarNevnerEOS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigPoengarNordenBrutto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigPoengarNordenNetto" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FramtidigPoengtall" type="xsd:double"/>
      <xsd:element name="PoengtallListe" type="info:PoengtallListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BeregningsInformasjonKapittel19">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Flyktning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="AnvendtTrygdetid" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BeregningsMetode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Uttaksgrad" type="xsd:int"/>
      <xsd:element minOccurs="0" name="EPSOver2G" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="EPSMottarPensjon" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Grunnbelop" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ForholdstallUttak" type="xsd:double"/>
      <xsd:element minOccurs="0" name="VirkdatoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UngUfor" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="UngUforAnvendt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="YrkesskadeAnvendt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="EnsligPensjonInstOpph" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="SPT" type="info:SPT"/>
      <xsd:element minOccurs="0" name="FtBenyttetGradsoppfriskning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BelopRedusert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Hjemmelsendring" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="UngUforGarantiFrafalt" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>