brukerdialog-behandleAktivitetsplan-v1-tjenestespesifikasjon/src/main/wsdl/behandleAktivitetsplan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleAktivitetsplan" targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1" xmlns:feil="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/behandleAktivitetsplan/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="OpprettNyEgenAktivitet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettNyEgenAktivitetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettNyEgenAktivitetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettNyEgenAktivitetResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettNyStillingAktivitet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettNyStillingAktivitetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettNyStillingAktivitetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettNyStillingAktivitetResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OpprettNyStillingAktivitetsikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
      <xsd:element name="OpprettNyStillingAktivitetugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentAktivitetsplan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentAktivitetsplanRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentAktivitetsplanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentAktivitetsplanResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentAktivitetsplansikkerhetsbegrensing" type="feil:Sikkerhetsbegrensing"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OpprettNyEgenAktivitetRequest">
    <wsdl:part name="parameters" element="tns:OpprettNyEgenAktivitet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettNyStillingAktivitetRequest">
    <wsdl:part name="parameters" element="tns:OpprettNyStillingAktivitet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettNyStillingAktivitetResponse">
    <wsdl:part name="parameters" element="tns:OpprettNyStillingAktivitetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentAktivitetsplanRequest">
    <wsdl:part name="parameters" element="tns:HentAktivitetsplan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentAktivitetsplan_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:HentAktivitetsplansikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettNyStillingAktivitet_sikkerhetsbegrensing">
    <wsdl:part name="sikkerhetsbegrensing" element="tns:OpprettNyStillingAktivitetsikkerhetsbegrensing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettNyStillingAktivitet_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:OpprettNyStillingAktivitetugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpprettNyEgenAktivitetResponse">
    <wsdl:part name="parameters" element="tns:OpprettNyEgenAktivitetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentAktivitetsplanResponse">
    <wsdl:part name="parameters" element="tns:HentAktivitetsplanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleAktivitetsplan_v1">
    <wsdl:operation name="OpprettNyEgenAktivitet">
      <wsdl:input message="tns:OpprettNyEgenAktivitetRequest">
    </wsdl:input>
      <wsdl:output message="tns:OpprettNyEgenAktivitetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpprettNyStillingAktivitet">
      <wsdl:input message="tns:OpprettNyStillingAktivitetRequest">
    </wsdl:input>
      <wsdl:output message="tns:OpprettNyStillingAktivitetResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:OpprettNyStillingAktivitet_sikkerhetsbegrensing">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:OpprettNyStillingAktivitet_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentAktivitetsplan">
      <wsdl:input message="tns:HentAktivitetsplanRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentAktivitetsplanResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensing" message="tns:HentAktivitetsplan_sikkerhetsbegrensing">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
