arena-personinfo/src/main/resources/no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/adresse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Erik B. Henriksen (Aetat Arbeidsdirektoratet) -->
<schema targetNamespace="http://www.aetat.no/arena/adresse.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xdb="http://xmlns.oracle.com/xdb" xmlns:aol="http://www.aetat.no/arena/adresse.xsd" elementFormDefault="qualified">
	<element name="Adresse" type="aol:KontorAdresseType" xdb:defaultTable="XIN_ADRESSE">
		<annotation>
			<documentation>Inn-skjema for å returnere adresser til aetat enhet</documentation>
		</annotation>
	</element>
	<complexType name="GateAdresseType">
		<sequence>
			<element name="Adrlinje1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="35"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adrlinje2" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="35"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adrlinje3" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="35"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Postnr">
				<simpleType>
					<restriction base="string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Poststednavn" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="35"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Kommunenr" type="positiveInteger" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="KontorAdresseType">
		<choice>
			<element name="GateAdresse" type="aol:GateAdresseType"/>
			<element name="PersonId" type="positiveInteger"/>
		</choice>
		<attribute name="Id" type="string" use="optional"/>
	</complexType>
</schema>
