arena-personinfo/src/main/resources/no/nav/tjeneste/domene/brukerdialog/arena-personinfo/v1/person.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Aetat Arbeidsdirektoratet (Aetat Arbeidsdirektoratet) -->
<schema targetNamespace="http://www.aetat.no/arena/person.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xdb="http://xmlns.oracle.com/xdb"
        xmlns:pers="http://www.aetat.no/arena/person.xsd" elementFormDefault="qualified" version="1.0">
	<element name="Person" type="pers:PersonType" xdb:defaultTable="XIN_PERSON">
		<annotation>
			<documentation>Toppelement for person</documentation>
		</annotation>
	</element>
	<complexType name="CVLeddType">
		<annotation>
			<documentation>Type for CVLedd</documentation>
		</annotation>
		<sequence>
			<element name="ProfilelementId" type="positiveInteger" minOccurs="0"/>
			<element name="Leddkode">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Leddtekst1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="150"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Leddtekst2" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="150"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Beskrivelse" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="255"/>
					</restriction>
				</simpleType>
			</element>
			<element name="FraDato" type="date"/>
			<element name="TilDato" type="date" minOccurs="0"/>
			<element name="StatusDokumentasjon">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="OmfangVerdi" type="int" minOccurs="0"/>
			<element name="OmfangMaaleenhet" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Hensyn">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Lopenr" type="positiveInteger"/>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="AdresseType">
		<annotation>
			<documentation>Type for adresse</documentation>
		</annotation>
		<sequence>
			<element name="Postnr" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="4"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adrlinje1" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adrlinje2" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adrlinje3" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Landkode">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Adressetype">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="AdressebrukId" type="positiveInteger" minOccurs="0"/>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonprofilLeddType">
		<annotation>
			<documentation>Type for Personprofilledd</documentation>
		</annotation>
		<sequence>
			<element name="ProfilelementId" type="positiveInteger"/>
			<element name="Leddkode">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="ErPrimaertJobbonske" minOccurs="0">
				<annotation>
					<documentation>Skal bare brukes hvis leddkode = 'JOBBO'. Et og bare et primaert jobbonske pr. personprofil.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Hensyn" minOccurs="0">
				<annotation>
					<documentation>Skal benyttes hvis Aksjonskode ikke er 'D'</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonforholdType">
		<annotation>
			<documentation>Type for Personforhold</documentation>
		</annotation>
		<sequence>
			<element name="Kommentar" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="255"/>
					</restriction>
				</simpleType>
			</element>
			<element name="FraDato" type="date"/>
			<element name="TilDato" type="date" minOccurs="0"/>
			<element name="Personforholdkode">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonaliaType">
		<annotation>
			<documentation>Type for Personalia</documentation>
		</annotation>
		<sequence>
			<element name="Fornavn">
				<simpleType>
					<restriction base="string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Etternavn">
				<simpleType>
					<restriction base="string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Fodselsnr" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="11"/>
					</restriction>
				</simpleType>
			</element>
			<element name="StatusDnr" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Fodselsdato" type="date" minOccurs="0"/>
			<element name="Maalform" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="LandkodeStatsborger" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Kjonn" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="FGKode" type="pers:Formidlingsgruppetype" minOccurs="0">
				<annotation>
					<documentation>Formidlingsgruppekode</documentation>
				</annotation>
			</element>
			<element name="DatoInaktivert" type="date" minOccurs="0"/>
			<element name="LonnslippEpost" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="EpostAdresse" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SamtykkeType">
		<annotation>
			<documentation>Type for Samtykke</documentation>
		</annotation>
		<sequence>
			<element name="StatusSamtykke">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DatoSamtykke" type="date" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="KommunikasjonType">
		<annotation>
			<documentation>Type for Kommunikasjon</documentation>
		</annotation>
		<sequence>
			<element name="Kommunikasjonstreng">
				<simpleType>
					<restriction base="string">
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Kommunikasjonskode">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="KommunikasjonId" type="positiveInteger" minOccurs="0"/>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="AktivitetType">
		<annotation>
			<documentation>Type for Aktivitet</documentation>
		</annotation>
		<sequence>
			<element name="FraDato" type="date" minOccurs="0"/>
			<element name="TilDato" type="date" minOccurs="0"/>
			<element name="StatusAktiv" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Beskrivelse" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Aktivitetkode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="AktivitetId" type="positiveInteger" minOccurs="0"/>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonType">
		<annotation>
			<documentation>Type for person</documentation>
		</annotation>
		<sequence>
			<element name="PersonId" type="positiveInteger"/>
			<element name="Kandidatnummer" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="8"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Personalia" type="pers:PersonaliaType"/>
			<element name="Adresser" nillable="true">
				<complexType>
					<sequence>
						<element name="Adresse" minOccurs="0" maxOccurs="unbounded" type="pers:AdresseType"/>
					</sequence>
				</complexType>
			</element>
			<element name="Kommunikasjoner" nillable="true">
				<complexType>
					<sequence>
						<element name="Kommunikasjon" type="pers:KommunikasjonType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="CV" nillable="true" type="pers:CVType"/>
			<element name="CVLeddListe" nillable="true">
				<complexType>
					<sequence>
						<element name="CVLedd" type="pers:CVLeddType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="Personprofil" nillable="true">
				<complexType>
					<sequence>
						<element name="Personprofilledd" type="pers:PersonprofilLeddType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="PersonforholdListe" nillable="true">
				<complexType>
					<sequence>
						<element name="PersonForhold" type="pers:PersonforholdType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="Samtykke" type="pers:SamtykkeType" minOccurs="0">
				<annotation>
					<documentation>Samtykke betyr at navnet skal offentliggjøres i kandidatliste</documentation>
				</annotation>
			</element>
			<element name="StatusJobbskifter">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BehovForAttforing" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Aktivitetsliste" nillable="true">
				<complexType>
					<sequence>
						<element name="Aktivitet" type="pers:AktivitetType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="Aksjonskode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<length value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DatoFra" type="date" nillable="true" minOccurs="0"/>
			<element name="StatusLegitimert" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
		<attribute name="Id" type="string" use="optional"/>
	</complexType>
	<complexType name="CVType">
		<annotation>
			<documentation>Type for CV</documentation>
		</annotation>
		<sequence>
			<element name="Egenbeskrivelse" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="Formidlingsgruppetype">
		<annotation>
			<documentation>Type for formidlingsgruppe</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="ARBS"/>
			<enumeration value="PARBS"/>
			<enumeration value="RARBS"/>
			<enumeration value="ISERV"/>
			<enumeration value="JOBBS"/>
			<enumeration value="IJOBS"/>
			<enumeration value="IARBS"/>
		</restriction>
	</simpleType>
</schema>
