arbeidOgAktivitetVedtak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidOgAktivitetVedtak/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetVedtak/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetVedtak/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetVedtak/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetVedtak/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentVedtakRequest">
    <xsd:sequence>
      <xsd:element name="vedtakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Vedtakets id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentVedtakResponse">
    <xsd:sequence>
      <xsd:element name="vedtak" type="informasjon:Vedtak">
        <xsd:annotation>
          <xsd:documentation>Informasjon om vedtaket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnVedtakListeRequest">
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer/D-nummer til personen som det spørres på.

Verdien skal bestå av 11 siffer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato. Vedtak som er avsluttet før denne dato skal ikke returneres.

Dersom fom-dato i input ikke er spesifisert, hentes alle relevante vedtak uavhengig av tidsperioden hvert vedtak gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sakstypeListe" type="informasjon:Sakstyper">
        <xsd:annotation>
          <xsd:documentation>Liste av sakskoder som vedtak skal hentes for.

Dersom ingen sakskoder er spesifisert, hentes alle relevante vedtak uavhengig av sakstypen til hvert vedtak.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnVedtakListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedtakListe" type="informasjon:Vedtak">
        <xsd:annotation>
          <xsd:documentation>Liste av vedtak som oppfyller søkekriteriene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>