personsok-esb-tjenestespesifikasjon/src/main/wsdl/personsok/no/nav/virksomhet/tjenester/person/personsok/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/person/personsok/meldinger/v1" version="1.0" xmlns:felles="http://nav.no/virksomhet/tjenester/felles/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/person/personsok/meldinger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/virksomhet/tjenester/felles/v1" schemaLocation="../../../felles/felles.xsd"/>
  <xsd:complexType name="NavnSok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal &lt;b&gt;enten&lt;/b&gt; søke på navn&lt;b&gt; eller&lt;/b&gt; på fornavn/etternavn. Må settes hvis ikke fornavn/etternavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn  det skal søkes etter. Hvert navn kan ha en lengde på opptil 20 tegn.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnFTE" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;F – spesifiserer at søket på navn skal være fonetisk. (dette er default)&lt;/p&gt;&lt;p&gt;T - spesifiserer at søket på navn skal være trunkert.&lt;/p&gt;&lt;p&gt;E - spesifiserer at søket på navn skal være eksakt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal &lt;b&gt;enten&lt;/b&gt; søke på navn &lt;b&gt;&lt;/b&gt;&lt;b&gt;eller&lt;/b&gt; &lt;b&gt;&lt;/b&gt;på fornavn/etternavn. Må settes hvis ikke navn&lt;b&gt;&lt;/b&gt; eller &lt;b&gt;&lt;/b&gt;etternavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn og det søkes på treff blant fornavnene. Dersom fornavn er spesifisert, gjelder navnFTE for dette.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal &lt;b&gt;enten&lt;/b&gt; søke på navn&lt;b&gt; eller&lt;/b&gt; på fornavn/etternavn. Må settes hvis ikke navn&lt;b&gt;&lt;/b&gt; eller&lt;b&gt;&lt;/b&gt; fornavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn og det søkes på treff blant etternavnene&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etternavnFTE" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;F – spesifiserer at søket på navn skal være fonetisk. (dette er default)&lt;/p&gt;&lt;p&gt;T - spesifiserer at søket på navn skal være trunkert.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kjonn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kan ha verdien K, M eller være blankt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;NAV enhet som behandler personen&lt;/p&gt;&lt;p&gt;•        2 tegn – angir fylke f.eks. 18 er Nordland, 03 er Oslo&lt;/p&gt;&lt;p&gt;•        3 tegn – del av et fylke (opptil 10 tknr, f.eks. 181 som er 1810 - 1819)&lt;/p&gt;&lt;p&gt;•        4 tegn – angir ett trygdekontor&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personstatus" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;•        BOSA – bosatt i Norge &lt;/p&gt;&lt;p&gt;•        UTVA – utvandret&lt;/p&gt;&lt;p&gt;•        DØD – død&lt;/p&gt;&lt;p&gt;•        LEV – er levende&lt;/p&gt;&lt;p&gt;•        ”blankt” søket er da blant alle personstatuser&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="identtype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kan ha verdiene FNR, DNR eller blankt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alderFra" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man kan &lt;b&gt;enten&lt;/b&gt; filtrere på alder&lt;b&gt; eller&lt;/b&gt; fodselsdato.&lt;/p&gt;&lt;p&gt;Format ÅÅÅÅ. Er alderTil ikke utfylt, søkes det på eksakt alder, dvs de som har alderen på søkedagen (alle som har fødselsdato fra søkedato og ett år tilbake).&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alderTil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man kan&lt;b&gt; enten&lt;/b&gt; filtrere på alder &lt;b&gt;eller&lt;/b&gt; fodselsdato.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fodselsdatoFra" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man kan &lt;b&gt;enten&lt;/b&gt; filtrere på alder &lt;b&gt;eller&lt;/b&gt; fodselsdato.&lt;/p&gt;&lt;p&gt;På formatet ÅÅÅÅ-MM-DD. Er fodselsdatoTil ikke utfylt, søkes det på eksakt dato.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fodselsdatoTil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man kan&lt;b&gt; enten&lt;/b&gt; filtrere på alder&lt;b&gt; eller&lt;/b&gt; fodselsdato.&lt;/p&gt;&lt;p&gt;På formatet ÅÅÅÅ-MM-DD. Er fodselsdatoFra ikke utfylt, tas det ikke hensyn til dette feltet.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokNavnRequest">
    <xsd:sequence>
      <xsd:element name="navnSok" type="meldinger:NavnSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søk på navn&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personFilter" type="meldinger:PersonFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering av søkeresultatene på personinformasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodetabell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Selve kodeverdien.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dekode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tekstlig beskrivelse av koden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Diskresjonskode">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NavnUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Navn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kortnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn som er lengre enn 25 tegn, er forkortet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidligerenavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:NavnUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personstatus">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kjonn">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdresseUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Adressetype">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Land">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Adresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="adressetype" type="meldinger:Adressetype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;-        BOAD – boadresse (alltid norske adresser) – kommer fra SKD&lt;/p&gt;&lt;p&gt;-        POST – dette er post-adresser og kan være enten norsk postadresse eller utenlands postadresse – kommer fra SKD&lt;/p&gt;&lt;p&gt;-        TIAD – norsk tilleggsadresse – lagt inn fra NAV&lt;/p&gt;&lt;p&gt;-        UTAD – utenlandsadresse – lagt inn fra NAV&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresse1" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresselinje 1&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresse2" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresselinje 2&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresse3" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adresselinje 3&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Norsk postnr&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="poststed" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Norsk poststed tilsvarende postnr. Er det ikke postnr, returneres feltet tomt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommunenr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kommunenummeret&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="land" type="meldinger:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Landkoden fra ISO-standarden ISO 3166-1 (alpha-3)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:AdresseUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="diskresjonskode" type="meldinger:Diskresjonskode"/>
      <xsd:element minOccurs="0" name="kjonn" type="meldinger:Kjonn">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;M - mann, K – kvinne&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tjenestekontornummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dodsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Returnerer dødsdato dersom denne er oppgitt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personstatus" type="meldinger:Personstatus">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;-        BOSA – bosatt i Norge &lt;/p&gt;&lt;p&gt;-        UTVA – utvandret&lt;/p&gt;&lt;p&gt;-        DØD – død&lt;/p&gt;&lt;p&gt;-        LEV – er levende&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="statsborgerskap" type="meldinger:Statsborgerskap">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Landkoden fra ISO-standarden ISO 3166-1 (alpha-3)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="meldinger:Navn">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navnet til personen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="adresseListe" type="meldinger:Adresse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Adressen(e) til personen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:PersonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokNavnUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SokNavnResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="antallTreffTotalt" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Totalt antall treff som søket ga (maks 200)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallTreffReturnert" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall returnerte treff på søket (maks 34)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="personListe" type="meldinger:Person">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av personer som matchet søkekriteriene&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:SokNavnUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdresseSok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="adresseNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;I et adressesøk må man minimum sette enten adresseNavn, eller personFilter og adresseFilter, eller en kombinasjon av alle.&lt;/p&gt;&lt;p&gt;De navn som oppgis her blir behandlet som ett navn, f.eks ”Ole Bulls vei” behandles som ett sammenhengende navn. Man vil få treff på adressenavn som matcher fonetisk.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdresseFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="postnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Norsk postnr&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="husnrFra" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Husnummer fra og med&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="husnrTil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Husnummer til og med&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bokstavFra" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Husnummerbokstav fra og med&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bokstavTil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Husnummerbokstav til og med&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommunenr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Komunenummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bolignr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Bolignummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokAdresseRequest">
    <xsd:sequence>
      <xsd:element name="adresseSok" type="meldinger:AdresseSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søk på adresse&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personFilter" type="meldinger:PersonFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;I et adressesøk må man minimum sette enten adresseNavn, eller personFilter og adresseFilter, eller en kombinasjon av alle.&lt;/p&gt;&lt;p&gt;Filtrering av søkeresultatene på personinformasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresseFilter" type="meldinger:AdresseFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;I et adressesøk må man minimum sette enten adresseNavn, eller personFilter og adresseFilter, eller en kombinasjon av alle.&lt;/p&gt;&lt;p&gt;Filtrering av søkeresultatene på adresseinformasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokAdresseUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SokAdresseResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="antallTreffTotalt" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Totalt antall treff som søket ga (maks 200)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallTreffReturnert" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall returnerte treff på søket (maks 34)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="personListe" type="meldinger:Person">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av personer som matchet søkekriteriene&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:SokAdresseUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KombinasjonSok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal&lt;b&gt; enten&lt;/b&gt; søke på navn&lt;b&gt; eller&lt;/b&gt; på fornavn/etternavn. Må settes hvis ikke fornavn/etternavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn  det skal søkes etter. Hvert navn kan ha en lengde på opptil 20 tegn.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnFTE" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;F – spesifiserer at søket på navn skal være fonetisk. (dette er default)&lt;/p&gt;&lt;p&gt;T - spesifiserer at søket på navn skal være trunkert.&lt;/p&gt;&lt;p&gt;E - spesifiserer at søket på navn skal være eksakt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal&lt;b&gt; enten&lt;/b&gt; søke på navn&lt;b&gt; eller&lt;/b&gt; på fornavn/etternavn. Må settes hvis ikke navn eller etternavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn og det søkes på treff blant fornavnene. Dersom fornavn er spesifisert, gjelder navnFTE for dette.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Man skal&lt;b&gt; enten&lt;/b&gt; søke på navn &lt;b&gt;eller&lt;/b&gt; på fornavn/etternavn. Må settes hvis ikke navn eller fornavn er satt.&lt;/p&gt;&lt;p&gt;Kan oppgi ett eller flere navn og det søkes på treff blant etternavnene&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="etternavnFTE" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;F – spesifiserer at søket på navn skal være fonetisk. (dette er default)&lt;/p&gt;&lt;p&gt;T - spesifiserer at søket på navn skal være trunkert.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresseNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;De navn som oppgis her blir behandlet som ett navn, f.eks ”Ole Bulls vei” behandles som ett sammenhengende navn. Man vil få treff på adressenavn som matcher fonetisk.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokKombinasjonRequest">
    <xsd:sequence>
      <xsd:element name="kombinasjonSok" type="meldinger:KombinasjonSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søk på navn og adresse i kombinasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personFilter" type="meldinger:PersonFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering av søkeresultatene på personinformasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresseFilter" type="meldinger:AdresseFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering av søkeresultatene på adresseinformasjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SokKombinasjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SokKombinasjonResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="antallTreffTotalt" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Totalt antall treff som søket ga (maks 200)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallTreffReturnert" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall returnerte treff på søket (maks 34)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="personListe" type="meldinger:Person">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av personer som matchet søkekriteriene&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:SokKombinasjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>