nav-fim-organisasjon-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjon/v2/Organisasjon.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<wsdl:definitions name="Organisasjon" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjon/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v2" xmlns:faults="http://nav.no/tjeneste/virksomhet/organisasjon/v2/feil" xmlns:param="http://nav.no/tjeneste/virksomhet/organisasjon/v2/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v2/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="finnOrganisasjonsendringerListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:finnOrganisasjonsendringerListeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnOrganisasjonsendringerListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:finnOrganisasjonsendringerListeResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjonsnavnBolk">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:hentOrganisasjonsnavnBolkRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjonsnavnBolkResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:hentOrganisasjonsnavnBolkResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnOrganisasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:FinnOrganisasjonRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnOrganisasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:FinnOrganisasjonResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finnOrganisasjon_ugyldigInput" type="faults:UgyldigInput"/>
			<xs:element name="finnOrganisasjon_forMangeForekomster" type="faults:ForMangeForekomster"/>
			<xs:element name="hentOrganisasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:HentOrganisasjonRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:HentOrganisasjonResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOrganisasjon_organisasjonIkkeFunnet" type="faults:OrganisasjonIkkeFunnet"/>
			<xs:element name="hentOrganisasjon_ugyldigInput" type="faults:UgyldigInput"/>
			<xs:element name="validerOrganisasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:ValiderOrganisasjonRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validerOrganisasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:ValiderOrganisasjonResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validerOrganisasjon_ugyldigInput" type="faults:UgyldigInput"/>
			<xs:element name="validerOrganisasjon_organisasjonIkkeFunnet" type="faults:OrganisasjonIkkeFunnet"/>
			<xs:element name="hentNoekkelinfoOrganisasjon">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="request" type="param:HentNoekkelinfoOrganisasjonRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentNoekkelinfoOrganisasjonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="response" type="param:HentNoekkelinfoOrganisasjonResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentNoekkelinfoOrganisasjon_ugyldigInput" type="faults:UgyldigInput"/>
			<xs:element name="hentNoekkelinfoOrganisasjon_organisasjonIkkeFunnet" type="faults:OrganisasjonIkkeFunnet"/>
			<xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="finnOrganisasjonsendringerListeRequest">
		<wsdl:part element="tns:finnOrganisasjonsendringerListe" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="finnOrganisasjonsendringerListeResponse">
		<wsdl:part element="tns:finnOrganisasjonsendringerListeResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjonsnavnBolkRequest">
		<wsdl:part element="tns:hentOrganisasjonsnavnBolk" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjonsnavnBolkResponse">
		<wsdl:part element="tns:hentOrganisasjonsnavnBolkResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="validerOrganisasjonRequest">
		<wsdl:part element="tns:validerOrganisasjon" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjonRequest">
		<wsdl:part element="tns:hentOrganisasjon" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="validerOrganisasjonResponse">
		<wsdl:part element="tns:validerOrganisasjonResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="finnOrganisasjon_ugyldigInput">
		<wsdl:part element="tns:finnOrganisasjon_ugyldigInput" name="ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="hentNoekkelinfoOrganisasjon_ugyldigInput">
		<wsdl:part element="tns:hentNoekkelinfoOrganisasjon_ugyldigInput" name="ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="hentNoekkelinfoOrganisasjon_organisasjonIkkeFunnet">
		<wsdl:part element="tns:hentNoekkelinfoOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="hentNoekkelinfoOrganisasjonRequest">
		<wsdl:part element="tns:hentNoekkelinfoOrganisasjon" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjon_ugyldigInput">
		<wsdl:part element="tns:hentOrganisasjon_ugyldigInput" name="ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="validerOrganisasjon_ugyldigInput">
		<wsdl:part element="tns:validerOrganisasjon_ugyldigInput" name="ugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="finnOrganisasjonRequest">
		<wsdl:part element="tns:finnOrganisasjon" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="finnOrganisasjonResponse">
		<wsdl:part element="tns:finnOrganisasjonResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentNoekkelinfoOrganisasjonResponse">
		<wsdl:part element="tns:hentNoekkelinfoOrganisasjonResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjonResponse">
		<wsdl:part element="tns:hentOrganisasjonResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="validerOrganisasjon_organisasjonIkkeFunnet">
		<wsdl:part element="tns:validerOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="finnOrganisasjon_forMangeForekomster">
		<wsdl:part element="tns:finnOrganisasjon_forMangeForekomster" name="forMangeForekomster"/>
	</wsdl:message>
	<wsdl:message name="hentOrganisasjon_organisasjonIkkeFunnet">
		<wsdl:part element="tns:hentOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="OrganisasjonPortType">
		<wsdl:operation name="finnOrganisasjonsendringerListe">
			<wsdl:input message="tns:finnOrganisasjonsendringerListeRequest" name="finnOrganisasjonsendringerListeRequest"/>
			<wsdl:output message="tns:finnOrganisasjonsendringerListeResponse" name="finnOrganisasjonsendringerListeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="hentOrganisasjonsnavnBolk">
			<wsdl:input message="tns:hentOrganisasjonsnavnBolkRequest" name="hentOrganisasjonsnavnBolkRequest"/>
			<wsdl:output message="tns:hentOrganisasjonsnavnBolkResponse" name="hentOrganisasjonsnavnBolkResponse"/>
		</wsdl:operation>
		<wsdl:operation name="finnOrganisasjon">
			<wsdl:input message="tns:finnOrganisasjonRequest" name="finnOrganisasjonRequest"/>
			<wsdl:output message="tns:finnOrganisasjonResponse" name="finnOrganisasjonResponse"/>
			<wsdl:fault message="tns:finnOrganisasjon_ugyldigInput" name="ugyldigInput"/>
			<wsdl:fault message="tns:finnOrganisasjon_forMangeForekomster" name="forMangeForekomster"/>
		</wsdl:operation>
		<wsdl:operation name="hentOrganisasjon">
			<wsdl:input message="tns:hentOrganisasjonRequest" name="hentOrganisasjonRequest"/>
			<wsdl:output message="tns:hentOrganisasjonResponse" name="hentOrganisasjonResponse"/>
			<wsdl:fault message="tns:hentOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
			<wsdl:fault message="tns:hentOrganisasjon_ugyldigInput" name="ugyldigInput"/>
		</wsdl:operation>
		<wsdl:operation name="validerOrganisasjon">
			<wsdl:input message="tns:validerOrganisasjonRequest" name="validerOrganisasjonRequest"/>
			<wsdl:output message="tns:validerOrganisasjonResponse" name="validerOrganisasjonResponse"/>
			<wsdl:fault message="tns:validerOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
			<wsdl:fault message="tns:validerOrganisasjon_ugyldigInput" name="ugyldigInput"/>
		</wsdl:operation>
		<wsdl:operation name="hentNoekkelinfoOrganisasjon">
			<wsdl:input message="tns:hentNoekkelinfoOrganisasjonRequest" name="hentNoekkelinfoOrganisasjonRequest"/>
			<wsdl:output message="tns:hentNoekkelinfoOrganisasjonResponse" name="hentNoekkelinfoOrganisasjonResponse"/>
			<wsdl:fault message="tns:hentNoekkelinfoOrganisasjon_organisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
			<wsdl:fault message="tns:hentNoekkelinfoOrganisasjon_ugyldigInput" name="ugyldigInput"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrganisasjonBinding" type="tns:OrganisasjonPortType">
		<wsaw:UsingAddressing/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="finnOrganisasjonsendringerListe">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="finnOrganisasjonsendringerListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnOrganisasjonsendringerListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hentOrganisasjonsnavnBolk">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="hentOrganisasjonsnavnBolkRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentOrganisasjonsnavnBolkResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="finnOrganisasjon">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="finnOrganisasjonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="finnOrganisasjonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="forMangeForekomster">
				<soap:fault name="forMangeForekomster" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="hentOrganisasjon">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="hentOrganisasjonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentOrganisasjonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="organisasjonIkkeFunnet">
				<soap:fault name="organisasjonIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="validerOrganisasjon">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="validerOrganisasjonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="validerOrganisasjonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="organisasjonIkkeFunnet">
				<soap:fault name="organisasjonIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="hentNoekkelinfoOrganisasjon">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="hentNoekkelinfoOrganisasjonRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentNoekkelinfoOrganisasjonResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="organisasjonIkkeFunnet">
				<soap:fault name="organisasjonIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Organisasjon_v2">
		<wsdl:port binding="tns:OrganisasjonBinding" name="Organisasjon_v2">
			<soap:address location="http://localhost:8080/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>