soeknadsskjemaEngangsstoenad-v1-meldingsdefinisjon/src/main/xsd/foreldrepenger-soeknadsskjemaEngangsstoenad-v1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soeknadsskjemaEngangsstoenad="http://nav.no/foreldrepenger/soeknadsskjema/engangsstoenad/v1" targetNamespace="http://nav.no/foreldrepenger/soeknadsskjema/engangsstoenad/v1">
  <xsd:complexType name="OpplysningerOmFar">
    <xsd:annotation>
      <xsd:documentation>Informasjon om far</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personidentifikator" type="soeknadsskjemaEngangsstoenad:Identifikator"/>
      <xsd:element minOccurs="0" name="kanIkkeOppgiFar" type="soeknadsskjemaEngangsstoenad:KanIkkeOppgiFar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kode" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="soeknadsskjemaEngangsstoenad" type="soeknadsskjemaEngangsstoenad:SoeknadsskjemaEngangsstoenad"/>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Periode (fra-og-med/til-og-med)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med-dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med-dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SoeknadsskjemaEngangsstoenad">
    <xsd:annotation>
      <xsd:documentation>Engangsstønad søknadsskjema</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="bruker" type="soeknadsskjemaEngangsstoenad:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Fnr/Dnr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="soknadsvalg" type="soeknadsskjemaEngangsstoenad:Soknadsvalg">
        <xsd:annotation>
          <xsd:documentation>Søknadsskjema valg</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="rettigheter" type="soeknadsskjemaEngangsstoenad:Rettigheter">
        <xsd:annotation>
          <xsd:documentation>Rettigheter relatert til far</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tilknytningNorge" type="soeknadsskjemaEngangsstoenad:TilknytningNorge">
        <xsd:annotation>
          <xsd:documentation>Informasjon om tilknytning til norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="opplysningerOmBarn" type="soeknadsskjemaEngangsstoenad:OpplysningerOmBarn">
        <xsd:annotation>
          <xsd:documentation>Opplysninger om barn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opplysningerOmFar" type="soeknadsskjemaEngangsstoenad:OpplysningerOmFar">
        <xsd:annotation>
          <xsd:documentation>Opplysninger om Far</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opplysningerOmMor" type="soeknadsskjemaEngangsstoenad:OpplysningerOmMor">
        <xsd:annotation>
          <xsd:documentation>Opplysninger om Mor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilleggsopplysninger" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eventuelle tilleggsopplysninger</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vedleggListe" type="soeknadsskjemaEngangsstoenad:VedleggListe">
        <xsd:annotation>
          <xsd:documentation>Informasjon om vedleggene som tilhører en søknad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TilknytningNorge">
    <xsd:annotation>
      <xsd:documentation>Informasjon om tilknytning til norge</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppholdNorgeNaa" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Nåværende opphold i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tidligereOppholdNorge" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Tidligere opphold i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fremtidigOppholdNorge" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Planlagt fremtidig opphold i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fremtidigOppholdUtenlands">
        <xsd:annotation>
          <xsd:documentation>Fremtidig opphold utenlands (hvis ikke fremtidig opphold i Norge)</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="utenlandsopphold" type="soeknadsskjemaEngangsstoenad:Utenlandsopphold"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="tidligereOppholdUtenlands">
        <xsd:annotation>
          <xsd:documentation>Tidligere opphold utenlands (hvis ikke tidligere opphold Norge)</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="utenlandsopphold" type="soeknadsskjemaEngangsstoenad:Utenlandsopphold"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Landkoder">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for Landkoder (http://nav.no/kodeverk/Kodeverk/Landkoder)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="soeknadsskjemaEngangsstoenad:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Landkoder" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Kodeverk referanse for landkoder (http://nav.no/kodeverk/Kodeverk/LandkoderISO2)</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Utenlandsopphold">
    <xsd:annotation>
      <xsd:documentation>Informasjon om utenlandsopphold</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="land" type="soeknadsskjemaEngangsstoenad:Landkoder">
        <xsd:annotation>
          <xsd:documentation>Land relatert til utenlandsopphold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="soeknadsskjemaEngangsstoenad:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode relatert til utenlandsopphold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpplysningerOmBarn">
    <xsd:annotation>
      <xsd:documentation>Opplysninger om barn</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="termindato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Termindato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="terminbekreftelsedato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for bekreftelse av termin</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnPaaTerminbekreftelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på terminbekreftelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="omsorgsovertakelsedato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for omsorgsovertakelse relatert til adopsjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foedselsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>fødselsdato for barn relatert til adopsjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="antallBarn" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Antall barn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="begrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Begrunnelse for sen innsending av søknad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VedleggListe">
    <xsd:annotation>
      <xsd:documentation>Informasjon om vedleggene som tilhører en søknad</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Vedlegg" type="soeknadsskjemaEngangsstoenad:Vedlegg" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:annotation>
      <xsd:documentation>Informasjon om et enkelt vedlegg</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="skjemanummer" type="xsd:string"/>
      <xsd:element name="innsendingsvalg" type="soeknadsskjemaEngangsstoenad:Innsendingsvalg">
        <xsd:annotation>
          <xsd:documentation>Hvis vedlegg ikke tilgjengelig</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilleggsinfo" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fritekst relatert til vedlegg</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erPaakrevdISoeknadsdialog" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Innsendingsvalg">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LASTET_OPP"/>
      <xsd:enumeration value="SEND_SENERE"/>
      <xsd:enumeration value="SENDES_IKKE"/>
      <xsd:enumeration value="VEDLEGG_SENDES_AV_ANDRE"/>
      <xsd:enumeration value="IKKE_VALGT"/>
      <xsd:enumeration value="VEDLEGG_ALLEREDE_SENDT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Soknadsvalg">
    <xsd:annotation>
      <xsd:documentation>Søknadsskjema valg</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="foedselEllerAdopsjon" type="soeknadsskjemaEngangsstoenad:FoedselEllerAdopsjon">
        <xsd:annotation>
          <xsd:documentation>Informasjon om søknaden er relatert til fødsel eller adopsjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stoenadstype" type="soeknadsskjemaEngangsstoenad:Stoenadstype">
        <xsd:annotation>
          <xsd:documentation>Type stønad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rettigheter">
    <xsd:annotation>
      <xsd:documentation>Rettigheter relatert til far</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="grunnlagForAnsvarsovertakelse" type="soeknadsskjemaEngangsstoenad:GrunnlagForAnsvarsovertakelse">
        <xsd:annotation>
          <xsd:documentation>Begrunnelse for overtakelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="GrunnlagForAnsvarsovertakelse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adoptererAlene"/>
      <xsd:enumeration value="overtattPaGrunnAvDod"/>
      <xsd:enumeration value="overtattOmsorgInnen53UkerAdopsjon"/>
      <xsd:enumeration value="overtattOmsorgInnen53UkerFodsel"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="KanIkkeOppgiFar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utenlandskfnrEllerForklaring" type="xsd:string"/>
      <xsd:element name="aarsak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utenlandskfnrLand" type="soeknadsskjemaEngangsstoenad:Landkoder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpplysningerOmMor">
    <xsd:annotation>
      <xsd:documentation>Informasjon om mor</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personidentifikator" type="soeknadsskjemaEngangsstoenad:Identifikator"/>
      <xsd:element minOccurs="0" name="kanIkkeOppgiMor" type="soeknadsskjemaEngangsstoenad:KanIkkeOppgiMor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KanIkkeOppgiMor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utenlandskfnrEllerForklaring" type="xsd:string"/>
      <xsd:element name="aarsak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utenlandskfnrLand" type="soeknadsskjemaEngangsstoenad:Landkoder"/>
      <xsd:element minOccurs="0" name="begrunnelse" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FoedselEllerAdopsjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FOEDSEL"/>
      <xsd:enumeration value="ADOPSJON"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Stoenadstype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ENGANGSSTOENADMOR"/>
      <xsd:enumeration value="ENGANGSSTOENADFAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Aktoer"/>
  <xsd:complexType name="Bruker">
    <xsd:complexContent>
      <xsd:extension base="soeknadsskjemaEngangsstoenad:Aktoer">
        <xsd:sequence>
          <xsd:element name="personidentifikator" type="soeknadsskjemaEngangsstoenad:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AktoerId">
    <xsd:complexContent>
      <xsd:extension base="soeknadsskjemaEngangsstoenad:Aktoer">
        <xsd:sequence>
          <xsd:element name="aktoerId" type="soeknadsskjemaEngangsstoenad:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>