nav-fim-organisasjon-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjon/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:metadata="http://nav.no/tjeneste/virksomhet/organisasjon/v1/metadata" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/organisasjon/v1/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
	<xs:complexType name="BestaarAvOrgledd">
		<xs:annotation>
			<xs:documentation>Tilfelle1:
Assosiasjonsklasse mellom Virksomhet og Orgledd for å holde på attributter på selve relasjonen, samt metadata som gyldighetsperiode og bruksperiode.
Tilfelle2:
Assosiasjonsklasse mellom to Orgledd (over-/underOrgledd) som holder på attributter på selve relasjonen dem, samt metadata som gyldighetsperiode og bruksperiode.
Tilfelle3:
Assosiasjonsklasse mellom JuridiskeEnhet og Orgledd den består av, som holder på attributter på selve relasjonen , samt metadata som gyldighetsperiode og bruksperiode for opplysningen.

Avhengig av tilfelle så må enten Virksomhet, Orgledd eller JuridiskEnhet være instansiert</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orgLedd" type="informasjon:Orgledd" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="DriverVirksomhet">
		<xs:annotation>
			<xs:documentation>Assosiasjonsklasse mellom JuridiskeEnhet og Virksomheter den driver , som holder på attributter på selve relasjonen dem, samt metadata som gyldighets- og bruksperiode for opplysningen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="virksomhet" type="informasjon:Virksomhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="FisjonJuridiskEnhet">
		<xs:annotation>
			<xs:documentation>Assosiasjonsklasse mellom to JuridiskeEnheter ifm. Fisjon, som holder på attributter på selve relasjonen den juridiske enhetene som fisjoneres til juridiske enheter, samt metadata som bruksperiode for opplysningen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="virkningsdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="juridiskEnhet" type="informasjon:JuridiskEnhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="FusjonJuridiskEnhet">
		<xs:annotation>
			<xs:documentation>Assosiasjonsklasse mellom to JuridiskeEnheter ifm. Fusjon, som holder på attributter på selve relasjonen de juridiske enhetene som fusjoneres til en juridisk enhet, samt metadata som bruksperiode for opplysningen.

Man kan ved instansiering av klassen velge om man vil instansiere relasjonen til det andre Juridiskenhet (til/fra) eller vha. avledet attributt (de har samme navn)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="virkningsdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="juridiskEnhet" type="informasjon:JuridiskEnhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="InngaarIJuridiskEnhet">
		<xs:annotation>
			<xs:documentation>Assosiasjonsklasse mellom to JuridiskeEnhet og de Orgledd den består av, som holder på attributter på selve relasjonen , samt metadata som gyldighetsperiode og bruksperiode for opplysningen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="juridiskEnhet" type="informasjon:JuridiskEnhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="JuridiskEnhet">
		<xs:annotation>
			<xs:documentation>Juridisk enhet (kalles også juridisk person)
En juridisk enhet er et rettssubjekt som uten å være en fysisk person kan ha rettigheter og plikter og foreta rettshandler. 

En juridisk enhet er øverste nivå i et organisasjonshierarki. 

Alle organisasjonsformer med unnak av ikkenæringsdrivende virksomhet (AAFY), Bedrift (BEDR) og orgledd (ORGL) betraktes som juridiske enheter. (I noen tilfeller kan et orgledd også betraktes som en juridisk enhet. )

Eksempler på juridiske enheter er aksjeselskap, ansvarlig selskap, enkeltpersonforetak, samvirkeforetak, kommune, stat, stiftelser</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Organisasjon">
				<xs:sequence>
					<xs:element name="bestaarAvOrgledd" type="informasjon:BestaarAvOrgledd" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="driverVirksomhet" type="informasjon:DriverVirksomhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fisjonJuridiskEnhet" type="informasjon:FisjonJuridiskEnhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fusjonJuridiskEnhet" type="informasjon:FusjonJuridiskEnhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="knytningJuridiskEnhet" type="informasjon:KnytningJuridiskEnhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="juridiskEnhetDetaljer" type="informasjon:JuridiskEnhetDetaljer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JuridiskEnhetDetaljer">
		<xs:annotation>
			<xs:documentation>Juridisk enhet (kalles også juridisk person)
En juridisk enhet er et rettssubjekt som uten å være en fysisk person kan ha rettigheter og plikter og foreta rettshandler. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sektorkode" type="informasjon:Sektorkoder" minOccurs="1" maxOccurs="1"/>
			<xs:element name="enhetstype" type="informasjon:EnhetstyperJuridiskEnhet" minOccurs="1" maxOccurs="1"/>
			<xs:element name="stiftelsesdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registrertStiftelsesregisteret" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fravalgRevisjon" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="harAnsatte" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="varselOmNedleggelsesdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kapitalopplysninger" type="informasjon:Kapitalopplysninger" minOccurs="0" maxOccurs="4"/>
			<xs:element name="registrertIForetaksregisteret" type="informasjon:Foretaksregisteret" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KnytningJuridiskEnhet">
		<xs:annotation>
			<xs:documentation>Assosiasjonsklasse for knytninger mellom JuridiskeEnheter, som holder på attributter på selve relasjonen som knytningstype, samt metadata som gyldighetsperiode og bruksperiode for opplysningen.
------------------
* Konsern
* Interkommunale selskap (?)
Husk roller morselskap</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="knytningstype" type="informasjon:Knytninger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="juridiskEnhet" type="informasjon:JuridiskEnhet" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Organisasjon">
		<xs:sequence>
			<xs:element name="orgnummer" type="informasjon:Organisasjonsnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="navn" type="informasjon:Navn" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Avledet fra organisasjonsnavn som gjelder på det tidspunktet man betrakter organisasjonen. Historikk på navn og redigert navn får man via organisasjonsdetaljer </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organisasjonDetaljer" type="informasjon:OrganisasjonsDetaljer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisasjonsDetaljer">
		<xs:sequence>
			<xs:element name="orgnummer" type="informasjon:Organisasjonsnummer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Avledet fra self.organisasjon-&gt;orgnummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registreringsDato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datoSistEndret" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjeldendeMaalform" type="informasjon:Maalformer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Målform fra ER: kun bokmål og nynorsk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nedleggelsesdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dublettAv" type="informasjon:Organisasjon" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dubletter" type="informasjon:Organisasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="registrertMVA" type="informasjon:MVA" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="bankkonto" type="informasjon:Bankkonto" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telefaks" type="informasjon:Telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telefon" type="informasjon:Telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="status" type="informasjon:Organisasjonsstatus" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="forretningsadresse" type="informasjon:GeografiskAdresse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="postadresse" type="informasjon:GeografiskAdresse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="navSpesifikkInformasjon" type="informasjon:NAVSpesifikkInformasjon" minOccurs="0" maxOccurs="1"/>
			<xs:element name="internettadresse" type="informasjon:Internettadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="epostadresse" type="informasjon:E-post" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="naering" type="informasjon:Naering" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="underlagtHjemlandetsLovgivningOgForetaksform" type="informasjon:UnderlagtHjemlandetsLovgivningOgForetaksform" minOccurs="0" maxOccurs="1"/>
			<xs:element name="navn" type="informasjon:Organisasjonsnavn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="formaal" type="informasjon:Formaal" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mobiltelefon" type="informasjon:Telefonnummer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Orgledd">
		<xs:annotation>
			<xs:documentation>Organisasjonsledd er en organisasjonsform som kun brukes innenfor offentlig sektor. Dette er for eksempel mellomliggende enheter under kommuner, fylkeskommuner og staten ved de enkelte departementene. Organsiasjonsformen brukes som arbeidsgiverenheter med tilknyttede bedrifter, og skal gjenspeile den juridiske enhetens reelle organisasjonsstruktur. Organisasjonsstruktur kan registreres i felere nivåer. 

enhetstype=ORGL</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Organisasjon">
				<xs:sequence>
					<xs:element name="underOrgledd" type="informasjon:BestaarAvOrgledd" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="overOrgledd" type="informasjon:BestaarAvOrgledd" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="driverVirksomhet" type="informasjon:DriverVirksomhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inngaarIJuridiskEnhet" type="informasjon:InngaarIJuridiskEnhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="orgleddDetaljer" type="informasjon:OrgLeddDetaljer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgLeddDetaljer">
		<xs:annotation>
			<xs:documentation>Informasjon om organisasjonsledd 
enhetstype=ORGL</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enhetstype" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alltid lik "ORGL"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Virksomhet">
		<xs:annotation>
			<xs:documentation>Kan ha 3 koder: enhetstype = BEDR eller AAFY eller ADOS
Bedrift (BEDR)
Bedrift er en lokalt avgrenset funksjonell enhet hvor det hovedsaklig drives aktiviteter som faller innenfor en bestemt næringsgruppe.

Ikke-næringsdrivende virksomhet (AAFY)
En ikke-næringsdrivende virksomhet er en underenhet som bli bruk på enheter som ikke utøver noen form for næringsvirksomhet. Sameie og konkursbo kan være eksempler på slike enheter. Eksempelvis skal et skolekorps lønne en dirigent. Korpset driver ikke næreingsvirksomhet, og av den grunn vil korpset få tildelt et organisasjosnummer på en ikke-næringsdrivende virksomhet. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Organisasjon">
				<xs:sequence>
					<xs:element name="bestaarAvOrgledd" type="informasjon:BestaarAvOrgledd" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inngaarIJuridiskEnhet" type="informasjon:InngaarIJuridiskEnhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="virksomhetDetaljer" type="informasjon:VirksomhetDetaljer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VirksomhetDetaljer">
		<xs:sequence>
			<xs:element name="oppstartsdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="varselOmNedleggelsesdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eierskiftedato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enhetstype" type="informasjon:EnhetstyperVirksomhet" minOccurs="1" maxOccurs="1"/>
			<xs:element name="infotype" type="informasjon:Infotyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="opphoersdato" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsidentifikator">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsnummer">
		<xs:restriction base="informasjon:Organisasjonsidentifikator"/>
	</xs:simpleType>
	<xs:complexType name="Landkoder">
		<xs:annotation>
			<xs:documentation>Sett med unike koder for land.
http://nav.no/kodeverk/Kodeverk/Landkoder

(fra TPS)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Postnummer">
		<xs:annotation>
			<xs:documentation>Poststed angir et postadministrativt område med
en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder

http://nav.no/kodeverk/Kodeverk/Postnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Postnummer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Retningsnumre">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Retningsnumre</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Retningsnumre" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Telefonfunksjoner">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Telefonfunksjoner</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Telefonfunksjoner" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Telefontyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Telefontyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Telefontyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Valutaer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Valutaer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Valutaer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Enhetstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Enhetstyper

Hierarkisk kodeverk som kommer senere</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Enhetstyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnhetstyperJuridiskEnhet">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/EnhetstyperJuridiskEnhet</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/EnhetstyperJuridiskEnhet" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnhetstyperVirksomhet">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/EnhetstyperVirksomhet</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/EnhetstyperVirksomhet" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForetaksformUtland">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/ForetaksformUtland</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/ForetaksformUtland" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FormaalKontonummer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Form_c3_a5lKontonummer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Form_c3_a5lKontonummer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Infotyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Infotyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Infotyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Knytninger">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Knytninger</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Knytninger" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Maalformer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/M_c3_a5lformer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/M_c3_a5lformer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Naeringskoder">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/N_c3_a6ringskoder</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/N_c3_a6ringskoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NoeklerAdresseleddSemistrukturerteAdresser">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/N_c3_b8klerAdresseleddSemistrukturerteAdresser</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/N_c3_b8klerAdresseleddSemistrukturerteAdresser" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Organisasjonsstatuser">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Organisasjonsstatuser</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Organisasjonsstatuser" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Sektorkoder">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Sektorkoder</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Sektorkoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Adresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Adresse er en opplysning som representerer en elektronisk eller fysisk stedsangivelse. </xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Bankkontonummer">
		<xs:annotation>
			<xs:documentation>Begrep-142
Et bankkontonummer er et nummer bestående av 11 siffer som identifiserer bank, kontoform og konto.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="bankkontonummer" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tallkombinasjon som unikt dentifiserer en bankkonto</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="banknavn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Navn på banken som forvalter den aktuelle bankkontoen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BankkontonummerUtland">
		<xs:annotation>
			<xs:documentation>Utenlandsk bankkontonummer, se bankkontonummer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkontonummer">
				<xs:sequence>
					<xs:element name="iban" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>IBAN er et internasjonalt identifikasjonssystem for bankkontoer ved grenseoverskridende betalinger. IBAN er en utbygging av bedriftens eksisterende kontonummer i banken ved transaksjoner til og fra utlandet. Med IBAN oppnår bedriften en høyere sikkerhet for at inn- og utbetalinger over landegrensene hurtigst mulig sendes via bankens systemer.
Kilde: Den danske bank</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swift" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Når du skal motta en betaling fra utlandet, må du oppgi en SWIFT-adresse. Den forteller hvilken bank du er kunde i. SWIFT-adressen er det samme som BIC (Bank Identifier Code), ABA-nummer eller Routing-nummer. Det er ikke det samme som IBAN-nummeret. 


Forkortelsen SWIFT: SWIFT står for Society for Worldwide Interbank Financial Telecommunication. Det er et datanettverk som utveksler betalingsdata mellom flere tusen finansforetak i drøyt 200 land.
Kilde: Forenklet fremstilling fra Den danske bank</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Landet bankkontoen forvaltes i. Avledes fra bankens land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankkode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bankkoden har i mange land utviklet seg til å være en viktig nøkkel som gjør det mulig for banken å sørge for rask utførelse av utbetalinger til utlandet.
Bankkoden kan brukes sammen med SWIFT-adresse. Kodens format og lengde varierer mellom ulike land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankadresse" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kontaktadresse for en utenlandsk bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valuta" type="informasjon:Valutaer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Et lands myntsort.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElektroniskAdresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Elektroniske adresser som kan brukes i kommunikasjon med den adressen er assosiert med.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Adresse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="E-post">
		<xs:annotation>
			<xs:documentation>Forkortelse for elektronisk post.
Elektronisk post er et system for sending av elektroniske dokumenter, brev og meldinger mellom datamaskiner.
(Språkrådet)
Presisering: e-postens mottaker er en gitt mottaker.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="identifikator" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Gateadresse">
		<xs:annotation>
			<xs:documentation>En geografisk adresse som angir geografisk plassering i veiadresse form. Vil brukes om adresser i Norge.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:StedsadresseNorge">
				<xs:sequence>
					<xs:element name="gatenummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nummerering av alle gater/veger, som sammen med kommunenummer danner en gateident som er en unik ident for gater. Se: http://www.kartverket.no/Documents/Standard/SOSI%20kap3%20Produktspesifikasjoner/FKB%204.02%202011-12-01/16-Vegnett-2011-12-01.pdf?si=F70448E07081040EBE926B848977BF4E&amp;rid=635723058&amp;sn=Statkart</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gatenavn" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adressenavn er definert i matrikkelforskriften § 2 bokstav  e, som navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen. Et adressenavn skal være entydig innenfor samme kommune. To gater kan således ikke ha samme navn i samme kommune.

Dersom to eller flere kommuner har et felles adresseringsområde skal navnet være entydig innenfor alle de aktuelle kommunene. 
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="husnummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hvilket nummer i en gateadresse bygningen eller eiendommen har. Adressenummer er definert i matrikkelforskriften § 2 bokstav f som et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område.
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="husbokstav" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Husbokstav brukes i tillegg til gatenavn og -nummer for å skille seksjoner med samme adresse fra hverandre. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeografiskAdresse">
		<xs:complexContent>
			<xs:extension base="informasjon:Adresse">
				<xs:sequence>
					<xs:element name="adresseId" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Foregriper løsning for sentralt adresseregister med kilder som f.eks. matrikkelen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Internettadresse">
		<xs:complexContent>
			<xs:extension base="informasjon:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="identifikator" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoekkelVerdiAdresse">
		<xs:sequence>
			<xs:element name="noekkel" type="informasjon:NoeklerAdresseleddSemistrukturerteAdresser" minOccurs="1" maxOccurs="1"/>
			<xs:element name="verdi" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SemistrukturertAdresse">
		<xs:complexContent>
			<xs:extension base="informasjon:GeografiskAdresse">
				<xs:sequence>
					<xs:element name="adresseledd" type="informasjon:NoekkelVerdiAdresse" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>adresseledd inneholder kombinasjon av en type adresseledd og verdi for adresseleddet.
kke tillatt med to adresseledd med samme nøkkel.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Stedsadresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Felles supertype til ulike fysiske adresser i norge/utland
 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:StrukturertAdresse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StedsadresseNorge">
		<xs:annotation>
			<xs:documentation>Fysiske adresser i Norge.
Landkoden settes lik Norge for disse adresseforekomstene.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Stedsadresse">
				<xs:sequence>
					<xs:element name="poststed" type="informasjon:Postnummer" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Poststed angir et postadministrativt område med
en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bolignummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="kommunenummer" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StrukturertAdresse" abstract="true">
		<xs:complexContent>
			<xs:extension base="informasjon:GeografiskAdresse">
				<xs:sequence>
					<xs:element name="tilleggsadresse" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tilleggsadresseType" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Telefonnummer">
		<xs:annotation>
			<xs:documentation>Den tallkombinasjonen som gir forbindelse med en abonnent.
(Språkrådet)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:ElektroniskAdresse">
				<xs:sequence>
					<xs:element name="identifikator" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Selve telefonnummeret, uten retningsnummer.
Se landkode.
attributt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="informasjon:Telefontyper" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type på telefonenhet. Del av nøkkel i TPS.  Kan brukes til å avgjøre kommunikasjonsform og innhold i kommunikasjon med bruker. Eksempler er: mobil, fast, faks.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="funksjon" type="informasjon:Telefonfunksjoner" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Funksjoner i telenettet som er knyttet til dette telefonnummeret. Eksempler: telefonsamtale, sms, faks og video.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="retningsnummer" type="informasjon:Retningsnumre" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unik kode (retningsnummer) for land innen et gitt kodeverk for retningsnumre.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Bankkonto" abstract="true">
		<xs:sequence>
			<xs:element name="Formaal" type="informasjon:FormaalKontonummer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="BankkontoNorge">
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkonto">
				<xs:sequence>
					<xs:element name="bankkonto" type="informasjon:Bankkontonummer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BankkontoUtland">
		<xs:complexContent>
			<xs:extension base="informasjon:Bankkonto">
				<xs:sequence>
					<xs:element name="bankkontoUtland" type="informasjon:BankkontonummerUtland" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Foretaksregisteret">
		<xs:sequence>
			<xs:element name="registrertForetaksregisteret" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Formaal">
		<xs:annotation>
			<xs:documentation>Fritekstfelt som beskriver formålet til organisasjonen. Basert på formålet utledes næringskodene.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="formaal" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Kapitalopplysninger">
		<xs:sequence>
			<xs:element name="valuta" type="informasjon:Valutaer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>I hvilken valuta er kapitalen registrert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kapital" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aksekapital eller selskapskapital

(lengde 18 fra ER)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kapitalInnbetalt" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Innbetalt kapital

(lengde 18 fra ER)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kapitalBundetKs" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fritekst" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="MVA">
		<xs:sequence>
			<xs:element name="registrertIMVA" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="NAVSpesifikkInformasjon">
		<xs:sequence>
			<xs:element name="erIA" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Naering">
		<xs:annotation>
			<xs:documentation>Næringskoder (NACE)

Næringskoder er en statistisk standard. Den danner grunnlag for koding av enheter etter viktigste aktivitet i SSB.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="naeringskode" type="informasjon:Naeringskoder" minOccurs="1" maxOccurs="1"/>
			<xs:element name="hjelpeenhet" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Viser om næringskoden er hjelpeenhetskode  (true) eller ordinær næringskode (false)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Organisasjonsnavn">
		<xs:sequence>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="redigertNavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Organisasjonsstatus">
		<xs:sequence>
			<xs:element name="statuskode" type="informasjon:Organisasjonsstatuser" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="UnderlagtHjemlandetsLovgivningOgForetaksform">
		<xs:annotation>
			<xs:documentation>Gjelder NUF og kanskje UTLA</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="1" maxOccurs="1"/>
			<xs:element name="foretaksform" type="informasjon:ForetaksformUtland" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:complexType name="Kodeverdi" abstract="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="kodeRef" use="optional" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
