cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/asbo/utbetaling/ASBOGOSYSPosteringsdetaljer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/utbetaling">
  <xsd:complexType name="ASBOGOSYSPosteringsdetaljer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontonr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontoBeskrHoved" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontoBeskrUnder" type="xsd:string"/>
      <xsd:element minOccurs="0" name="belop" type="xsd:float"/>
            <xsd:element minOccurs="0" name="posteringsKode" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
