samhandler-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/samhandler/v2/Binding/samhandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="samhandler" targetNamespace="http://nav.no/virksomhet/tjenester/samhandler/v2"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/virksomhet/tjenester/samhandler/v2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/samhandler/v2"
                    xmlns:samhandler="http://nav.no/virksomhet/tjenester/samhandler/v2"
                    xmlns:meldinger="http://nav.no/virksomhet/tjenester/samhandler/meldinger/v2">
            <xsd:import namespace="http://nav.no/virksomhet/tjenester/samhandler/meldinger/v2"
                        schemaLocation="meldinger/meldinger.xsd"/>

            <xsd:complexType name="StelvioFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="errorMessage" type="xsd:string" form="qualified"/>
                    <xsd:element minOccurs="0" name="errorSource" type="xsd:string" form="qualified"/>
                    <xsd:element minOccurs="0" name="errorType" type="xsd:string" form="qualified"/>
                    <xsd:element minOccurs="0" name="rootCause" type="xsd:string" form="qualified"/>
                    <xsd:element minOccurs="0" name="dateTimeStamp" type="xsd:string" form="qualified"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SamhandlerIkkeFunnet">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Samhandler ikke funnet&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="samhandler:StelvioFault"/>
                </xsd:complexContent>
            </xsd:complexType>


            <xsd:element name="hentAutorisasjonOgRettighetListe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:HentAutorisasjonOgRettighetListeRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentAutorisasjonOgRettighetListeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response"
                                     type="meldinger:HentAutorisasjonOgRettighetListeResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentSamhandlerNavn">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:HentSamhandlerNavnRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentSamhandlerNavnResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:HentSamhandlerNavnResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentSamhandlerNavnsamhandlerIkkeFunnet" type="samhandler:SamhandlerIkkeFunnet"/>
            <xsd:element name="hentSamhandlerPrioritertAdresse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:HentSamhandlerPrioritertAdresseRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentSamhandlerPrioritertAdresseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response"
                                     type="meldinger:HentSamhandlerPrioritertAdresseResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentSamhandlerPrioritertAdressesamhandlerIkkeFunnet" type="samhandler:SamhandlerIkkeFunnet"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="hentSamhandlerNavnResponse">
        <wsdl:part name="parameters" element="tns:hentSamhandlerNavnResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentAutorisasjonOgRettighetListeRequest">
        <wsdl:part name="parameters" element="tns:hentAutorisasjonOgRettighetListe">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSamhandlerNavn_samhandlerIkkeFunnet">
        <wsdl:part name="samhandlerIkkeFunnet" element="tns:hentSamhandlerNavnsamhandlerIkkeFunnet">
            <wsdl:documentation>&lt;p&gt;Samhandler ikke funnet på oppgitt ident&lt;/p&gt;</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSamhandlerNavnRequest">
        <wsdl:part name="parameters" element="tns:hentSamhandlerNavn">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSamhandlerPrioritertAdresse_samhandlerIkkeFunnet">
        <wsdl:part name="samhandlerIkkeFunnet" element="tns:hentSamhandlerPrioritertAdressesamhandlerIkkeFunnet">
            <wsdl:documentation>&lt;p&gt;Samhandler ikke funnet på oppgitt ident&lt;/p&gt;</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSamhandlerPrioritertAdresseResponse">
        <wsdl:part name="parameters" element="tns:hentSamhandlerPrioritertAdresseResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentSamhandlerPrioritertAdresseRequest">
        <wsdl:part name="parameters" element="tns:hentSamhandlerPrioritertAdresse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentAutorisasjonOgRettighetListeResponse">
        <wsdl:part name="parameters" element="tns:hentAutorisasjonOgRettighetListeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Samhandler">
        <wsdl:operation name="hentAutorisasjonOgRettighetListe">
            <wsdl:documentation>&lt;p&gt;Hensikt: ut fra en identifikasjon av en samhandler returneres informasjon om:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Generell
                informasjon om samhandleren&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Samhandlerens autorisasjon&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Samhandlerens
                autorisasjonsrettigheter&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;
            </wsdl:documentation>
            <wsdl:input message="tns:hentAutorisasjonOgRettighetListeRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentAutorisasjonOgRettighetListeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentSamhandlerNavn">
            <wsdl:documentation>&lt;p&gt;Operasjonen kobler samhandlers tssEksternId med offentlig ident og navn.&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</wsdl:documentation>
            <wsdl:input message="tns:hentSamhandlerNavnRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentSamhandlerNavnResponse">
            </wsdl:output>
            <wsdl:fault name="samhandlerIkkeFunnet" message="tns:hentSamhandlerNavn_samhandlerIkkeFunnet">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hentSamhandlerPrioritertAdresse">
            <wsdl:documentation>&lt;p&gt;En samhandler kan tilhøre flere logiske avdelinger, og en avdeling
                identifiseres ved tssEksternId. HentSamhandlerPrioritertAdresse tilbyr å hente samhandlerens
                prioriterte post- og besøksadresse basert på samhandlerens offentlige ident eller tssEksternId.&lt;/p&gt;
            </wsdl:documentation>
            <wsdl:input message="tns:hentSamhandlerPrioritertAdresseRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentSamhandlerPrioritertAdresseResponse">
            </wsdl:output>
            <wsdl:fault name="samhandlerIkkeFunnet" message="tns:hentSamhandlerPrioritertAdresse_samhandlerIkkeFunnet">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
