oppfoelging-v1/src/main/resources/Oppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Oppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/oppfoelging/v1/meldinger/meldinger.xsd"/>
			<xs:element name="hentOppfoelgingskontraktListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentOppfoelgingskontraktListeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentOppfoelgingskontraktListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentOppfoelgingskontraktListeResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sikkerhetsbegrensning"/>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListeRequest">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListeResponse">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingskontraktListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingskontraktListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OppfoelgingPortType">
    <wsdl:operation name="hentOppfoelgingskontraktListe">
      <wsdl:input name="hentOppfoelgingskontraktListeRequest" message="tns:hentOppfoelgingskontraktListeRequest">
    </wsdl:input>
      <wsdl:output name="hentOppfoelgingskontraktListeResponse" message="tns:hentOppfoelgingskontraktListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentOppfoelgingskontraktListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OppfoelgingBinding" type="tns:OppfoelgingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentOppfoelgingskontraktListe">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/oppfoelging/v1/OppfoelgingPortType/hentOppfoelgingskontraktListeRequest" style="document"/>
      <wsdl:input name="hentOppfoelgingskontraktListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentOppfoelgingskontraktListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Oppfoelging_v1">
    <wsdl:port name="Oppfoelging_v1" binding="tns:OppfoelgingBinding">
      <soap:address location="http://localhost:9080/arena-ws/services/oppfoelging"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
