sakogbehandling-tjenestespesifikasjon/sakogbehandling-jaxws/src/main/resources/sakOgBehandling/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/finnSakOgBehandlingskjedeListe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/finnSakOgBehandlingskjedeListe" xmlns:fsobl="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/finnSakOgBehandlingskjedeListe" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon" schemaLocation="../informasjon/sakOgBehandling.xsd"/>
	<xs:complexType name="Sak">
		<xs:annotation>
			<xs:documentation>Sak (BEGREP-55):
En sak er en samling av logisk sammenhengende hendelser (BEGREP-226) og dokumenter (BEGREP-143) som knyttes til et behandlingsforløp, f.eks. krav (BEGREP-84), vedtak (BEGREP-56), melding om vedtak (BEGREP-59), notater. 
Innenfor en sak kan det gjennomføres flere behandlinger (BEGREP-201).
En sak kan være knyttet til en eller flere aktører (BEGREP-297).

I Sak og Behandling skal entiteten Sak ha oversikt over de Behandlinger som er relatert til saken. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="saksId" type="informasjon:SakID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>saksId identifiserer saken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sakstema" type="informasjon:Sakstemaer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="opprettet" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet saken ble opprettet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lukket" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet saken ble lukket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingskjede" type="fsobl:Behandlingskjede" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aktoer" abstract="true">
		<xs:sequence>
			<xs:element name="aktoerId" type="informasjon:AktoerID" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NAVs interne identifikator for aktører</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="erEierAvSak" type="fsobl:Sak" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Behandlingskjede">
		<xs:annotation>
			<xs:documentation>BEGREP-620
En behandlingskjede er en sekvens av behandlinger (BEGREP-558) i henhold til en verdikjede (BEGREP-405).
Den er unikt identifiserbar vha. behandlingskjedeID.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="behandlingskjedeId" type="informasjon:BehandlingskjedeID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiserer behandlingskjeden.Kjeden har samme Id som behandlingen som startet kjeden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingskjedetype" type="informasjon:Behandlingskjedetyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiserer hvilken verdikjede som behandlingskjeden instansierer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingstema" type="informasjon:Behandlingstemaer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tema knyttet til behandlingskjeden.</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="start" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet behandlingskjeden ble opprettet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slutt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet behandlingskjeden ble avsluttet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startNAVtid" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet NAV startet sin behandling av innholdet i behandlingskjeden. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sluttNAVtid" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet NAV avsluttet sin behandling av innholdet i behandlingskjeden. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="normertBehandlingstid" type="informasjon:Behandlingstid" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Den tid det er forventet at behandlingen av en kjede av den gitte type skal ta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjedensNAVfrist" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Det tidspunkt som kjedens forhold til aktøren ikke skal overskride, mao som sluttNAVtid ikke skal overskride.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sisteBehandlingREF" type="informasjon:BehandlingID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uttrykker status i form av hvilken behandling kjeden befinner seg på i øyeblikket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sisteBehandlingstype" type="informasjon:Behandlingstyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uttrykker status i form av hvilken behandlingstype kjeden behandler i øyeblikket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sisteBehandlingsstegREF" type="informasjon:BehandlingsstegID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uttrykker status i form av hvilket behandlingssteg kjeden befinner seg på i øyeblikket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sisteBehandlingsstegtype" type="informasjon:Behandlingsstegtyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uttrykker status i form av hvilken behandlingsstegtype kjeden behandler i øyeblikket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sisteVenteaarsak" type="informasjon:Venteaarsaker" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uttrykker status i form av hvilken venteårsak som ligger til grunn dersom kjeden i øyeblikket befinner seg i en ventetilstand. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingsListeRef" type="informasjon:BehandlingID" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Liste med behandlingsid'er som inngår i behandlingskjeden.</xs:documentation>
                </xs:annotation>
            </xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
