sakogbehandling-tjenestespesifikasjon/sakogbehandling-jaxws/src/main/resources/sakOgBehandling/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/hentBehandlingskjedensBehandlinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/hentBehandlingskjedensBehandlinger"
        xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon" schemaLocation="../informasjon/sakOgBehandling.xsd"/>
	<xs:complexType name="Behandlingskjede">
		<xs:annotation>
			<xs:documentation>BEGREP-620
En behandlingskjede er en sekvens av behandlinger (BEGREP-558) i henhold til en verdikjede (BEGREP-405).
Den er unikt identifiserbar vha. behandlingskjedeID.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="behandlingskjedeId" type="informasjon:BehandlingskjedeID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiserer behandlingskjeden.Kjeden har samme Id som behandlingen som startet kjeden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandling" type="informasjon:BehandlingVS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
