sakogbehandling-tjenestespesifikasjon/sakogbehandling-jaxws/src/main/resources/sakOgBehandling/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon">
	<xs:complexType name="PrimaerBehandling">
		<xs:annotation>
			<xs:documentation>Behandlingsrelasjon som identifiserer den behandling en annen behandling er basert på. Forholdet kan enten være forrige eller eidAv eller basertPå.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="behandlingsREF" type="informasjon:BehandlingID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Refererer til den behandling en gitt behandling har et forhold til som spesifisert av type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="informasjon:PrimaerRelasjonstyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relasjonstype som angir forholdet til en annen behandling.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SekundaerBehandling">
		<xs:annotation>
			<xs:documentation>Behandlingsrelasjon som identifiserer en eller flere behandlinger som en gitt behandling har et forhold til. Forholdet kan enten være seOgså eller skalVarlses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="behandlingsREF" type="informasjon:BehandlingID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Refererer til andre behandlinger en gitt behandling har et forhold til som spesifisert av type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="informasjon:SekundaerRelasjonstyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relasjonstype som angir forholdet til andre behandlinger.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AktoerID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="BehandlingID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="BehandlingskjedeID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="BehandlingsstegID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SakID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="OrganisasjonsenhetID">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:complexType name="Applikasjoner">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Applikasjoner</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Applikasjoner" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Avslutningsstatuser">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Avslutningsstatuser" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingskjedetyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingskjedetype</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Behandlingskjedetype" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingsstatuser">
		<xs:annotation>
			<xs:documentation>opprettet, avbrutt, avsluttet

http://nav.no/kodeverk/Kodeverk/Behandlingsstatuser</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Behandlingsstatuser" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingsstegtyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingsstegtyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Behandlingsstegtyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingstidtyper">
		<xs:annotation>
			<xs:documentation>dager, timer

http://nav.no/kodeverk/Kodeverk/Behandlingstidtyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Behandlingstidtyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingstyper">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Behandlingstyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PrimaerRelasjonstyper">
		<xs:annotation>
			<xs:documentation>basertPå, eidAv, forrige

http://nav.no/kodeverk/Kodeverk/Prim_c3_a6rRelasjonstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Prim_c3_a6rRelasjonstyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SekundaerRelasjonstyper">
		<xs:annotation>
			<xs:documentation>seOgså, skalVarsles
http://nav.no/kodeverk/Kodeverk/Sekund_c3_a6rRelasjonstyper</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Sekund_c3_a6rRelasjonstyper" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Sakstemaer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Sakstemaer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Sakstemaer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandlingstemaer">
        <xs:annotation>
            <xs:documentation>http://nav.no/kodeverk/Kodeverk/Behandlingstemaer</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="informasjon:Kodeverdi">
                <xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Behandlingstemaer" type="xs:anyURI"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	<xs:complexType name="Venteaarsaker">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/Vente_c3_a5rsaker</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" default="http://nav.no/kodeverk/Kodeverk/Vente_c3_a5rsaker" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Behandling" abstract="true">
		<xs:annotation>
			<xs:documentation>BEGREP-558
Alt som skal behandles med tilknytning til NAV er en saksbehandling. Det kan være bruker som fremmer et krav, bruker som simulerer en ytelse, veiledning, osv

Det må avklares når en sak skal opprettes og om alle behandlinger skal være knyttet til en sak.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="behandlingsId" type="informasjon:BehandlingID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiserer behandlingen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behandlingstype" type="informasjon:Behandlingstyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="applikasjon" type="informasjon:Applikasjoner" minOccurs="1" maxOccurs="1"/>
			<xs:element name="behandlingsstatus" type="informasjon:Behandlingsstatuser" minOccurs="1" maxOccurs="1"/>
			<xs:element name="primaerBehandling" type="informasjon:PrimaerBehandling" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiserer den behandling som denne behandling er basert på. Forholdet kan enten være forrige eller eidAv eller basertPå.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sekundaerBehandling" type="informasjon:SekundaerBehandling" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifiserer en eller flere behandlinger som denne behandling har et forhold til. Forholdet kan enten være seOgså eller skalVarlses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet behandlingen ble påbegynt.</xs:documentation>
				</xs:annotation>
			</xs:element>						
			<xs:element name="sisteoppdatering" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet det sist skjedde en endring i status av denne behandling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slutt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tidspunktet behandlingen ble avsluttet.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Behandlingstid">
		<xs:annotation>
			<xs:documentation>Entitet som angir tid i form av verdi og type tid (f. eks uker, dager, timer, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tid" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angitt tid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="informasjon:Behandlingstidtyper" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angir tidsenhet (f. eks. uker, dager, timer, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BehandlingVS">
		<xs:annotation>
			<xs:documentation>Behandlingsentitet som dekker spesifikke behov sett fra Virksomhetsstyring</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="informasjon:Behandling">
				<xs:sequence>
					<xs:element name="sisteBehandlingssteg" type="informasjon:Behandlingsstegtyper" minOccurs="0" maxOccurs="1"/>
					<xs:element name="applikasjonSakREF" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifiserer i hvilken sak behandlingen inngår, i gjeldende applikasjon (fagsystem) dersom en slik eksisterer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="applikasjonBehandlingREF" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Refererer til en eventuell mer spesifikk entitet i applikasjonen som svarer til behandlingen i MOD.</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="ansvarligEnhetREF" type="informasjon:OrganisasjonsenhetID" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ansvarlig enhet som har utført/utfører behandlingen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="avslutningsstatus" type="informasjon:Avslutningsstatuser" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Den status behandlingen har idet den avsluttes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="normertBehandlingstid" type="informasjon:Behandlingstid" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Den tid det er forventet at en behandling av den gitte type skal ta.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="frist" type="xs:dateTime" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Det tidspunkt NAV skal være ferdig med sin behandling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sisteBehandlingsstegREF" type="informasjon:BehandlingsstegID" minOccurs="1" maxOccurs="1"/>
					<xs:element name="sisteBehandlingsstegtype" type="informasjon:Behandlingsstegtyper" minOccurs="1" maxOccurs="1"/>
					<xs:element name="sisteVenteaarsak" type="informasjon:Venteaarsaker" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Kodeverdi" abstract="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
