sporsmalinnsending-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/brukerdialog/sporsmal/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1/informasjon"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="sporsmal">
        <xs:sequence>
            <xs:element name="tema" type="xs:string" />
            <xs:element name="fritekst" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ping"/>
    <xs:annotation>
        <xs:documentation>Retur-objekt for ping.</xs:documentation>
    </xs:annotation>


</xs:schema>
