nav-virksomhet-tiltakogaktiviteterforbrukere-v1-meldingsdefinisjon/src/main/xsd/no/nav/melding/virksomhet/tiltakOgAktiviteterForBrukere/v1/v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/tiltakOgAktiviteterForBrukere/v1" xmlns:tiltakOgAktiviteterForBrukere="http://nav.no/melding/virksomhet/tiltakOgAktiviteterForBrukere/v1">
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Bruker">
    <xsd:annotation>
      <xsd:documentation>Liste over hver brukers aktivitetlister</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personident" type="tiltakOgAktiviteterForBrukere:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer/D-nummer på brukeren som vedtaket gjelder, dvs. mottaker av livsoppholdsytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tiltaksaktivitetListe" type="tiltakOgAktiviteterForBrukere:Tiltaksaktivitet">
        <xsd:annotation>
          <xsd:documentation>Liste med brukers tiltaksaktiviteter i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gruppeaktivitetListe" type="tiltakOgAktiviteterForBrukere:Gruppeaktivitet">
        <xsd:annotation>
          <xsd:documentation>Liste med brukers gruppeaktiviteter i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utdanningsaktivitetListe" type="tiltakOgAktiviteterForBrukere:Utdanningsaktivitet">
        <xsd:annotation>
          <xsd:documentation>Liste med brukers utdanningsaktiviteter i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="tiltakOgAktiviteterForBrukere" type="tiltakOgAktiviteterForBrukere:TiltakOgAktiviteterForBrukere"/>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Periode</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Tiltaksaktivitet">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en tiltaksaktivitet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="tiltakstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kodeverdi for tiltakstypen fra Arenas interne kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetId" type="tiltakOgAktiviteterForBrukere:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik intern Arena id for tiltaksaktiviteten.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="deltakelsePeriode" type="tiltakOgAktiviteterForBrukere:Periode">
        <xsd:annotation>
          <xsd:documentation>Perioden bruker skal delta/har deltatt på tiltak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deltakerStatus" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Status for tiltaksdeltakelse fra Arenas interne kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gruppeaktivitet">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en gruppeaktivitet</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tiltakOgAktiviteterForBrukere:Aktivitet">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="moeteplanListe" type="tiltakOgAktiviteterForBrukere:Moeteplan">
            <xsd:annotation>
              <xsd:documentation>Liste av møteplaner med informasjon om møteperiode</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utdanningsaktivitet">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en utdanningsaktivitet</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tiltakOgAktiviteterForBrukere:Aktivitet">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aktivitetPeriode" type="tiltakOgAktiviteterForBrukere:Periode">
            <xsd:annotation>
              <xsd:documentation>Periode for utdanningsaktiviteten</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Moeteplan">
    <xsd:annotation>
      <xsd:documentation>Informasjon om møteplan</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="startDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Møtestart dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sluttDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Møteslutt dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Deltakerstatuser">
    <xsd:annotation>
      <xsd:documentation>Arena internt kodeverk for status deltaker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tiltakOgAktiviteterForBrukere:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket som blir brukt</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktivitet">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en aktivitet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aktivitetstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kodeverdi for aktivitetstypen fra Arenas interne kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetId" type="tiltakOgAktiviteterForBrukere:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik intern Arena id for aktiviteten innenfor denne aktivitetstypen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TiltakOgAktiviteterForBrukere">
    <xsd:sequence>
      <xsd:element name="uttrekkstidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato og klokkeslett for datautrekket i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="brukerListe" type="tiltakOgAktiviteterForBrukere:Bruker">
        <xsd:annotation>
          <xsd:documentation>Liste som inneholder hver brukers aktivitetslister</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="deltakerStatuskodeListe" type="tiltakOgAktiviteterForBrukere:Deltakerstatuser">
        <xsd:annotation>
          <xsd:documentation>Liste av gjeldende deltakerstatuskoder og -navn hentet fra Arenas kodeverk.

Kodeverdi returneres som elementverdi, mens et beskrivende termnavn returneres som attributtverdi.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="tiltakskodeListe" type="tiltakOgAktiviteterForBrukere:Tiltakstyper">
        <xsd:annotation>
          <xsd:documentation>Liste av gjeldende tiltakskoder og -navn hentet fra Arenas kodeverk.

Kodeverdi returneres som elementverdi, mens et beskrivende termnavn returneres som attributtverdi.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="aktivitetskodeListe" type="tiltakOgAktiviteterForBrukere:Aktivitetstyper">
        <xsd:annotation>
          <xsd:documentation>Liste av gjeldende aktivitetskoder og -navn for veilledningsaktiviteter og utdanningsaktiviteter hentet fra Arenas kodeverk.

Kodeverdi returneres som elementverdi, mens et beskrivende termnavn returneres som attributtverdi.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tiltakstyper">
    <xsd:annotation>
      <xsd:documentation>Arena internt kodeverk for status deltaker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tiltakOgAktiviteterForBrukere:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket som blir brukt</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Aktivitetstyper">
    <xsd:annotation>
      <xsd:documentation>Arena internt kodeverk for status deltaker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="tiltakOgAktiviteterForBrukere:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket som blir brukt</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>