utenrikstjenesten/src/main/resources/eessi/wsdl/DsRi.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DsRiService" targetNamespace="http://ws.ds.eessi.dgempl.ec.eu/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ds.eessi.dgempl.ec.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema targetNamespace="http://ws.ds.eessi.dgempl.ec.eu/" version="1.0" xmlns:tns="http://ws.ds.eessi.dgempl.ec.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="DirectoryServiceException" nillable="true" type="tns:DirectoryServiceException"/>
            <xs:element name="FindAccessPointAddress">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindAccessPointAddressResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isAccessPointAddress" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindAccessPointId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindAccessPointIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isAccessPointId" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindBenefitCategoryId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="benefitCategoryId" type="xs:string"/>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindBenefitCategoryIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isBenefitCategoryId" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindCountryCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindCountryCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isCountryCode" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindInstitutionId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindInstitutionIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isInstitutionId" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPBenefitCategories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPBenefitCategoriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BenefitCategory" type="tns:BenefitCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPCountryCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="accessPointId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPCountryCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPInstitutionNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAPInstitutionNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="institutionNamesList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointAddress">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointAddressResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointAddress" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointCertificate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointCertificateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointCertificate" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary" xmlns:ns1="http://www.w3.org/2005/05/xmlmime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointIDsOfCountry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointIDsOfCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="accessPointIdList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAccessPointIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accessPointId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllAccessPoints">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllAccessPointsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="accessPointIdList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllBenefitCategories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllBenefitCategoriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BenefitCategory" type="tns:BenefitCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="BenefitCategory" type="tns:BenefitCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="benefitCategoryId" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoryAPs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="benefitCategoryId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoryAPsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="accessPointIdList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoryCountries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="benefitCategoryId" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoryCountriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="countryNamesList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBenefitCategoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BenefitCategory" type="tns:BenefitCategory"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Country" type="tns:Country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountryNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="language" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountryNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="countryNamesList" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutionId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="institutionName" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutionIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="institutionName" type="xs:string"/>
                        <xs:element minOccurs="0" name="acronym" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutionsByBenefitCategoryAndCountryCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="benefitCategoryId" type="xs:string"/>
                        <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutionsByBenefitCategoryAndCountryCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="institutionNamesList" nillable="true" type="tns:Institution"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInstitutionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Institution" type="tns:Institution"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="BenefitCategory">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DirectoryServiceException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Institution">
                <xs:sequence>
                    <xs:element minOccurs="0" name="countryName" type="xs:string"/>
                    <xs:element minOccurs="0" name="institutionId" type="xs:string"/>
                    <xs:element minOccurs="0" name="acronym" type="xs:string"/>
                    <xs:element minOccurs="0" name="institutionName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Country">
                <xs:sequence>
                    <xs:element name="countryCode" type="xs:string"/>
                    <xs:element name="countryName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAccessPointIDsOfCountry">
        <wsdl:part element="tns:GetAccessPointIDsOfCountry" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointAddress">
        <wsdl:part element="tns:GetAccessPointAddress" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoryAPsResponse">
        <wsdl:part element="tns:GetBenefitCategoryAPsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPCountryCode">
        <wsdl:part element="tns:GetAPCountryCode" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointId">
        <wsdl:part element="tns:GetAccessPointId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindBenefitCategoryId">
        <wsdl:part element="tns:FindBenefitCategoryId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoryAPs">
        <wsdl:part element="tns:GetBenefitCategoryAPs" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountryNamesResponse">
        <wsdl:part element="tns:GetCountryNamesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAccessPointId">
        <wsdl:part element="tns:FindAccessPointId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutionsByBenefitCategoryAndCountryCode">
        <wsdl:part element="tns:GetInstitutionsByBenefitCategoryAndCountryCode" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindInstitutionId">
        <wsdl:part element="tns:FindInstitutionId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutionId">
        <wsdl:part element="tns:GetInstitutionId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutions">
        <wsdl:part element="tns:GetInstitutions" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointCertificate">
        <wsdl:part element="tns:GetAccessPointCertificate" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPInstitutionNames">
        <wsdl:part element="tns:GetAPInstitutionNames" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPBenefitCategoriesResponse">
        <wsdl:part element="tns:GetAPBenefitCategoriesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAccessPointIdResponse">
        <wsdl:part element="tns:FindAccessPointIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllAccessPoints">
        <wsdl:part element="tns:GetAllAccessPoints" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointIDsOfCountryResponse">
        <wsdl:part element="tns:GetAccessPointIDsOfCountryResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllAccessPointsResponse">
        <wsdl:part element="tns:GetAllAccessPointsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindCountryCodeResponse">
        <wsdl:part element="tns:FindCountryCodeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountryNames">
        <wsdl:part element="tns:GetCountryNames" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindBenefitCategoryIdResponse">
        <wsdl:part element="tns:FindBenefitCategoryIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategories">
        <wsdl:part element="tns:GetBenefitCategories" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutionsResponse">
        <wsdl:part element="tns:GetInstitutionsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAccessPointAddressResponse">
        <wsdl:part element="tns:FindAccessPointAddressResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAccessPointAddress">
        <wsdl:part element="tns:FindAccessPointAddress" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointIdResponse">
        <wsdl:part element="tns:GetAccessPointIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindCountryCode">
        <wsdl:part element="tns:FindCountryCode" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPInstitutionNamesResponse">
        <wsdl:part element="tns:GetAPInstitutionNamesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountries">
        <wsdl:part element="tns:GetCountries" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoryResponse">
        <wsdl:part element="tns:GetBenefitCategoryResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPCountryCodeResponse">
        <wsdl:part element="tns:GetAPCountryCodeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoryCountriesResponse">
        <wsdl:part element="tns:GetBenefitCategoryCountriesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAPBenefitCategories">
        <wsdl:part element="tns:GetAPBenefitCategories" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategory">
        <wsdl:part element="tns:GetBenefitCategory" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointAddressResponse">
        <wsdl:part element="tns:GetAccessPointAddressResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoriesResponse">
        <wsdl:part element="tns:GetBenefitCategoriesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutionsByBenefitCategoryAndCountryCodeResponse">
        <wsdl:part element="tns:GetInstitutionsByBenefitCategoryAndCountryCodeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAccessPointCertificateResponse">
        <wsdl:part element="tns:GetAccessPointCertificateResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DirectoryServiceException_Exception">
        <wsdl:part element="tns:DirectoryServiceException" name="DirectoryServiceException_Exception">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetInstitutionIdResponse">
        <wsdl:part element="tns:GetInstitutionIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllBenefitCategories">
        <wsdl:part element="tns:GetAllBenefitCategories" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindInstitutionIdResponse">
        <wsdl:part element="tns:FindInstitutionIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllBenefitCategoriesResponse">
        <wsdl:part element="tns:GetAllBenefitCategoriesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountriesResponse">
        <wsdl:part element="tns:GetCountriesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetBenefitCategoryCountries">
        <wsdl:part element="tns:GetBenefitCategoryCountries" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DsRiPortType">
        <wsdl:operation name="GetBenefitCategories">
            <wsdl:input message="tns:GetBenefitCategories" name="GetBenefitCategories">
            </wsdl:input>
            <wsdl:output message="tns:GetBenefitCategoriesResponse" name="GetBenefitCategoriesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategory">
            <wsdl:input message="tns:GetBenefitCategory" name="GetBenefitCategory">
            </wsdl:input>
            <wsdl:output message="tns:GetBenefitCategoryResponse" name="GetBenefitCategoryResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetCountryNames">
            <wsdl:input message="tns:GetCountryNames" name="GetCountryNames">
            </wsdl:input>
            <wsdl:output message="tns:GetCountryNamesResponse" name="GetCountryNamesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllBenefitCategories">
            <wsdl:input message="tns:GetAllBenefitCategories" name="GetAllBenefitCategories">
            </wsdl:input>
            <wsdl:output message="tns:GetAllBenefitCategoriesResponse" name="GetAllBenefitCategoriesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPCountryCode">
            <wsdl:input message="tns:GetAPCountryCode" name="GetAPCountryCode">
            </wsdl:input>
            <wsdl:output message="tns:GetAPCountryCodeResponse" name="GetAPCountryCodeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindBenefitCategoryId">
            <wsdl:input message="tns:FindBenefitCategoryId" name="FindBenefitCategoryId">
            </wsdl:input>
            <wsdl:output message="tns:FindBenefitCategoryIdResponse" name="FindBenefitCategoryIdResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutionId">
            <wsdl:input message="tns:GetInstitutionId" name="GetInstitutionId">
            </wsdl:input>
            <wsdl:output message="tns:GetInstitutionIdResponse" name="GetInstitutionIdResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategoryAPs">
            <wsdl:input message="tns:GetBenefitCategoryAPs" name="GetBenefitCategoryAPs">
            </wsdl:input>
            <wsdl:output message="tns:GetBenefitCategoryAPsResponse" name="GetBenefitCategoryAPsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategoryCountries">
            <wsdl:input message="tns:GetBenefitCategoryCountries" name="GetBenefitCategoryCountries">
            </wsdl:input>
            <wsdl:output message="tns:GetBenefitCategoryCountriesResponse" name="GetBenefitCategoryCountriesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointIDsOfCountry">
            <wsdl:input message="tns:GetAccessPointIDsOfCountry" name="GetAccessPointIDsOfCountry">
            </wsdl:input>
            <wsdl:output message="tns:GetAccessPointIDsOfCountryResponse" name="GetAccessPointIDsOfCountryResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPInstitutionNames">
            <wsdl:input message="tns:GetAPInstitutionNames" name="GetAPInstitutionNames">
            </wsdl:input>
            <wsdl:output message="tns:GetAPInstitutionNamesResponse" name="GetAPInstitutionNamesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutions">
            <wsdl:input message="tns:GetInstitutions" name="GetInstitutions">
            </wsdl:input>
            <wsdl:output message="tns:GetInstitutionsResponse" name="GetInstitutionsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointId">
            <wsdl:input message="tns:GetAccessPointId" name="GetAccessPointId">
            </wsdl:input>
            <wsdl:output message="tns:GetAccessPointIdResponse" name="GetAccessPointIdResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetCountries">
            <wsdl:input message="tns:GetCountries" name="GetCountries">
            </wsdl:input>
            <wsdl:output message="tns:GetCountriesResponse" name="GetCountriesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindAccessPointId">
            <wsdl:input message="tns:FindAccessPointId" name="FindAccessPointId">
            </wsdl:input>
            <wsdl:output message="tns:FindAccessPointIdResponse" name="FindAccessPointIdResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointCertificate">
            <wsdl:input message="tns:GetAccessPointCertificate" name="GetAccessPointCertificate">
            </wsdl:input>
            <wsdl:output message="tns:GetAccessPointCertificateResponse" name="GetAccessPointCertificateResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPBenefitCategories">
            <wsdl:input message="tns:GetAPBenefitCategories" name="GetAPBenefitCategories">
            </wsdl:input>
            <wsdl:output message="tns:GetAPBenefitCategoriesResponse" name="GetAPBenefitCategoriesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindAccessPointAddress">
            <wsdl:input message="tns:FindAccessPointAddress" name="FindAccessPointAddress">
            </wsdl:input>
            <wsdl:output message="tns:FindAccessPointAddressResponse" name="FindAccessPointAddressResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindInstitutionId">
            <wsdl:input message="tns:FindInstitutionId" name="FindInstitutionId">
            </wsdl:input>
            <wsdl:output message="tns:FindInstitutionIdResponse" name="FindInstitutionIdResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindCountryCode">
            <wsdl:input message="tns:FindCountryCode" name="FindCountryCode">
            </wsdl:input>
            <wsdl:output message="tns:FindCountryCodeResponse" name="FindCountryCodeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllAccessPoints">
            <wsdl:input message="tns:GetAllAccessPoints" name="GetAllAccessPoints">
            </wsdl:input>
            <wsdl:output message="tns:GetAllAccessPointsResponse" name="GetAllAccessPointsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointAddress">
            <wsdl:input message="tns:GetAccessPointAddress" name="GetAccessPointAddress">
            </wsdl:input>
            <wsdl:output message="tns:GetAccessPointAddressResponse" name="GetAccessPointAddressResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutionsByBenefitCategoryAndCountryCode">
            <wsdl:input message="tns:GetInstitutionsByBenefitCategoryAndCountryCode" name="GetInstitutionsByBenefitCategoryAndCountryCode">
            </wsdl:input>
            <wsdl:output message="tns:GetInstitutionsByBenefitCategoryAndCountryCodeResponse" name="GetInstitutionsByBenefitCategoryAndCountryCodeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:DirectoryServiceException_Exception" name="DirectoryServiceException_Exception">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DsRiServiceSoapBinding" type="tns:DsRiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetBenefitCategories">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetBenefitCategories">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBenefitCategoriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategory">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetBenefitCategory">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBenefitCategoryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllBenefitCategories">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAllBenefitCategories">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAllBenefitCategoriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetCountryNames">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetCountryNames">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCountryNamesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindBenefitCategoryId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindBenefitCategoryId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindBenefitCategoryIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPCountryCode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAPCountryCode">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAPCountryCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutionId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetInstitutionId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetInstitutionIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategoryAPs">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetBenefitCategoryAPs">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBenefitCategoryAPsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointIDsOfCountry">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAccessPointIDsOfCountry">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccessPointIDsOfCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBenefitCategoryCountries">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetBenefitCategoryCountries">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBenefitCategoryCountriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPInstitutionNames">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAPInstitutionNames">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAPInstitutionNamesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutions">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetInstitutions">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetInstitutionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAccessPointId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccessPointIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindAccessPointId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindAccessPointId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindAccessPointIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetCountries">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetCountries">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCountriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAPBenefitCategories">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAPBenefitCategories">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAPBenefitCategoriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointCertificate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAccessPointCertificate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccessPointCertificateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindAccessPointAddress">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindAccessPointAddress">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindAccessPointAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindInstitutionId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindInstitutionId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindInstitutionIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="FindCountryCode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindCountryCode">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindCountryCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllAccessPoints">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAllAccessPoints">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAllAccessPointsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAccessPointAddress">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAccessPointAddress">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAccessPointAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetInstitutionsByBenefitCategoryAndCountryCode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetInstitutionsByBenefitCategoryAndCountryCode">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetInstitutionsByBenefitCategoryAndCountryCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DirectoryServiceException_Exception">
                <soap:fault name="DirectoryServiceException_Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DsRiService">
        <wsdl:port binding="tns:DsRiServiceSoapBinding" name="DsRiPort">
            <soap:address location="http://10.33.14.65:8180/eessi-ds-ws/dsWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>