nav-infotrygdsak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdSak/v1/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/feil" xmlns:feil="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/feil">
  <xsd:complexType abstract="true" name="ForretningsmessigUnntak">
    <xsd:sequence>
      <xsd:element name="feilkilde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kilden der feilen oppstod: applikasjonsnavn, tjenestenavn, operasjonsnavn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilaarsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsaken til at feilen oppstod: system/applikasjonsId (hvis tilgjengelig), exception navn, melding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivende feilmelding returnert fra kilden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato og tidspunkt for når feilen oppstod</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsbegrensning">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensninger"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsbegrensninger">
    <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Sikkerhetsbegrensninger" name="kodeverksRef" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="PersonIkkeFunnet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UgyldigInput">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>