nav-fim-sakOgBehandling-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/informasjon/sakOgBehandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Aktoer">
		<xs:sequence>
			<xs:element name="aktoerId" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="erMedISak" type="informasjon:Sak" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Behandlingsstatustyper">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Behandlingstyper">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Fagsystem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Sakstyper">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Tema">
		<xs:sequence>
			<xs:element name="temaId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Behandling">
		<xs:sequence>
			<xs:element name="behandlingsId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="behandlingstype" type="informasjon:Behandlingstyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="slutt" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="start" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="status" type="informasjon:Behandlingsstatustyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="statusDetaljer" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FagsystemSak">
		<xs:sequence>
			<xs:element name="fagsystem" type="informasjon:Fagsystem" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sakID_Fagsystem" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sak">
		<xs:sequence>
			<xs:element name="lukket" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="opprettet" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="saksid" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tema" type="informasjon:Tema" minOccurs="1" maxOccurs="1"/>
			<xs:element name="inneholderBehandling" type="informasjon:Behandling" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="behandlesIFagsystemSak" type="informasjon:FagsystemSak" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
