cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/inf/GOSYSOppgave.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSOppgave" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Oppgave" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" schemaLocation="../fault/oppgave/FaultGOSYSMappeIkkeTom.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSMappeListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSMappe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSFinnMappeListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSFeilIInput.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" schemaLocation="../fault/oppgave/FaultGOSYSUkjentArbgiver.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" schemaLocation="../fault/oppgave/FaultGOSYSPersonInaktiv.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" schemaLocation="../fault/oppgave/FaultGOSYSIkkeEntydigSaksopprettelse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/oppgave" schemaLocation="../fault/oppgave/FaultGOSYSOppgaveIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSOppgave.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSOppgaveIdListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSFinnOpppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSHentOppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSBestillOppgaveRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/oppgave" schemaLocation="../asbo/oppgave/ASBOGOSYSOppgaveListe.xsd"/>
      <xsd:element name="hentOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveRequest" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveResponse" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgave_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="hentOppgave_faultGOSYSOppgaveIkkeFunnet" type="bons4:FaultGOSYSOppgaveIkkeFunnet"/>
      <xsd:element name="hentOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeRequest" nillable="true" type="bons2:ASBOGOSYSHentOppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeResponse" nillable="true" type="bons2:ASBOGOSYSOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgaveListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveRequest" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgavaResponses" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgave_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="lagreOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveListeRequest" nillable="true" type="bons2:ASBOGOSYSOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveListeResponse" nillable="true" type="bons2:ASBOGOSYSOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOppgaveListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="opprettOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveRequest" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveResponse" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgave_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
      <xsd:element name="slettOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeRequest" nillable="true" type="bons2:ASBOGOSYSOppgaveIdListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettOppgaveListe_faultGOSYSGenerisk" type="bons3:FaultGOSYSGenerisk"/>
            <xsd:element name="hentFerdigstiltOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveRequest" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFerdigstiltOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveResponse" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="bestillOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillOppgaveRequest" nillable="true" type="bons2:ASBOGOSYSBestillOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="bestillOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillOppgaveResponse" nillable="true" type="bons2:ASBOGOSYSOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnOppgaveListeRequest" nillable="true" type="bons2:ASBOGOSYSFinnOpppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnOppgaveListeResponse" nillable="true" type="bons2:ASBOGOSYSOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSIkkeEntydigSaksopprettelse_element" nillable="true" type="bons4:FaultGOSYSIkkeEntydigSaksopprettelse"/>
            <xsd:element name="FaultGOSYSPersonIkkeFunnet_element" nillable="true" type="bons3:FaultGOSYSPersonIkkeFunnet"/>
            <xsd:element name="FaultGOSYSPersonInaktiv_element" nillable="true" type="bons4:FaultGOSYSPersonInaktiv"/>
            <xsd:element name="FaultGOSYSUkjentArbgiver_element" nillable="true" type="bons4:FaultGOSYSUkjentArbgiver"/>
            <xsd:element name="FaultGOSYSFeilIInput_element" nillable="true" type="bons3:FaultGOSYSFeilIInput"/>
            <xsd:element name="finnMappeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnMappeListeRequest" nillable="true" type="bons2:ASBOGOSYSFinnMappeListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnMappeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnMappeListeResponse" nillable="true" type="bons2:ASBOGOSYSMappeListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMappeRequest" nillable="true" type="bons2:ASBOGOSYSMappe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMappeResponse" nillable="true" type="bons2:ASBOGOSYSMappe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMappeRequest" nillable="true" type="bons2:ASBOGOSYSMappe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMappeResponse" nillable="true" type="bons2:ASBOGOSYSMappe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettMappe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettMappeRequest" nillable="true" type="bons2:ASBOGOSYSMappe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettMappeResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSMappeIkkeTom_element" nillable="true" type="bons4:FaultGOSYSMappeIkkeTom"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentOppgaveRequestMsg">
    <wsdl:part element="bons0:hentOppgave" name="hentOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveResponseMsg">
    <wsdl:part element="bons0:hentOppgaveResponse" name="hentOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="hentOppgave_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentOppgave_faultGOSYSOppgaveIkkeFunnetMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSOppgaveIkkeFunnet" name="faultGOSYSOppgaveIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeRequestMsg">
    <wsdl:part element="bons0:hentOppgaveListe" name="hentOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeResponseMsg">
    <wsdl:part element="bons0:hentOppgaveListeResponse" name="hentOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgaveListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveRequestMsg">
    <wsdl:part element="bons0:lagreOppgave" name="lagreOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveResponseMsg">
    <wsdl:part element="bons0:lagreOppgaveResponse" name="lagreOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgave_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveListeRequestMsg">
    <wsdl:part element="bons0:lagreOppgaveListe" name="lagreOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveListeResponseMsg">
    <wsdl:part element="bons0:lagreOppgaveListeResponse" name="lagreOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:lagreOppgaveListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveRequestMsg">
    <wsdl:part element="bons0:opprettOppgave" name="opprettOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveResponseMsg">
    <wsdl:part element="bons0:opprettOppgaveResponse" name="opprettOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgave_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:opprettOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeRequestMsg">
    <wsdl:part element="bons0:slettOppgaveListe" name="slettOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeResponseMsg">
    <wsdl:part element="bons0:slettOppgaveListeResponse" name="slettOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:slettOppgaveListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveRequestMsg">
    <wsdl:part element="bons0:hentFerdigstiltOppgave" name="hentFerdigstiltOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveResponseMsg">
    <wsdl:part element="bons0:hentFerdigstiltOppgaveResponse" name="hentFerdigstiltOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgave_faultGOSYSOppgaveIkkeFunnetMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSOppgaveIkkeFunnet" name="faultGOSYSOppgaveIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgave_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgaveRequestMsg">
    <wsdl:part element="bons0:bestillOppgave" name="bestillOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgaveResponseMsg">
    <wsdl:part element="bons0:bestillOppgaveResponse" name="bestillOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="finnOppgaveListeRequestMsg">
    <wsdl:part element="bons0:finnOppgaveListe" name="finnOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnOppgaveListeResponseMsg">
    <wsdl:part element="bons0:finnOppgaveListeResponse" name="finnOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="finnOppgaveListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSIkkeEntydigSaksopprettelseMsg">
    <wsdl:part element="bons0:FaultGOSYSIkkeEntydigSaksopprettelse_element" name="faultGOSYSIkkeEntydigSaksopprettelse"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSPersonIkkeFunnetMsg">
    <wsdl:part element="bons0:FaultGOSYSPersonIkkeFunnet_element" name="faultGOSYSPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSPersonInaktivMsg">
    <wsdl:part element="bons0:FaultGOSYSPersonInaktiv_element" name="faultGOSYSPersonInaktiv"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSUkjentArbgiverMsg">
    <wsdl:part element="bons0:FaultGOSYSUkjentArbgiver_element" name="faultGOSYSUkjentArbgiver"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultGOSYSFeilInputMsg">
    <wsdl:part element="bons0:FaultGOSYSFeilIInput_element" name="faultGOSYSFeilInput"/>
  </wsdl:message>
    <wsdl:message name="finnMappeListeRequestMsg">
    <wsdl:part element="bons0:finnMappeListe" name="finnMappeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnMappeListeResponseMsg">
    <wsdl:part element="bons0:finnMappeListeResponse" name="finnMappeListeResult"/>
  </wsdl:message>
    <wsdl:message name="opprettMappeRequestMsg">
    <wsdl:part element="bons0:opprettMappe" name="opprettMappeParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettMappeResponseMsg">
    <wsdl:part element="bons0:opprettMappeResponse" name="opprettMappeResult"/>
  </wsdl:message>
    <wsdl:message name="lagreMappeRequestMsg">
    <wsdl:part element="bons0:lagreMappe" name="lagreMappeParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreMappeResponseMsg">
    <wsdl:part element="bons0:lagreMappeResponse" name="lagreMappeResult"/>
  </wsdl:message>
    <wsdl:message name="slettMappeRequestMsg">
    <wsdl:part element="bons0:slettMappe" name="slettMappeParameters"/>
  </wsdl:message>
    <wsdl:message name="slettMappeResponseMsg">
    <wsdl:part element="bons0:slettMappeResponse" name="slettMappeResult"/>
  </wsdl:message>
    <wsdl:message name="finnMappeListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettMappe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreMappe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettMappe_faultGOSYSGeneriskMsg">
    <wsdl:part element="bons0:hentOppgave_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettMappe_faultGOSYSMappeIkkeTomMsg">
    <wsdl:part element="bons0:FaultGOSYSMappeIkkeTom_element" name="faultGOSYSMappeIkkeTom"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSOppgave">
    <wsdl:operation name="hentOppgave">
      <wsdl:input message="bons0:hentOppgaveRequestMsg" name="hentOppgaveRequest"/>
      <wsdl:output message="bons0:hentOppgaveResponseMsg" name="hentOppgaveResponse"/>
      <wsdl:fault message="bons0:hentOppgave_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
      <wsdl:fault message="bons0:hentOppgave_faultGOSYSOppgaveIkkeFunnetMsg" name="faultGOSYSOppgaveIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentOppgaveListe">
      <wsdl:input message="bons0:hentOppgaveListeRequestMsg" name="hentOppgaveListeRequest"/>
      <wsdl:output message="bons0:hentOppgaveListeResponseMsg" name="hentOppgaveListeResponse"/>
      <wsdl:fault message="bons0:hentOppgaveListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgave">
      <wsdl:input message="bons0:lagreOppgaveRequestMsg" name="lagreOppgaveRequest"/>
      <wsdl:output message="bons0:lagreOppgaveResponseMsg" name="lagreOppgaveResponse"/>
      <wsdl:fault message="bons0:lagreOppgave_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="lagreOppgaveListe">
      <wsdl:input message="bons0:lagreOppgaveListeRequestMsg" name="lagreOppgaveListeRequest"/>
      <wsdl:output message="bons0:lagreOppgaveListeResponseMsg" name="lagreOppgaveListeResponse"/>
      <wsdl:fault message="bons0:lagreOppgaveListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgave">
      <wsdl:input message="bons0:opprettOppgaveRequestMsg" name="opprettOppgaveRequest"/>
      <wsdl:output message="bons0:opprettOppgaveResponseMsg" name="opprettOppgaveResponse"/>
      <wsdl:fault message="bons0:opprettOppgave_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="slettOppgaveListe">
      <wsdl:input message="bons0:slettOppgaveListeRequestMsg" name="slettOppgaveListeRequest"/>
      <wsdl:output message="bons0:slettOppgaveListeResponseMsg" name="slettOppgaveListeResponse"/>
      <wsdl:fault message="bons0:slettOppgaveListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="hentFerdigstiltOppgave">
      <wsdl:input message="bons0:hentFerdigstiltOppgaveRequestMsg" name="hentFerdigstiltOppgaveRequest"/>
      <wsdl:output message="bons0:hentFerdigstiltOppgaveResponseMsg" name="hentFerdigstiltOppgaveResponse"/>
      <wsdl:fault message="bons0:hentFerdigstiltOppgave_faultGOSYSOppgaveIkkeFunnetMsg" name="faultGOSYSOppgaveIkkeFunnet"/>
      <wsdl:fault message="bons0:hentFerdigstiltOppgave_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="bestillOppgave">
      <wsdl:input message="bons0:bestillOppgaveRequestMsg" name="bestillOppgaveRequest"/>
      <wsdl:output message="bons0:bestillOppgaveResponseMsg" name="bestillOppgaveResponse"/>
      <wsdl:fault message="bons0:bestillOppgave_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:bestillOppgave_faultGOSYSIkkeEntydigSaksopprettelseMsg" name="faultGOSYSIkkeEntydigSaksopprettelse"/>
            <wsdl:fault message="bons0:bestillOppgave_faultGOSYSPersonIkkeFunnetMsg" name="faultGOSYSPersonIkkeFunnet"/>
            <wsdl:fault message="bons0:bestillOppgave_faultGOSYSPersonInaktivMsg" name="faultGOSYSPersonInaktiv"/>
            <wsdl:fault message="bons0:bestillOppgave_faultGOSYSUkjentArbgiverMsg" name="faultGOSYSUkjentArbgiver"/>
            <wsdl:fault message="bons0:bestillOppgave_faultGOSYSFeilInputMsg" name="faultGOSYSFeilInput"/>
        </wsdl:operation>
        <wsdl:operation name="finnOppgaveListe">
      <wsdl:input message="bons0:finnOppgaveListeRequestMsg" name="finnOppgaveListeRequest"/>
      <wsdl:output message="bons0:finnOppgaveListeResponseMsg" name="finnOppgaveListeResponse"/>
            <wsdl:fault message="bons0:finnOppgaveListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
        <wsdl:operation name="finnMappeListe">
      <wsdl:input message="bons0:finnMappeListeRequestMsg" name="finnMappeListeRequest"/>
      <wsdl:output message="bons0:finnMappeListeResponseMsg" name="finnMappeListeResponse"/>
      <wsdl:fault message="bons0:finnMappeListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="opprettMappe">
      <wsdl:input message="bons0:opprettMappeRequestMsg" name="opprettMappeRequest"/>
      <wsdl:output message="bons0:opprettMappeResponseMsg" name="opprettMappeResponse"/>
      <wsdl:fault message="bons0:opprettMappe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="lagreMappe">
      <wsdl:input message="bons0:lagreMappeRequestMsg" name="lagreMappeRequest"/>
      <wsdl:output message="bons0:lagreMappeResponseMsg" name="lagreMappeResponse"/>
      <wsdl:fault message="bons0:lagreMappe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="slettMappe">
      <wsdl:input message="bons0:slettMappeRequestMsg" name="slettMappeRequest"/>
      <wsdl:output message="bons0:slettMappeResponseMsg" name="slettMappeResponse"/>
      <wsdl:fault message="bons0:slettMappe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="bons0:slettMappe_faultGOSYSMappeIkkeTomMsg" name="faultGOSYSMappeIkkeTom"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
