cons-sak-gosys-tjenestespesifikasjon/src/main/wsdl/cons-sak-gosys/wsdl/no/nav/inf/GOSYSSamhandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/GOSYSSamhandler" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/samhandler" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Samhandler" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSSamhandler" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Samhandler">
    <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Samhandler" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/GOSYSSamhandler" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Samhandler" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons2="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/samhandler" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/samhandler" schemaLocation="../fault/samhandler/FaultGOSYSOffentligIdIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/samhandler" schemaLocation="../fault/samhandler/FaultGOSYSSamhandlerIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" schemaLocation="../asbo/samhandler/ASBOGOSYSSamhandlerListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" schemaLocation="../asbo/samhandler/ASBOGOSYSFinnSamhandlerRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" schemaLocation="../asbo/samhandler/ASBOGOSYSSamhandler.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/samhandler" schemaLocation="../asbo/samhandler/ASBOGOSYSHentSamhandlerRequest.xsd"/>
      <xsd:element name="hentSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerRequest" nillable="true" type="bons2:ASBOGOSYSHentSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerResponse" nillable="true" type="bons2:ASBOGOSYSSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerRequest" nillable="true" type="bons2:ASBOGOSYSFinnSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerResponse" nillable="true" type="bons2:ASBOGOSYSSamhandlerListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons1:FaultGOSYSGenerisk"/>
            <xsd:element name="FaultGOSYSSamhandlerIkkeFunnet_element" nillable="true" type="bons3:FaultGOSYSSamhandlerIkkeFunnet"/>
            <xsd:element name="lagreSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerRequest" nillable="true" type="bons2:ASBOGOSYSSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerResponse" nillable="true" type="bons2:ASBOGOSYSSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerRequest" nillable="true" type="bons2:ASBOGOSYSSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerResponse" nillable="true" type="bons2:ASBOGOSYSSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultGOSYSOffentligIdIkkeFunnet_element" nillable="true" type="bons3:FaultGOSYSOffentligIdIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSamhandlerRequestMsg">
    <wsdl:part element="tns:hentSamhandler" name="hentSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandlerResponseMsg">
    <wsdl:part element="tns:hentSamhandlerResponse" name="hentSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerRequestMsg">
    <wsdl:part element="tns:finnSamhandler" name="finnSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerResponseMsg">
    <wsdl:part element="tns:finnSamhandlerResponse" name="finnSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandler_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandler_faultGOSYSSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:FaultGOSYSSamhandlerIkkeFunnet_element" name="faultGOSYSSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandler_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerRequestMsg">
    <wsdl:part element="tns:lagreSamhandler" name="lagreSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerResponseMsg">
    <wsdl:part element="tns:lagreSamhandlerResponse" name="lagreSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerRequestMsg">
    <wsdl:part element="tns:opprettSamhandler" name="opprettSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerResponseMsg">
    <wsdl:part element="tns:opprettSamhandlerResponse" name="opprettSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandler_faultGOSYSOffentligIdIkkeFunnetMsg">
    <wsdl:part element="tns:FaultGOSYSOffentligIdIkkeFunnet_element" name="faultGOSYSOffentligIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandler_faultGOSYSSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:FaultGOSYSSamhandlerIkkeFunnet_element" name="faultGOSYSSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandler_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandler_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSSamhandler">
    <wsdl:operation name="hentSamhandler">
      <wsdl:input message="tns:hentSamhandlerRequestMsg" name="hentSamhandlerRequest"/>
      <wsdl:output message="tns:hentSamhandlerResponseMsg" name="hentSamhandlerResponse"/>
            <wsdl:fault message="tns:hentSamhandler_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="tns:hentSamhandler_faultGOSYSSamhandlerIkkeFunnetMsg" name="faultGOSYSSamhandlerIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="finnSamhandler">
      <wsdl:input message="tns:finnSamhandlerRequestMsg" name="finnSamhandlerRequest"/>
      <wsdl:output message="tns:finnSamhandlerResponseMsg" name="finnSamhandlerResponse"/>
            <wsdl:fault message="tns:finnSamhandler_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
        <wsdl:operation name="lagreSamhandler">
      <wsdl:input message="tns:lagreSamhandlerRequestMsg" name="lagreSamhandlerRequest"/>
      <wsdl:output message="tns:lagreSamhandlerResponseMsg" name="lagreSamhandlerResponse"/>
      <wsdl:fault message="tns:lagreSamhandler_faultGOSYSSamhandlerIkkeFunnetMsg" name="faultGOSYSSamhandlerIkkeFunnet"/>
      <wsdl:fault message="tns:lagreSamhandler_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="opprettSamhandler">
      <wsdl:input message="tns:opprettSamhandlerRequestMsg" name="opprettSamhandlerRequest"/>
      <wsdl:output message="tns:opprettSamhandlerResponseMsg" name="opprettSamhandlerResponse"/>
      <wsdl:fault message="tns:opprettSamhandler_faultGOSYSOffentligIdIkkeFunnetMsg" name="faultGOSYSOffentligIdIkkeFunnet"/>
      <wsdl:fault message="tns:opprettSamhandler_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
