nav-virksomhet-dokumentnotifikasjon-v1-meldingsdefinisjon/src/main/xsd/v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/dokumentnotifikasjon/v1" xmlns:dokumentnotifikasjon="http://nav.no/melding/virksomhet/dokumentnotifikasjon/v1">
    <xsd:complexType name="Behandlingstema">
        <xsd:annotation>
            <xsd:documentation>Kodeverk for behandlingstema</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dokumentnotifikasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingstema" name="kodeverksRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Tema">
        <xsd:annotation>
            <xsd:documentation>Kodeverk for tema</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dokumentnotifikasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Tema" name="kodeverksRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="forsendelsesinformasjon" type="dokumentnotifikasjon:Forsendelsesinformasjon"/>
    <xsd:complexType name="Forsendelsesinformasjon">
        <xsd:sequence>
            <xsd:element name="arkivId" type="dokumentnotifikasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Id til journalpost i arkivet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivsystem" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Angir hvilket arkivsystem arkivId tilhører.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tema" type="dokumentnotifikasjon:Tema">
                <xsd:annotation>
                    <xsd:documentation>Kodeverk for tema til forsendelsen. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="behandlingstema" type="dokumentnotifikasjon:Behandlingstema">
                <xsd:annotation>
                    <xsd:documentation>Kodeverk for behandlingstema til forsendelsen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>