behandleforsendelse-v1/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleForsendelse/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/behandleForsendelse/v1/informasjon">
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Mottakskanaler">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for mottakskanal (http://nav.no/kodeverk/Kodeverk/Mottakskanaler)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Mottakskanaler" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Variantformater">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for variantformater (http://nav.no/kodeverk/Kodeverk/Variantformater)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arkivfiltyper">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for arkivfiltyper (http://nav.no/kodeverk/Kodeverk/Arkivfiltyper)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Tema">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for Tema (http://nav.no/kodeverk/Kodeverk/Tema)

Begrep Tema fra begrepskatalogen http://jira.adeo.no/browse/BEGREP-38</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Tema" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentInnhold">
    <xsd:annotation>
      <xsd:documentation>Informasjon om filtype og variantformat koblet til arkivering, samt selve hoveddokumentet/vedlegget</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="arkivfiltype" type="informasjon:Arkivfiltyper">
        <xsd:annotation>
          <xsd:documentation>Kode for arkivfiltype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="variantformat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation>variant format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokument" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Selve dokumentet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktoer">
    <xsd:annotation>
      <xsd:documentation>Avsender knyttet til forsendelsen</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:annotation>
      <xsd:documentation>Vedlegg og tilhørende informasjon som blir sendt med meldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:DokumentInformasjon"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Bruker">
    <xsd:annotation>
      <xsd:documentation>Bruker knyttet til forsendelse</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="ArkivSak">
    <xsd:annotation>
      <xsd:documentation>Inneholder informasjon om saken det skal journalføres mot</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="arkivSakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Saksnummer (PEN eller GSAK) som dokument skal journalføres mot. Kan være forskjellig fra fagsaksnummer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arkivSakSystem" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fagsystem som saken tilhører</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Hoveddokument">
    <xsd:annotation>
      <xsd:documentation>Hoveddokumentet og tilhørende informasjon som blir sendt med meldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:DokumentInformasjon"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation>Informasjon om personen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="ident" type="informasjon:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Fnr/dnr</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="navn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på person</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BrukerOrganisasjon">
    <xsd:annotation>
      <xsd:documentation>Informasjon om organisasjonen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bruker">
        <xsd:sequence>
          <xsd:element name="orgnr" type="informasjon:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Organisasjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MottaOgFerdigstillForsendelse">
    <xsd:annotation>
      <xsd:documentation>Informasjon om forsendelsen med hoveddokumentet og eventuelle vedlegg</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="forsendelseInformasjon" type="informasjon:ForsendelseInformasjon"/>
      <xsd:element name="hoveddokument" type="informasjon:Hoveddokument"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedleggListe" type="informasjon:Vedlegg"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DokumentInformasjon">
    <xsd:annotation>
      <xsd:documentation>Informasjon om dokumentet som blir sendt</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dokumenttypeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Dokumenttype Identifikator. Benyttes for å hente tilknyttede metadata fra Dokumentkatalogen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="dokumentInnholdListe" type="informasjon:DokumentInnhold">
        <xsd:annotation>
          <xsd:documentation>Informasjon om filtype og variantformat koblet til arkivering, samt selve hoveddokumentet/vedlegget</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BrukerPerson">
    <xsd:annotation>
      <xsd:documentation>Informasjon om personen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bruker">
        <xsd:sequence>
          <xsd:element name="ident" type="informasjon:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Fnr/dnr</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ForsendelseInformasjon">
    <xsd:annotation>
      <xsd:documentation>Informasjon om forsendelsen</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="bruker" type="informasjon:Bruker">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder ident eller org.nr knyttet til bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="avsender" type="informasjon:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder ident eller org.nr og navn til avsender</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arkivSak" type="informasjon:ArkivSak">
        <xsd:annotation>
          <xsd:documentation>Inneholder informasjon om saken det skal journalføres mot</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tema" type="informasjon:Tema">
        <xsd:annotation>
          <xsd:documentation>Kodeverk for tema til forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalfoerendeEnhet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Saksbehandlers enhet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saksbehandlerNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på saksbehandler som journalfører</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentMottatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for mottak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentOpprettet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dokument opprettet dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mottakskanal" type="informasjon:Mottakskanaler">
        <xsd:annotation>
          <xsd:documentation>kodeverk for mottakskanal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forsendelseMottakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Mottak Id for forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisasjon">
    <xsd:annotation>
      <xsd:documentation>Informasjon om organisasjonen</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="orgnr" type="informasjon:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Organisasjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="navn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på organisasjon</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>