nav-altinn-inntektsmelding/src/main/xsd/Inntektsmelding_kodelister_20210216.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:no:nav:inntektsmelding:xml:kodeliste:20210216">
	<xsd:annotation>
		<xsd:documentation>Kodelister til bruker for NAVs elektroniske tjeneste for innsending av inntektsmelding fra arbeidsgivere. Oppdatert 19.10.2018. Rettet feil i kodeliste. "Ikke Sykemeldt" er erstattet med riktig benevnelse "IkkeFravaer" i kodeliste BegrunnelseIngenEllerRedusertUtbetalingKodeliste. Oppdatert 22.01.2019 Lagt til "StreikEllerLockout" i kodeliste BegrunnelseIngenEllerRedusertUtbetalingKodeliste. Oppdatert 16.02.2021 Lagt til koder "PleiepengerBarn" og "PleiepengerNaerstaaende" i YtelseKodeliste. Lagt til koder "FerieEllerAvspasering" og "IkkeFullStillingsandel" i BegrunnelseIngenEllerRedusertUtbetalingKodeliste</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="YtelseKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Sykepenger"/>
			<xsd:enumeration value="Foreldrepenger"/>
			<xsd:enumeration value="Svangerskapspenger"/>
			<xsd:enumeration value="Pleiepenger"/>
			<xsd:enumeration value="Omsorgspenger"/>
			<xsd:enumeration value="Opplaeringspenger"/>
			<xsd:enumeration value="PleiepengerBarn"/>
			<xsd:enumeration value="PleiepengerNaerstaaende"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ÅrsakInnsendingKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Ny"/>
			<xsd:enumeration value="Endring"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ÅrsakBeregnetInntektEndringKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tariffendring"/>
			<xsd:enumeration value="FeilInntekt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ÅrsakUtsettelseKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Arbeid"/>
			<xsd:enumeration value="LovbestemtFerie"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BegrunnelseIngenEllerRedusertUtbetalingKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LovligFravaer"/>
			<xsd:enumeration value="FravaerUtenGyldigGrunn"/>
			<xsd:enumeration value="ArbeidOpphoert"/>
			<xsd:enumeration value="BeskjedGittForSent"/>
			<xsd:enumeration value="ManglerOpptjening"/>
			<xsd:enumeration value="IkkeLoenn"/>
			<xsd:enumeration value="BetvilerArbeidsufoerhet"/>
			<xsd:enumeration value="IkkeFravaer"/>
			<xsd:enumeration value="StreikEllerLockout"/>
			<xsd:enumeration value="Permittering"/>
			<xsd:enumeration value="FiskerMedHyre"/>
			<xsd:enumeration value="Saerregler"/>
			<xsd:enumeration value="FerieEllerAvspasering"/>
			<xsd:enumeration value="IkkeFullStillingsandel"/>
			<xsd:enumeration value="TidligereVirksomhet"/>			
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NaturalytelseKodeliste">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="aksjerGrunnfondsbevisTilUnderkurs"/>
			<xsd:enumeration value="losji"/>
			<xsd:enumeration value="kostDoegn"/>
			<xsd:enumeration value="besoeksreiserHjemmetAnnet"/>
			<xsd:enumeration value="kostbesparelseIHjemmet"/>
			<xsd:enumeration value="rentefordelLaan"/>
			<xsd:enumeration value="bil"/>
			<xsd:enumeration value="kostDager"/>
			<xsd:enumeration value="bolig"/>
			<xsd:enumeration value="skattepliktigDelForsikringer"/>
			<xsd:enumeration value="friTransport"/>
			<xsd:enumeration value="opsjoner"/>
			<xsd:enumeration value="tilskuddBarnehageplass"/>
			<xsd:enumeration value="annet"/>
			<xsd:enumeration value="bedriftsbarnehageplass"/>
			<xsd:enumeration value="yrkebilTjenestligbehovKilometer"/>
			<xsd:enumeration value="yrkebilTjenestligbehovListepris"/>
			<xsd:enumeration value="innbetalingTilUtenlandskPensjonsordning"/>
			<xsd:enumeration value="elektroniskKommunikasjon"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
