infotrygd-vedtak/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdvedtak/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/infotrygdVedtak/v1/informasjon">
  <xsd:complexType name="Vedtaksinformasjon">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fnr/Dnr til bruker. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stoenadsklassenavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivelse/dekode av stønadsklassen. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategori" type="informasjon:Underkategorier">
        <xsd:annotation>
          <xsd:documentation>Underkategori av stønadsklassen. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="underkategorinavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivelse/dekode av underkategorikoden. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registreringsenhet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>NAV-enheten hvor vedtaket/saken er registrert. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saksreferanse" type="informasjon:Saksreferanse">
        <xsd:annotation>
          <xsd:documentation>Identdato på vedtak.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nesteUtbetalingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for neste utbetaling. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utbetalingsbeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet som utbetales hver gang. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nesteUtbetalingsbeloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløpet for neste utbetaling. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vedtaksperiode" type="informasjon:Vedtaksperiode">
        <xsd:annotation>
          <xsd:documentation>Periode fom og tom for vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stoenadsklasse" type="informasjon:Stoenadsklasser">
        <xsd:annotation>
          <xsd:documentation>Brukers stønadsklasse (fagområde i Infotrygd).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stoenadsgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Grad (0-100%). Tekst + prosenttegn. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="frekvens" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Frekvens (dag, måned, uke).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="annenMottaker" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Annen mottaker hvis pengene utbetales til andre. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtaksstatuser">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Saksreferanse">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Saksnummer">
    <xsd:restriction base="informasjon:Saksreferanse"/>
  </xsd:simpleType>
  <xsd:simpleType name="Identdato">
    <xsd:restriction base="informasjon:Saksreferanse"/>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Begrep-619</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Underkategorier">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtaksperiode">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Stoenadsklasser">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>