dokumentproduksjon-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dokumentproduksjon/v3/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/informasjon">
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="ident" type="informasjon:Identifikator"/>
          <xsd:element name="navn" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fagsystemer">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Fagomraader">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Adresse"/>
  <xsd:complexType name="UtenlandskPostadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Adresseobjekt som representerer en utenlandsk adresse&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Adresse">
        <xsd:sequence>
          <xsd:element name="adresselinje1" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje2" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje3" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="land" type="informasjon:Landkoder"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Landkoder">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Kodeverk som spesifiserer land&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Organisasjon">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="orgnummer" type="informasjon:Identifikator"/>
          <xsd:element name="navn" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NorskPostadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Adresseobjekt som representerer en norsk adresse&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Adresse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="adresselinje1" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje2" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje3" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Inneholder del av adresse som skal presenteres på egen linje&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="land" type="informasjon:Landkoder"/>
          <xsd:element name="postnummer" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Gyldig norsk postnummer&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="poststed" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Gyldig norsk poststed&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktoer"/>
  <xsd:complexType name="Dokumentbestillingsinformasjon">
    <xsd:sequence>
      <xsd:element name="dokumenttypeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;DokumenttypeID identifiserer hvilket dokument som skal produseres. DokumenttypeID benyttes til å hente informasjon om dokumentmal, metadata og egenskaper fra Dokumentkatalogen. Denne informasjonen benyttes for å styre produksjon, journalføring og  distribusjon av dokumentet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utledRegisterInfo" type="xsd:boolean" minOccurs="0" default="false">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Parameter som settes for å angi om registerInfo skal utledes for dokumentet som bestilles. Default false./p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bestillendeFagsystem" type="informasjon:Fagsystemer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagsystem som bestiller dokumentet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruker" type="informasjon:Aktoer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer/tss id/ org.nr. til personen/organisasjonen som er sakspart. Kan være forskjellig fra mottaker.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mottaker" type="informasjon:Aktoer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer/tss id/ org.nr. til personen/ organisasjonen som er mottaker av dokumentet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalsakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksnummer som dokument skal journalføres mot. Kan være forskjellig fra fagsaksnummer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sakstilhoerendeFagsystem" type="informasjon:Fagsystemer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagsystem som saken tilhører.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumenttilhoerendeFagomraade" type="informasjon:Fagomraader">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområdet som dokumentet tilhører.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalfoerendeEnhet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksbehandlers enhet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saksbehandlernavn" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Navn på saksbehandler som bestiller dokument. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adresse" type="informasjon:Adresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Gyldig adressefelt. Tekstfelt med opp til 512 tegn. Skal være nøyaktig det samme som er i "vinduet" på dokumentet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ferdigstillForsendelse" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="color:#000000;"&gt;Parameter som settes for å angi om forsendelsen skal ferdigstilles og distribueres når dokumentet som bestilles er ferdig produsert.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color:#000000;"&gt;TRUE: Hvis konsument ønsker at forsendelse ferdigstilles og distribueres når dokumentet som bestilles er ferdig produsert.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color:#000000;"&gt;FALSE: Hvis konsument ønsker å bygge en forsendelse bestående av flere dokumenter (hoveddokument og vedlegg) eller av andre årsaker ønsker å holde tilbake ferdigstilling av forsendelsen (eksempelvis at dokument(er) i forsendelsen inngår i en godkjenningsprosess)&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inkludererEksterneVedlegg" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="color:#000000;"&gt;Parameter som settes for å angi at konsument kommer til å knytte eksternt vedlegg til forsendelsen.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>