henvendelse-felles-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelsefelles/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typer="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/informasjon">
    <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsefelles/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>

    <xs:complexType name="hentHenvendelseListeRequest">
        <xs:sequence>
            <xs:element name="fodselsnummer" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="hentHenvendelseListeResponse">
        <xs:sequence>
        	<xs:element name="henvendelse" type="typer:Henvendelse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merkMeldingSomLestRequest">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="merkMeldingSomLestResponse">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="pingRequest" />
    <xs:complexType name="pingResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>
