henvendelse-arkivering/common/src/main/resources/no/nav/tjeneste/domene/brukerdialog/arkivtjenester/v1/typer/typer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/arkivtjenester/v1/typer"
            version="2.0"
            xmlns:typer="http://nav.no/tjeneste/domene/brukerdialog/arkivtjenester/v1/typer">
    <xsd:complexType name="UstrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="typer:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="EksternPart">
        <xsd:sequence>
            <xsd:element name="eksternAktoer" type="typer:Aktoer"/>
            <xsd:element name="navn" type="typer:Navn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Personnavn">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sammensattNavn" type="typer:Navn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kommunikasjonskanaler">
        <xsd:annotation>
            <xsd:documentation>elektronisk, scanning, fysisk oppmøte, brev, sms, e-post

                http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Signatur">
        <xsd:sequence>
            <xsd:element name="signert" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsidentifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Organisasjon">
        <xsd:complexContent>
            <xsd:extension base="typer:Aktoer">
                <xsd:sequence>
                    <xsd:element name="orgnummer" type="typer:Organisasjonsidentifikator"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Personidenter">
        <xsd:annotation>
            <xsd:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ...
                http://nav.no/kodeverk/Kodeverk/Personidenter
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kryssreferanse">
        <xsd:sequence>
            <xsd:element name="referanseId" type="typer:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Referanse (intern eller ekstern)&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referansekode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Definerer type referanse&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType abstract="true" name="Aktoer"/>
    <xsd:simpleType name="KodeverkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="NorskIdent">
        <xsd:sequence>
            <xsd:element name="ident" type="typer:Identifikator"/>
            <xsd:element name="type" type="typer:Personidenter"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Dokumenttyper">
        <xsd:annotation>
            <xsd:documentation>Ifm arkivdokumenter
                vedtakspakke, kravdialog, faktainnsamling, sjekkliste, varsel, melding, utgående brev, kravdokument

                http://nav.no/kodeverk/Kodeverk/Dokumenttyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Dokumenttyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:complexContent>
            <xsd:extension base="typer:Aktoer">
                <xsd:sequence>
                    <xsd:element name="ident" type="typer:NorskIdent"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NoekkelVerdiPar">
        <xsd:sequence>
            <xsd:element name="noekkel" type="typer:Identifikator"/>
            <xsd:element name="verdi" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ArkivpostID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="DokumentInnhold">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="filnavn" type="typer:Navn"/>
            <xsd:element name="filtype" type="typer:Arkivfiltyper"/>
            <xsd:element name="variantformat" type="typer:Variantformater"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Navn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="NoekkelVerdiSett">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inneholderNoekkelVerdiPar"
                         type="typer:NoekkelVerdiPar"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Arkivfiltyper">
        <xsd:annotation>
            <xsd:documentation>Feks. XML, RTF, AFP, PDF

                http://nav.no/kodeverk/Kodeverk/Arkivfiltyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Variantformater">
        <xsd:annotation>
            <xsd:documentation>Brukes ifm dokumentinnhold i arkivdokumenter

                http://nav.no/kodeverk/Kodeverk/Variantformater
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef"
                               type="xsd:anySimpleType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OrganisasjonsenhetID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="StrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="typer:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Arkivtemaer">
        <xsd:annotation>
            <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Arkivtemaer</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="typer:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivtemaer" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="DokumentinfoRelasjon">
        <xsd:sequence>
            <xsd:element name="tillknyttetArkivpostSomKode" type="xsd:string"/>
            <xsd:element name="arkivertDokument" type="typer:ArkivertDokumentInfo"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArkivertDokumentInfo">
        <xsd:complexContent>
            <xsd:extension base="typer:Dokumentbeskrivelse"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Dokumentbeskrivelse">
        <xsd:sequence>
            <xsd:element name="begrensetPartsInnsyn" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsopplysninger"
                         type="typer:NoekkelVerdiSett"/>
            <xsd:element name="dokumentType" type="typer:Dokumenttyper"/>
            <xsd:element maxOccurs="unbounded" name="beskriverInnhold"
                         type="typer:DokumentInnhold"/>
            <xsd:element name="sensitivitet" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tittel" type="xsd:string"/>
            <xsd:element name="kategorikode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="brevkode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Arkivpost">
        <xsd:sequence>
            <xsd:element name="type" type="typer:arkivpostType"/>
            <xsd:element minOccurs="0" name="mottattDato" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dokumentDato" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="journalfoerendeEnhetREF" type="typer:OrganisasjonsenhetID"/>
            <xsd:element name="kanal" type="typer:Kommunikasjonskanaler"/>
            <xsd:element minOccurs="0" name="signatur" type="typer:Signatur">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivtema" type="typer:Arkivtemaer"/>
            <xsd:element maxOccurs="unbounded" name="forBruker" type="typer:Aktoer">
                <xsd:annotation>
                    <xsd:documentation>Bruker er sakspart. En sak kan gjelde flere parter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="innhold" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Beskriver innholdet i forsendelsen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="kryssreferanseListe"
                         type="typer:Kryssreferanse"/>
            <xsd:element name="eksternPart" type="typer:EksternPart">
                <xsd:annotation>
                    <xsd:documentation>Eksternpart er avsender for inngåen
                        de dokumenter (mottaker for utgående).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" name="dokumentinfoRelasjon"
                         type="typer:DokumentinfoRelasjon"/>
            <xsd:element name="erOrganinternt" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivStatus" type="typer:arkivStatusType">
                <xsd:annotation>
                    <xsd:documentation>Settes til ARKIVERT når det arkiveres, oppdateres i egen operasjon</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="utgaarDato" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Settes når arkivpost blir kassert i egen operasjon</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Filter">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fraDato" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="tilDato" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="maxAntall" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="arkivStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ARKIVERT"/>
            <xsd:enumeration value="UTGAAT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="arkivpostType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INNGAAENDE"/>
            <xsd:enumeration value="UTGAAENDE"/>
            <xsd:enumeration value="NOTAT"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>