pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/ufoere/ufoere.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/ufoere" xmlns:grunnlag="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag" xmlns:sak="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/sak" xmlns:ufoere="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/ufoere">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/grunnlag" schemaLocation="../grunnlag/grunnlag.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/sak" schemaLocation="../sak/sak.xsd"/>
  <xsd:complexType name="Uforetrygdberegning">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResultatType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilken resultattype denne beregningen er av, for eksempel alder, afp eller uføre.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AnvendtTrygdetid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Den trygdetiden som er anvendt i pensjonsberegningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uføretrygdens størrelse i årsbeløp.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uforegrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uforegrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uforetidspunkt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uforetidspunkt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ProratabrokTeller" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Telleren i beregningens prorata-brøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ProratabrokNevner" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nevneren i beregningens prorata-brøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Yrkesskadegrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Yrkesskadegrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Grunnbelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Grunnbeløpet i beregningen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Mottarminsteytelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sann hvis bruker mottar minsteytelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="YtelsesgrunnlagetBest" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BeregningsMetode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregningsmetoden brukt i beregningen. Kodeverk: K_BEREG_METODE_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InstOppholdType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InstOpphAnvendt" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsRelasjoner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AvdodFornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AvdodMellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AvdodEtternavn" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggFellesYK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelBTFB" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyBTFB" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reduksjonsgrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BarnetilleggRegelverkType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskriver hvilket regelverk som er benyttet i beregning av regelverk, se kodeverk K_BT_REGELVERK. Det er koden, ikke dekoden som sendes over.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GradertOppjustertIFU" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>95% av oppjustert IFU (tak)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SumBruttoForReduksjonBT" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Samlet brutto før reduksjon for barnetillegg særkullsbarn/fellesbarn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SumBruttoEtterReduksjonBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TotaltAntallBarn" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Totalt antall barn bruker mottar BT for, felles+ særkull</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AndelYtelseAvOIFU" type="xsd:double"/>
      <xsd:element minOccurs="0" name="SumUTBT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ProsentsatsOIFUForTak" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BTFBEtterReduksjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BTSBEtterReduksjon" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TTUtlandTrygdeAvtale">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TTTellerBilateral" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Pro-rata teller. I antall måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TTNevnerBilateral" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Pro-rata nevner. I antall måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FaTTBilateral" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Faktisk trygdetid i avtaleland i måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FramtidigTTAvtaleland" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fremtidig trygdetid i avtaleland i antall  måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MedlemskapForUTEtterTrygdeavtaler">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="OppfyltVedSammenlegging" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om kriteriet er oppfylt eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpptjeningUT">
    <xsd:sequence>
      <xsd:element name="AvkortetBelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Endelig beløp for opptjening dette året.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Brukt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om året inngår i snittberegning (3 beste).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="JustertBelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregnet opptjening i året regulert til virkningstidspunkt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Pgi" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukers lignende pensjonsgivende inntekt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VeietG" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Vektet grunnbeløp</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ar" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Året</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Forstegangstjeneste" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir beløpsstørrelse medregnet fra førstegangstjeneste</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Omsorgsaar" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om bruker har omsorgsopptjening i dette året</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InntektIAvtaleLand" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EOEndringPerson">
    <xsd:annotation>
      <xsd:documentation>Informasjon om etteroppgjør tilknyttet en bruker eller en brukers ektefelle</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="EndretPGI" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Settes til SANN dersom summen av inntektene innrapportert arbeidsinntekt (RAP_ARB) og innrapportert næringsinntekt (RAP_NAR) fra nyttEtteroppgjør er forskjellig fra tilsvarende på forrigeEtteroppgjør. Kun inntekter med kilde fra Skatt (SKD) skal sammenlignes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndretPensjonOgAndreYtelser" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Settes til SANN dersom beløpet for forventet utenlandsinntekt (FORINTUTL) fra nyttEtteroppgjør er forskjellig fra tilsvarende på forrigeEtteroppgjør.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndretUtlandsinntekt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Settes til SANN dersom beløpet for forventet utenlandsinntekt (FORINTUTL) fra nyttEtteroppgjør er forskjellig fra tilsvarende på forrigeEtteroppgjør.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndretPensjonFraUtland" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Settes til SANN dersom beløpet for forventet pensjon fra utlandet (FORPENUTL) fra nyttEtteroppgjør er forskjellig fra tilsvarende på forrigeEtteroppgjør.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RettTilEksportEtterTrygdeavtaler">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="EksportrettEtterEOSForordning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eksportrett etter EOS forordning</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EksportrettEtterTrygdeavtalerEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eksportrett etter trygdeavtaler EOS</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EksportrettEtterAndreTrygdeavtaler" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eksportrett etter andre trygdeavtaler</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvkortningsInformasjonBT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Inntektstak" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvkortingsbelopPerAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FribelopVedVirk" type="xsd:int"/>
      <xsd:element minOccurs="0" name="JusteringsbelopPerAr" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Det justeringsbeløpet som er praktisk mulig å effektuere. Beløpet er lik hva må avkortingsbeløpet justeres med for å oppnå riktig fradrag</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InntektPeriodisert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir at inntekt er periodisert pga kortere periode med barnetillegg enn uføretrygd.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FribelopPeriodisert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir at fribeløp er periodisert pga barnetillegg i deler av året.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggSerkullYK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelBTSB" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyBTSB" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TTUtlandTrygdeAvtaleListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="TTUtlandTrygdeAvtale" type="ufoere:TTUtlandTrygdeAvtale"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Minsteytelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Arsbelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregnet årsbeløp for minsteytelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SatsType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kodeverk K_MINSTEYTELSENIVA</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Sats" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sats</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VurdertSivilstand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kodeverk K_BOR_MED_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OppfyltUngUfor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis Ung Ufør er oppfylt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BenyttetUngUfor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis Ung Ufør er benyttet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EPSover60ar" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om brukerens EPS er over 60 år.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForutgaendeMedlemskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MinstTreArsFMNorge" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Minst tre års FM i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MinstEttArFMNorge" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Minst ett år FM i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OppfyltEtterGamleRegler" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Oppfylt etter gamle regler</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UnntakFraForutgaendeMedlemskap" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unntak fra forutgående medlemskap</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InngangUnntak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EksportUnntak" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FortsattMedlemskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Minst20ArBotid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Minst tyve år botid i Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Eksportforbud" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om personen har eksportforbud eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OpptjentRettTilTPEtterFT" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opptjent rett til TP etter FT</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FortsattMedlemFT" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fortsatt medlem FT</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FriEksportPgaYrkesskade" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fri eksport pga yrkesskade</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EksportRettGarantertTP" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eksport rett garantert TP</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InngangUnntak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EksportUnntak" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KravLinje">
    <xsd:sequence>
      <xsd:element name="KravlinjeID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik identifikasjon av kravlinje.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Kravlinjetype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir kravlinje type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KravlinjeRelatertPerson" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir fnr til personen som er relatert til kravlinjen, for eksempel referanse til ektefelle det søkes ektefelletillegg for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ektefelletillegg">
    <xsd:sequence>
      <xsd:element name="ETinnvilget" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ETbrutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETnetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETbruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETnettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETfradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETfradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETnettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Akkumulert netto hittil i året eksklusiv måned for beregningsperiodens fomDato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ETnettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vilkar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="YrkesskadeResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = YRKESSKADE Sett &lt;YrkesskadeResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="YrkesskadeBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = YRKESSKADE Sett &lt;YrkesskadeBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UngUforResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = GARANTERTUNGUFOR Sett &lt;UngUforResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UngUforBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = GARANTERTUNGUFOR Sett &lt;UngUforResultat&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AlderResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = ALDER Sett &lt;AlderResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AlderBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = ALDER Sett &lt;AlderBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FortsattMedlemsskapResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = FORTSATT_MEDL Sett &lt;FortsattMedlemsskapResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FortsattMedlemsskapBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = FORTSATT_MEDL Sett &lt;FortsattMedlemsskapBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="HensiktsmessigBehandlingResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = HENSIKTSMESSIG_BEH Sett &lt;HensiktsmessigBehandlingResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="HensiktsmessigBehandlingBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = HENSIKTSMESSIG_BEH Sett &lt;HensiktsmessigBehandlingBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NedsattInntektsevneResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = NEDSATT_INNT_EVNE Sett &lt;NedsattInntektsevneResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NedsattInntektsevneBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = NEDSATT_INNT_EVNE Sett &lt;NedsattInntektsevneBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NedsattInntektsevneMedMinstHalvpartenResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = NIE_MIN_HALV Sett &lt;NedsattInntektsevneMedMinstHalvpartenResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NedsattInntektsevneMedMinstHalvpartenBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = NIE_MIN_HALV Sett &lt;NedsattInntektsevneMedMinstHalvpartenBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ForutgaendeMedlemskapResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = FORUT_MEDL Sett &lt;ForutgaendeMedlemskapResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ForutgaendeMedlemskapBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = FORUT_MEDL Sett &lt;ForutgaendeMedlemskapBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="HensiktsmessigArbeidsrettedeTiltakResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = HENS_ARBRETT_TILTAK Sett &lt;HensiktsmessigArbeidsrettedeTiltakResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="HensiktsmessigArbeidsrettedeTiltakBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = HENS_ARBRETT_TILTAK Sett &lt;HensiktsmessigArbeidsrettedeTiltakBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SykdomSkadeLyteResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = SYKDOM_SKADE_LYTE Sett &lt;SykdomSkadeLyteResultat&gt; = Vilkar.Resultat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SykdomSkadeLyteBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn Vilkar i Vedtak.Vilkarsvedtak Hvor Vilkar.vilkarType = SYKDOM_SKADE_LYTE Sett &lt;SykdomSkadeLyteBegrunnelse&gt; = Vilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MedlemskapForUTEtterTrygdeavtalerResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om vilkåret er oppfylt, ikke oppfylt eller ikke vurdert, fra kodeverk K_VILKAR_OPPFYLT_UT_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RettTilEksportEtterTrygdeavtalerResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om vilkåret er oppfylt, ikke oppfylt eller ikke vurdert, fra kodeverk K_VILKAR_OPPFYLT_UT_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FortsattMedlemskap" type="ufoere:FortsattMedlemskap"/>
      <xsd:element minOccurs="0" name="ForutgaendeMedlemskap" type="ufoere:ForutgaendeMedlemskap"/>
      <xsd:element minOccurs="0" name="MedlemskapForUTEtterTrygdeavtaler" type="ufoere:MedlemskapForUTEtterTrygdeavtaler"/>
      <xsd:element minOccurs="0" name="RettTilEksportEtterTrygdeavtaler" type="ufoere:RettTilEksportEtterTrygdeavtaler"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GarantiNordisk27YK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelGN27" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyGN27" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjenlevendetilleggYK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelGT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyGT" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GarantiNordisk27">
    <xsd:sequence>
      <xsd:element name="GarantiNordisk27Innvilget" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet Garantitillegg_Art_27_UT finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;GarantiNordisk27Innvilget&gt; = true Ellers Sett &lt;GarantiNordisk27Innvilget&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27Brutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27bruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27NettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27Netto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27FradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GarantiNordisk27Fradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggFelles">
    <xsd:sequence>
      <xsd:element name="BTFBinnvilget" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet BarnetilleggFellesbarnUT finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;BTFBinnvilget&gt;= true Ellers Sett &lt;BTFBinnvilget&gt;= false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBfribelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fribeløp</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AntallBarnFelles" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Antall barn som er beregnet samtidig</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBbrutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBnetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBbruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBnettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBfradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBfradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBInntektBruktiAvkortning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Summen av inntektene som kan bli lagt til grunn ved avkorting, selv når det ikke fører til avkorting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBBrukersInntektTilAvkortning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukers andel av inntekt til avkortning</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBnettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Akkumulert netto hittil i året eksklusiv måned for beregningsperiodens fomDato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBnettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBinntektAnnenForelder" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Annen forelders inntekt brukt i behovsprøving</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTFBbelopFratrukketAnnenForeldersInntekt" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Beløp som er fratrukket annen forelders inntekt (inntil 1G)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TidligereBelopAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvkortningsInformasjon" type="ufoere:AvkortningsInformasjonBT"/>
      <xsd:element minOccurs="0" name="brukersUforetrygdForJustering" type="xsd:int"/>
      <xsd:element minOccurs="0" name="annenForelderUforetrygdForJustering" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EktefelletilleggYK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelET" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyET" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UforetrygdOrdinerYK">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" name="BelopGammelUT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyUT" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForrigeEtteroppgjor">
    <xsd:annotation>
      <xsd:documentation>Etteroppgjørshistorikken skal identifisere alle andre etteroppgjørskrav (TPEN104 hentKravListe) ihht følgende behandlingsregler:

   1. 

Kravet gjelder etteroppgjør (UT_EO) 
      · det tilknyttede vedtaket har status iverksatt (IVERKS)eller der det tilknyttede vedtaket er av typen internkontroll (INTERNKON) og har status avbrutt (AVBR).

      · virkningsdato er samme år som vedtakets virkningsdato (det som er sendt til hentBrevgruppe)
   2. 

Kravet gjelder vurdering av etteroppgjør (UT_VURDERING_EO)
      · har et vedtak tilknyttet seg

      · virkningsdato er samme år som vedtakets virkningsdato (det som er sendt til hentBrevgruppe)
   3. 

Fjern kravet som brevet omhandler</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="eoEndringBruker" type="ufoere:EOEndringPerson">
        <xsd:annotation>
          <xsd:documentation>Datatype som inneholder informasjon tilknyttet etteroppgjør til en bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="eoEndringEPS" type="ufoere:EOEndringPerson">
        <xsd:annotation>
          <xsd:documentation>Datatype som inneholder informasjon tilknyttet etteroppgjør tilhørende ektefellen til en bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TidligereEOIverksatt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Settes til SANN dersom det tidligere har vært et iverksatt etteroppgjørskrav. Det vil si at den filtrerte listen (dokumentert på compleks type EtteroppgjorHistorikk) skal inneholde et iverksatt etteropgjørskrav.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ResultatForrigeEO" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Settes til etteroppgjørsresultatet for kravet ovenfor (seneste iverksatte etteroppgjørskrav). Populeres kun dersom feltet TidligereEOIverksatt er SANN.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VedtakGjennomfortVenteperiode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Dersom forrige etteroppgjør er et etteroppgjørvurderingskrav, og vedtaket som blir sendt inn til HentBrevgruppe har et krav som er av typen etteroppgjør (UT_EO), så settes denne til SANN.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ResultatVarsel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Etteroppgjørsresultatet for etteroppgjørsvurderingskravet. Settes kun dersom VedtakGjennomfortVenteperiode utledes til å være sann.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SumFratrekkUTtilBruker" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkUTtilEPS" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkBTtilBruker" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SumFratrekkBTtilEPS" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EtteroppgjorResultat">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="InntektUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektTSB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InntektTFB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="EtteroppgjorResultatType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ToleransegrensePositiv" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ToleransegrenseNegativ" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvviksbelopUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvviksbelopTSB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvviksbelopTFB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Avviksbelop" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Rettsgebyr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TotalBelopUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TotalBelopTSB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TotalBelopTFB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TotalBelop" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TidligereBelopUT" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TidligereBelopTSB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TidligereBelopTFB" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TidligereBelop" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdetidAvdod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FaTTNorge" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FramtidigTTNorsk" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RedusertFramtidigTrygdetid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FaTTEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTTellerEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTNevnerEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FramtidigTTEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTAnvendtEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTNordisk" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTTellerNordisk" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTNevnerNordisk" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FaTT_A10_netto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TTUtlandTrygdeAvtale" type="ufoere:TTUtlandTrygdeAvtale"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvkortningsInformasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Oifu" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Oppjustert inntekt før uførhet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Oieu" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Oppjustert inntekt etter uførhet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Belopsgrense" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beløpsgrense</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Inntektsgrense" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Inntekt under denne grensen gir ikke utslag i avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Inntektstak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Inntekt over dette taket gir ingen uføretrygd</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UgradertBruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregnet årlig bruttobeløp etter 100% uføregrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Kompensasjonsgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir dekningsgrad av tapt arbeidsevne</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Utbetalingsgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Utbetalingsgrad etter inntektsavkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ForventetInntekt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sum av inntektskomponentene som ble lagt til grunn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InntektsgrenseNesteAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InntektsavkortingType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsVilkar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="IVSInntekt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir inntekt ved skadetidspunkt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IVSBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IFUInntekt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>IFU (Inntekt før Uføre).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IFUBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IFUAngittIFU" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IEUInntekt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Inntekt etter uføre</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="IEUBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uforetidspunkt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato for uføretidspunkt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UforetidspunktBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="YrkesskadeGrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="YrkeskadeGradBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Skadetidspunkt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato for skadetidspunkt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SkadetidspunktBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uforegrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir uføregrad som prosent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UforegradBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Virkningstidpunkt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kall EPEN106 hentVirkningstidspunkt, denne returnerer et beregningsvilkar.

SETT &lt;Virkningstidpunkt&gt; = beregningsvilkar.dato SETT &lt;VirkningBegrunnelse&gt; = beregningsvilkar.Standardbegrunnelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VirkningBegrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Standardbegrunnelse fra kodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Trygdetid" type="ufoere:Trygdetid"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsgrunnlagAvdodOrdiner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Arsbelop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OpptjeningUTListe" type="ufoere:OpptjeningUTListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningUforePeriode">
    <xsd:sequence>
      <xsd:element name="BeregningId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id til beregningsresultatet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningVirkningDatoFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Virkningstidspunktet ytelsen kan utbetales fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningVirkningDatoTom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Virkningstidspunktet ytelsen kan utbetales til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningBenyttetSivilstand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>”Pensjonsfaglig” sivilstand benyttet i beregningen. Brukes av BeregningSammendrag. Kodeverk: K_BOR_MED_T.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningBrukerSivilstand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukers sivilstand (som definert i TPS). Kodeverk: K_SIVILSTAND_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningSivilstandAnvendt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn verdi i beregningSivilstandMap for nøkkel Vedtak.BeregningsresultatUforetrygd.beregningsresultatId. beregningSivilstandMap er et utparameter fra TPENnnxx hentBrevgruppe.

Mapping av sivilstander gjøres for sivilstandsverdier som brev forventer er forskjellige fra de som er brukt internt i PEN. Kodeverket BREV_SIVILSTAND_ANVENDT inneholder en mapping fra TPS-sivilstand og anvendt sivilstand til den sivilstandsverdien som skal brukes i brev.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndringArsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>En årsak for eventuell manuell endring utført av saksbehandler. Kodeverk: K_ARSAK_ENDRING</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uttaksgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uttaksgraden av alderspensjon som er benyttet i beregningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Total" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Totalt, månedlig beløp til utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir sum netto per mnd</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir sum netto per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SETT &lt;TotalNettoAkk&gt; ved å kalle EPEN115 BeregningsresultatUforetrygd.summerHittilUtbetaltIAr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SETT &lt;TotalNettoRestAr&gt; ved å kalle EPEN116 BeregningsresultatUforetrygd.summerNettoRestAr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BelopOkt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopRedusert" type="xsd:string"/>
      <xsd:element name="Belopsendring" type="ufoere:Belopsendring"/>
      <xsd:element name="BeregningYtelsesKomp" type="ufoere:BeregningYtelsesKomp"/>
      <xsd:element minOccurs="0" name="Uforetrygdberegning" type="ufoere:Uforetrygdberegning"/>
      <xsd:element minOccurs="0" name="Reduksjonsgrunnlag" type="ufoere:Reduksjonsgrunnlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ufoerevedtak">
    <xsd:sequence>
      <xsd:element name="VedtaksID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id for vedtaket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VirkningFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Virkningsdatoen, fra og med, vedtaket gjelder fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VirkningTom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eventuell dato vedtaket er tidsbegrenset til og skal opphøre fra, hvis innvilget. Settes kun i tidsbegrensede ytelser.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sakskode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik id som identifiserer saken vedtaket er knyttet til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Vedtakstype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir type vedtak.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VedtakFattetDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato vedtaket ble fattet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BehandlingType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir behandlingstype f eks automatisk, manuell osv. Forteller om vedtaket har blitt behandlet automatisk av en prosess eller batch, eller om det ble behandlet av en saksbehandler. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VedtakGjelderPerson" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer eller D-nummer til personen vedtaket gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AnsvarligSaksbehandler" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir hvilken saksbehandler som har behandlet vedtaket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ForsteUforetidspunkt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Det første uføretidspunkt blant alle uforeperiodene i uforeperiodeListe. Settes av TPEN535 bestemBeregnetUforehistorikkUT</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reaktiviseringsforskriften" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Forstevirk = tidligste virk i vedtak.beregnetUforehistorikk.uforeperiodeListe

HVIS Vedtak.beregnetUforehistorikk.garantiGrad != null OG ForsteVirk &lt; 1.1.2004 SETT &lt;Reaktiviseringsforskriften&gt; = true ELLERS SETT &lt;Reaktiviseringsforskriften&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Faktoromregnet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SETT &lt;Faktoromregnet&gt; ved å kalle EPEN096 vedtak.isFaktoromregnetEllerManueltOverstyrt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VilkarsVedtakList" type="ufoere:VilkarsVedtakList"/>
      <xsd:element minOccurs="0" name="TrygdetidAvdod" type="ufoere:TrygdetidAvdod"/>
      <xsd:element name="Kravhode" type="ufoere:Kravhode"/>
      <xsd:element minOccurs="0" name="EtteroppgjorResultat" type="ufoere:EtteroppgjorResultat"/>
      <xsd:element name="BeregningsData" type="ufoere:BeregningsData"/>
      <xsd:element minOccurs="0" name="ForrigeEtteroppgjor" type="ufoere:ForrigeEtteroppgjor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gjenlevendetillegg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GTinnvilget" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet Gjenlevendetillegg finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;GTinnvilget&gt; = true Ellers Sett &lt;GTinnvilget&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTbrutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTnetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTbruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTnettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTfradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTfradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTnettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Akkumulert netto hittil i året eksklusiv måned for beregningsperiodens fomDato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="GTnettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PeriodisertAvvikEtteroppgjor" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NyttGjenlevendetillegg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="GjenlevendetilleggInformasjon" type="ufoere:GjenlevendetilleggInformasjon"/>
      <xsd:element minOccurs="0" name="TidligereBelopAr" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ytelsesgrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Faktor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Holder verdien 0.66.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Formelkode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kodeverk K_FORMELKODE_T.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Arsbelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir egenopptjent uforetrygd i årsbeløp for beregningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagYrkesskadeBest" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om BGordiner er lagt til grunn i Yrkesskade-beregningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagYrkesskadeArsbelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir beregningsgrunnlaget i årsbeløp for beregningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="InntektVedSkadetidspunktet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregningsvilkåret inntekt ved skadetidspunkt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagOrdinar" type="ufoere:BeregningsgrunnlagOrdinar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Belopsendring">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UforetrygdOrdinerYK" type="ufoere:UforetrygdOrdinerYK"/>
      <xsd:element minOccurs="0" name="EktefelletilleggYK" type="ufoere:EktefelletilleggYK"/>
      <xsd:element minOccurs="0" name="BarnetilleggFellesYK" type="ufoere:BarnetilleggFellesYK"/>
      <xsd:element minOccurs="0" name="BarnetilleggSerkullYK" type="ufoere:BarnetilleggSerkullYK"/>
      <xsd:element minOccurs="0" name="GarantiNordisk27YK" type="ufoere:GarantiNordisk27YK"/>
      <xsd:element minOccurs="0" name="GjenlevendetilleggYK" type="ufoere:GjenlevendetilleggYK"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KravlinjeListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="KravLinje" type="ufoere:KravLinje"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VilkarsVedtakList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VilkarsVedtak" type="ufoere:VilkarsVedtak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningUfore">
    <xsd:sequence>
      <xsd:element name="BeregningId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id til beregningsresultatet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningVirkningDatoFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Virkningstidspunktet ytelsen kan utbetales fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningVirkningDatoTom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Virkningstidspunktet ytelsen kan utbetales til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningBenyttetSivilstand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>”Pensjonsfaglig” sivilstand benyttet i beregningen. Brukes av BeregningSammendrag. Kodeverk: K_BOR_MED_T.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningBrukerSivilstand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukers sivilstand (som definert i TPS). Kodeverk: K_SIVILSTAND_T</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningSivilstandAnvendt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Finn verdi i beregningSivilstandMap for nøkkel Vedtak.BeregningsresultatUforetrygd.beregningsresultatId. beregningSivilstandMap er et utparameter fra TPENnnxx hentBrevgruppe.

Mapping av sivilstander gjøres for sivilstandsverdier som brev forventer er forskjellige fra de som er brukt internt i PEN. Kodeverket BREV_SIVILSTAND_ANVENDT inneholder en mapping fra TPS-sivilstand og anvendt sivilstand til den sivilstandsverdien som skal brukes i brev.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndringArsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>En årsak for eventuell manuell endring utført av saksbehandler. Kodeverk: K_ARSAK_ENDRING</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Uttaksgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uttaksgraden av alderspensjon som er benyttet i beregningen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Total" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Totalt, månedlig beløp til utbetaling.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir sum netto per mnd</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir sum netto per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SETT &lt;TotalNettoAkk&gt; ved å kalle EPEN115 BeregningsresultatUforetrygd.summerHittilUtbetaltIAr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalNettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>SETT &lt;TotalNettoRestAr&gt; ved å kalle EPEN116 BeregningsresultatUforetrygd.summerNettoRestAr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BelopOkt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopRedusert" type="xsd:string"/>
      <xsd:element name="Belopsendring" type="ufoere:Belopsendring">
        <xsd:annotation>
          <xsd:documentation>”Pensjonsfaglig” sivilstand benyttet i beregningen. Brukes av BeregningSammendrag. Kodeverk: K_BOR_MED_T.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningYtelsesKomp" type="ufoere:BeregningYtelsesKomp"/>
      <xsd:element minOccurs="0" name="Uforetrygdberegning" type="ufoere:Uforetrygdberegning"/>
      <xsd:element minOccurs="0" name="Reduksjonsgrunnlag" type="ufoere:Reduksjonsgrunnlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VilkarsVedtak">
    <xsd:sequence>
      <xsd:element name="VilkarsvedtakID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id for et vilkårsvedtak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarVirkningFom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato vilkårsvedtaket har virkning fra</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VilkarVirkningTom" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato vilkårsvedtaket har virkning til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarKravlinjeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken type kravlinje vilkårsvedtaket relaterer seg til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarVedtakResultat" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir det resultatet til vilkårsvedtaket. Settes av konsumenten av tjenesten, eventuelt basert på anbefaltResultat. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarGjelderPerson" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer eller D-nummer til personen vilkårsvedtaket gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VilkarAnvendtVurdering" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken vurdering saksbehandler har lagt til grunn for resultatvurderingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Motregning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som viser at det skal beregnes motregning for dette vilkårsvedtaket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ViderefortilUT" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som viser om uførepensjon skal videreføres til uføretrygd.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Begrunnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Endelig begrunnelse for vilkårsvedtakresultatet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BeregningsVilkar" type="ufoere:BeregningsVilkar"/>
      <xsd:element name="Vilkar" type="ufoere:Vilkar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kravhode">
    <xsd:sequence>
      <xsd:element name="VedtakKravhode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik identifikasjon av et kravhode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KravGjelder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hva (kravtype) kravet gjelder. Kravtypen angir hvilken type saksbehandling man ønsker å utføre og angir kategorier av funksjonalitetsstyring  for saksbehandling. Feil valg av kravtype kan føre til feil ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KravStatus" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir status for kravet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KravMottatDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dato kravet ble mottatt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravKomplettDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir dato når kravet er ferdigbehandlet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravTilbakekreving" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir type tilbakekreving som er benyttet hvis kravet gjelder tilbakekreving.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravVelgType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kode som angir hvilken detaljering av kravet som skal vises/lagres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravAvdodFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis Vedtak.Kravhode.arsak.kravArsakType = TILST_DOD Sett &lt;KravAvdodFnr&gt; = Vedtak.Kravhode.arsak.person.fnr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="KravArsakType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Type årsak til at kravet er opprettet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AvdodFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Refererer til en eventuell avdød person som er relevant i behandling av kravet. Feltet er gyldig i tilfeller der kravet omfatter ”Gjenlevenderett” og benyttes av saksbehandler for å hente den avdødes persongrunnlag.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ForrigeVedtakPaTidslinjen" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik Id for vedtaket til det forrige vedtaket på tidslinjen, som er vedtaket som var løpende på saken i tidsrommet umiddelbart før vedtakets virkFom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VurdereTrygdeavtale" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om trygdeavtale skal vurderes for personen kravet gjelder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erRevurdPgaReduksjonOppt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som er satt til SANN dersom dette er en revurdering fordi det har skjedd en reduksjon i opptjening, USANN ellers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SokerBT" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis det finnes en KravLinje i Vedtak.Kravhode.Kravlinjeliste Hvor KravLinje.KravlinjeType = BT Sett &lt;SokerBT&gt; = true Ellers Sett &lt;SokerBT&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SokerET" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis det finnes en KravLinje i Vedtak.Kravhode.Kravlinjeliste Hvor KravLinje.KravlinjeType = ET Sett &lt;SokerET&gt; = true Ellers Sett &lt;SokerET&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="onsketVirkningsDato" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Datoen som brukeren ønsker at ytelse skal iverksettes fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BoddArbeidUtland" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir om personen som kravet gjelder har bodd eller arbeidet utenlands.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BoddArbeidUtlandAvdod" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om brukerens avdøde E/P/S har bodd eller arbeidet i utlandet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BoddArbeidUtlandEps" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om brukerens E/P/S har bodd eller arbeidet i utlandet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BehandlendeEnhet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>EnhetId til den behandlende enheten på kravet. Dette kan være enten enheten som er eierenhet eller enhetene som har midlertidig autorisasjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NorgeBehandlendeLand" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flagg som angir om Norge er behandlende land.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BrukerKonvertertUP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="KravlinjeListe" type="ufoere:KravlinjeListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trygdetid">
    <xsd:sequence>
      <xsd:element name="FaTTNorge" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Faktiske trygdetidsmåneder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FramtidigTTNorsk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Framtidig trygdetid i hele år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RedusertFramtidigTrygdetid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvorvidt framtidig trygdetid er redusert</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FaTTEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Prorata trygdetid antall måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTTellerEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Prorata EØS pensjon, beregnet verdi for telleren i proratierseringsbrøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTNevnerEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Prorata EØS pensjon, beregnet verdi for nevneren proratierseringsbrøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FramtidigTTEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fremtidig trygdetid for EØS alternativet, i måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTAnvendtEOS" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Trygdetid antall mnd anvendt etter EØS alternativet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTNordisk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Nordisk konvensjon, faktisk trygdetid antall måneder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTTellerNordisk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregnet verdi for telleren i proratierseringsbrøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTNevnerNordisk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beregnet verdi for nevneren i proratierseringsbrøk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FaTT_A10_netto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Framtidig trygdetid etter artikkel 10,i måneder, brukes ved nordisk konvensjon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TTUtlandTrygdeAvtaleListe" type="ufoere:TTUtlandTrygdeAvtaleListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsgrunnlagOrdinar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagOrdinerArsbelop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AntallArInntektIAvtaleland" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AntallArOver1G" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OpptjeningUTListe" type="ufoere:OpptjeningUTListe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningYtelsesKomp">
    <xsd:sequence>
      <xsd:element name="UforetrygdOrdiner" type="ufoere:UforetrygdOrdiner"/>
      <xsd:element name="Ektefelletillegg" type="ufoere:Ektefelletillegg"/>
      <xsd:element name="BarnetilleggFelles" type="ufoere:BarnetilleggFelles"/>
      <xsd:element name="BarnetilleggSerkull" type="ufoere:BarnetilleggSerkull"/>
      <xsd:element name="GarantiNordisk27" type="ufoere:GarantiNordisk27"/>
      <xsd:element minOccurs="0" name="Gjenlevendetillegg" type="ufoere:Gjenlevendetillegg"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BarnetilleggSerkull">
    <xsd:sequence>
      <xsd:element name="BTSBinnvilget" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis objektet BarnetilleggSerkullsbarnUT finnes i listen Vedtak.BeregningsresultatUforetrygd.pensjonUnderUtbetaling.ytelseskomponenter Sett &lt;BTSBinnvilget&gt; = true Ellers Sett &lt;BTSBinnvilget&gt; = false</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBfribelop" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fribeløp</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AntallBarnSerkull" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Antall barn som er beregnet samtidig</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBbrutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBnetto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBbruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBnettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBfradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBfradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBInntektBruktiAvkortning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Summen av inntektene som kan bli lagt til grunn ved avkorting, selv når det ikke fører til avkorting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBnettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Akkumulert netto hittil i året eksklusiv måned for beregningsperiodens fomDato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBnettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BTSBinntektstak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Inntekt som fører til at barnetillegget ikke blir utbetalt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TidligereBelopAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AvkortningsInformasjon" type="ufoere:AvkortningsInformasjonBT"/>
      <xsd:element minOccurs="0" name="brukersUforetrygdForJustering" type="xsd:int"/>
      <xsd:element minOccurs="0" name="brukersGjenlevendetilleggForJustering" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpptjeningUTListe">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="OpptjeningUT" type="ufoere:OpptjeningUT"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UforetrygdOrdiner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BruttoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsbeløp, uavkortet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Brutto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp før avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NettoPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir årlig utbetalt sum ytelse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Netto" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Avrundet månedsbeløp etter avkorting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FradragPerAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ytelsens fradrag per år</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Fradrag" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fradraget: brutto - netto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="YtelsesgrunnlagBest" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angir hvorvidt egenopptjent uforetrygd er større enn minsteytelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NettoAkk" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Akkumulert netto hittil i året eksklusiv måned for beregningsperiodens fomDato.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NettoRestAr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gjenstående ytelse bruker har rett på i året. Beløpet angir gjenstående beløp brukeren har rett på for året som beregningsperioden starter, og inkluderer måneden det beregnes fra (beregningsperiodens fomDato (samme som beregningsresultatets virkFom-dato).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PeriodisertAvvikEtteroppgjor" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AvkortningsInformasjon" type="ufoere:AvkortningsInformasjon"/>
      <xsd:element minOccurs="0" name="Minsteytelse" type="ufoere:Minsteytelse"/>
      <xsd:element minOccurs="0" name="Ytelsesgrunnlag" type="ufoere:Ytelsesgrunnlag"/>
      <xsd:element minOccurs="0" name="AvkortingsbelopPerAr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TidligereBelopAr" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningsData">
    <xsd:sequence>
      <xsd:element name="BeregningAntallPerioder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Antall BeregningsresultatUforetrygd-objekter i Vedtak.beregningsresultatUforetrygd-objekter i Vedtak.beregningsresultatListe.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BeregningsresultatTilRevurderingTotalNetto" type="xsd:string"/>
      <xsd:element name="BeregningUfore" type="ufoere:BeregningUfore"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BeregningUforePeriode" type="ufoere:BeregningUforePeriode"/>
      <xsd:element minOccurs="0" name="BeregningsRelasjoner" type="ufoere:BeregningsRelasjoner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtaksbrev">
    <xsd:sequence>
      <xsd:element name="SaksData" type="sak:SaksData"/>
      <xsd:element name="Grunnlag" type="grunnlag:Grunnlag"/>
      <xsd:element name="Vedtaksdata" type="ufoere:Ufoerevedtak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjenlevendetilleggInformasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Uforetidspunkt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AnvendtTrygdetid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Utenlandsberegning" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Dodstidspunkt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MinsteYtelseBenyttetUngUfor" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Yrkesskade" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Yrkesskadegrad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SkadetidspunktYrkesskade" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagAvdodYrkesskadeBest" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagAvdodYrkesskadeArsbelop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InntektVedSkadetidspunktet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AntallArInntektIAvtaleland" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BeregningsgrunnlagAvdodOrdiner" type="ufoere:BeregningsgrunnlagAvdodOrdiner"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>