pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltUttak/beregningAP2016Periode/beregningAP2016Periode.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016Periode" xmlns:bap2016p="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016Periode" xmlns:info="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="BeregningAP2016Periode">
    <xsd:sequence>
      <xsd:element name="VirkdatoFom" type="xsd:string"/>
      <xsd:element name="VirkdatoTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TotalPensjon" type="xsd:int"/>
      <xsd:element name="BeregningYtelsesKomp" type="info:BeregningYtelsesKomp"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>