nav-journal-v3-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/journal/v3/journal.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="journal" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v3" xmlns:tns="http://nav.no/tjeneste/virksomhet/journal/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/journal/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/journal/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/journal/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/journal/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDokumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentDokumentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentDokumentdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
      <xsd:element name="hentDokumentjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
       <xsd:element name="hentKjerneJournalpostListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentKjerneJournalpostListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKjerneJournalpostListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentKjerneJournalpostListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKjerneJournalpostListeSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentKjerneJournalpostListeUgyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentDokumentURL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="meldinger:HentDokumentURLRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Response" type="meldinger:HentDokumentURLResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDokumentURLsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentDokumentURLdokumentIkkeFunnet" type="feil:DokumentIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentRequest">
    <wsdl:part element="tns:hentDokument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentResponse">
    <wsdl:part element="tns:hentDokumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentSikkerhetsbegrensning">
    <wsdl:part element="tns:hentDokumentsikkerhetsbegrensning" name="sikkerhetsbegrensning"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentDokumentIkkeFunnet">
    <wsdl:part element="tns:hentDokumentdokumentIkkeFunnet" name="dokumentIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentJournalpostIkkeFunnet">
    <wsdl:part element="tns:hentDokumentjournalpostIkkeFunnet" name="journalpostIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentKjerneJournalpostListeRequest">
    <wsdl:part element="tns:hentKjerneJournalpostListe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentKjerneJournalpostListeResponse">
    <wsdl:part element="tns:hentKjerneJournalpostListeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentKjerneJournalpostListeSikkerhetsbegrensning">
    <wsdl:part element="tns:hentKjerneJournalpostListeSikkerhetsbegrensning" name="sikkerhetsbegrensning"/>
  </wsdl:message>
  <wsdl:message name="hentKjerneJournalpostListeUgyldigInput">
    <wsdl:part element="tns:hentKjerneJournalpostListeUgyldigInput" name="ugyldigInput"/>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLRequest">
    <wsdl:part name="parameters" element="tns:hentDokumentURL">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURLResponse">
    <wsdl:part name="parameters" element="tns:hentDokumentURLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentDokumentURLsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDokumentURL_dokumentIkkeFunnet">
    <wsdl:part name="dokumentIkkeFunnet" element="tns:hentDokumentURLdokumentIkkeFunnet">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="Journal_v3">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentDokument">
      <wsdl:input message="tns:hentDokumentRequest"/>
      <wsdl:output message="tns:hentDokumentResponse"/>
      <wsdl:fault message="tns:hentDokumentSikkerhetsbegrensning" name="hentDokumentFault"/>
      <wsdl:fault message="tns:hentDokumentDokumentIkkeFunnet" name="hentDokumentFault1"/>
      <wsdl:fault message="tns:hentDokumentJournalpostIkkeFunnet" name="hentDokumentFault2"/>
    </wsdl:operation>
    <wsdl:operation name="hentKjerneJournalpostListe">
      <wsdl:input message="tns:hentKjerneJournalpostListeRequest"/>
      <wsdl:output message="tns:hentKjerneJournalpostListeResponse"/>
      <wsdl:fault message="tns:hentKjerneJournalpostListeSikkerhetsbegrensning" name="hentKjerneJournalpostListeFault"/>
      <wsdl:fault message="tns:hentKjerneJournalpostListeUgyldigInput" name="hentKjerneJournalpostListeFault1"/>
    </wsdl:operation>
    <wsdl:operation name="hentDokumentURL">
      <wsdl:input message="tns:hentDokumentURLRequest">
      </wsdl:input>
      <wsdl:output message="tns:hentDokumentURLResponse">
      </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentDokumentURL_sikkerhetsbegrensning">
      </wsdl:fault>
      <wsdl:fault name="dokumentIkkeFunnet" message="tns:hentDokumentURL_dokumentIkkeFunnet">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>