enhet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/enhet/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/virksomhet/tjenester/enhet/meldinger/v1" version="1.1" xmlns:enhet="http://nav.no/virksomhet/organisering/enhet/v1" xmlns:enhetOgRessurs="http://nav.no/virksomhet/organisering/enhetOgRessurs/v1" xmlns:felles="http://nav.no/virksomhet/tjenester/felles/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/enhet/meldinger/v1">
  <xsd:import namespace="http://nav.no/virksomhet/organisering/enhetOgRessurs/v1" schemaLocation="../../../organisering/enhetOgRessurs/enhetOgRessurs.xsd"/>
  <xsd:import namespace="http://nav.no/virksomhet/organisering/enhet/v1" schemaLocation="../../../organisering/enhet/enhet.xsd"/>
  <xsd:import namespace="http://nav.no/virksomhet/tjenester/felles/v1" schemaLocation="../../felles/felles.xsd"/>
  <xsd:complexType name="FinnEnehetListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinnEnhetListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="enhetListe" type="enhet:Enhet">
        <xsd:annotation>
          <xsd:documentation>Liste av NAV-enheter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FinnEnehetListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fagomradesok">
    <xsd:sequence>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fagområdet som outputlisten med NAV-enheter skal filtreres på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="enhetstypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Enhetstypen som outputlisten med NAV-enheter skal filtreres på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnEnhetListeRequest">
    <xsd:sequence>
      <xsd:element name="fagomradesok" type="meldinger:Fagomradesok">
        <xsd:annotation>
          <xsd:documentation>Fagområdet og enhetstypen som det søkes etter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentEnhetListeRequest">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ressursId" type="enhetOgRessurs:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Identen til NAV-ressurs det skal slås opp på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentEnhetListeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ressurs" type="enhetOgRessurs:Ressurs">
        <xsd:annotation>
          <xsd:documentation>NAV-ressurs det ble spurt på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="enhetListe" type="enhetOgRessurs:Enhet">
        <xsd:annotation>
          <xsd:documentation>Liste over alle aktive tilknytninger en NAV-ressurs har til ulike enheter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="enhetOgRessurs:HentEnhetListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentRessursListeRequest">
    <xsd:sequence>
      <xsd:element name="enhetId" type="enhetOgRessurs:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Ident på NAV-enhet, 4 siffer. Må være gyldig ident i baksystemet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentRessursListeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhet" type="enhetOgRessurs:Enhet">
        <xsd:annotation>
          <xsd:documentation>Enheten det ble spurt på.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ressursListe" type="enhetOgRessurs:Ressurs">
        <xsd:annotation>
          <xsd:documentation>Liste over alle NAV-ressurs enheten har aktive tilknytninger til.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ressursIkkeFunnetAvvikListe" type="enhetOgRessurs:RessursIkkeFunnetAvvik">
        <xsd:annotation>
          <xsd:documentation>En liste med informasjon om ressurser som ikke ble funnet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="enhetOgRessurs:HentRessursListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>