nav-infotrygdsak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdSak/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/informasjon">
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Identifikator Begrep-619</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Tema">
    <xsd:annotation>
      <xsd:documentation>Felles kodeverk for tema</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="https://confluence.adeo.no/pages/viewpage.action?pageId=220537850" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Resultat">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for resultatet til behandlet sak</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="https://confluence.adeo.no/pages/viewpage.action?pageId=220537850" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Periode fom og tom</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for status</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="https://confluence.adeo.no/pages/viewpage.action?pageId=220537850" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandlingstema">
    <xsd:annotation>
      <xsd:documentation>Felles kodeverk for behandlingstema</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="https://confluence.adeo.no/pages/viewpage.action?pageId=220537850" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til felles kodeverk</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sakstyper">
    <xsd:annotation>
      <xsd:documentation>Kodeverk for type sak</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="https://confluence.adeo.no/pages/viewpage.action?pageId=220537850" name="kodeverksRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Referanse til kodeverket</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="InfotrygdSak">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en infotrygdsak</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Saksnummer til saken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registrert" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Registreringsdato for sak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tema" type="informasjon:Tema">
        <xsd:annotation>
          <xsd:documentation>Kode for tema fra felles kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="behandlingstema" type="informasjon:Behandlingstema">
        <xsd:annotation>
          <xsd:documentation>Kode for behandlingstema fra felles kodeverk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="type" type="informasjon:Sakstyper">
        <xsd:annotation>
          <xsd:documentation>Infotrygd intern kode for sakstype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="informasjon:Status">
        <xsd:annotation>
          <xsd:documentation>Infotrygd intern kode for status på saken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="resultat" type="informasjon:Resultat">
        <xsd:annotation>
          <xsd:documentation>Infotrygd intern kode for resultat på saken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="saksbehandlerId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Saksbehandler ident (siste ved flere)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vedtatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for vedtaket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="iverksatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>iverksettelsesdato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endret" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>dato for siste endring på sak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfotrygdVedtak">
    <xsd:complexContent>
      <xsd:extension base="informasjon:InfotrygdSak">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="opphoerFom" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>