nav-fim-inntekt-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/inntekt/v3/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/inntekt/v3/meldinger" version="3.0" xmlns:hentAbonnerteInntekterBolk="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/hentAbonnerteInntekterBolk" xmlns:hentInntektListe="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/hentInntektListe" xmlns:inntekt="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/inntekt" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/inntekt/v3/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/hentAbonnerteInntekterBolk" schemaLocation="../informasjon/hentAbonnerteInntekterBolk/hentAbonnerteInntekterBolk.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/hentInntektListe" schemaLocation="../informasjon/hentInntektListe/hentInntektListe.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/inntekt/v3/informasjon/inntekt" schemaLocation="../informasjon/inntekt/inntekt.xsd"/>
  <xsd:complexType name="HentInntektListeBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="identListe" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Liste over brukeres identiteter (slik som fnr, dnr, aktoerId) det skal hentes inntekter for. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ainntektsfilter" type="inntekt:Ainntektsfilter">
        <xsd:annotation>
          <xsd:documentation>A-inntektsfilter for å begrense uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filterversjon" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for hvilken versjon av filteret som skal benyttes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uttrekksperiode" type="inntekt:Uttrekksperiode">
        <xsd:annotation>
          <xsd:documentation>Perioden for uttrekket inntekten hentes fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaal" type="inntekt:Formaal">
        <xsd:annotation>
          <xsd:documentation>Presisering av hvilket formål inntektene skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDetaljerteAbonnerteInntekterResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsInntektIdent" type="hentInntektListe:ArbeidsInntektIdent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeForOpplysningspliktigRequest">
    <xsd:sequence>
      <xsd:element name="opplysningspliktig" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Brukers identifikasjonsnummer, enten fnr/dnr/akoerId, inntekten skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ainntektsfilter" type="inntekt:Ainntektsfilter">
        <xsd:annotation>
          <xsd:documentation>A-inntektsfilter for å begrense uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filterversjon" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for hvilken versjon av filteret som skal benyttes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uttrekksperiode" type="inntekt:Uttrekksperiode">
        <xsd:annotation>
          <xsd:documentation>Perioden for uttrekket inntekten hentes fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaal" type="inntekt:Formaal">
        <xsd:annotation>
          <xsd:documentation>Presisering av hvilket formål inntektene skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDetaljerteAbonnerteInntekterRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Brukers identifikasjonsnummer, enten fnr/dnr/akoerId, inntekten skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaal" type="inntekt:Formaal">
        <xsd:annotation>
          <xsd:documentation>Presisering av hvilket formål inntektene skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ainntektsfilter" type="inntekt:Ainntektsfilter">
        <xsd:annotation>
          <xsd:documentation>A-inntektsfilter for å begrense uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filterversjon" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for hvilken versjon av filteret som skal benyttes. Må ikke forveksles med feltet innsynHistoriskInntekter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uttrekksperiode" type="inntekt:Uttrekksperiode">
        <xsd:annotation>
          <xsd:documentation>Perioden for uttrekket inntekten hentes fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innsynHistoriskInntekter" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Historisk dato for å se inntekter som var gyldige ved dette gitte tidspunktet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsInntektIdent" type="hentInntektListe:ArbeidsInntektIdent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Brukers identifikasjonsnummer, enten fnr/dnr/akoerId</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ainntektsfilter" type="inntekt:Ainntektsfilter">
        <xsd:annotation>
          <xsd:documentation>A-inntektsfilter for å begrense uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filterversjon" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for hvilken versjon av filteret som skal benyttes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uttrekksperiode" type="inntekt:Uttrekksperiode">
        <xsd:annotation>
          <xsd:documentation>Perioden for uttrekket inntekten hentes fra.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaal" type="inntekt:Formaal">
        <xsd:annotation>
          <xsd:documentation>Presisering av hvilket formål inntektene skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeBolkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsInntektIdentListe" type="inntekt:ArbeidsInntektIdent"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sikkerhetsavvikListe" type="inntekt:Sikkerhetsavvik">
        <xsd:annotation>
          <xsd:documentation>Liste med sikkerhetsavvik returneres istellet for å returnere tekniskt feil</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentAbonnerteInntekterBolkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="abonnerteInntekterPerIdentListe" type="hentAbonnerteInntekterBolk:AbonnerteInntekterPerIdent">
        <xsd:annotation>
          <xsd:documentation>Liste med identer og tilhørende månedlige totalbeløp for faktiske inntekter og/eller avvik dersom det er avvik på inntektsinformasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="unntakForIdentListe" type="hentAbonnerteInntekterBolk:UnntakForIdent">
        <xsd:annotation>
          <xsd:documentation>Liste med unntak for de identer som det har feilet å hente inntekter på, samt en beskrivelse av unntaket som skjedde.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeForOpplysningspliktigResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsInntektIdent" type="inntekt:ArbeidsInntektIdent">
        <xsd:annotation>
          <xsd:documentation>Hver inntektsmottaker under den opplysningspliktige returneres i en liste.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sikkerhetsavvikListe" type="inntekt:Sikkerhetsavvik"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arbeidsgiveravgift" type="inntekt:Arbeidsgiveravgift"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentForventetInntektResponse">
    <xsd:sequence>
      <xsd:element name="ident" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Brukerens aktoerId, fnr, dnr eller tilsvarende.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="forventetInntektListe" type="inntekt:ForventetInntekt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentAbonnerteInntekterBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="abonnerteInntekterIdentOgPeriodeListe" type="hentAbonnerteInntekterBolk:AbonnerteInntekterIdentOgPeriode">
        <xsd:annotation>
          <xsd:documentation>Angir hvilke identer med tilhørende periode man ønsker å hente inntekter for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ainntektsfilter" type="inntekt:Ainntektsfilter">
        <xsd:annotation>
          <xsd:documentation>A-inntektsfilter for å begrense uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filterversjon" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for hvilken versjon av filteret som skal benyttes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formaal" type="inntekt:Formaal">
        <xsd:annotation>
          <xsd:documentation>Presisering av hvilket formål inntektene skal hentes for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentForventetInntektRequest">
    <xsd:sequence>
      <xsd:element name="ident" type="inntekt:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Brukerens aktoerId, fnr, dnr eller tilsvarende.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="inntektAarListe" type="xsd:gYear">
        <xsd:annotation>
          <xsd:documentation>Liste over hvilke år det skal hentes forventet inntekt for. Kan være inneværende år, neste år, eller begge deler.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>