dokumentforsendelse-v1-meldingsdefinisjon/src/main/xsd/no/nav/melding/virksomhet/dokumentforsendelse/v1/xsd/dokumentforsendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nav.no/melding/virksomhet/dokumentforsendelse/v1"
			xmlns:dokumentforsendelse="http://nav.no/melding/virksomhet/dokumentforsendelse/v1">

	<xsd:complexType name="Tema">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="dokumentforsendelse:Kodeverdi">
				<xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Tema" name="kodeverksRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="Identifikator">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:complexType name="Mottakskanaler">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="dokumentforsendelse:Kodeverdi">
				<xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Mottakskanaler" name="kodeverksRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:element name="dokumentforsendelse" type="dokumentforsendelse:Dokumentforsendelse"/>

	<xsd:complexType name="Forsendelsesinformasjon">
		<xsd:sequence>
			<xsd:element name="avsender" type="dokumentforsendelse:Aktoer"/>
			<xsd:element name="bruker" type="dokumentforsendelse:Aktoer"/>
			<xsd:element minOccurs="0" name="arkivSak" type="dokumentforsendelse:ArkivSak"/>
			<xsd:element name="tema" type="dokumentforsendelse:Tema"/>
			<xsd:element name="kanalreferanseId" type="dokumentforsendelse:Identifikator"/>
			<xsd:element name="forsendelseMottatt" type="xsd:dateTime"/>
			<xsd:element name="forsendelseInnsendt" type="xsd:dateTime"/>
			<xsd:element name="mottakskanal" type="dokumentforsendelse:Mottakskanaler"/>
			<xsd:element minOccurs="0" name="behandlingstema" type="dokumentforsendelse:Behandlingstema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Dokumentforsendelse">
		<xsd:sequence>
			<xsd:element name="forsendelsesinformasjon" type="dokumentforsendelse:Forsendelsesinformasjon"/>
			<xsd:element name="hoveddokument" type="dokumentforsendelse:Hoveddokument"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="vedleggListe" type="dokumentforsendelse:Vedlegg"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Dokumentinnhold">
		<xsd:sequence>
			<xsd:element name="arkivfiltype" type="dokumentforsendelse:Arkivfiltyper"/>
			<xsd:element name="variantformat" type="dokumentforsendelse:Variantformater"/>
			<xsd:element name="dokument" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Arkivfiltyper">
		<xsd:simpleContent>
			<xsd:extension base="dokumentforsendelse:Kodeverdi">
				<xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="Variantformater">
		<xsd:simpleContent>
			<xsd:extension base="dokumentforsendelse:Kodeverdi">
				<xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType abstract="true" name="Dokumentinformasjon">
		<xsd:sequence>
			<xsd:element name="dokumenttypeId" type="dokumentforsendelse:Identifikator"/>
			<xsd:element minOccurs="0" name="brukeroppgittTittel" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" name="dokumentinnholdListe" type="dokumentforsendelse:Dokumentinnhold"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Vedlegg">
		<xsd:complexContent>
			<xsd:extension base="dokumentforsendelse:Dokumentinformasjon"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Hoveddokument">
		<xsd:complexContent>
			<xsd:extension base="dokumentforsendelse:Dokumentinformasjon"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType abstract="true" name="Aktoer"/>

	<xsd:complexType name="Organisasjon">
		<xsd:complexContent>
			<xsd:extension base="dokumentforsendelse:Aktoer">
				<xsd:sequence>
					<xsd:element name="orgnr" type="dokumentforsendelse:Identifikator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Person">
		<xsd:complexContent>
			<xsd:extension base="dokumentforsendelse:Aktoer">
				<xsd:sequence>
					<xsd:element name="ident" type="dokumentforsendelse:Identifikator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ArkivSak">
		<xsd:sequence>
			<xsd:element name="arkivSakId" type="dokumentforsendelse:Identifikator"/>
			<xsd:element name="arkivSakSystem" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Kodeverdi">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="kodeRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="Behandlingstema">
		<xsd:simpleContent>
			<xsd:extension base="dokumentforsendelse:Kodeverdi">
				<xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Behandlingstema" name="kodeverksRef" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>