nav-fim-behandleBrukerprofil-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleBrukerprofil/v1/BehandleBrukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleBrukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/meldinger" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/feil">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanser">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OppdaterKontaktinformasjonOgPreferanserRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
			<xs:element name="oppdaterKontaktinformasjonOgPreferanserugyldigInput" type="feil:UgyldigInput"/>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="oppdaterKontaktinformasjonOgPreferanserResponse">
		<wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanserResponse"/>
	</wsdl:message>
	<wsdl:message name="oppdaterKontaktinformasjonOgPreferanserRequest">
		<wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanser"/>
	</wsdl:message>
	<wsdl:message name="oppdaterKontaktinformasjonOgPreferanserFault">
		<wsdl:part name="personIkkeFunnet" element="tns:oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="oppdaterKontaktinformasjonOgPreferanserFault1">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:message name="oppdaterKontaktinformasjonOgPreferanserFault2">
		<wsdl:part name="ugyldigInput" element="tns:oppdaterKontaktinformasjonOgPreferanserugyldigInput"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:portType name="BehandleBrukerprofilPortType">
		<wsdl:operation name="oppdaterKontaktinformasjonOgPreferanser">
			<wsdl:input name="oppdaterKontaktinformasjonOgPreferanserRequest" message="tns:oppdaterKontaktinformasjonOgPreferanserRequest"/>
			<wsdl:output name="oppdaterKontaktinformasjonOgPreferanserResponse" message="tns:oppdaterKontaktinformasjonOgPreferanserResponse"/>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault" message="tns:oppdaterKontaktinformasjonOgPreferanserFault"/>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault1" message="tns:oppdaterKontaktinformasjonOgPreferanserFault1"/>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault2" message="tns:oppdaterKontaktinformasjonOgPreferanserFault2"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BehandleBrukerprofilBinding" type="tns:BehandleBrukerprofilPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="oppdaterKontaktinformasjonOgPreferanser">
			<soap:operation style="document"/>
			<wsdl:input name="oppdaterKontaktinformasjonOgPreferanserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="oppdaterKontaktinformasjonOgPreferanserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault">
				<soap:fault name="oppdaterKontaktinformasjonOgPreferanserFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault1">
				<soap:fault name="oppdaterKontaktinformasjonOgPreferanserFault1" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="oppdaterKontaktinformasjonOgPreferanserFault2">
				<soap:fault name="oppdaterKontaktinformasjonOgPreferanserFault2" use="literal"/>
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BehandleBrukerprofil_v1">
		<wsdl:port name="BehandleBrukerprofil_v1" binding="tns:BehandleBrukerprofilBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
