vedlikehold-inntektsabonnement-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/vedlikeholdInntektsabonnement/vedlikeholdInntektsabonnement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="vedlikeholdInntektsabonnement" targetNamespace="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/vedlikeholdInntektsabonnement/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="opprettAbonnement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettAbonnementRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettAbonnementResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettAbonnementResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettAbonnementpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="opprettAbonnementugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="opprettAbonnementsikkerhetsbegrensninger" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="opphoerAbonnement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpphoerAbonnementRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opphoerAbonnementResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opphoerAbonnementugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="opphoerAbonnementsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="opprettAbonnement_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:opprettAbonnementpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettAbonnementResponse">
    <wsdl:part name="parameters" element="tns:opprettAbonnementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opphoerAbonnementResponse">
    <wsdl:part name="parameters" element="tns:opphoerAbonnementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opphoerAbonnement_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:opphoerAbonnementugyldigInput">
<wsdl:documentation>&lt;p&gt;hei hei&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettAbonnement_sikkerhetsbegrensninger">
    <wsdl:part name="sikkerhetsbegrensninger" element="tns:opprettAbonnementsikkerhetsbegrensninger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettAbonnement_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:opprettAbonnementugyldigInput">
<wsdl:documentation>&lt;p&gt;&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettAbonnementRequest">
    <wsdl:part name="parameters" element="tns:opprettAbonnement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opphoerAbonnementRequest">
    <wsdl:part name="parameters" element="tns:opphoerAbonnement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opphoerAbonnement_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:opphoerAbonnementsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VedlikeholdInntektsabonnement_v1">
    <wsdl:operation name="opprettAbonnement">
      <wsdl:input message="tns:opprettAbonnementRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettAbonnementResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:opprettAbonnement_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensninger" message="tns:opprettAbonnement_sikkerhetsbegrensninger">
    </wsdl:fault>
      <wsdl:fault name="personIkkeFunnet" message="tns:opprettAbonnement_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opphoerAbonnement">
      <wsdl:input message="tns:opphoerAbonnementRequest">
    </wsdl:input>
      <wsdl:output message="tns:opphoerAbonnementResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:opphoerAbonnement_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:opphoerAbonnement_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
