dial-nav-tjeneste-behandlesak/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleSak/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1/meldinger" xmlns:info="http://nav.no/tjeneste/virksomhet/behandleSak/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSak/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSak/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="OpprettSakResponse">
    <xsd:sequence>
      <xsd:element name="sakId" type="info:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik Id for saken som er blitt opprettet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettSakRequest">
    <xsd:sequence>
      <xsd:element name="sak" type="info:Sak">
        <xsd:annotation>
          <xsd:documentation>Saksinformasjon for saken som er ønsket opprettet. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>