veiledervarsler/src/main/xsd/veiledervarsel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/melding/virksomhet/veiledervarsel/v1/varsel"
            xmlns:varsel="http://nav.no/melding/virksomhet/veiledervarsel/v1/varsel">
    <xsd:element name="Varsel">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="tekst" type="xsd:string"/>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="veilederUserId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
</xsd:schema>