dialogarena-behandlingsinformasjon/src/main/xsd/behandlingsinformasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nav.no/melding/domene/brukerdialog/behandlingsinformasjon/v1"
           xmlns:tns="http://nav.no/melding/domene/brukerdialog/behandlingsinformasjon/v1">

    <xs:element name="behandlingsinformasjon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="behandlingsId" type="xs:string" minOccurs="0"/>
                <xs:element name="behandlingskjedeId" type="xs:string" minOccurs="0"/>
                <xs:element name="applikasjonsId" type="xs:string" minOccurs="0"/>
                <xs:element name="aktor" type="tns:aktor" minOccurs="0"/>
                <xs:element name="tema" type="xs:string" minOccurs="0"/>
                <xs:element name="henvendelseType" type="xs:string" minOccurs="0"/>
                <xs:element name="eksternAktor" type="xs:string" minOccurs="0"/>
                <xs:element name="tilknyttetEnhet" type="xs:string" minOccurs="0"/>
                <xs:element name="opprettetDato" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="avsluttetDato" type="xs:dateTime" minOccurs="0"/>
                <xs:element ref="tns:metadataListe" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="henvendelse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="behandlingsId" type="xs:string" minOccurs="0"/>
                <xs:element name="behandlingskjedeId" type="xs:string" minOccurs="0"/>
                <xs:element name="applikasjonsId" type="xs:string" minOccurs="0"/>
                <xs:element name="fnr" type="xs:string" minOccurs="0"/>
                <xs:element name="aktorId" type="xs:string" minOccurs="0"/>
                <xs:element name="tema" type="xs:string" minOccurs="0"/>
                <xs:element name="henvendelseType" type="xs:string"/>
                <xs:element name="eksternAktor" type="xs:string" minOccurs="0"/>
                <xs:element name="tilknyttetEnhet" type="xs:string" minOccurs="0"/>
                <xs:element name="opprettetDato" type="xs:dateTime"/>
                <xs:element name="avsluttetDato" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="lestDato" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="kontorsperreEnhet" type="xs:string" minOccurs="0"/>
                <xs:element name="markertSomFeilsendtAv" type="xs:string" minOccurs="0"/>
                <xs:element name="oppgaveIdGsak" type="xs:string" minOccurs="0"/>
                <xs:element name="henvendelseIdGsak" type="xs:string" minOccurs="0"/>
                <xs:element name="journalfortInformasjon" type="tns:journalfortInformasjon" minOccurs="0"/>
                <xs:element ref="tns:metadataListe" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="aktor">
        <xs:sequence>
            <xs:element name="aktorId" type="xs:string" minOccurs="0"/>
            <xs:element name="fodselsnummer" type="xs:string" minOccurs="0"/>
            <xs:element name="navIdent" type="xs:string" minOccurs="0"/>
            <xs:element name="ansvarligEnhet" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="metadataListe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" type="tns:metadata" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="metadata">
        <xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vedlegg">
        <xs:complexContent>
            <xs:extension base="tns:metadata">
                <xs:sequence>
                    <xs:element name="innsendingsvalg" type="xs:string"/>
                    <xs:element name="skjemanummer" type="xs:string" minOccurs="0"/>
                    <xs:element name="skjemanummerTillegg" type="xs:string" minOccurs="0"/>
                    <xs:element name="uuid" type="xs:string" minOccurs="0"/>
                    <xs:element name="filnavn" type="xs:string" minOccurs="0"/>
                    <xs:element name="mimetype" type="xs:string" minOccurs="0"/>
                    <xs:element name="filstorrelse" type="xs:string" minOccurs="0"/>
                    <xs:element name="sideantall" type="xs:int" minOccurs="0"/>
                    <xs:element name="arkivreferanse" type="xs:string" minOccurs="0"/>
                    <xs:element name="tilleggsinfo" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="hovedskjema">
        <xs:complexContent>
            <xs:extension base="tns:vedlegg">
                <xs:sequence>
                    <xs:element name="journalforendeEnhet" type="xs:string" minOccurs="0"/>
                    <xs:element name="journalpostId" type="xs:string" minOccurs="0"/>
                    <xs:element name="journalfortDato" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="melding" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:metadata">
                <xs:sequence>
                    <xs:element name="temagruppe" type="xs:string"/>
                    <xs:element name="fritekst" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="meldingFraBruker">
        <xs:complexContent>
            <xs:extension base="tns:melding"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="meldingTilBruker">
        <xs:complexContent>
            <xs:extension base="tns:melding">
                <xs:sequence>
                    <xs:element name="sporsmalsId" type="xs:string" minOccurs="0"/>
                    <xs:element name="kanal" type="xs:string"/>
                    <xs:element name="navident" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="oppdaterMetadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:metadataListe" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="henvendelseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOKUMENTINNSENDING"/>
            <xs:enumeration value="DOKUMENTINNSENDING_ETTERSENDING"/>
            <xs:enumeration value="SEND_SOKNAD"/>
            <xs:enumeration value="SEND_SOKNAD_ETTERSENDING"/>
            <xs:enumeration value="SPORSMAL_SKRIFTLIG"/>
            <xs:enumeration value="SVAR_SKRIFTLIG"/>
            <xs:enumeration value="SVAR_OPPMOTE"/>
            <xs:enumeration value="SVAR_TELEFON"/>
            <xs:enumeration value="REFERAT_OPPMOTE"/>
            <xs:enumeration value="REFERAT_TELEFON"/>
            <xs:enumeration value="SPORSMAL_MODIA_UTGAAENDE"/>
            <xs:enumeration value="SVAR_SBL_INNGAAENDE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="innsendingsvalg">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LASTET_OPP"/>
            <xs:enumeration value="SEND_SENERE"/>
            <xs:enumeration value="SENDES_IKKE"/>
            <xs:enumeration value="VEDLEGG_SENDES_IKKE"/>
            <xs:enumeration value="VEDLEGG_SENDES_AV_ANDRE"/>
            <xs:enumeration value="IKKE_VALGT"/>
            <xs:enumeration value="VEDLEGG_ALLEREDE_SENDT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="journalfortInformasjon">
        <xs:sequence>
            <xs:element name="journalpostId" type="xs:string" minOccurs="0"/>
            <xs:element name="journalfortTema" type="xs:string" minOccurs="0"/>
            <xs:element name="journalfortDato" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="journalfortSaksId" type="xs:string" minOccurs="0"/>
            <xs:element name="journalforerNavIdent" type="xs:string" minOccurs="0"/>
            <xs:element name="vedleggJournalfort" type="tns:vedleggJournalfort" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="oppgaveOpprettetInformasjon">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
            <xs:element name="oppgaveIdGsak" type="xs:string" minOccurs="0"/>
            <xs:element name="henvendelseIdGsak" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vedleggJournalfort">
        <xs:sequence>
            <xs:element name="uuid" type="xs:string"/>
            <xs:element name="arkivreferanse" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="henvendelseHendelseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HENVENDELSE_OPPRETTET" />
            <xs:enumeration value="HENVENDELSE_AVBRUTT" />
            <xs:enumeration value="HENVENDELSE_AUTOMATISK_AVBRUTT" />
            <xs:enumeration value="HENVENDELSE_AVSLUTTET" />
            <xs:enumeration value="HENVENDELSE_LEST" />
            <xs:enumeration value="HENVENDELSE_IKKE_LEST_INNEN_FRIST" />
            <xs:enumeration value="HENVENDELSE_IKKE_BESVART_INNEN_FRIST" />
            <xs:enumeration value="HENVENDELSE_BESVART" />
            <xs:enumeration value="NOTIFIKASJON_SENDT" />
            <xs:enumeration value="OVERSENDT_JOARK" />
            <xs:enumeration value="OVERSENDT_HENVENDESLSESARKIV" />
            <xs:enumeration value="RAPPORTERT_SAK_OG_BEHANDLING" />
            <xs:enumeration value="GSAK_OPPGAVE_OPPRETTET" />
            <xs:enumeration value="GSAK_HENVENDELSE_OPPRETTET" />
            <xs:enumeration value="KONTORSPERRET" />
            <xs:enumeration value="MARKERT_SOM_FEILSENDT" />
            <xs:enumeration value="KNYTTET_TIL_SAK" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="henvendelseHendelse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="behandlingsId" type="xs:string"/>
                <xs:element name="henvendelseType" type="xs:string"/>
                <xs:element name="hendelseType" type="tns:henvendelseHendelseType"/>
                <xs:element name="dato" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>