henvendelse-sporsmalinnsending-tjenestespesifikasjon/src/main/resources/Sporsmalinnsending.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="SporsmalinnsendingService"
	targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1">
	<wsdl:types>
		<xs:schema
			xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1"
			elementFormDefault="unqualified"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1"
			xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1/meldinger">
			<xs:import
				namespace="http://nav.no/tjeneste/domene/brukerdialog/sporsmal/v1/meldinger"
				schemaLocation="no/nav/tjeneste/domene/brukerdialog/sporsmal/v1/meldinger/meldinger.xsd" />
			<xs:element name="opprettSporsmal" type="meldinger:opprettSporsmalRequest" />
			<xs:element name="opprettSporsmalResponse" type="meldinger:opprettSporsmalResponse" />
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="opprettSporsmalRequest">
		<wsdl:part element="tns:opprettSporsmal" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="opprettSporsmalResponse">
		<wsdl:part element="tns:opprettSporsmalResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SporsmalinnsendingPortType">
		<wsdl:operation name="opprettSporsmal">
			<wsdl:input message="tns:opprettSporsmalRequest" name="opprettSporsmalRequest" />
			<wsdl:output message="tns:opprettSporsmalResponse" name="opprettSporsmalResponse" />
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

	<wsdl:binding name="SporsmalinnsendingBinding"
		type="tns:SporsmalinnsendingPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="opprettSporsmal">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="opprettSporsmalRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="opprettSporsmalResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="SporsmalinnsendingService">
		<wsdl:port binding="tns:SporsmalinnsendingBinding"
			name="SporsmalinnsendingPort">
			<soap:address
				location="http://localhost:8081/domene.Brukerdialog/SporsmalinnsendingService_v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
