henvendelse-tjenestespesifikasjon/henvendelse-jaxws/src/main/wsdl/HenvendelsesBehandling.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsesbehandling/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="HenvendelsesBehandlingService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsesbehandling/v1">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsesbehandling/v1"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsesbehandling/v1"
				   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger" schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/informasjonsmeldinger.xsd"/>

			<xs:element name="hentBrukerBehandling" type="meldinger:hentBrukerBehandlingRequest"/>
			<xs:element name="hentBrukerBehandlingResponse" type="meldinger:hentBrukerBehandlingResponse"/>
			<xs:element name="hentBrukerBehandlinger" type="meldinger:hentBrukerBehandlingerRequest"/>
            <xs:element name="hentBrukerBehandlingerResponse" type="meldinger:hentBrukerBehandlingerResponse"/>
			<xs:element name="hentDokument" type="meldinger:hentDokumentRequest"/>
            <xs:element name="hentDokumentResponse" type="meldinger:hentDokumentResponse"/>
			<xs:element name="hentDokumentForventninger" type="meldinger:hentDokumentForventningerRequest"/>
            <xs:element name="hentDokumentForventningerResponse" type="meldinger:hentDokumentForventningerResponse"/>
            <xs:element name="hentDokumentForventning" type="meldinger:hentDokumentForventningRequest"/>
            <xs:element name="hentDokumentForventningResponse" type="meldinger:hentDokumentForventningResponse"/>
			<xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
			
        </xs:schema>
    </wsdl:types>



    <wsdl:message name="hentBrukerBehandlingRequest">
        <wsdl:part element="tns:hentBrukerBehandling" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentBrukerBehandlingResponse">
        <wsdl:part element="tns:hentBrukerBehandlingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentBrukerBehandlingerRequest">
        <wsdl:part element="tns:hentBrukerBehandlinger" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentBrukerBehandlingerResponse">
        <wsdl:part element="tns:hentBrukerBehandlingerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="hentDokumentRequest">
        <wsdl:part element="tns:hentDokument" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="hentDokumentResponse">
        <wsdl:part element="tns:hentDokumentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="hentDokumentForventningerRequest">
        <wsdl:part element="tns:hentDokumentForventninger" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="hentDokumentForventningerResponse">
        <wsdl:part element="tns:hentDokumentForventningerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentDokumentForventningRequest">
        <wsdl:part element="tns:hentDokumentForventning" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hentDokumentForventningResponse">
        <wsdl:part element="tns:hentDokumentForventningResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
	<wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HenvendelsesBehandlingPortType">
        <wsdl:operation name="hentBrukerBehandling">
            <wsdl:input message="tns:hentBrukerBehandlingRequest" name="hentBrukerBehandlingRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentBrukerBehandlingResponse" name="hentBrukerBehandlingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentBrukerBehandlinger">
            <wsdl:input message="tns:hentBrukerBehandlingerRequest" name="hentBrukerBehandlingerRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentBrukerBehandlingerResponse" name="hentBrukerBehandlingerResponse">
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hentDokument">
            <wsdl:input message="tns:hentDokumentRequest" name="hentDokumentRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentDokumentResponse" name="hentDokumentResponse">
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hentDokumentForventninger">
            <wsdl:input message="tns:hentDokumentForventningerRequest" name="hentDokumentForventningerRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentDokumentForventningerResponse" name="hentDokumentForventningerResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentDokumentForventning">
            <wsdl:input message="tns:hentDokumentForventningRequest" name="hentDokumentForventningRequest">
            </wsdl:input>
            <wsdl:output message="tns:hentDokumentForventningResponse" name="hentDokumentForventningResponse">
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HenvendelsesBehandlingBinding" type="tns:HenvendelsesBehandlingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentBrukerBehandling">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentBrukerBehandlingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentBrukerBehandlingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentBrukerBehandlinger">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentBrukerBehandlingerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentBrukerBehandlingerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hentDokument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentDokumentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentDokumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="hentDokumentForventninger">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentDokumentForventningerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentDokumentForventningerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hentDokumentForventning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="hentDokumentForventningRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="hentDokumentForventningResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HenvendelsesBehandlingService">
        <wsdl:port binding="tns:HenvendelsesBehandlingBinding" name="HenvendelsesBehandlingPort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/HenvendelsesBehandlingService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>	
