nav-fim-behandlesakogbehandling-v1-tjenestespesifikasjon/src/main/wsdl/behandlesakogbehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleSakOgBehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleSakOgBehandling/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/behandleSakOgBehandling/v1/meldinger/meldinger.xsd"/>
			<xs:element name="opprettSakOgBehandling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OpprettSakOgBehandlingRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettSakOgBehandlingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:OpprettSakOgBehandlingResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterBehandlingsstatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OppdaterBehandlingsstatusRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterBehandlingsstatusResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettBehandling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OpprettBehandlingRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettBehandlingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:OpprettBehandlingResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="opprettSakOgBehandlingRequest">
		<wsdl:part name="parameters" element="tns:opprettSakOgBehandling"/>
	</wsdl:message>
	<wsdl:message name="opprettSakOgBehandlingResponse">
		<wsdl:part name="parameters" element="tns:opprettSakOgBehandlingResponse"/>
	</wsdl:message>
	<wsdl:message name="oppdaterBehandlingsstatusRequest">
		<wsdl:part name="parameters" element="tns:oppdaterBehandlingsstatus"/>
	</wsdl:message>
	<wsdl:message name="opprettBehandlingRequest">
		<wsdl:part name="parameters" element="tns:opprettBehandling"/>
	</wsdl:message>
	<wsdl:message name="opprettBehandlingResponse">
		<wsdl:part name="parameters" element="tns:opprettBehandlingResponse"/>
	</wsdl:message>
	<wsdl:portType name="BehandleSakOgBehandlingPortType">
		<wsdl:operation name="opprettBehandling">
			<wsdl:input name="opprettBehandlingRequest" message="tns:opprettBehandlingRequest"/>
			<wsdl:output name="opprettBehandlingResponse" message="tns:opprettBehandlingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="oppdaterBehandlingsstatus">
			<wsdl:input name="oppdaterBehandlingsstatusRequest" message="tns:oppdaterBehandlingsstatusRequest"/>
		</wsdl:operation>
		<wsdl:operation name="opprettSakOgBehandling">
			<wsdl:input name="opprettSakOgBehandlingRequest" message="tns:opprettSakOgBehandlingRequest"/>
			<wsdl:output name="opprettSakOgBehandlingResponse" message="tns:opprettSakOgBehandlingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BehandleSakOgBehandlingBinding" type="tns:BehandleSakOgBehandlingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="opprettBehandling">
			<soap:operation style="document"/>
			<wsdl:input name="opprettBehandlingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="opprettBehandlingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oppdaterBehandlingsstatus">
			<soap:operation style="document"/>
			<wsdl:input name="oppdaterBehandlingsstatusRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="opprettSakOgBehandling">
			<soap:operation style="document"/>
			<wsdl:input name="opprettSakOgBehandlingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="opprettSakOgBehandlingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BehandleSakOgBehandling">
		<wsdl:port name="BehandleSakOgBehandling" binding="tns:BehandleSakOgBehandlingBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
