nav-behandletiltaksgjennomfoering-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/BehandleTiltaksgjennomfoeringV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1" name="BehandleTiltaksgjennomfoeringV1">
	<wsdl:types>
		<schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/feil" xmlns:meld="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/meldinger">
			<import schemaLocation="feil/feil.xsd" namespace="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/feil"/>
			<import schemaLocation="meldinger/meldinger.xsd" namespace="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/meldinger"/>
			<element name="ping">
				<complexType>
					<sequence>
                    </sequence>
				</complexType>
			</element>
			<element name="pingResponse">
				<complexType>
					<sequence>
                    </sequence>
				</complexType>
			</element>
			<element name="opprettTiltaksgjennomfoering">
				<complexType>
					<sequence>
						<element name="request" type="meld:OpprettTiltaksgjennomfoeringRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="opprettTiltaksgjennomfoeringResponse">
				<complexType>
					<sequence>
						<element name="response" type="meld:OpprettTiltaksgjennomfoeringResponse" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="opprettTiltaksgjennomfoeringSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
			<element name="opprettTiltaksgjennomfoeringUgyldigInput" type="feil:UgyldigInput"/>
			<element name="opprettTiltaksgjennomfoeringBedriftsnummerFinnesIkke" type="feil:BedriftsnummerFinnesIkke"/>
            <element name="opprettTiltaksgjennomfoeringBehandlendeEnhetFinnesIkke" type="feil:BehandlendeEnhetFinnesIkke"/>
            <element name="opprettTiltaksgjennomfoeringReglerForTiltaksvariantBrutt" type="feil:ReglerForTiltaksvariantBrutt"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:message name="opprettTiltaksgjennomfoeringRequest">
		<wsdl:part name="parameters" element="tns:opprettTiltaksgjennomfoering"/>
	</wsdl:message>
	<wsdl:message name="opprettTiltaksgjennomfoeringResponse">
		<wsdl:part name="parameters" element="tns:opprettTiltaksgjennomfoeringResponse"/>
	</wsdl:message>
	<wsdl:message name="opprettTiltaksgjennomfoeringUgyldigInput">
		<wsdl:part name="ugyldigInput" element="tns:opprettTiltaksgjennomfoeringUgyldigInput"/>
	</wsdl:message>
	<wsdl:message name="opprettTiltaksgjennomfoeringSikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:opprettTiltaksgjennomfoeringSikkerhetsbegrensning"/>
	</wsdl:message>
	<wsdl:message name="opprettTiltaksgjennomfoeringBedriftsnummerFinnesIkke">
		<wsdl:part name="bedriftsnummerFinnesIkke" element="tns:opprettTiltaksgjennomfoeringBedriftsnummerFinnesIkke"/>
	</wsdl:message>
    <wsdl:message name="opprettTiltaksgjennomfoeringBehandlendeEnhetFinnesIkke">
        <wsdl:part name="behandlendeEnhetFinnesIkke" element="tns:opprettTiltaksgjennomfoeringBehandlendeEnhetFinnesIkke"/>
    </wsdl:message>
    <wsdl:message name="opprettTiltaksgjennomfoeringReglerForTiltaksvariantBrutt">
        <wsdl:part name="reglerForTiltaksvariantBrutt" element="tns:opprettTiltaksgjennomfoeringReglerForTiltaksvariantBrutt"/>
    </wsdl:message>
	<wsdl:portType name="BehandleTiltaksgjennomfoering_v1">
		<wsdl:operation name="ping">
			<wsdl:input name="ping" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="opprettTiltaksgjennomfoering">
			<wsdl:input name="opprettTiltaksgjennomfoering" message="tns:opprettTiltaksgjennomfoeringRequest"/>
			<wsdl:output name="opprettTiltaksgjennomfoeringResponse" message="tns:opprettTiltaksgjennomfoeringResponse"/>
			<wsdl:fault name="ugyldigInput" message="tns:opprettTiltaksgjennomfoeringUgyldigInput"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:opprettTiltaksgjennomfoeringSikkerhetsbegrensning"/>
			<wsdl:fault name="bedriftsnummerFinnesIkke" message="tns:opprettTiltaksgjennomfoeringBedriftsnummerFinnesIkke"/>
            <wsdl:fault name="behandlendeEnhetFinnesIkke" message="tns:opprettTiltaksgjennomfoeringBehandlendeEnhetFinnesIkke"/>
            <wsdl:fault name="reglerForTiltaksvariantBrutt" message="tns:opprettTiltaksgjennomfoeringReglerForTiltaksvariantBrutt"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BehandleTiltaksgjennomfoering_v1Binding" type="tns:BehandleTiltaksgjennomfoering_v1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ping">
			<soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleTiltaksgjennomfoering/v1/ping"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="opprettTiltaksgjennomfoering">
			<soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behabdleTiltaksgjennomfoering/v1/opprettTiltaksgjennomfoering"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ugyldigInput">
				<soap:fault name="ugyldigInput" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="bedriftsnummerFinnesIkke">
				<soap:fault name="bedriftsnummerFinnesIkke" use="literal"/>
			</wsdl:fault>
            <wsdl:fault name="behandlendeEnhetFinnesIkke">
                <soap:fault name="behandlendeEnhetFinnesIkke" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="reglerForTiltaksvariantBrutt">
                <soap:fault name="reglerForTiltaksvariantBrutt" use="literal"/>
            </wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BehandleTiltaksgjennomfoering_v1">
		<wsdl:port binding="tns:BehandleTiltaksgjennomfoering_v1Binding" name="BehandleTiltaksgjennomfoering_v1Port">
			<soap:address location="https://arena.adeo.no/ail_ws/BehandleTiltaksgjennomfoering_v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
