nav-virksomhet-varselmedhandling-v1-meldingsdefinisjon/src/main/xsd/no/nav/melding/virksomhet/varselMedHandling/v1/v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/varselMedHandling/v1/varselMedHandling" xmlns:varselMedHandling="http://nav.no/melding/virksomhet/varselMedHandling/v1/varselMedHandling">
  <xsd:complexType abstract="true" name="Aktoer"/>
  <xsd:complexType name="AktoerId">
    <xsd:complexContent>
      <xsd:extension base="varselMedHandling:Aktoer">
        <xsd:sequence>
          <xsd:element name="aktoerId" type="varselMedHandling:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Parameter">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kan være hva som helst; sted, dato, tid osv.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Forholder seg til hva "Key" verdien er, for eksempel hvis key="sted", så kan value = "Oslo" osv ...</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="varselMedHandling:Aktoer">
        <xsd:sequence>
          <xsd:element name="ident" type="varselMedHandling:Identifikator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="varselMedHandling" type="varselMedHandling:VarselMedHandling"/>
  <xsd:complexType name="VarselMedHandling">
    <xsd:sequence>
      <xsd:element name="mottaker" type="varselMedHandling:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Mottakeren av meldingen. Kan være en aktør av enten type aktørId eller personIdent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utsendelsestidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunkt for når Altinn skal sende ut varselet til mottaker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="varselbestillingId" type="varselMedHandling:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik id for hver bestilling av varsel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reVarsel" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indikerer om varselet er en revarsel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="varseltypeId" type="varselMedHandling:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id som identifiserer en varseltype. Dette er blant annet knyttet til malverket for meldingsteksten i varslene som utsendes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameterListe" type="varselMedHandling:Parameter">
        <xsd:annotation>
          <xsd:documentation>Inneholder informasjon om meldingen som skal utsendes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utloepstidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato og tidspunkt for når det er sist mulig å fortsatt sende meldingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>