sykmeldingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelding/v1/sykmelding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sykmelding" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelding/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykmelding/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelding/v1" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykmelding/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sykmelding/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentSykmeldingListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentSykmeldingListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSykmeldingListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentSykmeldingListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingstilfelleListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentOppfoelgingstilfelleListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppfoelgingstilfelleListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentOppfoelgingstilfelleListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersSykmeldingListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentNaermesteLedersSykmeldingListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNaermesteLedersSykmeldingListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentNaermesteLedersSykmeldingListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentSykmeldingListeRequest">
    <wsdl:part name="parameters" element="tns:hentSykmeldingListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingstilfelleListeRequest">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingstilfelleListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersSykmeldingListeRequest">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersSykmeldingListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOppfoelgingstilfelleListeResponse">
    <wsdl:part name="parameters" element="tns:hentOppfoelgingstilfelleListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentNaermesteLedersSykmeldingListeResponse">
    <wsdl:part name="parameters" element="tns:hentNaermesteLedersSykmeldingListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSykmeldingListeResponse">
    <wsdl:part name="parameters" element="tns:hentSykmeldingListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sykmelding_v1">
    <wsdl:operation name="hentSykmeldingListe">
      <wsdl:input message="tns:hentSykmeldingListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSykmeldingListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOppfoelgingstilfelleListe">
      <wsdl:input message="tns:hentOppfoelgingstilfelleListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOppfoelgingstilfelleListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentNaermesteLedersSykmeldingListe">
      <wsdl:input message="tns:hentNaermesteLedersSykmeldingListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentNaermesteLedersSykmeldingListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
