nav-fim-behandleJournal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v1/BehandleJournal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleJournal" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/meldinger" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/feil">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="arkiverUstrukturertKrav">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:ArkiverUstrukturertKravRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="arkiverUstrukturertKravResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:ArkiverUstrukturertKravResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lagreVedleggPaaJournalpost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:LagreVedleggPaaJournalpostRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lagreVedleggPaaJournalpostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:LagreVedleggPaaJournalpostResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lagreVedleggPaaJournalpostRequestjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
			
			
			<xs:element name="opprettMidlertidigInngaaendeJournalpostMedHoveddokument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OpprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:OpprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="opprettUtgaaendeJournalpostMedHoveddokument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OpprettUtgaaendeJournalpostMedHoveddokumentRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettUtgaaendeJournalpostMedHoveddokumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:OpprettUtgaaendeJournalpostMedHoveddokumentResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="oppdaterMidlertidigInngaaendeJournalpost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OppdaterMidlertidigInngaaendeJournalpostRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterMidlertidigInngaaendeJournalpostResponse">
				<xs:complexType>
					<xs:sequence>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="oppdaterMidlertidigInngaaendeJournalpostjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
			
			
			<xs:element name="ferdigstillDokumentopplasting">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FerdigstillDokumentopplastingRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ferdigstillDokumentopplastingResponse">
				<xs:complexType>
					<xs:sequence>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ferdigstillDokumentopplastingjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
			
			<xs:element name="ferdigstillJournalpost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FerdigstillJournalpostRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ferdigstillJournalpostResponse">
				<xs:complexType>
					<xs:sequence>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ferdigstillJournalpostjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
			
			<xs:element name="feilfoerMidlertidigJournalpost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:FeilfoerMidlertidigJournalpostRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="feilfoerMidlertidigJournalpostResponse">
				<xs:complexType>
					<xs:sequence>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="feilfoerMidlertidigJournalpostjournalpostIkkeFunnet" type="feil:JournalpostIkkeFunnet"/>
			
			<xs:element name="opprettNotatJournalpostMedHoveddokument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:OpprettNotatJournalpostMedHoveddokumentRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="opprettNotatJournalpostMedHoveddokumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:OpprettNotatJournalpostMedHoveddokumentResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="arkiverUstrukturertKravRequest">
		<wsdl:part name="parameters" element="tns:arkiverUstrukturertKrav"/>
	</wsdl:message>
	<wsdl:message name="arkiverUstrukturertKravResponse">
		<wsdl:part name="parameters" element="tns:arkiverUstrukturertKravResponse"/>
	</wsdl:message>
	<wsdl:message name="lagreVedleggPaaJournalpostRequest">
		<wsdl:part name="parameters" element="tns:lagreVedleggPaaJournalpost"/>
	</wsdl:message>
	<wsdl:message name="lagreVedleggPaaJournalpostResponse">
		<wsdl:part name="parameters" element="tns:lagreVedleggPaaJournalpostResponse"/>
	</wsdl:message>
	<wsdl:message name="lagreVedleggPaaJournalpostFault">
		<wsdl:part name="journalpostIkkeFunnet" element="tns:lagreVedleggPaaJournalpostRequestjournalpostIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="opprettUtgaaendeJournalpostMedHoveddokumentRequest">
		<wsdl:part name="parameters" element="tns:opprettUtgaaendeJournalpostMedHoveddokument"/>
	</wsdl:message>
	<wsdl:message name="opprettUtgaaendeJournalpostMedHoveddokumentResponse">
		<wsdl:part name="parameters" element="tns:opprettUtgaaendeJournalpostMedHoveddokumentResponse"/>
	</wsdl:message>
	<wsdl:message name="opprettNotatJournalpostMedHoveddokumentRequest">
		<wsdl:part name="parameters" element="tns:opprettNotatJournalpostMedHoveddokument"/>
	</wsdl:message>
	<wsdl:message name="opprettNotatJournalpostMedHoveddokumentResponse">
		<wsdl:part name="parameters" element="tns:opprettNotatJournalpostMedHoveddokumentResponse"/>
	</wsdl:message>
	<wsdl:message name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest">
		<wsdl:part name="parameters" element="tns:opprettMidlertidigInngaaendeJournalpostMedHoveddokument"/>
	</wsdl:message>
	<wsdl:message name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse">
		<wsdl:part name="parameters" element="tns:opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse"/>
	</wsdl:message>	
	<wsdl:message name="oppdaterMidlertidigInngaaendeJournalpostRequest">
		<wsdl:part name="parameters" element="tns:oppdaterMidlertidigInngaaendeJournalpost"/>
	</wsdl:message>
	<wsdl:message name="oppdaterMidlertidigInngaaendeJournalpostResponse">
		<wsdl:part name="parameters" element="tns:oppdaterMidlertidigInngaaendeJournalpostResponse"/>
	</wsdl:message>	
	<wsdl:message name="oppdaterMidlertidigInngaaendeJournalpostFault">
		<wsdl:part name="journalpostIkkeFunnet" element="tns:oppdaterMidlertidigInngaaendeJournalpostjournalpostIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillDokumentopplastingRequest">
		<wsdl:part name="parameters" element="tns:ferdigstillDokumentopplasting"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillDokumentopplastingResponse">
		<wsdl:part name="parameters" element="tns:ferdigstillDokumentopplastingResponse"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillDokumentopplastingFault">
		<wsdl:part name="journalpostIkkeFunnet" element="tns:ferdigstillDokumentopplastingjournalpostIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillJournalpostRequest">
		<wsdl:part name="parameters" element="tns:ferdigstillJournalpost"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillJournalpostResponse">
		<wsdl:part name="parameters" element="tns:ferdigstillJournalpostResponse"/>
	</wsdl:message>
	<wsdl:message name="ferdigstillJournalpostFault">
		<wsdl:part name="journalpostIkkeFunnet" element="tns:ferdigstillJournalpostjournalpostIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="feilfoerMidlertidigJournalpostRequest">
		<wsdl:part name="parameters" element="tns:feilfoerMidlertidigJournalpost"/>
	</wsdl:message>
	<wsdl:message name="feilfoerMidlertidigJournalpostResponse">
		<wsdl:part name="parameters" element="tns:feilfoerMidlertidigJournalpostResponse"/>
	</wsdl:message>
	<wsdl:message name="feilfoerMidlertidigJournalpostFault">
		<wsdl:part name="journalpostIkkeFunnet" element="tns:feilfoerMidlertidigJournalpostjournalpostIkkeFunnet"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:portType name="BehandleJournalPortType">
		<wsdl:operation name="arkiverUstrukturertKrav">
			<wsdl:input name="arkiverUstrukturertKravRequest" message="tns:arkiverUstrukturertKravRequest"/>
			<wsdl:output name="arkiverUstrukturertKravResponse" message="tns:arkiverUstrukturertKravResponse"/>
		</wsdl:operation>
		<wsdl:operation name="lagreVedleggPaaJournalpost">
			<wsdl:input name="lagreVedleggPaaJournalpostRequest" message="tns:lagreVedleggPaaJournalpostRequest"/>
			<wsdl:output name="lagreVedleggPaaJournalpostResponse" message="tns:lagreVedleggPaaJournalpostResponse"/>
			<wsdl:fault name="journalpostIkkeFunnet" message="tns:lagreVedleggPaaJournalpostFault"/>
		</wsdl:operation>
		<wsdl:operation name="ferdigstillDokumentopplasting">
			<wsdl:input name="ferdigstillDokumentopplastingRequest" message="tns:ferdigstillDokumentopplastingRequest"/>
			<wsdl:output name="ferdigstillDokumentopplastingResponse" message="tns:ferdigstillDokumentopplastingResponse"/>
			<wsdl:fault name="journalpostIkkeFunnet" message="tns:ferdigstillDokumentopplastingFault"/>
		</wsdl:operation>
		<wsdl:operation name="ferdigstillJournalpost">
			<wsdl:input name="ferdigstillJournalpostRequest" message="tns:ferdigstillJournalpostRequest"/>
			<wsdl:output name="ferdigstillJournalpostResponse" message="tns:ferdigstillJournalpostResponse"/>
			<wsdl:fault name="journalpostIkkeFunnet" message="tns:ferdigstillJournalpostFault"/>
		</wsdl:operation>
		<wsdl:operation name="feilfoerMidlertidigJournalpost">
			<wsdl:input name="feilfoerMidlertidigJournalpostRequest" message="tns:feilfoerMidlertidigJournalpostRequest"/>
			<wsdl:output name="feilfoerMidlertidigJournalpostResponse" message="tns:feilfoerMidlertidigJournalpostResponse"/>
			<wsdl:fault name="journalpostIkkeFunnet" message="tns:feilfoerMidlertidigJournalpostFault"/>
		</wsdl:operation>
		<wsdl:operation name="opprettMidlertidigInngaaendeJournalpostMedHoveddokument">
			<wsdl:input name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest" message="tns:opprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest"/>
			<wsdl:output name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse" message="tns:opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="oppdaterMidlertidigInngaaendeJournalpost">
			<wsdl:input name="oppdaterMidlertidigInngaaendeJournalpostRequest" message="tns:oppdaterMidlertidigInngaaendeJournalpostRequest"/>
			<wsdl:output name="oppdaterMidlertidigInngaaendeJournalpostResponse" message="tns:oppdaterMidlertidigInngaaendeJournalpostResponse"/>
			<wsdl:fault name="journalpostIkkeFunnet" message="tns:oppdaterMidlertidigInngaaendeJournalpostFault"/>
		</wsdl:operation>
		<wsdl:operation name="opprettUtgaaendeJournalpostMedHoveddokument">
			<wsdl:input name="opprettUtgaaendeJournalpostMedHoveddokumentRequest" message="tns:opprettUtgaaendeJournalpostMedHoveddokumentRequest"/>
			<wsdl:output name="opprettUtgaaendeJournalpostMedHoveddokumentResponse" message="tns:opprettUtgaaendeJournalpostMedHoveddokumentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="opprettNotatJournalpostMedHoveddokument">
			<wsdl:input name="opprettNotatJournalpostMedHoveddokumentRequest" message="tns:opprettNotatJournalpostMedHoveddokumentRequest"/>
			<wsdl:output name="opprettNotatJournalpostMedHoveddokumentResponse" message="tns:opprettNotatJournalpostMedHoveddokumentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BehandleJournalBinding" type="tns:BehandleJournalPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="arkiverUstrukturertKrav">
			<soap:operation style="document"/>
			<wsdl:input name="arkiverUstrukturertKravRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="arkiverUstrukturertKravResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lagreVedleggPaaJournalpost">
			<soap:operation style="document"/>
			<wsdl:input name="lagreVedleggPaaJournalpostRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="lagreVedleggPaaJournalpostResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalpostIkkeFunnet">
				<soap:fault name="journalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ferdigstillDokumentopplasting">
			<soap:operation style="document"/>
			<wsdl:input name="ferdigstillDokumentopplastingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ferdigstillDokumentopplastingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalpostIkkeFunnet">
				<soap:fault name="journalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ferdigstillJournalpost">
			<soap:operation style="document"/>
			<wsdl:input name="ferdigstillJournalpostRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ferdigstillJournalpostResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalpostIkkeFunnet">
				<soap:fault name="journalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="feilfoerMidlertidigJournalpost">
			<soap:operation style="document"/>
			<wsdl:input name="feilfoerMidlertidigJournalpostRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="feilfoerMidlertidigJournalpostResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalpostIkkeFunnet">
				<soap:fault name="journalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="opprettMidlertidigInngaaendeJournalpostMedHoveddokument">
			<soap:operation style="document"/>
			<wsdl:input name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="opprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oppdaterMidlertidigInngaaendeJournalpost">
			<soap:operation style="document"/>
			<wsdl:input name="oppdaterMidlertidigInngaaendeJournalpostRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="oppdaterMidlertidigInngaaendeJournalpostResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalpostIkkeFunnet">
				<soap:fault name="journalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="opprettUtgaaendeJournalpostMedHoveddokument">
			<soap:operation style="document"/>
			<wsdl:input name="opprettUtgaaendeJournalpostMedHoveddokumentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="opprettUtgaaendeJournalpostMedHoveddokumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="opprettNotatJournalpostMedHoveddokument">
			<soap:operation style="document"/>
			<wsdl:input name="opprettNotatJournalpostMedHoveddokumentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="opprettNotatJournalpostMedHoveddokumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="BehandleJournal_v1">
		<wsdl:port name="BehandleJournal_v1" binding="tns:BehandleJournalBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
