organisasjonenhetkontaktinformasjon-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/organisasjonEnhetKontaktinformasjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="organisasjonEnhetKontaktinformasjon" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonEnhetKontaktinformasjon/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentKontaktinformasjonForEnhetBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentKontaktinformasjonForEnhetBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontaktinformasjonForEnhetBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentKontaktinformasjonForEnhetBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontaktinformasjonForEnhetBolkugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentKontaktinformasjonForEnhetBolk_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentKontaktinformasjonForEnhetBolkugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonForEnhetBolkResponse">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonForEnhetBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonForEnhetBolkRequest">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonForEnhetBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganisasjonEnhetKontaktinformasjon_v1">
    <wsdl:operation name="hentKontaktinformasjonForEnhetBolk">
      <wsdl:input message="tns:hentKontaktinformasjonForEnhetBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentKontaktinformasjonForEnhetBolkResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:hentKontaktinformasjonForEnhetBolk_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
