henvendelse-arkivering/src/main/resources/no/nav/tjeneste/virksomhet/arkiverHenvendelseBehandling/v1/informasjon/arkiverHenvendelseBehandling/arkiverHenvendelseBehandling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/virksomhet/arkiverHenvendelseBehandling/v1/informasjon/arkiverHenvendelseBehandling"
            version="2.0"
            xmlns:arkiverHenvendelseBehandling="http://nav.no/tjeneste/virksomhet/arkiverHenvendelseBehandling/v1/informasjon/arkiverHenvendelseBehandling">
    <xsd:complexType name="UstrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="arkiverHenvendelseBehandling:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="EksternPart">
        <xsd:sequence>
            <xsd:element name="eksternAktoer" type="arkiverHenvendelseBehandling:Aktoer"/>
            <xsd:element name="navn" type="arkiverHenvendelseBehandling:Navn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Personnavn">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sammensattNavn" type="arkiverHenvendelseBehandling:Navn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kommunikasjonskanaler">
        <xsd:annotation>
            <xsd:documentation>elektronisk, scanning, fysisk oppmøte, brev, sms, e-post

                http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Kommunikasjonskanaler" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Signatur">
        <xsd:sequence>
            <xsd:element name="signert" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsidentifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Organisasjon">
        <xsd:complexContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Aktoer">
                <xsd:sequence>
                    <xsd:element name="orgnummer" type="arkiverHenvendelseBehandling:Organisasjonsidentifikator"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Personidenter">
        <xsd:annotation>
            <xsd:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ...
                http://nav.no/kodeverk/Kodeverk/Personidenter
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Kryssreferanse">
        <xsd:sequence>
            <xsd:element name="referanseId" type="arkiverHenvendelseBehandling:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Referanse (intern eller ekstern)&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referansekode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Definerer type referanse&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType abstract="true" name="Aktoer"/>
    <xsd:simpleType name="KodeverkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="NorskIdent">
        <xsd:sequence>
            <xsd:element name="ident" type="arkiverHenvendelseBehandling:Identifikator"/>
            <xsd:element name="type" type="arkiverHenvendelseBehandling:Personidenter"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Dokumenttyper">
        <xsd:annotation>
            <xsd:documentation>Ifm arkivdokumenter
                vedtakspakke, kravdialog, faktainnsamling, sjekkliste, varsel, melding, utgående brev, kravdokument

                http://nav.no/kodeverk/Kodeverk/Dokumenttyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Dokumenttyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:complexContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Aktoer">
                <xsd:sequence>
                    <xsd:element name="ident" type="arkiverHenvendelseBehandling:NorskIdent"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NoekkelVerdiPar">
        <xsd:sequence>
            <xsd:element name="noekkel" type="arkiverHenvendelseBehandling:Identifikator"/>
            <xsd:element name="verdi" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ArkivpostID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="DokumentInnhold">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="filnavn" type="arkiverHenvendelseBehandling:Navn"/>
            <xsd:element name="filtype" type="arkiverHenvendelseBehandling:Arkivfiltyper"/>
            <xsd:element name="variantformat" type="arkiverHenvendelseBehandling:Variantformater"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Navn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="NoekkelVerdiSett">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inneholderNoekkelVerdiPar"
                         type="arkiverHenvendelseBehandling:NoekkelVerdiPar"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Arkivfiltyper">
        <xsd:annotation>
            <xsd:documentation>Feks. XML, RTF, AFP, PDF

                http://nav.no/kodeverk/Kodeverk/Arkivfiltyper
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Variantformater">
        <xsd:annotation>
            <xsd:documentation>Brukes ifm dokumentinnhold i arkivdokumenter

                http://nav.no/kodeverk/Kodeverk/Variantformater
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef"
                               type="xsd:anySimpleType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OrganisasjonsenhetID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="StrukturertInnhold">
        <xsd:complexContent>
            <xsd:extension base="arkiverHenvendelseBehandling:DokumentInnhold">
                <xsd:sequence>
                    <xsd:element name="innhold" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Arkivtemaer">
        <xsd:annotation>
            <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Arkivtemaer</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Kodeverdi">
                <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arkivtemaer" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="DokumentinfoRelasjon">
        <xsd:sequence>
            <xsd:element name="tillknyttetArkivpostSomKode" type="xsd:string"/>
            <xsd:element name="arkivertDokument" type="arkiverHenvendelseBehandling:ArkivertDokumentInfo"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArkivertDokumentInfo">
        <xsd:complexContent>
            <xsd:extension base="arkiverHenvendelseBehandling:Dokumentbeskrivelse"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Dokumentbeskrivelse">
        <xsd:sequence>
            <xsd:element name="begrensetPartsInnsyn" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilleggsopplysninger"
                         type="arkiverHenvendelseBehandling:NoekkelVerdiSett"/>
            <xsd:element name="dokumentType" type="arkiverHenvendelseBehandling:Dokumenttyper"/>
            <xsd:element maxOccurs="unbounded" name="beskriverInnhold"
                         type="arkiverHenvendelseBehandling:DokumentInnhold"/>
            <xsd:element name="sensitivitet" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tittel" type="xsd:string"/>
            <xsd:element name="kategorikode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="brevkode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Arkivpost">
        <xsd:sequence>
            <xsd:element name="type" type="arkivpostType"/>
            <xsd:element minOccurs="0" name="motattDato" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dokumentDato" type="xsd:dateTime"/>
            <xsd:element name="kanal" type="arkiverHenvendelseBehandling:Kommunikasjonskanaler"/>
            <xsd:element minOccurs="0" name="signatur" type="arkiverHenvendelseBehandling:Signatur">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivtema" type="arkiverHenvendelseBehandling:Arkivtemaer"/>
            <xsd:element maxOccurs="unbounded" name="forBruker" type="arkiverHenvendelseBehandling:Aktoer">
                <xsd:annotation>
                    <xsd:documentation>Bruker er sakspart. En sak kan gjelde flere parter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="innhold" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="kryssreferanseListe"
                         type="arkiverHenvendelseBehandling:Kryssreferanse"/>
            <xsd:element name="eksternPart" type="arkiverHenvendelseBehandling:EksternPart">
                <xsd:annotation>
                    <xsd:documentation>Eksternpart er avsender for inngående dokumenter (mottaker for utgående).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" name="dokumentinfoRelasjon"
                         type="arkiverHenvendelseBehandling:DokumentinfoRelasjon"/>
            <xsd:element name="erOrganinternt" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Setter denne i utgangspunktet til false</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="arkivpostType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INNGAAENDE"/>
            <xsd:enumeration value="UTGAAENDE"/>
            <xsd:enumeration value="NOTAT"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>