henvendelse-aktivitet-v2/src/main/resources/SendHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/sendhenvendelse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="SendSoknadService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/sendhenvendelse">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/sendhenvendelse"
                   elementFormDefault="unqualified"
                   targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/sendhenvendelse"
                   xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/meldinger">
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v2/meldinger" schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v2/meldinger/meldinger.xsd"/>

            <xs:element name="sendHenvendelse" type="meldinger:sendHenvendelseRequest"/>
            <xs:element name="sendHenvendelseResponse" type="meldinger:sendHenvendelseResponse"/>
            <xs:element name="oppdaterHenvendelse" type="meldinger:oppdaterHenvendelseRequest"/>
            <xs:element name="oppdaterHenvendelseResponse" type="meldinger:oppdaterHenvendelseResponse"/>
            <xs:element name="oppdaterHenvendelseJournalforingsInformasjon" type="meldinger:oppdaterHenvendelseJournalforingsInformasjonRequest"/>
            <xs:element name="oppdaterHenvendelseJournalforingsInformasjonResponse" type="meldinger:oppdaterHenvendelseJournalforingsInformasjonResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="sendHenvendelseRequest">
        <wsdl:part element="tns:sendHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendHenvendelseResponse">
        <wsdl:part element="tns:sendHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelseRequest">
        <wsdl:part element="tns:oppdaterHenvendelse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelseResponse">
        <wsdl:part element="tns:oppdaterHenvendelseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelseJournalforingsInformasjonRequest">
        <wsdl:part element="tns:oppdaterHenvendelseJournalforingsInformasjon" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelseJournalforingsInformasjonResponse">
        <wsdl:part element="tns:oppdaterHenvendelseJournalforingsInformasjonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SendHenvendelsePortType">
        <wsdl:operation name="sendHenvendelse">
            <wsdl:input message="tns:sendHenvendelseRequest" name="sendHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:sendHenvendelseResponse" name="sendHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelse">
            <wsdl:input message="tns:oppdaterHenvendelseRequest" name="oppdaterHenvendelseRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterHenvendelseResponse" name="oppdaterHenvendelseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelseJournalforingsInformasjon">
            <wsdl:input message="tns:oppdaterHenvendelseJournalforingsInformasjonRequest" name="oppdaterHenvendelseJournalforingsInformasjonRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterHenvendelseJournalforingsInformasjonResponse" name="oppdaterHenvendelseJournalforingsInformasjonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendHenvendelseBinding" type="tns:SendHenvendelsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterHenvendelseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterHenvendelseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelseJournalforingsInformasjon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterHenvendelseJournalforingsInformasjonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterHenvendelseJournalforingsInformasjonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendHenvendelseService">
        <wsdl:port binding="tns:SendHenvendelseBinding" name="SendHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/SendHenvendelseService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
