behandle-sykefravaersoppfoelgingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1/behandleSykefravaersoppfoelging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleSykefravaersoppfoelging" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleSykefravaersoppfoelging/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="bekreftNaermesteLeder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:bekreftNaermesteLederRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bekreftNaermesteLederResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bekreftNaermesteLederingenAktivPersonalleder" type="feil:IngenAktivNaermesteLeder"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bekreftNaermesteLeder_ingenAktivPersonalleder">
    <wsdl:part name="ingenAktivPersonalleder" element="tns:bekreftNaermesteLederingenAktivPersonalleder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bekreftNaermesteLederRequest">
    <wsdl:part name="parameters" element="tns:bekreftNaermesteLeder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bekreftNaermesteLederResponse">
    <wsdl:part name="parameters" element="tns:bekreftNaermesteLederResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleSykefravaersoppfoelging_v1">
    <wsdl:operation name="bekreftNaermesteLeder">
      <wsdl:input message="tns:bekreftNaermesteLederRequest">
    </wsdl:input>
      <wsdl:output message="tns:bekreftNaermesteLederResponse">
    </wsdl:output>
      <wsdl:fault name="ingenAktivPersonalleder" message="tns:bekreftNaermesteLeder_ingenAktivPersonalleder">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
