behandlesak-v2/src/main/resources/behandlesak/v2/wsdl/BehandleSakV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandlesakv2" targetNamespace="http://nav.no/tjeneste/virksomhet/behandlesak/v2"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/virksomhet/behandlesak/v2"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/virksomhet/behandlesak/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://nav.no/tjeneste/virksomhet/behandlesak/v2">

            <xs:element name="opprettSak" type="tns:opprettSak"/>
            <xs:element name="opprettSakResponse" type="tns:opprettSakResponse"/>
            <xs:element name="ping" type="tns:ping"/>
            <xs:element name="pingResponse" type="tns:pingResponse"/>
            <xs:element name="WSUgyldigInputFault" type="tns:WSUgyldigInputFault"/>
            <xs:element name="WSSakEksistererAlleredeFault" type="tns:WSSakEksistererAlleredeFault"/>
            <xs:element name="WSSikkerhetsbegrensningFault" type="tns:WSSikkerhetsbegrensningFault"/>

            <!--Klasser-->
            <xs:complexType name="ping">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="opprettSak">
                <xs:sequence>
                    <xs:element minOccurs="0" name="opprettSakRequest" type="tns:WSOpprettSakRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSOpprettSakRequest">
                <xs:sequence>
                    <xs:element name="wsSak" type="tns:WSSak"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="opprettSakResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="tns:WSOpprettSakResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSOpprettSakResponse">
                <xs:sequence>
                    <xs:element name="sakId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSSak">
                <xs:sequence>
                    <xs:element name="sakId" type="xs:string"/>
                    <xs:element name="fagsystem" type="xs:string"/>
                    <xs:element name="sakstype" type="xs:string"/>
                    <xs:element name="fagomraade" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="gjelderBrukerListe" type="tns:WSAktor"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSAktor">
                <xs:sequence>
                    <xs:element name="aktorType" type="tns:WSAktorType"/>
                    <xs:element name="ident" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSUgyldigInputFault">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="WSSakEksistererAlleredeFault">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="WSSikkerhetsbegrensningFault">
                <xs:sequence>
                    <xs:element name="feilmelding" nillable="true" type="xs:string"/>
                    <xs:element name="feilkilde" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!--Enum-->
            <xs:simpleType name="WSAktorType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PERSON"/>
                    <xs:enumeration value="ORGANISASJON"/>
                    <xs:enumeration value="UKJENT"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ping">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettSak">
        <wsdl:part name="parameters" element="tns:opprettSak">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettSakResponse">
        <wsdl:part name="parameters" element="tns:opprettSakResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSUgyldigInputException">
        <wsdl:part name="WSUgyldigInputException" element="tns:WSUgyldigInputFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSSakEksistererAlleredeException">
        <wsdl:part name="WSSakEksistererAlleredeException" element="tns:WSSakEksistererAlleredeFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSSikkerhetsbegrensningException">
        <wsdl:part name="WSSikkerhetsbegrensningException" element="tns:WSSikkerhetsbegrensningFault">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BehandleSakV2">
        <wsdl:operation name="opprettSak">
            <wsdl:input name="opprettSak" message="tns:opprettSak">
            </wsdl:input>
            <wsdl:output name="opprettSakResponse" message="tns:opprettSakResponse">
            </wsdl:output>
            <wsdl:fault name="WSUgyldigInputException" message="tns:WSUgyldigInputException">
            </wsdl:fault>
            <wsdl:fault name="WSSakEksistererAlleredeException" message="tns:WSSakEksistererAlleredeException">
            </wsdl:fault>
            <wsdl:fault name="WSSikkerhetsbegrensningException" message="tns:WSSikkerhetsbegrensningException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="ping" message="tns:ping">
            </wsdl:input>
            <wsdl:output name="pingResponse" message="tns:pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BehandleSakV2SoapBinding" type="tns:BehandleSakV2">
        <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opprettSak">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlesak/v2/BehandleSak_v2/opprettSakRequest"/>
            <wsdl:input name="opprettSak">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettSakResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSUgyldigInputException">
                <soap:fault name="WSUgyldigInputException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSakEksistererAlleredeException">
                <soap:fault name="WSSakEksistererAlleredeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSSikkerhetsbegrensningException">
                <soap:fault name="WSSikkerhetsbegrensningException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandlesak/v2/BehandleSak_v2/pingRequest"/>
            <wsdl:input name="ping">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BehandleSak_v2">
        <wsdl:port name="BehandleSakV2" binding="tns:BehandleSakV2SoapBinding">
            <soap:address location="http://localhost:9090/BehandleSak_v2Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>