nav-meldekortutbetalingsgrunnlag-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldekortutbetalingsgrunnlag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="meldekortUtbetalingsgrunnlag" targetNamespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/meldekortUtbetalingsgrunnlag/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnMeldekortUtbetalingsgrunnlagListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnMeldekortUtbetalingsgrunnlagListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnMeldekortUtbetalingsgrunnlagListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnMeldekortUtbetalingsgrunnlagListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnMeldekortUtbetalingsgrunnlagListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnMeldekortUtbetalingsgrunnlagListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnMeldekortUtbetalingsgrunnlagListeaktoerIkkeFunnet" type="feil:AktoerIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMeldekortUtbetalingsgrunnlagListeRequest">
    <wsdl:part name="parameters" element="tns:finnMeldekortUtbetalingsgrunnlagListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMeldekortUtbetalingsgrunnlagListeResponse">
    <wsdl:part name="parameters" element="tns:finnMeldekortUtbetalingsgrunnlagListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMeldekortUtbetalingsgrunnlagListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnMeldekortUtbetalingsgrunnlagListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMeldekortUtbetalingsgrunnlagListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnMeldekortUtbetalingsgrunnlagListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnMeldekortUtbetalingsgrunnlagListe_aktoerIkkeFunnet">
    <wsdl:part name="aktoerIkkeFunnet" element="tns:finnMeldekortUtbetalingsgrunnlagListeaktoerIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="meldekortUtbetalingsgrunnlag_v1">
    <wsdl:operation name="finnMeldekortUtbetalingsgrunnlagListe">
      <wsdl:input message="tns:finnMeldekortUtbetalingsgrunnlagListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnMeldekortUtbetalingsgrunnlagListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnMeldekortUtbetalingsgrunnlagListe_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="aktoerIkkeFunnet" message="tns:finnMeldekortUtbetalingsgrunnlagListe_aktoerIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnMeldekortUtbetalingsgrunnlagListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
