henvendelse-meldinger/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/Meldinger.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1"
	xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/meldinger"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HenvendelseMeldingerService" targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1">

	<wsdl:types>
		<xsd:schema
			xmlns:informasjon="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon"
			targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/meldinger">
			<xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon" schemaLocation="informasjon/informasjon.xsd" />

			<xsd:element name="hentMeldingListe">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fodselsnummer" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="hentMeldingListeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="informasjon:melding" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

            <xsd:element name="merkMeldingSomLest">
	            <xsd:complexType>
			        <xsd:sequence>
			            <xsd:element name="behandlingsId" type="xsd:string"/>
			        </xsd:sequence>
			    </xsd:complexType>
            </xsd:element>

			<xsd:element name="merkMeldingSomLestResponse">
				<xsd:complexType />
			</xsd:element>

			<xsd:element name="ping">
				<xsd:complexType />
			</xsd:element>

			<xsd:element name="pingResponse">
				<xsd:complexType />
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="hentMeldingListeRequest">
		<wsdl:part element="meldinger:hentMeldingListe" name="hentMeldingListeRequest" />
	</wsdl:message>
	<wsdl:message name="hentMeldingListeResponse">
		<wsdl:part element="meldinger:hentMeldingListeResponse" name="hentMeldingListeResponse" />
	</wsdl:message>

	<wsdl:message name="merkMeldingSomLestRequest">
		<wsdl:part element="meldinger:merkMeldingSomLest" name="merkMeldingSomLestRequest" />
	</wsdl:message>
	<wsdl:message name="merkMeldingSomLestResponse">
		<wsdl:part element="meldinger:merkMeldingSomLestResponse" name="merkMeldingSomLestResponse" />
	</wsdl:message>

    <wsdl:message name="pingRequest">
        <wsdl:part element="meldinger:ping" name="pingRequest" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="meldinger:pingResponse" name="pingResponse" />
    </wsdl:message>

	<wsdl:portType name="HenvendelseMeldingerPortType">
		<wsdl:operation name="hentMeldingListe">
			<wsdl:input message="tns:hentMeldingListeRequest" name="hentMeldingListeRequest" />
			<wsdl:output message="tns:hentMeldingListeResponse" name="hentMeldingListeResponse" />
		</wsdl:operation>
		<wsdl:operation name="merkMeldingSomLest">
			<wsdl:input message="tns:merkMeldingSomLestRequest" name="merkMeldingSomLestRequest" />
			<wsdl:output message="tns:merkMeldingSomLestResponse" name="merkMeldingSomLestResponse" />
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest" />
            <wsdl:output message="tns:pingResponse" name="pingResponse" />
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HenvendelseMeldingerBinding" type="tns:HenvendelseMeldingerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="hentMeldingListe">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="hentMeldingListeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="hentMeldingListeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="merkMeldingSomLest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="merkMeldingSomLestRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="merkMeldingSomLestResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HenvendelseMeldingerService">
		<wsdl:port binding="tns:HenvendelseMeldingerBinding" name="HenvendelseMeldingerPort">
			<soap:address location="http://localhost:8081/domene.Brukerdialog/HenvendelseMeldingerService_v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
