arbeidOgAktivitetSak/src/main/resources/arbeidOgAktivitetSak/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/feil" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/feil">
  <xsd:complexType name="ForretningsmessigUnntak">
    <xsd:sequence>
      <xsd:element name="feilkilde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kilden der feilen oppstod: applikasjonsnavn, tjenestenavn, operasjonsnavn.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilaarsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsaken til at feilen oppstod: system/application id (hvis tilgjengelig), exception navn, melding.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsaken til at feilen oppstod: System/application id (hvis tilgjengelig), exception navn, melding.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato og tidspunkt for når feilen oppstod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsbegrensning">
    <xsd:annotation>
      <xsd:documentation>Ved tilgangsnekt for saksbehandler.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UgyldigInput">
    <xsd:annotation>
      <xsd:documentation>Ved feil på validering av input-feltene:

   1. 

orgnr

   2. 

tilsagnsnr

   3. 

tiltaksdeltager

   4. 

ansvarligNavEnhetId

   5. 

maksAntall</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>