dial-nav-tjeneste-sak/src/main/wsdl/no/nav/tjeneste/virksomhet/sak/v1/sak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sak" targetNamespace="http://nav.no/tjeneste/virksomhet/sak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/sak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnSakforMangeForekomster" type="feil:ForMangeForekomster"/>
      <xsd:element name="hentSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSaksakIkkeFunnet" type="feil:SakIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnSak_forMangeForekomster">
    <wsdl:part name="forMangeForekomster" element="tns:finnSakforMangeForekomster">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSak_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnSakugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakRequest">
    <wsdl:part name="parameters" element="tns:finnSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSak_sakIkkeFunnet">
    <wsdl:part name="sakIkkeFunnet" element="tns:hentSaksakIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakResponse">
    <wsdl:part name="parameters" element="tns:finnSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSakResponse">
    <wsdl:part name="parameters" element="tns:hentSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSakRequest">
    <wsdl:part name="parameters" element="tns:hentSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sak_v1">
    <wsdl:operation name="finnSak">
      <wsdl:input message="tns:finnSakRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnSakResponse">
    </wsdl:output>
      <wsdl:fault name="forMangeForekomster" message="tns:finnSak_forMangeForekomster">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnSak_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSak">
      <wsdl:input message="tns:hentSakRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSakResponse">
    </wsdl:output>
      <wsdl:fault name="sakIkkeFunnet" message="tns:hentSak_sakIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
