arbeidogaktivitet-tjenestespesifikasjon/src/main/resources/arbeidOgAktivitetSak/arbeidOgAktivitetSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="arbeidOgAktivitetSak" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidOgAktivitetSak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnTiltaksgjennomfoeringListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnTiltaksgjennomfoeringListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnTiltaksgjennomfoeringListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnTiltaksgjennomfoeringListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnTiltaksgjennomfoeringListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnTiltaksgjennomfoeringListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnTiltaksgjennomfoeringListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnTiltaksgjennomfoeringListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnTiltaksgjennomfoeringListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnTiltaksgjennomfoeringListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnTiltaksgjennomfoeringListeResponse">
    <wsdl:part name="parameters" element="tns:finnTiltaksgjennomfoeringListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnTiltaksgjennomfoeringListeRequest">
    <wsdl:part name="parameters" element="tns:finnTiltaksgjennomfoeringListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="arbeidOgAktivitetSak_v1">
    <wsdl:operation name="finnTiltaksgjennomfoeringListe">
      <wsdl:input message="tns:finnTiltaksgjennomfoeringListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnTiltaksgjennomfoeringListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnTiltaksgjennomfoeringListe_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnTiltaksgjennomfoeringListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
