nav-fim-organisasjon-v4-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjon/v4/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v4/Binding" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjon/v4/Binding" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/organisasjon/v4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="organisasjon.wsdl" namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v4"/>
  <wsdl:binding name="Organisasjon_v4Binding" type="wsdl_1:Organisasjon_v4">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/Bindingping/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindingfinnOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="finnOrganisasjonFault">
        <soap:fault name="finnOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="finnOrganisasjonFault1">
        <soap:fault name="finnOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjonsnavnBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindinghentOrganisasjonsnavnBolk/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindinghentOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hentOrganisasjonFault">
        <soap:fault name="hentOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="hentOrganisasjonFault1">
        <soap:fault name="hentOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNoekkelinfoOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindinghentNoekkelinfoOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hentNoekkelinfoOrganisasjonFault">
        <soap:fault name="hentNoekkelinfoOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="hentNoekkelinfoOrganisasjonFault1">
        <soap:fault name="hentNoekkelinfoOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validerOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindingvaliderOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="validerOrganisasjonFault">
        <soap:fault name="validerOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="validerOrganisasjonFault1">
        <soap:fault name="validerOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVirksomhetsOrgnrForJuridiskOrgnrBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindinghentVirksomhetsOrgnrForJuridiskOrgnrBolk/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnOrganisasjonsendringerListe">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindingfinnOrganisasjonsendringerListe/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="finnOrganisasjonsendringerListeFault">
        <soap:fault name="finnOrganisasjonsendringerListeFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Organisasjon_v4">
    <wsdl:port binding="tns:Organisasjon_v4Binding" name="Organisasjon_v4Port">
      <soap:address location="http://nav.no/tjeneste/virksomhet/organisasjon/v4/BindingOrganisasjon_v4/Organisasjon_v4Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>