nav-fim-person-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/person/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/person/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/person/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/person/v1/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/person/v1/informasjon" schemaLocation="../informasjon/person.xsd"/>
	<xs:complexType name="HentKjerneinformasjonRequest">
		<xs:sequence>
			<xs:element name="ident" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HentKjerneinformasjonResponse">
		<xs:sequence>
			<xs:element name="person" type="informasjon:Person" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
