nav-fim-tssws-organisasjon-v4-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/fellesregistre/tssws_organisasjon/v4/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:metadata="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/metadata" xmlns:informasjon="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/fellesregistre/tssws_organisasjon/v4/metadata" schemaLocation="../metadata/metadata.xsd"/>		
	<xs:complexType name="Organisasjon">
		<xs:sequence>
			<xs:element name="orgnummer" type="informasjon:Organisasjonsnummer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="navn" type="informasjon:Organisasjonsnavn" minOccurs="0" maxOccurs="1" />
			<xs:element name="organisasjonDetaljer" type="informasjon:OrganisasjonsDetaljer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisasjonsDetaljer">
		<xs:sequence>			
			<xs:element name="gjeldendeMaalform" type="informasjon:Maalformer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Målform fra ER: kun bokmål og nynorsk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="opphoersdato" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
 Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="forretningsadresse" type="informasjon:SemistrukturertAdresse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="postadresse" type="informasjon:SemistrukturertAdresse" minOccurs="0" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Maalformer">
		<xs:annotation>
			<xs:documentation>http://nav.no/kodeverk/Kodeverk/M_c3_a5lformer</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/M_c3_a5lformer" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GeografiskAdresse">
		<xs:complexContent>
			<xs:extension base="informasjon:Adresse">
				<xs:sequence>
					<xs:element name="adresseId" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Foregriper løsning for sentralt adresseregister med kilder som f.eks. matrikkelen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="landkode" type="informasjon:Landkoder" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Adresse" abstract="true">
		<xs:annotation>
			<xs:documentation>Adresse er en opplysning som representerer en elektronisk eller fysisk stedsangivelse. </xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attributeGroup ref="metadata:Bruksperiode"/>
		<xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsidentifikator">
		<xs:restriction base="informasjon:Identifikator"/>
	</xs:simpleType>
	<xs:simpleType name="Organisasjonsnummer">
		<xs:restriction base="informasjon:Organisasjonsidentifikator"/>
	</xs:simpleType>
	<xs:complexType name="Landkoder">
		<xs:annotation>
			<xs:documentation>Sett med unike koder for land. http://nav.no/kodeverk/Kodeverk/Landkoder(fra TPS)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="informasjon:Kodeverdi">
				<xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>	
	
	<xs:complexType name="Kodeverdi" abstract="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="kodeRef" use="optional" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SammensattNavn" abstract="true">
		<xs:sequence>
		</xs:sequence>		
	</xs:complexType>
	<xs:complexType name="Organisasjonsnavn">
                <xs:sequence>
                        <xs:element name="navn" type="informasjon:UstrukturertNavn" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="redigertNavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
                <xs:attributeGroup ref="metadata:Bruksperiode"/>
                <xs:attributeGroup ref="metadata:Gyldighetsperiode"/>
    </xs:complexType>
	<xs:complexType name="UstrukturertNavn">
		<xs:complexContent>
			<xs:extension base="informasjon:SammensattNavn">
				<xs:sequence>
					<xs:element name="navnelinje" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:complexType name="SemistrukturertAdresse">
		<xs:complexContent>
			<xs:extension base="informasjon:GeografiskAdresse">
				<xs:sequence>
					<xs:element name="adresseledd" type="informasjon:NoekkelVerdiAdresse" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>adresseledd inneholder kombinasjon av en type adresseledd og verdi for adresseleddet.
kke tillatt med to adresseledd med samme nøkkel.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoekkelVerdiAdresse">
                <xs:sequence>
                        <xs:element name="noekkel" type="informasjon:NoeklerAdresseleddSemistrukturerteAdresser" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="verdi" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
    </xs:complexType>
	 <xs:complexType name="NoeklerAdresseleddSemistrukturerteAdresser">
                <xs:annotation>
                        <xs:documentation>http://nav.no/kodeverk/Kodeverk/N_c3_b8klerAdresseleddSemistrukturerteAdresser</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                        <xs:extension base="informasjon:Kodeverdi">
                                <xs:attribute name="kodeverksRef" use="optional" fixed="http://nav.no/kodeverk/Kodeverk/N_c3_b8klerAdresseleddSemistrukturerteAdresser" type="xs:anyURI"/>
                        </xs:extension>
                </xs:simpleContent>
    </xs:complexType>					
</xs:schema>
