henvendelse-dokumentinnsending-tjenestespesifikasjon/henvendelse-jaxws/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/informasjonsmeldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:brukerhenvendelse="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/informasjon" schemaLocation="../informasjon/henvendelse.xsd"/>
	
	<!--hent dokument -->
	<xs:complexType name="hentDokumentRequest">
		<xs:sequence>
			<xs:element name="dokumentId" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hentDokumentResponse">
		<xs:sequence>
			<xs:element name="dokument" type="brukerhenvendelse:dokument"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End hent dokument -->

	<!-- hent brukerbehandlinger meldinger -->
	<xs:complexType name="hentBrukerBehandlingerRequest">
		<xs:sequence>
			<xs:element name="aktorId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hentBrukerBehandlingerResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="brukerBehandlinger" type="brukerhenvendelse:brukerBehandlingOppsummering"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End hent brukerbehandlinger meldinger -->

	<!-- hent brukerbehandling meldinger -->
	<xs:complexType name="hentBrukerBehandlingRequest">
		<xs:sequence>
			<xs:element name="behandlingsId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hentBrukerBehandlingResponse">
		<xs:sequence>
			<xs:element name="brukerBehandling" type="brukerhenvendelse:brukerBehandling"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End hent brukerbehandling meldinger -->

	<!-- Hent dokumentforventninger -->
	<xs:complexType name="hentDokumentForventningerRequest">
		<xs:sequence>
			<xs:element name="behandlingsId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hentDokumentForventningerResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="dokumentForventning" type="brukerhenvendelse:dokumentForventning"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End hent dokumentforventninger -->

	<!-- Hent dokumentforventning -->
	<xs:complexType name="hentDokumentForventningRequest">
		<xs:sequence>
			<xs:element name="dokumentForventingsId" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hentDokumentForventningResponse">
		<xs:sequence>
			<xs:element name="dokumentForventning" type="brukerhenvendelse:dokumentForventning"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End hent dokumentforventning -->

	<xs:complexType name="pingRequest" />
	<xs:complexType name="pingResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
