arena-nav-behandleArbeidsytelseSak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/BehandleArbeidsytelseSakV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleArbeidsytelseSakV1" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/feil" xmlns:meld="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/meldinger">
            <import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/feil" schemaLocation="feil/feil.xsd"/>
            <import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
            <element name="ping">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="pingResponse">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettSakResponse">
                <complexType>
                    <sequence>
                        <element minOccurs="0" name="response" type="meld:OpprettSakResponse"/>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettSak">
                <complexType>
                    <sequence>
                        <element name="request" type="meld:OpprettSakRequest"/>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettSakSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
            <element name="opprettSakUgyldigInput" type="feil:UgyldigInput"/>
            <element name="opprettSakPersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
            <element name="opprettSakNavEnhetIkkeFunnet" type="feil:NavEnhetIkkeFunnet"/>
            <element name="opprettSakAnsattIdIkkeFunnet" type="feil:AnsattIdIkkeFunnet"/>
        </schema>
  </wsdl:types>
  <wsdl:message name="opprettSak_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:opprettSakSikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSakRequest">
    <wsdl:part name="parameters" element="tns:opprettSak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_navEnhetIkkeFunnet">
    <wsdl:part name="navEnhetIkkeFunnet" element="tns:opprettSakNavEnhetIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:opprettSakPersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSakResponse">
    <wsdl:part name="parameters" element="tns:opprettSakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_ansattIdIkkeFunnet">
    <wsdl:part name="ansattIdIkkeFunnet" element="tns:opprettSakAnsattIdIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettSak_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:opprettSakUgyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleArbeidsytelseSak_v1">
    <wsdl:operation name="ping">
      <wsdl:input name="ping" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettSak">
      <wsdl:input name="opprettSak" message="tns:opprettSakRequest">
    </wsdl:input>
      <wsdl:output name="opprettSakResponse" message="tns:opprettSakResponse">
    </wsdl:output>
      <wsdl:fault name="ansattIdIkkeFunnet" message="tns:opprettSak_ansattIdIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="personIkkeFunnet" message="tns:opprettSak_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="navEnhetIkkeFunnet" message="tns:opprettSak_navEnhetIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:opprettSak_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:opprettSak_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BehandleArbeidsytelseSak_v1Binding" type="tns:BehandleArbeidsytelseSak_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/BehandleArbeidsytelseSak_v1/pingRequest"/>
      <wsdl:input name="ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettSak">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleArbeidsytelseSak/v1/BehandleArbeidsytelseSak_v1/opprettSakRequest"/>
      <wsdl:input name="opprettSak">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="opprettSakResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ansattIdIkkeFunnet">
        <soap:fault name="ansattIdIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="navEnhetIkkeFunnet">
        <soap:fault name="navEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ugyldigInput">
        <soap:fault name="ugyldigInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehandleArbeidsytelseSak_v1">
    <wsdl:port name="BehandleArbeidsytelseSak_v1Port" binding="tns:BehandleArbeidsytelseSak_v1Binding">
      <soap:address location="https://arena.adeo.no/ail_ws/BehandleArbeidsytelseSak_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
