nav-fim-behandlejournal-v3-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v3/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/Binding"
				  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/Binding"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/behandleJournal/v3"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v3" location="behandleJournal.wsdl">
	</wsdl:import>
	<wsdl:binding name="behandleJournal_v3Binding" type="wsdl_1:behandleJournal_v3">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing/>
		<wsdl:operation name="arkiverUstrukturertKrav">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/arkiverUstrukturertKravRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="arkiverUstrukturertKravSikkerhetsbegrensning">
				<soap:fault name="arkiverUstrukturertKravSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lagreVedleggPaaJournalpost">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/lagreVedleggPaaJournalpostRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet">
				<soap:fault name="lagreVedleggPaaJournalpostjournalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="lagreVedleggPaaJournalpostSikkerhetsbegrensning">
				<soap:fault name="lagreVedleggPaaJournalpostSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ferdigstillDokumentopplasting">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/ferdigstillDokumentopplastingRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ferdigstillDokumentopplastingjournalpostIkkeFunnet">
				<soap:fault name="ferdigstillDokumentopplastingjournalpostIkkeFunnet" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ferdigstillDokumentopplastingSikkerhetsbegrensning">
				<soap:fault name="ferdigstillDokumentopplastingSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/pingRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="journalfoerNotat">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/journalfoerNotatRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalfoerNotatSikkerhetsbegrensning">
				<soap:fault name="journalfoerNotatSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="journalfoerUtgaaendeHenvendelse">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/journalfoerUtgaaendeHenvendelseRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalfoerUtgaaendeHenvendelseSikkerhetsbegrensning">
				<soap:fault name="journalfoerUtgaaendeHenvendelseSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="journalfoerInngaaendeHenvendelse">
			<soap:operation
					soapAction="http://nav.no/tjeneste/virksomhet/behandleJournal/v3/behandleJournal_v3/journalfoerInngaaendeHenvendelseRequest"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="journalfoerInngaaendeHenvendelseSikkerhetsbegrensning">
				<soap:fault name="journalfoerInngaaendeHenvendelseSikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BehandleJournal_v3">
		<wsdl:port name="behandleJournal_v3Port" binding="tns:behandleJournal_v3Binding">
			<soap:address location="http://localhost:9080/virksomhet/BehandleJournal_v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
