henvendelse-arkivering/src/main/resources/no/nav/tjeneste/virksomhet/arkiverHenvendelseBehandling/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/meldinger" version="2.0" xmlns:arkiverUstrukturertKrav="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/arkiverUstrukturertKrav" xmlns:behandleJournal="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal" xmlns:journalfoerInngaaendeHenvendelse="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerInngaaendeHenvendelse" xmlns:journalfoerNotat="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerNotat" xmlns:journalfoerUtgaaendeHenvendelse="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerUtgaaendeHenvendelse" xmlns:lagreVedleggPaaJournalpost="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/lagreVedleggPaaJournalpost" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/meldinger" xmlns:metadata="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/metadata">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/arkiverUstrukturertKrav" schemaLocation="../informasjon/arkiverUstrukturertKrav/arkiverUstrukturertKrav.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerUtgaaendeHenvendelse" schemaLocation="../informasjon/journalfoerUtgaaendeHenvendelse/journalfoerUtgaaendeHenvendelse.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/lagreVedleggPaaJournalpost" schemaLocation="../informasjon/lagreVedleggPaaJournalpost/lagreVedleggPaaJournalpost.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerNotat" schemaLocation="../informasjon/journalfoerNotat/journalfoerNotat.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/metadata" schemaLocation="../metadata/metadata.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/journalfoerInngaaendeHenvendelse" schemaLocation="../informasjon/journalfoerInngaaendeHenvendelse/journalfoerInngaaendeHenvendelse.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v2/informasjon/behandleJournal" schemaLocation="../informasjon/behandleJournal/behandleJournal.xsd"/>
  <xsd:complexType name="JournalfoerNotatResponse">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreVedleggPaaJournalpostResponse">
    <xsd:sequence>
      <xsd:element name="dokumentId" type="behandleJournal:Identifikator"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalfoerInngaaendeHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="journalpost" type="journalfoerInngaaendeHenvendelse:Journalpost"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="JournalfoerNotatRequest">
    <xsd:sequence>
      <xsd:element name="journalpost" type="journalfoerNotat:Journalpost"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="JournalfoerInngaaendeHenvendelseResponse">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArkiverUstrukturertKravResponse">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
      <xsd:element name="dokumentId" type="behandleJournal:Identifikator"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LagreVedleggPaaJournalpostRequest">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
      <xsd:element name="journalfortDokumentInfo" type="lagreVedleggPaaJournalpost:JournalfoertDokumentInfo"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="JournalfoerUtgaaendeHenvendelseResponse">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalfoerUtgaaendeHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="journalpost" type="journalfoerUtgaaendeHenvendelse:Journalpost"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="FerdigstillDokumentopplastingRequest">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="behandleJournal:JournalpostID"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="ArkiverUstrukturertKravRequest">
    <xsd:sequence>
      <xsd:element name="journalpost" type="arkiverUstrukturertKrav:Journalpost"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
</xsd:schema>