nav-virksomhet-stopprevarsel-v1-meldingsdefinisjon/src/main/xsd/no/nav/melding/virksomhet/stoppReVarsel/v1/v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/stoppReVarsel/v1/stoppReVarsel" xmlns:stoppReVarsel="http://nav.no/melding/virksomhet/stoppReVarsel/v1/stoppReVarsel">
  <xsd:complexType name="StoppReVarsel">
    <xsd:sequence>
      <xsd:element name="varselbestillingId" type="stoppReVarsel:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik id for en varselbestilling i VarselDB</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="stoppReVarsel" type="stoppReVarsel:StoppReVarsel"/>
</xsd:schema>