nav-signatur-v1-tjenestespesfikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/signatur/v1/signatur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="signatur" targetNamespace="http://nav.no/tjeneste/virksomhet/signatur/v1" xmlns:dssa="urn:oasis:names:tc:dss:1.0:profiles:AdES:schema#" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/signatur/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/signatur/v1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	        <xs:import namespace="urn:oasis:names:tc:dss:1.0:core:schema" schemaLocation="schemas/oasis-dss-core-schema-v1.0-os.xsd"/>
	        <xs:import namespace="urn:oasis:names:tc:dss:1.0:profiles:AdES:schema#" schemaLocation="schemas/oasis-dss-profiles-AdES-schema-v1.0-os.xsd"/>	        
			<xsd:element name="ping">
				<xsd:complexType>
					<xsd:sequence>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pingResponse">
				<xsd:complexType>
					<xsd:sequence>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signRequest">
    <wsdl:part name="parameters" element="dss:SignRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyRequest">
    <wsdl:part name="parameters" element="dss:VerifyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signResponse">
    <wsdl:part name="parameters" element="dss:SignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyResponse">
    <wsdl:part name="parameters" element="dss:VerifyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Signatur_v1">
    <wsdl:operation name="sign">
      <wsdl:input message="tns:signRequest">
    </wsdl:input>
      <wsdl:output message="tns:signResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verifyRequest">
    </wsdl:input>
      <wsdl:output message="tns:verifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Signatur_v1Binding" type="tns:Signatur_v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="sign">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/signatur/v1/Signatur_v1/signRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/signatur/v1/Signatur_v1/verifyRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/signatur/v1/Signatur_v1/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Signatur_v1">
    <wsdl:port name="signatur_v1Port" binding="tns:Signatur_v1Binding">
      <soap:address location="http://localhost:9080/virksomhet/signatur"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
