nav-fim-ytelse-v1-tjenestespesifikasjon/src/main/wsdl/Ytelse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Ytelse" targetNamespace="http://nav.no/tjeneste/virksomhet/ytelse/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/ytelse/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/ytelse/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/ytelse/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/ytelse/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/ytelse/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/ytelse/v1/meldinger/meldinger.xsd"/>
			<xs:element name="hentYtelseListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentYtelseListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentYtelseListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentYtelseListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentYtelseListeRequest">
		<wsdl:part name="parameters" element="tns:hentYtelseListe"/>
	</wsdl:message>
	<wsdl:message name="hentYtelseListeResponse">
		<wsdl:part name="parameters" element="tns:hentYtelseListeResponse"/>
	</wsdl:message>
	<wsdl:portType name="YtelsePortType">
		<wsdl:operation name="hentYtelseListe">
			<wsdl:input name="hentYtelseListeRequest" message="tns:hentYtelseListeRequest"/>
			<wsdl:output name="hentYtelseListeResponse" message="tns:hentYtelseListeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="YtelseBinding" type="tns:YtelsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentYtelseListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentYtelseListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentYtelseListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Ytelse">
		<wsdl:port name="Ytelse" binding="tns:YtelseBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
