behandleinntekt-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleInntekt/v1/behandleInntekt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleInntekt" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1/feil" schemaLocation="../feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleinntekt/v1/meldinger" schemaLocation="../meldinger/meldinger.xsd"/>
      <xsd:element name="lagreForventetInntekt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreForventetInntektRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForventetInntektResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForventetInntektpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="lagreForventetInntektsikkerhetsBegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="lagreForventetInntektugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForventetInntektListeBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreForventetInntektListeBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForventetInntektListeBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:LagreForventetInntektListeBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="lagreForventetInntektRequest">
    <wsdl:part name="parameters" element="tns:lagreForventetInntekt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntekt_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:lagreForventetInntektpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntektListeBolkResponse">
    <wsdl:part name="parameters" element="tns:lagreForventetInntektListeBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntekt_sikkerhetsBegrensning">
    <wsdl:part name="sikkerhetsBegrensning" element="tns:lagreForventetInntektsikkerhetsBegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntektResponse">
    <wsdl:part name="parameters" element="tns:lagreForventetInntektResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntektListeBolkRequest">
    <wsdl:part name="parameters" element="tns:lagreForventetInntektListeBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForventetInntekt_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:lagreForventetInntektugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleInntekt_v1">
    <wsdl:operation name="lagreForventetInntekt">
      <wsdl:input message="tns:lagreForventetInntektRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreForventetInntektResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:lagreForventetInntekt_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsBegrensning" message="tns:lagreForventetInntekt_sikkerhetsBegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:lagreForventetInntekt_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lagreForventetInntektListeBolk">
      <wsdl:input message="tns:lagreForventetInntektListeBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreForventetInntektListeBolkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
