nav-behandleArbeidssoeker-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleArbeidssoeker/v1/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/feil"
    xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleArbeidssoeker/v1/feil">

    <xsd:complexType abstract="true" name="ForretningsmessigUnntak">
        <xsd:sequence>
            <xsd:element name="feilkilde" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Kilden der feilet oppsto: applikasjonsnavn, tjenestenavn,
                        operasjonsnavn&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="feilaarsak" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Årsaken til feilet oppstå: System/applikasjons id (hvis tilgjenglig), exception
                        navn, melding&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="feilmelding" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt; Beskrivende feilmelding returnert fra kilden&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tidspunkt" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>&lt;p&gt;Dato og tidspunkt feilet oppsto&lt;/p&gt;</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UgyldigInput">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Sikkerhetsbegrensning">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BrukerFinnesIkke">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Dersom brukeren ikke finnes i folkeregisteret/TPS, så kan brukeren heller ikke
                aktiveres/reaktiveres i Arena&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BrukerIkkeReaktivert">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Bruker kan ikke reaktiveres siden bruker har status som noe annet enn
                ikke-servicebehov&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BrukerManglerArbeidstillatelse">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Bruker kan ikke aktiveres automatisk siden bruker ikke har arbeidstillatelse&lt;/p&gt;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BrukerKanIkkeAktiveres">
        <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Bruker kan ikke aktiveres siden bruker er markert som død/utvandret/forsvunnet&lt;/p&gt;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BrukerKanIkkeReaktiveresForenklet">
        <xsd:annotation>
            <xsd:documentation>Bruker kan ikke reaktiveres forenklet siden kriteriene for enkel reaktivering ikke er oppfylt.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="feil:ForretningsmessigUnntak"></xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>