nav-behandledagpengevedtak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/meldinger"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/meldinger"
    xmlns:info="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/informasjon">
    
    <xsd:import schemaLocation="../informasjon/informasjon.xsd" namespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengevedtak/v1/informasjon"></xsd:import>

    <xsd:complexType name="OpprettVedtakRequest">
        <xsd:sequence>
            <xsd:element name="vedtak" type="info:Vedtak"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpprettVedtakResponse">
        <xsd:sequence>
            <xsd:element name="vedtakId" type="xsd:integer"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>