varseloppgave-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dokument/varseloppgave/v1/varseloppgave.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="varseloppgave" targetNamespace="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/"
					xmlns:feil="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/feil"
					xmlns:meldinger="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/meldinger">
			<xsd:import namespace="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xsd:import namespace="http://nav.no/tjeneste/virksomhet/varseloppgave/v1/meldinger"
						schemaLocation="meldinger/meldinger.xsd"/>
			<xsd:element name="ping">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pingResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bestillVarselOppgave">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="meldinger:BestillVarselOppgaveRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bestillVarselOppgaveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="response" type="meldinger:BestillVarselOppgaveResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bestillVarselOppgaveUgyldigInput" type="feil:UgyldigInput"/>
			<xsd:element name="bestillVarselOppgaveObjektIkkeFunnet" type="feil:ObjektIkkeFunnet"/>
			<xsd:element name="bestillVarselOppgaveBrukerReservertMotElektroniskKommunikasjon"
						 type="feil:BrukerReservertMotElektroniskKommunikasjon"/>
			<xsd:element name="bestillVarselOppgaveBrukerHarIkkeTilstrekkeligPaaloggingsnivaa"
						 type="feil:BrukerHarIkkeTilstrekkeligPaaloggingsnivaa"/>
			<xsd:element name="bestillVarselOppgaveBrukerIkkeRegistrertIIdporten" type="feil:BrukerIkkeRegistrertIIdporten"/>
			<xsd:element name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="bestillVarselOppgaveRequest">
		<wsdl:part name="parameters" element="tns:bestillVarselOppgave"/>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgaveResponse">
		<wsdl:part name="parameters" element="tns:bestillVarselOppgaveResponse"/>
	</wsdl:message>


	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_ugyldigInput">
		<wsdl:part name="ugyldigInput" element="tns:bestillVarselOppgaveUgyldigInput">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_objektIkkeFunnet">
		<wsdl:part name="objektIkkeFunnet" element="tns:bestillVarselOppgaveObjektIkkeFunnet">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_brukerReservertMotElektroniskKommunikasjon">
		<wsdl:part name="brukerReservertMotElektroniskKommunikasjon" element="tns:bestillVarselOppgaveBrukerReservertMotElektroniskKommunikasjon">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_brukerHarIkkeTilstrekkeligPaaloggingsnivaa">
		<wsdl:part name="brukerHarIkkeTilstrekkeligPaaloggingsnivaa"
				   element="tns:bestillVarselOppgaveBrukerHarIkkeTilstrekkeligPaaloggingsnivaa">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_brukerIkkeRegistrertIIdporten">
		<wsdl:part name="brukerIkkeRegistrertIIdporten"
				   element="tns:bestillVarselOppgaveBrukerIkkeRegistrertIIdporten">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="bestillVarselOppgave_sikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning"
				   element="tns:sikkerhetsbegrensning">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Varseloppgave_v1">
		<wsdl:operation name="ping">
			<wsdl:input message="tns:pingRequest">
			</wsdl:input>
			<wsdl:output message="tns:pingResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="bestillVarselOppgave">
			<wsdl:input message="tns:bestillVarselOppgaveRequest">
			</wsdl:input>
			<wsdl:output message="tns:bestillVarselOppgaveResponse">
			</wsdl:output>
			<wsdl:fault name="ugyldigInput" message="tns:bestillVarselOppgave_ugyldigInput"/>
			<wsdl:fault name="objektIkkeFunnet" message="tns:bestillVarselOppgave_objektIkkeFunnet"/>
			<wsdl:fault name="brukerReservertMotElektroniskKommunikasjon" message="tns:bestillVarselOppgave_brukerReservertMotElektroniskKommunikasjon"/>
			<wsdl:fault name="brukerHarIkkeTilstrekkeligPaaloggingsnivaa"
						message="tns:bestillVarselOppgave_brukerHarIkkeTilstrekkeligPaaloggingsnivaa"/>
			<wsdl:fault name="brukerIkkeRegistrertIIdporten"
						message="tns:bestillVarselOppgave_brukerIkkeRegistrertIIdporten"/>
			<wsdl:fault name="sikkerhetsbegrensning"
						message="tns:bestillVarselOppgave_sikkerhetsbegrensning"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
