nav-inngaaendejournal-v1-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/inngaaendeJournal/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/informasjon"
            xmlns:informasjon="http://nav.no/tjeneste/virksomhet/inngaaendeJournal/v1/informasjon">
    <xsd:simpleType name="Identifikator">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Kodeverdi">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Variantformater">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Variantformater" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Arkivfiltyper">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Arkivfiltyper" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Mottakskanaler">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Mottakskanaler" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="Aktoer"/>
    <xsd:complexType name="Organisasjon">
        <xsd:annotation>
            <xsd:documentation>Informasjon om organisasjon</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="informasjon:Aktoer">
                <xsd:sequence>
                    <xsd:element name="organisasjonsnummer" type="informasjon:Identifikator">
                        <xsd:annotation>
                            <xsd:documentation>Organisasjonsnummer tilhørende bruker</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DokumenttypeIder">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/DokumentTypeId-er" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:annotation>
            <xsd:documentation>Informasjon om person</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="informasjon:Aktoer">
                <xsd:sequence>
                    <xsd:element name="ident" type="informasjon:Identifikator">
                        <xsd:annotation>
                            <xsd:documentation>Fnr/Dnr til bruker</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ArkivSak">
        <xsd:annotation>
            <xsd:documentation>Informasjon om saksobjektet</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arkivSakId" type="informasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Id som unikt identifiserer et saksobjekt per arkivSakSystem (ArkivSakId +
                        ArkivSakSystem unik nøkkel)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivSakSystem" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Angivelse av hvilket fagsystem saken tilhører. Gyldige verdier "GSAK" eller
                        "PEN"
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Journalfoeringsbehov">
        <xsd:annotation>
            <xsd:documentation>Enum som blir brukt til å beskrive om et element i en journal mangler</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MANGLER"/>
            <xsd:enumeration value="MANGLER_IKKE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Dokumentkategorier">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Dokumentkategorier" name="kodeverksRef"
                               type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Journaltilstand">
        <xsd:annotation>
            <xsd:documentation>Tilstanden til journalen</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MIDLERTIDIG"/>
            <xsd:enumeration value="UTGAAR"/>
            <xsd:enumeration value="ENDELIG"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dokumenttilstand">
        <xsd:annotation>
            <xsd:documentation>Tilstanden til vedlegget/hoveddokumentet</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FERDIGSTILT"/>
            <xsd:enumeration value="UNDER_REDIGERING"/>
            <xsd:enumeration value="AVBRUTT"/>
            <xsd:enumeration value="SLETTET"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ReferanseTypeCode">
        <xsd:annotation>
            <xsd:documentation>Type referanse, kopi av intern kodeverk</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SED_FLYT"/>
            <xsd:enumeration value="SERIE"/>
            <xsd:enumeration value="OVERSETTELSE"/>
            <xsd:enumeration value="ETTERSENDT"/>
            <xsd:enumeration value="SYS_SED"/>
            <xsd:enumeration value="SPOERSMAAL"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Dokumentinnhold">
        <xsd:annotation>
            <xsd:documentation>Informasjon om innholdet i hoveddokumentet/vedlegget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arkivfiltype" type="informasjon:Arkivfiltyper">
                <xsd:annotation>
                    <xsd:documentation>Filtypen til dokumentet. Se felles kodeverk for relevante verdier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="variantformat" type="informasjon:Variantformater">
                <xsd:annotation>
                    <xsd:documentation>Angivelse av variant et dokument forekommer i, f.eks. produksjonsformat,
                        arkivformat og "sladdet dokument". Se felles kodeverk for relevante verdier.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Tema">
        <xsd:simpleContent>
            <xsd:extension base="informasjon:Kodeverdi">
                <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Tema" name="kodeverksRef" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="InngaaendeJournalpost">
        <xsd:annotation>
            <xsd:documentation>Inngaaende journalpost hos tilbyder</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="avsenderId" type="informasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Id tilhørende avsender</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="forsendelseMottatt" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Datoen forsendelsen er mottatt på.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="mottakskanal" type="informasjon:Mottakskanaler">
                <xsd:annotation>
                    <xsd:documentation>Fra felles kodeverk. Angir hvilken kanal forsendelsen er mottatt på.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tema" type="informasjon:Tema">
                <xsd:annotation>
                    <xsd:documentation>Fra felles kodeverk. Forteller hvilket Tema/Fagområde forsendelsen tilhører.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kanalReferanseId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Benyttes for persistering av kanalspesifikke Ider (f.eks Altinn ArchiveReference, eller HenvendelseId for DittNAV).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="journaltilstand" type="informasjon:Journaltilstand">
                <xsd:annotation>
                    <xsd:documentation>Angir tilstand på journalposten, inkludert om forsendelsen er midlertidig eller
                        endelig journalført fra DOKMOT.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="journalfEnhet" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Feltet kan brukes av fagsystemene for å rute forsendelser til riktig enhet i spesialtilfeller.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="arkivSak" type="informasjon:ArkivSak">
                <xsd:annotation>
                    <xsd:documentation>Informasjon om en arkivsak</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="brukerListe" type="informasjon:Aktoer">
                <xsd:annotation>
                    <xsd:documentation>En liste over brukere</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kryssreferanseListe" maxOccurs="unbounded" minOccurs="0" type="informasjon:Kryssreferanse">
                <xsd:annotation>
                    <xsd:documentation>Kryssreferanse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hoveddokument" type="informasjon:Dokumentinformasjon">
                <xsd:annotation>
                    <xsd:documentation>Hoveddokument tilhørende journalposten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedleggListe" type="informasjon:Dokumentinformasjon">
                <xsd:annotation>
                    <xsd:documentation>Liste med informasjon om vedlegg</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JournalpostMangler">
        <xsd:annotation>
            <xsd:documentation>Objekt som beskriver eventuelle mangler i en journalpost</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="avsenderId" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om Id tilhørende avsender mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="avsenderNavn" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om navn tilhørende avsender mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arkivSak" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om arkivsak mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forsendelseInnsendt" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om dato for innsendt forsendelse mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="innhold" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om beskrivelse av innhold mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tema" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om kode for tema fra felles kodeverk mangler
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bruker" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om bruker mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hoveddokument" type="informasjon:DokumentInformasjonMangler">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver eventuelle mangler relatert til hoveddokumentet
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedleggListe"
                         type="informasjon:DokumentInformasjonMangler">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver eventuelle mangler relatert til vedlegg</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Dokumentinformasjon">
        <xsd:annotation>
            <xsd:documentation>Informasjon om hoveddokumentet/vedlegget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="dokumentInnholdListe" type="informasjon:Dokumentinnhold">
                <xsd:annotation>
                    <xsd:documentation>Informasjon om innholdet til dokumentet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="dokumentkategori" type="informasjon:Dokumentkategorier">
                <xsd:annotation>
                    <xsd:documentation>Dokumentkategori. Se kodeverk for relevante verdier.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="dokumenttypeId" type="informasjon:DokumenttypeIder">
                <xsd:annotation>
                    <xsd:documentation>Unik identifikator av dokumenttype på tvers av fagsystemer fra felles kodeverk.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentId" type="informasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Unik identifikator på hoveddokumentet/vedlegget hos tilbyder</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="dokumenttilstand" type="informasjon:Dokumenttilstand">
                <xsd:annotation>
                    <xsd:documentation>Tilstanden til objektet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DokumentInformasjonMangler">
        <xsd:annotation>
            <xsd:documentation>Objekt som beskriver eventuelle mangler tilhørende et vedlegg/hoveddokument
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentkategori" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om dokumentkategorien mangler</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentId" type="informasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Unik id for dokumentet hos tilbyder</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tittel" type="informasjon:Journalfoeringsbehov">
                <xsd:annotation>
                    <xsd:documentation>Verdi som beskriver om tittel tilhørende hoveddokument/vedlegg mangler
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kryssreferanse">
        <xsd:annotation>
            <xsd:documentation>Informasjon om kryssreferanse</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="referanseId" type="informasjon:Identifikator">
                <xsd:annotation>
                    <xsd:documentation>Referanse (intern eller ekstern)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referanseType" type="informasjon:ReferanseTypeCode">
                <xsd:annotation>
                    <xsd:documentation>Definerer type referanse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>