behandleArbeidOgAktivitetOppgave-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1/behandlearbeidogaktivitetoppgave.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleArbeidOgAktivitetOppgave" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleArbeidOgAktivitetOppgave/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="bestillOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:BestillOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:BestillOppgaveResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillOppgaveugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="bestillOppgavesakIkkeOpprettet" type="feil:SakIkkeOpprettet"/>
      <xsd:element name="bestillOppgavepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="bestillOppgavepersonErInaktiv" type="feil:PersonErInaktiv"/>
      <xsd:element name="bestillOppgaveorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
      <xsd:element name="bestillOppgavesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bestillOppgave_personErInaktiv">
    <wsdl:part name="personErInaktiv" element="tns:bestillOppgavepersonErInaktiv">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgave_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:bestillOppgavepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgaveRequest">
    <wsdl:part name="parameters" element="tns:bestillOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgave_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:bestillOppgavesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgaveResponse">
    <wsdl:part name="parameters" element="tns:bestillOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgave_sakIkkeOpprettet">
    <wsdl:part name="sakIkkeOpprettet" element="tns:bestillOppgavesakIkkeOpprettet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgave_organisasjonIkkeFunnet">
    <wsdl:part name="organisasjonIkkeFunnet" element="tns:bestillOppgaveorganisasjonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bestillOppgave_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:bestillOppgaveugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleArbeidOgAktivitetOppgave_v1">
    <wsdl:operation name="bestillOppgave">
      <wsdl:input message="tns:bestillOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:bestillOppgaveResponse">
    </wsdl:output>
      <wsdl:fault name="sakIkkeOpprettet" message="tns:bestillOppgave_sakIkkeOpprettet">
    </wsdl:fault>
      <wsdl:fault name="personIkkeFunnet" message="tns:bestillOppgave_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="personErInaktiv" message="tns:bestillOppgave_personErInaktiv">
    </wsdl:fault>
      <wsdl:fault name="organisasjonIkkeFunnet" message="tns:bestillOppgave_organisasjonIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:bestillOppgave_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:bestillOppgave_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
<wsdl:documentation>Ping-tjeneste for å sjekke at tjenesten i Arena svarer. </wsdl:documentation>
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
