dokumentproduksjon-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/dokumentproduksjon/v3/feil/feil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/feil" xmlns:feil="http://nav.no/tjeneste/virksomhet/dokumentproduksjon/v3/feil">
  <xsd:complexType name="RedigeringIkkeTillatt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentTillatesIkkeGjenbrukt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentAlleredeRedigerbart">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentErVedlegg">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostAlleredeAvbrutt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentIkkeRedigerbart">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentIkkeFunnet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentUnderRedigering">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentErAvbrutt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostIkkeUnderArbeid">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentAlleredeAvbrutt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PessimistiskLaasing">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostIkkeFunnet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalpostIkkeFerdigstilt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EksterntVedleggIkkeTillatt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ForretningsmessigUnntak">
    <xsd:sequence>
      <xsd:element name="feilkilde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kilden der feilet oppsto: applikasjonsnavn, tjenestenavn, operasjonsnavn&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilaarsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsaken til feilet oppstå: System/applikasjons id (hvis tilgjenglig), exception navn, melding&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivende feilmelding returnert fra kilden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato og tidspunkt feilet oppsto&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForsendelseIkkeFunnet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentIkkeVedlegg">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VedleggIkkeTillatt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UlikeFagomraader">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AvbrytelseIkkeTillatt">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentErRedigerbart">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsbegrensning">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BrevdataValideringFeilet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InputValideringFeilet">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JoarkForretningsmessigUnntak">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MetaforceInstanceClosed">
    <xsd:complexContent>
      <xsd:extension base="feil:ForretningsmessigUnntak"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>