pensjonsak-esb-tjenestespesifikasjon/src/main/wsdl/pensjonsak/no/nav/virksomhet/gjennomforing/sak/pensjon/pensjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/gjennomforing/sak/pensjon/v1" version="1.0" xmlns:pensjon="http://nav.no/virksomhet/gjennomforing/sak/pensjon/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType abstract="true" name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType name="SakUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="pensjon:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodetabell">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Generisk objekt som representerer en kode og dens tilhørende beskrivelse/dekode. Brukes som foreldreklasse til selve kode-objektet.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Selve kodeverdien&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dekode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tekstlig beskrivelse av koden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sakstype">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Objekt som arver fra Kodetabell, representerer kode og dekode. Under er det listet opp gyldige koder per i dag, men oppdatert liste finnes kun i PESYS’ kodetabell K_SAK_T.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;Kode&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Dekode&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;AFP&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;AFP&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ALDER&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Alderspensjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;BARNEP&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Barnepensjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;FAM_PL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Familiepleierytelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;GJENLEV&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Gjenlevendeytelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;KRIGSP&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Krigspensjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;OMSORG&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Omsorgsopptjening&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;UFOREP&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Uførepensjon&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;GENRL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Generell&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;GRBL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Grunnblanketter&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;GAM_YRK&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Gammel yrkesskade&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;AFP_PRIVAT&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;AFP Privat&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pensjon:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sporingsdetalj">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprettetDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tidspunkt for opprettelsen av data.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sporing">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprettetInfo" type="pensjon:Sporingsdetalj">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:11pt;font-family:Calibri;"&gt;Informasjon om når dataene ble opprettet&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Saksstatus">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Objekt som arver fra Kodetabell, representerer kode og dekode. Under er det listet opp gyldige koder per i dag, men oppdatert liste finnes kun i PESYS’ kodetabell K_SAK_S.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;Kode&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Dekode&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;AVSLUTTET&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Avsluttet&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;LOPENDE&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Løpende&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;OPPRETTET&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Opprettet&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;TIL_BEHANDLING&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Til behandling&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pensjon:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sak">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av en sak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakstype" type="pensjon:Sakstype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir hvilken sakstype saken er klassifisert som.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksstatus" type="pensjon:Saksstatus">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir hvilken status saken har.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten som er ansvarlig for saken&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="pensjon:Sporing">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sporingsdata om saken.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inhabil" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om saken er merket som inhabil.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="pensjon:SakUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>