elektronisknotifikasjon-utsending/src/main/resources/SendElektroniskNotifikasjon.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="SendElektroniskNotifikasjonService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1">
    <wsdl:types>
        <xsd:schema
                xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1"
                elementFormDefault="unqualified"
                targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1"
                xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1">

            <xsd:import namespace="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1"
                        schemaLocation="no/nav/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1/meldinger.xsd"/>

            <xsd:element name="sendElektroniskNotifikasjon" type="meldinger:sendElektroniskNotifikasjonRequest"/>
            <xsd:element name="sendElektroniskNotifikasjonResponse" type="meldinger:sendElektroniskNotifikasjonResponse"/>
            <xsd:element name="ping" type="meldinger:pingRequest"/>
            <xsd:element name="pingResponse" type="meldinger:pingResponse"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="sendElektroniskNotifikasjonRequest">
        <wsdl:part name="parameters" element="tns:sendElektroniskNotifikasjon">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendElektroniskNotifikasjonResponse">
        <wsdl:part name="parameters" element="tns:sendElektroniskNotifikasjonResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SendElektroniskNotifikasjon_v1">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendElektroniskNotifikasjon">
            <wsdl:input message="tns:sendElektroniskNotifikasjonRequest" name="sendElektroniskNotifikasjonRequest">
            </wsdl:input>
            <wsdl:output message="tns:sendElektroniskNotifikasjonResponse" name="sendElektroniskNotifikasjonResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ElektroniskNotifikasjonBinding" type="tns:SendElektroniskNotifikasjon_v1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendElektroniskNotifikasjon">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1/sendElektroniskNotifikasjonRequest" style="document"/>
            <wsdl:input name="sendElektroniskNotifikasjonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendElektroniskNotifikasjonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/brukerdialog/sendelektronisknotifikasjon/v1/pingRequest" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SendElektroniskNotifikasjon_v1">
        <wsdl:port binding="tns:ElektroniskNotifikasjonBinding" name="SendElektroniskNotifikasjon_v1">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/SendElektroniskNotifikasjon_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
