henvendelse-soknadsinnsending/src/main/resources/no/nav/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
    <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/informasjon" schemaLocation="../informasjon/sendsoknad.xsd"/>

    <xs:complexType name="startSoknadRequest"/>
    <xs:complexType name="startSoknadResponse">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lagreVedleggRequest">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="innhold" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lagreVedleggResponse"/>

    <xs:complexType name="sendSoknadRequest">
        <xs:sequence>
            <xs:any/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sendSoknadResponse"/>
	
    <xs:complexType name="avbrytSoknadRequest">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="avbrytSoknadResponse"/>

    <xs:complexType name="pingRequest" />
    <xs:complexType name="pingResponse"/>
</xs:schema>