henvendelse-soknadsinnsending/src/main/resources/no/nav/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/sendsoknad/v1/meldinger" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

    <xs:complexType name="startSoknadRequest">
        <xs:sequence>
        	<xs:element name="fodselsnummer" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="behandlingskjedeId" type="xs:string"/>
            <xs:any processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="behandlingskjedeElement">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
            <xs:element name="innsendtDato" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="status" type="xs:string">
                <xs:annotation><xs:documentation>status-enum definerer de kjente statusene ved genereringstidspunktet</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hentBehandlingskjedeResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="behandlingskjedeElementer" type="tns:behandlingskjedeElement"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hentSoknadResponse">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
            <xs:element name="behandlingskjedeId" type="xs:string" minOccurs="0"/>
            <xs:element name="opprettetDato" type="xs:dateTime"/>
            <xs:element name="innsendtDato" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="sistEndretDato" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="status" type="xs:string">
                <xs:annotation><xs:documentation>status-enum definerer de kjente statusene ved genereringstidspunktet</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="type" type="xs:string">
                <xs:annotation><xs:documentation>type-enum definerer de kjente typene ved genereringstidspunktet</xs:documentation></xs:annotation>
            </xs:element>
            <xs:any processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soknadsdata">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
            <xs:any processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="behandlingsId">
        <xs:sequence>
            <xs:element name="behandlingsId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="empty" />

    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOKUMENTINNSENDING"/>
            <xs:enumeration value="DOKUMENTINNSENDING_ETTERSENDING"/>
            <xs:enumeration value="SEND_SOKNAD"/>
            <xs:enumeration value="SEND_SOKNAD_ETTERSENDING"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNDER_ARBEID"/>
            <xs:enumeration value="FERDIG"/>
            <xs:enumeration value="AVBRUTT_AV_BRUKER"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>