sykmeldingv1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelding/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelding/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykmelding/v1/informasjon">
  <xsd:complexType name="UtdypendeOpplysninger">
    <xsd:annotation>
      <xsd:documentation>Beskriv utdypende opplysninger</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gruppeId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id til spørsmålgruppe</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gruppeTekst" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gruppens overskriftstekst</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="spoersmaal" type="informasjon:Spoersmaal">
        <xsd:annotation>
          <xsd:documentation>Liste med spørsmål i en gruppe</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aarsak">
    <xsd:annotation>
      <xsd:documentation>Beskrivelse av årsak og årsakskoder</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aarsaker" type="informasjon:Aarsaker">
        <xsd:annotation>
          <xsd:documentation>Årsakskode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsaksbeskrivelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adressetype">
    <xsd:annotation>
      <xsd:documentation>Adressetype</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsgiver">
    <xsd:annotation>
      <xsd:documentation>Arbeidsgiver</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="flereArbeidsgivere" type="informasjon:FlereArbeidsgivere">
        <xsd:annotation>
          <xsd:documentation>Har pasienten: · Én arbeidsgiver · Flere arbeidsgivere · Ingen arbeidsgiver"</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgiver for DENNE sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="yrkesbetegnelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Angi yrke/ stilling for dette arbeidsforholdet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingsprosent" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Stillingsprosent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlereArbeidsgivere">
    <xsd:annotation>
      <xsd:documentation>Har pasienten:

   · 

Én arbeidsgiver

   · 

Flere arbeidsgivere

   · 

Ingen arbeidsgiver</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeldingTilNav">
    <xsd:annotation>
      <xsd:documentation>Melding til NAV</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="trengerBistandFraNavUmiddelbart" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Bør NAV ta fatt i saken umiddelbart?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beskrivelseBistandNav" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Utdype/begrunne hvorfor NAV skal ta opp saken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Felles identifikator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Landkoder">
    <xsd:annotation>
      <xsd:documentation>Sett med unike koder for land. http://nav.no/kodeverk/Kodeverk/Landkoder</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GradertSykmelding">
    <xsd:annotation>
      <xsd:documentation>Pasienten kan være delvis i arbeid (gradert sykmelding)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sykmeldingsgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Angitt sykemeldingsgrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harReisetilskudd" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Reisetilskudd ved gardert sykmelding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Hendelsestype">
    <xsd:annotation>
      <xsd:documentation>Status for sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AKTIVITETSKRAV_VARSEL"/>
      <xsd:enumeration value="NY_NAERMESTE_LEDER"/>
      <xsd:enumeration value="BE_OM_NY_NAERMESTE_LEDER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="KontaktMedPasient">
    <xsd:annotation>
      <xsd:documentation>Kontakt med pasient</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="behandlet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Ved å oppgi informasjonen nedenfor bekreftes at personen er kjent eller har vist legitimasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontakt" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Har det vært kontakt med pasient fra sykmeldingsdato?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="begrunnIkkeKontakt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dokumentere hvorfor det ev. ikke er samsvar (eks kontakt tidligere) dersom sykmelding starter tidligere enn dato den skrives ut.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Navn">
    <xsd:annotation>
      <xsd:documentation>Fornavn, mellomnavn og etternavn</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="etternavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Etternavn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Mellomnavn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fornavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fornavn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Spoersmaal">
    <xsd:annotation>
      <xsd:documentation>Spørsmål og svar</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="spoersmaalId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id til spørsmål</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tekst" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Spørsmålstekst</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="restriksjonskoder" type="informasjon:Restriksjonskode">
        <xsd:annotation>
          <xsd:documentation>Restriksjon for visning · Ikke vis arbeidsgiver · Ikke vis pasient · Ikke vis NAV</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="svar" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Svar på spørsmål</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AktivitetIkkeMulig">
    <xsd:annotation>
      <xsd:documentation>Pasienten kan ikke være i arbeid (100% Sykmelding)</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" name="medisinskeAarsaker" type="informasjon:Aarsak">
        <xsd:annotation>
          <xsd:documentation>"a) helsetilstanden hindrer pasienten å være i aktivitet

b) aktivitet vil forverre helsetilstand

c) aktivitet vil hindre/forsinke bedring av helsetilstanden

d) Annet"

Ikke synlig for arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="muligTilretteleggingPaaArbeidsplassen" type="informasjon:Aarsak">
        <xsd:annotation>
          <xsd:documentation>Arbeidsplassen: Hvis tilrettelegging kunne ha bidratt til økt aktivitet, hvilken gradering kunne ha vært aktuell, eventuelt kunne sykmelding vært unngått? Synlig for arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="Arbeidssituasjon">
    <xsd:annotation>
      <xsd:documentation>Brukers registrerte arbeidssituasjon</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARBEIDSTAKER"/>
      <xsd:enumeration value="SELVSTENDIG"/>
      <xsd:enumeration value="NAERINGSDRIVENDE"/>
      <xsd:enumeration value="FRILANSER"/>
      <xsd:enumeration value="ARBEIDSLEDIG"/>
      <xsd:enumeration value="ANNET"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Diagnose">
    <xsd:annotation>
      <xsd:documentation>Diagnose</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Tiltak">
    <xsd:annotation>
      <xsd:documentation>Innspill til tiltak som kan bedre arbeidsevnen</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tiltakArbeidsplassen" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilke tiltak kan gjøres på arbeidsplassen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tiltakNav" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvilke tiltak kan NAV gjøre</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="andreTiltak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Eventuelle andre tiltak som kan gjøres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HendelseNyNaermesteLeder">
    <xsd:annotation>
      <xsd:documentation>NyNærmesteLeder-hendelser som har inntruffet i sykefraværet.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="naermesteLederId" type="xsd:long">
            <xsd:annotation>
              <xsd:documentation>Nærmeste leder id.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AvsenderSystem">
    <xsd:annotation>
      <xsd:documentation>For å identifisere avsender system</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="navn" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på system</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versjon" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Systemets versjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErIkkeIArbeid">
    <xsd:annotation>
      <xsd:documentation>Gjelder de UTEN arbeidsgiver</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="erArbeidsfoerPaaSikt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Antar du at pasienten på sikt kan bli arbeidsfør?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsfoerFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvis arbeidsfør på sikt,  fra når?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurderingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvis uavklart: Når antar du å kunne gi tilbakemelding på dette?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Hendelse">
    <xsd:annotation>
      <xsd:documentation>Hendelser som har inntruffet i sykefraværet.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="type" type="informasjon:Hendelsestype">
        <xsd:annotation>
          <xsd:documentation>Hvilken type hendelse som er registrert</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato hendelsen inntraff</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppfoelgingsplan">
    <xsd:annotation>
      <xsd:documentation>Oppfølgingsplan og dialog med arbeidsgiver</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="harMottattOppfoelgingsplan" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Mottatt oppfølgingsplan før vurdering av aktivitetskravet ved 8 uker?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erInnkaltFoersteDialogmote" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Innkalt til første dialogmote</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harDeltattFoersteDialogmote" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Hvis du ble innkalt, deltok du?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aarsakIkkeDeltatt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis ikke deltatt, angi årsak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Skjermes">
    <xsd:annotation>
      <xsd:documentation>Skjermingskoder for sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SKJERMES_FOR_ARBEIDSGIVER"/>
      <xsd:enumeration value="SKJERMES_FOR_PASIENT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Prognose">
    <xsd:annotation>
      <xsd:documentation>Prognose</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="erArbeidsfoerEtterEndtPeriode" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Arbeidsfør etter denne perioden?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beskrivHensynArbeidsplassen" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Hvis arbeidsfør etter denne perioden: Beskriv eventuelle hensyn som må tas på arbeidsplassen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsutsikter" type="informasjon:Arbeidsutsikter">
        <xsd:annotation>
          <xsd:documentation>Utsikter for arbeid</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>Perioder for denne sykmeldingen.

Sammenhengende perioder

Ikke overlappende perioder</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Periodens fra og med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Periodens til og med dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitet" type="informasjon:Aktivitet">
        <xsd:annotation>
          <xsd:documentation>Er arbeidsrelatert aktivitet  mulig i perioden?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MedisinskVurdering">
    <xsd:annotation>
      <xsd:documentation>Medisinsk vurdering</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="hoveddiagnose" type="informasjon:Diagnose">
        <xsd:annotation>
          <xsd:documentation>Hoveddiagnose

En diagnosekode er hoveddiagnose</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="bidiagnoser" type="informasjon:Diagnose">
        <xsd:annotation>
          <xsd:documentation>Eventuelle bidiagnoser

Ingen eller flere bidiagnoser</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="annenFravaersaarsak" type="informasjon:Aarsak">
        <xsd:annotation>
          <xsd:documentation>Andre årsaker - lovfestet fraværsgrunn § 8-4, 3. ledd</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erSvangerskapsrelatert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Er sykdommen svangerskapsrelatert?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erYrkesskade" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Kan sykmeldingen skyldes en yrkesskade/yrkessykdom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="yrkesskadeDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Evt skadedato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skalSkjermesForPasient" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Diagnose skal skjermes for pasient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErIArbeid">
    <xsd:annotation>
      <xsd:documentation>Gjelder de MED arbeidsgiver</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="harEgetArbeidPaaSikt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Antar du at pasienten på sikt kan komme tilbake i eget/arbeid/på egen arbeidsplass (helt/deltvis) oppgi dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Er i arbeid fra når?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="harAnnetArbeidPaaSikt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Antar du at pasienten på sikt kan komme i annet arbeid?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurderingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Hvis usikker: Når antar du å kunne gi tilbakemelding på dette?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppfoelgingstilfelle">
    <xsd:annotation>
      <xsd:documentation>Oppfølgingstilfelle for relaterte sykmeldinger</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="meldingListe" type="informasjon:Melding">
        <xsd:annotation>
          <xsd:documentation>Gruppe med sykmeldinger i det samme oppfølgingstilfellet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppfoelgingsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Første fraværsdag i oppfølgingstilfellet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="hendelseListe" type="informasjon:Hendelse">
        <xsd:annotation>
          <xsd:documentation>Liste med hendelser som har oppstått ifm oppfølgingstilfellet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adresse">
    <xsd:annotation>
      <xsd:documentation>Adresseopplysninger</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="adressetype" type="informasjon:Adressetype">
        <xsd:annotation>
          <xsd:documentation>Adressetype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gateadresse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Gateadresse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="poststed" type="informasjon:Postnummer">
        <xsd:annotation>
          <xsd:documentation>Poststed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postboks" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Postboks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommune" type="informasjon:Kommune">
        <xsd:annotation>
          <xsd:documentation>Kommune</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="landkode" type="informasjon:Landkoder">
        <xsd:annotation>
          <xsd:documentation>Landkode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kommune">
    <xsd:annotation>
      <xsd:documentation>Kommunenummer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="HendelseAktivitetskravVarsel">
    <xsd:annotation>
      <xsd:documentation>AktivitetskravVarsel-hendelser som har inntruffet i sykefraværet.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Hendelse">
        <xsd:sequence>
          <xsd:element name="meldingId" type="informasjon:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Iden på sykmeldingen som hendelsen er knyttet til</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sykmelding">
    <xsd:annotation>
      <xsd:documentation>Sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="regelSettVersjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Versjon av Dynaregler og ledetekster i EPJ systemet da denne sykmeldingen ble generert</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="syketilfelleFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Når Startet syketilfellet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pasient" type="informasjon:Pasient">
        <xsd:annotation>
          <xsd:documentation>Pasient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiver" type="informasjon:Arbeidsgiver">
        <xsd:annotation>
          <xsd:documentation>arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="medisinskVurdering" type="informasjon:MedisinskVurdering">
        <xsd:annotation>
          <xsd:documentation>Medisinsk vurdering</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="perioder" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Mulighet for aktivitet /arbeidsevne (A)

Sammenhengende, ikke overlappende perioder for denne sykmeldingen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="prognose" type="informasjon:Prognose">
        <xsd:annotation>
          <xsd:documentation>Prognose</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utdypendeOpplysninger" type="informasjon:UtdypendeOpplysninger">
        <xsd:annotation>
          <xsd:documentation>Beskriv utdypende opplysninger</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tiltak" type="informasjon:Tiltak">
        <xsd:annotation>
          <xsd:documentation>Innspill til tiltak som kan bedre arbeidsevnen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppfoelgingsplan" type="informasjon:Oppfoelgingsplan">
        <xsd:annotation>
          <xsd:documentation>Oppfølgingsplan og dialog med arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meldingTilNav" type="informasjon:MeldingTilNav">
        <xsd:annotation>
          <xsd:documentation>Spesifikk melding til NAV ifm sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meldingTilArbeidsgiver" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Øvrige kommentarer: kontakt mellom lege/arbeidsgiver - melding fra behandler</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kontaktMedPasient" type="informasjon:KontaktMedPasient">
        <xsd:annotation>
          <xsd:documentation>Om og når lege har vært i kontakt med pasient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="behandler" type="informasjon:Behandler">
        <xsd:annotation>
          <xsd:documentation>Informasjon om behandler (lege)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="avsenderSystem" type="informasjon:AvsenderSystem">
        <xsd:annotation>
          <xsd:documentation>For å identifisere avsender system</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strekkode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Sykmeldingens strekkode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aktivitet">
    <xsd:annotation>
      <xsd:documentation>Mulighet for aktivitet /arbeidsevne (A)</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="avventendeSykmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Pasienten kan benytte avventende sykmelding Legg inn innspill til arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gradertSykmelding" type="informasjon:GradertSykmelding">
        <xsd:annotation>
          <xsd:documentation>Pasienten kan være delvis i arbeid (gradert sykmelding) Angi grad (mulighet for aktivitet)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetIkkeMulig" type="informasjon:AktivitetIkkeMulig">
        <xsd:annotation>
          <xsd:documentation>Pasienten kan ikke være i arbeid (100% Sykmelding)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="antallBehandlingsdagerUke" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Pasienten kan ikke være i arbeid på behandlingsdager Angi antall dager i uken</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="harReisetilskudd" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Pasientenen kan være i fullt arbeid ved bruk av reisetilskudd</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Restriksjonskode">
    <xsd:annotation>
      <xsd:documentation>Restriksjonskoder</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Aarsaker">
    <xsd:annotation>
      <xsd:documentation>Årsakskoder</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Behandler">
    <xsd:annotation>
      <xsd:documentation>Behandler</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="navn" type="informasjon:Navn">
        <xsd:annotation>
          <xsd:documentation>Behandlers navn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fnr" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Behandlers fnr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hprFnr" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>HPR identifikator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="herFnr" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>HER identifikator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adresse" type="informasjon:Adresse">
        <xsd:annotation>
          <xsd:documentation>Behandlers adresse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="kontaktinformasjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Behandlers kontaktinformasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Postnummer">
    <xsd:annotation>
      <xsd:documentation>Poststed angir et postadministrativt område med en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder http://nav.no/kodeverk/Kodeverk/Postnummer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Postnummer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsutsikter">
    <xsd:annotation>
      <xsd:documentation>Er bruker i arbeid eller ikke i arbeid?</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="erIArbeid" type="informasjon:ErIArbeid">
        <xsd:annotation>
          <xsd:documentation>Gjelder de MED arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erIkkeIArbeid" type="informasjon:ErIkkeIArbeid">
        <xsd:annotation>
          <xsd:documentation>Gjelder de UTEN arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Pasient">
    <xsd:annotation>
      <xsd:documentation>Pasient</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="navn" type="informasjon:Navn">
        <xsd:annotation>
          <xsd:documentation>Pasientens navn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fnr" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Pasientens fnr</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontaktinformasjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Pasientens kontaktinformasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnFastlege" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Pasientens fastlege</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnNavKontor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på pasientents NAV-kontor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:annotation>
      <xsd:documentation>Felles kodeverdi</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Status">
    <xsd:annotation>
      <xsd:documentation>Status for sykmeldingen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NY"/>
      <xsd:enumeration value="AVBRUTT"/>
      <xsd:enumeration value="AVVIST"/>
      <xsd:enumeration value="BEKREFTET"/>
      <xsd:enumeration value="SENDT"/>
      <xsd:enumeration value="UTGAATT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Melding">
    <xsd:annotation>
      <xsd:documentation>Wrapperklasse som inneholder sykmeldingen og andre tilleggsfelter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="meldingId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator for sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmelding" type="informasjon:Sykmelding">
        <xsd:annotation>
          <xsd:documentation>Innholdet i sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skalSkjermesForPasient" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om deler av innholdet i sykmeldingen ikke skal vises til bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="informasjon:Status">
        <xsd:annotation>
          <xsd:documentation>Status på sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="identdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Første fraværsdag i sykefraværet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidsgiver" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgiveren som er knyttet til sykmeldingen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtTilArbeidsgiverDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Tidspunkt for når bruker sendte sykmeldingen til arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidssituasjon" type="informasjon:Arbeidssituasjon">
        <xsd:annotation>
          <xsd:documentation>Brukers arbeidssituasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>