henvendelse-meldinger-tjenestespesifikasjon/src/main/resources/no/nav/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon"
	xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelsemeldinger/v1/informasjon">

	<xs:element name="melding">
		<xs:complexType>
	        <xs:sequence>
	            <xs:element name="behandlingsId" type="xs:string" />
	            <xs:element name="traad" type="xs:string" />
	            <xs:element name="meldingsType" type="xs:string" />
	            <xs:element name="tekst" type="xs:boolean" />
	            <xs:element name="status" type="xs:string" />
	            <xs:element name="opprettetDato" type="xs:dateTime" />
	            <xs:element name="lestDato" type="xs:dateTime" />
	        </xs:sequence>
    	</xs:complexType>
    </xs:element>

</xs:schema>
