nav-fim-coma-v2-tjenestespesifikasjon/src/main/wsdl/coma_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Coma" targetNamespace="http://nav.no/tjeneste/virksomhet/coma/v2" xmlns:tns="http://nav.no/tjeneste/virksomhet/coma/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/coma/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/coma/v2/">
			<xs:element name="echo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="echoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="echoRequest">
		<wsdl:part name="parameters" element="tns:echo"/>
	</wsdl:message>
	<wsdl:message name="echoResponse">
		<wsdl:part name="parameters" element="tns:echoResponse"/>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"/>
	</wsdl:message>
	<wsdl:portType name="ComaPortType">
		<wsdl:operation name="echo">
			<wsdl:input name="echoRequest" message="tns:echoRequest"/>
			<wsdl:output name="echoResponse" message="tns:echoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input name="pingRequest" message="tns:pingRequest"/>
			<wsdl:output name="pingResponse" message="tns:pingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComaBinding" type="tns:ComaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="echo">
			<soap:operation style="document"/>
			<wsdl:input name="echoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation style="document"/>
			<wsdl:input name="pingRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="pingResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Coma_v2">
		<wsdl:port name="Coma_v2" binding="tns:ComaBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
