nav-fim-oppfolging-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/oppfolging/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfolging/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfolging/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/oppfolging/v1/informasjon">
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/oppfolging/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
	<xs:element name="HentOppfolgingskontraktListeRequest" type="meldinger:HentOppfolgingskontraktListeRequest"/>
	<xs:complexType name="HentOppfolgingskontraktListeRequest">
		<xs:sequence>
			<xs:element name="personidentifikator" type="informasjon:Personidentifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="periode" type="informasjon:Periode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HentOppfolgingskontraktListeResponse" type="meldinger:HentOppfolgingskontraktListeResponse"/>
	<xs:complexType name="HentOppfolgingskontraktListeResponse">
		<xs:sequence>
			<xs:element name="oppfolgingskontraktListe" type="informasjon:Oppfoelgingskontrakt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
