oppfolgingsinfo-v1/src/main/resources/oppfolgingsinfo/wsdl/OppfolgingsinfoV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="oppfolgingsinfo" targetNamespace="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1"
             xmlns:impl="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1"
                    xmlns:feil="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1/feil"
                    xmlns:meldinger="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1/feil"
                        schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/oppfolgingsinfo/v1/meldinger"
                        schemaLocation="meldinger/meldinger.xsd"/>

            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="hentOppfolgingsstatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" minOccurs="0" type="meldinger:OppfolgingsstatusRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="hentOppfolgingsstatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" minOccurs="0" type="meldinger:OppfolgingsstatusResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="wsSikkerhetsbegrensning" type="feil:WSSikkerhetsbegrensning"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="pingResponse">
        <wsdl:part element="impl:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ping">
        <wsdl:part element="impl:ping" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="hentOppfolgingsstatus">
        <wsdl:part name="parameters" element="impl:hentOppfolgingsstatus"/>
    </wsdl:message>

    <wsdl:message name="hentOppfolgingsstatusResponse">
        <wsdl:part name="parameters" element="impl:hentOppfolgingsstatusResponse"/>
    </wsdl:message>

    <wsdl:portType name="OppfolgingsinfoV1">
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="impl:ping"/>
            <wsdl:output name="pingResponse" message="impl:pingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="hentOppfolgingsstatus">
            <wsdl:input name="hentOppfolgingsstatusRequest" message="impl:hentOppfolgingsstatus"/>
            <wsdl:output name="hentOppfolgingsstatusResponse" message="impl:hentOppfolgingsstatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OppfolgingsinfoV1Binding" type="impl:OppfolgingsinfoV1">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ping">
            <wsdlsoap:operation soapAction="http://nav.no/tjenste/virksomhet/oppfolgingsinfo/v1/pingRequest"/>
            <wsdl:input name="pingRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="hentOppfolgingsstatus">
            <wsdlsoap:operation soapAction="http://nav.no/tjenste/virksomhet/oppfolgingsinfo/v1/hentOppfolgingsstatusRequest"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Oppfolgingsinfo_V1">
        <wsdl:port name="OppfolgingsinfoV1" binding="impl:OppfolgingsinfoV1Binding">
            <wsdlsoap:address location="http://localhost:8080/virksomhet/oppfolgingsinfo_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

