dokumentinfo-tjenestespesifikasjon/src/main/wsdl/nav-provider-ruting-ws/META-INF/wsdl/RUTINGSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RUTINGSchema"
                  targetNamespace="http://nav-cons-sak-ruting-3.0.0/no/nav/provider/ruting/ws/RUTINGSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://nav-cons-sak-ruting-3.0.0/no/nav/provider/ruting/ws/RUTINGSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav-cons-sak-ruting-3.0.0/no/nav/provider/ruting/ws/RUTINGSchema">
            <xsd:element name="hentDokumentInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentDokumentInfoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dokumentId" type="xsd:string"/>
                        <xsd:element name="navn" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hentDokumentInfoRequest"
                         type="tns:dokumentId">
            </xsd:element>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>

            <xsd:simpleType name="dokumentId">
                <xsd:restriction base="xsd:string"></xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="hentDokumentInfoRequest">
        <wsdl:part element="tns:hentDokumentInfoRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="hentDokumentInfoResponse">
        <wsdl:part element="tns:hentDokumentInfoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse" />
    </wsdl:message>
    <wsdl:portType name="RUTINGSchema">
        <wsdl:operation name="hentDokumentInfo">
            <wsdl:input message="tns:hentDokumentInfoRequest"/>
            <wsdl:output message="tns:hentDokumentInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" />
            <wsdl:output message="tns:pingResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RUTINGSchemaSOAP" type="tns:RUTINGSchema">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hentDokumentInfo">
            <soap:operation
                    soapAction="http://nav-cons-sak-ruting-3.0.0/no/nav/provider/ruting/ws/RUTINGSchema/NewOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RUTINGSchema">
        <wsdl:port binding="tns:RUTINGSchemaSOAP" name="RUTINGSchema_Port">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>