cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/infotrygdsak/ASBOGOSYSHentInfotrygdSakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak">
	<xsd:complexType name="ASBOGOSYSHentInfotrygdSakListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="gjelderId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:date"/>
			<xsd:element minOccurs="0" name="tom" type="xsd:date"/>
			<xsd:element minOccurs="0" name="navEnhetId" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomradeKodeListe" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="hentKodebeskrivelser" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
