cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/infotrygdsak/ASBOGOSYSBestillInfotrygdSakResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/infotrygdsak">
	<xsd:complexType name="ASBOGOSYSBestillInfotrygdSakResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="status" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="bekreftelsesbrevSendt" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
