arena-oppgave-tjenestespesifikasjon/src/main/wsdl/no/nav/arena/services/Oppgave/HentOppgaveListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://arena.nav.no/services/oppgaveservice" targetNamespace="http://arena.nav.no/services/oppgaveservice" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="HentOppgaveListeRequest">
		<xs:sequence>
			<xs:element name="fnr" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="hentOppgaveListe" type="tns:HentOppgaveListeRequest"/>
</xs:schema>
