behandle-henvendelse/src/main/wsdl/BehandleHenvendelse.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="BehandleHenvendelseService"
                  targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse">
    <wsdl:types>
        <xs:schema xmlns:tns="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse"
                    elementFormDefault="unqualified"
                    targetNamespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse"
                    xmlns:meldinger="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse/meldinger">
            <xs:import namespace="http://nav.no/melding/domene/brukerdialog/behandlingsinformasjon/v1"
                       schemaLocation="behandlingsinformasjon.xsd"/>
            <xs:import namespace="http://nav.no/tjeneste/domene/brukerdialog/henvendelse/v1/behandlehenvendelse/meldinger"
                    schemaLocation="no/nav/tjeneste/domene/brukerdialog/henvendelse/v1/meldinger/meldinger.xsd"/>

            <xs:element name="oppdaterJournalfortInformasjon" type="meldinger:oppdaterJournalfortInformasjonRequest"/>
            <xs:element name="oppdaterJournalfortInformasjonResponse" type="meldinger:oppdaterJournalfortInformasjonResponse"/>
            <xs:element name="oppdaterOppgaveOpprettetInformasjon" type="meldinger:oppdaterOppgaveOpprettetInformasjonRequest"/>
            <xs:element name="oppdaterOppgaveOpprettetInformasjonResponse" type="meldinger:oppdaterOppgaveOpprettetInformasjonResponse"/>
            <xs:element name="oppdaterHenvendelsesarkivInformasjon" type="meldinger:oppdaterHenvendelsesarkivInformasjonRequest"/>
            <xs:element name="oppdaterHenvendelsesarkivInformasjonResponse" type="meldinger:oppdaterHenvendelsesarkivInformasjonResponse"/>
            <xs:element name="oppdaterKontorsperre" type="meldinger:oppdaterKontorsperreRequest"/>
            <xs:element name="oppdaterKontorsperreResponse" type="meldinger:oppdaterKontorsperreResponse"/>
            <xs:element name="ferdigstillUtenSvar" type="meldinger:ferdigstillUtenSvarRequest"/>
            <xs:element name="ferdigstillUtenSvarResponse" type="meldinger:ferdigstillUtenSvarResponse"/>
            <xs:element name="oppdaterTilKassering" type="meldinger:oppdaterTilKasseringRequest"/>
            <xs:element name="oppdaterTilKasseringResponse" type="meldinger:oppdaterTilKasseringResponse"/>
            <xs:element name="markerTraadForHasteKassering" type="meldinger:markerTraadForHasteKasseringRequest"/>
            <xs:element name="markerTraadForHasteKasseringResponse" type="meldinger:markerTraadForHasteKasseringResponse"/>
            <xs:element name="knyttBehandlingskjedeTilSak" type="meldinger:knyttBehandlingskjedeTilSakRequest"/>
            <xs:element name="knyttBehandlingskjedeTilSakResponse" type="meldinger:knyttBehandlingskjedeTilSakResponse"/>
            <xs:element name="knyttBehandlingskjedeTilTema" type="meldinger:knyttBehandlingskjedeTilTemaRequest"/>
            <xs:element name="knyttBehandlingskjedeTilTemaResponse" type="meldinger:knyttBehandlingskjedeTilTemaResponse"/>
            <xs:element name="oppdaterTemagruppe" type="meldinger:oppdaterTemagruppeRequest"/>
            <xs:element name="oppdaterTemagruppeResponse" type="meldinger:oppdaterTemagruppeResponse"/>
            <xs:element name="settOversendtDokmot" type="meldinger:settOversendtDokmotRequest"/>
            <xs:element name="settOversendtDokmotResponse" type="meldinger:settOversendtDokmotResponse"/>
            <xs:element name="ping" type="meldinger:pingRequest"/>
            <xs:element name="pingResponse" type="meldinger:pingResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="oppdaterJournalfortInformasjonRequest">
        <wsdl:part element="tns:oppdaterJournalfortInformasjon" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterJournalfortInformasjonResponse">
        <wsdl:part element="tns:oppdaterJournalfortInformasjonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterOppgaveOpprettetInformasjonRequest">
        <wsdl:part element="tns:oppdaterOppgaveOpprettetInformasjon" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterOppgaveOpprettetInformasjonResponse">
        <wsdl:part element="tns:oppdaterOppgaveOpprettetInformasjonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelsesarkivInformasjonRequest">
        <wsdl:part element="tns:oppdaterHenvendelsesarkivInformasjon" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterHenvendelsesarkivInformasjonResponse">
        <wsdl:part element="tns:oppdaterHenvendelsesarkivInformasjonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterKontorsperreRequest">
        <wsdl:part element="tns:oppdaterKontorsperre" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterKontorsperreResponse">
        <wsdl:part element="tns:oppdaterKontorsperreResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ferdigstillUtenSvarRequest">
        <wsdl:part element="tns:ferdigstillUtenSvar" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ferdigstillUtenSvarResponse">
        <wsdl:part element="tns:ferdigstillUtenSvarResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterTilKasseringRequest">
        <wsdl:part element="tns:oppdaterTilKassering" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterTilKasseringResponse">
        <wsdl:part element="tns:oppdaterTilKasseringResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="markerTraadForHasteKasseringRequest">
        <wsdl:part element="tns:markerTraadForHasteKassering" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="markerTraadForHasteKasseringResponse">
        <wsdl:part element="tns:markerTraadForHasteKasseringResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="knyttBehandlingskjedeTilSakRequest">
        <wsdl:part element="tns:knyttBehandlingskjedeTilSak" name="parameters">
        </wsdl:part>
    </wsdl:message
            ><wsdl:message name="knyttBehandlingskjedeTilSakResponse">
        <wsdl:part element="tns:knyttBehandlingskjedeTilSakResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="knyttBehandlingskjedeTilTemaRequest">
        <wsdl:part element="tns:knyttBehandlingskjedeTilTema" name="parameters">
        </wsdl:part>
    </wsdl:message
            ><wsdl:message name="knyttBehandlingskjedeTilTemaResponse">
        <wsdl:part element="tns:knyttBehandlingskjedeTilTemaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterTemagruppeRequest">
        <wsdl:part element="tns:oppdaterTemagruppe" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="oppdaterTemagruppeResponse">
        <wsdl:part element="tns:oppdaterTemagruppeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="settOversendtDokmotRequest">
        <wsdl:part element="tns:settOversendtDokmot" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="settOversendtDokmotResponse">
        <wsdl:part element="tns:settOversendtDokmotResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BehandleHenvendelsePortType">
        <wsdl:operation name="oppdaterJournalfortInformasjon">
            <wsdl:input message="tns:oppdaterJournalfortInformasjonRequest" name="oppdaterJournalfortInformasjonRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterJournalfortInformasjonResponse" name="oppdaterJournalfortInformasjonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterOppgaveOpprettetInformasjon">
            <wsdl:input message="tns:oppdaterOppgaveOpprettetInformasjonRequest" name="oppdaterOppgaveOpprettetInformasjonRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterOppgaveOpprettetInformasjonResponse" name="oppdaterOppgaveOpprettetInformasjonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelsesarkivInformasjon">
            <wsdl:input message="tns:oppdaterHenvendelsesarkivInformasjonRequest" name="oppdaterHenvendelsesarkivInformasjonRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterHenvendelsesarkivInformasjonResponse" name="oppdaterHenvendelsesarkivInformasjonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterKontorsperre">
            <wsdl:input message="tns:oppdaterKontorsperreRequest" name="oppdaterKontorsperreRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterKontorsperreResponse" name="oppdaterKontorsperreResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ferdigstillUtenSvar">
            <wsdl:input message="tns:ferdigstillUtenSvarRequest" name="ferdigstillUtenSvarRequest">
            </wsdl:input>
            <wsdl:output message="tns:ferdigstillUtenSvarResponse" name="ferdigstillUtenSvarResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterTilKassering">
            <wsdl:input message="tns:oppdaterTilKasseringRequest" name="oppdaterTilKasseringRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterTilKasseringResponse" name="oppdaterTilKasseringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="markerTraadForHasteKassering">
            <wsdl:input message="tns:markerTraadForHasteKasseringRequest" name="markerTraadForHasteKasseringRequest">
            </wsdl:input>
            <wsdl:output message="tns:markerTraadForHasteKasseringResponse" name="markerTraadForHasteKasseringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knyttBehandlingskjedeTilSak">
            <wsdl:input message="tns:knyttBehandlingskjedeTilSakRequest" name="knyttBehandlingskjedeTilSakRequest">
            </wsdl:input>
            <wsdl:output message="tns:knyttBehandlingskjedeTilSakResponse" name="knyttBehandlingskjedeTilSakResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knyttBehandlingskjedeTilTema">
            <wsdl:input message="tns:knyttBehandlingskjedeTilTemaRequest" name="knyttBehandlingskjedeTilTemaRequest">
            </wsdl:input>
            <wsdl:output message="tns:knyttBehandlingskjedeTilTemaResponse" name="knyttBehandlingskjedeTilTemaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterTemagruppe">
            <wsdl:input message="tns:oppdaterTemagruppeRequest" name="oppdaterTemagruppeRequest">
            </wsdl:input>
            <wsdl:output message="tns:oppdaterTemagruppeResponse" name="oppdaterTemagruppeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="settOversendtDokmot">
            <wsdl:input message="tns:settOversendtDokmotRequest" name="settOversendtDokmotRequest">
            </wsdl:input>
            <wsdl:output message="tns:settOversendtDokmotResponse" name="settOversendtDokmotResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="pingRequest">
            </wsdl:input>
            <wsdl:output message="tns:pingResponse" name="pingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BehandleHenvendelseBinding" type="tns:BehandleHenvendelsePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="oppdaterJournalfortInformasjon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterJournalfortInformasjonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterJournalfortInformasjonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterOppgaveOpprettetInformasjon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterOppgaveOpprettetInformasjonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterOppgaveOpprettetInformasjonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterHenvendelsesarkivInformasjon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterHenvendelsesarkivInformasjonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterHenvendelsesarkivInformasjonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterKontorsperre">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterKontorsperreRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterKontorsperreResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ferdigstillUtenSvar">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ferdigstillUtenSvarRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ferdigstillUtenSvarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterTilKassering">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterTilKasseringRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterTilKasseringResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="markerTraadForHasteKassering">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="markerTraadForHasteKasseringRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="markerTraadForHasteKasseringResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knyttBehandlingskjedeTilSak">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="knyttBehandlingskjedeTilSakRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="knyttBehandlingskjedeTilSakResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="knyttBehandlingskjedeTilTema">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="knyttBehandlingskjedeTilTemaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="knyttBehandlingskjedeTilTemaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="oppdaterTemagruppe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="oppdaterTemagruppeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="oppdaterTemagruppeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="settOversendtDokmot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="settOversendtDokmotRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="settOversendtDokmotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BehandleHenvendelseService">
        <wsdl:port binding="tns:BehandleHenvendelseBinding" name="BehandleHenvendelsePort">
            <soap:address location="http://localhost:8081/domene.Brukerdialog/BehandleHenvendelseService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
