pensjon-vedtaksbrev-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltUttak/beregningAP2016/beregningAP2016.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016" xmlns:bap2016="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/beregningAP2016" xmlns:info="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon">
  <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtaksbrev/informasjon/fleksibeltuttak/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="BeregningAP2016BeregningsInformasjonKapittel20">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Pensjonsbeholdning" type="xsd:double"/>
      <xsd:element minOccurs="0" name="TrygdetidKap20" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Delingstall" type="xsd:double"/>
      <xsd:element minOccurs="0" name="DtBenyttetGradsoppfriskning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BeholdningForForsteuttak" type="xsd:double"/>
      <xsd:element minOccurs="0" name="BeregningsMetode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopOkt" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="BelopRedusert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Hjemmelsendring" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="arligOpptjening" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregningAP2016BeregningsInformasjonKapittel19">
    <xsd:complexContent>
      <xsd:extension base="info:BeregningsInformasjonKapittel19">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BelopOkt" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BeregningAP2016">
    <xsd:sequence>
      <xsd:element name="VirkdatoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TotalPensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BeregningSivilstandAnvendt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AndKap19" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AndKap20" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BeregningsInformasjonKapittel19" type="bap2016:BeregningAP2016BeregningsInformasjonKapittel19"/>
      <xsd:element minOccurs="0" name="BeregningsInformasjonKapittel20" type="bap2016:BeregningAP2016BeregningsInformasjonKapittel20"/>
      <xsd:element name="BeregningsInformasjonAvdod" type="info:BeregningsInformasjonAvdod"/>
      <xsd:element minOccurs="0" name="AvdodTTBest" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="AnvendtGjenlevenderett" type="xsd:boolean"/>
      <xsd:element name="BeregningYtelsesKomp" type="info:BeregningYtelsesKomp"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>