brukerprofil-tjenestespesifikasjon/src/main/wsdl/brukerprofil/no/nav/tjeneste/virksomhet/brukerprofil/v1/Brukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Brukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentKontaktinformasjonOgPreferanser">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentKontaktinformasjonOgPreferanserRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKontaktinformasjonOgPreferanserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentKontaktinformasjonOgPreferanserResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
			<xs:element name="hentKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>		
			<xs:element name="ping">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pingResponse">
				<xs:complexType>
					<xs:sequence>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserRequest">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanser_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentKontaktinformasjonOgPreferanserpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentKontaktinformasjonOgPreferansersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserResponse">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BrukerprofilPortType">
    <wsdl:operation name="hentKontaktinformasjonOgPreferanser">
      <wsdl:input name="hentKontaktinformasjonOgPreferanserRequest" message="tns:hentKontaktinformasjonOgPreferanserRequest">
    </wsdl:input>
      <wsdl:output name="hentKontaktinformasjonOgPreferanserResponse" message="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentKontaktinformasjonOgPreferanser_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="pingRequest" message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output name="pingResponse" message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrukerprofilBinding" type="tns:BrukerprofilPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentKontaktinformasjonOgPreferanser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentKontaktinformasjonOgPreferanserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentKontaktinformasjonOgPreferanserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning">
        <soap:fault name="sikkerhetsbegrensning" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Brukerprofil_v1">
    <wsdl:port name="Brukerprofil_v1" binding="tns:BrukerprofilBinding">
      <soap:address location="http://localhost:9080/virksomhet/Brukerprofil_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
