nav-arbeidsforhold-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/arbeidsforhold/arbeidsforhold.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/arbeidsforhold" xmlns:arbeidsforhold="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/informasjon/arbeidsforhold" xmlns:metadata="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/metadata">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/metadata" schemaLocation="../../metadata/metadata.xsd"/>
  <xsd:complexType name="Yrker">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Yrker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Yrker" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PermisjonOgPermittering">
    <xsd:sequence>
      <xsd:element name="permisjonsId" type="arbeidsforhold:PermisjonsID">
        <xsd:annotation>
          <xsd:documentation>Ident til permisjonen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="permisjonsPeriode" type="arbeidsforhold:Gyldighetsperiode">
        <xsd:annotation>
          <xsd:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med av permisjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="permisjonsprosent" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Permisjongrad i prosent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="permisjonOgPermittering" type="arbeidsforhold:PermisjonsOgPermitteringsBeskrivelse">
        <xsd:annotation>
          <xsd:documentation>Permisjonstypen: permisjon eller permittering (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsidentifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Skipstyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Skipstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Skipstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arbeidstidsordninger">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Arbeidstidsordninger</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arbeidstidsordninger" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Skipsregistre">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Skipsregistre</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Skipsregistre" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AktoerID">
    <xsd:restriction base="arbeidsforhold:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="Arbeidsforholdstyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Arbeidsforholdstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Arbeidsforholdstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:restriction base="arbeidsforhold:Organisasjonsidentifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="Gyldighetsperiode">
    <xsd:annotation>
      <xsd:documentation>Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden. fom er pålagt attributt for instanser av gyldighetsperiode.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="arbeidsforhold:Periode"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnsettelsesPeriode">
    <xsd:annotation>
      <xsd:documentation>Tidsrom for ansettelsen.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="periode" type="arbeidsforhold:Gyldighetsperiode">
        <xsd:annotation>
          <xsd:documentation>En periode angis som et tidsintervall fra-og-med og evnt. til-og-med</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Bruksperiode"/>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:simpleType name="PermisjonsID">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Organisasjon">
    <xsd:complexContent>
      <xsd:extension base="arbeidsforhold:Aktoer">
        <xsd:sequence>
          <xsd:element name="orgnummer" type="arbeidsforhold:Organisasjonsnummer">
            <xsd:annotation>
              <xsd:documentation>Organisasjonsnummer i Brønnøysundregistrene.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="navn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Organisasjonsnavn</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HistoriskArbeidsgiverMedArbeidsgivernummer">
    <xsd:annotation>
      <xsd:documentation>Arbeidsgiver som har opphørt å eksistere før enhetsregister ble etablert, vil ikke ha blitt konvertert til ny organisasjonsstruktur med orgnummer. Arbeidsforhold knyttet til disse historiske arbeidsgiverne vil bruke det nedestående formatet.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="arbeidsforhold:Aktoer">
        <xsd:sequence>
          <xsd:element name="arbeidsgivernummer" type="arbeidsforhold:Identifikator">
            <xsd:annotation>
              <xsd:documentation>Arbeidsgivernummer er identifikatoren for en Historisk arbeidsgiver. Med Historisk arbeisdgiver menes her en arbeidsgiver som opphørte å eksistere før Enhetsregisteret ble opprettet, og som derfor aldri ble konvertert inn til Enhetsregisteret.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="navn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på den Historiske arbeidsgiveren.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NorskIdent">
    <xsd:annotation>
      <xsd:documentation>Fødselsnr, SSN, ...</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ident" type="arbeidsforhold:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fødselsnr, SSN...</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="arbeidsforhold:Aktoer">
        <xsd:sequence>
          <xsd:element name="ident" type="arbeidsforhold:NorskIdent">
            <xsd:annotation>
              <xsd:documentation>Fødselsnr, SSN...</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utenlandsopphold">
    <xsd:annotation>
      <xsd:documentation>Arbeid i utlandet i en periode</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periode" type="arbeidsforhold:Gyldighetsperiode">
        <xsd:annotation>
          <xsd:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med av Utenlandsopphold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="land" type="arbeidsforhold:Landkoder">
        <xsd:annotation>
          <xsd:documentation>Land hvor person jobbet (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rapporteringsperiode" type="xsd:gYearMonth">
        <xsd:annotation>
          <xsd:documentation>Tidsperioden som ble dekket i rapporten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Landkoder">
    <xsd:annotation>
      <xsd:documentation>Sett med unike koder for land. http://nav.no/kodeverk/Kodeverk/Landkoder 

(fra TPS)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PermisjonsOgPermitteringsBeskrivelse">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Yrker</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/PermisjonsOgPermitteringsBeskrivelse" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MaritimArbeidsavtale">
    <xsd:annotation>
      <xsd:documentation>Beskriver endringer i arbeidsavtalen som ikke medfører avslutning/oppstart av et maritimt arbeidsforhold.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="arbeidsforhold:Arbeidsavtale">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fartsomraade" type="arbeidsforhold:Fartsomraader">
            <xsd:annotation>
              <xsd:documentation>Type fartsområde: innenriks eller utenriks (kodeverk)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="skipsregister" type="arbeidsforhold:Skipsregistre">
            <xsd:annotation>
              <xsd:documentation>Type skipsregister (kodeverk)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="skipstype" type="arbeidsforhold:Skipstyper">
            <xsd:annotation>
              <xsd:documentation>Type skip (kodeverk)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fartsomraader">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Fartsomraader</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Fartsomraader" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Arbeidsavtale">
    <xsd:annotation>
      <xsd:documentation>Beskriver endringer i arbeidsavtalen som ikke medfører avslutning/oppstart av et arbeidsforhold</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidstidsordning" type="arbeidsforhold:Arbeidstidsordninger">
        <xsd:annotation>
          <xsd:documentation>Type arbeidsordning (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avloenningstype" type="arbeidsforhold:Avloenningstyper">
        <xsd:annotation>
          <xsd:documentation>Type avlønning (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="yrke" type="arbeidsforhold:Yrker">
        <xsd:annotation>
          <xsd:documentation>Yrkeskode. Skal tilsvare konkrete arbeidsoppgaver (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avtaltArbeidstimerPerUke" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Antall timer per uke i arbeidsavtalen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingsprosent" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Arbeidsbelastning i prosenter i arbeidsavtalen.. Format: en «66,6% stilling» skal ha verdi 66,6 (og ikke 0,666)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sisteLoennsendringsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for siste lønnsendring. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beregnetStillingsprosent" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Beregnet arbeidsbelastning i prosent. Format: en « 66,6% stilling» skal ha verdi 66,6 (og ikke 0,666).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beregnetAntallTimerPrUke" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Beregnet antall timer jobb per uke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallTimerGammeltAa" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Antall timer beregnet ut fra data i gammelt Aa-reg (pre 1.1.2015). Verdien fylles ut i forbindelse med konvertering av data fra gammelt Aa-reg til nytt Aa-reg og oppdateres i normaltilfeller ikke etter dette</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endringsdatoStillingsprosent" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Siste dato for endring av stillingsprosenten. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Bruksperiode"/>
    <xsd:attributeGroup ref="metadata:Gyldighetsperiode"/>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="AntallTimerIPerioden">
    <xsd:annotation>
      <xsd:documentation>Antall timer en person med timelønn arbeidet i arbeidsforholdet i perioden.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="periode" type="arbeidsforhold:Gyldighetsperiode">
        <xsd:annotation>
          <xsd:documentation>En periode angis som et tidsintervall fra-og-med og evnt. til-og-med</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="antallTimer" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Antall timer arbeidet i perioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rapporteringsperiode" type="xsd:gYearMonth">
        <xsd:annotation>
          <xsd:documentation>Tidsperioden for rapporten</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen. Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Fra og med</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Til og med</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsforhold">
    <xsd:annotation>
      <xsd:documentation>Et avtaleforhold hvor den ene part (arbeidstakeren, BEGREP-179) forplikter seg til å utføre arbeid for den annen part (arbeidsgiveren, BEGREP-193) i henhold til dennes ledelse, og hvor arbeidsgiveren har risikoen for at arbeidsinnsatsen resulterer i et arbeidsresultat. I EDAGsmeldingen behandles frilansere som en "arbeidsforholdstype" sammen med pensjons- og ytelsesmottakere. Freelancere skal filtreres i EDAG fellesforvaltning før det sendes til Aa-registeret. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arbeidsforholdID" type="arbeidsforhold:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unikt ID til et arbeidsforhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsforholdIDnav" type="arbeidsforhold:ArbeidsforholdsID">
        <xsd:annotation>
          <xsd:documentation>Unikt ID til et arbeidsforhold i NAV</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ansettelsesPeriode" type="arbeidsforhold:AnsettelsesPeriode">
        <xsd:annotation>
          <xsd:documentation>En periode angis som et tidsintervall fra-og-med og til-og-med av ansettelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsforholdstype" type="arbeidsforhold:Arbeidsforholdstyper">
        <xsd:annotation>
          <xsd:documentation>Typen arbeidsforhold (kodeverk)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="antallTimerForTimeloennet" type="arbeidsforhold:AntallTimerIPerioden">
        <xsd:annotation>
          <xsd:documentation>Antall timer en timelønnet person arbeidet i arbeidsforholdet i perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="arbeidsavtale" type="arbeidsforhold:Arbeidsavtale">
        <xsd:annotation>
          <xsd:documentation>Arbeidsavtale beskriver endringer i arbeidsavtalen som ikke medfører avslutning/oppstart av et arbeidsforhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permisjonOgPermittering" type="arbeidsforhold:PermisjonOgPermittering">
        <xsd:annotation>
          <xsd:documentation>Spesifisering av hvilken type en PermisjonOgPermittering fra a-meldingen har. Eks: permisjon, permittering</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utenlandsopphold" type="arbeidsforhold:Utenlandsopphold">
        <xsd:annotation>
          <xsd:documentation>Informasjon om arbeid i utlandet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsgiver" type="arbeidsforhold:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder en arbeidsgiver (Person, Organisasjon)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidstaker" type="arbeidsforhold:Person">
        <xsd:annotation>
          <xsd:documentation>Arbeidstaker er en person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opplysningspliktig" type="arbeidsforhold:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Den parten som i følge a-opplysningsloven §2 har plikt til å sende inn a-meldinger. Offisiell norsk identifikasjon for den opplysningspliktige. For juridiske personer er dette foretaksnummer fra Foretaksregisteret, for fysisk person fødselsnummer eller D-nummer fra folkeregisteret.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsforholdInnrapportertEtterAOrdningen" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Angir hvis arbeidsforholdet er opprettet etter gammelt regelverk eller nytt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Tidspunkter"/>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
    <xsd:attributeGroup ref="metadata:Opprettelsessporing"/>
  </xsd:complexType>
  <xsd:complexType name="Avloenningstyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Avloenningstyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Avloenningstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Regelverker">
    <xsd:annotation>
      <xsd:documentation>Internt kodeverk i AA-registret.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="arbeidsforhold:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Aktoer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aktoerId" type="arbeidsforhold:AktoerID">
        <xsd:annotation>
          <xsd:documentation>Ident til aktøren</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ArbeidsforholdsID">
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>
</xsd:schema>