egenansatt-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/pip/EgenAnsatt/v1/egenAnsatt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="egenAnsatt" targetNamespace="http://nav.no/tjeneste/pip/egenAnsatt/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/pip/egenAnsatt/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/pip/egenAnsatt/v1/" xmlns:meldinger="http://nav.no/tjeneste/pip/egenAnsatt/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/pip/egenAnsatt/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentErEgenAnsattEllerIFamilieMedEgenAnsatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentErEgenAnsattEllerIFamilieMedEgenAnsattRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentErEgenAnsattEllerIFamilieMedEgenAnsattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="meldinger:HentErEgenAnsattEllerIFamilieMedEgenAnsattResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentErEgenAnsattEllerIFamilieMedEgenAnsattRequest">
    <wsdl:part name="parameters" element="tns:hentErEgenAnsattEllerIFamilieMedEgenAnsatt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentErEgenAnsattEllerIFamilieMedEgenAnsattResponse">
    <wsdl:part name="parameters" element="tns:hentErEgenAnsattEllerIFamilieMedEgenAnsattResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EgenAnsatt_v1">
    <wsdl:operation name="hentErEgenAnsattEllerIFamilieMedEgenAnsatt">
<wsdl:documentation>Operasjon for å kontrollere om bruker er egenAnsatt </wsdl:documentation>
      <wsdl:input message="tns:hentErEgenAnsattEllerIFamilieMedEgenAnsattRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentErEgenAnsattEllerIFamilieMedEgenAnsattResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
