nav-fim-brukerhendelse-v1-tjenestespesifikasjon/src/main/wsdl/Brukerhendelse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Brukerhendelse" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/brukerhendelse/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/brukerhendelse/v1/meldinger/meldinger.xsd"/>
			<xs:element name="hentBrukerhendelse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentBrukerhendelseRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBrukerhendelseResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentBrukerhendelseResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBrukerhendelseListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentBrukerhendelseListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentBrukerhendelseListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentBrukerhendelseListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentBrukerhendelseRequest">
		<wsdl:part name="parameters" element="tns:hentBrukerhendelse"/>
	</wsdl:message>
	<wsdl:message name="hentBrukerhendelseResponse">
		<wsdl:part name="parameters" element="tns:hentBrukerhendelseResponse"/>
	</wsdl:message>
	<wsdl:message name="hentBrukerhendelseListeRequest">
		<wsdl:part name="parameters" element="tns:hentBrukerhendelseListe"/>
	</wsdl:message>
	<wsdl:message name="hentBrukerhendelseListeResponse">
		<wsdl:part name="parameters" element="tns:hentBrukerhendelseListeResponse"/>
	</wsdl:message>
	<wsdl:portType name="BrukerhendelsePortType">
		<wsdl:operation name="hentBrukerhendelse">
			<wsdl:input name="hentBrukerhendelseRequest" message="tns:hentBrukerhendelseRequest"/>
			<wsdl:output name="hentBrukerhendelseResponse" message="tns:hentBrukerhendelseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="hentBrukerhendelseListe">
			<wsdl:input name="hentBrukerhendelseListeRequest" message="tns:hentBrukerhendelseListeRequest"/>
			<wsdl:output name="hentBrukerhendelseListeResponse" message="tns:hentBrukerhendelseListeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BrukerhendelseBinding" type="tns:BrukerhendelsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentBrukerhendelse">
			<soap:operation style="document"/>
			<wsdl:input name="hentBrukerhendelseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentBrukerhendelseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hentBrukerhendelseListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentBrukerhendelseListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentBrukerhendelseListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Brukerhendelse">
		<wsdl:port name="Brukerhendelse" binding="tns:BrukerhendelseBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
