nav-infotrygdSak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/infotrygdSak/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/infotrygdSak/v1/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="FinnSakListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="sakListe" type="informasjon:InfotrygdSak">
        <xsd:annotation>
          <xsd:documentation>Liste over infotrygdsaker som matcher input</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedtakListe" type="informasjon:InfotrygdVedtak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnSakListeRequest">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fnr/Dnr til bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode fom og tom filter mot søkeperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>