gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/henvendelsebehandling/no/nav/tjeneste/virksomhet/henvendelsebehandling/v3/henvendelsebehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="henvendelsebehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/henvendelsebehandling/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="feilregistrerHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FeilregistrerHenvendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="feilregistrerHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="feilregistrerHenvendelseulovligStatusOvergang" type="feil:UlovligStatusOvergang"/>
      <xsd:element name="feilregistrerHenvendelsehenvendelseIkkeFunnet" type="feil:HenvendelseIkkeFunnet"/>
      <xsd:element name="lagreHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:LagreHenvendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreHenvendelsehenvendelseIkkeFunnet" type="feil:HenvendelseIkkeFunnet"/>
      <xsd:element name="opprettHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettHenvendelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettHenvendelseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettHenvendelseMedOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OpprettHenvendelseMedOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettHenvendelseMedOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:OpprettHenvendelseMedOppgaveResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="feilregistrerHenvendelse_henvendelseIkkeFunnet">
    <wsdl:part name="henvendelseIkkeFunnet" element="tns:feilregistrerHenvendelsehenvendelseIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreHenvendelse_henvendelseIkkeFunnet">
    <wsdl:part name="henvendelseIkkeFunnet" element="tns:lagreHenvendelsehenvendelseIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerHenvendelseResponse">
    <wsdl:part name="parameters" element="tns:feilregistrerHenvendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettHenvendelseMedOppgaveRequest">
    <wsdl:part name="parameters" element="tns:opprettHenvendelseMedOppgave">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreHenvendelseRequest">
    <wsdl:part name="parameters" element="tns:lagreHenvendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettHenvendelseMedOppgaveResponse">
    <wsdl:part name="parameters" element="tns:opprettHenvendelseMedOppgaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettHenvendelseRequest">
    <wsdl:part name="parameters" element="tns:opprettHenvendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerHenvendelseRequest">
    <wsdl:part name="parameters" element="tns:feilregistrerHenvendelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreHenvendelseResponse">
    <wsdl:part name="parameters" element="tns:lagreHenvendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="opprettHenvendelseResponse">
    <wsdl:part name="parameters" element="tns:opprettHenvendelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="feilregistrerHenvendelse_ulovligStatusOvergang">
    <wsdl:part name="ulovligStatusOvergang" element="tns:feilregistrerHenvendelseulovligStatusOvergang">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Henvendelsebehandling_v3">
    <wsdl:operation name="feilregistrerHenvendelse">
      <wsdl:input message="tns:feilregistrerHenvendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:feilregistrerHenvendelseResponse">
    </wsdl:output>
      <wsdl:fault name="henvendelseIkkeFunnet" message="tns:feilregistrerHenvendelse_henvendelseIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="ulovligStatusOvergang" message="tns:feilregistrerHenvendelse_ulovligStatusOvergang">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreHenvendelse">
<wsdl:documentation>&lt;p&gt;Operasjonen tilbyr å oppdatere en eksisterende henvendelse&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:lagreHenvendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreHenvendelseResponse">
    </wsdl:output>
      <wsdl:fault name="henvendelseIkkeFunnet" message="tns:lagreHenvendelse_henvendelseIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettHenvendelse">
<wsdl:documentation>&lt;p&gt;Operasjonen tilbyr å opprette en henvendelse&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:opprettHenvendelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettHenvendelseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettHenvendelseMedOppgave">
<wsdl:documentation>&lt;p&gt;Operasjonen tilbyr å opprette en henvendelse med en tilhørende oppgave&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:opprettHenvendelseMedOppgaveRequest">
    </wsdl:input>
      <wsdl:output message="tns:opprettHenvendelseMedOppgaveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
