brukerprofil-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/brukerprofil/v3/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v3/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/brukerprofil/v3/informasjon" xmlns:metadata="http://nav.no/tjeneste/virksomhet/brukerprofil/v3/metadata">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v3/metadata" schemaLocation="../metadata/metadata.xsd"/>
  <xsd:complexType name="Postadresse">
    <xsd:annotation>
      <xsd:documentation>En geografisk adresse som angir hvor brev skal  sendes dersom denne inneholder data. En postadresse kan være en postboks eller det kan være en annen person som skal motta post på vegne av den gitte personen. Hentes fra DSF Kan være både norsk og utenlandsk. Brukes for utsendelse av post på papirform.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UstrukturertAdresse" type="informasjon:UstrukturertAdresse"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="BankkontonummerUtland">
    <xsd:annotation>
      <xsd:documentation>Utenlandsk bankkontonummer, se bankkontonummer.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkontonummer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="swift" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Når du skal motta en betaling fra utlandet, må du oppgi en SWIFT-adresse. Den forteller hvilken bank du er kunde i. SWIFT-adressen er det samme som BIC (Bank Identifier Code), ABA-nummer eller Routing-nummer. Det er ikke det samme som IBAN-nummeret. Forkortelsen SWIFT: SWIFT står for Society for Worldwide Interbank Financial Telecommunication. Det er et datanettverk som utveksler betalingsdata mellom flere tusen finansforetak i drøyt 200 land. Kilde: Forenklet fremstilling fra Den danske bank</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="landkode" type="informasjon:Landkoder">
            <xsd:annotation>
              <xsd:documentation>Landet bankkontoen forvaltes i. Avledes fra bankens land.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankkode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Bankkoden har i mange land utviklet seg til å være en viktig nøkkel som gjør det mulig for banken å sørge for rask utførelse av utbetalinger til utlandet. Bankkoden kan brukes sammen med SWIFT-adresse. Kodens format og lengde varierer mellom ulike land.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankadresse" type="informasjon:UstrukturertAdresse">
            <xsd:annotation>
              <xsd:documentation>Kontaktadresse for en utenlandsk bank.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="valuta" type="informasjon:Valutaer">
            <xsd:annotation>
              <xsd:documentation>Et lands myntsort.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Retningsnumre">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Retningsnumre</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Retningsnumre" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Personidenter">
    <xsd:annotation>
      <xsd:documentation>Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ... http://nav.no/kodeverk/Kodeverk/Personidenter</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StedsadresseNorge">
    <xsd:annotation>
      <xsd:documentation>Fysiske adresser i Norge.
Landkoden settes lik Norge for disse adresseforekomstene.

http://jira.adeo.no/browse/BEGREP-699</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Stedsadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer">
            <xsd:annotation>
              <xsd:documentation>Poststed angir et postadministrativt område med en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bolignummer" type="xsd:string"/>
          <xsd:element minOccurs="0" name="kommunenummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeografiskAdresse">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-652</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="landkode" type="informasjon:Landkoder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Matrikkeladresse">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-463 :
"Adresse som ikke er gitt offisiell adresse, og hvor matrikkelnummer brukes. Identifiseres ved help av gårdsnummer,
bruksnummer og eventuelt festenummer og undernummer. Undernummer kan brukes selv om festenummer
mangler (er null)."
Statens kartverk, SOSI standard - generell objektkatalog versjon 4.0

Den offisielle benevnelse for hver enkel matrikkelenhet. Unikt nummer innenfor kommune som brukes til å identifisere de enkelte matrikkelenhetene. For at nummereringen skal være entydig må kommunenummeret være en del av matrikkelnummeret.
http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StedsadresseNorge">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eiendomsnavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på eiendom eller sted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="matrikkelnummer" type="informasjon:Matrikkelnummer">
            <xsd:annotation>
              <xsd:documentation>sammensatt egenskap som inneholder kombinasjonen gårdsnummer'/'bruksnummer. Merknad: Dette attributtet ønskes splittet i gårdsnummer og bruksnummer slik at dette blir eksplisitt. bruksnummer, festenummer, og seksjonsnummer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Postadressetyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Postadressetyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Postadressetyper" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Postnummer">
    <xsd:annotation>
      <xsd:documentation>Poststed angir et postadministrativt område med en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder http://nav.no/kodeverk/Kodeverk/Postnummer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Postnummer" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Landkoder">
    <xsd:annotation>
      <xsd:documentation>Sett med unike koder for land. http://nav.no/kodeverk/Kodeverk/Landkoder</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Landkoder" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Gateadresse">
    <xsd:annotation>
      <xsd:documentation>En geografisk adresse som angir geografisk plassering i veiadresse form. Vil brukes om adresser i Norge. http://jira.adeo.no/browse/BEGREP-653</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StedsadresseNorge">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gatenummer" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>Nummerering av alle gater/veger, som sammen med kommunenummer danner en gateident som er en unik ident for gater. Se: http://www.kartverket.no/Documents/Standard/SOSI%20kap3%20Produktspesifikasjoner/FKB%204.02%202011-12-01/16-Vegnett-2011-12-01.pdf?si=F70448E07081040EBE926B848977BF4Eid=635723058n=Statkart</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="gatenavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Adressenavn er definert i matrikkelforskriften § 2 bokstav  e, som navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen. Et adressenavn skal være entydig innenfor samme kommune. To gater kan således ikke ha samme navn i samme kommune. Dersom to eller flere kommuner har et felles adresseringsområde skal navnet være entydig innenfor alle de aktuelle kommunene. http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husnummer" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>Hvilket nummer i en gateadresse bygningen eller eiendommen har. Adressenummer er definert i matrikkelforskriften § 2 bokstav f som et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område. http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husbokstav" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Husbokstav brukes i tillegg til gatenavn og -nummer for å skille seksjoner med samme adresse fra hverandre. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UstrukturertAdresse">
    <xsd:annotation>
      <xsd:documentation>Svært generisk adresseentitet for å dekke behov i løsninger som ikke har modellert adresse presist. Adresselinje 1 bør inneholde gatenavn, nummer og ev. bokstav, (Kan inneholde suiteid og etasjeid for utenlandske adresser). Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed Adresselinje 3 bør inneholde navn på land. Merknad: Denne generelle adressestrukturen ønskes faset ut på sikt da den gir liten mulighet for å tolke/validere innholdet da det er ukjent format og innhold..</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:GeografiskAdresse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="adresselinje1" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Adresselinje 1 bør inneholde ev. co-navn, gatenavn med nummer, samt ev. bokstav, suiteid, etasjeid, eller "P.O.Box" og postboksnr  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje2" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje3" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed Adresselinje 3 bør inneholde navn på land.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje4" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Diskresjonskoder">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Diskresjonskoder Koder: 0 1 2 3 4 5 6 7 8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Diskresjonskoder" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigPostadresseNorge">
    <xsd:annotation>
      <xsd:documentation>En midlertidig geografisk adresse som skal brukes for utsendelser av post i en viss periode. Adressen vil være oppgitt av bruker, som også må angi tidsrommet for når denne adressen skal brukes til utsendelser.
Kun en midlertidig adresse kan gjelde av gangen (gyldighetsperiode).

http://jira.adeo.no/browse/BEGREP-660</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:MidlertidigPostadresse">
        <xsd:sequence>
          <xsd:element form="qualified" name="strukturertAdresse" type="informasjon:StrukturertAdresse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Bostedsadresse">
    <xsd:annotation>
      <xsd:documentation>En geografisk adresse som er knyttet til en fysisk person. Adressen angir hvor den gitte personen oppholder seg. Brukes om adresser i Norge Synonymt med arena begrep "Folkeregisteradresse" - Adresse til det stedet brukeren er bosatt etter folkeregisterloven. Kommer fra TPS og er alltid BOAD Hentes fra DSF. Fås kun om man er bosatt i Norge. Betydning for ytelsesberegninger</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="strukturertAdresse" type="informasjon:StrukturertAdresse"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Bruker">
    <xsd:annotation>
      <xsd:documentation>Person i rollen bruker.

En fysisk person (BEGREP-165) eller juridisk person (BEGREP-283) som benytter seg av NAVs (BEGREP-121) tjenester (BEGREP-315), ytelser (BEGREP-133) eller informasjon (BEGREP-48).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Person">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gjeldendePostadresseType" type="informasjon:Postadressetyper">
            <xsd:annotation>
              <xsd:documentation>Prioritert adressetype for utsending av post til bruker. Settes av produsenten basert på forretningsregler i gjeldene adressepolicy. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontaktinformasjon" type="informasjon:Telefonnummer">
            <xsd:annotation>
              <xsd:documentation>Kontaktinformasjon som ligger i TPS, og som er til hensikt å brukes av saksbehandlere for å kontakte brukeren.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="midlertidigPostadresse" type="informasjon:MidlertidigPostadresse"/>
          <xsd:element minOccurs="0" name="preferanser" type="informasjon:Preferanser"/>
          <xsd:element name="ansvarligEnhet" type="informasjon:AnsvarligEnhet"/>
          <xsd:element minOccurs="0" name="bankkonto" type="informasjon:Bankkonto"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="tilrettelagtKommunikasjon" type="informasjon:TilrettelagtKommunikasjon"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Behovsbeskrivelse">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-619</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="BankkontoNorge">
    <xsd:annotation>
      <xsd:documentation>Temporalitet: Historikk på bruksperiode</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkonto">
        <xsd:sequence>
          <xsd:element name="bankkonto" type="informasjon:Bankkontonummer"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BankkontoUtland">
    <xsd:annotation>
      <xsd:documentation>Temporalitet: Historikk på bruksperiode</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkonto">
        <xsd:sequence>
          <xsd:element name="bankkontoUtland" type="informasjon:BankkontonummerUtland"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Spraak">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Spr_c3_a5k</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Spr_c3_a5k" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TilrettelagtKommunikasjon">
    <xsd:sequence>
      <xsd:element name="behov" type="xsd:string"/>
      <xsd:element name="behovsbeskrivelse" type="informasjon:Behovsbeskrivelse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>Skal inneholde navn på person.

   - Fornavn
   - Mellomnavn
   - Etternavn
   - Kortnavn

http://jira.adeo.no/browse/BEGREP-641: Navn ( BEGREP-640 ) som representerer en fysisk person ( BEGREP-165 ). I Norge skal alle "ha fornavn og ett enkelt eller dobbelt etternavn og kan i tillegg ha mellomnavn."</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mellomnavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sammensattNavn" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Valutaer">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Valutaer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Valutaer" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Postboksadresse">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-658</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse">
        <xsd:sequence>
          <xsd:element name="postboksnummer" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Unik identifikator for postboks innen et postadministrativt område.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="MidlertidigPostadresse">
    <xsd:annotation>
      <xsd:documentation>Angir en adresse hvor bruker oppholder seg i en gitt periode og / eller kan motta post i en gitt periode

http://jira.adeo.no/browse/BEGREP-681</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="postleveringsPeriode" type="informasjon:Gyldighetsperiode"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute form="qualified" name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Stedsadresse">
    <xsd:annotation>
      <xsd:documentation>Felles supertype til ulike fysiske adresser i norge/utland

http://jira.adeo.no/browse/BEGREP-655</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gyldighetsperiode">
    <xsd:annotation>
      <xsd:documentation>Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden. fom er pålagt attributt for instanser av gyldighetsperiode.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Periode"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Bankkonto">
    <xsd:sequence/>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="PostboksadresseNorsk">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Postboksadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer"/>
          <xsd:element minOccurs="0" name="postboksanlegg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnsvarligEnhet">
    <xsd:annotation>
      <xsd:documentation>En ansvarlig enhet er defindert ved en organisasjonselementID. Et OrganisasjonsElement grupperer personressurser som jobber for NAV og poensielt flere OrganisasjonsElementer som hører inn under det aktuelle OrganisasjonsElementet. Et OrganisasjonsElement er videre superklasse for formelle organisasjonsenheter (Organisasjonsenhet)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="organisasjonselementId" type="informasjon:Identifikator"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Telefontyper">
    <xsd:annotation>
      <xsd:documentation>http://nav.no/kodeverk/Kodeverk/Telefontyper</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute fixed="http://nav.no/kodeverk/Kodeverk/Telefontyper" form="qualified" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Telefonnummer">
    <xsd:annotation>
      <xsd:documentation>Den tallkombinasjonen som gir forbindelse med en abonnent. (Språkrådet)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifikator" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Selve telefonnummeret, uten retningsnummer. Se landkode. attributt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="retningsnummer" type="informasjon:Retningsnumre">
        <xsd:annotation>
          <xsd:documentation>Unik kode (retningsnummer) for land innen et gitt landkodeverk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="informasjon:Telefontyper">
        <xsd:annotation>
          <xsd:documentation>Type på telefonenhet. Del av nøkkel i TPS.  Kan brukes til å avgjøre kommunikasjonsform og innhold i kommunikasjon med bruker. Eksempler er: mobil, fast, faks.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="StrukturertAdresse">
    <xsd:complexContent>
      <xsd:extension base="informasjon:GeografiskAdresse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="tilleggsadresse" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Navn på sted, f.eks. "Meskumski" i Re kommune.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="tilleggsadresseType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NorskIdent">
    <xsd:sequence>
      <xsd:element name="type" type="informasjon:Personidenter"/>
      <xsd:element name="ident" type="informasjon:Identifikator"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-166

En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen. Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bankkontonummer">
    <xsd:annotation>
      <xsd:documentation>Begrep-142 Et bankkontonummer er et nummer bestående av 11 siffer som identifiserer bank, kontoform og konto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="bankkontonummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tallkombinasjon som unikt dentifiserer en bankkonto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="banknavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på banken som forvalter den aktuelle bankkontoen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigPostadresseUtland">
    <xsd:annotation>
      <xsd:documentation>Midlertidig postadresse i utlandet. Brukes til å sende ut post..

http://jira.adeo.no/browse/BEGREP-661</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:MidlertidigPostadresse">
        <xsd:sequence>
          <xsd:element name="ustrukturertAdresse" type="informasjon:UstrukturertAdresse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Preferanser">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="maalform" type="informasjon:Spraak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Matrikkelnummer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gaardsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruksnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="festenummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="seksjonsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="undernummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Person">
    <xsd:annotation>
      <xsd:documentation>http://jira.adeo.no/browse/BEGREP-165</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="diskresjonskode" type="informasjon:Diskresjonskoder">
        <xsd:annotation>
          <xsd:documentation>Er det registrert en diskresjonskode på personen? "Ja/Nei" Det kan være aktuelt å registrere hvilken periode dette gjaldt - enten som bruksperiode og/eller gyldighetsperiode. Dette må avklares.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bostedsadresse" type="informasjon:Bostedsadresse"/>
      <xsd:element minOccurs="0" name="ident" type="informasjon:NorskIdent"/>
      <xsd:element minOccurs="0" name="personnavn" type="informasjon:Personnavn"/>
      <xsd:element minOccurs="0" name="postadresse" type="informasjon:Postadresse"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>