nav-fim-behandleJournal-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleJournal/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/meldinger" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/meldinger" xmlns:metadata="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/metadata" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon" xmlns:omijmh="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettMidlertidigInngaaendeJournalpostMedHoveddokument" xmlns:omij="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/oppdaterMidlertidigInngaaendeJournalpost" xmlns:oujmh="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettUtgaaendeJournalpostMedHoveddokument" xmlns:onjmh="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettNotatJournalpostMedHoveddokument">	
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon" schemaLocation="../informasjon/behandleJournal.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettMidlertidigInngaaendeJournalpostMedHoveddokument" schemaLocation="../informasjon/opprettMidlertidigInngaaendeJournalpostMedHoveddokument.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/oppdaterMidlertidigInngaaendeJournalpost" schemaLocation="../informasjon/oppdaterMidlertidigInngaaendeJournalpost.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettUtgaaendeJournalpostMedHoveddokument" schemaLocation="../informasjon/opprettUtgaaendeJournalpostMedHoveddokument.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/informasjon/opprettNotatJournalpostMedHoveddokument" schemaLocation="../informasjon/opprettNotatJournalpostMedHoveddokument.xsd"/>
	<xs:import namespace="http://nav.no/tjeneste/virksomhet/behandleJournal/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
	<xs:complexType name="ArkiverUstrukturertKravRequest">
		<xs:sequence>
			<xs:element name="journalpost" type="informasjon:Journalpost" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="ArkiverUstrukturertKravResponse">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dokumentId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LagreVedleggPaaJournalpostRequest">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="journalfortDokumentInfo" type="informasjon:JournalfoertDokumentInfo" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="LagreVedleggPaaJournalpostResponse">
		<xs:sequence>
			<xs:element name="dokumentId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OpprettMidlertidigInngaaendeJournalpostMedHoveddokumentRequest">
		<xs:sequence>
			<xs:element name="journalpost" type="omijmh:Journalpost" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="OpprettMidlertidigInngaaendeJournalpostMedHoveddokumentResponse">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dokumentId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OpprettUtgaaendeJournalpostMedHoveddokumentRequest">
		<xs:sequence>
			<xs:element name="journalpost" type="oujmh:Journalpost" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	
	<xs:complexType name="OpprettUtgaaendeJournalpostMedHoveddokumentResponse">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dokumentId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OpprettNotatJournalpostMedHoveddokumentRequest">
		<xs:sequence>
			<xs:element name="journalpost" type="onjmh:Journalpost" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	<xs:complexType name="OpprettNotatJournalpostMedHoveddokumentResponse">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dokumentId" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OppdaterMidlertidigInngaaendeJournalpostRequest">
		<xs:sequence>
			<xs:element name="journalpost" type="omij:Journalpost" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>

	<xs:complexType name="FerdigstillJournalpostRequest">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	
	<xs:complexType name="FerdigstillDokumentopplastingRequest">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
	
	<xs:complexType name="FeilfoerMidlertidigJournalpostRequest">
		<xs:sequence>
			<xs:element name="journalpostId" type="informasjon:JournalpostID" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="metadata:Endringssporing"/>
	</xs:complexType>
</xs:schema>
