subscription-nav-emottak-eletter-web/src/main/wsdl/subscription.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ab="http://www.nav.no/emottak/subscription/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nav.no/emottak/subscription/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.nav.no/emottak/subscription/" schemaLocation="subscription.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartSubscriptionRequest">
		<wsdl:part name="StartSubscriptionRequest" element="ab:StartSubscriptionRequest"/>
	</wsdl:message>
	<wsdl:message name="StatusResponse">
		<wsdl:part name="StatusResponse" element="ab:StatusResponse"/>
	</wsdl:message>
	<wsdl:message name="FinnElektroniskSamhandlerstatusRequest">
		<wsdl:part name="FinnElektroniskSamhandlerstatusRequest" element="ab:FinnElektroniskSamhandlerstatusRequest"/>
	</wsdl:message>
	<wsdl:message name="FinnElektroniskSamhandlerstatusResponse">
		<wsdl:part name="FinnElektroniskSamhandlerstatusResponse" element="ab:FinnElektroniskSamhandlerstatusResponse"/>
	</wsdl:message>
	<wsdl:portType name="SubscriptionPort">
		<wsdl:operation name="FinnElektroniskSamhandlerstatus">
			<wsdl:input name="FinnElektroniskSamhandlerstatusRequest" message="ab:FinnElektroniskSamhandlerstatusRequest"/>
			<wsdl:output name="FinnElektroniskSamhandlerstatusResponse" message="ab:FinnElektroniskSamhandlerstatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="StartSubscription">
			<wsdl:input name="StartSubscriptionRequest" message="ab:StartSubscriptionRequest"/>
			<wsdl:output name="StatusResponse" message="ab:StatusResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubscriptionBindingSoap11" type="ab:SubscriptionPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FinnElektroniskSamhandlerstatus">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartSubscription">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubscriptionService">
		<wsdl:port name="SubscriptionBindingSoap11" binding="ab:SubscriptionBindingSoap11">
			<soap:address location="http://localhost/nav-emottak-eletter-web/services/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
