subscription-nav-emottak-eletter-web/src/main/wsdl/subscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by XMLSPY 2006 Enterprise Ed. Release 3, Concurrent for 9 users (with SMP from 2006-06-21 to 2007-06-22) (Aetat Arbeidsdirektoratet) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.nav.no/emottak/subscription/" targetNamespace="http://www.nav.no/emottak/subscription/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="StartSubscriptionRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="key" type="xsd:string"/>
				<xsd:element name="data" type="xsd:base64Binary"/>
				<xsd:element name="partnerid" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="key" type="xsd:string"/>
				<xsd:element name="status" type="xsd:int"/>
				<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinnElektroniskSamhandlerstatusRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ns1:tssId" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinnElektroniskSamhandlerstatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ns1:ElektroniskSamhandlerstatus" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ElektroniskSamhandlerstatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tssId" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tssId" type="xsd:string"/>
</xsd:schema>
