nav-fim-ytelse-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/ytelse/v1/informasjon/ytelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/ytelse/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/ytelse/v1/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Periode">
		<xs:sequence>
			<xs:element name="fom" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tom" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Fagsystem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PeriodetypeForYtelse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="enGang"/>
			<xs:enumeration value="perDag5DagerPerUke"/>
			<xs:enumeration value="perDag7DagerPerUke"/>
			<xs:enumeration value="perMaaned"/>
			<xs:enumeration value="perUke"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Saksstatustyper">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Sakstyper">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Part" abstract="true">
		<xs:sequence>
			<xs:element name="partId" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="informasjon:Part">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Tema">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="Sak">
		<xs:sequence>
			<xs:element name="fagssystem" type="informasjon:Fagsystem" minOccurs="0" maxOccurs="1"/>
			<xs:element name="periode" type="informasjon:Periode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sakID_Fagsystem" type="informasjon:Identifikator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="saksid" type="informasjon:Identifikator" minOccurs="1" maxOccurs="1"/>
			<xs:element name="saksstatus" type="informasjon:Saksstatustyper" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sakstype" type="informasjon:Sakstyper" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tema" type="informasjon:Tema" minOccurs="1" maxOccurs="1"/>
			<xs:element name="gjelderPart" type="informasjon:Part" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sakHarTilknyttetVedtak" type="informasjon:Vedtak" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Vedtak">
		<xs:sequence>
			<xs:element name="periodetypeForYtelse" type="informasjon:PeriodetypeForYtelse" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uttaksgrad" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vedtakBruttoBeloep" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vedtakNettoBeloep" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vedtaksperiode" type="informasjon:Periode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
