pensjonsak-esb-tjenestespesifikasjon/src/main/wsdl/pensjonsak/no/nav/virksomhet/tjenester/sak/pensjon/pensjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/sak/pensjon/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pensjon" targetNamespace="http://nav.no/virksomhet/tjenester/sak/pensjon/v1">
  <wsdl:types>
    <xsd:schema xmlns:meldinger="http://nav.no/virksomhet/tjenester/sak/pensjon/meldinger/v1" targetNamespace="http://nav.no/virksomhet/tjenester/sak/pensjon/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/sak/pensjon/meldinger/v1" schemaLocation="meldinger/meldinger.xsd" />
      <xsd:element name="finnSakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnSakListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnSakListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnSakListeResponse">
    <wsdl:part name="parameters" element="tns:finnSakListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnSakListeRequest">
    <wsdl:part name="parameters" element="tns:finnSakListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PensjonSak">
    <wsdl:operation name="finnSakListe">
<wsdl:documentation>&lt;p&gt;Tjenesten tilbyr operasjoner for å finne en eller flere pensjonssaker basert på gitte søkerkriterier. Saker tilknyttet andre fagområder/sakstyper enn pensjon (som saksbehandles i PESYS) vil ikke kunne aksesseres gjennom denne tjenesten.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:finnSakListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnSakListeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
