nav-pip-diskresjonskode-tjenestespesifikasjon/src/main/wsdl/Diskresjonskode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Diskresjonskode" targetNamespace="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:tns="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:meldinger="http://nav.no/tjeneste/pip/diskresjonskode/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/pip/diskresjonskode/meldinger" schemaLocation="no/nav/tjeneste/pip/diskresjonskode/meldinger/meldinger.xsd"/>
			<xs:element name="hentDiskresjonskode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentDiskresjonskodeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentDiskresjonskodeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentDiskresjonskodeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentDiskresjonskodeRequest">
		<wsdl:part name="parameters" element="tns:hentDiskresjonskode"/>
	</wsdl:message>
	<wsdl:message name="hentDiskresjonskodeResponse">
		<wsdl:part name="parameters" element="tns:hentDiskresjonskodeResponse"/>
	</wsdl:message>
	<wsdl:portType name="DiskresjonskodePortType">
		<wsdl:operation name="hentDiskresjonskode">
			<wsdl:input name="hentDiskresjonskodeRequest" message="tns:hentDiskresjonskodeRequest"/>
			<wsdl:output name="hentDiskresjonskodeResponse" message="tns:hentDiskresjonskodeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DiskresjonskodeBinding" type="tns:DiskresjonskodePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentDiskresjonskode">
			<soap:operation style="document"/>
			<wsdl:input name="hentDiskresjonskodeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentDiskresjonskodeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Diskresjonskode">
		<wsdl:port name="Diskresjonskode" binding="tns:DiskresjonskodeBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
