arena-organisasjon-tjenestespesifikasjon/src/main/wsdl/ArenaOrganisasjonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://arena.nav.no/services/organisasjonservice" xmlns:faults="http://arena.nav.no/services/lib/fault" targetNamespace="http://arena.nav.no/services/organisasjonservice">
	<wsdl:types>
		<xs:schema xmlns:tns="http://arena.nav.no/services/organisasjonservice" targetNamespace="http://arena.nav.no/services/organisasjonservice">
			<!--Skjemaer for request/response-typer for ArenaOrganisasjonService.-->
			<xs:include schemaLocation="no/nav/arena/services/Organisasjon/HentSaksbehandlerListeRequest.xsd"/>
			<xs:include schemaLocation="no/nav/arena/services/Organisasjon/HentSaksbehandlerListeResponse.xsd"/>
			<!--Navnerom og elementdeklarasjon for generelle feil.-->
			<xs:import namespace="http://arena.nav.no/services/lib/fault" schemaLocation="no/nav/arena/services/lib/fault/faults.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentSaksbehandlerListeRequestMsg">
		<wsdl:part name="hentSaksbehandlerListeParameters" element="tns:hentSaksbehandlerListe"/>
	</wsdl:message>
	<wsdl:message name="hentSaksbehandlerListeResponseMsg">
		<wsdl:part name="hentSaksbehandlerListeResult" element="tns:hentSaksbehandlerListeResult"/>
	</wsdl:message>
	<wsdl:message name="faultGeneriskMsg">
		<wsdl:part name="faultGenerisk" element="faults:faultGenerisk"/>
	</wsdl:message>
	<wsdl:message name="faultEnhetIkkeFunnetMsg">
		<wsdl:part name="faultEnhetIkkeFunnet" element="faults:faultEnhetIkkeFunnet"/>
	</wsdl:message>	
	<wsdl:portType name="OrganisasjonPortType">
		<wsdl:operation name="hentSaksbehandlerListe">
			<wsdl:input name="hentSaksbehandlerListeRequest" message="tns:hentSaksbehandlerListeRequestMsg"/>
			<wsdl:output name="hentSaksbehandlerListeResponse" message="tns:hentSaksbehandlerListeResponseMsg"/>
			<wsdl:fault name="faultGenerisk" message="tns:faultGeneriskMsg"/>
			<wsdl:fault name="faultEnhetIkkeFunnet" message="tns:faultEnhetIkkeFunnetMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArenaOrganisasjonServiceBinding" type="tns:OrganisasjonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentSaksbehandlerListe">
			<soap:operation soapAction="hentSaksbehandlerListe" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultGenerisk">
				<soap:fault name="faultGenerisk" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="faultEnhetIkkeFunnet">
				<soap:fault name="faultEnhetIkkeFunnet" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ArenaOrganisasjonService">
		<wsdl:port name="ArenaOrganisasjonServicePort" binding="tns:ArenaOrganisasjonServiceBinding">
			<soap:address location="https://arena.adeo.no/arena_ws/services/ArenaOrganisasjonService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
