getapplicationversion/src/main/wsdl/nav-cons-test-getapplicationversion_TESTGetApplicationVersionWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TESTGetApplicationVersionWSEXP_TESTGetApplicationVersionHttp_Service" targetNamespace="http://nav-lib-test/no/nav/inf/Binding" xmlns:Port_0="http://nav-lib-test/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-lib-test/no/nav/inf/Binding">
  <wsdl:import namespace="http://nav-lib-test/no/nav/inf" location="no/nav/inf/TESTGetApplicationVersion.wsdl">
  </wsdl:import>
  <wsdl:binding name="TESTGetApplicationVersionWSEXP_TESTGetApplicationVersionHttpBinding" type="Port_0:TESTGetApplicationVersion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="joarkGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="joarkGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="joarkGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aaGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="aaGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="aaGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inntGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="inntGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inntGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="instGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="instGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="medlGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="medlGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="medlGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="norgGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="norgGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="norgGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sfeGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="sfeGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sfeGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tpGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="tpGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="tpGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tpsGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="tpsGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="tpsGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tssGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="tssGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="tssGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="osGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="osGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="osGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trekkGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="trekkGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trekkGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="urGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="urGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="penGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="penGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="penGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="poppGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="poppGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="poppGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arenaInternGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="arenaInternGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="arenaInternGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bisysGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="bisysGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bisysGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bprofGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="bprofGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bprofGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gsakGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="gsakGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="gsakGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infotGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="infotGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="infotGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="adGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="adGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="samGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="samGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="samGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arenaOppgaveGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="arenaOppgaveGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="arenaOppgaveGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arenaOrganisasjonGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="arenaOrganisasjonGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="arenaOrganisasjonGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arenaSakVedtakGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="arenaSakVedtakGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="arenaSakVedtakGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infotSakGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="infotSakGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="infotSakGetApplicationVersion1Msg1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infotSakVedtakGetApplicationVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="infotSakVedtakGetApplicationVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="infotSakVedtakGetApplicationVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TESTGetApplicationVersionWSEXP_TESTGetApplicationVersionHttpService">
    <wsdl:port name="TESTGetApplicationVersionWSEXP_TESTGetApplicationVersionHttpPort" binding="this:TESTGetApplicationVersionWSEXP_TESTGetApplicationVersionHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-test-getapplicationversionWeb/sca/TESTGetApplicationVersionWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
