nav-fim-organisasjon-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjon/v3/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Binding" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjon/v3/Binding" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjon/v3/Binding" xmlns:wsdl_1="http://nav.no/tjeneste/virksomhet/organisasjon/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="organisasjon.wsdl" namespace="http://nav.no/tjeneste/virksomhet/organisasjon/v3"/>
  <wsdl:binding name="Organisasjon_v3Binding" type="wsdl_1:Organisasjon_v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/Bindingping/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindingfinnOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="finnOrganisasjonFault">
        <soap:fault name="finnOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="finnOrganisasjonFault1">
        <soap:fault name="finnOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjonsnavnBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindinghentOrganisasjonsnavnBolk/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindinghentOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hentOrganisasjonFault">
        <soap:fault name="hentOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="hentOrganisasjonFault1">
        <soap:fault name="hentOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNoekkelinfoOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindinghentNoekkelinfoOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hentNoekkelinfoOrganisasjonFault">
        <soap:fault name="hentNoekkelinfoOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="hentNoekkelinfoOrganisasjonFault1">
        <soap:fault name="hentNoekkelinfoOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validerOrganisasjon">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindingvaliderOrganisasjon/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="validerOrganisasjonFault">
        <soap:fault name="validerOrganisasjonFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="validerOrganisasjonFault1">
        <soap:fault name="validerOrganisasjonFault1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVirksomhetsOrgnrForJuridiskOrgnrBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindinghentVirksomhetsOrgnrForJuridiskOrgnrBolk/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Organisasjon_v3">
    <wsdl:port binding="tns:Organisasjon_v3Binding" name="Organisasjon_v3Port">
      <soap:address location="http://nav.no/tjeneste/virksomhet/organisasjon/v3/BindingOrganisasjon_v3/Organisasjon_v3Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>