nav-journal-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/journal/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/journal/v2/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/journal/v2/informasjon">
  <xsd:complexType abstract="true" name="Aktoer"/>
  <xsd:complexType name="Dokumenttyper">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Katagorier">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arkivtemaer">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TilknyttetJournalpostSom">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Kryssreferanse">
    <xsd:sequence>
      <xsd:element name="referanseId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Definerer type referanse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="referanse" type="informasjon:Referanser">
        <xsd:annotation>
          <xsd:documentation>Referanse (intern eller ekstern)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kryssreferanseId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fagsystemer">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NoekkelVerdiSett">
    <xsd:sequence>
      <xsd:element name="inneholderNoekkelVerdiPar" type="informasjon:NoekkelVerdiPar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Variantformater">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Referanser">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Journalstatuser">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SoekeFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalFiltrering" type="informasjon:JournalFiltrering">
        <xsd:annotation>
          <xsd:documentation>Mulighet for å velge om journalpostene skal filtreres eller ikke.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Filtrerer søket på type forsendelse: inngående, utgående eller notat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Filtrerer søket på journalpost.opprettetDato fra og med gitt dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Filtrerer søket på journalpost.opprettetDato til og med gitt dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentinfoRelasjon">
    <xsd:sequence>
      <xsd:element name="dokumentinfoRelasjonId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Primærnøkkel</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentTilknyttetJournalpost" type="informasjon:TilknyttetJournalpostSom">
        <xsd:annotation>
          <xsd:documentation>Angivelse av om dokumentet er hoveddokument eller vedlegg i forsendelsen&lt;/p&gt;&lt;p&gt; Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalfoertDokument" type="informasjon:JournalfoertDokumentInfo">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder metadata om hvert enkelt dokument i forsendelsen (samt fysisk dokument (er))</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sak">
    <xsd:sequence>
      <xsd:element name="sakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Id som unikt identifiserer et saksobjekt. SaksId vil for enkelte fagsystemer tilsvare fagsaksnummer (eks. PESYS), mens kan for andre fagsystemer være en peker (eks. fagsystemer som inngår i GOSYS).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagsystem" type="informasjon:Fagsystemer">
        <xsd:annotation>
          <xsd:documentation>Angivelse av hvilket fagsystem saken tilhører. Se kodeverk for relevante verdier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalfoertDokumentInfo">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Dokumentbeskrivelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DokumentInnhold">
    <xsd:sequence>
      <xsd:element name="filtype" type="informasjon:Arkivfiltyper">
        <xsd:annotation>
          <xsd:documentation>Filtypen til dokumentet. Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="variantformat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation>Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument". Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kommunikasjonsretninger">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Arkivfiltyper">
    <xsd:annotation>
      <xsd:documentation>Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon.

Se kodeverk for relevante verdier.

http://nav.no/kodeverk/Kodeverk/Arkivtemaer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SkannetInnhold">
    <xsd:sequence>
      <xsd:element name="skannetInnholdId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikasjonsnøkkel for det gjeldende vedlegget</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vedleggInnhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskriver innholdet i dokumentet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="NoekkelVerdiPar">
    <xsd:sequence>
      <xsd:element name="noekkel" type="informasjon:Identifikator"/>
      <xsd:element name="verdi" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Statuser">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="JournalFiltrering">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kunGyldigeOgFerdigstilteForsendelserOgDokumenter">
        <xsd:annotation>
          <xsd:documentation>Filtrere journalposter og dokumenter basert på journalstatus, feilregistrert saksrelasjon, dokumentstatus og slettet dokument.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ingen">
        <xsd:annotation>
          <xsd:documentation>Alle journalposter som tilfredsstiller søkekriteriene returneres (evt. filtrering på JournalpostType, journalFom og journalTom).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Kommunikasjonskanaler">
    <xsd:annotation>
      <xsd:documentation>Refererer til kodeverk: Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Organisasjon">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="orgnummer" type="informasjon:Identifikator"/>
          <xsd:element name="navn" type="informasjon:Navn"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Dokumentbeskrivelse">
    <xsd:sequence>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av DokumentInfo/Dokumentbeskrivelse (dokumentnivå)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erBegrensetPartsInnsyn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Definerer om innholdet i dokumentet er av en slik art at det kan være aktuelt å skjerme brukers innsyn.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tilleggsopplysningerListe" type="informasjon:NoekkelVerdiSett">
        <xsd:annotation>
          <xsd:documentation>Mulighet for å legge inn tilleggsopplysninger utover journalbehov, eksempelvis brukers tittel på dokumentet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentType" type="informasjon:Dokumenttyper">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av dokumenttype på tvers av fagsystemer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="beskriverInnholdListe" type="informasjon:DokumentInnhold">
        <xsd:annotation>
          <xsd:documentation>Beskriver innhold i hoveddokumentet. Innholdsfeltet må brukes av alle, men verdier/ innholdet i feltet er fagspesifikt. Ved fritekstbrev kan dokumentKategoriene f.eks være: Informasjon, vedtak, forespørsel.

Dette feltet skal også benyttes til å angi beskrivelse av konverterte grunnblanketter.

Bidrag vil benytte dette feltet i stedet for sin gamle tjeneste</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erSensitiv" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>2 graderinger (Personsensitivt og Ikke personsensitivt).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tittel" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dokumentets tittel/innhold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kategori" type="informasjon:Katagorier">
        <xsd:annotation>
          <xsd:documentation>Dokumentkategori. Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="status" type="informasjon:Statuser">
        <xsd:annotation>
          <xsd:documentation>Statuskode for å styre dokumentproduksjon (utgående dokumenter og notater)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erOrganInternt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Dokument skal unntas ved brukers begjæring om partsinnsyn.Jfr.Forvalningsloven § 18 A : "En part har ikke krav på å gjøre seg kjent med dokument som et forvaltningsorgan har utarbeidd for sin egen interne saksforberedelse (organinterne dokumenter).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brevkode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av skjematype (inngående) eller brev (utgående).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentFerdigDato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for ferdigstillelse av dokument (utgående og notat)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="originalJournalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Referanse til opprinnelig forsendelse som dokumentet var en del av. Skal ikke kunne endres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SkannetInnholdListe" type="informasjon:SkannetInnhold">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder tittel på logiske vedlegg i forsendelsen (i bruk for inngående forsendelser som skannes hvor hoveddokument og evt. vedlegg skannes som èn fil). </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistertSak">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Sak">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="erFeilregistrert" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktoer">
        <xsd:sequence>
          <xsd:element name="ident" type="informasjon:Identifikator"/>
          <xsd:element name="navn" type="informasjon:Navn"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Journalpost">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator av journalposten (forsendelsenivå)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelderSak" type="informasjon:RegistertSak">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder metadata om sakstilknytning</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kryssreferanseListe" type="informasjon:Kryssreferanse">
        <xsd:annotation>
          <xsd:documentation>Objekt med referanse til annen forsendelse (journalpost)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dokumentinfoRelasjonListe" type="informasjon:DokumentinfoRelasjon">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder metadata om hvert enkelt dokument i forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="journalstatus" type="informasjon:Journalstatuser">
        <xsd:annotation>
          <xsd:documentation>Statuskoder for forsendelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kommunikasjonsretning" type="informasjon:Kommunikasjonsretninger">
        <xsd:annotation>
          <xsd:documentation>Angir om forsendelsen er inngående, utgående eller intern</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arkivtema" type="informasjon:Arkivtemaer">
        <xsd:annotation>
          <xsd:documentation>Tema/fagområdet forsendelsen tilhører, for eksempel dagpenger, kontantstøtte og pensjon. Se kodeverk for relevante verdier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommunikasjonskanal" type="informasjon:Kommunikasjonskanaler">
        <xsd:annotation>
          <xsd:documentation>Mottakskanal/utsendingskanal for forsendelse. Se kodeverk for relevante verdier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erSignert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Angivelse av om forsendelsen ble signert av bruker ved elektronisk innsending</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="merknad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="innhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskriver innholdet i forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="eksternPart" type="informasjon:Aktoer">
        <xsd:annotation>
          <xsd:documentation>Dette er avsender eller mottaker av dokumentet/henvendelsen.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="eksternPartNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dokumentOpprettet" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato på hoveddokument/forsendelse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalfoert" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for journalføring, dvs. når journalstatus er satt til J eller FS/FL.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ekspedert" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato når forsendelsen ble ekspedert</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtPrint" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato forsendelsen er sendt til print</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lest" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato forsendelsen er sist lest</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottatt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for mottak av forsendelsen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for sist gang brevet har blitt sendt på nytt. Settes manuelt til dagens dato dersom antall retur er oppdatert uten at dato er angitt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ferdigstilt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato for journalføring, dvs. når journalstatus er satt til J eller FS/FL.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>