nav-arbeidsgiver-tjenestespesifikasjon-2.0.0/src/main/wsdl/no/nav/virksomhet/tjenester/arbeidsgiver/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/arbeidsgiver/meldinger/v2" version="2.0" xmlns:arbeidsgiver="http://nav.no/virksomhet/part/arbeidsgiver/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/arbeidsgiver/meldinger/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/virksomhet/part/arbeidsgiver/v1" schemaLocation="../../../part/arbeidsgiver/arbeidsgiver.xsd"/>
  <xsd:complexType name="NavnSok">
    <xsd:sequence>
      <xsd:element name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søkefelt for navnet til organisasjonen. Må staves fra starten av navnet. Støtter fonetisk søk, hvilket vil si at søkealgoritmen vil gi treff på navn som ligner i lyd, eksempelvis vil man treffe på Adecco ved søk på Adekko.  Søkefeltet støtter maks 30 tegn, og operasjonen vil feile ved forsøk på lengere input.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Filter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="statusKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering for om man vil ha alle, aktive eller opphørte organisasjoner.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Feltverdi&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Beskrivelse&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;1&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Kun aktive&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;8&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Kun opphørte&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;’blank’/null/ikke satt&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Alle&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="naring1Kode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtreringsmulighet på hovednæringen organisasjonen tilhører. Se DM for gyldige kodeverdier.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering på forretningsadressens postnummer. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kommunenr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering på kommunenummer. Kommunenr er bygget opp slik at de to første sifrene representerer fylkesnummer mens de siste to sifrene representerer kommunenr internt i fylket. &lt;/p&gt;&lt;p&gt;Feltet skal altså være slik: &lt;FFKK&gt; hvor FF angir fylkesnr og KK angir kommunenr internt i fylket. Hvis man ønsker å filtrere på kun fylke (og ikke kommune) lar man KK = 00, altså vil for eksempel ”0200” filtrere på fylkenr 02. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="elektroniskInnrapportering" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering på om organisasjonen har elektronisk innrapportering eller ikke, eller om det ikke har betydning.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Feltverdi&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Beskrivelse&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;J&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Har elektronisk innrapportering.&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;N&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Har IKKE elektronisk innrapportering.&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;’blank’/null/ikke satt&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Alle&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organisasjonstypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Filtrering på organisasjonstype. Se kap 2.9 for gyldige verdier av organisasjonstype.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnOrganisasjonListeRequest">
    <xsd:sequence>
      <xsd:element name="navnSok" type="meldinger:NavnSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søk på navn til organisasjon. Se meldingsobjekt NavnSok under.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filter" type="meldinger:Filter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ulike filtreringskriterier for søket. Se meldingsobjektet Filter under.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="maksAntall" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir maks antall organisasjoner i retur. Hvis feltet er satt, så må tallet være minimum 1 og maksimum 500. Tjenesten vil feile ved verdi utenfor intervallet [0, 500]. Uavhengig av om feltet er satt, så vil operasjonen aldri returnere mer enn 500 elementer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnOrganisasjonListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidsgiver:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganisasjonSammendragUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidsgiver:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganisasjonSammendrag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organisasjonstype" type="arbeidsgiver:Organisasjonstype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="juridiskOrgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orgleddTilOrgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="redigertNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="forretningsadresse" type="arbeidsgiver:Adresse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="status" type="arbeidsgiver:Status">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OrganisasjonSammendragUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnOrganisasjonListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="500" minOccurs="0" name="organisasjonListe" type="meldinger:OrganisasjonSammendrag">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Informasjon om organisasjoner som tilfredstiller søkekriteriene. Se meldingsobjekt OrganisasjonSammendrag under for detaljer om hva som returneres.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="totaltAntall" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Viser antall elementer funnet i AA-registeret som er i tråd med søkekriteriene. Tallet kan være høyere enn antall elementer i returlisten. Hvis antallet i retur er lavere enn totaltAntall så er returen begrenset av en maksgrense på antall elementer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FinnOrganisasjonListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKontonummerhistorikkRequest">
    <xsd:sequence>
      <xsd:element name="orgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Organisasjonsnummer for organisasjonen det skal hentes kontonummerhistorikk for.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hentHistorikkFraTidligereEier" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om uttrekket skal inkludere kontonumre fra tiden under en annen eiende enhet. &lt;/p&gt;&lt;p&gt;True angir at historiske kontonumre fra tiden under tidligere eier hentes. False/ikke satt angir at dette ikke hentes, mao. kun kontonumre fra tiden under dagens eier hentes. &lt;/p&gt;&lt;p&gt;For organisasjoner på øverste nivå, så vil det ikke finnes eierenhet, og da vil dette flagget ikke gi mening, og retur vil alltid inkludere alle historiske kontonumre uten begrensninger.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentkontonummerhistorikkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidsgiver:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentKontonummerhistorikkResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="500" minOccurs="0" name="kontonummerListe" type="arbeidsgiver:Kontonummer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Alle kontonumre, både dagens og historiske, for organisasjonen i input. Returen vil være begrenset slik at kun kontonumre fra tiden under dagens eierenhet vil vises, med mindre det eksplisitt er bedt om full historikk. &lt;/p&gt;&lt;p&gt;Se domenemodell for beskrivelse av Kontonummer-objektet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentkontonummerhistorikkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentOrganisasjonRequest">
    <xsd:sequence>
      <xsd:element name="orgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Organisasjonsnummeret til organisasjonen det spørres etter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hentRelaterteOrganisasjoner" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om barneorganisasjoner og foreldreorganisasjon til organisasjonen identifisert av orgnr i input også skal hentes ut. True angir at barneorganisasjoner og foreldreorg. skal hentes ut, mens false betyr at organisasjonen hentes ut uten barne- eller foreldreorganisasjoner. Default er false, og flagget bør settes til true kun hvis barne- og foreldreorganisasjoner er interessant da det kan finnes mange barneorganisasjoner. &lt;/p&gt;&lt;p&gt;Med barneorganisasjoner menes ett nivå under organisasjonen det spørres etter, altså barna, ikke barnebarna. Både bedrifter og organisasjonsledd kan være barneorganisasjoner. Med foreldreorganisasjon menes den ene organisasjonen som ligger rett over i organisasjonshierarkiet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentOrganisasjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidsgiver:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelatertOrganisasjonSammendragUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidsgiver:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelatertOrganisasjonSammendrag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organisasjonstype" type="arbeidsgiver:Organisasjonstype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="juridiskOrgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orgleddTilOrgNr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="redigertNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="forretningsadresse" type="arbeidsgiver:Adresse">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="status" type="arbeidsgiver:Status">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bankkontonr" type="arbeidsgiver:Kontonummer">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se beskrivelse av tilsvarende felt i informasjonsobjekt Organisasjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:RelatertOrganisasjonSammendragUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentOrganisasjonResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="organisasjon" type="arbeidsgiver:Organisasjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:12pt;font-family:"Times New Roman";"&gt;Organisasjonen gitt av orgnr i input. &lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="foreldreorganisasjon" type="meldinger:RelatertOrganisasjonSammendrag">
        <xsd:annotation>
          <xsd:documentation>&lt;p class="MsoBodyText"&gt;&lt;span&gt;Kun utfylt hvis hentRelatertOrganisasjoner = true.&lt;/span&gt;&lt;/p&gt;&lt;p class="MsoBodyText"&gt;&lt;span&gt;Foreldreorganisasjonen til organisasjon. Vil være et orgledd eller en juridisk enhet. Øverste juridisk enhet (toppnode) vil naturligvis ikke ha egen foreldreorganisasjon, og da vil ikke feltet kunne være fylt ut. &lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="2000" minOccurs="0" name="barneorganisasjonListe" type="meldinger:RelatertOrganisasjonSammendrag">
        <xsd:annotation>
          <xsd:documentation>&lt;p class="MsoBodyText"&gt;&lt;span&gt;Kun utfylt hvis hentRelatertOrganisasjoner = true.&lt;/span&gt;&lt;/p&gt;&lt;p class="MsoBodyText"&gt;&lt;span&gt;Alle underliggende organisasjoner (bedrifter og orgledd) til organisasjon. &lt;/span&gt;&lt;/p&gt;&lt;p class="MsoBodyText"&gt;&lt;span&gt;Vil aldri være utfylt for bedrifter da de ikke kan ha underliggende bedrifter. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size:12pt;font-family:"Times New Roman";"&gt;Se under for definisjon av RelatertOrganisasjonSammendrag.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentOrganisasjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>