digisyfo-sykepengesoeknadarbeidsgiver/src/main/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/melding/virksomhet/sykepengesoeknadArbeidsgiver/v1/sykepengesoeknadArbeidsgiver" xmlns:sykepengesoeknadArbeidsgiver="http://nav.no/melding/virksomhet/sykepengesoeknadArbeidsgiver/v1/sykepengesoeknadArbeidsgiver">
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Felles identifikator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="sykepengesoeknadArbeidsgiver" type="sykepengesoeknadArbeidsgiver:SykepengesoeknadArbeidsgiver">
    <xsd:annotation>
      <xsd:documentation>Rot-elementet for sykepengesøknaden</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SykepengesoeknadArbeidsgiver">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sykepengesoeknad" type="sykepengesoeknadArbeidsgiver:Sykepengesoeknad">
        <xsd:annotation>
          <xsd:documentation>Sykepengesøknad utfylt av den sykmeldte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="juridiskOrganisasjonsnummer" type="sykepengesoeknadArbeidsgiver:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Juridisk organisasjonsnummer for den bedriften den sykmeldte er knyttet til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="virksomhetsnummer" type="sykepengesoeknadArbeidsgiver:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Virksomhetsnummer (undernummer/bedriftsnummer) for den bedriften den sykmeldte er knyttet til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Periodens fom-dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Periodens tom-dato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sykepengesoeknad">
    <xsd:sequence>
      <xsd:element name="sykepengesoeknadId" type="sykepengesoeknadArbeidsgiver:Uuid">
        <xsd:annotation>
          <xsd:documentation>Unik id for denne sykepengesøknaden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldingId" type="sykepengesoeknadArbeidsgiver:Uuid">
        <xsd:annotation>
          <xsd:documentation>Unik id for symeldingen som denne sykepengesøknaden er knyttet til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="korrigerer" type="sykepengesoeknadArbeidsgiver:Uuid">
        <xsd:annotation>
          <xsd:documentation>Settes hvis korrigering. Settes til sykepengesøknadIden til søknaden som korrigeres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="sykepengesoeknadArbeidsgiver:Periode">
        <xsd:annotation>
          <xsd:documentation>Perioden som denne sykepengesøknaden skal gjelde for</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldtesFnr" type="sykepengesoeknadArbeidsgiver:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Fnr/dnr til den sykmeldte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arbeidsgiverForskuttererLoenn" type="sykepengesoeknadArbeidsgiver:Enumkonstant">
        <xsd:annotation>
          <xsd:documentation>Om arbeidsgiver forskutterer lønn dersom den sykmeldte er syk lenger enn 16 dager</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når det legemeldte fraværet begynte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtTilArbeidsgiverDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når søknaden ble sendt til arbeidsgiver. Blank hvis søknaden ikke er sendt til arbeidsgiver</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sendtTilNAVDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når søknaden ble sendt til NAV. Blank hvis søknaden ikke er sendt til NAV</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldingSkrevetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når den tilhørende sykmeldingen ble skrevet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeidGjenopptattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Dato for når sykmeldt gjenopptok arbeidet fullt ut</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fravaer" type="sykepengesoeknadArbeidsgiver:Fravaer">
        <xsd:annotation>
          <xsd:documentation>Informasjon om den sykmeldtes fravær i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="sykmeldingsperiodeListe" type="sykepengesoeknadArbeidsgiver:Sykmeldingsperiode">
        <xsd:annotation>
          <xsd:documentation>Informasjon om den sykmeldtes aktiviteter i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="annenInntektskildeListe" type="sykepengesoeknadArbeidsgiver:AnnenInntektskilde">
        <xsd:annotation>
          <xsd:documentation>Informasjon om den sykmeldte har hatt andre inntektskilder enn den gjeldende i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utdanning" type="sykepengesoeknadArbeidsgiver:Utdanning">
        <xsd:annotation>
          <xsd:documentation>Informasjon om den sykmeldte har vært under utdanning i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="harBekreftetOpplysningsplikt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Bekreftelse på at bruker er klar over at å oppgi uriktige opplysninger eller å holde tilbake informasjon kan har betydning for retten til sykepenger og at det kan føre til straffeansvar</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="harBekreftetKorrektInformasjon" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om bruker bekrefter at opplysningene gitt i søknaden er korrekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fravaer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="egenmeldingsperiodeListe" type="sykepengesoeknadArbeidsgiver:Periode">
        <xsd:annotation>
          <xsd:documentation>En eller flere perioder den sykmeldte brukte egenmelding før det legemeldte fraværet startet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ferieListe" type="sykepengesoeknadArbeidsgiver:Periode">
        <xsd:annotation>
          <xsd:documentation>Liste med perioder den sykmeldte tok ut ferie</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permisjonListe" type="sykepengesoeknadArbeidsgiver:Periode">
        <xsd:annotation>
          <xsd:documentation>Liste med perioder den sykmeldte tok ut ferie</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="oppholdUtenforNorge" type="sykepengesoeknadArbeidsgiver:OppholdUtenforNorge">
        <xsd:annotation>
          <xsd:documentation>Liste med perioder den sykmeldte oppholdt seg utenfor Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sykmeldingsperiode">
    <xsd:sequence>
      <xsd:element name="graderingsperiode" type="sykepengesoeknadArbeidsgiver:Periode">
        <xsd:annotation>
          <xsd:documentation>Fom- og tom-dato for sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sykmeldingsgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Sykmeldingsgraden for sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="korrigertArbeidstid" type="sykepengesoeknadArbeidsgiver:KorrigertArbeidstid">
        <xsd:annotation>
          <xsd:documentation>Sykmeldtes korrigering basert på faktisk tid jobbet i sykmeldingsperioden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KorrigertArbeidstid">
    <xsd:complexContent>
      <xsd:extension base="sykepengesoeknadArbeidsgiver:KorrigertArbeidstidChoice">
        <xsd:sequence>
          <xsd:element name="arbeidstimerNormaluke" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>Angir hvor mange timer den sykmeldte jobber i en normaluke</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnenInntektskilde">
    <xsd:sequence>
      <xsd:element name="type" type="sykepengesoeknadArbeidsgiver:AnnenInntektskildeType">
        <xsd:annotation>
          <xsd:documentation>Hva slags type arbeidsforhold denne andre inntektskilden er</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erSykmeldt" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om den sykmeldte er sykmeldt fra denne andre inntektskilden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AnnenInntektskildeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ANDRE_ARBEIDSFORHOLD"/>
      <xsd:enumeration value="SELVSTENDIG_NAERINGSDRIVENDE"/>
      <xsd:enumeration value="SELVSTENDIG_NAERINGSDRIVENDE_DAGMAMMA"/>
      <xsd:enumeration value="JORDBRUKER_FISKER_REINDRIFTSUTOEVER"/>
      <xsd:enumeration value="FRILANSER"/>
      <xsd:enumeration value="ANNET"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Utdanning">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra og med-dato for når utdanningen startet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="erFulltidsstudie" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om utdanningen er et fulltidsstudie</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Uuid">
    <xsd:annotation>
      <xsd:documentation>Id-string som kun tillater en UUID på 32 tegn</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OppholdUtenforNorge">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="harSoektOmSykepengerForOppholdet" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Om den sykmeldte har søkt om sykepenger for dette oppholdet utenfor Norge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="periodeListe" type="sykepengesoeknadArbeidsgiver:Periode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Enumkonstant">
    <xsd:annotation>
      <xsd:documentation>Enum-string som kun tillater A-Z og _</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z_]{1,50}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="KorrigertArbeidstidChoice">
    <xsd:choice>
      <xsd:element name="arbeidsgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Faktisk arbeidsgrad for sykmeldingsperioden, angitt i prosent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="faktiskeArbeidstimer" type="sykepengesoeknadArbeidsgiver:FaktiskeArbeidstimer">
        <xsd:annotation>
          <xsd:documentation>Faktisk antall timer jobbet i sykmeldingsperioden og beregnet arbeidsgrad</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="FaktiskeArbeidstimer">
    <xsd:sequence>
      <xsd:element name="arbeidstimer" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Faktisk antall timer jobbet i sykmeldingsperioden, angitt i timer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beregnetArbeidsgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Arbeidsgrad beregnet fra faktiske arbeidstimer, angitt i prosent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>