arena-sakOgAktivitet_v1/src/main/wsdl/no/nav/tjeneste/virksomhet/sakOgAktivitet/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/informasjon">
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Betalingsplan">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="betalingsplanId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik Id til betalingsplanlinje i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beloep" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Beløp tilknyttet betalingsplanen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="utgiftsperiode" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Dato for brukers utgift</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik id til journalpost</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtaksinformasjon">
    <xsd:sequence>
      <xsd:element name="vedtakId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik id til vedtak i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="forventetDagligParkeringsutgift" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Brukers forventede daglige parkeringsutgifter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dagsats" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Dagsats tilknyttet vedtaket, uten parkering. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode fom og tom for vedtaket</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trengerParkering" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Opplysning om bruker har krysset av for behov for parkering i søknaden. Skal brukes i logikk i innsending av påløpte utgifter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="betalingsplan" type="informasjon:Betalingsplan"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sakstyper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Aktivitet">
    <xsd:sequence>
      <xsd:element name="aktivitetId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Unik identifikator til aktivitetstype</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetstype" type="informasjon:Aktivitetstyper">
        <xsd:annotation>
          <xsd:documentation>Arena-spesifikk kode for akivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="aktivitetsnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Funksjonelt navn på aktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:Periode">
        <xsd:annotation>
          <xsd:documentation>Periode fom og tom for brukers aktivitet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallDagerPerUke" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Aktivitetsseltakelse i antall dager per uke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="prosentAktivitetsdeltakelse" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Aktivitetsdeltakelse i prosent, relativt til 100%</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivitetsstatus" type="informasjon:Aktivitetsstatuser">
        <xsd:annotation>
          <xsd:documentation>Arena-spesifikk kode for aktivitetstatus</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aktivitetsstatusnavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Funksjonelt navn på aktivitetstatus</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erStoenadsberettigetAktivitet" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som spesfiserer om aktivitetstype er stønadsberettiget</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erUtdanningsaktivitet" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Flagg som spesifiserer om aktivitetstype er utdanningsaktivitet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrangoer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Navn på tiltaksarrangør. Vil alltid vil være organisasjon</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AktivitetOgVedtak">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Aktivitet">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="saksinformasjon" type="informasjon:Saksinformasjon">
            <xsd:annotation>
              <xsd:documentation>Informasjon om saken</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Aktivitetsstatuser">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:annotation>
      <xsd:documentation>Begrep-619</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Aktivitetstyper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Saksinformasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksnummerArena" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unikt saksnummer i Arena</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sakstype" type="informasjon:Sakstyper">
        <xsd:annotation>
          <xsd:documentation>Sakstype som peker til kodeverk. Mulig verdi: TSO og TSR</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedtaksinformasjon" type="informasjon:Vedtaksinformasjon"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Fra-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Til-og-med dato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>