nav-fim-sykepenger-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykepenger/v1/sykepenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Sykepenger" targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykepenger/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sykepenger/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/sykepenger/v1/" xmlns:feil="http://nav.no/tjeneste/virksomhet/sykepenger/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sykepenger/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/sykepenger/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/sykepenger/v1/feil" schemaLocation="feil/feil.xsd"/>
			<xs:element name="hentSykepengerListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentSykepengerListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentSykepengerListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentSykepengerListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentSykepengerListeRequest">
		<wsdl:part name="parameters" element="tns:hentSykepengerListe"/>
	</wsdl:message>
	<wsdl:message name="hentSykepengerListeResponse">
		<wsdl:part name="parameters" element="tns:hentSykepengerListeResponse"/>
	</wsdl:message>
	<wsdl:message name="sikkerhetsbegrensning">
		<wsdl:part name="sikkerhetsbegrensning" element="tns:sikkerhetsbegrensning"/>
	</wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
    </wsdl:message>
	<wsdl:portType name="SykepengerPortType">
		<wsdl:operation name="hentSykepengerListe">
			<wsdl:input name="hentSykepengerListeRequest" message="tns:hentSykepengerListeRequest"/>
			<wsdl:output name="hentSykepengerListeResponse" message="tns:hentSykepengerListeResponse"/>
			<wsdl:fault name="sikkerhetsbegrensning" message="tns:sikkerhetsbegrensning"/>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SykepengerBinding" type="tns:SykepengerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentSykepengerListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentSykepengerListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentSykepengerListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="sikkerhetsbegrensning">
				<soap:fault name="sikkerhetsbegrensning" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation style="document"/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Sykepenger_v1">
		<wsdl:port name="Sykepenger_v1" binding="tns:SykepengerBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
