henvendelse-arkivering/src/main/resources/no/nav/tjeneste/domene/brukerdialog/arkiverHenvendelseBehandling/v1/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/brukerdialog/arkiverHenvendelseBehandling/v1/meldinger" version="1.0"
xmlns:arkiverHenvendelseBehandling="http://nav.no/tjeneste/brukerdialog/arkiverHenvendelseBehandling/v1/informasjon/arkiverHenvendelseBehandling"
xmlns:metadata="http://nav.no/tjeneste/domene/brukerdialog/arkiverHenvendelseBehandling/v1/metadata"
xmlns:lagreVedleggPaaJournalpost="http://nav.no/tjeneste/domene/brukerdialog/arkiverHenvendelseBehandling/v1/informasjon/lagreVedleggPaaJournalpost">
  <xsd:import namespace="http://nav.no/tjeneste/brukerdialog/arkiverHenvendelseBehandling/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
  <xsd:import namespace="http://nav.no/tjeneste/brukerdialog/arkiverHenvendelseBehandling/v1/informasjon/arkiverHenvendelseBehandling" schemaLocation="../informasjon/arkiverHenvendelseBehandling/arkiverHenvendelseBehandling.xsd"/>
  <xsd:complexType name="ArkiverHenvendelseResponse">
    <xsd:sequence>
      <xsd:element name="arkivpostId" type="arkiverHenvendelseBehandling:ArkivpostID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArkiverHenvendelseRequest">
    <xsd:sequence>
      <xsd:element name="arkivpost" type="arkiverHenvendelseBehandling:Arkivpost"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  
  <xsd:complexType name="lagreVedleggPaaArkivpostResponse">
    <xsd:sequence>
      <xsd:element name="uuid" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreVedleggPaaArkivpostRequest">
    <xsd:sequence>
      <xsd:element name="arkivertDokumentInfo" type="lagreVedleggPaaJournalpost:ArkivertDokumentInfo"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  
</xsd:schema>