cons-sak-gosys/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/sak/ASBOGOSYSSak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/sak">
	<xsd:import schemaLocation="../ASBOGOSYSBruker.xsd"
		namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo">
	</xsd:import>
	<xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo"
		schemaLocation="../ASBOGOSYSEndringsInfo.xsd" />
	<xsd:complexType name="ASBOGOSYSSak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sakId" type="xsd:string" />

			<xsd:element minOccurs="0" name="fagomrade"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagsystemKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons1:ASBOGOSYSEndringsInfo">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstype"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksstatus"
				type="xsd:string">
			</xsd:element>

			<xsd:element minOccurs="0" name="saksbehandlerIdent"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlendeEnhetNummer"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlendeEnhetNavn"
				type="xsd:string">
			</xsd:element>


			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="sakGjelder" type="bons1:ASBOGOSYSBruker">
			</xsd:element>
			<xsd:element minOccurs="0" name="eksternOppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagSaksNr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="versjon"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
