arbeidsgiver-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/virksomhet/tjenester/arbeidsgiver/arbeidsgiver.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="arbeidsgiver" targetNamespace="http://nav.no/virksomhet/tjenester/arbeidsgiver/v2" xmlns:tns="http://nav.no/virksomhet/tjenester/arbeidsgiver/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/arbeidsgiver/v2" xmlns:feil="http://nav.no/virksomhet/tjenester/arbeidsgiver/feil/v2" xmlns:meldinger="http://nav.no/virksomhet/tjenester/arbeidsgiver/meldinger/v2">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/arbeidsgiver/feil/v2" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/arbeidsgiver/meldinger/v2" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnOrganisasjonsListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnOrganisasjonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnOrganisasjonsListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnOrganisasjonListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontonummerhistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentKontonummerhistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontonummerhistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentKontonummerhistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontonummerhistorikkorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
      <xsd:element name="hentOrganisasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentOrganisasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentOrganisasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOrganisasjonorganisasjonIkkeFunnet" type="feil:OrganisasjonIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnOrganisasjonsListeRequest">
    <wsdl:part element="tns:finnOrganisasjonsListe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finnOrganisasjonsListeResponse">
    <wsdl:part element="tns:finnOrganisasjonsListeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentKontonummerhistorikkRequest">
    <wsdl:part element="tns:hentKontonummerhistorikk" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentKontonummerhistorikkResponse">
    <wsdl:part element="tns:hentKontonummerhistorikkResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentKontonummerhistorikkFault">
    <wsdl:part element="tns:hentKontonummerhistorikkorganisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonRequest">
    <wsdl:part element="tns:hentOrganisasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonResponse">
    <wsdl:part element="tns:hentOrganisasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentOrganisasjonFault">
    <wsdl:part element="tns:hentOrganisasjonorganisasjonIkkeFunnet" name="organisasjonIkkeFunnet"/>
  </wsdl:message>
  <wsdl:portType name="Arbeidsgiver">
    <wsdl:operation name="finnOrganisasjonsListe">
      <wsdl:documentation>&lt;p class="MsoBodyText"&gt;&lt;span&gt;Tjeneste for å søke etter organisasjoner i enhetsregisteret (del av AA-registeret). Det er støtte for fonetisk søk (tilsvarende-søk). Søket har en maksimumsgrense, ca 700 organisasjoner, for hvor mye data tjenesten kan returnere. Oppnås denne grensen i søket blir resterende data kuttet og det anbefales da å begrense søket mer. Det er en rekke filtreringsmuligheter for å spisse søket. &lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:finnOrganisasjonsListeRequest"/>
      <wsdl:output message="tns:finnOrganisasjonsListeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentKontonummerhistorikk">
      <wsdl:documentation>&lt;p class="MsoBodyText"&gt;&lt;span&gt;Tjenesteoperasjonen henter dagens og historiske kontonumre for én organisasjon. Retur vil også inneholde sporingsdata som hvem og når oppdateringen av kontonummer ble foretatt. Merk at underliggende bedrifters kontonummer ikke hentes ut. &lt;/span&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentKontonummerhistorikkRequest"/>
      <wsdl:output message="tns:hentKontonummerhistorikkResponse"/>
      <wsdl:fault message="tns:hentKontonummerhistorikkFault" name="hentKontonummerhistorikkFault"/>
    </wsdl:operation>
    <wsdl:operation name="hentOrganisasjon">
      <wsdl:documentation>&lt;p class="MsoBodyText"&gt;&lt;span&gt;Henter informasjon om en gitt organisasjon identifisert ved organisasjonsnr, og eventuelle foreldre- og barneorganisasjoner.&lt;/span&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentOrganisasjonRequest"/>
      <wsdl:output message="tns:hentOrganisasjonResponse"/>
      <wsdl:fault message="tns:hentOrganisasjonFault" name="hentOrganisasjonFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>