nav-innsynjournal-v2-tjenestespesifikasjon/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/innsynJournal/v2/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/meldinger" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/informasjon" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/meldinger">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/innsynJournal/v2/informasjon" schemaLocation="../informasjon/informasjon.xsd"/>
  <xsd:complexType name="HentDokumentResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dokument" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation> Dokument (rådata) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="variantFormat" type="informasjon:Variantformater">
        <xsd:annotation>
          <xsd:documentation> Angivelse av variant et dokument forekommer i, for eksempel produksjonsformat, arkivformat og ”sladdet dokument”. Se kodeverk for relevante verdier. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentDokumentRequest">
    <xsd:sequence>
      <xsd:element name="journalpostId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Id som unikt identifiserer et journalpostobjekt. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dokumentId" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation> Unik identifikator av DokumentInfo/Dokumentbeskrivelse (dokumentnivå) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentTilgjengeligJournalpostListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="journalpostListe" type="informasjon:Journalpost">
        <xsd:annotation>
          <xsd:documentation> En liste med journalpost </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentTilgjengeligJournalpostListeRequest">
    <xsd:sequence>
      <xsd:element name="merkInnsynDokument" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>  Angir om konsument ønsker at operasjonen skal kontrollere om bruker kan åpne dokumentene som operasjonen returnerer metadata for, resultatet av denne sjekken angis i output "InnsynDokument". Sjekken er basert på "et øyeblikksbilde", og konsumenten kan få et annet resultat ved kall til HentDokument hvis informasjon endrer seg i mellomtiden. Egen operasjon for å hente fysisk dokument. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="sakListe" type="informasjon:Sak">
        <xsd:annotation>
          <xsd:documentation> En liste med saker en vil ha tilgjengelige journalposter for. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentifiserJournalpostRequest">
    <xsd:sequence>
      <xsd:element name="kanalReferanseId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Kanalreferanse for journalposten </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottakskanal" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> Mottakskanal for journalposten </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentifiserJournalpostResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalpostId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation> journalpostId </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hoveddokument" type="informasjon:Dokument">
        <xsd:annotation>
          <xsd:documentation> Hoveddokument</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VedleggListe" type="informasjon:Dokument">
        <xsd:annotation>
          <xsd:documentation>Liste med vedlegg </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
</xsd:complexType>

</xsd:schema>