gsak-oppgave-tjenestespesifikasjon/src/main/wsdl/ruting/no/nav/virksomhet/tjenester/ruting/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/virksomhet/tjenester/ruting/meldinger/v1" version="1.1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/ruting/meldinger/v1">
  <xsd:complexType name="EnhetUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForOppgavetypeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="enhetListe" type="meldinger:Enhet"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FinnAnsvarligEnhetForOppgavetypeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForSakResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enhetNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kontornavn til NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orgNivaKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode for organisasjonsnivå for NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomradeKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over fagområder tilknyttet NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="underkategoriKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over underkategorier tilknyttet NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FinnAnsvarligEnhetForSakUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Brukersok">
    <xsd:sequence>
      <xsd:element name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer som identifiserer aktuell bruker lokal NAV-kontor tilhørighet skal utledes fra&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområde saken er knyttet til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForOppgavetypeRequest">
    <xsd:sequence>
      <xsd:element name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer til bruker som tilhørighet til det lokale NAV-enhet skal utledes fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sakens fagområde som tilhørighet til det lokale NAV-enhet skal utledes fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oppgaveKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="skjemaKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gjelderKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;ny rutingsregel kriteria. Det skal være å finne ansvarlig enhet på underkategori verdi&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="alleEnheter" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;for å få bare en enhet eller alle matchende enheter&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Enhet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enhetNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kontornavn til NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="orgNivaKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode for organisasjonsnivå for NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomradeKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med sakens fagområde som tilhørighet til det lokale NAV-enhet skal utledes fra.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="underkategoriKodeListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over underkategorier tilknyttet NAV enhet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:EnhetUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForSakUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForOppgavetypeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinnAnsvarligEnhetForSakRequest">
    <xsd:sequence>
      <xsd:element name="brukersok" type="meldinger:Brukersok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Finn ansvarlig enhet for sak basert på bruker og fagområde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>