behandle-moetev1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandleMoete/v1/behandleMoete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleMoete" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleMoete/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleMoete/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleMoete/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleMoete/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleMoete/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleMoete/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleMoete/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="lagreMoeterespons">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreMoeteresponsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMoeteresponsResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMoeteresponssikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="lagreMoeterespons_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:lagreMoeteresponssikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreMoeteresponsResponse">
    <wsdl:part name="parameters" element="tns:lagreMoeteresponsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreMoeteresponsRequest">
    <wsdl:part name="parameters" element="tns:lagreMoeterespons">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleMoete_v1">
    <wsdl:operation name="lagreMoeterespons">
      <wsdl:input message="tns:lagreMoeteresponsRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreMoeteresponsResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:lagreMoeterespons_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
