nav-fim-utbetaling-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/utbetaling/v1/utbetaling.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="utbetaling" targetNamespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:tns="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/utbetaling/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/utbetaling/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/utbetaling/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentUtbetalingsinformasjonRequest" type="meldinger:HentUtbetalingsinformasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="hentUtbetalingsinformasjonResponse" type="meldinger:HentUtbetalingsinformasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentUtbetalingsinformasjonperiodeIkkeGyldig" type="feil:PeriodeIkkeGyldig"/>
      <xsd:element name="hentUtbetalingsinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentUtbetalingsinformasjonikkeTilgang" type="feil:IkkeTilgang"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonRequest">
    <wsdl:part element="tns:hentUtbetalingsinformasjon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonResponse">
    <wsdl:part element="tns:hentUtbetalingsinformasjonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonPeriodeIkkeGyldig">
    <wsdl:part element="tns:hentUtbetalingsinformasjonperiodeIkkeGyldig" name="periodeIkkeGyldig"/>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonPersonIkkeFunnet">
    <wsdl:part element="tns:hentUtbetalingsinformasjonpersonIkkeFunnet" name="personIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentUtbetalingsinformasjonIkkeTilgang">
    <wsdl:part element="tns:hentUtbetalingsinformasjonikkeTilgang" name="ikkeTilgang"/>
  </wsdl:message>
  <wsdl:portType name="Utbetaling_v1">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentUtbetalingsinformasjon">
      <wsdl:documentation>Henter utbetalingsinformasjon fra utbetalingskomponenten. Denne henter sine data fra UR og Abetal.

Utbetalinger kan enten hentes på rettighetshaver eller utbetalingsmottaker. 
Dette vil i de fleste tilfeller være samme person, men kan avvik ved feks barnepensjon, verge, institusjonsopphold eller sykepenger.

Utbetalinger kan enten hentes ut i fra utbetalingsperiode eller ytelsesperiode. Maksimalt kan utbetalinger hentes for inneværende år + 3 år tilbake i tid </wsdl:documentation>
      <wsdl:input message="tns:hentUtbetalingsinformasjonRequest"/>
      <wsdl:output message="tns:hentUtbetalingsinformasjonResponse"/>
      <wsdl:fault message="tns:hentUtbetalingsinformasjonPeriodeIkkeGyldig" name="hentUtbetalingsinformasjonFault"/>
      <wsdl:fault message="tns:hentUtbetalingsinformasjonPersonIkkeFunnet" name="hentUtbetalingsinformasjonFault1"/>
      <wsdl:fault message="tns:hentUtbetalingsinformasjonIkkeTilgang" name="hentUtbetalingsinformasjonFault2"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>