nav-fim-sakOgBehandling-v1-tjenestespesifikasjon/src/main/wsdl/SakOgBehandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SakOgBehandling" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/sakOgBehandling/v1/meldinger" schemaLocation="no/nav/tjeneste/virksomhet/sakOgBehandling/v1/meldinger/meldinger.xsd"/>
			<xs:element name="hentSakListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="request" type="meldinger:HentSakListeRequest" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentSakListeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="meldinger:HentSakListeResponse" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hentSakListeRequest">
		<wsdl:part name="parameters" element="tns:hentSakListe"/>
	</wsdl:message>
	<wsdl:message name="hentSakListeResponse">
		<wsdl:part name="parameters" element="tns:hentSakListeResponse"/>
	</wsdl:message>
	<wsdl:portType name="SakOgBehandlingPortType">
		<wsdl:operation name="hentSakListe">
			<wsdl:input name="hentSakListeRequest" message="tns:hentSakListeRequest"/>
			<wsdl:output name="hentSakListeResponse" message="tns:hentSakListeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SakOgBehandlingBinding" type="tns:SakOgBehandlingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hentSakListe">
			<soap:operation style="document"/>
			<wsdl:input name="hentSakListeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="hentSakListeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SakOgBehandling">
		<wsdl:port name="SakOgBehandling" binding="tns:SakOgBehandlingBinding">
			<soap:address location="www.exampleLocation.com/Port1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
