pensjon-sak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/pensjonSak/v1/PensjonSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PensjonSak" targetNamespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/pensjonSak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/pensjonSak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentSakSammendragListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakSammendragListeRequest" type="meldinger:HentSakSammendragListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSakSammendragListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="hentSakSammendragListeResponse" type="meldinger:HentSakSammendragListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSakSammendragListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentSakSammendragListesakManglerEierenhet" type="feil:SakManglerEierenhet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonsinfoListeBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonsinfoListeBolkRequest" type="meldinger:HentPensjonsinfoListeBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonsinfoListeBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="hentPensjonsinfoListeBolkResponse" type="meldinger:HentPensjonsinfoListeBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentSakSammendragListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentSakSammendragListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPensjonsinfoListeBolkRequest">
    <wsdl:part name="parameters" element="tns:hentPensjonsinfoListeBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSakSammendragListeRequest">
    <wsdl:part name="parameters" element="tns:hentSakSammendragListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPensjonsinfoListeBolkResponse">
    <wsdl:part name="parameters" element="tns:hentPensjonsinfoListeBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSakSammendragListe_sakManglerEierenhet">
    <wsdl:part name="sakManglerEierenhet" element="tns:hentSakSammendragListesakManglerEierenhet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSakSammendragListeResponse">
    <wsdl:part name="parameters" element="tns:hentSakSammendragListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PensjonSak_v1">
    <wsdl:operation name="hentSakSammendragListe">
      <wsdl:input message="tns:hentSakSammendragListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSakSammendragListeResponse">
    </wsdl:output>
      <wsdl:fault name="sakManglerEierenhet" message="tns:hentSakSammendragListe_sakManglerEierenhet">
    </wsdl:fault>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentSakSammendragListe_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentPensjonsinfoListeBolk">
      <wsdl:input message="tns:hentPensjonsinfoListeBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPensjonsinfoListeBolkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
