brukerprofil-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/brukerprofil/v2/brukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="brukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerprofil/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentKontaktinformasjonOgPreferanser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentKontaktinformasjonOgPreferanserRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontaktinformasjonOgPreferanserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentKontaktinformasjonOgPreferanserResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserRequest">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserResponse">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentKontaktinformasjonOgPreferansersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanser_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentKontaktinformasjonOgPreferanserpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Brukerprofil_v2">
    <wsdl:operation name="hentKontaktinformasjonOgPreferanser">
      <wsdl:input message="tns:hentKontaktinformasjonOgPreferanserRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentKontaktinformasjonOgPreferanser_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
