nav-behandleMedlemskap-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           targetNamespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon"
           xmlns:tns="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns1="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon/kodeverk">

    <xs:import namespace="http://nav.no/tjeneste/virksomhet/behandlemedlemskap/v2/informasjon/kodeverk" schemaLocation="kodeverk/kodeverk.xsd"/>

    <xs:complexType name="personidentifikator" abstract="true">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="aktoerId">
        <xs:simpleContent>
            <xs:extension base="tns:personidentifikator"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="foedselsnummer">
        <xs:simpleContent>
            <xs:extension base="tns:personidentifikator"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="medlemsperiode">
        <xs:sequence>
            <xs:element name="fraOgMed" type="xs:date"/>
            <xs:element name="tilOgMed" type="xs:date"/>
            <xs:element name="datoRegistrert" type="xs:date"/>
            <xs:element name="status" type="ns1:statuskode"/>
            <xs:element name="statusaarsak" type="ns1:statusaarsak" minOccurs="0"/>
            <xs:element name="trygdedekning" type="ns1:trygdedekning"/>
            <xs:element name="land" type="ns1:landkode"/>
            <xs:element name="lovvalg" type="ns1:lovvalg"/>
            <xs:element name="kildedokumenttype" type="ns1:kildedokumenttype" minOccurs="0"/>
            <xs:element name="grunnlagstype" type="ns1:grunnlagstype"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

