dkif-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/digitalKontaktinformasjon/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/informasjon" xmlns:metadata="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/metadata">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/digitalKontaktinformasjon/v1/metadata" schemaLocation="../metadata/metadata.xsd"/>
  <xsd:complexType name="KontaktinformasjonIkkeFunnetForBolk">
    <xsd:annotation>
      <xsd:documentation>Kontaktinformasjon er ikke blitt registrert på ident</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:ForretningsmessigUnntakForBolk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kontaktinformasjon">
    <xsd:annotation>
      <xsd:documentation>Kontaktinformasjon er Adresse informasjon knyttet til en person for å kommunisere med person</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Personidentifikator er er enten et fødselsnummer et gyldig D-nummer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reservasjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Reservasjon avgitt av Innbygger, brukt i henhold til eForvaltningsforskriften Â§ 15 a.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="epostadresse" type="informasjon:Epostadresse">
        <xsd:annotation>
          <xsd:documentation>Informasjon om en Person sitt Epostadresse registrert i kontakt og reservasjonsregisteret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mobiltelefonnummer" type="informasjon:Mobiltelefonnummer">
        <xsd:annotation>
          <xsd:documentation>Informasjon om en Person sitt Mobiltelefonnummer registrert i kontakt og reservasjonsregisteret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Epostadresse">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en person sitt Epostadresse registrert i kontakt og reservasjonsregisteret</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attributeGroup ref="metadata:SistVerifisert">
          <xsd:annotation>
            <xsd:documentation>Feltet definerer når objektet sist ble verifisert/bekreftet. F.eks for mobiltelefonnummer betyr dette at en SMS er sendt til mobilnummeret og smsen er bekreftet mottatt av Person.</xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="metadata:SistOppdatert">
          <xsd:annotation>
            <xsd:documentation>Dato for når et objekt sist ble endret</xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DigitalPostkasse">
    <xsd:annotation>
      <xsd:documentation>DigitalPostkasse er Innbygger sin adresse til Postkassen. Det inneholder nok informasjon til å adresse post til Innbygger sin postkasse.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="leverandoerAdresse" type="informasjon:Organisasjonsnummer">
        <xsd:annotation>
          <xsd:documentation>Dette er en unik adresse for en leverandør, enten en Postkasseleverandør eller Utskrifts og forsendelsestjeneeste leverandør. Adressen brukt for adressering er Organisasjonsnummeret for leverandører.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="brukerAdresse" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Dette er en unik adresse for en Person sin Postkasseadresse hos en Postkasseleverandør. Enten digipost eller eboks.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SikkerDigitalKontaktinformasjon">
    <xsd:annotation>
      <xsd:documentation>SikkerDigitalKontaktinformasjon er Adresse informasjon knyttet til en personident for å kommunisere med person, og inkluderer Digital postkasseinformasjon og printsertifikat</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="digitalKontaktinformasjon" type="informasjon:Kontaktinformasjon">
        <xsd:annotation>
          <xsd:documentation>Den digitale kontaktinformasjonen for angitt personident</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sikkerDigitalPostkasse" type="informasjon:DigitalPostkasse">
        <xsd:annotation>
          <xsd:documentation>DigitalPostkasse er Innbygger sin adresse til Postkassen. Det inneholder nok informasjon til å adresse post til Innbygger sin postkasse.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sertifikat" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Sertifikat gir informasjon om Person sitt sertifikat som skal brukes i forbindelse med kryptering av Sikker Digital Post </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:annotation>
      <xsd:documentation>Organisasjonsnummeret for leverandører, enten Postkasseleverandør eller Utskrifts og forsendelsestjeneeste leverandør.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="PersonIkkeFunnetForBolk">
    <xsd:annotation>
      <xsd:documentation>Personident blir ikke funnet i registeret</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:ForretningsmessigUnntakForBolk"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ForretningsmessigUnntakForBolk">
    <xsd:sequence>
      <xsd:element name="personident" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>Personident knyttet til feilmeldingen/Forretningsmessig unntak</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilkilde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kilden der feilet oppsto: applikasjonsnavn, tjenestenavn, operasjonsnavn</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilaarsak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Årsaken til feilet oppstå: System/applikasjons id (hvis tilgjenglig), exception navn, melding</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilmelding" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Beskrivende feilmelding returnert fra kilden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tidspunkt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Dato og tidspunkt feilet oppsto</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Mobiltelefonnummer">
    <xsd:annotation>
      <xsd:documentation>Informasjon om en person sitt Mobiltelefonnummer registrert i kontakt og reservasjonsregisteret</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attributeGroup ref="metadata:SistVerifisert">
          <xsd:annotation>
            <xsd:documentation>Feltet definerer når objektet sist ble verifisert/bekreftet. F.eks for mobiltelefonnummer betyr dette at en SMS er sendt til mobilnummeret og smsen er bekreftet mottatt av Person.</xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="metadata:SistOppdatert">
          <xsd:annotation>
            <xsd:documentation>Dato for når et objekt sist ble endret</xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>