ytelseskontrakt-v3-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/ytelseskontrakt/v3/ytelseskontrakt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ytelseskontrakt" targetNamespace="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/ytelseskontrakt/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentYtelseskontraktListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentYtelseskontraktListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentYtelseskontraktListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentYtelseskontraktListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentYtelseskontraktListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentYtelseskontraktListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentYtelseskontraktListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentYtelseskontraktListeRequest">
    <wsdl:part name="parameters" element="tns:hentYtelseskontraktListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentYtelseskontraktListeResponse">
    <wsdl:part name="parameters" element="tns:hentYtelseskontraktListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Ytelseskontrakt_v3">
    <wsdl:operation name="hentYtelseskontraktListe">
      <wsdl:input message="tns:hentYtelseskontraktListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentYtelseskontraktListeResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentYtelseskontraktListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
