sykmelderstatistikk-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/sykmelderstatistikk/v1/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/informasjon" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/sykmelderstatistikk/v1/informasjon">
  <xsd:complexType name="GraderteSykmeldinger">
    <xsd:sequence>
      <xsd:element name="antall" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall egne graderte sykmeldinger for oppgitt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:MaanedbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Perioden som definerer grunnlaget for verdiene oppgitt av egne graderte sykmeldinger&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Periode"/>
  <xsd:complexType name="Tabell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="visningsgruppe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tabelltittel eller statistikknavn for resultatet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="radListe" type="informasjon:Rad">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Statistikk representert gjennom en liste med rader, hvorav hvert rad kan ha mange kolonneverdi&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erMaskert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Elementet definerer om informasjonen i tabellen er maskert grunnet sensitivitet -og/eller konfidensialitetsregler.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kolonneverdi">
    <xsd:sequence>
      <xsd:element name="verdi" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;returverdien for datapunktet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Type på verdien, kan være string, int osv..&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="MaanedbasertPeriode">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Periode">
        <xsd:sequence>
          <xsd:element name="periodeId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifikator for månedsbasert perioden&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
        <xsd:attribute name="termnavn" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Navn på kodeverdien&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Historikktabell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="visningsgruppe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Definerer hvilken visningsgruppe tabellen tilhører, kan her være kjønn, diagnose osv.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="radListe" type="informasjon:RadForHistorikkdata">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;en liste av rader itabellen. For historikkdata betyr dette 2 rader som hvor en rad representerer statistikkdataen og en rad representerer perioden for for gitt datapunkt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erMaskert" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Elementet definerer om informasjonen i tabellen er maskert grunnet sensitivitet -og/eller konfidensialitetsregler.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rad">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Type som klassifiserer raden i skjermbildet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="id" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id tilhørende raden i tabellen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kolonneverdiListe" type="informasjon:Kolonneverdi">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;en liste med kolonneverider&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="underkategoriRadListe" type="informasjon:Rad">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Undergruppe av rader- hierarkisk radstruktur&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Spredning">
    <xsd:sequence>
      <xsd:element name="intervall" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Spredningsintervall for histogram data, for eksempel 0-10%&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="verdi" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datapunkt for gitt intervall&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dimensjon">
    <xsd:sequence>
      <xsd:element name="navn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på en statistikkdimensjon i Datavarehus&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="verdiListe" type="informasjon:Dimensjonsverdi">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med dimensjonsverdier i gjeldende statistikkdimensjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="dimensjonRef" type="xsd:anyURI">
      <xsd:annotation>
        <xsd:documentation>&lt;p&gt;URI Referanse til dimensjonen i datavarehus&lt;/p&gt;</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Dimensjonsverdi">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gyldighetsperiode" type="informasjon:Gyldighetsperiode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir et tidssinterval for gyldighet dimensjonsverdien.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="underDimensjonListe" type="informasjon:Dimensjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En dimensjon kan ha underdimensjoner/underkategorier. For eksempel et fylke kan ha mange kommuner osv.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="verdiId" type="informasjon:Identifikator">
      <xsd:annotation>
        <xsd:documentation>&lt;p&gt;Identifikator for dimensjonsverdien&lt;/p&gt;</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="navn" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>&lt;p&gt;Navnet til dimensjonsverdien&lt;/p&gt;</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="RadForHistorikkdata">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kan være verdier fra egen praksis, området som er valgt, eller nasjonal data&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kolonneverdiListe" type="informasjon:Kolonneverdi">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Statistikkverdi for tilhøerende periodeverdi&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PeriodeIdListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;PeriodeIdListen representerer periodeId en gitt statistikkverdi har knyttet til deg og settes fra dato oppgitt i periodefelt ved input og bakover i tid.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KvartalbasertPeriode">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Periode">
        <xsd:sequence>
          <xsd:element name="periodeId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Identifikator for kvartalbasert perioden&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gyldighetsperiode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra og med dato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til og med dato&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverk">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute name="kodeverksRef" type="xsd:anyURI"/>
        <xsd:attribute name="navn" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>&lt;p&gt;Navnet på kodeverket&lt;/p&gt;</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sykefravaerstilfeller">
    <xsd:sequence>
      <xsd:element name="antall" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall egne graderte sykmeldinger for oppgitt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periode" type="informasjon:KvartalbasertPeriode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Perioden som definerer grunnlaget for verdiene oppgitt av egne graderte sykmeldinger&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>