nav-arbeidsforhold-v3-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/arbeidsforhold/v3/arbeidsforhold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="arbeidsforhold" targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3" xmlns:feil="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/arbeidsforhold/v3/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnArbeidsforholdPrArbeidsgiver">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidsforholdPrArbeidsgiverRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsforholdPrArbeidsgiverResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidsforholdPrArbeidsgiverResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsforholdPrArbeidsgiverugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnArbeidsforholdPrArbeidsgiverforMangeForekomster" type="feil:ForMangeForekomster"/>
      <xsd:element name="finnArbeidsforholdPrArbeidsgiversikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnArbeidsforholdPrArbeidstaker">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidsforholdPrArbeidstakerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsforholdPrArbeidstakerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidsforholdPrArbeidstakerResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidsforholdPrArbeidstakerugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnArbeidsforholdPrArbeidstakersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentArbeidsforholdHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:HentArbeidsforholdHistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentArbeidsforholdHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:HentArbeidsforholdHistorikkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentArbeidsforholdHistorikkarbeidsforholdIkkeFunnet" type="feil:ArbeidsforholdIkkeFunnet"/>
      <xsd:element name="hentArbeidsforholdHistorikksikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidstakerePrArbeidsgiver">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidstakerePrArbeidsgiverRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidstakerePrArbeidsgiverResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parameters" type="meldinger:FinnArbeidstakerePrArbeidsgiverResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnArbeidstakerePrArbeidsgiverugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="finnArbeidstakerePrArbeidsgiversikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnArbeidsforholdPrArbeidstaker_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnArbeidsforholdPrArbeidstakerugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidstakerePrArbeidsgiverRequest">
    <wsdl:part name="parameters" element="tns:finnArbeidstakerePrArbeidsgiver">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidstakerResponse">
    <wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidstakerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentArbeidsforholdHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentArbeidsforholdHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidsgiver_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnArbeidsforholdPrArbeidsgiversikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidstakerePrArbeidsgiverResponse">
    <wsdl:part name="parameters" element="tns:finnArbeidstakerePrArbeidsgiverResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidstakerRequest">
    <wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidstaker">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentArbeidsforholdHistorikk_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentArbeidsforholdHistorikksikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentArbeidsforholdHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentArbeidsforholdHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidsgiverRequest">
    <wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidsgiver">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidsgiver_forMangeForekomster">
    <wsdl:part name="forMangeForekomster" element="tns:finnArbeidsforholdPrArbeidsgiverforMangeForekomster">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidstaker_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnArbeidsforholdPrArbeidstakersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidstakerePrArbeidsgiver_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnArbeidstakerePrArbeidsgiversikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidsgiverResponse">
    <wsdl:part name="parameters" element="tns:finnArbeidsforholdPrArbeidsgiverResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidstakerePrArbeidsgiver_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnArbeidstakerePrArbeidsgiverugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentArbeidsforholdHistorikk_arbeidsforholdIkkeFunnet">
    <wsdl:part name="arbeidsforholdIkkeFunnet" element="tns:hentArbeidsforholdHistorikkarbeidsforholdIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnArbeidsforholdPrArbeidsgiver_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:finnArbeidsforholdPrArbeidsgiverugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Arbeidsforhold_v3">
    <wsdl:operation name="finnArbeidsforholdPrArbeidsgiver">
      <wsdl:input message="tns:finnArbeidsforholdPrArbeidsgiverRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnArbeidsforholdPrArbeidsgiverResponse">
    </wsdl:output>
      <wsdl:fault name="forMangeForekomster" message="tns:finnArbeidsforholdPrArbeidsgiver_forMangeForekomster">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnArbeidsforholdPrArbeidsgiver_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnArbeidsforholdPrArbeidsgiver_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnArbeidsforholdPrArbeidstaker">
      <wsdl:input message="tns:finnArbeidsforholdPrArbeidstakerRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnArbeidsforholdPrArbeidstakerResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnArbeidsforholdPrArbeidstaker_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnArbeidsforholdPrArbeidstaker_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentArbeidsforholdHistorikk">
      <wsdl:input message="tns:hentArbeidsforholdHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentArbeidsforholdHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="arbeidsforholdIkkeFunnet" message="tns:hentArbeidsforholdHistorikk_arbeidsforholdIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentArbeidsforholdHistorikk_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finnArbeidstakerePrArbeidsgiver">
      <wsdl:input message="tns:finnArbeidstakerePrArbeidsgiverRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnArbeidstakerePrArbeidsgiverResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnArbeidstakerePrArbeidsgiver_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:finnArbeidstakerePrArbeidsgiver_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
