diskresjonskodev1-tjenestespesifikasjon/src/main/wsdl/Diskresjonskode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Diskresjonskode" targetNamespace="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/pip/diskresjonskode/" xmlns:meldinger="http://nav.no/tjeneste/pip/diskresjonskode/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/pip/diskresjonskode/meldinger" schemaLocation="no/nav/tjeneste/pip/diskresjonskode/meldinger/meldinger.xsd"/>
      <xsd:element name="hentDiskresjonskode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDiskresjonskodeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiskresjonskodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="meldinger:HentDiskresjonskodeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiskresjonskodeBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentDiskresjonskodeBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentDiskresjonskodeBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="meldinger:HentDiskresjonskodeBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentDiskresjonskodeRequest">
    <wsdl:part name="parameters" element="tns:hentDiskresjonskode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiskresjonskodeResponse">
    <wsdl:part name="parameters" element="tns:hentDiskresjonskodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiskresjonskodeBolkRequest">
    <wsdl:part name="parameters" element="tns:hentDiskresjonskodeBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentDiskresjonskodeBolkResponse">
    <wsdl:part name="parameters" element="tns:hentDiskresjonskodeBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DiskresjonskodePortType">
    <wsdl:operation name="hentDiskresjonskode">
      <wsdl:input message="tns:hentDiskresjonskodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDiskresjonskodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentDiskresjonskodeBolk">
      <wsdl:input message="tns:hentDiskresjonskodeBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentDiskresjonskodeBolkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiskresjonskodeBinding" type="tns:DiskresjonskodePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentDiskresjonskode">
      <soap:operation soapAction="http://nav.no/tjeneste/pip/diskresjonskode/DiskresjonskodePortType/hentDiskresjonskodeRequest" style="document"/>
      <wsdl:input name="hentDiskresjonskodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentDiskresjonskodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentDiskresjonskodeBolk">
      <soap:operation soapAction="http://nav.no/tjeneste/pip/diskresjonskode/DiskresjonskodePortType/hentDiskresjonskodeBolkRequest" style="document"/>
      <wsdl:input name="hentDiskresjonskodeBolkRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentDiskresjonskodeBolkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Diskresjonskode">
    <wsdl:port name="Diskresjonskode" binding="tns:DiskresjonskodeBinding">
      <soap:address location="http://localhost:9080"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
