arena-sakogaktivitet_v1/src/main/wsdl/no/nav/tjeneste/virksomhet/sakOgAktivitet/v1/sakogaktivitet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sakOgAktivitet" targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/sakOgAktivitet/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnAktivitetsinformasjonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnAktivitetsinformasjonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAktivitetsinformasjonListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnAktivitetsinformasjonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnAktivitetsinformasjonListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAktivitetsinformasjonListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="finnAktivitetOgVedtakDagligReiseListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnAktivitetOgVedtakDagligReiseListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAktivitetOgVedtakDagligReiseListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="finnAktivitetOgVedtakDagligReiseListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnAktivitetOgVedtakDagligReiseListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnAktivitetOgVedtakDagligReiseListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetsinformasjonListeResponse">
    <wsdl:part name="parameters" element="tns:finnAktivitetsinformasjonListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetsinformasjonListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnAktivitetsinformasjonListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetOgVedtakDagligReiseListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:finnAktivitetOgVedtakDagligReiseListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetOgVedtakDagligReiseListeResponse">
    <wsdl:part name="parameters" element="tns:finnAktivitetOgVedtakDagligReiseListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetOgVedtakDagligReiseListeRequest">
    <wsdl:part name="parameters" element="tns:finnAktivitetOgVedtakDagligReiseListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetOgVedtakDagligReiseListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnAktivitetOgVedtakDagligReiseListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetsinformasjonListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:finnAktivitetsinformasjonListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnAktivitetsinformasjonListeRequest">
    <wsdl:part name="parameters" element="tns:finnAktivitetsinformasjonListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sakOgAktivitet_v1">
    <wsdl:operation name="finnAktivitetsinformasjonListe">
      <wsdl:input message="tns:finnAktivitetsinformasjonListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnAktivitetsinformasjonListeResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnAktivitetsinformasjonListe_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnAktivitetsinformasjonListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnAktivitetOgVedtakDagligReiseListe">
      <wsdl:input message="tns:finnAktivitetOgVedtakDagligReiseListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnAktivitetOgVedtakDagligReiseListeResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:finnAktivitetOgVedtakDagligReiseListe_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:finnAktivitetOgVedtakDagligReiseListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
