nav-behandledagpengeoppgave-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/BehandleDagpengeoppgaveV1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="BehandleDagpengeoppgaveV1" 
    targetNamespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1">
    <wsdl:types>
        <schema targetNamespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1" 
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:feil="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/feil" 
            xmlns:meld="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/meldinger">
            <import schemaLocation="feil/feil.xsd" namespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/feil"></import>
            <import schemaLocation="meldinger/meldinger.xsd" namespace="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/meldinger"></import>
            <element name="ping">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="pingResponse">
                <complexType>
                    <sequence>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettNesteOppgave">
                <complexType>
                    <sequence>
                        <element name="request" type="meld:OpprettNesteOppgaveRequest"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettNesteOppgaveResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="meld:OpprettNesteOppgaveResponse" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettNesteOppgaveSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"></element>
            <element name="opprettNesteOppgaveUgyldigInput" type="feil:UgyldigInput"></element>
            <element name="opprettNesteOppgaveOpprettOppgaveIkkeMulig" type="feil:OpprettOppgaveIkkeMulig"></element>
            <element name="opprettOppgave">
                <complexType>
                    <sequence>
                        <element name="request" type="meld:OpprettOppgaveRequest"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettOppgaveResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="meld:OpprettOppgaveResponse" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="opprettOppgaveSikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"></element>
            <element name="opprettOppgaveUgyldigInput" type="feil:UgyldigInput"></element>
            <element name="opprettOppgaveOpprettOppgaveIkkeMulig" type="feil:OpprettOppgaveIkkeMulig"></element>
        </schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters" />
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="opprettNesteOppgaveRequest">
        <wsdl:part name="parameters" element="tns:opprettNesteOppgave"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettNesteOppgaveResponse">
        <wsdl:part name="parameters" element="tns:opprettNesteOppgaveResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettNesteOppgaveUgyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:opprettNesteOppgaveUgyldigInput"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettNesteOppgaveSikkerhetsbegrensning">
        <wsdl:part name="sikkerhetsbegrensning" element="tns:opprettNesteOppgaveSikkerhetsbegrensning"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettNesteOppgaveOpprettOppgaveIkkeMulig">
        <wsdl:part name="opprettOppgaveIkkeMulig" element="tns:opprettNesteOppgaveOpprettOppgaveIkkeMulig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettOppgaveRequest">
        <wsdl:part name="parameters" element="tns:opprettOppgave"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettOppgaveResponse">
        <wsdl:part name="parameters" element="tns:opprettOppgaveResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettOppgaveUgyldigInput">
        <wsdl:part name="ugyldigInput" element="tns:opprettOppgaveUgyldigInput"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettOppgaveSikkerhetsbegrensning">
        <wsdl:part name="sikkerhetsbegrensning" element="tns:opprettOppgaveSikkerhetsbegrensning"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="opprettOppgaveOpprettOppgaveIkkeMulig">
        <wsdl:part name="opprettOppgaveIkkeMulig" element="tns:opprettOppgaveOpprettOppgaveIkkeMulig"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BehandleDagpengeoppgave_v1">
        <wsdl:operation name="ping">
            <wsdl:input message="tns:pingRequest" name="ping"/>
            <wsdl:output message="tns:pingResponse" name="pingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="opprettNesteOppgave">
            <wsdl:input message="tns:opprettNesteOppgaveRequest" name="opprettNesteOppgave"></wsdl:input>
            <wsdl:output message="tns:opprettNesteOppgaveResponse" name="opprettNesteOppgaveResponse"></wsdl:output>
            <wsdl:fault name="ugyldigInput" message="tns:opprettNesteOppgaveUgyldigInput"></wsdl:fault>
            <wsdl:fault name="sikkerhetsbegrensning" message="tns:opprettNesteOppgaveSikkerhetsbegrensning"></wsdl:fault>
            <wsdl:fault name="opprettOppgaveIkkeMulig" message="tns:opprettNesteOppgaveOpprettOppgaveIkkeMulig"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="opprettOppgave">
            <wsdl:input message="tns:opprettOppgaveRequest" name="opprettOppgave"></wsdl:input>
            <wsdl:output message="tns:opprettOppgaveResponse" name="opprettOppgaveResponse"></wsdl:output>
            <wsdl:fault name="ugyldigInput" message="tns:opprettOppgaveUgyldigInput"></wsdl:fault>
            <wsdl:fault name="sikkerhetsbegrensning" message="tns:opprettOppgaveSikkerhetsbegrensning"></wsdl:fault>
            <wsdl:fault name="opprettOppgaveIkkeMulig" message="tns:opprettOppgaveOpprettOppgaveIkkeMulig"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BehandleDagpengeoppgave_v1Binding" type="tns:BehandleDagpengeoppgave_v1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ping">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/ping"/>
            <wsdl:input name="ping">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opprettNesteOppgave">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/opprettNesteOppgave"/>
            <wsdl:input name="opprettNesteOppgave">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="opprettNesteOppgaveResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="sikkerhetsbegrensning">
                <soap:fault use="literal" name="sikkerhetsbegrensning" />
            </wsdl:fault>
            <wsdl:fault name="ugyldigInput">
                <soap:fault use="literal" name="ugyldigInput" />
            </wsdl:fault>
            <wsdl:fault name="opprettOppgaveIkkeMulig">
                <soap:fault use="literal" name="opprettOppgaveIkkeMulig" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="opprettOppgave">
            <soap:operation soapAction="http://nav.no/tjeneste/domene/arbeidogaktivitet/behandleDagpengeoppgave/v1/opprettOppgave"/>
            <wsdl:input name="opprettOppgave">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="opprettOppgaveResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="sikkerhetsbegrensning">
                <soap:fault use="literal" name="sikkerhetsbegrensning" />
            </wsdl:fault>
            <wsdl:fault name="ugyldigInput">
                <soap:fault use="literal" name="ugyldigInput" />
            </wsdl:fault>
            <wsdl:fault name="opprettOppgaveIkkeMulig">
                <soap:fault use="literal" name="opprettOppgaveIkkeMulig" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BehandleDagpengeoppgave_v1">
        <wsdl:port binding="tns:BehandleDagpengeoppgave_v1Binding" name="BehandleDagpengeoppgave_v1Port">
            <soap:address location="https://arena.adeo.no/ail_ws/BehandleDagpengeoppgave_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
