organisasjon-ressurs-enhet-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/organisasjonRessursEnhet/v1/organisasjonRessursEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="organisasjonRessursEnhet" targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/organisasjonRessursEnhet/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentRessursIdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentRessursIdListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRessursIdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentRessursIdListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRessursIdListeenhetikkefunnet" type="feil:EnhetIkkeFunnet"/>
      <xsd:element name="hentRessursIdListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="hentEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentEnhetListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentEnhetListeressursIkkeFunnet" type="feil:RessursIkkeFunnet"/>
      <xsd:element name="hentEnhetListeugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentEnhetListe_ressursIkkeFunnet">
    <wsdl:part name="ressursIkkeFunnet" element="tns:hentEnhetListeressursIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursIdListeRequest">
    <wsdl:part name="parameters" element="tns:hentRessursIdListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursIdListe_enhetikkefunnet">
    <wsdl:part name="enhetikkefunnet" element="tns:hentRessursIdListeenhetikkefunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentEnhetListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListeRequest">
    <wsdl:part name="parameters" element="tns:hentEnhetListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentEnhetListeResponse">
    <wsdl:part name="parameters" element="tns:hentEnhetListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursIdListe_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:hentRessursIdListeugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRessursIdListeResponse">
    <wsdl:part name="parameters" element="tns:hentRessursIdListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganisasjonRessursEnhet_v1">
    <wsdl:operation name="hentRessursIdListe">
      <wsdl:input message="tns:hentRessursIdListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentRessursIdListeResponse">
    </wsdl:output>
      <wsdl:fault name="enhetikkefunnet" message="tns:hentRessursIdListe_enhetikkefunnet">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:hentRessursIdListe_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentEnhetListe">
      <wsdl:input message="tns:hentEnhetListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentEnhetListeResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigInput" message="tns:hentEnhetListe_ugyldigInput">
    </wsdl:fault>
      <wsdl:fault name="ressursIkkeFunnet" message="tns:hentEnhetListe_ressursIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
