arena-organisasjon-tjenestespesifikasjon/src/main/wsdl/no/nav/arena/services/lib/fault/FaultBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://arena.nav.no/services/lib/fault">
	<xsd:complexType name="FaultBase">
		<xsd:sequence>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorSource" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rootCause" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateTimeStamp" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
