medlemskap-v1/src/main/resources/medlemskap/wsdl/no/nav/tjeneste/virksomhet/medlemskap/v2/informasjon/informasjon.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" xmlns:tns="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk">

  <xs:import namespace="http://nav.no/tjeneste/virksomhet/medlemskap/v2/informasjon/kodeverk" schemaLocation="kodeverk/kodeverk.xsd"/>

  <xs:complexType name="personidentifikator" abstract="true">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="aktoerId">
    <xs:simpleContent>
      <xs:extension base="tns:personidentifikator"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="foedselsnummer">
    <xs:simpleContent>
      <xs:extension base="tns:personidentifikator"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="periode">
    <xs:sequence>
      <xs:element name="fraOgMed" type="xs:date"/>
      <xs:element name="tilOgMed" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="medlemsperiode">
    <xs:complexContent>
      <xs:extension base="tns:periode">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="1"/>
          <xs:element name="versjon" type="xs:int"/>
          <xs:element name="datoRegistrert" type="xs:date" minOccurs="0"/>
          <xs:element name="datoBesluttet" type="xs:date" minOccurs="0"/>
          <xs:element name="status" type="ns1:statuskodeMedTerm"/>
          <xs:element name="statusaarsak" type="ns1:statusaarsakMedTerm" minOccurs="0"/>
          <xs:element name="trygdedekning" type="ns1:trygdedekningMedTerm" minOccurs="0"/>
          <xs:element name="helsedel" type="xs:boolean"/>
          <xs:element name="type" type="ns1:periodetypeMedTerm"/>
          <xs:element name="land" type="ns1:landkodeMedTerm" minOccurs="0"/>
          <xs:element name="lovvalg" type="ns1:lovvalgMedTerm"/>
          <xs:element name="kilde" type="ns1:kildeMedTerm"/>
          <xs:element name="kildedokumenttype" type="ns1:kildedokumenttypeMedTerm" minOccurs="0"/>
          <xs:element name="grunnlagstype" type="ns1:grunnlagstypeMedTerm"/>
          <xs:element name="studieinformasjon" type="tns:studieinformasjon" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="tidspunktOpprinneligOpprettet" type="xs:dateTime" use="required"/>
        <xs:attribute name="opprinneligOpprettetAv" type="xs:string" use="required"/>
        <xs:attribute name="tidspunktSistEndret" type="xs:dateTime" use="required"/>
        <xs:attribute name="sistEndretAv" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="studieinformasjon">
    <xs:sequence>
      <xs:element name="statsborgerland" type="ns1:landkodeMedTerm"/>
      <xs:element name="studieland" type="ns1:landkodeMedTerm" minOccurs="0"/>
      <xs:element name="delstudie" type="xs:boolean"/>
      <xs:element name="godkjent" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

