pleiepenger-v1-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/pleiepenger/v1/pleiepenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pleiepenger" targetNamespace="http://nav.no/tjeneste/virksomhet/pleiepenger/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/pleiepenger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/pleiepenger/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/pleiepenger/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentPleiepengerettighet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPleiepengerettighetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPleiepengerettighetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPleiepengerettighetResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPleiepengerettighetsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="hentPleiepengerettighetugyldigIdentNr" type="feil:UgyldigIdentNr"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPleiepengerettighet_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentPleiepengerettighetsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPleiepengerettighet_ugyldigIdentNr">
    <wsdl:part name="ugyldigIdentNr" element="tns:hentPleiepengerettighetugyldigIdentNr">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPleiepengerettighetRequest">
    <wsdl:part name="parameters" element="tns:hentPleiepengerettighet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPleiepengerettighetResponse">
    <wsdl:part name="parameters" element="tns:hentPleiepengerettighetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Pleiepenger_v1">
    <wsdl:operation name="hentPleiepengerettighet">
      <wsdl:input message="tns:hentPleiepengerettighetRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPleiepengerettighetResponse">
    </wsdl:output>
      <wsdl:fault name="ugyldigIdentNr" message="tns:hentPleiepengerettighet_ugyldigIdentNr">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentPleiepengerettighet_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
