cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSHistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
    <xsd:include schemaLocation="ASBOGOSYSAnnenAdresseListe.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSBostedsAdresseListe.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSHistoriskFnrListe.xsd"/>
    <xsd:include schemaLocation="ASBOGOSYSNavnEndringListe.xsd"/>
    <xsd:complexType name="ASBOGOSYSHistorikk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="bostedsadresser" type="bons1:ASBOGOSYSBostedsAdresseListe"/>
      <xsd:element minOccurs="0" name="adresseLinjer" type="bons1:ASBOGOSYSAnnenAdresseListe"/>
      <xsd:element minOccurs="0" name="historiskeFnr" type="bons1:ASBOGOSYSHistoriskFnrListe"/>
      <xsd:element minOccurs="0" name="navnEndringer" type="bons1:ASBOGOSYSNavnEndringListe"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
