cons-sak-gosys-tjenestespesifikasjon/src/main/resources/cons-sak-gosys/wsdl/no/nav/asbo/person/ASBOGOSYSHentSamboerforholdRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/person">
  <xsd:complexType name="ASBOGOSYSHentSamboerforholdRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samboerDato" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
